.sf-metadata-edit-option-name .sf-metadata-edit-option-name-input {
  font-size: 13px;
  height: 30px;
  line-height: 20px;
  padding: 0 10px;
  color: var(--bs-body-color);
}

.sf-metadata-edit-option-name .sf-metadata-edit-option-name-value {
  border-radius: 10px;
  font-size: 13px;
  height: 20px;
  line-height: 20px;
  max-width: 400px;
  padding: 0 10px;
}
