.detail-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 2.5rem;
  border-bottom: 1px solid var(--bs-border-secondary-color);
  height: 48px;
  padding: 8px 16px;
}

.detail-header .detail-control-container {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-header .detail-control {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.detail-header .detail-control .detail-control-icon,
.detail-header .detail-control i {
  font-size: 16px;
  fill: var(--bs-icon-secondary-color);
  color: var(--bs-icon-secondary-color);
}

.detail-header .detail-control:hover {
  background-color: var(--bs-hover-bg);
  border-radius: 3px;
}

.detail-header .detail-control:hover i {
  fill: var(--bs-icon-hover-color);
}
