.sf-metadata-view-map {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sf-metadata-view-map #platform div:has(.custom-avatar-overlay) {
  display: block !important;
}

.sf-metadata-view-map #platform div:has(.custom-image-overlay) {
  display: block !important;
}

.sf-metadata-view-map .sf-metadata-map-container {
  width: 100%;
  height: 100%;
}

.sf-metadata-view-map .custom-image-overlay.google-custom-overlay {
  left: -40px;
  top: -80px;
}

.sf-metadata-view-map .custom-image-container {
  width: 86px;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bs-body-bg);
  padding: 3px;
  border-radius: 6px;
  position: relative;
  cursor: default;
}

.sf-metadata-view-map .custom-image-container img {
  border-radius: 6px;
}

.sf-metadata-view-map .custom-image-number {
  position: absolute;
  right: -16px;
  top: -16px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  background: #007bff;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.sf-metadata-view-map .custom-image-container:active::before,
.sf-metadata-view-map .custom-image-container:active .custom-image-number::before,
.sf-metadata-view-map .custom-image-number:active::before,
.sf-metadata-view-map .custom-image-number:active .custom-image-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}

.sf-metadata-view-map .custom-image-container:active .custom-image-number::before,
.sf-metadata-view-map .custom-image-number:active::before {
  border-radius: 50%;
}

.sf-metadata-view-map .custom-image-container::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  border-radius: 2px;
}

.sf-metadata-view-map .custom-image-container:active::after,
.sf-metadata-view-map .custom-image-number:active .custom-image-container::after {
  border-top: 10px solid rgba(0, 0, 0, 0.4);
}
