.sf-metadata-view-map {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sf-metadata-view-map .sf-metadata-map-container {
  width: 100%;
  height: 100%;
}

.sf-metadata-view-map .custom-image-container {
  width: 86px;
  height: 86px;
  background-color: #fff;
  padding: 3px;
  border-radius: 6px;
  position: relative;
  cursor: default;
}

.sf-metadata-view-map .custom-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.sf-metadata-view-map .custom-image-number {
  position: absolute;
  right: -16px;
  top: -16px;
  width: 32px;
  height: 32px;
  padding: 6px;
  background: #007bff;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.sf-metadata-view-map .custom-image-container:active::before,
.sf-metadata-view-map .custom-image-container:active .custom-image-number::before,
.sf-metadata-view-map .custom-image-number:active::before,
.sf-metadata-view-map .custom-image-number:active .custom-image-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}

.sf-metadata-view-map .custom-image-container:active .custom-image-number::before,
.sf-metadata-view-map .custom-image-number:active::before {
  border-radius: 50%;
}

.sf-metadata-view-map .custom-image-container::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  border-radius: 2px;
}

.sf-metadata-view-map .custom-image-container:active::after,
.sf-metadata-view-map .custom-image-number:active .custom-image-container::after {
  border-top: 10px solid rgba(0, 0, 0, 0.4);
}

.sf-metadata-view-map .sf-BMap-geolocation-control,
.sf-metadata-view-map .sf-BMap-zoom-control {
  background-color: #fff;
  opacity: 1;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: -2px -2px 4px 2px rgba(0, 0, 0, 0.1);
}

.sf-metadata-view-map .sf-BMap-geolocation-control-loading {
  opacity: 0.7;
}

.sf-metadata-view-map .sf-BMap-geolocation-control:hover,
.sf-metadata-view-map .sf-BMap-zoom-button:not(.disabled):hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.sf-metadata-view-map .sf-BMap-zoom-button {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #666;
  background-color: #fff;
  border: none;
  overflow: hidden;
  box-shadow: none;
}

.sf-metadata-view-map .sf-BMap-zoom-button .zoom-in-icon,
.sf-metadata-view-map .sf-BMap-zoom-button .zoom-out-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.sf-metadata-view-map .sf-BMap-zoom-button:not(:disabled):active:focus {
  box-shadow: none;
}

.sf-metadata-view-map .sf-BMap-zoom-button:hover {
  color: #212529;
}

.sf-metadata-view-map .sf-BMap-zoom-button:disabled {
  color: #ccc !important;
}
