.seafile-option-group {
  position: absolute;
  left: 0;
  min-height: 60px;
  max-height: 300px;
  min-width: 100%;
  max-width: 15rem;
  padding: 0.5rem 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: var(--bs-body-bg);
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px;
  z-index: 10001;
}

.seafile-option-group .seafile-option-group-search {
  width: 100%;
  padding: 0 10px 6px 10px;
  min-width: 170px;
}

.seafile-option-group-search .form-control {
  height: 31px;
}

.seafile-option-group .none-search-result {
  height: 100px;
  width: 100%;
  padding: 10px;
  color: #666666;
}

.seafile-option-group .seafile-option-group-content {
  max-height: 252px;
  overflow-y: auto;
}

.seafile-select-option {
  display: block;
  width: 100%;
  line-height: 24px;
  padding: 0.25rem 10px;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.seafile-select-option.seafile-select-option-active {
  background-color: #20a0ff;
  color: #fff;
  cursor: pointer;
}

.seafile-select-option .sf2-icon-tick {
  right: 10px;
  position: absolute;
}

.seafile-select-option.seafile-select-option-active .select-option-name {
  color: #fff;
}

.seafile-select-option:hover .header-icon .seafile-multicolor-icon,
.seafile-select-option.seafile-select-option-active .header-icon .seafile-multicolor-icon {
  fill: #fff;
}

.seafile-select-option:not(.seafile-select-option-active):hover .header-icon .seafile-multicolor-icon {
  fill: #aaa;
}

.seafile-select-option:not(.seafile-select-option-active):hover .header-icon .sf2-icon-tick {
  color: #aaa;
}

.seafile-select-option .select-option-name .single-select-option {
  margin: 0 0 0 12px;
}

.seafile-select-option .select-option-name .multiple-select-option {
  margin: 0;
}

.seafile-option-group-selector-single-select .select-option-name,
.seafile-option-group-selector-multiple-select .multiple-option-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.seafile-option-group-selector-multiple-select .multiple-check-icon {
  display: inline-flex;
  width: 20px;
  text-align: center;
}

.seafile-option-group-selector-multiple-select .multiple-check-icon .seafile-multicolor-icon-check-mark {
  font-size: 12px;
  color: #798d99;
}

.seafile-option-group-selector-single-select .seafile-select-option:hover,
.seafile-option-group-selector-single-select .seafile-select-option.seafile-select-option-active,
.seafile-option-group-selector-multiple-select .seafile-select-option:hover,
.seafile-option-group-selector-multiple-select .seafile-select-option.seafile-select-option-active {
  background-color: #f5f5f5;
}
