.sdoc-files-tree {
  flex: 1;
  padding: 8px 16px;
  width: 100%;
  height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.sdoc-files-tree .sdoc-file-info {
  border-radius: 2px;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  padding-left: 2.8rem;
  display: flex;
  flex-direction: column;
}

.sdoc-files-tree .sdoc-file-info:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

.sdoc-files-tree .sdoc-file-info .sdoc-file-icon-container {
  display: flex;
  align-items: center;
  width: 2.8rem;
  height: 100%;
  padding-left: 1.5rem;
  position: absolute;
  left: 0;
}

.sdoc-file-icon-container .whiteboard-file-img,
.sdoc-file-icon-container .video-file-img,
.sdoc-file-icon-container .sdoc-file-img {
  position: absolute;
  width: 21.6px;
  right: 1px;
}

.sdoc-files-tree .sdoc-file-info .sdoc-file-icon {
  color: #9aa0ac;
}

.sdoc-files-tree .sdoc-file-info.active {
  background-color: #f5f5f5;
}

.sdoc-files-tree .sdoc-file-icon-toggle {
  height: 1.5rem;
  width: 1.5rem;
  line-height: 1.5rem !important;
  font-size: 12px !important;
  transform: scale(.8);
  text-align: center;
  position: absolute;
  left: 0;
}

.sdoc-files-tree .sdoc-file-info.expanded .sdoc-file-icon-toggle {
  transform: rotate(90deg) scale(.8);
}

.sdoc-files-tree .sdoc-file-info .sdoc-file-name {
  font-size: 14px;
}

.sdoc-files-tree .sdoc-folder-children {
  padding-left: 20px;
}

.sdoc-files-tree .sdoc-folder-children-empty {
  color: #999;
  padding: 4px 20px;
}

.sdoc-files-tree .sdoc-file-info .sdoc-search-folder-name {
  font-size: 14px;
  color: #7d7d7d;
}

.sdoc-folder-container.sdoc-folder-search-results .sdoc-file-info {
  height: 59px;
  width: 486px;
  padding: 10px 50px;
  flex-direction: column;
  justify-content: center;
  border-radius: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sdoc-folder-container.sdoc-folder-search-results .sdoc-file-info .sdoc-file-icon-container .whiteboard-file-img,
.sdoc-folder-container.sdoc-folder-search-results .sdoc-file-info .sdoc-file-icon-container .sdoc-file-img {
  width: 36px;
  height: 36px;
}

.sdoc-folder-container.sdoc-folder-search-results .sdoc-file-name,
.sdoc-search-folder-name {
  height: 19.5px;
  display: flex;
  align-items: center;
}

.sdoc-files-tree .sdoc-file-search-no-result {
  display: flex;
  justify-content: center;
}

.sdoc-file-info .item-right-icon {
  display: flex;
  align-items: center;
  height: 100%;
}

.sdoc-file-info .item-right-icon {
  right: 8px;
  position: absolute;
}

.sdoc-file-info .item-right-icon svg {
  fill: #666;
}
