/* vim: set shiftwidth=2 tabstop=2 autoindent cindent expandtab filetype=css: */
/* Demo CSS for pdf2htmlEX */
/* Copyright 2012,2013 Lu Wang <coolwanglu@gmail.com> */
/* Part 1: Web Page Layout: Free to modify, except for a few of them which are required by pdf2htmlEX.js, see the comments */
#sidebar { /* Sidebar */
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  width:250px;
  padding:0;
  margin:0px;
  overflow:auto;
}
#page-container { /* PDF container */
    /*
  position:absolute;
  top:0;
  left:0px;
  */
  margin:0; 
  padding:0;
  border:0; /* required for lazy page loading in pdf2htmlEX.js (page visibility test) */
}
@media screen {
  /* for sidebar */
  #sidebar.opened + #page-container { margin-left:250px; }
  #page-container {
    /* `bottom' and `right' are required for lazy page loading in pdf2htmlEX.js (page visibility test)
     * alternatively you may set width and height
     */
    bottom:0;
    right:0;
    overflow:auto;
  }
}
@media print { 
  @page { margin:0; }
  html { margin:0; }
  body { 
    margin:0; 
    -webkit-print-color-adjust:exact; /* enable printing background images for WebKit */
  }
  #sidebar { display:none; }
  #page-container {
    width:auto;
    height:auto;
    overflow:visible;
    background-color:transparent;
  }
  .d { display:none; }
}
/* Part 2: Page Elements: Modify with caution
 * The followings are base classes, some of which are meant to be override by PDF specific classes
 * So do not increase the specificity (e.g. ".classname" -> "#page-container .classname")
 */
.pd { /* page decoration */
  position:relative;
  border: 0;
  overflow: hidden;
}
.pf { /* page */
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:white;
  overflow: hidden;
  margin:0; 
  border:0; /* required by pdf2htmlEX.js for page visibility test */
}
.pc { /* content of a page */
  position:absolute;
  border:0;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:hidden;
  display:block;
  /* set transform-origin for scaling */
  transform-origin:0% 0%;
  -ms-transform-origin:0% 0%;
  -moz-transform-origin:0% 0%;
  -webkit-transform-origin:0% 0%;
  -o-transform-origin:0% 0%;
}
.pc.opened { /* used by pdf2htmlEX.js, to show/hide pages */
  display:block;
}
.bi {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  -ms-user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
  user-select:none;
}
@media print {
  .pd {
    margin:0;
    box-shadow:none;
    page-break-after:always;
    page-break-inside:avoid;
  }
  @-moz-document url-prefix() {
    /* fix page truncation for FireFox */
    .pd {
      overflow:visible;
      border:1px solid #FFFFFF;
    }
    .pf {overflow:visible;}
    .pc {overflow:visible;}
  }
}
.c { /* clip box */
  position:absolute;
  border:0;
  padding:0;
  margin:0;
  overflow:hidden;
  display:block;
}
.t { /* text line */
  position:absolute;
  white-space:pre;
  font-size:1px;
  transform-origin:0% 100%;
  -ms-transform-origin:0% 100%;
  -moz-transform-origin:0% 100%;
  -webkit-transform-origin:0% 100%;
  -o-transform-origin:0% 100%;
}
span { /* text blocks within a line */
  position:relative;
  vertical-align: baseline;
  /* _<id> for spaces may need display:inline, which will override this */ 
  display:inline-block;
}
._ { /* text shift */
  color:transparent;
  z-index:-1;
}
/* selection background should not be opaque, for fallback mode */
::selection{
  background: rgba(127,255,255,0.4);
}
::-moz-selection{
  background: rgba(127,255,255,0.4);
}
.pi { /* info for Javascript */
  display:none;
}
.l { /* annotation links */
}
/* transparent color - WebKit */
.d { /* css drawing */
  position:absolute;
  transform-origin:0% 100%;
  -ms-transform-origin:0% 100%;
  -moz-transform-origin:0% 100%;
  -webkit-transform-origin:0% 100%;
  -o-transform-origin:0% 100%;
}
/* Base CSS END */
/* vim: set shiftwidth=2 tabstop=2 autoindent cindent expandtab filetype=css: */
/* Fancy styles */
/* Copyright 2013 Lu Wang <coolwanglu@gmail.com> */
@media screen { 
  #sidebar {
    background-color:#2f3236;
    /* modified from http://philbit.com/svgpatterns/#crossstripes */
    background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0IiBoZWlnaHQ9IjQiPgo8cmVjdCB3aWR0aD0iNCIgaGVpZ2h0PSI0IiBmaWxsPSIjNDAzYzNmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDBMNCA0Wk00IDBMMCA0WiIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2U9IiMxZTI5MmQiPjwvcGF0aD4KPC9zdmc+");
  }
  #outline {
    font-family:Georgia,Times,"Times New Roman",serif;
    font-size:13px;
    margin:2em 1em;
  }
  #outline ul {
    padding:0;
  }
  #outline li {
    list-style-type:none;
    margin:1em 0;
  }
  #outline li > ul {
    margin-left: 1em;
  }
  #outline a,
  #outline a:visited,
  #outline a:hover,
  #outline a:active {
    line-height:1.2;
    color:#e8e8e8;
    text-overflow:ellipsis;
    white-space:nowrap;
    text-decoration:none;
    display:block;
    overflow:hidden;
    outline:0;
  }
  #outline a:hover {
    color:rgb(0,204,255);
  }
  #page-container {
    background-color:#9e9e9e;
    /* http://philbit.com/svgpatterns/#thinstripes */
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjOWU5ZTllIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=");
    -moz-transition:left 500ms;
    -webkit-transition:left 500ms;
    -o-transition:left 500ms;
    transition:left 500ms:
  }
  .pd {
    margin: 13px auto;
    box-shadow: 1px 1px 3px 1px #333;
  }
  @keyframes fadein { from { opacity:0;} to { opacity:1;} }
  @-moz-keyframes fadein { from { opacity:0;} to { opacity:1;} }
  @-webkit-keyframes fadein { from { opacity:0;} to { opacity:1;} }
  @-o-keyframes fadein { from { opacity:0;} to { opacity: 1;} }
  .pc.opened { /* used by pdf2htmlEX.js, to show/hide pages */
    -moz-animation: fadein 100ms; 
    -webkit-animation: fadein 100ms;
    -o-animation: fadein 100ms; 
    animation: fadein 100ms; 
  }
}
/* Fancy CSS END */
#convert-loading {
    text-align: center;
    font-size: 1.2em;
    color: #333;
}
#converted-html {
    position:relative;
    min-height:400px;
}
.fixed-outline {
    position:fixed;
    left:0;
    top:0;
}
.outline-op-icon {
    font-size:1.5em;
    color:#fff;
    cursor:pointer;
}
#page-container {
    position:relative;
}
#page-container .outline-op-icon {
    position:absolute;
    left:1em;
    top:2em;
    color:#000;
}
