#main {
    padding:0;
}
#view-hd,
#shared-file-view-hd,
#view-path-op,
#file-op {
    width:950px;
    margin:0 auto;
}
#view-hd,
#shared-file-view-hd {
    margin-top:4px;
    flex-shrink:0;
}
#file-op .avatar {
    vertical-align:middle;
    border-radius:1000px;
}
#file-op .time {
    color:#666;
    margin:0 2px 0 8px;
}
#file-op .file-diff {
    font-size:100%;
}
#file-view {
    padding:30px 0 15px;
    background:#f4f4f4;
    border:1px solid #ededed;
    margin-top:12px;
}
#md-view,
.CodeMirror,
#file-view-tip {
    border:1px solid #ccc;
    margin:0 auto;
    box-shadow:0 0 6px #ccc;
}
#md-view {
    min-height:400px;
}
#md-view img {
    max-width: 100%;
}
.CodeMirror {
    color:#000;
    width:950px;
    background:#fff;
    margin-bottom:40px;
}
#file-view .CodeMirror-scroll {
    min-height:400px;
}
#file-star {
    vertical-align:middle;
    margin-left:3px;
    color:#a4a4a4;
}
.file-path {
    margin: 0 0 9px;
}
.history-file-path {
    margin:.5em 0 0;
}
