html { background:#fff; }
body,
h1,h2,h3,h4,h5,h6,
ul,ol,li,dl,dt,dd,
p,pre,blockquote,
form,input,textarea,select,button,img {
    padding:0;
    margin:0;
}
body,
input, textarea, button, select {
    font: 16px/1.5 Arial, Helvetica, sans-serif;
    color: #333;
    word-wrap:break-word; /* for en */
}
input, button, select {
    line-height:19px;/*for ff*/
}
h1 {
    font-size:1.9em;
    margin:1.1em 0 0.5em;
}
h2 { font-size:1.5em; color:#222;}
h3 { font-size:1.2em; color:#322; font-weight:normal; padding-left:8px; margin:0.95em 0 0.4em; }
h4 { font-size:1.1em; color:#222; font-weight:normal; margin:0.5em 0 0.2em; }
h5, h6 {
    font-size:1em;
    margin:0.4em 0 0.15em;
}
ul { list-style:none; }
ol { padding-left:2em; }
dl { margin:1.5em 0; }
dt { font-weight:bold; }
dd { margin: 0 0 .5em 2em; }
a { color:#ee8833; text-decoration:none; font-weight:bold; }
a.normal {font-weight: normal;}
a:hover { color: #ff9933; text-decoration: underline; }
img { border:none; }
textarea {
    overflow: auto; /* rm default vertical scrollbar in ie */
    resize: vertical; /* for drag */
    outline:0;
}
textarea, select, input {
    border: 1px solid #ddd;
}
input { 
    height:22px;
    margin:3px 0;
    outline:0;
}
input,
button {
    display:inline-block;/*for ie*/
}
input[type=submit],
input[type=button],
input.submit { 
    height:27px;/*for ff*/
    line-height:1.5;
}
button,
input[type=submit],
input[type=button],
input.submit { 
    padding:3px;
    background: #efefef;
    border: 1px solid #ddd;
    border-radius: 3px;
}
button {
    overflow:visible;/*for ie 7*/
    padding-bottom:0 \9;/*for ie; to make height right*/
}
input[type=radio] {
    height:auto;
    border:0;/*for ie*/
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {/*for input type="number" in chrome: to hide up/download arrow*/
    -webkit-appearance: none;
    margin: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {/*Remove button padding in FF*/
    border: 0;
    padding: 0;
}
input[type=submit],
input.submit {
    margin-top:8px;
}
input[type=submit]:hover,
input[type=button]:hover,
button:hover { 
    cursor:pointer;
    background-color:#fff;
}
input[type="file"] {
    border:none;
    height:24px;
    line-height:24px;
}
label {
    display: inline-block;
    margin:4px 0px;
}
iframe {
    display:block;
    width:100%;
}
pre, code {
    font-family: Consolas,"Liberation Mono",Courier,monospace;
}
pre {
    white-space:pre-wrap;
    word-wrap: break-word;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    width:100%;
    table-layout:fixed;
    margin:8px 0 40px;
}
caption {font-size:1.1em; font-weight:bold; margin-bottom:.6em;}
th {
    text-align:left;
    font-weight:bold;
}
td, th {
    padding:5px 3px;
    word-wrap:break-word;
    border-bottom:1px solid #eee;
}
td { color: #333; }
table img {
    vertical-align:middle;
}
p {
    margin:0.5em 0;
}
/*common class*/
.hl { background-color: #f8f8f8; }/*highlight*/
.fleft { float:left }
.fright { float:right }
.clear { clear:both; }
.show { display:block }
.hide { display:none }
.error { color:red; }
.errorlist { color: red; }
.ovhd { overflow:hidden; }
.inbl { display: inline-block; }
.bold { font-weight:bold; }
.label { color:#333; font-size:12px; font-style:normal; }
.w100 { width: 100%; }
.vh { visibility:hidden; }
.vam { vertical-align:middle; }
.italic { font-style:italic; }
.al-rt { text-align:right; }
.center { text-align:center; }
.notification {
    padding:5px;
    background:#FDF;
    margin:10px 0;
}
.tip {
    color:#808080;
    font-size:12px;
}
.loading-tip { /*for img*/
    display:block;
    margin:1em auto;
}
.icon-plus, .icon-minus, .icon-pencil,
.icon-star-empty, .icon-star {
    font-size:16px;
    line-height:1;
}
.icon-plus, .icon-minus, .icon-pencil {
    color:#444;
    margin-left:3px;
}
.icon-star-empty {
    color:#d0d0d0;
}
.icon-star {
    color:#505050;
}
.edit-icon {
    cursor:pointer;
}
.op,
.more {
    font-weight:normal;
    font-size:12px;
    color:#080;
}
.op {
    font-size:13px;
    padding-right:2px;
}
.op-target {
    color:#803;
    word-wrap:break-word;
}
.op-icon {
    font-size:20px;
    line-height:1;
    color:#888;
    cursor:pointer;
    margin-right:3px;
}
.big-more-btn {
    padding:.5em 0;
    color:#777;
}
.big-more-btn:hover {
    color:#000;
    background:#dfdfdf;
}
.no-deco,
.no-deco:hover {
    text-decoration:none;
}
.input-disabled {/* for type="password/text" etc*/
    background:#ebebe4;
}
.btn-disabled { /*for <input type="submit" />, <button>*/
    color:#999;
}
.no-bold {
    font-weight:normal;
}
.op-list li,
.modalCloseImg,
.add,
.repo-op .op-btn,
#star {
    background:transparent url('../img/bg.png') no-repeat scroll 0 0;
}
.op-list li {
    padding-left:10px;
    line-height:20px;
    background-position:0 -102px;
}
.add {
    padding-left:21px;
    background-color:#f5f5f5;
    background-position:3px -206px;
}
.tri-bg { /*triangle bg, <span>*/
    display:inline-block;
    font-size:0;
    line-height: 0;
    width:0;
    height:0;
    border-color: transparent;
}
.tri-down-bg {
    padding-top: 1px;
    border-width: 3px 3px 0;
    border-style: solid dashed dashed;
    border-top-color: #bbb;
}
.tri-right-bg {
    padding-right: 1px;
    border-width: 3px 0 3px 3px;
    border-style: dashed dashed dashed solid;
    border-left-color: #bbb;
}
.tri-down-order-bg {
    padding-top: 1px;
    border-width: 4px 4px 0;
    border-style: solid dashed dashed;
    border-top-color: #000;
    cursor:pointer;
}
.tri-up-order-bg {
    padding-bottom: 1px;
    border-width: 0 4px 4px;
    border-style: dashed dashed solid;
    border-bottom-color: #000;
    cursor:pointer;
}
.outer-caret,
.inner-caret {
    height:0;
    width:1px;
    border:14px solid;
    border-color:#CBCBCB transparent;
    border-bottom-width:0;
    z-index:100;
    margin:0 auto;
}
.inner-caret {
    border-top-color:#fff;
    position:relative;
    top:-15px;
    left:-14px;
}
.placeholder { /*for ie */
    color: #aaa;
    line-height:1.5;
}
input:-moz-placeholder,
textarea:-moz-placeholder {/* for FF */
    color: #aaa;
    line-height:1.5;
}
::-webkit-input-placeholder {/*for chrome, safari */
    line-height:1.5;
}
.avatar {
    border-radius:3px;
}
.info-item {
    border: 1px solid #eee;
    border-radius: 2px;
    margin-bottom: 12px;
}
.info-item h3,
.info-item p {
    margin:0;
}
.info-item h3 {
    font-size:1.15em;
}
.info-item-top {
    padding: 4px 10px;
    background: #f8f8f8;
    border-bottom: 1px solid #eee;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}
.info-item-bottom {
    padding: 8px 10px;
}
.info-item p.not-last {
    margin-bottom:0.4em;
}
.center-contents {
    text-align: center;
}
.tabnav {
    height:37px;
    border-bottom:1px solid #ddd;
    margin-bottom:16px;
}
.tabnav-tabs,
.tabnav-tab {
    display:inline-block;
}
.tabnav-tab {
    font-size:14px;
    padding:8px 10px;
    border:1px solid transparent;
    border-bottom:0;
}
.tabnav-tabs,
.tabnav-tab {
    *display:inline;
}
.tabnav-tab a {
    color:#666;
    font-weight:normal;
}
.tabnav-tab-cur {
    border-color:#ddd;
    border-radius:3px 3px 0 0;
    background:#fff;
    margin-bottom:-1px;
    color:#000;
}
.checkbox-orig {
    font-size:0;
    opacity:0;
    filter: alpha(opacity=0);
    cursor:pointer;
    position:absolute;
    margin:0;
}
.checkbox {
    display:inline-block;
    border:1px solid #ddd;
    margin-right:4px;
    position:relative;
}
.checkbox-orig,
.checkbox {
    width:13px;
    height:13px;
}
.checkbox-checked {
    background:transparent url('../img/tick.png') no-repeat scroll 1px 3px;
}
.checkbox-label .avatar,
.checkbox,
.checkbox-option {
    vertical-align:middle;
}
#simplemodal-container .checkbox-option {
    font-weight:normal;
}
#simplemodal-container .checkbox-label {
    margin:4px 0;
}
.checkbox-label {
    display:block;
}
/* container */
#header {
    padding-top:12px;
    background:#f4f4f4;
    width:100%;
    font-size: 14px;
    font-weight: bold;
    border-bottom:1px solid #ddd;
    margin-bottom:25px;
}
#header-inner {
    height:40px;
    width:950px;
    margin:0 auto;
    /*overflow:hidden;*/
}
#title-panel h2 {
    margin-bottom:0.45em;
}
#left-panel {
    float:right;
    width:230px;
    padding-left:10px;
}
#right-panel {
    float:left;
    width:670px;
}
#right-panel h3:first-child,
#left-panel h3:first-child {
    margin-top: 0px;
}
/* info-bar */
#info-bar,
#sharelink-infobar {
    color: #fff;
    padding:1px 25px 1px 10px;
    background: #080;
}
#info-bar {
    position:relative;
}
#info-bar .close {
    cursor:pointer;
    position:absolute;
    right:5px;
    top:5px;
}
#info-bar-info {
    margin:0.3em 0;
}

#to-group a {
    color:#000;
    display:block;
    padding:1px 5px;
    font-weight:normal;
}
#account-context-selector a:hover,
#lang-context-selector a:hover,
#to-group a:hover {
    background:#eee;
    text-decoration:none;
}

/* header */
#notice {
    text-align:center;
}
#notice-con {
    color:red;
    padding:3px 5px;
    background:#ffc;
    box-shadow:0 0 6px gray;
    border-radius:1px;
}
#logo {
    width:95px;
    height:40px;
    margin-right:30px;
}
#header .nav {
    float:left;
    padding-top:9px;
}
#header .nav li {
    float: left;
    height:21px;
    margin:0 14px;
}
.ru #header .nav li {
    margin:0 11px;
}
#header .nav a,
#header .nav a:visited {
    color:#8A948F;
    font-weight:bold;
    text-decoration:none;
}
#header .nav a.cur {
    color:#000;
}
#header .nav a:hover {
    color: #ff9933;
    text-decoration: underline;
}

/* footer */
#footer { 
    color:#636363;
    font-size:12px;
    padding:20px 0 10px;
    margin:80px auto 25px;
    border-top:1px solid #DDD;
}
#footer .items {
    width:65%;
}
#footer .other-info {
    width:30%;
}
#footer .item {
    float:left;
    width:28%;
    padding:0 3% 0 2%;
}
#footer .item h4 {
    font-size:12px;
    color:#636363;
    padding-bottom:3px;
}
#footer a {
    color:#888;
    font-weight:normal;
}

.login-form a {
    font-size:12px;
    vertical-align:middle;
}

/*text-panel: for pages with few text*/
.text-panel {
    font-size:16px;
    text-align:center;
    padding-top:7em;
}
/* simplemodal popup */
#basic-modal-content {display:none;}
#simplemodal-overlay { background-color:#000; }
#simplemodal-container {
    padding: 20px; 
    background-color:#fff; 
    border-radius:4px;
    -moz-border-radius:4px;
}
#simplemodal-container a {font-weight:normal;}
.modalCloseImg {
    position:absolute;
    width:25px;
    height:29px;
    background-position:0 0;
    cursor:pointer;
    top:-15px;
    right:-16px;
    z-index:3200;
}
#simplemodal-container .jstree a {
    color:#000;
}
#simplemodal-container h3 {
    font-size:1.5em;
    word-wrap:break-word;
    margin:0 0 4px;
}
#simplemodal-container h3,
#simplemodal-container h4,
#simplemodal-container label {
    font-weight:bold;
}
#simplemodal-container label {
    margin:8px 0 4px;
}
.simplemodal-close {
    margin-left:5px;
}
#confirm-popup,
.simple-input-popup {
    min-width:255px;
}
#confirm-popup button {
    margin-top:.8em;
}
.simple-input-popup .long-input {
    width:99%;
    *width:252px;
}

/*ui-autocomplete*/
.ui-autocomplete {
    background:#fff;
    overflow:auto;
}
.ui-menu-item {
    background-image:none;
}
/* for article */
.article {
    padding:40px 200px 40px 60px;
    font-size:14px;
    line-height:1.6;
    color:#333;
}
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
    margin: 1.2em 0 0.4em;
    color:#333;
    font-weight:bold;
}
.article h1 + p, .article h2 + p, .article h3 + p, .article h4 + p, .article h5 + p, .article h6 + p,
.article h1 + pre, .article h2 + pre, .article h3 + pre, .article h4 + pre, .article h5 + pre, .article h6 + pre,
.article h1 + ul, .article h2 + ul, .article h3 + ul, .article h4 + ul, .article h5 + ul, .article h6 + ul,
.article h1 + ol, .article h2 + ol, .article h3 + ol, .article h4 + ol, .article h5 + ol, .article h6 + ol {
    margin-top: 0;
}
.article p {
    margin:0.8em 0;
}
#md-edit-help ul,
.article ul {
    list-style-type:disc;
    padding-left:2em;
}
.article ul,
.article ol {
    margin:0.5em 0;
}
.article code {
    font-size:12px;
    white-space: pre-wrap;
    padding: 1px 5px 0;
    background-color: #F8F8F8;
    border: 1px solid #dadada;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 0 2px;
}
.article pre {
    font-size:13px;
    padding:5px 10px;
    background:#f8f8f8;
    border:1px solid #ddd;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin:1em 0;
}
.article pre code {
    white-space:pre-wrap;
    padding:0;
    margin:0;
    border:none;
}
.article a {
    font-weight:normal;
}
.article blockquote {
    color: #777;
    padding: 0 15px; 
    border-left: 4px solid #DDD; 
    margin: 1.2em 0;
}
.article table {
    table-layout:auto;
    width:auto;
    margin:0.8em 0;
}
.article tr:nth-child(2n) {
    background-color: #F8F8F8;
}
.article th,
.article td {
    padding:6px 13px;
    border:1px solid #ccc;
}

/* for separate pages */
/*myhome*/
.personal-nav {
    border-bottom:1px solid #ddd;
    margin-bottom:16px;
    margin-top:-12px;
    text-align:right;
}
.personal-nav .item {
    float:left;
    font-size:15px;
    margin:8px 16px 0 0;
}
.personal-nav a {
    font-weight:normal;
}
.home-profile .pic {
    margin-left:9px;
}
.home-profile .txt {
    width:135px;
}
.home-profile .edit {
    font-weight:normal;
    color:#999;
    font-size:12px;
    display:inline-block;
    margin-top:5px;
}
.home-profile .edit:hover {
    color:#333;
}
#quota-bar {
    display:block;
    height:1em;
    border:1px solid #ddd;
    margin:5px 0;
    border-radius:2px;
    overflow:hidden;/* for usage > 100% */
}
#quota-bar span {
    display:inline-block;
    height:100%;
    vertical-align:top;
}
#my-usage,
#quota-usage {
    background:#ddd;
}
#share-usage {
    background:#eee;
}
#usage-details {
    font-size:12px;
    color:#888;
}
#traffic-stat {
    color: #333;
    font-weight: normal;
    display:inline-block;
    margin-top:6px;
}
.mygroup {
    display:inline-block; /*to handle different height of items*/
    vertical-align:top;
    width:64px;
    text-align:center;
    margin:8px 1px 5px 1px;
}
.mygroup {
    *display:inline; /* for ie 6,7 */
}
.mygroup .name {
    display:inline-block;
    width:100%;
}
#repo-create-form {
    padding:0 20px;
}
.empty-tips {
    width: 60%;
    margin: 40px auto;
    padding-top: 20px;
}
#repo-name,
#repo-desc,
.repo-create-encryption .passwd,
#id_contact_email,
#id_contact_name,
#id_note {
    width:260px;
    margin-bottom:5px;
}
.input {
    width:260px;
    margin-bottom:5px;
}
.input-area {
    height:80px;
}
#repo-desc {
    height:70px;
}
#repo-create-form select[name="permission"] {
    display:block;
    width:262px;
    margin-bottom:10px;
}
#tabs,
#repo-share-tabs {
    font-size:1em;
    padding:0;
    border:0;
    min-height:150px;
    margin-bottom:75px;
}
#repo-share-tabs {
    margin-bottom:0;
}
#tabs-nav,
#repo-share-tabs-nav {
    padding:0;
}
#repo-share-tabs-nav {
    height:30px;
    border-bottom:1px solid #ddd;
    border-radius:0;
    margin-bottom:10px;
}
#tabs-nav li {
    float:left;
    border:0;
    background:none;
}
#repo-share-tabs-nav li {
    display:inline-block;
    border:1px solid transparent;
    border-bottom:0;
    background:none;
}
#repo-share-tabs-nav li a {
    color:#666;
    line-height:16px;
    padding:6px 13px;
}
#tabs-nav .long-item {
    margin-left:.4em;
}
#tabs-nav li a {
    color:#8A948F;
    font-weight:normal;
    padding:.3em 0;
    margin-right:0.6em;
}
#tabs-nav .ui-state-active a {
    color:#DD4B39;
    border-bottom:2px solid #DD4B39;
}
#repo-share-tabs-nav .ui-state-active {
    border-color:#ddd;
    border-radius:3px 3px 0 0;
    background:#fff;
    margin-bottom:-1px;
}
#repo-share-tabs-nav .ui-state-active a {
    font-weight:bold;
}
#tabs-nav li a:hover {
    color:#DD4B39;
}
#repo-share-tabs-nav li a:hover {
    color:#333;
}
#tabs .ui-tabs-panel,
#repo-share-tabs .ui-tabs-panel {
    padding:0;
}
#repo-share-tabs .option-list {
    max-height:200px;
    overflow:auto;
    margin-bottom:5px;
    position:relative;/* to fix ie7 'scroll position' problem */
}
.event-group-bd {
    list-style-type: none;
    padding:0;
}
.event-item,
.msg,
#loading-icon {
    padding:10px 8px;
    border-bottom:1px solid #ccc;
    border-top:1px solid #fff;
    background:#ffffff;
}
.event-item .txt {
    margin-left:45px;
}
.event-item .cmt-desc {
    display:block;
}
.event-item p {
    margin:0;
}
.event-item .time {
    color:#888;
    font-size:0.9em;
}
.event-item .updated-repo,
.event-item .repo-name,
.event-item .file-name,
.event-item .author {
    color:#e83;
}
.event-item .avatar {
    float:left;
    border-radius:3px;
}
#loading-icon {
    text-align:center;
    padding:20px;
    border-bottom:none;
}
/* avatar */
.avatar-op .avatar,
.home-profile .avatar,
.mygroup .avatar,
.group .avatar {
	border-radius: 4px;
	-moz-border-radius: 4px;
}
.avatar-op h3 {
    border:none;
    margin-bottom:2px;
}
.avatar-op .upload-new-avatar-hd {
    margin-top:15px;
}
#grp-avatar-form {
    position:relative;
    margin-left:10px;
}
#user-avatar-form,
#grp-avatar-form {
    overflow:hidden;
}
/*repo page*/
#repo-basic-info {
    color:#333;
    background:#fafafa;
    border:1px solid #ddd;
    border-radius:3px;
    margin: 10px 0;
}
#repo-basic-info .desc,
#repo-basic-info .size {
    padding:5px 10px;
    margin:0;
}
#repo-basic-info .desc {
    border-bottom:1px solid #ddd;
}
.path { margin: 1.4em 0 0; }
.access-notice { margin: 0.8em 0 0.4em; }
.repo-op {
    text-align:right;
}
.repo-top-op-btn,
.file-op button,
#file-op button,
.repo-op .op-btn {
    *margin-left:5px;/* for ie 7*/
}
.repo-top-op-btn,
.repo-op .op-btn {
    background-color:#f5f5f5;
}
#upload-file {
    padding-left:19px;
    background-position:3px -118px;
}
#add-new-dir {
    padding-left:23px;
    background-position:4px -159px;
}
#add-new-file {
    padding-left:23px;
    background-position:3px -184px;
}
#download-dir {
    padding-left:19px;
    background-position:2px -139px;
}
#featured-filetype {
    margin:5px 0;
}
#featured-filetype button {
    padding: 2px;
    line-height: 1.2;
    border: 1px solid #BBB;
    margin: 2px 0 5px;
}
.repo-file-list-outer-container,
.commit-list-outer-container {
    padding:3px;
    background:#eee;
    border-radius:3px;
    margin:10px 0 25px;
}
.repo-file-list-inner-container,
.commit-list-inner-container {
    min-height:250px;
    background:#fff;
    border:1px solid #ddd;
    border-radius:3px;
}
.repo-file-list-not-show {
    padding-left:10px;
}
.repo-file-list-topbar {
    padding:8px 10px;
    border-bottom:1px solid #ddd;
}
.repo-file-list-topbar .path {
    line-height:25px;
    margin:0;
}
.repo-file-list {
    margin:15px 0 0;
}
#name-up,
#time-up {
    display:none;
}
.zh-cn .dirent-name {
    width:49%;
}
.zh-cn .dirent-op {
    width:21%;
}
.file-star {
    cursor:pointer;
    line-height:19px;
    margin-left:5px;
}
.repo-file-list .repo-file-op {
    position:relative;
}
.displayed-op {
    display:inline;
    margin-right:8px;
}
.repo-file-list .more-op-icon {
    cursor:pointer;
}
.repo-file-list .hidden-op {
    position:absolute;
    background:#fff;
    padding:6px 1px;
    border:1px solid #eee;
    border-radius:5px;
    z-index:10;
}
.hidden-op li a {
    display:block;
    padding:0 12px;
}
.file-choose-form {
    width:500px;
    padding:10px 20px;
}
.file-tree-cont, .dir-tree-cont {
    padding:5px;
    height:280px;
    overflow:auto;
    border:1px solid #eee;
    margin:5px 0 10px;
}
.file-tree-cont .jstree-leaf[type=file] a ins.jstree-icon {
    background: transparent url('../img/file-icon-16.png') no-repeat left center;
    vertical-align:top;
}
.file-tree-cont .jstree-leaf[type=dir] a ins.jstree-icon {
    background:transparent url('../jstree_pre1.0_stable/themes/classic/d.png') no-repeat scroll -56px -36px;
}
#mv-dir-list .tri-bg {
    margin-right:20px;
    margin-bottom:3px;
}
#mv-dir-list .tri-right-bg {
    border-left-color:#333;
}
#mv-dir-list .tri-down-bg {
    border-top-color:#333;
}
#rename-form .new-name {
    min-width:180px;
    margin-top:6px;
}
.icon-container {
    text-align:center;
}
.repo-top-op-btn {
    font-size:14px;
}
.repo-top-op-btn [class^="icon-"] {
    color:#444;
    margin-right:2px;
}
#repo-latest-commit {
    word-wrap:break-word;
    border: 1px solid #C5D5DD;
    border-radius: 4px;
    margin-top:10px;
}
#repo-latest-commit .commit-msg,
#repo-latest-commit .meta-info {
    padding:4px 10px;
    margin:0;
}
#repo-latest-commit .commit-msg {
    width:928px;
    padding:8px 10px;
    background: #E6F1F6;
    border-bottom: 1px solid #D8E6EC;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}
#repo-latest-commit .commit-msg .more {
    margin-left:10px;
}
#repo-latest-commit .author .avatar {
    border-radius:3px;
}
#repo-latest-commit .author .avatar,
#repo-latest-commit .author .name,
#repo-latest-commit .time {
    vertical-align:middle;
}
#repo-latest-commit .time {
    color:#666;
    margin-left:5px;
}
.lsch,
.lsch-encrypted,
.file-diff {
    font-size:12px;
    font-weight:normal;
    color:#666;
    text-decoration:underline;
}
#ls-ch {/*repo commit details container*/
    min-width:300px;
    min-height:300px; 
    max-width:850px;
    max-height:550px;
    overflow:auto;
    line-height:1.6;
}
#ls-ch h2,
#ls-ch h3 {
    margin: 0 0 0.2em;
    color:#333;
    font-weight:bold;
}
#ls-ch .commit-time,
.commit-time {
    color:#333;
    font-size:13px;
    font-weight:normal;
    margin-top: 0em;
}
#ls-ch ul {
    padding:0 0 6px 0;
}
#ls-ch a {
    color:#e83;
    font-weight:normal;
}
#dirs { /* file mv */
    margin-top:8px;
}
/* repo-history */
#back {
    margin-top:3px;
}
.commit-list {
    margin:0 0 20px;
}
.commit-list .time {
    padding-left:10px;
}
.commit-list .avatar {
    border-radius:2px;
}
/*repo-share-form*/
#link-send-input,
#email_or_group,
#share-link,
#added-member-name,
#added-admin-name {
    width:260px;
    height:80px;
    padding:2px;
}
#member-add-form {
    width:266px;
}
#repo-share-form {
    width:320px;
}
#email_or_group {
    width:314px;
}
#repo-share-form .share-permission-select {
    width:100%;
}
/* group-join-form */
#id_group_join_msg {
    width:260px;
    height:80px;
}
/* group, org */
.group-list,
.user-list {
    margin-top:30px;
}
.group-list .group,
.user-list .user {
    display:inline-block; /*to handle different height of items*/
    vertical-align:top;
    width:315px;
    margin:0 17px 25px 0;
}
.group-list .group,
.user-list .user {
    *display:inline; /* for ie 6,7 */
}
.group .txt,
.user-list .user .txt {
    color:#333;
    width:250px;
}
.group h4 {
    margin:0 0 4px;
}
.group p {
    margin:0;
}
.group .item-name {
    display:inline-block;
    width:5em;
    color:#666;
}
.ru .group .item-name,
.de .group .item-name,
.it .group .item-name {
    width:6em;
}
.member {
    _height:21px;
    padding-bottom:4px;
}
.member .avatar {
    border-radius: 2px;
    -moz-border-radius: 2px;
    margin-right: 5px;
}
.member .avatar,
.member .name {
    vertical-align:middle;
}
/* group message and replies */
.msg-num {
    font-size:12px;
    color:#333;
}
.msg {
    padding:10px;
}
.msg-page {
    padding:0;
    background:#fff;
    border-bottom:0;
}
.msg-top {
    padding:10px;
    background:#fafafa;   
    border-bottom:1px solid #ccc;
    box-shadow:0 1px 1px #ddd;
    margin-bottom:1px;
}
.msg .avatar,
.reply .avatar {
    float:left;
}
.msg .txt {
    margin-left:64px;
}
.msg-attachment .img {
    display:block;
    line-height:0;
    width:auto;
    height:auto;
    max-width:100%;
    max-height:300px;
    margin:0 auto;
}
.msg .author,
.msg-attachment .name {
    color:#e83;
}
.msg-hd .author {
    font-weight:bold;
}
.event-details,
.msg-hd,
.msg-op {
    font-size:.9em;
}
.msg .time {
    color:#999;
    margin-left:5px;
}
.msg .op {
    font-size:11px;
    color:#999;
    cursor:pointer;
    margin-left:5px;
}
.event-details,
.msg-op {
    color:#444;
    padding:0 10px;
    background:#fff;
    border:1px solid #ccc;
    border-radius:3px;
    box-shadow: 0 1px 1px #ccc;
    position:relative;
    margin-top:15px;
}
.event-details {
    padding:0;
}
.event-details li {
    padding:10px;
    border-bottom:1px solid #eee;
}
.msg-page .msg-op {
    padding:5px 0 0;
    border:0;
    border-radius:0;
    margin-top:0;
    box-shadow:none;
}
.outer-caret,
.inner-caret {
    border-top-width:0;
    border-bottom-width:14px;
}
.inner-caret {
    border-bottom-color:#fff;
    top:1px;
}
.outer-caret {
    position:absolute;
    top:-14px;
    left:40px;
}
.msg-page .msg-op .outer-caret {
    left:60px;
}
.replies-num {
    display:inline-block;
    padding-top:5px;
    margin-bottom:10px;
}
.msg .at {
    color:#808;
}
.reply {
    line-height:1.2;
    padding:6px 0 9px;
}
.msg-page .reply {
    padding:10px;
    border-bottom: 1px solid #eee;
}
.msg-page .reply:last-child {
    border-bottom:0;
}
.reply .txt {
    margin-left:38px;
}
.msg-page .reply .txt {
    margin-left:64px;
}
.reply-con {
    line-height:1.3;
    margin:4px 0 0;
}
.msg-del-confirm {
    position:absolute;
    padding:0 15px 6px;
    background:#fff;
    border:1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}
.msg-del-confirm button {
    margin-right:8px;
}
#msg-upward {
    position:fixed;
    font-weight:normal;
}
#msg-upward:hover {
    text-decoration:none;
}
#msgs-more {
    width:576px;
    margin-left:64px;
}
/* file view online, file edit */
.file-op {
    color:#444;
    text-align:right;
}
#shared-link,
#shared-link-text {
    border:0;
}
#shared-link-text {
    vertical-align:middle; /*for ie 7*/
}
.file-op {
    margin-top:0.8em;
}
.file-op a {
    font-weight:normal;
    margin-left:2px;
}
.file-op button {
    color:#444;
}
#file,
#text-diff-output {
    padding:3px;
    background:#dedede;
    border-radius:3px;
    -moz-border-radius:3px;
    margin-top:12px;
}
#file-op {
    padding:8px 10px;
    background:#fff;
    text-align:right;
    border:1px solid #ccc;
}
#file-op button {
    padding:2px 8px;
}
#file-enc-cont {
    width:950px;
    margin:-20px auto 6px;
    text-align:right;
}
#file-enc {
    border:1px solid #ddd;
    border-radius:2px;
    background:#efefef;
}
#file-view-tip {
    height: 150px;
    padding:10px;
    width:930px;
    background:#fff;
}
#docu-view {
    font-size:14px;/*override .ace_editor*/
    line-height:1.6em;
    font-family: Consolas,"Liberation Mono",Courier,monospace;/*override .ace_editor*/
    min-height: 200px;
}
#img-prev-next {
    font-size:1.1em;
    margin-bottom:5px;
}
#image-view {
    padding:1px;
    background:#fff;
    border:1px solid #eee;
}
#docu-view,
#svg-view,
#pdf,
#md-view,
#md-edit {
    background:#fff;
}
#md-view,
#md-edit {
    width:756px;
}
#md-view h2,
#wmd-preview h2,
#wiki-content h2 {
    border-bottom: 1px solid #ccc;
}
.wiki-image {
    display: block;
    margin-left: auto;
    margin-right: auto;     
}
#page-number {
    padding:0 3px;
    min-width:16px;
    width:30px;
    text-align:right;
    border-radius:3px;
    -moz-border-radius:3px;
}
#op-after-edit {
    margin-top:.9em;
}
#op-after-edit button {
    margin-left:5px;
}
#file-edit-cancel {
    color:#900;
    font-weight: normal;
    margin-left: 3px;
}
#op-after-edit button,
#file-edit-cancel {
    vertical-align:middle; /* for ie 7 */
}
#star {
    padding-left:18px;
    background-color:#efefef;
    background-position:3px -227px;
}
#sf {
    width:624px;
    font-size:15px;
    background:#fff;
}
#sf, #md-view {
    padding:40px 96px;
}
#md-edit-help {
    width:550px;
}
/* shareadmin */
.view-link-alert p {
    display: inline-block;
}
.share-permission-edit-icon {
    cursor:pointer;
}
.share-permission-select {
    position:relative;/*for long text in other lang in 'share admin'*/
    background:#fff;
    border:1px solid #ddd;
    border-radius:2px;
}
/*bottom bar*/
#bottom-bar {
    position:fixed;
    bottom:0;
    right:10px;
}
#bottom-bar button {
    color:#fff;
    font-size:15px;
    background:#000;
    opacity:0.75;
    margin-left:5px;
}
#bottom-bar [class^='icon-'] {
    margin-right:3px;
}
#to-group,
#discuss-to-group {
    width:400px;
    padding:0 15px;
    position:fixed;
    right:10px;
    background:#fff;
    border:1px solid #cbcbcb;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
}
#share-link,
#added-member-name,
#added-admin-name {
    width:260px;
    height:80px;
    padding:2px;
}
.reply-submit,
.reply-cancel {
    margin-top:6px;
    margin-right:2px;
}
