#wmd-button-bar {
    height: 20px;
    padding:10px 5px 5px;
    border-bottom:1px solid #ddd;
}
#wmd-input { 
    font-family: monospace;
    line-height:1.3;
    width: 746px;
    padding: 6px 5px;
    resize:none;
    vertical-align:top;
    border:0;
}
#wmd-preview { 
    padding:0;
    min-height:600px;
}
.wmd-button-row {
	position: relative; 
}
.wmd-spacer {
	width: 1px; 
	height: 20px; 
	margin-left: 14px;
	position: absolute;
	background-color: Silver;
}
.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    cursor: pointer;
}
.wmd-button span {
    background-image: url(../img/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.wmd-spacer1 {
    left: 50px;
}
.wmd-spacer2 {
    left: 175px;
}
.wmd-spacer3 {
    left: 300px;
}
.wmd-prompt-background {
	background-color: Black;
}
.wmd-prompt-dialog {
    text-align:center;
	background-color: #fff;
    padding-bottom:5px;
}
