#root {
  height: auto;
}
.sf-md-viewer-topbar,
.seafile-rich-editor-topbar {
  display: none;
}
.seafile-editor {
  position: static!important;
}
.editor {
  border: none!important;
}
.seafile-editor-main {
  display: block!important;
}
.seafile-editor-main-panel {
  display: block!important;
  width: 100%!important;
  background-color: #fff!important;
}
.seafile-editor-resize,
.seafile-editor-side-panel {
  display: none;
}
