html {
    background:#fff;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,pre,blockquote,form,input,textarea,button,img { margin:0; padding:0; }
body {
    font: 13px/1.5 Arial, Helvetica, sans-serif;
}
h1 {
    font-size:1.9em;
    margin:1.1em 0 0.5em;
}
h2 { font-size:1.5em; color:#808;}
h3 { font-size:1.2em; color:#808; font-weight:normal; margin:0.95em 0 0.4em; }
h4 { font-size:1.1em; color:#000; font-weight:normal; margin:0.5em 0 0.2em; }
h5, h6 {
    font-size:1em;
    margin:0.4em 0 0.15em;
}
ul { list-style:none; }
ol { padding-left:2em; }
a { color:#ee8833; text-decoration:none; font-weight:bold; }
a:hover { color: #ff9933; text-decoration: underline; }
img { border:none; }
textarea { border: 1px solid #ddd; }
input { 
    height:20px;
    line-height:20px;
    margin:3px 0;
    border: 1px solid #ddd;
}
input,
button {
    font-size:13px;/*for ff*/
    display:inline-block;/*for ie*/
}
input[type=checkbox] {
    height:auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {/*for input type="number" in chrome: to hide up/download arrow*/
    -webkit-appearance: none;
    margin: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {/*Remove button padding in FF*/
    border: 0;
    padding: 0;
}
input[type=submit],
input.submit,
button { 
    color: #333;
    height:23px;
    line-height:21px;
    padding:0 3px;
    background: #efefef;
    border: 1px solid #ddd;
    border-radius: 3px;
    -moz-border-radius:3px;
    margin-top:8px;
}
button {
    margin:0;
}
input[type=submit]:hover,
button:hover { 
    cursor:pointer;
    background: #FFF;
}
input[type="file"] {
    border:none;
    height:24px;
    line-height:24px;
}
label { display: inline-block; margin:2px 0px; }
iframe {
    display:block;
    width:100%;
}
pre, code {
    font-family: Consolas,"Liberation Mono",Courier,monospace;
}
pre {
    white-space:pre-wrap;
    word-wrap: break-word;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    width:100%;
    table-layout:fixed;
    margin:8px 0 40px;
}
th { text-align:left; }
td, th {
    padding:5px 3px;
    word-wrap:break-word;
    border-bottom:1px solid #eee;
}
tr.hl { background-color: #f8f8f8; }/*highlight*/
table img {
    vertical-align:middle;
}
p {
    margin:0.5em 0;
}
/*common class*/
.fleft { float:left }
.fright { float:right }
.clear { clear:both; }
.show { display:block }
.hide { display:none }
.error { color:red; }
.errorlist { color: red; }
.ovhd { overflow:hidden; }
.bold { font-weight:bold; }
.label { color:#333; font-size:12px; font-style:normal; }
.w100 {
	width: 100%;
}
.notification {
    padding:5px;
    background:#FDF;
    margin:10px 0;
}
.tip {
    color:#808080;
    font-size:12px;
}
.vh {
    visibility:hidden;
}
.al-rt {
    text-align:right;
}
.op,
.more {
    font-weight:normal;
    font-size:12px;
    color:#080;
}
.op {
    font-size:13px;
}
.no-deco, .no-deco:hover {
    text-decoration:none;
}
.input-disabled {
    background:#ebebe4;
}
.no-bold {
    font-weight:normal;
}
#paginator { margin-top:10px; }

/* container */
#header, #main, #footer, .top-bar-in { width:950px; }
#header, #main, .top-bar-in { margin:0 auto; }
#header {
    font-size: 14px;
    font-weight: bold;
    overflow:hidden;
    padding-bottom:8px;
    border-bottom:1px solid #ddd;
    margin-bottom:15px;
}
#main {
    min-height: 400px;
    _height: 400px;
    padding-top: 10px;
}
#left-panel { float:right; width:220px; }
#right-panel { float:left; width:680px; }
.side {
    color:#333;
    width:220px;
    word-wrap: break-word;
}
.main {
    width:680px;
}

/* info-bar */
#info-bar { height: 30px; color: #fff; background: #000; }
#info-bar .info { margin: 5px 0 auto 1em; float: left; }
#info-bar .close { margin: 7px 5px auto 0;  float: right; background: url(../img/close-16.png); height: 16px; width:16px; }

/* top-bar */
#top-bar { height:21px; padding-bottom:21px;  background:#fff url('../img/dropshadow.png') repeat-x center bottom; }
.top-bar { height:21px; color:#fff; font-weight:bold; background:#606; }
.top-bar .left, .top-bar .right {
    display:inline-block;
}
.top-bar .right {
    margin-left:25px;
}
.top-bar a {
    color:#ddd;
    font-weight:normal;
    display:inline-block;
    height:21px;
    padding:0 2px;
}
.top-bar a.avatar-link {
    height:16px;
}
.top-bar .avatar {
	border-radius: 2px;
	-moz-border-radius: 2px;
}
.top-bar a.cur {
    background:#000;
}
.top-bar a,
.top-bar span {
    vertical-align:middle;
}
.top-bar span {
    margin-right:3px;
}
.top-bar a:hover {
    text-decoration:none;
    background:#A0A;
}
.top-bar a.avatar-link:hover {
    background:none;
}
#team-list {
    position:absolute;
    left:2px;
    border:1px solid #bbb;
    background:#fff;
    min-width:65px;
    padding:5px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
}
#team-list a {
    color:#000;
    display:block;
    padding:0 5px;
}
#team-list a:hover {
    background:#eee;
}
#team-account .bg {
    display:inline-block;
    margin-left:1px;
    font-size:0;
    width:0;
    height:0;
    line-height: 0;
    border-width: 3px 3px 0;
    padding-top: 1px;
    border-style: solid dashed dashed;
    border-color: transparent;
    border-top-color: #bbb;
}
/* header */
#logo {
    margin-right:30px;
}
#header .nav {
    float:left;
    padding-top:16px;
}
#header .nav li {
    float: left;
    height:21px;
    margin:0 10px;
}
#header .nav a, #header .nav a:visited { color:#8A948F; font-weight:bold; text-decoration:none; }
#header .nav a.cur { color:#000; }
#header .nav a:hover { color: #ff9933; text-decoration: underline; }
/* footer */
#footer { 
    color:#636363;
    font-size:12px;
    padding:20px 0 10px;
    margin:80px auto 25px;
    border-top:1px solid #DDD;
}
#footer .items {
    width:65%;
}
#footer .other-info {
    width:30%;
}
#footer .item {
    float:left;
    width:28%;
    padding:0 3% 0 2%;
}
#footer .item h4 {
    font-size:12px;
    color:#636363;
    padding-bottom:3px;
}
#footer a {
    color:#888;
    font-weight:normal;
}
/* main */
.path, .access-notice { margin: 0.8em 0 0.4em; }
.with-bg li {
    padding-left:10px;
    line-height:20px;
    background: #fff url('../img/li.gif') no-repeat scroll left 6px;
}
/*narrow-panel: for form pages*/
.narrow-panel {
    width:320px;
    min-height:15em;
    padding:30px;
    border: 1px solid #ddd;
    border-radius:4px;
    -moz-border-radius:4px;
    margin:5em auto 0;
}
.narrow-panel h2,
.narrow-panel h3 {
    margin:0 0 0.9em;
    border-bottom:1px solid #ddd;
}
.narrow-panel h2 {
    font-size:1.3em;
}
.narrow-panel input {
    width:318px;
    height:1.8em;
    margin:0 0 0.6em;
}
.narrow-panel input.submit {
    width:3em;
    margin:8px 0 0;
}
.narrow-panel .note {
    color: #666666;
    font-size: 11px;
    margin: 2px 0 5px;
}

.login-form a {
    font-size:12px;
    vertical-align:middle;
}

/*text-panel: for pages with few text*/
.text-panel {
    font-size:16px;
    text-align:center;
    padding-top:7em;
}
/* popup dialog */
#basic-modal-content {display:none;}
#simplemodal-overlay { background-color:#000; }
#simplemodal-container {
    padding: 20px; 
    background-color:#fff; 
    border-radius:4px;
    -moz-border-radius:4px;
}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container .ui-menu-item a {/*for tip item of autocomplete*/
    color:#e83;
    font-weight:normal;
}
#simplemodal-container .jstree a {
    color:#000;
    font-weight:normal;
}
#simplemodal-container h3 {
    margin:0 0 4px;
}
.simplemodal-close {
    margin-left:5px;
}
#dialog-delete-confirm {
    text-align:center;
}
#confirm-con {
    margin-bottom:6px;
}
/*ui-autocomplete*/
.ui-autocomplete {
    background:#fff;
}
.ui-menu-item {
    background-image:none;
}
/*myhome*/
.home-profile .avatar {
    float:left;
    margin:0 15px 0 11px;
}
.mygroup {
    display:inline-block;
    width:70px;
    text-align:center;
    word-wrap:break-word;
    vertical-align:top;
    margin:0 0px 5px 0;
}
.mygroup .tip {
    font-size: 0.9em;
    color: #333;
}
#repo-create,
#contact-add{
    padding-left:21px;
    height:27px;
    background:#f5f5f5 url('../img/add.png') scroll no-repeat 3px 48%;
}
#repo-create-form {
    padding:0 20px;
}
#repo-name,
#repo-desc,
.repo-create-encryption .passwd,
#id_contact_email,
#id_contact_name,
#id_note {
    width:260px;
    margin-bottom:5px;
}
#repo-desc {
    height:70px;
}
/* avatar */
.avatar-op .avatar,
.home-profile .avatar,
.mygroup .avatar,
.group .avatar {
	border-radius: 4px;
	-moz-border-radius: 4px;
}
.avatar-op h3 {
    border:none;
    margin-bottom:2px;
}
.avatar-op .upload-new-avatar-hd {
    margin-top:15px;
}
/*user-basic-info*/
#user-basic-info h2 {
    margin:12px 0 15px;
}
#user-basic-info label {
    text-align:right;
    width:5.5em;
    margin-right:1em;
}
#user-basic-info .avatar,
#user-basic-info textarea {
    vertical-align:text-top;
}
#user-basic-info .avatar,
#user-basic-info .text-input,
#user-basic-info textarea {
    margin-bottom:8px;
}
#user-basic-info .text-input,
#user-basic-info textarea {
    width:260px;
}
#user-basic-info textarea {
    height:70px;
}
#user-basic-info .submit {
    margin-left:6.5em;
}

/*repo page*/
.repo-op button {
    height:25px;
    background:#f5f5f5 scroll no-repeat 3px 48%;
}
#upload-file {
    padding-left:19px;
    background-image:url('../img/upload.png');
    margin-right:5px;
}
#add-new-dir {
    padding-left:23px;
    background-image:url('../img/folder-add.png');
}
.more-op {
    cursor:pointer;
}
.op-list {
    position:absolute;
    left:18px;
    background:#fff;
    padding:6px 1px;
    border:1px solid #eee;
    border-radius:5px;
    -moz-border-radius:5px;
    z-index:10;
}
.op-list li {
    padding:0 12px;
}
.op-target {
    color:#c39;
}
#rename-form .new-name {
    margin-top:8px;
}
.latest-commit .more:hover {
    text-decoration:none;
}
.icon-container {
    text-align:center;
}
.latest-commit-time-author {
    color:#333;
    font-size:13px;
    font-weight:normal;
}
.latest-commit {
    word-wrap:break-word;
}
.latest-commit .author {
    font-style:italic;
}
.latest-commit .time {
    color:#666;
    margin-left:2px;
}
.repo-history {
    font-weight:normal;
    font-size:16px;
    margin: 4px 0 12px 0;
}
.lsch {
    font-size:12px;
    font-weight:normal;
    color:#666;
    text-decoration:underline;
}
#ls-ch {/*repo commit details container*/
    min-width:300px;
    min-height:300px; 
    max-width:850px;
    max-height:550px;
    overflow:auto;
}
#ls-ch ul {
    padding:0 0 6px 0;
}
/*file mv*/
#dirs {
    margin-top:8px;
}
/*repo-share-form*/
#email,
#email_or_group,
#share-link,
#added-member-name {
    width:260px;
    height:80px;
}
/* group, org */
.group-list {
    margin-top:20px;
}
.group {
    width:315px;
    margin:0 25px 15px 0;
}
.group .txt {
    color:#333;
    width:250px;
}
.group h4 {
    margin:0 0 4px;
}
.group p {
    margin:0;
}
.group .item-name {
    display:inline-block;
    width:5em;
    color:#666;
}
.group-member .avatar,
.org-member .avatar {
	border-radius: 2px;
	-moz-border-radius: 2px;
	margin-right: 5px;
}
.group-member .avatar,
.group-member-name,
.org-member .avatar,
.org-member-name {
	vertical-align:middle;
}
#user-profile {
    width:318px;
    position:absolute;
    left:365px;
    top:50px;
    z-index:10;
    padding:15px;;
    min-height:130px;
    border:1px solid #ddd;
    background:#fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
#member-add {
    font-size:13px;
    font-weight:normal;
    padding-left:18px;
    background:transparent url('../img/add.png') scroll no-repeat left 40%;
    margin-top:16px;
}

/* notification admin */
.cur-note { color: red; font-size: 75%; }

/*user-profile*/
.user-profile .pic {
    width:80px;
    text-align:center;
}
.user-profile .avatar {
    border-radius:4px;
    -moz-border-radius:4px;
    margin-bottom:5px;
}
.user-profile .txt {
    width:225px;
    word-wrap:break-word;
}
.user-profile .txt p {
    margin-bottom:4px;
}
.user-profile .intro {
    color:#444;
    font-size:12px;
    margin-top:10px;
}

/* group message and replies */
#group-reply {
    margin-top:50px;
}
.msg-num {
    font-size:12px;
    color:#333;
}
#message {
    width: 600px;
    height: 80px;
    margin-top: 4px;
}
#group-reply .submit {
    margin-top:3px;
}
.msg-list {
    width:602px;
    margin-top: 10px;
}
.msg {
    word-wrap: break-word;
    padding: 10px 0 5px;
    min-height: 48px;
    _min-height: 48px;
}
.msg .txt {
    width:540px;
}
.msg-hd {
    padding:2px 3px;
    background:#fafafa;
    margin-bottom:2px;
}
.msg-hd .time,
.msg-hd .group {
    color: #808080;
}
.msg-hd .group {
    margin-left:30px;
}
.msg-bd .op:hover {
    text-decoration:none;
}
.msg-bd p a {
    color: #666666;
    font-weight: normal;
}
.reply-list {
    color:#444;
    width:90%;
    padding:2px 0 2px 0;
}
.reply-list a {
    color:#666;
    font-weight:normal;
    font-size:12px;
}
.reply-form .text-input {
    width:82%;
}
.at-in-msg {
    color:#e83;
}

/*file upload*/
.upload-file-panel {
    width:400px;
    margin:70px auto 0;
}
#upload-file-form {
    margin-top:10px;
}
#task-progress-bar {/*for progress container*/
    width:95%;
    height:1em;
}
#task-progress-bar .ui-progressbar-value {/*for progress*/
    background:#e83;
    margin:0;
}
#task-progress-bar,
#upload-cancel {
    margin-top:8px;
}

/* file preview */
.file-op {
    color:#444;
    text-align:right;
}
.file-op,
.file-share-from {
    margin-top:0.8em;
}
.file-op a {
    font-weight:normal;
    margin-right:2px;
}
.file-op button {
    color:#444;
    margin-top:3px;
}
#file-view {
    padding:3px;
    background:#dedede;
    border-radius:3px;
    -moz-border-radius:3px;
    margin-top:13px;
}
#docu-view {
    font-size:13px;/*override .ace_editor*/
    font-family: Consolas,"Liberation Mono",Courier,monospace;/*override .ace_editor*/
    min-height: 200px;
    border: 1px solid #ccc;
}
#image-view {
    padding:1px;
    background:#fff;
    border:1px solid #eee;
}
#docu-view,
#svg-view,
#pdf,
#md-view {
    background:#fff;
}
#svg-view {
    min-height:500px;/*for ff*/
}
#doc-view {
    min-height:800px;
}
#pdf {
    border:1px solid #cbcbcb;
}
#pdf-op-bar {
    padding:10px 0 7px;
    margin-bottom:3px;
    border-bottom:1px solid #ddd;
}
#pdf-op-bar button {
    color:#000;
    border-color:#aaa;
    margin:0 5px;
}
#pdf-page {
    margin:0 25px 0 15px;
}
#page-number {
    padding:0 3px;
    min-width:16px;
    width:30px;
    text-align:right;
    border-radius:3px;
    -moz-border-radius:3px;
}
#md-view {
    padding:40px;
    border:1px solid #ccc;
    font-size:14px;
    line-height:1.6;
    color:#333;
}
#md-view h3 {
    color:#000;
    font-weight:bold;
    margin:0.82em 0 0.4em;
}
#md-view p {
    margin:0.8em 0;
}
#md-view ul {
    list-style-type:disc;
    padding-left:2em;
    margin:4px 0;
}
#md-view code {
    font-size:12px;
    white-space: nowrap;
    padding: 1px 5px 0;
    background-color: #F8F8F8;
    border: 1px solid #dadada;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 0 2px;
}
#md-view pre {
    font-size:13px;
    padding:5px 10px;
    background:#f8f8f8;
    border:1px solid #ddd;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin:5px 0;
}
#md-view pre code {
    white-space:pre-wrap;
    padding:0;
    margin:0;
    border:none;
}
#md-view a {
    font-weight:normal;
}

/* shareadmin */
.view-link-alert p {
    display: inline-block;
}

