body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,blockquote,form,input,button,img { margin:0; padding:0; }
ul > li { list-style:none; }
.error { color:red; }
.fleft { float:left }
.fright { float:right }
.clear { clear:both; }
.show { display:block }
.hide { display:none }
.errorlist { color: red; }
.ovhd { overflow:hidden; }
.bold { font-weight:bold; }
.mgb5 { margin-bottom:5px; }
.mgb10 { margin-bottom:10px; }
.mgt10 { margin-top:10px; }
.label { color:#333; font-size:12px; font-style:normal; }
.w100 {
	width: 100%;
}
.notification {
    padding:5px;
    width:580px;
    background:#FDF;
    margin:10px 0;
}
.tip {
    color:#808080;
    font-size:12px;
}
a { color:#ee8833; text-decoration:none; font-weight:bold; }
a:hover { color: #ff9933; text-decoration: underline; }
img { border:none; }
h2 { font-size:18px; color:#808; margin-bottom:8px; }
h3 { font-size:15px; color:#808; font-weight:normal; margin:10px 0 6px; }
ol { padding-left:2em; }
/* table */
table {
    border-spacing: 0;
    border-collapse: collapse;
    width:100%;
    table-layout:fixed;
    margin:5px 0 20px;
}
td, th { padding: 3px; word-break:break-word; }
th { color:#333; text-align:left; }
tr.even { background-color: #FAFAFA; }
tr.odd { background-color: #EBEBEB; }
tr.hl { background-color: #ddddff; }/*highlight*/
.even th { background:#eee; }
.odd th { background:#ddd; }
tr.first { background-color: #00FF00; }

.w350 {
    width:350px;
}
.center {
    margin:0 auto;
}
/* container */
#wrapper { font: 13px/1.5 Arial, Helvetica, sans-serif; }
#header, #main, #footer { width:950px; }
#header, #main { margin:0 auto; }
#header {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}
#main {
    min-height: 400px;
    padding-top: 10px;
}
#left-panel { float:right; width:220px; }
#right-panel { float:left; width:680px; }
#footer { color:#999; padding-top:2px; margin:25px auto; border-top:1px solid #DDD; }
/* top-bar */
#top-bar { height:20px; padding-bottom:21px;  background:#fff url('../img/dropshadow.png') repeat-x center bottom; }
.top-bar { height:20px; color:#fff; text-align:right; font-weight:bold; background:#606; }
.top-bar-in { width:950px; margin:0 auto; }
.top-bar a { color:#ddd; font-weight:normal; }
.top-bar a.cur { text-decoration:underline; }
.top-bar a:hover { background:#A0A; }
/* header */
#header .top-info { margin-bottom:5px;}
#other-info { color: #ccc; text-align:right; }
#other-info .wish { font-style:italic; margin-bottom:10px; }
#other-info .version { font-size: 12px; }
#header .nav li { float: left; height: 18px; padding: 0px 25px 4px 0; }
#header .nav a, #header .nav a:visited { color:#8A948F; font-weight:bold; text-decoration:none; }
#header .nav a.cur { color: #000; }
#header .nav a:hover { color: #ff9933; text-decoration: underline; }
/* footer */
#footer a { color:#333; text-decoration:none; }
/* main */
.with-bg li {
    padding-left:10px;
    line-height:20px;
    background: #fff url('../img/li.gif') no-repeat scroll left 6px;
}
/* profile */
.avatar_op .pic { float:left; margin-right:15px; }
.avatar_op .text { float:left; }
#main .avatar_op ul { padding:0; }
#main .avatar_op ul label { display:none; }
#main .avatar_op ul ul label { display:block; }
#main .avatar_op li { padding:0; background:none; }
#main .avatar_op ul ul li { float:left; margin-right:5px; }
.avatar { float:left; width:120px; }
.ele_info { float:right; width:450px; }
/* input button */
textarea { border: 1px solid #80B0B0; }
input { 
    height:20px;
    line-height:20px;
    margin:2px 0;
    border: 1px solid #80B0B0;
}
input[type=checkbox] {
    height:auto;
}
input[type=submit],
button { 
    color: #080;
    height:23px;
    padding:2px 3px;
    background: #EEE;
    border: 1px solid #80B0B0;
    border-radius: 3px;
    -moz-border-radius:3px;
    margin-top:5px;
}
button {
    margin:0;
}
input[type=submit]:hover,
button:hover { 
    cursor:pointer;
    background: #FFF;
}
label { display: inline-block; margin:2px 0px; }
#user-add-form label,
.reg label,
.pwd_change label {
    width:5em;
    text-align:right;
}
#user-add-form .submit,
.reg .submit {
    margin-left:5em;
}
.login .submit {
    margin-left:3em;
}
.login .error {
    margin:3px 0 0 3em;
}
.pwd_change label {
    width:6em;
}
.pwd_change .submit {
    margin-left:6em;
}
/* popup dialog */
#basic-modal-content {display:none;}
#simplemodal-overlay { background-color:#000; }
#simplemodal-container { background-color:#fff; border:3px solid #080; padding: 18px; }
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container .ui-menu-item a {/*for tip item of autocomplete*/
    color:#e83;
    font-weight:normal;
}
#simplemodal-container h3 {color:#84b8d9;}
.simplemodal-close {
    margin-left:5px;
}
#dialog-delete-confirm {
    text-align:center;
}
/*ui-autocomplete*/
.ui-autocomplete {
    background:#fff;
}
.ui-menu-item {
    background-image:none;
}
/*myhome*/
.mygroup {
	float:left;
	width:70px;
	text-align:center;
	margin:0 3px 5px 0;
}

/*repo page*/
#repo-page h2 {
    margin-bottom:16px;
}
#repo-page .side {
    color:#333;
    width:220px;
}
#repo-page .main {
    width:680px;
}
#repo-page .op,
#repo-page .more {
    font-weight:normal;
    font-size:12px;
    color:#080;
}
#repo-page .op {
    font-size:13px;
}
.latest-commit {
    word-wrap:break-word;
}
.latest-commit .author {
    font-style:italic;
}
.latest-commit .time {
    color:#666;
    margin-left:2px;
}
#repo-history-hd {
    font-weight:normal;
    font-size:16px;
    margin-bottom:14px;
}
/*repo-share-form*/
#to_email {
    width:260px;
    height:80px;
}
/*contact*/
.contact-op-form label {
    width:6em;
    text-align:right;
}
.contact-op-form .submit {
    margin-left:6em;
}
/* group */
.group-member-icon {
	border-radius: 4px;
	-moz-border-radius: 4px;
	margin-right: 5px;
}
.group-member-icon,
.group-member-name {
	vertical-align:middle;
}
#member-add {
	margin-left:10px;
}
