body,div,h1,h2,h3,h4,h5,h6,p,ul,li,blockquote,form,input,button,img { margin:0; padding:0; }
ul > li { list-style:none; }
.error { color:red; }
.float_left { float:left; }
.clear { clear:both; }
.fleft { float:left }
.fright { float:right }
.cleft { clear:left }
.show { display:block }
.hide { display:none }
.errorlist { color: red; }
.ovhd { overflow:hidden; }
.bold { font-weight:bold; }
.mgb10 { margin-bottom:10px; }
.mgt10 { margin-top:10px; }
.center { text-align:center; }
.label { color:#333; font-size:12px; font-style:normal; }
a { color:#ee8833; text-decoration:none; font-weight:bold; }
a:hover { color: #ff9933; text-decoration: underline; }
img { border:none; }
/* table */
table { border-spacing: 0; border-collapse: collapse; width:100%; table-layout:fixed; margin:3px 0 5px; }
td, th { padding: 3px; word-break:break-word; }
th { /*color:#808;*/ color:#333; text-align:left; }
tr.even { background-color: #FAFAFA; }
tr.odd { background-color: #EBEBEB; }
.even th { background:#eee; }
.odd th { background:#ddd; }
tr.first { background-color: #00FF00; }
/* container */
#wrapper { font: 13px/1.5 Arial, Helvetica, sans-serif; }
#header, #main, #footer { width:950px; }
#header, #main { margin:0 auto; }
#header { font-size: 14px; font-weight: bold; margin-bottom:12px; }
#left-panel { float:left; width:120px; }
#right-panel { float:right; width:800px; }
#footer { color:#999; padding-top:2px; margin:25px auto; border-top:1px solid #DDD; }
/* top-bar */
#top-bar { height:20px; padding-bottom:21px;  background:#fff url('../img/dropshadow.png') repeat-x center bottom; }
.top-bar { height:20px; color:#fff; text-align:right; font-weight:bold; background:#606; }
.top-bar-in { width:950px; margin:0 auto; }
.top-bar a { color:#ddd; font-weight:normal; }
.top-bar a:hover { background:#A0A; }
/* #header */
#other-info { color: #ccc; text-align:right; }
#other-info .wish { font-style:italic; margin-bottom:10px; }
#other-info .version { font-size: 12px; }
#header .nav { border-bottom: 1px solid #ddd; margin-top:8px; }
#header .nav li { float: left; height: 18px; padding: 0px 25px 4px 0; background: none; }
#header .nav a, #header .nav a:visited { color:#8A948F; font-weight:bold; text-decoration:none; }
#header .nav a.cur { color: #000; }
#header .nav a:hover { color: #ff9933; text-decoration: underline; }
/* footer */
#footer a { color:#333; text-decoration:none; }
/* main */
h2 { font-size:18px; color:#808; margin-bottom:8px; }
h3 { font-size:14px; color:#808; font-weight:normal; }
ol { margin:0; padding:0px 0 0 2em; list-style-position:inside; }
ul > li { background: url('../img/li.gif') no-repeat scroll; background-position:left 6px; padding-left:10px; }
/* #main ul.ui-tabs-nav > li { background: none; } */
#main ol > li { }
#main li { line-height:20px; }
#main img.click { margin-left:2px; cursor:pointer; }
/* profile */
.avatar_op .pic { float:left; margin-right:15px; }
.avatar_op .text { float:left; }
#main .avatar_op ul { padding:0; }
#main .avatar_op ul label { display:none; }
#main .avatar_op ul ul label { display:block; }
#main .avatar_op li { padding:0; background:none; }
#main .avatar_op ul ul li { float:left; margin-right:5px; }
.avatar { float:left; width:120px; }
.ele_info { float:right; width:450px; }
/* input button */
textarea { border: 1px solid #80B0B0; }
input { 
    height:20px;
    line-height:20px;
    margin:2px 0;
    border: 1px solid #80B0B0;
}
input[type=checkbox] {
    height:auto;
}
input[type=submit],
button { 
    color: #080;
    height:23px;
    padding:2px 3px;
    background: #EEE;
    border: 1px solid #80B0B0;
    border-radius: 3px;
    -moz-border-radius:3px;
    margin-top:5px;
}
input[type=submit]:hover,
button:hover { 
    cursor:pointer;
    background: #FFF;
}
button {
    margin:0;
}
label { display: inline-block; margin:2px 0px; }
#user-add-form label,
.reg label,
.pwd_change label {
    width:5em;
    text-align:right;
}
#user-add-form .submit,
.reg .submit {
    margin-left:5em;
}
.login .submit {
    margin-left:3em;
}
.login .error {
    margin:3px 0 0 3em;
}
.pwd_change label {
    width:6em;
}
.pwd_change .submit {
    margin-left:6em;
}
/* form */
/* forms */

/* popup dialog */
#basic-modal-content {display:none;}
#simplemodal-overlay {background-color:#000; cursor:wait;}
#simplemodal-container { background-color:#fff; border:3px solid #080; padding: 8px; }
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}

/* home */
#home-snapshot { border:1px solid #000; float:right; margin:0 0 0 20px; }
strong { color:#808; font-weight: normal; }
.home-page h2 { color: #e83; }
#main-show {
    margin: 0 0 25px 50px; padding: 10px 10px;
    border-radius: 3px; -moz-border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.0976562) 0px 8px 16px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0976562) 0px 8px 16px;
    -moz-box-shadow: rgba(0, 0, 0, 0.0976562) 0px 8px 16px;
    width: 800px;
    height: 235px;
}
#main-show #feature-list {
    margin: 0 0 0 20px;
    font-size: 16px;
    color: #808;
}
#main-show #feature-list li {
    background-position:left 11px;
    line-height: 32px;
}
#seafile-show .show-item { 
    margin: 20px 0 0 0;
    width: 420px; height: 140px; float: left;
    padding: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 10px; -moz-border-radius: 10px;
}
#seafile-show .show-item2 { 
    margin: 20px 0 0 50px; width: 420px; height: 140px; float: left; 
    padding: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 10px; -moz-border-radius: 10px;
}
#seafile-show img { float: left; margin: 0 8px 8px 0; }
#seafile-show p { color: #444; font-size: 15px; margin-left: 10px; }
#seafile-what {
    margin-top: 20px;
    float: left;
    width: 440px;
}
#seafile-history {
    float: left;
    margin: 20px 0 0 70px;
    width: 440px;
}
div.home-page h2 { font-style: italic; }
/* help pages */
.help-page { width: 550px; }
.help-page img { display: block; margin: 20px auto; }

#id_repo_id { width:300px; }

span.small-action-link { font-size: 9px; }
input.ccnet_id { width: 400px; }
.notification {
    padding:5px;
    width:580px;
    background:#FDF;
    margin:10px 0;
}
.repo-list {
    margin-bottom: 12px;
}
/*repo page*/
#repo-page h2 {
    margin-bottom:16px;
}
#repo-page .side {
    color:#333;
    width:260px;
}
#repo-page .main {
    width:650px;
}
#repo-page .more {
    font-weight:normal;
    font-size:12px;
    color:#080;
}
.latest-commit {
    word-wrap:break-word;
}
.latest-commit .author {
    font-style:italic;
}
.latest-commit .time {
    color:#666;
    margin-left:2px;
}
.tip {
    color:#808080;
    font-size:12px;
}
.simplemodal-close {
    margin-left:5px;
}
#repo-history-hd {
    font-weight:normal;
    font-size:16px;
    margin-bottom:14px;
}
/*repo-share-form*/
#to_email {
    width:260px;
    height:80px;
}
#repo-share-form .ui-autocomplete {
    background:#fff;
}
#repo-share-form .ui-menu-item {
    background-image:none;
}
#repo-share-form a {
    color:#e83;
    font-weight:normal;
}
