/**
 * CONTENTS
 *
 * Font Icons
 * sf2-icon-xx ...........seafile-font2
 *
 *
 * Helper
 * common class ..........common class
 *
 * UI Widgets(ui widgets)
 * topbar button
 * caret
 * loading
 * popover
 * op-icon
 * account
 * quota
 * nav, nav-pills
 * side-panel
 * about-dialog
 * notifications
 * sf-popover
 * go-back
 * top-logo
 * base-table
 * table-item rename-component
 * more-btn
 * dropdown-menu
 * empty-tip
 * file-tag
 * mobile-menu
 */
/****** sf2-icon-xx ********/
@font-face {
  font-family: 'seafile-font2';
  src: url('sf_font2/seafile-font2.eot');
  src: url('sf_font2/seafile-font2.eot?#iefix') format('embedded-opentype'),
    url('sf_font2/seafile-font2.woff') format('woff'),
    url('sf_font2/seafile-font2.ttf') format('truetype'),
    url('sf_font2/seafile-font2.svg#seafile-font2') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="sf2-icon-"],
[class*=" sf2-icon-"] {
  font-family: 'seafile-font2';
  speak: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.sf2-icon-histogram:before {
  content: "\e000";
}

.sf2-icon-wrench:before {
  content: "\e001";
}

.sf2-icon-clock:before {
  content: "\e002";
}

.sf2-icon-bell:before {
  content: "\e003";
}

.sf2-icon-delete:before {
  content: "\e006";
}

.sf2-icon-monitor:before {
  content: "\e007";
}

.sf2-icon-download:before {
  content: "\e008";
}

.sf2-icon-msgs:before {
  content: "\e00b";
}

.sf2-icon-group:before {
  content: "\e00c";
}

.sf2-icon-link:before {
  content: "\e00e";
}

.sf2-icon-user:before {
  content: "\e00f";
}

.sf2-icon-organization:before {
  content: "\e010";
}

.sf2-icon-share:before {
  content: "\e011";
}

.sf2-icon-star:before {
  content: "\e012";
}

.sf2-icon-wiki:before {
  content: "\e013";
}

.sf2-icon-wiki-view:before {
  content: "\e013";
}

.sf2-icon-history:before {
  content: "\e014";
}

.sf2-icon-cog1:before {
  content: "\e015";
}

.sf2-icon-trash:before {
  content: "\e016";
}

.sf2-icon-security:before {
  content: "\e017";
}

.sf2-icon-tick:before {
  content: "\e01e";
}

.sf2-icon-x2:before {
  content: "\e01f";
}

.sf2-icon-edit:before {
  content: "\e018";
}

.sf2-icon-caret-down:before {
  content: "\e01a";
}

.sf2-icon-cog2:before {
  content: "\e01b";
}

.sf2-icon-x1:before {
  content: "\e01d";
}

.sf2-icon-minus:before {
  content: "\e01c"
}

.sf2-icon-confirm:before {
  content: "\e01e"
}

.sf2-icon-cancel:before {
  content: "\e01f"
}

.sf2-icon-user2:before {
  content: "\e020";
}

.sf2-icon-grid-view:before {
  content: "\e025";
}

.sf2-icon-list-view:before {
  content: "\e026";
}

.sf2-icon-plus:before {
  content: "\e027";
}

.sf2-icon-copy:before {
  content: "\e028"
}

.sf2-icon-move:before {
  content: "\e029"
}

.sf2-icon-reply:before {
  content: "\e02a";
}

.sf2-icon-admin-log:before {
  content: "\e02e";
}

.sf2-icon-info:before {
  content: "\e02f";
}

.sf2-icon-menu:before {
  content: "\e031";
}

.sf2-icon-more:before {
  content: "\e032";
}

.sf2-icon-x3:before {
  content: "\e035";
}

.sf2-icon-close:before {
  content: "\e035";
}

.sf2-icon-two-columns:before {
  content: "\e036";
}

.sf2-icon-tag:before {
  content: "\e037"
}

.sf2-icon-review:before {
  content: "\e038"
}

.sf2-icon-readme:before {
  content: "\e039"
}

.sf2-icon-drafts:before {
  content: "\e03a"
}

.sf2-icon-recycle:before {
  content: "\e03b"
}

.sf2-icon-library:before {
  content: "\e00d";
}

.sf2-icon-invite:before {
  content: "\e02b";
}

/* common class and element style*/
body {
  overflow-y: auto;
}

ul, ol, li {
  padding: 0;
  margin: 0;
}

dl {
  margin: 1.5em 0;
}

dt {
  color: #666;
  margin: 24px 0 2px;
  font-weight: normal;
}

dd {
  margin-bottom: .8em;
  color: var(--bs-body-color);
}

input::placeholder,
textarea::placeholder {
  color: #868e96;
}

.vam {
  vertical-align: middle;
}

.flex-auto {
  flex: auto;
}

.flex-1 {
  flex: 1;
}

.flex-none {
  flex: none;
}

.hide {
  display: none;
}

.error {
  color: red;
}

.no-deco,
.no-deco:hover,
.no-deco:focus {
  text-decoration: none;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.op-target {
  color: #ED7109;
  word-wrap: break-word;
}

.left-zero {
  left: 0px !important;
}

.sf-heading {
  font-size: 1rem;
  color: var(--bs-body-color);
  font-weight: normal;
  line-height: 1.5;
}

.cur-view-path .sf-heading {
  margin: 0;
}

.sf-heading .nav-icon {
  font-size: 1rem;
  margin-right: 6px;
  line-height: 1;
  color: #999;
}

.sf-heading .sf-dropdown-toggle {
  font-size: .75rem;
}

.sf-link {
  color: #ed7109 !important;
  cursor: pointer;
}

.sf-border-bottom {
  border-bottom: 1px solid var(--bs-border-color);
}

.vh {
  visibility: hidden;
}

.pl10 {
  padding-left: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.tr-drag-effect {
  /* just for drag&drop item */
  background-image: url('../img/grippy_large.png');
  background-repeat: no-repeat;
  background-position: 0px;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.sf-dropdown-toggle {
  margin-left: 0.5rem;
  vertical-align: middle;
  font-style: normal;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  color: #999;
}

.sf-dropdown-toggle:focus,
.sf-dropdown-toggle:hover {
  color: var(--bs-body-color);
}

.user-select-none {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.dialog-list-container {
  /* for dialog containing list */
  min-height: 20rem;
  max-height: 25rem;
  overflow: auto;
}

.link-dropdown-container {
  padding: 0;
  text-align: center;
}

.link-dropdown-item {
  display: block;
  padding: 0.25rem 1.5rem;
  color: #6e7687;
}

.link-dropdown-item:hover {
  color: #fff;
  text-decoration: none;
}

.link-dropdown-item:active {
  color: #fff;
}

.side-nav-toggle {
  /* just for control side-panel */
  margin-right: 0.9375rem;
  font-size: 1.5rem;
  color: #999;
  cursor: pointer;
}

.op-bar-btn {
  border-color: #ccc;
  border-radius: 2px;
  height: 30px;
  line-height: 28px;
  font-weight: normal;
  padding: 0 0.5rem;
  min-width: 55px;
}

/* for 'extra small' */
@media (max-width: 575px) {
  .w-xs-200 {
    width: 200%;
  }

  .w-xs-250 {
    width: 250%;
  }
}

/** loading **/
@-moz-keyframes loading {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading-icon {
  display: inline-block;
  width: 26px;
  height: 26px;
  border: 2px solid #eee;
  border-left-color: #aaa;
  border-radius: 50%;
  -moz-animation: loading 0.9s infinite linear;
  -webkit-animation: loading 0.9s infinite linear;
  animation: loading 0.9s infinite linear;
}

.loading-tip {
  display: block;
  margin: 1em auto;
}

/** op-icon **/
.op-icon {
  font-size: 1rem;
  line-height: 1;
  color: var(--bs-icon-secondary-color);
  cursor: pointer;
  display: inline-flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin-right: 0.25rem;
}

.op-icon:focus,
.op-icon:hover {
  color: var(--bs-icon-secondary-color); /* to overwrite the styles for `a:hover` */
  text-decoration: none;
  background: var(--bs-hover-secondary-bg);
}

.op-icon-bg-light:focus,
.op-icon-bg-light:hover {
  background: var(--bs-hover-bg); /* for .op-icon shown in white containers */
}

.action-icon,
.attr-action-icon {
  margin-left: 0.5rem;
  font-size: 1.25rem;
  font-style: normal;
  line-height: 1;
  cursor: pointer;
  vertical-align: middle;
}


.action-icon,
.attr-action-icon {
  color: #666 !important;
}

.action-icon.sf3-font-copy1,
.action-icon.sf3-font-delete1 {
  width: 24px;
  height: 24px;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.action-icon.sf3-font-delete1:hover,
.action-icon.sf3-font-copy1:hover {
  background-color: var(--bs-hover-bg);
}

.action-icon:focus,
.action-icon:hover,
.attr-action-icon:focus,
.attr-action-icon:hover {
  color: var(--bs-body-color) !important;
  text-decoration: none;
}

.attr-action-icon {
  font-size: 0.875rem;
}

/* action-link */
.action-link {
  display: inline-block;
  padding: 0.5rem 0;
  text-decoration: underline;
  color: #666;
  cursor: pointer;
  user-select: none;
}

/** Account info **/
#account {
  position: relative;
}

#my-info {
  display: inline-block;
  color: #bdbdbd;
  cursor: pointer;
}

#my-info:hover {
  color: #9e9e9e;
}

#account .avatar {
  vertical-align: middle;
  border-radius: 1000px;
}

@media (max-width:767px) {
  #account {
    margin: 5px 0 0 10px;
  }

  .account-toggle {
    font-size: 22px;
    line-height: 1;
    color: #999;
    margin-top: 8px;
  }
}

.account-popup .avatar {
  float: left;
}

.account-popup .txt {
  margin-left: 45px;
  line-height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.account-popup {
  right: 0;
  top: 43px;
  font-size: 13px;
}

.account-popup .sf-popover-con {
  padding: 0;
}

.account-popup .item {
  display: block;
  padding: 8px 18px;
  border-bottom: 1px solid var(--bs-border-color);
}

.account-popup .item:last-child {
  border-bottom: none;
}

.account-popup a.item {
  color: var(--bs-body-color);
  font-weight: normal;
}

.account-popup a.item:hover {
  background: var(--bs-nav-hover-bg);
  text-decoration: none;
}

.account-popup .space-traffic {
  padding: 7px 0;
}

.account-popup .space-traffic>p {
  margin-bottom: 6px;
  font-size: 12px;
}

#account .manage {
  position: absolute;
  left: 60px;
  top: -16px;
}

#account .manage .a:hover {
  text-decoration: none;
}

/** quota in account popover **/
#quota-bar {
  display: block;
  height: 6px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #eee;
}

#quota-bar .usage {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  background: #ED7109;
}

#quota-usage {
  background: #ddd;
}

.department-usage-container {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.75rem;
}

.department-usage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.department-usage .department-quota-bar {
  flex: 1;
  margin-right: 0.5rem !important;
  height: 0.75rem !important;
  width: 60px;
}

.department-usage .department-quota-info {
  font-size: 0.75rem;
  color: #666;
}

@media (max-width:767px) {
  .cur-view-toolbar .mobile-icon {
    color: #999;
    line-height: 1.63;
    font-size: 22px;
    margin-right: 8px;
  }
}

/* sf-nav-link */
.nav .nav-item {
  padding: 0;
}

.nav .nav-item .nav-link {
  padding: 0.5rem 0;
  margin-right: 30px;
  color: var(--bs-body-color);
  font-weight: normal;
  transition: none;
  border-bottom: 0.125rem solid transparent;
}

.cur-view-path .nav .nav-item .nav-link {
  padding: 11px 0;
}

.nav .nav-item .nav-link.active {
  color: #ED7109;
  text-decoration: none;
  border-bottom-color: #ED7109;
  z-index: 1;
}

.nav-pills .nav-item .nav-link {
  padding: 0.25rem;
  color: var(--bs-body-color);
  font-size: 15px;
}

.nav-pills .nav-item .nav-link:hover {
  background-color: var(--bs-link-hover-color);
}

.nav-pills .nav-item .nav-link.active {
  background-color: #ff9800;
  color: var(--bs-highlight-color);
  border-bottom: 0.125rem solid transparent;
}

.cur-view-path.tab-nav-container {
  padding: 0 16px;
}

.cur-view-path.tab-nav-container .nav .nav-item .nav-link {
  justify-content: center;
  /* make short word like 'All' in the center */
  margin: 0 0.75rem;
}

/* side-panel */
.side-panel {
  user-select: none;
  height: 100%;
}

.side-nav {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* make .side-nav-footer on the bottom */
  overflow: hidden;
  /* for ff */
}

.side-nav:hover {
  overflow-y: auto;
}

.side-nav-con {
  flex: 1;
  padding: .75rem .5rem;
  overflow: hidden;
}

.side-nav-con:hover {
  overflow-y: auto;
}

.side-nav-link {
  display: flex;
  margin: 24px 12px;
  color: #FFFFFF;
  border-radius: 0.25rem;
  background-color: #ff9800;
}

.side-nav-link:hover {
  background-color: #d98100;
  cursor: pointer;
}

.side-nav-link .link-icon {
  padding: 0 0.5rem;
  font-size: 1.5rem;
}

.side-nav-link .link-icon.icon-right {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.side-nav-link .link-text {
  display: flex;
  flex: 1;
  align-items: center;
  padding-left: 0.25rem;
}

/* for folded 'side nav' */
.side-panel-folded .nav {
  margin: 0 !important;
}

.side-panel-folded .nav .nav-item {
  margin-bottom: 4px;
}

.side-panel-folded .heading,
.side-panel-folded .nav-item#share-admin-nav,
.side-panel-folded .nav-item .toggle-icon {
  display: none !important;
}

.side-nav-bottom-toolbar {
  height: 38px;
  cursor: pointer;
  color: var(--bs-body-color);
}

.side-nav-bottom-toolbar:hover {
  background: var(--bs-nav-hover-bg);
}

/* folded 'side nav' ends */

.side-nav-footer {
  display: flex;
  flex-shrink: 0;
  padding: 12px 20px 16px;
  background: #f8f8f8;
  border-top: 1px solid #eee;
  font-size: 13px;
}

.side-nav-footer .item {
  color: #666 !important;
  font-weight: normal;
  margin-right: 10px;
}

.side-nav-footer .item:hover {
  text-decoration: underline !important;
}

.side-nav-footer .last-item {
  margin-left: auto;
}

.side-nav-con .heading {
  font-size: .9375rem;
  color: #666666;
}

.side-nav-con>.nav {
  margin-bottom: 1rem;
}

.side-nav-con .nav .nav-item,
.side-nav-con .nav .nav-item .nav-link {
  width: 100%;
}

.side-nav-con .nav .nav-item .nav-link {
  height: 38px;
  padding: 0 .5rem;
  margin: 0;
}

.side-nav-con .active .sharp,
.side-nav-con .active .nav-text {
  font-weight: bold;
}

.side-nav-con .active .seafile-multicolor-icon,
.side-nav-con .active [class^="sf2-icon-"],
.side-nav-con .active [class^="sf3-font-"],
.side-nav-con .active .nav-icon,
.side-nav-con .active .sharp {
  color: #fff;
}

.side-nav-con .seafile-multicolor-icon,
.side-nav-con [class^="sf2-icon-"],
.side-nav-con [class^="sf3-font-"] {
  font-size: 1.25rem;
  line-height: 1;
  color: #999;
  margin-right: 0.5rem;
}

.side-nav-con .sharp {
  display: inline-block;
  width: 2.625rem;
  margin-right: 0.325rem;
  text-align: right;
  color: #aaa;
}

.side-nav-con .toggle-icon {
  color: #666666;
  margin-left: auto;
}

.side-nav-con .toggle-icon.sf3-font-down {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

#draft-num {
  font-size: 75%;
  color: #5B5F65;
  background-color: #EDEDEE;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  min-width: 1.3rem;
  min-height: 1.3rem;
  padding: 0 2px;
  margin-left: auto;
}

.side-nav-con .sub-nav {
  overflow: hidden;
  width: 100%;
}

.side-nav-con .sub-nav .nav-item .nav-link {
  padding: 0;
  display: block;
  font-size: 0.875rem;
  line-height: 1.5rem;
  height: auto;
}

.side-nav-con .sub-nav#share-admin-sub-nav .nav-item .nav-link,
.side-nav-con .sub-nav#files-sub-nav .nav-item .nav-link {
  height: 28px;
  line-height: 28px;
}

.side-nav-con .sub-nav#files-sub-nav .nav-item .nav-link {
  padding-left: 2.25rem;
  display: flex;
  align-items: center;
}

.side-nav-folded .sub-nav#files-sub-nav .nav-item .nav-link {
  padding-left: .5rem;
}

.side-nav-con .sub-nav#files-sub-nav .nav-item .nav-link .nav-icon {
  font-size: 1rem;
  margin-right: 6px;
}

/* files container height more than 200px, use 0.3s animation */
.side-panel-slide {
  transition: all .3s ease-in-out;
}

.side-panel-slide-up {
  transition: all .3s ease-in-out;
  height: 0;
}

/* share admin container height less than 100px, use 0.15s animation */
.side-panel-slide-share-admin {
  transition: all .15s ease-in-out;
}

.side-panel-slide-up-share-admin {
  transition: all .15s ease-in-out;
  height: 0;
}

/* about dialog */
.about-content {
  min-width: 280px;
  padding-top: 20px;
  text-align: center;
}

/**** sf-popover ****/
/* e.g. top notice popup, group members popup */
.sf-popover-container {
  position: relative;
}

.sf-popover {
  width: 240px;
  background: var(--bs-body-bg);
  border: 1px solid var(--bs-border-color);
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  position: absolute;
  z-index: 20;
}

.sf-popover-hd {
  padding: 5px 0 3px;
  margin: 10px;
}

.sf-popover-title {
  text-align: center;
}

.sf-popover-close {
  font-size: 16px;
  color: #b9b9b9;
  margin: 4px 0 0;
  float: right;
}

.sf-popover-con {
  padding: 0 10px;
  overflow: auto;
}

.sf-popover-list {
  border-top: 1px solid #e3e3e5;
  list-style: none;
  margin-top: 5px;
  padding-top: 5px;
}

a.sf-popover-item {
  display: block;
  color: #444;
  font-weight: normal;
  line-height: 31px;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0px -10px;
}

a.sf-popover-item:hover {
  background-color: #f8f8f8;
}

/* basic layout */
.side-panel-top {
  padding: .5rem 1rem;
}

.side-panel-close {
  margin: 10px 0 0 auto;
}

.panel-top {
  padding: .5rem 1rem;
  background: #f4f4f7;
  border-bottom: 1px solid var(--bs-border-color);
  display: flex;
  flex-shrink: 0;
  min-height: 49px;
}

/* top logo */
.top-logo {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

/* path navigation */
.path-container {
  /* for the real path */
  font-size: 1rem;
  word-break: break-all;
}

.path-split {
  display: inline-block;
  padding: 0 5px;
  color: #666;
}

.path-link {
  color: #ED7109 !important;
  text-decoration: none;
}

.path-link:hover {
  cursor: pointer;
  text-decoration: underline !important;
}

/* base table style */
table {
  width: 100%;
  table-layout: fixed;
}

table thead tr {
  height: 2.1875rem;
}

table tbody tr {
  height: 2.5625rem;
}

table th {
  padding: 0.3125rem 0.1875rem;
  border-bottom: 1px solid var(--bs-border-color);
  text-align: left;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.6;
  color: #666;
}

table td {
  padding: 0.5rem 0.1875rem;
  border-bottom: 1px solid var(--bs-border-color);
  color: var(--bs-body-color);
  font-size: 0.875rem;
  word-break: break-all;
}

.table>:not(caption)>*>*,
.text-wrap table>:not(caption)>*>* {
  box-shadow: none;
}

.table-thead-hidden thead tr {
  height: 0;
  border: 0;
}

.table-thead-hidden thead th {
  /* hide table th */
  padding: 0;
  border: 0;
  font-size: 0;
}

.table-thead-hidden thead .sf3-font {
  display: none !important;
}

.tr-highlight {
  background-color: var(--bs-tr-hover-bg);
}

.tr-active {
  background-color: var(--bs-tr-active-bg) !important;
}

/* table-item reanme-component */
.rename-container input {
  box-sizing: content-box;
  padding: 2px 3px;
  width: 20rem;
  max-width: 100%;
  height: 22px;
  line-height: 19px;
  border-radius: 2px;
  word-wrap: break-word;
  vertical-align: middle;
  border: 1px solid var(--bs-border-color);
}

.rename-container input:focus {
  background-color: #fff;
  border-color: #1991eb;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.25);
}

@media (max-width: 767px) {
  .rename-container input {
    width: 10rem;
  }
}

/* table-item loading-more-data */
.list-show-more {
  padding: 0.25rem 0.75rem;
  line-height: 2rem;
  text-align: center;
  color: #ED7109;
  cursor: pointer;
}

.list-show-more:hover {
  background-color: #eee;
}

.list-show-more .more-message {
  font-size: 0.875rem;
  color: #666;
  text-decoration: underline;
}

/* table sort */
a.table-sort-op {
  color: inherit;
}

@media (max-width:767px) {
  a.table-sort-op {
    display: inline-block;
    margin-left: 15px;
  }
}

a.table-sort-op .sf3-font.sf3-font-sort3 {
  font-size: 12px;
}

a.table-sort-op.sf3-font {
  font-size: 13px;
}

a.table-sort-op:hover {
  outline: none;
  text-decoration: none;
}

/* dropdown-menu style */
.dropdown {
  vertical-align: middle;
}

.dropdown-menu {
  min-width: 200px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  height: 32px;
  padding: 0.25rem 1rem;
  line-height: 1.5;
  cursor: pointer;
  color: var(--bs-dropdown-link-color);
  font-size: 14px;
}

.dropdown-item .sf3-font,
.dropdown-item .sf2-icon-tick {
  color: #666;
}

.btn-secondary.dropdown-toggle.dropdown-item {
  line-height: 1.5;
}

.show>.btn-secondary.dropdown-toggle.dropdown-item {
  color: #fff;
  background-color: #20a0ff;
}

.show>.btn-secondary.dropdown-toggle.dropdown-item .dropdown-item-icon,
.dropdown-item:hover .sf3-font,
.dropdown-item:hover .dropdown-item-icon,
.dropdown-item:hover .btn .dropdown-item-icon,
.dropdown-item:focus .dropdown-item-icon,
.dropdown-item:focus .btn .dropdown-item-icon,
.dropdown-item:hover .sf2-icon-tick,
.dropdown-item:focus .sf2-icon-tick,
.dropdown-item:hover .metadata-view-icon,
.dropdown-item:focus .metadata-view-icon {
  color: #fff;
}

.err-tip {
  margin: 2rem auto;
  padding: 30px 40px;
  font-size: 1rem;
  color: #666;
  text-align: center;
}

.err-message {
  margin-left: 0.5rem;
  color: red;
}

/* file-tag */
.tag-list {
  position: relative;
  justify-content: flex-end;
}

.tag-list .file-tag {
  cursor: pointer;
}

.tag-list .file-tag:last-child {
  margin-right: 0;
}

.tag-list-stacked .file-tag {
  margin-right: -0.5rem;
  border: 0.125rem solid #fff;
  cursor: pointer;
}

.file-tag {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.dirent-item.tag-list {
  display: flex;
  align-items: center;
  width: max-content;
  min-height: 1rem;
}

/* react select-module */
.select-module {
  font-size: 1rem;
}

.select-module.select-module-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.select-module.select-module-name {
  margin-left: 0.5rem;
}

/* thumbnail */
.thumbnail {
  max-width: 24px;
  max-height: 24px;
}

@media (max-width: 767px) {

  /* mobile menu */
  .item-meta-info {
    display: inline-block;
    margin-right: 8px;
    font-size: 12px;
    color: #666;
  }

  .item-meta-info-highlighted {
    display: inline-block;
    margin: 0 0 .2em .8em;
    padding: 0 .5em;
    background: #ffbd6f;
    border-radius: 2px;
    color: #fff;
    font-size: 0.75rem;
  }

  .mobile-dropdown-menu {
    position: static!important;
    transform: none!important;
  }

  .mobile-operation-menu-bg-layer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    opacity: 0.4;
    z-index: 1051; /* higher than 1050 which was set for .modal */
  }

  .mobile-operation-menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .5em 0;
    background: #fff;
    text-align: center;
    z-index: 1052;
  }

  /* toolbar icon */
  .mobile-toolbar-icon {
    color: #999;
    font-size: 1.375rem;
    margin-right: 0.5rem;
  }

  .mobile-menu-item {
    color: #000;
    line-height: 2rem;
    font-size: 0.875rem;
  }

}

.file-view-tip {
  min-height: 130px;
  padding: 30px 10px 10px;
  width: calc(100% - 40px);
  max-width: 950px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 6px #ccc;
  text-align: center;
}

#wiki-file-content {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 20%;
  top: 49px;
  padding: 30px 16px 20px 30px;
  z-index: 2;
  background: #fff;
  overflow: auto;
  display: flex;
}

#wiki-file-content .article {
  width: calc(100% - 200px);
  padding-left: 10px;
  padding-right: 40px;
}

#wiki-file-content .article h1 {
  margin-top: 0;
}

#wiki-file-content #wiki-page-last-modified {
  padding: 40px 0;
  font-size: 12px;
  color: #666;
}

#wiki-file-content .seafile-markdown-outline {
  position: fixed;
  top: 79px;
  right: 10px;
  width: 200px;
  overflow: auto;
  height: 80%;
}

#wiki-file-content .seafile-markdown-outline .seafile-editor-outline {
  padding-right: 16px;
}

@media (max-width: 767px) {
  #wiki-file-content {
    left: 0;
    padding: 30px 14px 0;
  }

  #wiki-file-content .article {
    margin: 0;
    padding: 0 10px;
    width: 100%;
  }

  #wiki-file-content .seafile-markdown-outline {
    display: none;
  }
}

.seafile-md-viewer-content .article {
  padding: 0;
}

.seafile-md-viewer-content {
  background: #fff;
  padding: 70px 75px;
  border: 1px solid #e6e6dd;
  min-height: calc(100% - 60px);
}

.seafile-md-viewer-outline-heading2,
.seafile-md-viewer-outline-heading3 {
  margin-left: .75rem;
  line-height: 2.5;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.seafile-md-viewer-outline-heading3 {
  margin-left: 2rem;
}

.seafile-md-viewer-outline-heading2:hover,
.seafile-md-viewer-outline-heading3:hover {
  color: #ED7109;
}

.seafile-markdown-outline {
  position: fixed;
  padding-right: 1rem;
  top: 97px;
  right: 0;
  width: 200px;
  overflow: auto;
  height: 80%;
}

.seafile-editor-outline {
  border-left: 1px solid #ddd;
}

.seafile-markdown-outline .active {
  color: #ED7109;
  border-left: 1px solid #ED7109;
}

.seafile-markdown-outline .outline-h2,
.seafile-markdown-outline .outline-h3 {
  height: 30px;
  margin-left: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.seafile-markdown-outline .outline-h2 {
  padding-left: 20px;
}

.seafile-markdown-outline .outline-h3 {
  padding-left: 40px;
}

#wiki-file-content .seafile-markdown-outline .outline-h2,
#wiki-file-content .seafile-markdown-outline .outline-h3 {
  height: 24px;
  font-size: 12px;
  color: #4d5156;
}

#wiki-file-content .seafile-markdown-outline .outline-h2.active,
#wiki-file-content .seafile-markdown-outline .outline-h3.active {
  color: #ED7109;
}

#wiki-file-content .seafile-markdown-outline .seafile-markdown-outline {
  overflow-y: hidden;
  margin-right: 10px;
}

#wiki-file-content .seafile-markdown-outline .seafile-markdown-outline:hover {
  overflow-y: auto;
}

.modal-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modal-close {
  color: #000;
  opacity: 0.5;
  font-weight: 700;
  cursor: pointer;
}

.modal-close:hover {
  opacity: 0.75;
}

.word-break-all {
  word-break: break-all;
}

.side-panel .nav .nav-item .nav-link.active {
  color: var(--bs-body-color);
  text-decoration: none;
  border-bottom: none;
  z-index: 1;
}

.side-panel .nav-pills .nav-item .nav-link:hover {
  background-color: var(--bs-nav-hover-bg);
}

.side-panel .nav-pills .nav-item .nav-link.active {
  background-color: var(--bs-nav-active-bg);
  color: var(--bs-body-color);
  border: none;
}

.side-panel .nav-pills .nav-item .nav-link.active:hover {
  background-color: var(--bs-nav-hover-bg);
}

.side-panel .side-nav-con {
  padding: 0.75rem 1rem;
}

.side-panel .side-nav-con .active .sharp,
.side-panel .side-nav-con .active .nav-text {
  font-weight: normal;
}

.side-panel .side-nav-con .active .seafile-multicolor-icon,
.side-panel .side-nav-con .active [class^="sf2-icon-"],
.side-panel .side-nav-con .active [class^="sf3-font-"],
.side-panel .side-nav-con .active .nav-icon,
.side-panel .side-nav-con .active .sharp {
  color: #999;
}

.side-panel .side-nav .side-nav-con .nav-item {
  position: relative;
  background-color: var(--bs-body-bg);
}

.side-panel .side-nav .side-nav-con .nav-item.active::before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  height: 30px;
  left: -8px;
  top: 4px;
  background-color: #ff9800;
  border-radius: 2px;
  z-index: 2;
}

.side-panel .side-nav .side-nav-con #share-admin-nav .nav-item.active::before,
.side-panel .side-nav .side-nav-con #files-sub-nav .nav-item.active::before {
  top: 2px;
  height: 24px;
}

.side-panel .side-nav-con .sub-nav {
  overflow: visible;
  width: 100%;
}

.side-panel .side-nav-con .nav .nav-item .nav-link {
  border: none;
}

.rotate-90 {
  transform: rotate(90deg) !important;
}

.rotate-180 {
  transform: rotate(180deg) !important;
}

.rotate-270 {
  transform: rotate(270deg) !important;
}

/* All triangle icon use 12px */
.sf3-font-down {
  font-size: 12px !important;
}

.visually-hidden {
  display: none !important;
}

.form-label {
  display: inline-block;
  margin-bottom: .5rem;
  font-weight: 400;
  font-size: 15px;
}

.input-group .input-group-text:not(:first-child) {
  border-left: none;
}

.custom-switch-description {
  color: var(--bs-body-color);
}
