{% extends base_template %}
{% load seahub_tags avatar_tags  i18n %}

{% block sub_title %}{% trans "Messages" %} - {% endblock %}

{% block left_panel %}
<div class="info-item">
    <h3 class="info-item-top">{% trans "User Info" %}</h3>
    <div class="info-item-bottom home-profile ovhd">
        {% avatar to_email 48 %}
        <div class="txt fright">
            <p>{% if to_email %}{{ to_email|email2nickname }}{% else %}{% trans "No Nickname" %}{% endif %}</p>
            {% if add_to_contacts %}
            <button id="add">{% trans "Add to contacts" %}</button>
            {% endif %}
        </div>
    </div>
    
</div>

{% endblock %}

{% block right_panel %}

<div class="tabnav">
    <ul class="tabnav-tabs">
        <li class="tabnav-tab tabnav-tab-cur"><a href="{% url 'user_msg_list' to_email|id_or_email %}">{% trans "Messages" %}</a></li>
        <li class="tabnav-tab"><a href="{% url 'user_share_list' to_email|id_or_email %}">{% trans "Shares" %}</a></li>
    </ul>
</div>

<div id="personal-msg-panel" class="msg-panel personal-msg-panel">

    {% if request.user.is_authenticated %}
    {% if to_email %}
    <form id="personal-message-form" class="msg-form" action="{% url 'message_send' %}" method="post" onsubmit="return check(this)">{% csrf_token %}
       {% avatar request.user.username 48 %}
        <textarea name="mass_msg" id="message" placeholder="{% trans "Send a message..." %}" class="msg-input"></textarea><br />
        <input type = "hidden" value = "{{ to_email }}" name= "mass_email"/>
        {% for error in form.message.errors %}
        <p class="error">{{ error|escape }}</p>
        {% endfor %}
        <button type="submit" class="submit hide">{% trans "Submit" %}</button>
        <button type="button" class="cancel hide">{% trans "Cancel" %}</button>
        <span class="say"></span>
    </form>
    {% endif %}

    {% if person_msgs %}
    <ul class="msg-list">
    {% for msg in person_msgs.object_list %}
        {% if msg.to_email == request.user.email %}
        <li class="msg msg-received w100 ovhd">
        <a href="{% url 'user_msg_list' msg.from_email|id_or_email %}" class="pic fright">{% avatar msg.from_email 48 %}</a>
        <div class="txt">
            <div class="msg-main">
                <div class="msg-hd w100 ovhd">                    
                    <a class="author" href="{% url 'user_msg_list' msg.from_email|id_or_email %}">{{ msg.from_email|email2nickname }}</a>
                    <span class="time">{{ msg.timestamp|translate_seahub_time }}</span>
                </div>
                <p class="msg-con">{{ msg.message|safe|seahub_urlize|find_at|linebreaksbr }}</p>
                <span class="say"></span>
            </div>
        </div>
        </li>
        {% else %}        

        <li class="msg w100 ovhd">
        <a href="{% url 'user_msg_list' msg.from_email|id_or_email %}" class="pic fleft">{% avatar msg.from_email 48 %}</a> 
        <div class="txt">
            <div class="msg-main">
                <div class="msg-hd w100 ovhd">
                    <a href="{% url 'user_msg_list' msg.from_email|id_or_email %}" class="author">{{ msg.from_email|email2nickname }}</a>
                    <span class="time">{{ msg.timestamp|translate_seahub_time }}</span>
                </div>
                <p class="msg-con">{{ msg.message|safe|seahub_urlize|find_at|linebreaksbr }}</p>
                <span class="say"></span>
            </div>
        </div>      
        </li>
        {% endif %}
    {% endfor %}
    </ul>
    {% endif %}


    {% if person_msgs.has_other_pages %}
    <div id="paginator">
        {% if person_msgs.has_previous %}
        <a href="?page={{ person_msgs.previous_page_number }}" class="prev">{% trans "Previous" %}</a>
        {% endif %}
        {% for pr in person_msgs.page_range %}
          {% if pr == person_msgs.number %}
          <span class="cur">{{ pr }}</span>
          {% else %}
          <a href="?page={{ pr }}" class="pg">{{ pr }}</a>
          {% endif %}
        {% endfor %}
        {% if person_msgs.has_next %}
        <a href="?page={{ person_msgs.next_page_number }}" class="next">{% trans "Next"%}</a>
        {% endif %}
    </div>
    {% endif %}

    {% if person_msgs.object_list|length > 5 %}
    <a href="#personal-msg-panel" id="msg-upward" class="hide">{% trans "↑Top" %}</a>
    {% endif %}

    {% else %}
    <p>{% trans "After login, you can post discussions and add replies." %}</p>
    {% endif %}
    
</div>
{% endblock %}


{% block extra_script %}
<script type="text/javascript">

$('#message').focus(function() {
    $(this).height(75);
    $('#personal-message-form').find('.submit, .cancel').removeClass('hide');
});
$('#personal-message-form .cancel').click(function() {
    $(this).addClass('hide');
    $('#personal-message-form .submit').addClass('hide');
    $('#message').val('').height(25);
});

function check(it){
    if(!it.message.value)
        return false;
}
</script>
{% endblock %}


