{% load seahub_tags avatar_tags i18n %}

    <li class="msg w100 hide" data-id="{{msg.message_id}}">
        <a href="{% url 'user_profile' msg.from_email|id_or_email %}" class="pic fleft">{% avatar msg.from_email 48 %}</a> 
        <div class="txt">
            <div class="msg-main">
                <div class="msg-hd w100 ovhd">     
                    <span class="msg-del op fright vh">{% trans "Delete" %}</span>
                    <a class="author" href="{% url 'user_profile' msg.from_email|id_or_email %}">{{ msg.from_email|email2nickname }}</a>
                    <span class="time">{{ msg.timestamp|translate_seahub_time }}</span>
                </div>
                <p class="msg-con">{{ msg.message|seahub_urlize|find_at|linebreaksbr }}</p>
                {% if msg.attachments %}
                <ul class="msg-attachment">
                    {% for att in msg.attachments %}
                    <li>
                        <img src="{{ MEDIA_URL }}img/file/{{ att.name|file_icon_filter }}" alt="{% trans "File"%}" height="18" class="vam" />
                        <a href="{% url 'view_priv_shared_file' att.token %}" target="_blank" class="vam">{{ att.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <span class="say"></span>
            </div>  
        </div>  
    </li>
