@font-face {
  font-family: "mdfont"; /* Project id 5080543 */
  src: url('iconfont.eot?t=1768372232343'); /* IE9 */
  src: url('iconfont.eot?t=1768372232343#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1768372232343') format('woff2'),
       url('iconfont.woff?t=1768372232343') format('woff'),
       url('iconfont.ttf?t=1768372232343') format('truetype'),
       url('iconfont.svg?t=1768372232343#mdfont') format('svg');
}

.mdfont {
  font-family: "mdfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.md-arrow-down:before {
  content: "\e6ce";
}

.md-arrow-up:before {
  content: "\e6cb";
}

.md-arrow-left:before {
  content: "\e6cc";
}

.md-arrow-right:before {
  content: "\e6cd";
}

.md-outline:before {
  content: "\e6bd";
}

.md-sm-close:before {
  content: "\e6be";
}

.md-link:before {
  content: "\e6bf";
}

.md-more:before {
  content: "\e6c0";
}

.md-inline-code:before {
  content: "\e6c1";
}

.md-align-left:before {
  content: "\e6c2";
}

.md-fullscreen:before {
  content: "\e6c3";
}

.md-rename:before {
  content: "\e6c4";
}

.md-unlink:before {
  content: "\e6c5";
}

.md-table:before {
  content: "\e6c6";
}

.md-italic:before {
  content: "\e6c7";
}

.md-full-screen:before {
  content: "\e6c8";
}

.md-align-right:before {
  content: "\e6c9";
}

.md-check-mark:before {
  content: "\e6ca";
}

.md-formula:before {
  content: "\e6ac";
}

.md-quote-left:before {
  content: "\e6ad";
}

.md-use-help:before {
  content: "\e6ae";
}

.md-bold:before {
  content: "\e6af";
}

.md-image:before {
  content: "\e6b0";
}

.md-align-center:before {
  content: "\e6b1";
}

.md-right-slide:before {
  content: "\e6b2";
}

.md-list-ol:before {
  content: "\e6b3";
}

.md-format-clear:before {
  content: "\e6b4";
}

.md-underline:before {
  content: "\e6b5";
}

.md-list-ul:before {
  content: "\e6b6";
}

.md-description:before {
  content: "\e6b7";
}

.md-caret-up:before {
  content: "\e6b8";
}

.md-code-block:before {
  content: "\e6b9";
}

.md-insert:before {
  content: "\e6ba";
}

.md-choose-column:before {
  content: "\e6bb";
}

.md-text-style:before {
  content: "\e6bc";
}

.md-check-square:before {
  content: "\e6aa";
}

.md-drop-down:before {
  content: "\e6ab";
}

