@font-face {
  font-family: "sdocfont"; /* Project id 5080543 */
  src: url('iconfont.eot?t=1764817888962'); /* IE9 */
  src: url('iconfont.eot?t=1764817888962#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1764817888962') format('woff2'),
       url('iconfont.woff?t=1764817888962') format('woff'),
       url('iconfont.ttf?t=1764817888962') format('truetype'),
       url('iconfont.svg?t=1764817888962#sdocfont') format('svg');
}

.sdocfont {
  font-family: "sdocfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sdoc-code-block:before {
  content: "\e6ac";
}

.sdoc-description:before {
  content: "\e6ad";
}

.sdoc-rename:before {
  content: "\e6ae";
}

.sdoc-drop-down:before {
  content: "\e6af";
}

.sdoc-table:before {
  content: "\e6b0";
}

.sdoc-inline-code:before {
  content: "\e6b1";
}

.sdoc-italic:before {
  content: "\e6b2";
}

.sdoc-list-ul:before {
  content: "\e6b3";
}

.sdoc-link:before {
  content: "\e6b4";
}

.sdoc-more:before {
  content: "\e6b5";
}

.sdoc-format-clear:before {
  content: "\e69b";
}

.sdoc-fullscreen:before {
  content: "\e69c";
}

.sdoc-image:before {
  content: "\e69d";
}

.sdoc-list-ol:before {
  content: "\e69e";
}

.sdoc-quote-left:before {
  content: "\e69f";
}

.sdoc-choose-column:before {
  content: "\e6a0";
}

.sdoc-bold:before {
  content: "\e6a1";
}

.sdoc-sm-close:before {
  content: "\e6a2";
}

.sdoc-insert:before {
  content: "\e6a3";
}

.sdoc-underline:before {
  content: "\e6a4";
}

.sdoc-check-mark:before {
  content: "\e6a5";
}

.sdoc-text-style:before {
  content: "\e6a6";
}

.sdoc-full-screen:before {
  content: "\e6a7";
}

.sdoc-unlink:before {
  content: "\e6a8";
}

.sdoc-align-center:before {
  content: "\e6a9";
}

.sdoc-align-right:before {
  content: "\e6aa";
}

.sdoc-table-of-content-outline:before {
  content: "\e6ab";
}

.sdoc-align-left:before {
  content: "\e696";
}

.sdoc-use-help:before {
  content: "\e695";
}

.sdoc-formula:before {
  content: "\e697";
}

.sdoc-check-square:before {
  content: "\e698";
}

.sdoc-right-slide:before {
  content: "\e699";
}

.sdoc-caret-up:before {
  content: "\e69a";
}

