.file-view-body #unfold-onlyoffice-file-view-header {
  right: 116px;
  z-index: 6
}

.cur-view-detail {
  z-index: 7;
}

.excalidraw .context-menu-item-separator {
  margin: 0;
}

.excalidraw .context-menu-item .context-menu-item__shortcut {
  background-color: transparent;
  color: #000;
  padding: 0;
}

.excalidraw .popover {
  filter: none;
  --bs-popover-border-color: transparent;
}
