{% extends "admin_base.html" %}
{% load i18n %}

{% block left_panel %}
<div class="side-tabnav">
    <h3 class="hd">{% trans "System Admin" %}</h3>
    <ul class="side-tabnav-tabs">
        <li class="tab {% block cur_repo %}{% endblock %}">
        <a href="{{ SITE_ROOT }}sys/seafadmin/"><span class="sf2-icon-archive vam"></span><span class="vam">{% trans "Libraries" %}</span></a>
        </li>
        <li class="tab {% block cur_users %}{% endblock %}">
        <a href="{{ SITE_ROOT }}sys/useradmin/"><span class="icon-user"></span>{% trans "Users" %}</a>
        </li>
        <li class="tab {% block cur_groups %}{% endblock %}">
        <a href="{{ SITE_ROOT }}sys/groupadmin/"><span class="icon-group"></span>{% trans "Groups" %}</a>
        </li>
        <li class="tab {% block cur_notice %}{% endblock %}">
        <a href="{{ SITE_ROOT }}sys/notificationadmin/"><span class="icon-comment"></span>{% trans "Notifications" %}</a>
        </li>
        <li class="tab {% block cur_links %}{% endblock %}">
        <a href="{{ SITE_ROOT }}sys/publinkadmin/"><span class="icon-link"></span>{% trans "Links" %}</a>
        </li>   
    </ul>
</div>
{% endblock %}
