{% extends "sysadmin/base.html" %}
{% load seahub_tags i18n %}

{% block cur_links %}tab-cur{% endblock %}

{% block right_panel %}
<h3>{% trans "Search Link"%}</h3>

<form id="search-link-form" method="get" action=".">
  <label>{% trans "Token" %}</label><input type="text" name="token" class="input" value="{{token}}" /><br />
  <input type="submit" value="{% trans "Submit" %}" class="submit" />
</form>
<div class="ovhd">
    <h3 class="fleft">{% trans "Result"%}</h3>
    <div class="js-op-for-selected fright hide">
        <button id="set-quota-btn">{% trans "Set quota" %}</button>
        <button id="delete-users-btn">{% trans "Delete users" %}</button>
    </div>
</div>
{% if publinks %}
<table>
    <tr>
        <th width="25%">{% trans "Name" %}</th>
        <th width="25%">{% trans "Owner" %}</th>
        <th width="20%"><a class="table-sort-op by-time" href="#">{% trans "Create At" %} {% if sort_by == 'time_down' %}<span class="sort-icon icon-caret-down"></span>{% elif sort_by == 'time_up' %}<span class="sort-icon icon-caret-up"></span>{% endif %}</a></th>
        <th width="12%"><a class="table-sort-op by-count" href="#">{% trans "Count" %} {% if sort_by == 'count_down' %}<span class="sort-icon icon-caret-up"></span>{% elif sort_by == 'count_up' %}<span class="sort-icon icon-caret-down"></span>{% endif %}</a></th>
        <th width="18%">{% trans "Operations" %}</th>
    </tr>
    {% for publink in publinks %}
    <tr>
        <td>{{ publink.name }}</td>
        <td><a href="{{ SITE_ROOT }}useradmin/info/{{ publink.username }}/">{{ publink.username }}</a></td>
        <td>{{ publink.ctime|translate_seahub_time }} </td>
        <td>{{ publink.view_cnt }}</td>
        <td>
            <a class="op vh rm-link" href="#" data-token="{{ publink.token }}">{% trans "Remove" %}</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>{% trans "No result" %}</p>
{% endif %}



<div id="activate-msg" class="hide">
    <p>{% trans "Activating..., please wait" %}</p>
</div>

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$('#search-link-form').submit(function() {
    if (!$.trim($('[name="token"]', $(this)).val())) {
        return false;
    }
});

$('.rm-link').click(function() {
    var _this = $(this);
    $.ajax({
        url: '{% url 'sys_publink_remove' %}',
        type: 'POST',
        data: {'t': _this.attr('data-token')},
        cache: false,
        dataType: 'json',
        beforeSend: prepareCSRFToken,
        success: function() {
            _this.closest('tr').remove();
        },
        error: ajaxErrorHandler
    });
    return false;
});

var sort_by = '{{ sort_by }}';
var url = '{% url 'link_search' %}';
$(".by-time").on('click', function () {
    if (sort_by == 'time_down') {
        location.href = url + '?sort_by=time_up&token={{token}}';
    } else {
        location.href = url + '?sort_by=time_down&token={{token}}';
    }
    return false;
});
$(".by-count").on('click', function () {
    if (sort_by == 'count_down') {
        location.href = url + '?sort_by=count_up&token={{token}}';
    } else {
        location.href = url + '?sort_by=count_down&token={{token}}';
    }
    return false;
});
</script>
{% endblock %}
