{% load i18n %}
<table class="repo-list">
    <tr>
        <th width="35%">{% trans "Name" %}</th>
        <th width="25%">ID</th>
        <th width="25%">{% trans "Owner" %}</th>
        <th width="15%">{% trans "Operations" %}</th>
    </tr>
    {% for repo in repos %}
    <tr>
        <td>{{ repo.props.name }}</td>
        <td style="font-size:11px;">{{ repo.id }}</td>
        <td>
            {% if repo.owner %}
            <a href="{{ SITE_ROOT }}useradmin/info/{{ repo.owner }}/">{{ repo.owner}}</a>
            {% else %}
            --
            {% endif %}
        </td>
        <td data-id="{{ repo.props.id }}" data-name="{{ repo.props.name }}">
            <div>
            <a href="#" class="repo-delete-btn op vh">{% trans "Delete" %}</a>
            <a href="#" class="repo-transfer-btn op vh">{% trans "Transfer" %}</a>        
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% include 'snippets/repo_del_popup.html' %}
