{% extends "base_for_react.html" %}
{% load seahub_tags i18n %}
{% load render_bundle from webpack_loader %}

{% block extra_script %}
<script type="text/javascript">
	window.sysadmin = {
		config: {
		},
		pageOptions: {
			constance_enabled: {% if constance_enabled %} true {% else %} false {% endif %},
			multi_tenancy: {% if multi_tenancy %} true {% else %} false {% endif %},
			multi_institution: {% if multi_institution %} true {% else %} false {% endif %},
			sysadmin_extra_enabled: {% if sysadmin_extra_enabled %} true {% else %} false {% endif %},
			enable_guest_invitation: {% if enable_guest_invitation %} true {% else %} false {% endif %},
			enable_terms_and_conditions: {% if enable_terms_and_conditions %} true {% else %} false {% endif %},
			is_default_admin: {% if is_default_admin %} true {% else %} false {% endif %},
			admin_permissions: {
                "can_view_system_info": {% if user.admin_permissions.can_view_system_info %} true {% else %} false {% endif %},
                "can_view_statistic": {% if user.admin_permissions.can_view_statistic %} true {% else %} false {% endif %},
                "can_config_system": {% if user.admin_permissions.can_config_system %} true {% else %} false {% endif %},
                "can_manage_library": {% if user.admin_permissions.can_manage_library %} true {% else %} false {% endif %},
                "can_manage_user": {% if user.admin_permissions.can_manage_user %} true {% else %} false {% endif %},
                "can_manage_group": {% if user.admin_permissions.can_manage_group %} true {% else %} false {% endif %},
                "can_view_user_log": {% if user.admin_permissions.can_view_user_log %} true {% else %} false {% endif %},
                "can_view_admin_log": {% if user.admin_permissions.can_view_admin_log %} true {% else %} false {% endif %}
			}
		}
	};
</script>
{% render_bundle 'sysAdmin' %}
{% endblock %}
