{% extends "sysadmin/base.html" %}

{% load seahub_tags i18n %}

{% block cur_virus_scan %}tab-cur{% endblock %}

{% block right_panel %}
<h3 class="hd">{% trans "Virus Scan Records" %}</h3>
<table>
    <tr>
        <th width="28%">{% trans "Library" %}</th>
        <th width="28%">{% trans "Owner" %}</th>
        <th width="29%">{% trans "Virus File" %}</th>
        <th width="15%">{% trans "Operations" %}</th>
    </tr>
    {% for r in records %}
    <tr>
        <td>{{ r.repo.name }}</td>
        <td><a href="{% url "user_info" r.repo.owner %}">{{ r.repo.owner }}</a></td>
        <td>{{ r.file_path }}</td>
        <td>
            {% if not r.has_handle %}
            <a class="op vh rm-record" href="#" data-url="{% url "sys_delete_virus_scan_records" r.vid %}">{% trans "Delete" %}</a>
            {% else %}
            <span style="color: green;">{% trans "Handled" %}</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% include "sysadmin/useradmin_paginator.html" %}

{% endblock %}

{% block extra_script %}
<script>
addFormPost($('.rm-record'));
</script>
{% endblock %}
