{% extends "sysadmin/base.html" %}
{% load i18n staticfiles %}
{% block cur_repo %}tab-cur{% endblock %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static "css/select2-3.5.2.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/select2.custom.css" %}" />
{% endblock %}

{% block left_panel %}{{block.super}}
<form action="{% url 'sys_repo_search' %}" method="get" class="side-search-form">
    <input type="text" name="name" class="input" value="" placeholder="{% trans "Search libraries by name..." %}" />
</form>
{% endblock %}

{% block right_panel %}
<div class="tabnav">
    <ul class="tabnav-tabs">
        <li class="tabnav-tab tabnav-tab-cur"><a href="{% url 'sys_repo_admin' %}">{% trans "All" %}</a></li>
        <li class="tabnav-tab"><a href="{% url 'sys_list_system' %}">{% trans "System" %}</a></li>
        <li class="tabnav-tab"><a href="{% url 'sys_repo_trash' %}">{% trans "Trash" %}</a></li>
    </ul>
</div>

{% if repos %}
{% include "sysadmin/repoadmin_table.html" %}
{% include "snippets/admin_paginator.html" %}

{% else %}
<p>{% trans "None" %}</p>
{% endif %}

{% include "sysadmin/repo_transfer_form.html" %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{% static "scripts/lib/select2-3.5.2.js" %}"></script>
<script type="text/javascript">
{% include "sysadmin/repoadmin_js.html" %}
</script>
{% endblock %}
