{% extends "sysadmin/base.html" %}
{% load i18n seahub_tags %}

{% block cur_invitations %}tab-cur{% endblock %}

{% block right_panel %}
<h3 class="hd">{% trans "All Invitations" %}</h3>

{% if invitations %}
<table>
    <tr>
        <th width="25%">{% trans "Inviter" %}</th>
        <th width="25%">{% trans "Accepter" %}</th>
        <th width="10%">{% trans "Type" %}</th>
        <th width="16%">{% trans "Invited at" %}</th>
        <th width="16%">{% trans "Accepted at" %}</th>
        <th width="8%"></th>
    </tr>
    {% for invitation in invitations %}
    <tr>
        <td><a href="{% url 'user_info' invitation.inviter %}">{{ invitation.inviter }}</a></td>
        {% if invitation.accept_time %}
        <td><a href="{% url 'user_info' invitation.accepter %}">{{ invitation.accepter }}</a></td>
        {% else %}
        <td>{{ invitation.accepter }}</td>
        {% endif %}
        <td>{{ invitation.invite_type }}</td>
        <td>{{ invitation.invite_time|translate_seahub_time }} </td>
        {% if invitation.accept_time %}
        <td>{{ invitation.accept_time|translate_seahub_time }}</td>
        {% else %}
        <td>--</td>
        {% endif %}
        <td><a class="op vh rm-link" href="#" data-id="{{invitation.pk}}">{% trans "Delete" %}</a></td>
    </tr>
    {% endfor %}
</table>

{% include "snippets/admin_paginator.html" %}
{% else %}
<div class="empty-tips">
    <p>{% trans "There is no invitation yet." %}</p>
</div>
{% endif %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$('.rm-link').click(function() {
    var _this = $(this);
    $.ajax({
        url: '{% url 'sys_invitation_remove' %}',
        type: 'POST',
        data: {'inv_id': _this.attr('data-id')},
        cache: false,
        dataType: 'json',
        beforeSend: prepareCSRFToken,
        success: function() {
            _this.closest('tr').remove();
        },
        error: ajaxErrorHandler
    });
    return false;
});
</script>
{% endblock %}
