{% extends "admin_base.html" %}
{% load seahub_tags i18n %}

{% block main_panel %}
<h3>{% trans "Search Library"%}</h3>

<form id="search-repo-form" method="get" action=".">
    <p class="tip">{% trans "Tip: you can search by keyword in name or owner or both." %}</p>
    <label>{% trans "Name" %}</label><input type="text" name="name" class="input" value="{{name}}"/><br />
    <label>{% trans "Owner" %}</label><input type="text" name="owner" class="input" value="{{owner}}"/><br />
    <input type="submit" value="{% trans "Submit" %}" class="submit" />
</form>

<h3>{% trans "Result"%}</h3>
{% if repos %}
<table>
    <tr>
        <th width="15%">{% trans "Name" %}</th>
        <th width="25%">ID</th>
        <th width="20%">{% trans "Owner" %}</th>
        <th width="30%">{% trans "Description" %}</th>
        <th width="10%">{% trans "Operations" %}</th>
    </tr>
    {% for repo in repos %}
    <tr>
        <td>{{ repo.props.name }}</td>
        <td style="font-size:11px;">{{ repo.id }}</td>
        <td><a href="{{ SITE_ROOT }}useradmin/info/{{ repo.owner }}/">{{ repo.owner}}</a></td>
        <td>{{ repo.props.desc }}</td>
        <td><a href="#" data-url="{{ SITE_ROOT }}repo/remove/{{ repo.props.id }}/?next={{ request.path }}" data-target="{{ repo.props.name }}" class="repo-delete-btn op">{% trans "Delete" %}</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>{% trans "No result" %}</p>
{% endif %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$('#search-repo-form').submit(function() {
    var form = $(this),
        name = $.trim($('[name="name"]', form).val()),
        owner = $.trim($('[name="owner"]', form).val());

    if (!name && !owner) {
        return false;
    }
});
</script>
{% endblock %}
