{% extends "sysadmin/base.html" %}
{% load seahub_tags i18n staticfiles %}
{% block cur_org %}tab-cur{% endblock %}

{% block right_panel %}
<h3>Search Org</h3>

<form id="search-repo-form" method="get" action="{% url "sys_org_search" %}">
    <p class="tip">{% trans "Tip: you can search by keyword in name or creator or both." %}</p>
    <label>{% trans "Name" %}</label><input type="text" name="name" class="input" value="{{name}}"/><br />
    <label>{% trans "Creator" %}</label><input type="text" name="creator" class="input" value="{{creator}}"/><br />
    <input type="submit" value="{% trans "Submit" %}" class="submit" />
</form>

<h3>{% trans "Result"%}</h3>
{% if orgs %}
{% include "sysadmin/org_admin_table.html" %}
{% else %}
<p>{% trans "No result" %}</p>
{% endif %}

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
 addConfirmTo($('.remove-btn'), {
    'title':"Delete org",
    'con':"{% trans "Are you sure you want to delete %s ?" %}",
    'post': true // post request
});

</script>
{% endblock %}
