{% extends "sysadmin/sys_org_info_base.html" %}
{% load i18n seahub_tags %}


{% block right_panel %}
<div class="tabnav">
    {% with cur_tab='group' %}
    {% include 'sysadmin/snippets/sys_org_info_nav.html' %}
    {% endwith %}
</div>

{% if groups %}
<table>
    <tr>
        <th width="30%">{% trans "Name" %}</th>
        <th width="30%">{% trans "Creator" %}</th>
        <th width="25%">{% trans "Create At" %}</th>
        <th width="15%">{% trans "Operations" %}</th>
    </tr>
    {% for group in groups %}
    <tr>
        <td><a href="{{ SITE_ROOT }}group/{{ group.id }}/">{{ group.group_name }}</a></td>
        <td>{{ group.creator_name }}</td>
        <td>{{ group.timestamp|tsstr_sec }}</td>
        <td><a href="#" data-url="{% url 'group_remove' group.id %}" data-target="{{ group.group_name }}" class="group-remove-btn op-icon sf2-icon-delete vh" title="{% trans "Delete" %}"></a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<div class="empty-tips">
<h2 class="alc">{% trans "This organization doesn't have any groups" %}</h2>
</div>
{% endif %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
{% include 'sysadmin/sys_org_set_quota_js.html' %}
addConfirmTo($('.group-remove-btn'), {
    'title': "{% trans "Delete Group" %}",
    'con': "{% trans "Are you sure you want to delete %s ?" %}",
    'post': true
});
</script>
{% endblock %}
