{% extends "base_for_react.html" %}
{% load seahub_tags i18n %}
{% load render_bundle from webpack_loader %}

{% block extra_script %}
<script type="text/javascript">
	window.sysAdminOrg = {
		config: {},
		pageOptions: {
		        org_id: {{ org_id }},
                is_email_configured: {% if is_email_configured %} true {% else %} false {% endif %},
                send_email_on_resetting_user_passwd: {% if send_email_on_resetting_user_passwd %} true {% else %} false {% endif %},
		}
	};
</script>
{% render_bundle 'sysAdminOrg' %}
{% endblock %}
