{% load i18n %}{% autoescape off %}
{% if org %}
{% blocktrans %}You're receiving this e-mail because {{ user }} added you to organization "{{ org.org_name }}" on {{ site_name }}.{% endblocktrans%}
{% else %}
{% blocktrans %}You're receiving this e-mail because {{ user }} added you to {{ site_name }}.{% endblocktrans%}
{% endif %}
{% trans "Following is your account information:" %}
{% blocktrans %}Email: {{ email }}{% endblocktrans %}
{% blocktrans %}Password:  {{ password }}{% endblocktrans %}

{% trans "Please go to the following page and log in:" %}
{{ protocol }}://{{ domain }}{% url 'auth_login' %}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
