{% load i18n %}

var user_list = [], user_email;
{% for user in users %}
{% if not user.is_self %}
{% if not user.is_staff %}
user_email = '{{ user.email }}';
user_list.push({value:user_email, label:user_email});
{% endif %}
{% endif %}
{% endfor %}

$('#add-admin-btn').click(function() {
    var form = $("#add-admin-form");
    form.modal({appendTo: "#main", focus:false});
    $('#simplemodal-container').css({'height':'auto', 'padding':0});
    $('#add-admin-tabs').tabs();

    addAutocomplete('#added-member-name', '#enter', user_list);
});

$('#add-admin-form').submit(function() {
    var form = $(this),
        cur_tab_id = $('.ui-tabs-selected a', form).attr('href'),
        post_data = '',
        input = $('[name="user_email"]', form); 
    switch(cur_tab_id) {
        case '#enter':
            post_data = input.val();
            break;
        case '#user-options':
            $(cur_tab_id + ' .checkbox-checked .checkbox-orig').each(function() {
                post_data += $(this).val() + ','; 
            });  
            input.val(post_data);
    }    
    if (!post_data) {
        apply_form_error(form.attr('id'), '{% trans "Please enter emails, or select some." %}');
        return false;
    }    

    var submit_btn = $('[type="submit"]', form);
    disable(submit_btn);
    $.ajax({
    url: '{% url 'batch_user_make_admin' %}',
        type: 'POST',
        dataType: 'json',
        cache: false,
        beforeSend: prepareCSRFToken,
        data: {
            'set_admin_emails': post_data
        },
        success: function(data) {
            location.reload('true');
        },
        error: function(data, textStatus, jqXHR) {
            var errors = $.parseJSON(data.responseText);
            $.each(errors, function(index, value) {
                apply_form_error(form.attr('id'), value);
            });
            enable(submit_btn);
        }
    });

    return false;
});
