{% load i18n avatar_tags %}
<form id="add-admin-form"  method="post" name="add-admin-form" class="tab-popup hide">{% csrf_token %}
    <h3 class="hd">{% trans "Add admins"%}</h3>
    <div id="add-admin-tabs" class="tab-popup-tabs">
        <ul class="tab-popup-tabs-nav">
            <li class="tab"><a href="#enter" class="a">{% trans 'Enter' %}</a></li>
            {%comment%}
            <li class="tab"><a href="#user-options" class="a">{% trans 'Users' %}</a></li>
            {%endcomment%}
        </ul>
        <div id="enter">
            <textarea id="added-member-name" name="user_email" placeholder="{% trans "emails, separated by ','" %}"></textarea><br />
            {% if cloud_mode and not org %}
            <p class="tip">{% trans "Tip: an invitation will be sent if the email is not registered."%}</p>
            {% else %}
            <p class="tip">{% trans "Tip: the emails should be the users already added."%}</p>
            {% endif %}
        </div>
        {%comment%}
        <div id="user-options" class="hide">
            <ul class="option-list">
            {% for user in users %}
            {% if not user.is_self %}
            {% if not user.is_staff %}
            <li>
            <label class="checkbox-label">
                <span class="checkbox"><input type="checkbox" name="user" value="{{ user.email }}" class="checkbox-orig" /></span>
                {% avatar user.email 20 %} <span class="checkbox-option">{{ user.email }}</span>
            </label>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
        </div>
        {%endcomment%}
    </div>
    <div class="bot">
        <p class="error hide"></p>
        <input type="submit" value="{% trans "Submit"%}" />
    </div>
</form>

