{% extends 'email_base.html' %}

{% load i18n %}

{% block email_con %}

{% autoescape off %}

<p style="color:#121214;font-size:14px;">{% trans "Hi," %}</p>

<p style="font-size:14px;color:#434144;">
{% if org %}
{% blocktrans with org_name=org.org_name %}You're receiving this e-mail because {{ user }} added you to organization "{{ org_name }}" on {{ site_name }}.{% endblocktrans%}
{% else %}
{% blocktrans %}You're receiving this e-mail because {{ user }} added you to {{ site_name }}.{% endblocktrans%}
{% endif %}
</p>

<p style="font-size:14px;color:#434144;">
{% trans "Following is your account information:" %}<br />
{% blocktrans %}Email: {{ email }}{% endblocktrans %}<br />
{% blocktrans %}Password:  {{ password }}{% endblocktrans %}
</p>

<p style="font-size:14px;color:#434144;">
{% trans "Please go to the following page and log in:" %}<br />
{{ protocol }}://{{ domain }}{% url 'auth_login' %}
</p>

{% endautoescape %}

{% endblock %}
