{% extends 'email_base.html' %}

{% load i18n %}

{% block email_con %}

{% autoescape off %}

<p style="color:#121214;font-size:14px;">{% trans "Hi," %}</p>

<p style="font-size:14px;color:#434144;">
{% blocktrans %}Account {{ user }} froze due to excessive failed logins. Please check at:{% endblocktrans%}
</p>

<a href="{{ url_base }}{% url 'sys_search_users' %}?query={{user|urlencode}}" target="_blank">{{ url_base }}{% url 'sys_search_users' %}?query={{user|urlencode}}</a>

{% endautoescape %}

{% endblock %}
