.comment-dialog {
  width: 500px;
  position: absolute;
  top: 30%;
  right: 0;
  padding: 15px;
  background-color: #fafafa;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  box-shadow: 0 0 3px #ccc;
  z-index: 1000;
}
.comment-dialog-triangle {
  position: absolute;
  left: -5px;
  top: 50%;
  transform: rotate(45deg);
  border: 1px solid rgba(0,0,0,.2);
  border-top: none;
  border-right: none;
  width: 10px;
  height: 10px;
  background-color: #fafafa;
  box-shadow: -1px 1px #ccc;
}
.comment-dialog textarea {
  width: 100%;
  min-height: 100px;
  max-height: 300px;
  padding: 5px;
  background-color: #fff;
}
.comment-dialog .button-group .btn {
  margin-right: 10px;
}
.comment-dialog .comment-dialog-quote {
  margin-top: 10px;
  max-height: 6rem;
  overflow: auto;
  padding-left: 1rem;
}
.comment-dialog .comment-dialog-quote ul,
.comment-dialog .comment-dialog-quote ol {
  padding-left: 1rem;
}