.seafile-md-viewer {
  height: 100%;
  flex-direction: row;
}
.sf-md-viewer-topbar-first {
  padding: 4px 10px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 3px 2px -2px rgba(200,200,200,.15);
  flex-shrink:0;
  align-items: center;
}
.seafile-md-viewer-container {
  width: 70%;
  background-color: #fafaf9;
  overflow-y: auto;
}
.seafile-md-viewer-main {
  flex:auto;
  overflow:auto;
  background:#fafaf9;
  width: 70%;
}

.seafile-md-viewer-outline-heading2,
.seafile-md-viewer-outline-heading3 {
  margin-left: .75rem;
  line-height: 2.5;
  color:#666;
  white-space: nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  cursor:pointer;
}
.seafile-md-viewer-outline-heading3 {
  margin-left: 2rem;
}
.seafile-md-viewer-outline-heading2:hover,
.seafile-md-viewer-outline-heading3:hover {
  color: #eb8205;
}
.seafile-markdown-outline {
  position: fixed;
  padding-right: 1rem;
  top: 97px;
  right: 0;
  width: 200px;
  overflow: scroll;
  height: 80%;
}
.seafile-editor-outline {
  border-left: 1px solid #ddd;
}
.seafile-markdown-outline .active {
  color: #eb8205;
  border-left: 1px solid #eb8205;
}
.seafile-markdown-outline .outline-h2, .seafile-markdown-outline .outline-h3 {
  height: 30px;
  margin-left: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
.seafile-markdown-outline .outline-h2 {
  padding-left: 20px;
}
.seafile-markdown-outline .outline-h3 {
  padding-left: 40px;
}

/* side-panel */
.seafile-md-viewer-side-panel {
  height: 100%;
  overflow:hidden;
  user-select: none;
}
.seafile-md-viewer-side-panel .seafile-editor-outline {
  border-left: 0;
}
.seafile-md-viewer-side-panel:hover {
  overflow:auto;
}
.seafile-md-viewer-side-panel-heading {
  padding:7px 0;
  border-bottom: 1px solid #eee;
  color: #a0a0a0;
}
.seafile-md-viewer-side-panel-content {
  padding:8px 0;
  font-size: 0.875rem;
}

.seafile-md-viewer-side-panel {
  border-left: 1px solid #e6e6dd;
  background-color: #fff;
  height: 100%;
  overflow: hidden;
}
.seafile-md-viewer-side-panel .tab-content {
  height: calc(100% - 39px);
  overflow-y: scroll;
}
.seafile-md-viewer-side-panel .md-side-panel-nav {
  margin: 0;
}
.md-side-panel-nav .nav-item {
  width: 33.3%;
  padding-top: 4px;
}
.md-side-panel-nav .nav-item .nav-link {
  margin: 0 auto;
}
.md-side-panel-nav .nav-item i {
  padding: 0 8px;
  font-size: 1rem;
  width: 1rem;
}
.comments-number {
  font-size: 12px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  text-align: center;
  line-height: 16px;
  font-weight: 600;
  background-color: #fd9644;
  position: absolute;
  top: 10%;
  right: 30%;
  color: #fff;
}

.seafile-viewer-comment-btn {
  position: absolute;
  top: 0;
  right: 5000px;
  border: 1px solid rgba(0, 40, 100, 0.12);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  background-color: #fff;
  padding: 5px;
}
.seafile-viewer-comment-btn:hover {
  cursor: pointer;
  background-color: #eee;
}
.seafile-md-viewer-slate {
  flex: auto;
  position: relative;
  margin: 20px 40px;
}
@media (max-width:991.8px) {
  .seafile-md-viewer-side-panel {
    display:none;
  }
  .seafile-markdown-outline {
    display: none;
  }
  .seafile-md-viewer-slate {
    width: calc(100% - 80px);
    margin: 20px 40px;
  }
}
@media (min-width:992px) {
  .seafile-md-viewer-side-panel {
    width: 30%;
  }
}