#root {
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
}

.seafile-md-viewer {
  height: 100%;
  flex-direction: row;
  position: relative;
  float: none;
}
.sf-md-viewer-topbar-first,
.sf-md-viewer-topbar-first-narrow {
  padding: 4px 10px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 3px 2px -2px rgba(200,200,200,.15);
  flex-shrink:0;
  align-items: center;
}
.seafile-md-viewer-container {
  width: 100%;
  background-color: #fafaf9;
  height: 100%;
  position: relative;
  overflow: auto;
  display: flex;
}
.seafile-md-viewer-container.side-panel-on {
  width: calc(100% - 260px);
}
.seafile-md-viewer-slate {
  flex: auto;
  position: relative;
  margin: 20px 0px 20px 5%;
  max-width: calc(90% - 260px);
}
.seafile-md-viewer-slate.comment-on {
  max-width: calc(90% - 360px);  
}
.seafile-md-viewer-main {
  flex: auto;
  overflow: auto;
  background:#fafaf9;
  width: 70%;
}
.seafile-md-viewer-slate.side-panel-on {
  margin: 20px 5%;
}
/* outline */
.seafile-md-viewer .seafile-editor-outline {
  background-color: #fafaf9;
  margin: 40px auto;
  padding: 0 0.75rem 0 1.25rem;
  border-left: 0;
  width: 260px;
  position: fixed;
  top: 68px;
  overflow-y: hidden;
  right: 5%;
  z-index: 1;
  height: 80%;
}
.seafile-md-viewer .seafile-editor-outline:hover {
  overflow: auto;
}
.seafile-md-viewer .seafile-editor-outline .active {
  color: #eb8205;
  border-left: 1px solid #eb8205;
}
.seafile-md-viewer .seafile-editor-outline-heading {
  padding: 7px 0;
  border-bottom: 1px solid #eee;
  color: #a0a0a0;
}
.seafile-editor-outline .outline-h2, .seafile-editor-outline .outline-h3 {
  height: 30px;
  margin-left: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
.seafile-editor-outline .outline-h2 {
  padding-left: 20px;
}
.seafile-editor-outline .outline-h3 {
  padding-left: 40px;
}
/* side-panel */
.seafile-md-viewer-side-panel {
  height: 100%;
  overflow: hidden;
  width: 260px;
  position: fixed;
  right: 0;
  top: 87px;
}
.seafile-md-viewer-side-panel .seafile-history-side-panel {
  width: 100%;
  height: 100%;
}
.seafile-md-viewer  .seafile-comment .add-comment-input,
.seafile-md-viewer .seafile-comment .edit-comment-input {
  background-color: #fff;
  width: 100%;
}
.seafile-md-viewer-side-panel .seafile-history-side-panel {
  border-left: 1px solid #e6e6dd;
}
.seafile-md-viewer .seafile-comment {
  background-color: #fff;
  min-height: 18.5em;
  z-index: 3;
  width: 380px;
  height: 100%;
  position: fixed;
  right: 0;
}
.seafile-viewer-comment-btn {
  position: absolute;
  top: 0;
  right: 5000px;
  border: 1px solid rgba(0, 40, 100, 0.12);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  background-color: #fff;
  padding: 5px;
}
.seafile-viewer-comment-btn:hover {
  cursor: pointer;
  background-color: #eee;
}
.seafile-md-viewer .seafile-comment .seafile-comment-footer {
  min-height: 230px;
}
.seafile-md-viewer .seafile-comment-toggle-resolved {
  width: 100%;
  z-index: 1;
}
@media (max-width:991.8px) {
  .seafile-editor-outline {
    display: none;
  }
  .seafile-md-viewer-slate {
    width: calc(100% - 80px);
    margin: 20px 40px;
    max-width: 100%;
  }
}
.seafile-md-comment {
  background-color: #fff;
  position: absolute;
  right: 1px;
  height: calc(100% - 56px);
  width: 30%;
}
.seafile-md-comment .seafile-comment {
  height: 100%;
  width: 100%;
}
.seafile-md-comment .seafile-comment .seafile-comment-toggle-resolved {
  width: 100%;
}

@media (max-width: 768px) {
  .sf-md-viewer-topbar-first {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .sf-md-viewer-topbar-first-narrow {
    display: none !important;
  }
}

.seafile-editor-side-panel .seafile-comment {
  width: 100%;
}

/* toolbar */
.topbar-file-info {
  display: inline-block;
  margin-left: 8px;
  /*
    only select file info text
  */
  user-select: text;
}
.topbar-file-info .file-title {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.topbar-file-info .file-title .iconfont {
  font-size: 0.875rem;
}

.topbar-file-info .file-title .file-star {
  font-size: 0.875rem;
  cursor: pointer;
  margin-left: 0.5rem;
  vertical-align: text-bottom;
  color: #999;
}

.topbar-file-info .file-title .file-star .star {
  color: #999;
}

.topbar-file-info .file-state {
  font-size: 0.8125rem;
}

.topbar-file-info .file-state .file-modifier-name {
  margin-right: 0.5rem;
}

.topbar-file-info .file-state .file-modifier-savedraft {
  margin-left: 0.5rem;
  color: #888;
}
