.sf-metadata-single-select-editor {
  min-width: 200px;
  padding: 0;
  min-height: 160px;
  overflow: hidden;
  opacity: 1;
  background: var(--bs-body-bg);
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: 0px 2px 10px 0 #dedede;
  position: absolute;
  left: 0;
}

.sf-metadata-single-select-editor .sf-metadata-single-select-editor-container {
  max-height: 200px;
  min-height: 100px;
  padding: 10px;
  overflow: auto;
}

.sf-metadata-single-select-editor .sf-metadata-search-single-select-options {
  padding: 10px 10px 0 10px;
}

.sf-metadata-single-select-editor .sf-metadata-search-single-select-options input {
  max-height: 30px;
  font-size: 14px;
}

.sf-metadata-single-select-editor .single-select-item {
  display: flex;
  align-items: center;
  padding: 0;
}

.sf-metadata-single-select-editor .single-select-item:last-of-type {
  margin-bottom: 15px;
}

.sf-metadata-single-select-editor .single-select-item:hover {
  background: none;
}

.sf-metadata-single-select-editor .single-select-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  border-radius: 2px;
  font-size: 13px;
  color: var(--bs-body-color);
  padding-left: 12px;
}

.sf-metadata-single-select-editor .single-select-container-highlight {
  background: var(--bs-body-secondary-bg);
  cursor: pointer;
}

.sf-metadata-single-select-editor .single-select {
  height: 30px;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
}

.single-select-avatar {
  border-radius: 50%;
  vertical-align: middle;
}

.sf-metadata-single-select-editor .single-select-avatar {
  width: 16px;
  height: 16px;
  line-height: 16px;
  margin-left: 10px;
}

.sf-metadata-single-select-editor .single-select-name {
  display: inline-block;
  padding: 0px 10px;
  height: 20px;
  line-height: 20px;
  margin-left: 0;
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
  white-space: nowrap;
  max-width: 100%;
}

.sf-metadata-single-select-editor .single-select-check-icon {
  width: 20px;
  text-align: center;
}

.sf-metadata-single-select-editor .single-select-check-icon .seafile-multicolor-icon-check-icon {
  font-size: 12px;
  fill: #666;
}

.sf-metadata-single-select-editor .none-search-result {
  font-size: 14px;
  opacity: 0.5;
  display: inline-block;
}

.sf-metadata-single-select-editor .add-search-result {
  height: 30px;
  padding: 0 10px;
  overflow: hidden;
  color: #666;
}

.sf-metadata-single-select-editor .add-search-result:hover{
  cursor: pointer;
  background-color: var(--bs-body-secondary-bg);
}

.sf-metadata-single-select-editor .add-search-result .add-new-option {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
