.column-data-settings-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.sf-metadata-rate-column-data-settings .rate-column-data-setting-item {
  width: calc((100% - 16px) / 2);
}

.sf-metadata-rate-column-data-style-setting-popover .popover {
  border: 1px solid var(--bs-border-secondary-color);
  border-radius: 4px;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.1);
}

.sf-metadata-rate-column-data-settings .rate-column-data-style-setting-wrapper .selected-option .seafile-multicolor-icon,
.sf-metadata-rate-column-data-style-setting-popover .rate-column-data-style-item .seafile-multicolor-icon {
  fill: inherit;
}

.sf-metadata-rate-column-data-settings .rate-column-data-style-setting-wrapper .selected-option .seafile-multicolor-icon.seafile-multicolor-icon-down,
.sf-metadata-rate-column-data-style-setting-popover .rate-column-data-style-item .seafile-multicolor-icon.seafile-multicolor-icon-down {
  fill: var(--bs-icon-color);
}

/* style popover */
.sf-metadata-rate-column-data-style-setting-popover .rate-column-style-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 145px;
  padding: 8px;
}

.sf-metadata-rate-column-data-style-setting-popover .rate-column-data-style-item {
  cursor: pointer;
  height: 32px;
  width: 32px;
  border-radius: 3px;
}

.sf-metadata-rate-column-data-style-setting-popover .rate-column-data-style-item:hover {
  background: #f5f5f5;
}

.sf-metadata-rate-column-data-style-setting-popover .rate-column-data-style-item .seafile-multicolor-icon {
  font-size: 16px;
}
