.sf-file-tags-backdrop.show {
  opacity: 0;
  background: var(--bs-body-bg);
}

.sf-file-tags {
  margin-top: 150px;
  margin-right: 100px;
}

.sf-file-tags .modal-header {
  height: 48px;
}

.sf-file-tags .modal-body {
  min-height: 160px;
}

.sf-file-exit-tag {
  display: inline-flex;
  align-items: center;
  height: 20px;
  margin-right: 10px;
  padding: 0 8px 0 2px;
  font-size: 13px;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  background: var(--bs-body-bg);
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.sf-file-exit-tag .sf-file-exit-tag-color {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 1px;
}

.sf-file-exit-tag .sf-file-exit-tag-name {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  color: var(--bs-body-color);
  margin-left: 8px;
  max-width: 200px;
  flex: 1 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sf-file-exit-tag.selected {
  border-color: #FF9800;
}
