.sea-ai-chat-message-attachments {
  align-items: center;
  display: flex;
  flex-wrap: nowrap !important;
  justify-content: flex-start !important;
  margin-bottom: 12px;
  overflow: hidden;
  width: -webkit-fit-content;
  width: fit-content;
  gap: 8px;
}

.sea-ai-chat-message-attachments-item {
  background-color: var(--sea-ai-chat-card-bg);
  border: 1px solid var(--bs-border-quartus-color);
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  height: 64px;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  max-width: 200px;
  padding: 8px 12px;
  position: relative;
}

.sea-ai-chat-message-attachments-item:hover {
  background-image: linear-gradient(var(--bs-icon-btn-hover-bg-color), var(--bs-icon-btn-hover-bg-color));
}

.sea-ai-chat-message-attachments-item-name {
  font-weight: 500;
  line-height: 24px;
  width: 100%;
}

.sea-ai-chat-message-attachments-item-can-remove:hover .sea-ai-chat-message-attachments-item-name {
  width: calc(100% - 16px);
}

.sea-ai-chat-message-attachments-item-remove {
  background: var(--sea-ai-chat-attachment-close-bg);
  border-radius: 50%;
  display: none;
  position: absolute;
  right: 4px;
  top: 4px;
  height: 16px;
  width: 16px;
}

.sea-ai-chat-message-attachments-item-can-remove:hover .sea-ai-chat-message-attachments-item-remove {
  display: flex;
  z-index: 2;
  border: none;
  justify-content: center;
  align-items: center;
}

.sea-ai-chat-message-attachments-item-can-remove:hover .sea-ai-chat-message-attachments-item-remove svg,
.sea-ai-chat-message-attachments-item-can-remove:hover .sea-ai-chat-message-attachments-item-remove:hover svg {
  color: var(--bs-body-bg) !important;
  min-height: 8px;
  min-width: 8px;
}
