.sf-table-cell .sf-metadata-text-formatter {
  width: 100%;
  min-width: 0;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sf-table-cell .sf-metadata-ui.cell-formatter-container.text-formatter.multi-line-text-formatter {
  height: 100%;
  line-height: 22px;
  white-space: normal;
  overflow: hidden;
  text-overflow: unset;
  align-self: stretch;
  overflow-wrap: anywhere;
  word-break: break-word;
}
