{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password Reset" %}{% endblock %}
{% block main_content %}
<div class="new-narrow-panel">
    <h2 class="hd">{% trans "Password Reset" %}</h2>
    <form action="" method="post" class="con">{% csrf_token %}
        <label for="id_email">{% trans "Your email used in login: " %}</label>
        {{ form.email }}
        {{ form.email.errors }}
        <p class="tip">{% trans "We will send you an email to set new password" %}</p>
        <input type="submit" value="{% trans "Submit" %}" class="submit" />
    </form>
</div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
    $('[name="email"]').addClass('input');
</script>
{% endblock %}
