{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Password Modification" %}{% endblock %}

{% block main_content %}
<div class="page-form-panel">
  <h2 class="hd text-center mb-2">{% trans "Password Modification" %}</h2>
  {% if force_passwd_change %}
  <p class="tip text-center mb-8">{% trans "Please update your password before continue." %}</p>
  {% endif %}
  <form action="" method="post" class="form">{% csrf_token %}
    <div class="mb-3">
      <label for="id_old_password" class="form-label">{% trans "Current Password" %}</label>
      <div class="input-group">
        <input type="password" name="old_password" required="" id="id_old_password" class="form-control" />
        <button type="button" class="btn btn-secondary"></button>
      </div>
      {{ form.old_password.errors }}
    </div>
    <div class="mb-3">
      <label for="id_new_password1" class="form-label">{% trans "New Password" %}</label>
      <div class="input-group">
        <input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" />
        <button type="button" class="btn btn-secondary"></button>
      </div>
      {{ form.new_password1.errors }}
    </div>
    <div class="mb-3">
      <label for="id_new_password2" class="form-label">{% trans "Confirm Password" %}</label>
      <div class="input-group">
        <input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" />
        <button type="button" class="btn btn-secondary"></button>
      </div>
      {{ form.new_password2.errors }}
    </div>
    <p class="error hide"></p>
    <div class="form-foot text-center">
      <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    </div>
  </form>
</div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{{MEDIA_URL}}bootstrap/bootstrap.popover.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/icons.js"></script>
<script type="text/javascript">
  $('.input-group .btn').html(eyeSlashIcon).on('click', function() {
    var $prev = $(this).prev('input');
    var currentInputType = $prev.attr('type');
    var nextInputType = currentInputType == 'text' ? 'password' : 'text';
    $prev.attr('type', nextInputType)
    if (nextInputType == 'text') {
      $(this).html(eyeIcon);
    } else {
      $(this).html(eyeSlashIcon);
    }
  });

  {% include "snippets/password_strength_js.html" %}
  $(function () {
    setupPasswordField("id_new_password1", passwd_tip, template);
  });

  $('form').on('submit', function(){
    var old_pwd = $('input[name="old_password"]').val().trim(),
      pwd1 = $('input[name="new_password1"]').val().trim(),
      pwd2 = $('input[name="new_password2"]').val().trim();

    if (!old_pwd) {
      $('.error').html("{% trans "Current password cannot be blank" %}").removeClass('hide');
      return false;
    }
    if (!pwd1) {
      $('.error').html("{% trans "Password cannot be blank" %}").removeClass('hide');
      return false;
    }
    if (!pwd2) {
      $('.error').html("{% trans "Please enter the password again" %}").removeClass('hide');
      return false;
    }
    if (pwd1 != pwd2) {
      $('.error').html("{% trans "Passwords don't match" %}").removeClass('hide');
      return false;
    }
    if (!checkPasswordStrength(pwd1, {{strong_pwd_required}})) {
      $('.error').html(passwd_tip).removeClass('hide');
      return false;
    }
  });
</script>
{% endblock %}
