.sf-metadata-sort-popover .popover {
  max-width: none;
  min-width: 400px;
}

.sf-metadata-sort-popover .sorts-list {
  min-height: 120px;
  max-height: 100%;
  padding: 15px;
}

.sf-metadata-sort-popover .sorts-list .option-group {
  overflow: auto;
  max-height: 360px;
}

.sf-metadata-sort-popover .empty-sorts-container {
  min-height: 80px;
  padding: 16px;
}

.sorts-list .sort-item {
  display: flex;
  align-items: center;
  padding: 0.25rem 0;
}

.sort-item .condition {
  display: flex;
  flex: 1 1;
}

.sort-item .condition > div {
  height: 38px;
  line-height: 38px;
}

.sort-item .sort-column {
  width: 150px;
}

.sort-item .sort-predicate {
  width: 130px;
}

.sorts-list .delete-sort {
  width: 12px;
  height: 20px;
  margin-right: 14px;
  text-align: center;
}

.sorts-list .empty-sorts-list {
  color: var(--bs-body-secondary-color);
  font-size: 14px;
  padding: 0.25rem 0.25rem 0.25rem 0;
}

.delete-sort .seafile-multicolor-icon-fork-number {
  display: inline-block;
  font-size: 12px;
  fill: var(--bs-icon-secondary-color);
  cursor: pointer;
}

.sorts-list .delete-sort .seafile-multicolor-icon-fork-number:hover {
  fill: var(--bs-icon-color);
}
