.sf-metadata-view-card-setting-panel {
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--bs-border-secondary-color);
  background: var(--bs-body-bg);
}

.sf-metadata-view-card-setting-panel .setting-panel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  border-bottom: 1px solid var(--bs-border-secondary-color);
}

.sf-metadata-view-card-setting-panel .setting-panel-body {
  width: 100%;
  height: 100%;
  padding: 16px 16px 50px;
  font-size: 14px;
  overflow: auto;
}

.sf-metadata-view-card-setting-panel .setting-panel-body .setting-item {
  margin-bottom: 14px;
}

.sf-metadata-view-card-setting-panel .setting-item .setting-item-label {
  display: inline-block;
  margin-bottom: 8px;
}

.sf-metadata-view-card-setting-panel .setting-item .custom-switch-description {
  margin: 0;
}

.sf-metadata-view-card-setting-panel .setting-item .switch-setting-item {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.sf-metadata-view-card-setting-panel .custom-switch {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.sf-metadata-view-card-setting-panel .custom-switch-indicator {
  border-radius: 6px;
  height: 12px;
  width: 22px;
  margin-right: 8px;
}

.sf-metadata-view-card-setting-panel .custom-switch .custom-switch-indicator:before {
  height: 8px;
  width: 8px;
}

.sf-metadata-view-card-setting-panel .custom-switch .custom-switch-input:checked~.custom-switch-indicator:before {
  left: 12px;
}
