.add-item-btn {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  border-top: 1px solid var(--bs-border-secondary-color);
  background: var(--bs-popover-bg);
  padding: 0 1rem;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  position: relative;
}

.add-item-btn:hover {
  cursor: pointer;
  background: var(--bs-bg-color);
}

.add-item-btn .seafile-multicolor-icon-add-table {
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
  transform: none;
  fill: #666;
}

[data-bs-theme=dark] .add-item-btn .seafile-multicolor-icon-add-table {
  fill: rgba(255, 255, 255, .5);
}

.add-item-btn .description {
  flex: 1;
}
