.add-item-btn {
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--bs-border-quartus-color);
  padding: 0 1rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.add-item-btn:hover {
  background: none !important;
}

.add-item-btn .add-item-btn-content {
  width: 100%;
  display: flex;
  align-items: center;
}

.add-item-btn .add-item-btn-content .seafile-multicolor-icon-add-table {
  margin-right: 8px;
  font-size: 12px;
  font-weight: 600;
  transform: none;
  color: #666;
}

[data-bs-theme=dark] .add-item-btn .seafile-multicolor-icon-add-table {
  color: rgba(255, 255, 255, .5);
}

.add-item-btn .description {
  flex: 1;
}
