*.pyc
*~
*#
seahub.db*
local_settings.py
startserver.sh
thirdpart/django
thirdpart/djblets
thirdpart/gunicorn*
thirdpart/*.pth
thirdpart/site.*
restart.sh
settings.py.mysql
settings.py.sqlite
secret_key.py
run-seahub.sh
setenv.sh
pylintrc
.DS_Store
*.mo
media/assets
media/avatars/*
!media/avatars/default-non-register.jpg
!media/avatars/default.png
!media/default.jpg
!media/groups/default.jpg
static/scripts/dist
logs/
mysite.pid
notification_email.sh
send_user_notifications.sh
shutdown.sh
cscope*
docs/_build/*
deps
ghostdriver.log
seahub/thumbnail/thumb/*
