*.pyc
*~
*#
seahub.db*
seahub*.db
local_settings.py
local_settings*
startserver.sh
thirdpart/django
thirdpart/djblets
thirdpart/gunicorn*
thirdpart/*.pth
thirdpart/site.*
restart.sh
settings.py.mysql
settings.py.sqlite
secret_key.py
run-seahub.sh

# setenv
setenv.sh
setenv*.sh

pylintrc
.DS_Store
media/CACHE
media/custom

# media/avatars
media/avatars/*
!media/avatars/default-non-register.jpg
!media/avatars/default.png
!media/default.jpg
!media/groups/default.jpg

# bin/
bin/*
!bin/start.template
!bin/restart.template

static/scripts/dist
logs/
mysite.pid
notification_email.sh
send_user_notifications.sh
shutdown.sh
cscope*
docs/_build/*
deps

seahub/thumbnail/thumb/*

.virtualenv
.env
.dumbjump
.projectile
.pytest_cache/
tags

frontend/webpack-stats.dev.json
frontend/node_modules
frontend/build
frontend/package-lock.json
frontend/.eslintcache

/.idea
