language: python
before_install:
  # build/init/start ccnet-server/seafile-server
  - git clone --depth=1 --branch=6.2 git://github.com/haiwen/seafile-test-deploy /tmp/seafile-test-deploy
  - cd /tmp/seafile-test-deploy && ./bootstrap.sh && cd -
  # install phantomjs
  - ./tests/install-deps.sh
script:
  - ./tests/seahubtests.sh init && ./tests/seahubtests.sh runserver && ./tests/seahubtests.sh test
env:
  - CCNET_CONF_DIR=/tmp/ccnet SEAFILE_CONF_DIR=/tmp/seafile-data
install:
  - pip install -r requirements.txt --allow-all-external --allow-unverified Djblets --allow-unverified PIL
  - pip install -r test-requirements.txt
notifications:
  email: false
  slack:
    rooms:
      secure: TAfn5FZpRfzjGnHl2oiF1bF9FVg3L+ObK6gkNmdAY08xgdd8fHFOHrlD1WzrYSom3eT2OZ/5YPzrKAwbuWcMqTWc7NxjBCEDwfRu7F0DVBX/tUCd4f8H4B0LhaVpF3kNpApRV8UhIi1+2z9slP0O1BerDDn5AaTOx9YfcAFs/w8=
    on_success: always
