Django==2.2.14
future
captcha
django-statici18n
django-post_office==3.3.0
django-webpack_loader
gunicorn
mysqlclient
django-picklefield==2.1.1
openpyxl
qrcode
django-formtools
django-simple-captcha
djangorestframework
python-dateutil
requests
pillow
pyjwt
pycryptodome
requests_oauthlib
