Django==1.11.28
future
captcha
django-statici18n
django-post_office
django-webpack_loader
gunicorn
pymysql
django-picklefield
openpyxl
qrcode
django-formtools
django-simple-captcha
djangorestframework
python-dateutil
requests
pillow
pyjwt
pycryptodome
