python-dateutil
python-memcached==1.57
chardet
six
Pillow>=2.6.1,<3.0.0
Django==1.8.18
django-compressor==1.4
django-post-office==2.0.3
django-statici18n==1.1.2
djangorestframework==3.3.1
git+git://github.com/haiwen/django-constance.git@751f7f8b60651a2828e4a535a47fc05b907883da#egg=django-constance[database]
openpyxl==2.3.0
pytz==2015.7
django-formtools
qrcode
requests
requests_oauthlib==0.8.0
