#!/bin/sh

cd /Users/xiez/seahub

export CCNET_CONF_DIR=/Users/xiez/basic/conf2
export SEAFILE_CONF_DIR=/Users/xiez/basic/conf2/seafile-data
export PYTHONPATH=/Library/Python/2.7/site-packages/Django-1.3.1:thirdpart:/usr/local/lib/python2.7/site-packages/:$PYTHONPATH

python manage.py send_user_notifications
