export CCNET_CONF_DIR=/home/plt/dev/ccnet/seafile/tests/basic/conf2
export SEAFILE_CONF_DIR=/home/plt/dev/ccnet/seafile/tests/basic/conf2/seafile-data
export PYTHONPATH=/opt/lib/python2.6/site-packages:thirdpart:$PYTHONPATH
