{% extends "myhome_base.html" %}
{% block title %}登录{% endblock %}
{% block main_panel %}
<div class="narrow-panel">
<h2>登录</h2>
<form action="" method="post">
    <label for="username">邮箱：</label>
	<input type="text" name="username" value="" autocomplete="off" />
	<label for="password">密码：</label>
	<input type="password" name="password" value="" autocomplete="off" />
	<p class="error hide"></p>
	<input type="submit" value="提交" />
	<a href="{{ SITE_ROOT }}accounts/password/reset/">忘记密码？</a>
{% if next %}
    <input type="hidden" name="next" value="{{ next|escape }}" />
{% else %}
    <input type="hidden" name="next" value="{{ SITE_ROOT }}" />
{% endif %}
</form>
</div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$('input[type="submit"]').click(function(){
        if (!$.trim($('input[name="username"]').attr('value'))) {
            $('.error').removeClass('hide').html('请输入邮箱。');
            return false;
        }
        if (!$.trim($('input[name="password"]').attr('value'))) {
            $('.error').removeClass('hide').html('请输入密码。');
            return false;
        }
   });
    {% if form.errors %}
    $('.error').removeClass('hide').html('您输入的邮箱或密码不正确');
    {% endif %}
</script>
{% endblock %}
