{% extends "myhome_base.html" %}

{% block title %}密码重置{% endblock %}

{% block main_panel %}
<div class="w350 center">
{% if validlink %}

<h2>请输入新密码</h2>

<form action="" method="post">
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">新密码：</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">密码确认：</label>{{ form.new_password2 }}</p>
<p><input type="submit" value="提交" /></p>
</form>

{% else %}

<h2>密码重置失败</h2>
<p>重置链接失效。请重新重置。</p>

{% endif %}
</div>
{% endblock %}
