{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password reset' %}</div>{% endblock %}
{% block title %}{% trans "Password reset" %}{% endblock %}
{% block main_panel %}
<h2>{% trans "Password reset" %}</h2>
<p>请在下面输入您的 e-mail 地址，我们会把新密码设置说明通过邮件发送给您。</p>
<form action="" method="post">
<label for="id_email">{% trans 'E-mail address:' %}</label> {{ form.email }}
 <input type="submit" value="提交" />
{{ form.email.errors }}
</form>
{% endblock %}
