{% extends "accounts.html" %}
{% block title %}密码修改{% endblock %}

{% block main_panel %}
<div class="w350 center">
	<h2>密码修改</h2>
	<form action="" method="post" class="pwd_change">
		<label for="id_old_password">当前密码：</label>{{ form.old_password }}<br />
		{{ form.old_password.errors }}
		<label for="id_new_password1">新密码：</label>{{ form.new_password1 }}<br />
		{{ form.new_password1.errors }}
		<label for="id_new_password2">新密码确认：</label>{{ form.new_password2 }}<br />
		{{ form.new_password2.errors }}
		<input type="submit" value="提交" class="submit" />
	</form>
</div>
{% endblock %}
