{% extends "myhome_base.html" %}

{% block title %}密码重置{% endblock %}

{% block main_panel %}

{% if validlink %}

<div class="narrow-panel">
    <h2>请输入新密码</h2>
    <form action="" method="post">
        <label for="id_new_password1">新密码：</label>
        {{ form.new_password1 }}
        {{ form.new_password1.errors }}
        <label for="id_new_password2">新密码确认：</label>
        {{ form.new_password2 }}
        {{ form.new_password2.errors }}
        <input type="submit" value="提交" />
    </form>
</div>

{% else %}

<div class="text-panel">
    <p>密码重置失败：重置链接失效。请重新重置。</p>
</div>

{% endif %}
{% endblock %}
