{% extends "myhome_base.html" %}
{% load i18n %}
{% block title %}{% trans "Register" %}{% endblock %}
{% block main_panel %}
<div class="narrow-panel">
{% if request.user.is_authenticated %}
    <h2>{% trans "Welcome back, you are already signed in." %}</h2>
{% else %}
    <h2>{% trans "Register" %}</h2>
    <form action="" method="post">
        <label for="id_email">{% trans "Email" %}</label>
        {{ form.email }}            {{ form.email.errors }}
        <label for="id_password1">{% trans "Password" %}</label>
        {{ form.password1 }}        {{ form.password1.errors }}
        <label for="id_password2">{% trans "Confirm Password" %}</label>
        {{ form.password2 }}        {{ form.password2.errors }}
        <p class="error hide"></p>
        <input type="submit" value="{% trans "Submit" %}" class="submit" />
    </form>
{% endif %}
</div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$('input[type="submit"]').click(function(){
        if (!$.trim($('input[name="email"]').attr('value'))) {
            $('.error').removeClass('hide').html(gettext('Email can\'t be blank'));
            return false;
        }
        if (!$.trim($('input[name="password1"]').attr('value'))) {
            $('.error').removeClass('hide').html('Password can\'t be blank');
            return false;
        }
        if (!$.trim($('input[name="password2"]').attr('value'))) {
            $('.error').removeClass('hide').html('Confirm password can\'t be blank');
            return false;
        }
        if ($.trim($('input[name="password1"]').attr('value')) != $.trim($('input[name="password2"]').attr('value'))) {
            $('.error').removeClass('hide').html('The two password fields did\'t match');
            return false;
        }
   });
</script>
{% endblock %}
