{% extends "myhome_base.html" %}
{% block title %}用户注册{% endblock %}
{% block main_panel %}
<h2>用户注册</h2>
  <form action="" method="post" class="reg">
    <label for="id_username">公钥 ID：</label>
      {{ form.userid }} (可以以后再绑定)
        {% if form.userid.errors %}
        {{ form.userid.errors }}
        {% endif %}<br />
     <label for="id_email">邮箱：</label>
      {{ form.email }}<span>(我们将给您发送帐号激活邮件.)</span>
        {% if form.email.errors %}
        {{ form.email.errors }}
        {% endif %}<br />
     <label for="id_password1">密码：</label>
      {{ form.password1 }}
        {% if form.password1.errors %}
        {{ form.password1.errors }}
        {% endif %}<br />
    <label for="id_password2">确认密码：</label>
      {{ form.password2 }}<br />
      <input type="submit" value="提交" class="submit" />
  </form>
{% endblock %}
 
