.sf-metadata-view-setting-panel .sf-metadata-setting-divide-line {
  width: 100%;
  height: 1px;
  margin-bottom: 14px;
  background-color: var(--bs-border-secondary-color);
}

.sf-metadata-ui.file-name-formatter.sf-metadata-image-file-formatter .sf-metadata-file-icon {
  transform: translateY(0);
  max-width: 24px;
  max-height: 24px;
  height: unset;
}

.sf-metadata-loading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.sf-metadata-loading-tip {
  margin-top: 8px;
  font-size: 14px;
  color: #666;
}

.rc-calendar.sf-metadata-rc-calendar {
  font-family: var(--bs-body-font-family);
}
