.sf-metadata-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  position: relative;
  border: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sf-metadata-view-setting-panel .sf-metadata-setting-divide-line {
  width: 100%;
  height: 1px;
  margin-bottom: 14px;
  background-color: var(--bs-border-secondary-color);
}

.sf-metadata-loading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.sf-metadata-loading-tip {
  margin-top: 8px;
  font-size: 14px;
  color: #666;
}

.rc-calendar.sf-metadata-rc-calendar {
  font-family: var(--bs-body-font-family);
}

.sf-metadata-wrapper .sf-table-cell .select-all-checkbox-container {
  width: 40px;
  margin-right: 20px;
  justify-content: center;
}

.sf-metadata-wrapper .sf-table-cell .select-cell-checkbox-container {
  width: 40px;
}

.sf-metadata-wrapper .sf-table-cell.actions-cell {
  padding: 4px 4px 4px 8px;
}

.sf-metadata-wrapper .sf-table-result-content .frozen-columns:not(.frozen-columns-header) .sf-table-cell {
  justify-content: space-between;
}

.sf-metadata-wrapper .sf-table-row:hover .sf-table-cell.actions-cell .action-cell-content {
  justify-content: space-between;
  width: 100%;
}

.sf-metadata-container {
  height: 100%;
}
