.sf-metadata-tags-table {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  padding: 0 1rem 10rem;
}

.sf-metadata-tags-table .sf-metadata-tags-table-header {
  height: 37px !important;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
}

.sf-metadata-tags-table .sf-metadata-tags-table-row {
  height: 41px;
  width: 100%;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.sf-metadata-tags-table .sf-metadata-tags-table-row:not(.sf-metadata-tags-table-header):hover {
  background-color: #f8f8f8;
}

.sf-metadata-tags-table .sf-metadata-tags-table-row .sf-metadata-tags-table-cell {
  position: relative;
  height: 100%;
  padding: 0 8px;
  font-size: 14px;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sf-metadata-tags-table .sf-metadata-tags-table-row .sf-metadata-tags-table-cell-tag {
  width: calc((100% - 96px) * 0.3);
  padding-left: 10px;
}

.sf-metadata-tags-table .sf-metadata-tags-table-row .sf-metadata-tags-table-cell-parent-tags,
.sf-metadata-tags-table .sf-metadata-tags-table-row .sf-metadata-tags-table-cell-sub-tags-count,
.sf-metadata-tags-table .sf-metadata-tags-table-row .sf-metadata-tags-table-cell-tag-files-count {
  width: calc((100% - 96px) * 0.2);
}

.sf-metadata-tags-table .sf-metadata-tags-table-row .sf-metadata-tags-table-cell-operations-wrapper {
  width: 96px;
  height: 100%;
}

.sf-metadata-tags-table .sf-metadata-tags-table-row .sf-metadata-tags-table-cell-parent-tags {
  display: flex;
  align-items: center;
}

.sf-metadata-tags-table .sf-metadata-tags-table-header .sf-metadata-tags-table-cell {
  color: #999;
  font-size: 13px;
  line-height: 16px;
  padding: 10px 8px;
}

.sf-metadata-tags-table .sf-metadata-tags-table-cell .sf-metadata-tags-operation-pop-handler {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
}
