{% extends base_template %}

{% load seahub_tags avatar_tags group_avatar_tags %}
{% load url from future %}

{% block nav_group_class %}class="cur"{% endblock %}

{% block title_panel %}
<h2>{{ group.group_name }}</h2>
{% endblock %}

{% block left_panel %}
<div class="info-item">
    <h3 class="info-item-top">基本信息</h3>
    <div class="info-item-bottom group-basic-info ovhd">
        <img src="{% grp_avatar_url group.props.id 48 %}" alt="{{ group.props.group_name }}的图标" title="{{ group.props.group_name }}" class="avatar fleft" />
        <p class="txt fright">{{ group.creator_name }} 创建于<br />{{ group.timestamp|tsstr_sec }}</p>
    </div>
</div>
<div class="info-item">
    <h3 class="info-item-top">管理员</h3>
    <ul class="info-item-bottom">
        {% for member in managers %}
        <li class="member">{% avatar member.user_name 16 %}<a class="name" href="{{ SITE_ROOT }}profile/{{ member.user_name }}/">{{ member.user_name|email2nickname }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="info-item">
    <h3 class="info-item-top">成员</h3>
    <div class="info-item-bottom">
        {% if common_members %}
        <ul>
            {% for member in common_members %}
            <li class="member">{% avatar member.user_name 16 %}<a class="name" href="{{ SITE_ROOT }}profile/{{ member.user_name }}/">{{ member.user_name|email2nickname }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>暂无</p>
        {% endif %}
    </div>
</div>

{% if is_join %}
<div class="info-item">
    <h3 class="info-item-top">操作</h3>
    <ul class="with-bg info-item-bottom">
        {% if is_staff %}
        <li><a id="group-mgr" href="{{ SITE_ROOT }}group/{{ group.id }}/members/">群组管理</a></li>
        {% else %}
        <li><a id="quit-group" href="#" data="{{ SITE_ROOT }}group/{{ group.id }}/?op=quit">退出群组</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
{% endblock %}

{% block right_panel %}
<h3>群组里共享的资料库</h3>
<button id="repo-create">新建资料库</button>
{% if repos %}
<table>
    <tr>
        <th width="4%"><!--icon--></th>
        <th width="20%">名字</th>
        <th width="36%">描述</th>
        <th width="14%">更新时间</th>
        <th width="16%">共享来源</th>
        <th width="10%">操作</th>
    </tr>

    {% for repo in repos %}
    <tr>
        <td>
            {% if repo.user_perm == 'rw' %}
            <img src="{{MEDIA_URL}}img/sync-folder-20.png" title="可读写" alt="目录icon" />
            {% else %}
            <img src="{{MEDIA_URL}}img/folder-no-write-20.png" alt="目录icon" />
            {% endif %}
        </td>
        <td><a href="{{ SITE_ROOT }}repo/{{ repo.props.id }}/">{{ repo.props.name }}</a></td>
        <td>{{ repo.props.desc }}</td>
        <td>
        {% if repo.latest_modify %}
        {{ repo.latest_modify|translate_commit_time }}
        {% else %}
        —— ——
        {% endif %}
        </td>
        <td>{{ repo.owner|email2nickname }}</td>
        <td>
	    {% if repo.user_perm == 'rw' %}
            <img src="{{ MEDIA_URL }}img/download-20.png" class="download op-icon vh" data="{{ SITE_ROOT }}seafile_access_check/?repo_id={{ repo.props.id }}" alt="下载" title="下载到本地" />
	    {% endif %}
        {% if is_staff or repo.share_from_me  %}
            <img src="{{ MEDIA_URL }}img/delete-20.png" class="cancel-share op-icon vh" data="{{ SITE_ROOT }}shareadmin/removeshare/?repo_id={{ repo.props.id }}&from={{ repo.owner }}&gid={{ group.id }}" title="取消共享" alt="取消共享" />
        {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<div id="group-reply">
    <h3>信息栏</h3>
    <div class="w100 ovhd">
        <img src="{{MEDIA_URL}}avatars/default.jpg" alt="默认头像" class="avatar fleft" width="48" height="48" />
        <form id="group-message-form" action="" method="post" class="fright">
            <textarea name="message" id="message">{{ form.data.message }}</textarea><br />
            {% for error in form.message.errors %}
            <p class="error">{{ error|escape }}</p>
            {% endfor %}
            <input type="submit" value="提交" class="submit" />
        </form>
    </div>

{% if group_msgs %}
    <ul class="msg-list">
    {% for msg in group_msgs %}
        <li class="msg w100 ovhd">
        <div class="pic fleft">
            <a href="{{ SITE_ROOT }}profile/{{ msg.from_email }}/">{% avatar msg.from_email 48 %}</a>
        </div>
        <div class="txt fright">
            <div class="msg-hd">
                <span class="time">{{ msg.timestamp|translate_commit_time }}</span>
                <a href="{{ SITE_ROOT }}profile/{{ msg.from_email }}/" title="{{ msg.from_email }}">{{ msg.from_email|email2nickname }}</a>
            </div>
            <div class="msg-bd">
                <p>
                {% if msg.attachment.src == 'recommend' %}
                <!-- recommend -->
                <span class="recommend">推荐
                  {% if msg.attachment.attach_type == 'file' %}
                  <a href="{% url 'repo_view_file' msg.attachment.repo_id %}?p={{ msg.attachment.path|urlencode }}" target="_blank">
                  {% else %}
                  <a href="{% url 'repo' msg.attachment.repo_id %}?p={{ msg.attachment.path|urlencode }}" target="_blank">
                  {% endif %}
                  {{ msg.attachment.name }}</a> :
                </span>
                {% endif %}

                {% if msg.attachment.src == 'filecomment' %}
                <!-- file comment -->
                <span class="recommend">文件 <a href="{% url 'repo_view_file' msg.attachment.repo_id %}?p={{ msg.attachment.path|urlencode }}&comment_open=true" target="_blank"> {{ msg.attachment.name }}</a> 有新的评注：</span>
                {% endif %}
                
                {{ msg.message|seahub_urlize|find_at|linebreaksbr }}
                </p>
                <button class="reply op" data="{% url 'msg_reply' msg.id %}"><span class="reply-cnt">{% if msg.reply_cnt != 0 %}{{ msg.reply_cnt }} {% endif %}</span>回复</button>
                <button class="replyclose op hide">收起回复</button>
                <div class="reply-bd"></div>
            </div>
        </div>
        </li>
    {% endfor %}
    </ul>
{% endif %}

    <div id="paginator">
        {% if current_page != 1 %}
        <a href="{{ SITE_ROOT }}group/{{ group.id}}/?page={{ prev_page }}&per_page={{ per_page }}">上一页</a>
        {% endif %}
        {% if page_next %}
        <a href="{{ SITE_ROOT }}group/{{ group.id }}/?page={{ next_page }}&per_page={{ per_page }}">下一页</a>
        {% endif %}
    </div>
</div>

{% include "snippets/user_profile_html.html" %}
{% include "snippets/repo_create_form.html" %}

{% endblock %}

{% block extra_script %}
{% include 'snippets/user_profile_js.html' %}
<script type="text/javascript">
addConfirmTo($('#quit-group'), '确定要退出？');
addConfirmTo($('.cancel-share'), '确定要取消共享该资料库？');

$(function() {
    addAtAutocomplete('#message', '#group-message-form', {{ group.id }}, "{% url 'group_attention' %}", {'border':'1px solid #ddd', 'width':'600px', 'height': '80px', 'word-wrap':'break-word', 'overflow-y':'auto', 'line-height': '1.5em'}); // remember to add unit (px or em) to line-height, as js in ie will take 1.5 as 1.5, not 1.5em
});

$("table tr:gt(0)").hover(
    function() {
        $(this).find('.op-icon').css('cursor', 'pointer').removeClass('vh');
    },
    function() {
        $(this).find('.op-icon').addClass('vh');
    }
);

$('.download').click(function() {
    window.open($(this).attr('data'));
});

{% include 'group/msg_reply_js.html' %}

{% url 'create_group_repo' group.id as repo_create_url %}
{% with post_url=repo_create_url %}
    {% include 'snippets/repo_create_js.html' %}
{% endwith %}
</script>
{% endblock %}
