{% extends base_template %}
{% load seahub_tags %}
{% load url from future %}

{% block nav_group_class %}class="cur"{% endblock %}

{% block title_panel %}
<h2>{{ group.group_name }} 群组管理</h2>
{% endblock %}

{% block left_panel %}
<h3>操作</h3>
<ul class="with-bg">
    <li><a href="{{ SITE_ROOT }}avatar/group/add/?gid={{ group.id }}">设置群组图标</a></li>
    <li><a id="group-remove" href="#" data="{{ SITE_ROOT }}group/{{ group.id }}/?op=dismiss">解散群组</a></li>
    <li><a href="{{ SITE_ROOT }}group/{{ group.id }}/">返回群组</a></li>
</ul>
{% endblock %}

{% block right_panel %}
<h3>群组成员列表</h3>
<button id="group-member-add">添加成员</button>
{% if members %}
<table class="member-list">
    <tr>
        <th width="75%">邮箱</th>
        <th width="25%">操作</th>
    </tr>

    {% for member in members %}
    <tr>
        <td>{{ member.user_name }}</td>
        <td>
        {% if not member.is_staff %}
            <a href="#" data="{{ SITE_ROOT }}group/{{ group.id }}/member/{{ member.user_name }}/?op=delete" class="member-remove-btn op">删除</a>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>暂无</p>
{% endif %}

<form id="member-add-form" action="{{ SITE_ROOT }}group/{{ group.id }}/members/" method="post" name="member-add-form" class="hide">
    <label>邮箱:</label><br />
    <textarea id="added-member-name" name="user_name"></textarea><br />
    <input type="hidden" id="group_id" name="group_id" value="{{ group.id }}" />
    <p class="error hide" id="member-add-error"></p>
    <input type="submit" value="提交" id="member-add-submit" />
</form>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
addConfirmTo($("#group-remove"), '确定要解散该群组吗？');

addConfirmTo($(".member-remove-btn"), '确定要删除该成员？');

var contact_list = [];
{% for contact in contacts %}
contact_list.push('{{ contact.contact_email }}');
{% endfor %}

$("#group-member-add").click(function() {
    $("#member-add-form").modal({appendTo: "#main"});
    addAutocomplete('#added-member-name', '#member-add-form', contact_list);
    return false;
})
.hover(
    function() {
        $(this).css({'background-color': '#fff', 'cursor': 'pointer'});
    },
    function() {
        $(this).css('background-color', '#f5f5f5');
    }
);

$('#member-add-submit').click(function() {
    if (!$.trim($('#added-member-name').attr('value'))) {
        apply_form_error('member-add-form', '输入不能为空。');
        return false;
    }
    $.ajax({
        url: '{% url 'group_members' group.id %}',
        type: 'POST',
        dataType: 'json',
        cache: 'false',
        beforeSend: prepareCSRFToken,
        data: {
            'user_name': $('#added-member-name').val()
        },
        success: function(data) {
            location.reload(true);
        },
        error: function(data, textStatus, jqXHR) {
            var errors = $.parseJSON(data.responseText);
            $.each(errors, function(index, value) {
                apply_form_error('member-add-form', value);
            });
        }
    });

    return false;
});

</script>
{% endblock %}
