{% extends base_template %}

{% load seahub_tags avatar_tags group_avatar_tags i18n %}
{% load url from future %}

{% block nav_group_class %}class="cur"{% endblock %}

{% block title_panel %}


<div class="tabnav">
    <div class="grp-profile fright">
        {% grp_avatar group.props.id 24 %}<span class="name">{{ group.group_name }}</span>
    </div>
    <ul class="tabnav-tabs">
        <li class="tabnav-tab"><a href="{% url 'group_info' group.id %}">{% trans "Libraries" %}</a></li>
        <li class="tabnav-tab"><a href="{% url 'group_discuss' group.id %}">{% trans "Discussion" %}</a></li>
        <li class="tabnav-tab tabnav-tab-cur">{% trans "Wiki" %}</li>
        {% if is_staff %}
        <li class="tabnav-tab"><a href="{% url 'group_manage' group.id %}">{% trans "Admin" %}</a></li>
        {% endif %}
    </ul>
</div>

{% endblock %}

{% block main_panel %}
<div id="wiki-home" class="">
{% if not wiki_exists %}
  <div class="empty-tips">
    <h2 class="center-contents">{% trans "This group currently has no wiki" %}</h2>
    <p>Wiki is a normal library with pre-defined file/folder structure. It enables group members to manage project documents or take notes using a simplified markup language called Markdown.<a href="{% url 'group_wiki_create' group.id %}">{% trans "Create Wiki Now." %}</a></p>
  </div>
{% else %}
  <ul class="wiki-nav" id="">
    <li><a href="{% url 'group_wiki' group.id %}">{% trans "Home" %}</a></li>
    <li><a href="{% url 'group_wiki_pages' group.id %}">{% trans "Pages" %}</a></li>
  </ul>

  <button id="page-create" class="fright">{% trans "New Page" %}</button>
  <button id="page-delete" class="fright" data-url="{% url 'group_wiki_page_delete' group.id page %}">{% trans "Delete Page" %}</button>
  <button id="page-edit" class="fright">{% trans "Edit Page" %}</button>

  <div id="wiki-area" class="article">
    <h1>{{ page }}</h1>
    <div id="wiki-content"></div>
  </div>
  
  <form id="page-create-form" action="{% url 'group_wiki_page_new' group.id %}" method="post" class="hide">
    <h3>{% trans "New Page"%}</h3>
    <label>{% trans "Name"%}</label><br/>
    <input id="page-name" type="text" name="page_name" value="" maxlength="{{max_file_name}}"/><br />
    <p class="error hide"></p>
    <input type="submit" id="page-create-submit" value="{% trans "Submit"%}" class="submit"/>
  </form>
{% endif %}
</div>                          <!--END wiki-home-->

{% endblock main_panel %}

{% block left_panel %}

{% endblock %}


{% block right_panel %}

{% endblock %}



{% block extra_script %}
<script type="text/javascript" src="{{MEDIA_URL}}js/showdown.js"></script>
<script type="text/javascript">
{% if wiki_exists %}
var converter = new Showdown.converter();
$('#wiki-content').html(converter.makeHtml('{{ content|escapejs }}')).children(':first').css('margin-top', '0');

$('#page-create').click(function() {
    $('#page-create-form').modal({appendTo: '#main', autoResize: true});
})

$('#page-edit').click(function() {
    location.href = ("{% url 'group_wiki_page_edit' group.id page %}");
})

$('#page-list').click(function () {
    location.href = ("{% url 'group_wiki_pages' group.id %}");
});

addConfirmTo($('#page-delete'), {
    'title': 'Delete page',
    'con': 'Are you sure you want to delete this page?'
});

{% endif %}

</script>
{% endblock %}
