{% extends base_template %}
{% load seahub_tags %}
{% load url from future %}

{% block nav_group_class %}class="cur"{% endblock %}

{% block title_panel %}
<h2>{{ group.group_name }} 群组管理</h2>
{% endblock %}

{% block left_panel %}
<h3>操作</h3>
<ul class="with-bg">
    <li><a href="{{ SITE_ROOT }}avatar/group/add/?gid={{ group.id }}">设置群组图标</a></li>
    <li><a id="group-remove" href="#" data="{{ SITE_ROOT }}group/{{ group.id }}/?op=dismiss">解散群组</a></li>
    <li><a href="{{ SITE_ROOT }}group/{{ group.id }}/">返回群组</a></li>
</ul>
{% endblock %}

{% block right_panel %}
<h3>成员列表</h3>
<button id="group-member-add">添加成员</button>
{% if members %}
<table class="member-list">
    <tr>
        <th width="75%">邮箱</th>
        <th width="25%">操作</th>
    </tr>

    {% for member in members %}
    <tr>
        <td>{{ member.user_name }}</td>
        <td>
            <a href="#" data="{{ SITE_ROOT }}group/{{ group.id }}/member/{{ member.user_name }}/?op=delete" class="member-remove-btn op">删除</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
{% if cloud_mode and not org %}
<div class="empty-repo-tips"><h3>当前群组还没有成员</h3>可以点击上方的“添加成员”按钮来加入成员，如果对方未注册，系统会向他发送邀请邮件。</div>
{% else %}
<div class="empty-repo-tips"><h3>当前群组还没有成员</h3>可以点击上方的“添加成员”按钮来加入成员，对方必须在当前团体内。</div>
{% endif %}
{% endif %}

<h3>管理员列表</h3>
<button id="group-admin-add">添加管理员</button>
{% if admins %}
<table class="member-list">
    <tr>
        <th width="75%">邮箱</th>
        <th width="25%">操作</th>
    </tr>

    {% for member in admins %}
    <tr>
        <td>{{ member.user_name }}</td>
        <td>
            {% if member.user_name != request.user.username %}
            <a href="#" data="{% url 'group_remove_admin' group.id %}?u={{ member.user_name }}" class="member-remove-btn op">删除</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>暂无</p>
{% endif %}

{% include 'group/grpmember_add_form.html' %}

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
addConfirmTo($("#group-remove"), '确定要解散该群组吗？');

addConfirmTo($(".member-remove-btn"));

var contact_list = [], contact_email;
{% for contact in contacts %}
contact_email = '{{ contact.contact_email }}';
contact_list.push({value:contact_email, label:contact_email});
{% endfor %}

{% url 'group_members' group.id as member_add_url %}
{% with post_url=member_add_url %}
{% include 'group/grpmember_add_js.html' %}
{% endwith %}

{% url 'group_add_admin' group.id as admin_add_url %}
{% with post_url=admin_add_url %}
{% include 'group/grpadmin_add_js.html' %}
{% endwith %}

</script>
{% endblock %}
