{% extends base_template %}
{% load seahub_tags avatar_tags group_avatar_tags i18n %}
{% load url from future %}

{% block nav_group_class %}class="cur"{% endblock %}

{% block title_panel %}
<h2>{{ group.group_name }} {% trans "administration"%}</h2>
{% endblock %}

{% block left_panel %}
<div class="info-item">
  <div class="info-item-top"><h3>Group Avatar</h3></div>
  <div class="info-item-bottom ovhd">
    <img src="{% grp_avatar_url group.props.id 48 %}" alt="{{ group.props.group_name }}{% trans "'s icon" %}" title="{{ group.props.group_name }}" class="avatar fleft" />
      <form id="id_avatar_form" enctype="multipart/form-data" method="POST" action="{% url 'avatar_group_add' group.id %}" style="padding-left: 5px; display:inline-block;">
        <span class="fileinput-button" style="margin-right: 0px; padding-top: 0px; ">
          <a href="#">{% trans "Change picture" %}</a>
          <input type="file" name="avatar" id="id_avatar" />
        </span>
      </form>
  </div>
</div>

<div class="info-item">
  <div class="info-item-top"><h3>{% trans "Operations"%}</h3> </div>
  <div class="info-item-bottom">
    <ul class="with-bg">
      <li><a id="group-dismiss" href="#" data-url="{{ SITE_ROOT }}group/{{ group.id }}/?op=dismiss">{% trans "Dismiss"%}</a></li>
      <li><a href="{{ SITE_ROOT }}group/{{ group.id }}/">{% trans "Back"%}</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block right_panel %}
<h3>{% trans "Members"%}</h3>
<button id="group-member-add">{% trans "Add Members"%}</button>
{% if members %}
<table class="member-list">
    <tr>
        <th width="4%"></th>
        <th width="71%">{% trans "Email"%}</th>
        <th width="25%">{% trans "Operations"%}</th>
    </tr>

    {% for member in members %}
    <tr>
        <td>{% avatar member.user_name 20 %}</td>
        <td>{{ member.user_name }}</td>
        <td>
            <a href="#" data-url="{{ SITE_ROOT }}group/{{ group.id }}/member/{{ member.user_name }}/?op=delete" data-target="{{ member.user_name }}" class="member-remove-btn op">{% trans "Delete"%}</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<h3>{% trans "Administrators"%}</h3>
<button id="group-admin-add">{% trans "Add Administrators"%}</button>
{% if admins %}
<table class="member-list">
    <tr>
        <th width="4%"></th>
        <th width="71%">{% trans "Email"%}</th>
        <th width="25%">{% trans "Operations"%}</th>
    </tr>

    {% for member in admins %}
    <tr>
        <td>{% avatar member.user_name 20 %}</td>
        <td>{{ member.user_name }}</td>
        <td>
            {% if member.user_name != request.user.username %}
            <a href="#" data-url="{% url 'group_remove_admin' group.id %}?u={{ member.user_name }}" data-target="{{ member.user_name }}" class="member-remove-btn op">{% trans "Delete"%}</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% include 'group/grpmember_add_form.html' %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
addConfirmTo($("#group-dismiss"), '{% trans "Dismiss Group" %}', '{% trans "Really want to dismiss this group" %}');
addConfirmTo($(".member-remove-btn"), '{% trans "Delete Member" %}', '{% trans "Really want to delete Member" %}');
var contact_list = [], contact_email;
{% for contact in contacts %}
contact_email = '{{ contact.contact_email }}';
contact_list.push({value:contact_email, label:contact_email});
{% endfor %}

{% url 'group_members' group.id as member_add_url %}
{% with post_url=member_add_url %}
{% include 'group/grpmember_add_js.html' %}
{% endwith %}

{% url 'group_add_admin' group.id as admin_add_url %}
{% with post_url=admin_add_url %}
{% include 'group/grpadmin_add_js.html' %}
{% endwith %}
</script>
{% include "snippets/avatar_upload_js.html" %}
{% endblock %}
