{% extends "myhome_base.html" %}
{% load seahub_tags avatar_tags %}

{% block nav_group_class %}class="cur"{% endblock %}

{% block left_panel %}

<h3>管理员</h3>
<ul>
{% for member in managers %}
    <li class="group-member">{% avatar member.user_name 16 %}<span class="group-member-name">{{ member.short_username }}</span></li>
{% endfor %}
</ul>

<h3>成员</h3>
{% if common_members %}
<ul>
    {% for member in common_members %}
	<li class="group-member">{% avatar member.user_name 16 %}<span class="group-member-name">{{ member.short_username }}</span></li>
    {% endfor %}
</ul>
{% else %}
<p>暂无</p>
{% endif %}

{% if is_join %}
<h3>操作</h3>
<ul class="with-bg">
{% if is_staff %}
    <li><a id="group-mgr" href="{{ SITE_ROOT }}group/{{ group.id }}/members/">小组管理</a></li>
{% else %}
	<li><a id="quit-group" href="#">退出小组</a></li>
{% endif %}
</ul>
{% endif %}

{% endblock %}

{% block right_panel %}
<h2>{{ group.group_name }}</h2>
<h3>小组里共享的同步目录</h3>
{% if repos %}
<table>
    <tr>
        <th width="20%">名字</th>
        <th width="40%">描述</th>
        <th width="20%">共享来源</th>
        <th width="20%">操作</th>
    </tr>

    {% for repo in repos %}
    <tr>
        <td><a href="{{ SITE_ROOT }}repo/{{ repo.props.id }}/">{{ repo.props.name }}</a></td>
        <td>{{ repo.props.desc }}</td>
        <td>{{ repo.share_from }}</td>
        <td>
        <button data="{{ repo.props.id }}" class="download-btn">下载</button>
        {% if is_staff or repo.share_from_me  %}
        <button data="{{ SITE_ROOT }}shareadmin/removeshare/?repo_id={{ repo.props.id }}&gid={{ group.id }}" class="repo-delete-btn">取消共享</button>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>暂无</p>
{% endif %}

<div id="dialog-quit-confirm" class="hide">
  <p>确定要退出？</p>
  <button id="quit-yes-btn">确定</button>
  <button class="simplemodal-close">取消</button>
</div>

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$("#quit-group").click(function() {
    $('#dialog-quit-confirm').modal({appendTo:'#main'});
    return false;
});
        
$('#quit-yes-btn').click(function() {
    location.href = "{{ SITE_ROOT }}group/{{ group.id }}/?op=quit";
});

addConfirmTo($('.repo-delete-btn'));

/*                
$('.repo-delete-btn').click(function() {
    location.href = $(this).attr('data');
});
*/

$('.download-btn').click(function() {
    window.open('{{ SITE_ROOT }}seafile_access_check/?repo_id=' + $(this).attr('data'));
});        
</script>
{% endblock %}
