{% extends base_template %}

{% load seahub_tags avatar_tags group_avatar_tags i18n %}
{% load url from future %}

{% block nav_group_class %}class="cur"{% endblock %}

{% block title_panel %}


<div class="tabnav">
    <ul class="tabnav-tabs">
        <li class="tabnav-tab"><a href="{% url 'group_info' group.id %}">{% trans "Libraries" %}</a></li>
        <li class="tabnav-tab"><a href="{% url 'group_discuss' group.id %}">{% trans "Discussion" %}</a></li>
        <li class="tabnav-tab tabnav-tab-cur">{% trans "Wiki" %}</li>
        {% if is_staff %}
        <li class="tabnav-tab"><a href="{% url 'group_manage' group.id %}">{% trans "Admin" %}</a></li>
        {% endif %}

    </ul>
    <div class="fright">
    {% grp_avatar group.props.id 24 %} <span style="font-size: 16px; font-weight:bold; margin: 0 6px;">{{ group.group_name }}</span>
    </div>
</div>

{% if not wiki_exists %}
  <a href="{% url 'group_wiki_create' group.id %}">{% trans "Create Wiki" %}</a>
{% else %}
  <button id="page-create" class="fright">{% trans "New Page" %}</button>

  {% if wiki_page_missing %}
  <p>Seems this page is deleted by others, you can create a new page by clicking "New Page" button. </p>
  {% else %}
  <button id="page-edit" class="fright">{% trans "Edit Page" %}</button>

  <div id="wiki-area" class="article">
    <h1>{{ page }}</h1>
    <div id="wiki-content"></div>
  </div>
  {% endif%}
  
  <form id="page-create-form" action="{% url 'group_wiki_page_new' group.id %}" method="post" class="hide">
    <h3>{% trans "New Page"%}</h3>
    <label>{% trans "Name"%}</label><br/>
    <input id="page-name" type="text" name="page_name" value="" maxlength="{{max_file_name}}"/><br />
    <p class="error hide"></p>
    <input type="submit" id="page-create-submit" value="{% trans "Submit"%}" class="submit"/>
  </form>
  
{% endif %}

{% endblock %}


{% block left_panel %}

{% endblock %}


{% block right_panel %}

{% endblock %}



{% block extra_script %}
<script type="text/javascript" src="{{MEDIA_URL}}js/showdown.js"></script>
<script type="text/javascript">
{% if wiki_exists %}
var converter = new Showdown.converter();
$('#wiki-content').html(converter.makeHtml('{{ content|escapejs }}')).children(':first').css('margin-top', '0');

$('#page-create').click(function() {
    $('#page-create-form').modal({appendTo: '#main', autoResize: true});
})

$('#page-edit').click(function() {
    window.open("{% url 'group_wiki_page_edit' group.id page %}")
})
{% endif %}

</script>
{% endblock %}
