{% extends base_template %}

{% load seahub_tags avatar_tags group_avatar_tags i18n %}
{% load url from future %}

{% block nav_group_class %}class="cur"{% endblock %}

{% block title_panel %}


<div class="tabnav">
    <ul class="tabnav-tabs">
        <li class="tabnav-tab"><a href="{% url 'group_info' group.id %}">{% trans "Libraries" %}</a></li>
        <li class="tabnav-tab"><a href="{% url 'group_discus' group.id %}">{% trans "Discussions" %}</a></li>
        <li class="tabnav-tab tabnav-tab-cur">{% trans "Wiki" %}</li>
        {% if is_staff %}
        <li class="tabnav-tab"><a href="{% url 'pubuser' %}">{% trans "Admin" %}</a></li>
        {% endif %}

    </ul>
    <div class="fright">
    {% grp_avatar group.props.id 24 %} <span style="font-size: 16px; font-weight:bold; margin: 0 6px;">{{ group.group_name }}</span>
    </div>
</div>

<button id="wiki-create" class="add fright">{% trans "New Page" %}</button>
<button id="wiki-edit" class="add fright">{% trans "Edit Page" %}</button>

<a href="{% url 'group_wiki_create' group.id %}">{% trans "Create Wiki" %}</a>

<div class="article">
    <h1>{{ page }}</h1>
    <div id="wiki-view"></div>
</div>

{% endblock %}


{% block left_panel %}

{% endblock %}


{% block right_panel %}

{% endblock %}



{% block extra_script %}
<script type="text/javascript" src="{{MEDIA_URL}}js/showdown.js"></script>
<script type="text/javascript">
var converter = new Showdown.converter();
$('#wiki-view').html(converter.makeHtml('{{ content|escapejs }}')).children(':first').css('margin-top', '0');
</script>
{% endblock %}
