{% extends "myhome_base.html" %}
{% load seahub_tags %}

{% block nav_group_class %}class="cur"{% endblock %}
{% block left_panel %}
<h3>操作</h3>
<ul class="with-bg">
    <li><a id="group-add" href="#">添加小组</a></li>
</ul>
{% endblock %}

{% block right_panel %}

<h3>我的小组</h3>
{% if groups %}
<table>
    <tr>
        <th width="30%">名字</th>
        <th width="40%">创建者</th>
        <th width="30%">创建时间</th>
    </tr>

    {% for group in groups %}
    <tr>
        <td><a href="{{ SITE_ROOT }}group/{{ group.props.id }}/">{{ group.props.group_name }}</a></td>
        <td>{{ group.props.creator_name }}</td>
        <td>{{ group.props.timestamp|tsstr_sec }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>暂无</p>
{% endif %}

<form id="group-add-form" action="{{ SITE_ROOT }}group/add/" method="post" name="group-add-form" class="hide">
    <label>小组名称：</label><br />
    <input id="group_name" name="group_name" value="" /><br />
    <input type="submit" value="提交" />
</form>

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$("#group-add").click(function() {
    $("#group-add-form").modal({appendTo: "#main", containerCss:{padding:18}});
	return false;
});

</script>
{% endblock %}
