$('.reply, .replyclose').hover(
    function() {
        $(this).css('color', '#f93');
    },
    function() {
        $(this).css('color', '#080');
    }
);
$('.reply').click(function() {
    var msg_id = $(this).attr('data'),
        msg_bd = $(this).parent(),
        reply_cnt = msg_bd.find('.reply-cnt');
    $.ajax({
        url: '{{ SITE_ROOT }}group/reply/' + msg_id + '/',
        dataType: 'json',
        cache: false,
        contentType: 'application/json; charset=utf-8',
        success: function(data) {
            msg_bd.children('.reply-bd').html(data['html']).attr('class', 'reply-bd');
            var reply_input = msg_bd.find('.reply-input'),
                error = msg_bd.find('.error');
            function handleReplyInput() {
                reply_input.val('@' + $(this).attr('data') + ' ');
                var pos = reply_input.val().length;
                setSelectionRange(reply_input[0], pos, pos);
            }
            msg_bd.find('.reply-at').click(handleReplyInput);
            msg_bd.find('.submit').click(function() {
                var reply = $.trim(reply_input.val());
                if (reply && reply.length <= 150) {
                    $.ajax({
                        type: "POST",
                        url: '{{ SITE_ROOT }}group/reply/' + msg_id + '/',
                        dataType: 'json',
                        cache: false,
                        contentType: 'application/json; charset=utf-8',
                        beforeSend: prepareCSRFToken,
                        data: "message=" + reply,
                        success: function(data) {
                            msg_bd.find('.reply-list').append(data['html']);
                            reply_input.val('');
                            error.attr('class', 'error hide');
                            reply_cnt.html((parseInt(reply_cnt.html()) + 1 || 1) + ' ');
                            msg_bd.find('.reply-at').click(handleReplyInput);
                        }
                    });
                } else {
                    error.removeClass('hide');
                }
            });
        }
    });
    $(this).addClass('hide');
    $(this).next().removeClass('hide'); // show 'replyclose'
});

$('.replyclose').click(function() {
    $(this).next().addClass('hide'); // hide 'reply-bd'
    $(this).addClass('hide');
    $(this).prev().removeClass('hide'); // show 'reply'
});

function setSelectionRange(input, selectionStart, selectionEnd) {
  if (input.setSelectionRange) {
    input.focus();
    input.setSelectionRange(selectionStart, selectionEnd);
  }
  else if (input.createTextRange) {
    var range = input.createTextRange();
    range.collapse(true);
    range.moveEnd('character', selectionEnd);
    range.moveStart('character', selectionStart);
    range.select();
  }
}
