{% extends base_template %}
{% load seahub_tags avatar_tags %}

{% block main_panel %}
<div class="main fleft">
{% if group_msgs %}
    <ul class="msg-list">
    {% for msg in group_msgs %}
        <li class="msg w100 ovhd">
        <div class="pic fleft">
            <a href="{{ SITE_ROOT }}profile/{{ msg.from_email }}/">{% avatar msg.from_email 48 %}</a>
        </div>
        <div class="txt fright">
            <div class="msg-hd">
                <span class="time">{{ msg.timestamp|translate_commit_time }}</span>
                <a href="{{ SITE_ROOT }}profile/{{ msg.from_email }}/">{{ msg.from_email|email2nickname }}</a>
                <span class="group">所在小组：<a href="{{ SITE_ROOT }}group/{{ msg.group_id }}/">{{ msg.group_name }}</a></span>
            </div>
            <div class="msg-bd">
                <p>{{ msg.message }}</p>
                {% if msg.reply_cnt == 0 %}
                <a class="reply op" href="#" data="{{ msg.id }}">回复</a>
                {% else %}
                <a class="reply op hide" href="#" data="{{ msg.id }}">{{ msg.reply_cnt }} 回复</a>
                {% endif %}
                <a class="replyclose op" href="#">收起回复</a>
                <ul class="reply-list">
                  {% for reply in msg.reply_list %}
                  <li>{{ reply.message|seahub_urlize|find_at }} --
                  <a href="{{ SITE_ROOT }}profile/{{ reply.from_email }}/">{{ reply.nickname }}</a>
                  <a href="javascript:void(0);" class="" onclick="reply_at('@{{ reply.nickname }} ', {{ msg.id }})">回复</a>
                  </li>
                  {% endfor %}
                </ul>
                <form id="form{{ msg.id }}" class="reply-form" method="post" action="">
                    <input type="hidden" name="msg_id" value="{{ msg.id }}" />
                    <input type="text" name="message" class="text-input" />
                    <input type="submit" class="submit" value="回复" />
                    <p class="error hide">输入不能为空且应少于150个字符。</p>
                </form>
            </div>
        </div>
        </li>
    {% endfor %}
    </ul>
{% else %}
<p>暂无</p>    
{% endif %}

</div>

{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-jtemplates.js"></script>
<script type="text/javascript">
addConfirmTo($('#quit-group'), '确定要退出？');
addConfirmTo($('.cancel-share'), '确定要取消共享该目录？');

$("table tr:gt(0)").hover(
    function() {
        $(this).find('img').css('cursor', 'pointer').removeClass('vh');
    },
    function() {
        $(this).find('img').addClass('vh');
    }
);

$('.download').click(function() {
    window.open($(this).attr('data'));
});

$('.reply').click(function() {
    var msg_id = $(this).attr('data'),
        msg_bd = $(this).parent();
    $.ajax({
        url: '{{ SITE_ROOT }}group/reply/' + msg_id + '/',
        dataType: 'json',
        cache: false,
        contentType: 'application/json; charset=utf-8',
        success: function(data) {
            msg_bd.children('.reply-list').html(data['html']).removeClass('hide');
        }
    });
    msg_bd.children('.reply-form').removeClass('hide');
    $(this).addClass('hide');
    msg_bd.children('.replyclose').removeClass('hide');
    return false;
});

function reply_at(nickname, msgID) {
    var form_selector = '#form'+msgID+' .text-input';
    $(form_selector).focus();
    $(form_selector).val(nickname);
    return false;
}

$('.replyclose').click(function() {
    var msg_bd = $(this).parent();
    msg_bd.children('.reply-list').addClass('hide');
    msg_bd.children('.reply-form').addClass('hide');
    $(this).addClass('hide');
    msg_bd.children('.reply').removeClass('hide');
    return false;
});

$('.reply-form').each(function(){
    $(this).submit(function(event) {
        var form = $(this), 
            m_id = form.children('input[name="msg_id"]').val(),
            m = $.trim(form.children('input[name="message"]').val()),
            msg_bd = form.parent();
        if (m && m.length <= 150) {
            $.ajax({
                type: "POST",
                url: "{{ SITE_ROOT }}group/reply/"+m_id+"/",
                dataType: 'json',
                cache: false,
                contentType: 'application/json; charset=utf-8',
                data: "message="+m,
                beforeSend: prepareCSRFToken,
                success: function(data) {
                    msg_bd.children('.reply-list').html(data['html']).attr('class', 'reply-list');
                    form.children('input[name="message"]').val('');
                    form.children('.error').attr('Class' , 'error hide');
                    msg_bd.children('.reply').html(data['reply_cnt'] + ' 回复');
                }
            });
        } else {
            form.children('.error').removeClass('hide');
        }
        return false;
    });
});
</script>
{% endblock %}
