{% extends "myhome_base.html" %}
{% load seahub_tags avatar_tags i18n %}
{% load url from future %}

{% block right_panel %}
{% if group_msgs %}
    <ul class="msg-list new-reply-msg-list">
    {% for msg in group_msgs %}
        <li class="msg w100 ovhd">
        <div class="pic fleft">
            <a href="{% url 'user_profile' msg.from_email %}">{% avatar msg.from_email 48 %}</a>
        </div>
        <div class="txt fright">
            <div class="msg-main">
            <div class="msg-hd">
                <a href="{% url 'user_profile' msg.from_email %}" title="{{msg.from_email}}" class="author">{{ msg.from_email|email2nickname }}</a>
                <span class="time">{{ msg.timestamp|translate_seahub_time }}</span>
                <span class="group">{% trans "Group: " %}<a href="{% url 'group_info' msg.group_id %}">{{ msg.group_name }}</a></span>
            </div>
                <p class="msg-con">
                {% if msg.attachment.src == 'recommend' %}
                <span class="recommend">{% trans "Recommended" %}
                  {% if msg.attachment.attach_type == 'file' %}
                  <a href="{% url 'repo_view_file' msg.attachment.repo_id %}?p={{ msg.attachment.path|urlencode }}" target="_blank">
                  {% else %}
                  <a href="{% url 'repo' msg.attachment.repo_id %}?p={{ msg.attachment.path|urlencode }}" target="_blank">
                  {% endif %}
                  {{ msg.attachment.name }}</a> :
                </span>
                {% endif %}

                {% if msg.attachment.src == 'filecomment' %}
                <span class="recommend">{% trans "File " %}<a href="{% url 'repo_view_file' msg.attachment.repo_id %}?p={{ msg.attachment.path|urlencode }}&comment_open=true" target="_blank"> {{ msg.attachment.name }}</a> {% trans "has a new comment:"%}</span>
                {% endif %}
                    
                {{ msg.message|seahub_urlize|find_at|linebreaksbr }}

               </p>
                <span class="say"></span>
            </div>  
            <div class="msg-op">
                <div class="reply-cnt-op{% if msg.reply_cnt < 4 %} hide{% endif %}" data-rstatus="hide">
                    <span class="reply-cnt" data-url="{% url 'msg_reply' msg.id %}">{% blocktrans with amount=msg.reply_cnt %}{{ amount }} replies{% endblocktrans %}</span>
                    <span class="hide-reply hide">{% trans "Hide replies" %}</span>
                </div>
                {% if msg.reply_cnt == 0 %}
                <ul class="reply-list hide"></ul>
                {% else %}
                <ul class="reply-list">
                    {% for r in msg.replies %}
                    <li class="reply w100 ovhd">
                    <a href="{% url 'user_profile' r.from_email %}" class="pic fleft">{% avatar r.from_email 28 %}</a>
                    <div class="txt fright">
                        <a href="{% url 'user_profile' r.from_email %}">{{ r.from_email|email2nickname }}</a>
                        <span class="time">{{ r.timestamp|translate_seahub_time }}</span>
                        <span class="reply-at op vh" data="{{ r.from_email|email2nickname }}">{% trans 'Reply' %}</span>
                        <p class="reply-con">{{ r.message|seahub_urlize|find_at }}</p>
                    </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <textarea placeholder="{% trans "Add a reply..." %}" name="message" class="reply-input"></textarea>
                <p class="error hide">{% trans "It can not be blank and should be no more than 150 characters." %}</p>
                <button type="button" class="reply-submit hide" data-url="{% url 'msg_reply' msg.id %}">{% trans "Submit" %}</button>
                <button type="button" class="reply-cancel hide">{% trans "Cancel" %}</button>
            </div>
        </div>
        </li>
    {% endfor %}
    </ul>
{% else %}
<p>{% trans 'None' %}</p>    
{% endif %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
{% include 'group/msg_js.html' %}
</script>
{% endblock %}
