{% extends base_template %}
{% load seahub_tags avatar_tags %}
{% load url from future %}

{% block right_panel %}
{% if group_msgs %}
    <ul class="msg-list">
    {% for msg in group_msgs %}
        <li class="msg w100 ovhd">
        <div class="pic fleft">
            <a href="{% url 'user_profile' msg.from_email %}">{% avatar msg.from_email 48 %}</a>
        </div>
        <div class="txt fright">
            <div class="msg-hd">
                <span class="time">{{ msg.timestamp|translate_commit_time }}</span>
                <a href="{% url 'user_profile' msg.from_email %}">{{ msg.from_email|email2nickname }}</a>
                <span class="group">所在小组：<a href="{% url 'group_info' msg.group_id %}">{{ msg.group_name }}</a></span>
            </div>
            <div class="msg-bd">
                <p>
                {% if msg.attachment %}
                <span class="recommend">推荐
                  {% if msg.attachment.attach_type == 'file' %}
                  <a href="{% url 'repo_view_file' msg.attachment.repo_id %}?p={{ msg.attachment.path }}" target="_blank">
                  {% else %}
                  <a href="{% url 'repo' msg.attachment.repo_id %}?p={{ msg.attachment.path }}" target="_blank">
                  {% endif %}
                  {{ msg.attachment.name }}</a> :
                </span>
                {% endif %}
                {{ msg.message|linebreaksbr|seahub_urlize|find_at }}
                </p>
                <button class="reply op hide" data="{{ msg.id }}"><span class="reply-cnt">{{ msg.reply_cnt }} </span>回复</a>
                <button class="replyclose op">收起回复</button>
                <div class="reply-bd">
                    <ul class="reply-list">
                        {% for reply in msg.reply_list %}
                        <li class="w100 ovhd">
                        <a href="{% url 'user_profile' reply.from_email %}" class="pic fleft">{% avatar reply.from_email 28 %}</a>
                        <div class="txt fright">
                            <a href="{% url 'user_profile' reply.from_email %}">{{ reply.from_email|email2nickname }}</a> : {{ reply.message|seahub_urlize|find_at }} --
                            <button class="reply-at op" data="{{ reply.from_email|email2nickname }}">回复</button>
                        </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <input type="text" name="message" class="reply-input" value="" />
                    <button class="submit">回复</button>
                    <p class="error hide">输入不能为空且应少于150个字符。</p>
                </div>
            </div>
        </div>
        </li>
    {% endfor %}
    </ul>
{% else %}
<p>暂无</p>    
{% endif %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
{% include 'group/msg_reply_js.html' %}
$('.reply-at').click(function() {
    $(this).parent().parent().parent().next().val('@' + $(this).attr('data') + ' ').focus();
});
$('.reply-bd .submit').click(function() {
    var msg_bd = $(this).parent().parent(),
        msg_id = msg_bd.find('.reply').attr('data'),
        reply = $.trim($(this).prev().val());
    if (reply && reply.length <= 150) {
        $.ajax({
            type: "POST",
            url: '{{ SITE_ROOT }}group/reply/' + msg_id + '/',
            dataType: 'json',
            cache: false,
            contentType: 'application/json; charset=utf-8',
            beforeSend: prepareCSRFToken,
            data: "message=" + reply,
            success: function(data) {
                msg_bd.find('.reply-list').append(data['html']);
                msg_bd.find('.reply-input').val('');
                msg_bd.find('.error').attr('class', 'error hide');
                var reply_cnt = parseInt(msg_bd.find('.reply-cnt').html()) + 1 || 1; 
                msg_bd.find('.reply-cnt').html(reply_cnt + ' ');
                msg_bd.find('.reply-at').click(function() {
                    msg_bd.find('.reply-input').val('@' + $(this).attr('data') + ' ').focus();
                });
            }
        });
    } else {
        $(this).next().removeClass('hide'); // show 'error'
    }
});
</script>
{% endblock %}
