{% extends "myhome_base.html" %}
{% load url from future %}

{% block nav_projgroup_class %}class="cur"{% endblock %}
{% block left_panel %}
<!-- 操作 -->
{% include "group/groups_left_panel.html" %}
{% endblock %}

{% block right_panel %}
<!-- 项目组 -->
<h3>项目组</h3>
{% include "group/groups_right_panel.html" %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$("#group-add").click(function() {
    $("#group-add-form").modal({appendTo: "#main"});
	return false;
});

{% url 'proj_group_list' as group_add_url %}
{% with post_url=group_add_url %}
{% include "snippets/group_add_js.html" %}
{% endwith %}

</script>
{% endblock %}
