{% extends "myhome_base.html" %}
{% load group_tags %}

{% block nav_group_class %}class="cur"{% endblock %}

{% block main_panel %}
<div class="avatar-op">
    <h2>修改小组 {{ group.group_name }} 的图标</h2>
    <div class="avatar-op-con">
    <h3>当前图标：</h3>
    <img src="{% grp_avatar_url group.id %}" alt="当前图标" class="avatar" />

    <h3 class="upload-new-avatar-hd">上传新图标：</h3>
    <form enctype="multipart/form-data" method="post" action="">
        {{ form.avatar }}<br />
        {{ form.avatar.errors }}
        <input type="submit" value="提交" class="submit" />
    </form>
</div>
</div>
{% endblock %}
