@media (max-width: 767px) {
  .wiki2-side-panel {
    position:fixed;
    top: 0;
    left: -300px;
    z-index: 1031;
    width: 300px;
    max-width: calc(100% - 40px);
    height:100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.wiki2-side-panel {
  width: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--bs-body-bg);
  border-right: 1px solid #f1f1ef;
}

.wiki2-side-panel .wiki2-side-panel-top {
  padding: 8px 12px 8px 16px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 44px;
}

.wiki2-side-panel .wiki-new-page-tooltip {
  z-index: 1001;
}

.wiki2-side-panel .add-new-page {
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  padding: 3px;
}

.wiki2-side-panel .add-new-page:hover {
  background-color: #DFDFDD;
}

.wiki2-side-panel .wiki2-side-nav {
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wiki2-side-panel .wiki2-side-nav .wiki2-pages-container {
  flex: 1;
  overflow: hidden;
  padding: 0 8px 8px;
}

.wiki2-side-panel .wiki2-side-nav .wiki2-pages-container:hover {
  overflow: auto;
}

.wiki2-side-panel .wiki2-side-nav .wiki2-pages-container .tree-view {
  margin-left: -10px;
  margin-top: 14px;
  padding-left: 0;
}

.wiki-nav-group-header {
  margin-top: 10px;
  height: 32px;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wiki-nav-group-header.wiki-nav-pages:hover {
  background-color: var(--bs-wiki-nav-hover-bg);
  border-radius: 3px;
}

.wiki-nav-group-header.wiki-nav-pages .more-wiki-page-operation {
  opacity: 0;
}

.wiki-nav-group-header.wiki-nav-pages:hover .more-wiki-page-operation {
  opacity: 1;
}
