body {
  overflow: hidden;
}

.wiki-side-panel .panel-top {
  background: #fff;
  display: flex;
  align-items: center;
}

.wiki-side-nav {
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* for ff */
  border-right: 1px solid #eee;
}

.wiki-pages-heading {
  position: relative;
  font-size: 1rem;
  font-weight: normal;
  padding: 0.5rem 0 0.5rem 2rem;
  border-bottom: 1px solid #e8e8e8;
  line-height: 1.5;
  height: 40px;
  background-color: #f9f9f9;
  margin-bottom: 0;
}

.heading-icon {
  position: absolute;
  right: 1rem;
  top: 25%;
  color: #888;
  font-size: 0.8125rem;
}

.wiki-pages-container {
  flex: 1;
  overflow: hidden;
  padding-bottom: 10px;
}

.wiki-pages-container:hover {
  overflow: auto;
}

.wiki-pages-container .tree-view {
  margin-left: -10px;
  margin-top: 14px;
  padding-left: 0;
}

img[src=""] {
  opacity: 0;
}

.wiki-side-panel {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 767px) {
  .wiki-side-panel {
    z-index: 1051;
  }
}

.wiki-main-panel {
  flex: 1 0 80%;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}

.wiki-main-panel .main-panel-north {
  background-color: #fff;
}

.cur-view-content .wiki-page-container {
  margin: 0 -1rem -1.25rem;
  padding: 30px 1rem 1.25rem;
  display: flex;
  flex: 1;
  padding-left: 30px;
  overflow-y: auto;
}

.main-panel-center .cur-view-content {
  padding: 0;
}

.cur-view-content .wiki-page-content {
  width: calc(100% - 200px);
  padding-right: 30px;
}

@media (max-width: 991.98px) {
  .cur-view-content .wiki-page-container {
    padding: 0 14px;
    padding-top: 30px;
  }

  .cur-view-content .wiki-page-content {
    width: 100%;
    padding-right: 0;
  }
}


/* reset article h1 */
.wiki-main-panel .article h1 {
  margin-top: 0;
}

.wiki-page-container .outline-h2,
.wiki-page-container .outline-h3 {
  height: 24px;
  font-size: 12px;
  color: #4d5156;
}

.wiki-page-container .outline-h2.active,
.wiki-page-container .outline-h3.active {
  color: #eb8205;
}

.wiki-page-container .sf-slate-viewer-scroll-container {
  background-color: #fff !important;
  padding: 0px !important;
  overflow: inherit;
}

.wiki-page-container .sf-slate-viewer-article-container {
  margin: 0 !important;
  width: 100%;
}

.wiki-page-container .sf-slate-viewer-outline {
  top: 79px;
  width: 200px;
}

@media (max-width: 767px) {
  .wiki-page-container .article {
    padding: 0 !important;
  }
}

/* wiki editor */
.sdoc-editor-container {
  flex: 1;
  display: flex;
  min-height: 0;
}

.sdoc-scroll-container {
  display: flex;
  overflow: auto;
}

.sdoc-scroll-container .sdoc-article-container {
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
}

.sdoc-scroll-container .sdoc-article-container .article .sdoc-header-2 {
  border-bottom: 1px solid #ccc;
}

.sdoc-wiki-outline-container {
  height: 80%;
  overflow-y: auto;
  padding-right: 1rem;
  position: fixed;
  right: 0;
  top: 97px;
  width: 300px;
}

.sdoc-editor-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sdoc-editor-container .wiki-editor-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  height: 56px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  z-index: 1000;
}

.sdoc-editor-container .wiki-editor-header .doc-ops {
  display: flex;
}

.sdoc-editor-container .wiki-viewer-container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sdoc-editor-container .wiki-viewer-container .side-file-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  border-right: 1px solid #e5e5e5;
}

.sdoc-editor-container .wiki-viewer-container .side-file-bar {
  padding: 20px;
}

.sdoc-editor-container .wiki-viewer-container .side-file-bar .file-list .file-item {
  padding: 20px;
}

.sdoc-editor-container .wiki-viewer-container .side-file-bar .file-list .file-item.active {
  background-color: #e5e5e5;
  font-weight: bold;
}

.sdoc-editor-container .sdoc-wiki-outline-container {
  width: 280px;
}

/* wiki editor style */
.sdoc-editor-container .article :first-child {
  margin-top: 0;
}

.sdoc-editor-container .article {
  flex: 1;
  min-height: 800px;
  padding: 40px 40px 40px 40px;
}

.sdoc-editor-container .article>div {
  caret-color: blue;
}

.sdoc-editor-container .article .sdoc-drag-cover::before {
  content: ' ';
  width: 59px;
  display: inline-block;
  position: absolute;
  left: -60px;
}

.sdoc-editor-container .article .sdoc-draging {
  border-bottom: 2px solid rgba(35, 131, 226);
}

.sdoc-editor-container {
  display: flex;
  /* position: absolute; */
  min-width: 1100px;
  width: 100%;
}

.sdoc-editor-container .sdoc-editor-content .article {
  width: 100%;
  border: none;
}
