.sf-metadata-tags-property-detail-editor {
  padding: 0 6px;
  min-height: 34px;
  width: 100%;
  height: auto;
}

.sf-metadata-tags-property-detail-editor:empty {
  line-height: 34px;
}

.sf-metadata-tags-property-detail-editor .sf-metadata-delete-select-tags {
  border-bottom: none;
  background-color: inherit;
  border-radius: initial;
  padding: 2px 0px;
  overflow-y: auto;
}

.sf-metadata-tags-property-detail-editor .sf-metadata-delete-select-tags .sf-metadata-delete-select-tag {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.sf-metadata-property-editor-popover .sf-metadata-tags-editor.tags-tree-container {
  right: 0;
  left: auto;
}
