.sf-metadata-tags-property-detail-editor {
  height: fit-content;
  min-height: 28px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.sf-metadata-tags-property-detail-editor:empty {
  height: 28px;
  align-items: center;
}

.sf-metadata-tags-property-detail-editor .sf-metadata-delete-select-tags {
  border-bottom: none;
  background-color: inherit;
  border-radius: initial;
  padding: 2px 0px;
  overflow-y: auto;
}

.sf-metadata-tags-property-detail-editor .sf-metadata-delete-select-tags .sf-metadata-delete-select-tag {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.sf-metadata-tags-property-editor-popover .sf-metadata-delete-select-tags {
  display: none;
}

.sf-metadata-tags-property-editor-popover .popover {
  max-width: unset;
}

.sf-metadata-tags-property-editor-popover .sf-metadata-tags-editor {
  position: unset;
  min-width: 200px;
  padding: 0;
  overflow: hidden;
  opacity: 1;
  background-color: #ffffff;
  border: none;
  border-radius: none;
  box-shadow: none;
}
