.sf-metadata-kanban-add-board-wrapper {
  position: sticky;
  top: 16px;
  margin-left: 8px;
  padding-right: 16px;
  height: fit-content;
}

.sf-metadata-view-kanban .sf-metadata-kanban-add-board-button {
  min-width: 300px;
  height: 2rem;
  padding: 0 8px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: #666;
  font-size: 0.875rem;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
}

.sf-metadata-view-kanban .sf-metadata-kanban-add-board-button:hover {
  background-color: var(--bs-hover-bg);
  border-radius: 4px;
}

.sf-metadata-view-kanban .sf-metadata-kanban-add-board-button .seafile-multicolor-icon-add-table {
  flex-shrink: 0;
}

.sf-metadata-view-kanban .sf-metadata-kanban-add-board-button .sf-metadata-kanban-add-board-title {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 8px;
}
