{% extends base_template %}
{% load avatar_tags %}

{% block left_panel %}

<h3>操作</h3>
<ul class="with-bg">
  <li><a href="{% url organizations.views.create_org %}">创建企业帐号</a></li>
  <li><a href="{% url organizations.views.change_account %}">切换帐号</a></li>
</ul>

{% endblock %}

{% block right_panel %}
<div id="user-basic-info">
<h2>切换帐号</h2>
<table>
  <tr>
    <th width="80%">名称</th>
    <th width="20%">操作</th>
  </tr>
  <tr>
    <td>{{ request.user}}</td>
    <td><button data={% url myhome %} class="account-change-btn">切换</button></td>
  </tr>
{% for org in orgs %}
  <tr>
    <td>{{ org.org_name }}</td>
    <td><button data={% url organizations.views.org_info org.url_prefix %} class="account-change-btn">切换</button></td>
  </tr>
{% endfor %}
</table>
</div>

<form id="account-change-form" action="" method="post" class="hide">
    <input id="url_prefix" type="text" name="url_prefix" value="" /><br />
</form>

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$('.account-change-btn').click(function() {
    location.href=$(this).attr('data');
})
</script>
{% endblock %}
 
