{% extends base_template %}
{% block main_panel %}
<div class="narrow-panel">
    <h2>创建团体</h2>
    <form action="" method="post">
        <label for="id_org_name">团体名称：</label>
        {{ form.org_name}}
        <lable for="id_url_prefix">个性域名：</label>
        {{ form.url_prefix }}
        <p class="note">个性域名只能包含字母或数字</p>
        <p class="error hide"></p>
        {{ form.url_prefix.errors }}
        <input type="submit" value="提交" class="submit" />
    </form>
</div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
</script>
{% endblock %}
