{% extends "org_base.html" %}
{% load seahub_tags avatar_tags group_avatar_tags i18n %}
{% load url from future %}

{% block nav_group_class %}class="cur"{% endblock %}

{% block title_panel %}
<h2>{{ org.org_name }}</h2>
{% endblock %}

{% block left_panel %}
<div class="info-item">
    <h3 class="info-item-top">{% trans "Tips" %}</h3>
    <div class="info-item-bottom">
        <p class="not-last">{% trans "After creating a group, you can add other members and share libraries into the group." %}</p>
        <p>{% trans "You can also share libraries to groups that you're not participated, kind like carbon copy in email sending." %}</p>
    </div>
</div>
{% endblock %}

{% block right_panel %}
{% include "group/groups_right_panel.html" %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
{% url 'org_groups' org.url_prefix as group_add_url %}
{% with post_url=group_add_url %}
{% include "snippets/group_add_js.html" %}
{% endwith %}
</script>
{% endblock %}
