{% extends "org_admin_base.html" %}
{% load url from future %}

{% block nav_useradmin_class %}class="cur"{% endblock %}

{% block left_panel %}

<div class="info-item">
    <h3 class="info-item-top">团体已用总空间</h3>
    <p class="info-item-bottom">{{ org_quota_usage|filesizeformat }} {% if org_quota > 0 %} / {{ org_quota|filesizeformat }} {% endif %}</p>
</div>

{% endblock %}

{% block right_panel %}
<h3>所有成员</h3>
<button id="org-user-add">添加成员</button>
<table>
    <tr>
        <th width="60%">邮箱</th>
	<th width="20%">已用空间</th>
        <th width="20%">操作</th>
    </tr>

    {% for user in users %}
    <tr>
        <td><a href="{% url 'user_profile' user.email %}" target="_blank">{{ user.props.email }}</a></td>
	<td>
	    {% if user.quota_usage >= 0 %}
	    {{ user.quota_usage|filesizeformat }}
	    {% endif %}
	</td>
        <td>
          {% if not user.is_self %}
          <a href="#" class="remove-user-btn op" data="{% url 'org_user_remove' request.user.org.url_prefix user.email %}">删除</a>
          {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<div id="paginator">
    {% if current_page != 1 %}
    <a href="{{ SITE_ROOT }}organizations/{{ org.url_prefix }}/useradmin/?page={{ prev_page }}&per_page={{ per_page }}">上一页</a>
    {% endif %}
    {% if page_next %}
    <a href="{{ SITE_ROOT }}organizations/{{ org.url_prefix }}/useradmin/?page={{ next_page }}&per_page={{ per_page }}">下一页</a>
    {% endif %}
    <span>每页：</span> 
    {% if per_page == 25 %}
    <span> 25 </span> 
    {% else %}
    <a href="{{ SITE_ROOT}}organizations/{{ org.url_prefix }}/useradmin/?per_page=25" class="per-page">25</a>
    {% endif %}
    {% if per_page == 50 %}
    <span> 50 </span> 
    {% else %}
    <a href="{{ SITE_ROOT}}organizations/{{ org.url_prefix }}/useradmin/?per_page=50" class="per-page">50</a>
    {% endif %}
    {% if per_page == 100 %}
    <span> 100 </span> 
    {% else %}
    <a href="{{ SITE_ROOT}}organizations/{{ org.url_prefix }}/useradmin/?per_page=100" class="per-page">100</a>
    {% endif %}
</div>

<form id="user-add-form" action="" method="post" name="user-add-form" class="hide">
    <label>邮箱：</label><br />
    <textarea id="added-member-name" name="added-member-name"></textarea>
    <p class="tip">可以是非网站注册用户，我们会以邮件通知对方。</p>
    <p class="error hide">输入不能为空。</p>
    <input type="submit" value="提交" />
</form>

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$('#org-user-add').click(function() {
    $("#user-add-form").modal({appendTo: "#main"});
    var contacts_list = [], contact_email;
    {% for contact in contacts %}
    contact_email = '{{ contact.contact_email }}';
    contacts_list.push({value:contact_email, label:contact_email});
    {% endfor %}
    addAutocomplete('#added-member-name', '#user-add-form', contacts_list);
})
.hover(
    function() {
        $(this).css({'background-color': '#fff', 'cursor': 'pointer'});
    },
    function() {
        $(this).css('background-color', '#f5f5f5');
    }
);

addConfirmTo($('.remove-user-btn'));
</script>
{% endblock %}
