{% extends "org_base.html" %}
{% load seahub_tags avatar_tags %}
{% load url from future %}

{% block nav_org_class %}class="cur"{% endblock %}

{% block main_panel %}
<div class="side fright">
<h3>团体成员</h3>
{% if org_users %}
<ul>
    {% for member in org_users %}
	<li class="org-member">{% avatar member.email 16 %}<span class="org-member-name"><a href="{{ SITE_ROOT }}profile/{{ member.email }}/">{{ member.email|email2nickname }}</a></span></li>
    {% endfor %}
</ul>
{% else %}
<p>暂无</p>
{% endif %}

{% if is_join %}
<h3>操作</h3>
<ul class="with-bg">
{% if is_staff %}
    <li><a id="group-mgr" href="{{ SITE_ROOT }}group/{{ group.id }}/members/">小组管理</a></li>
{% else %}
	<li><a id="quit-group" href="#" data="{{ SITE_ROOT }}group/{{ group.id }}/?op=quit">退出小组</a></li>
{% endif %}
</ul>
{% endif %}
</div>

<div class="main fleft">
<h3>{{ org.org_name }} 公开的同步目录</h3>
<button id="repo-create">新建同步目录</button>
<table>
    <tr>
        <th width="20%">名字</th>
        <th width="28%">描述</th>
        <th width="20%">更新时间</th>
        <th width="22%">共享来源</th>
        <th width="10%">操作</th>
    </tr>
{% if repos %}
    {% for repo in repos %}
    <tr>
        <td><a href="{{ SITE_ROOT }}repo/{{ repo.props.id }}/">{{ repo.props.name }}</a></td>
        <td>{{ repo.props.desc }}</td>
        {% if repo.latest_modify %}
        <td>{{ repo.latest_modify|translate_commit_time }}</td>
        {% else %}
        <td>--</td>
        {% endif %}
        <td>{{ repo.owner|email2nickname }}</td>
        <td>
            <img src="{{ MEDIA_URL }}img/sync-20.png" data="{{ repo.props.id }}" class="download-btn vh" title="同步到本地" alt="同步" />
            <!-- <img src="{{ MEDIA_URL }}img/share-20.png" data="{{ repo.props.id }}" class="repo-share-btn vh" title="共享" alt="共享" /> -->
            <img src="{{ MEDIA_URL }}img/delete-20.png" data="{{ SITE_ROOT }}repo/remove/{{ repo.props.id }}/?next={{ request.path }}" class="repo-delete-btn vh" title="删除" alt="删除" />
        </td>
    </tr>
    {% endfor %}
{% endif %}
</table>
</div>

{% include "snippets/repo_share_form.html" %}
{% include "snippets/repo_create_form.html" %}

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
{% include "snippets/myhome_extra_script.html" %}

{% url 'org_inner_pub_repo_create' org.url_prefix as repo_create_url %}
{% with post_url=repo_create_url %}
{% include "snippets/repo_create_js.html" %}
{% endwith %}
</script>
{% endblock %}
