{% extends "org_base.html" %}
{% load seahub_tags avatar_tags group_avatar_tags i18n %}
{% load url from future %}

{% block nav_org_personal_class %}class="cur"{% endblock %}

{% block title_panel %}
<h2>{{ org.org_name }}</h2>
{% endblock %}

{% block left_panel %}
<div class="info-item">
    <h3 class="info-item-top">{% trans "Account" %}</h3>
    <div class="info-item-bottom home-profile ovhd">
        <a href="{{ SITE_ROOT }}profile/" class="pic no-deco fleft" title="{% trans "Edit" %}">{% avatar request.user 48 %}</a>
        <div class="txt fright">
            <p>{% if nickname %}{{ nickname }}{% else %}{% trans "No Nickname" %}{% endif %}</p>
            <a href="{{ SITE_ROOT }}profile/" class="edit">{% trans "Edit" %}</a>
        </div>
    </div>
</div>


<div class="info-item">
    <h3 class="info-item-top">{% trans "Space Used" %}</h3>
    <p class="info-item-bottom">{{ quota_usage|filesizeformat }}</p>
</div>

{% include "snippets/my_groups.html" %}
{% endblock %}

{% block right_panel %}
{% include "snippets/my_owned_repos.html" %}

{% if events %}
{% include "snippets/events.html" %}
{% endif %}

{% url 'org_repo_share' org.url_prefix as repo_share_url %}
{% with post_url=repo_share_url groups=org_groups %}
{% include "snippets/repo_share_form.html" %}
{% endwith %}

{% include "snippets/repo_create_form.html" %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
{% with groups=org_groups %}
{% include "snippets/myhome_extra_script.html" %}
{% endwith %}
   
{% url 'org_repo_create' org.url_prefix as repo_create_url %}
{% with post_url=repo_create_url %}
{% include "snippets/repo_create_js.html" %}
{% endwith %}

{% if events %}
{% include "snippets/events_js.html" %}
{% endif %}
</script>
{% endblock %}
