{% extends "org_base.html" %}
{% load seahub_tags avatar_tags group_avatar_tags %}
{% load url from future %}

{% block nav_org_personal_class %}class="cur"{% endblock %}

{% block title_panel %}
<h2>{{ org.org_name }}</h2>
{% endblock %}

{% block left_panel %}
<!-- 我的基本信息 -->
<div class="info-item">
<h3 class="info-item-top">我的基本信息</h3>
<div class="info-item-bottom home-profile ovhd">
    <a href="{{ SITE_ROOT }}profile/" class="no-deco">{% avatar request.user 48 %}</a>
{% if nickname %}
<p class="fleft">{{ nickname }}</p>
{% else %}
<p class="fleft">暂无昵称 <a href="{{ SITE_ROOT }}profile/"><img src="{{ MEDIA_URL }}img/edit_12.png" alt="编辑" title="编辑" /></a></p>
{% endif %}
</div>
</div>
<!-- 我的群组 -->
{% include "snippets/my_groups.html" %}
{% endblock %}

{% block right_panel %}
<!-- 我拥有的资料库 --><!-- 共享给我的资料库 -->
{% include "snippets/my_owned_repos.html" %}

{% if events %}
{% include "snippets/events.html" %}
{% endif %}

{% url 'org_repo_share' org.url_prefix as repo_share_url %}
{% with post_url=repo_share_url tips='必须是团体内部成员或群组。' %}
{% include "snippets/repo_share_form.html" %}
{% endwith %}

{% include "snippets/repo_create_form.html" %}

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
{% with groups=org_groups %}
{% include "snippets/myhome_extra_script.html" %}
{% endwith %}
   
{% url 'org_repo_create' org.url_prefix as repo_create_url %}
{% with post_url=repo_create_url %}
{% include "snippets/repo_create_js.html" %}
{% endwith %}

  
{% if events %}
{% include "snippets/events_js.html" %}
{% endif %}
</script>
{% endblock %}
