.sf-metadata-long-text-property-detail-editor {
  min-height: 34px;
  width: 100%;
  padding: 7px 6px 0 6px;
}

.sf-metadata-long-text-property-detail-editor .sf-metadata-property-detail-formatter {
  line-height: 1.5;
}

.longtext-dialog-container {
  color: #212529;
}
