{% extends "profile/profile_base.html" %}


{% block left_panel %}
<h3>操作</h3>
<ul>
  <li><a href="{{ SITE_ROOT }}accounts/password/change/">修改网站帐号密码</a></li>
  <li><a href="{{ SITE_ROOT}}profile/userids/">列出所有个人ID</a></li>
</ul>
{% endblock %}

{% block right_panel %}
<h2>当前设置</h2>
<ul>
    {% if user_id %}
    <li><span class="bold">个人 ID：</span>{{ user_id }}</li>
    {% endif %}

{% if profile_timestamp %} 
<li><span class="bold">帐号文件：</span>您的加密后的帐号文件上传于{{ profile_timestamp }} <a href="{{ SITE_ROOT }}profile/download/?user_id={{ user_id }}">点此下载</a></li>
{% else %}
<li><span class="bold">帐号文件：</span>您的帐号文件还未上传，请在本地 seafile 界面 "帐号" 标签下上传</li>
{% endif %}
</ul>
{% endblock %}
