{% extends "profile/profile_base.html" %}
{% load avatar_tags %}

{% block left_panel %}
<h3>操作</h3>
<ul class="with-bg">
  <li><a href="{{ SITE_ROOT }}profile/list_user/">所有已登录的计算机</a></li>
</ul>
{% endblock %}

{% block right_panel %}
<div id="user-basic-info">
<h2>个人基本信息修改</h2>
{% if modified %}
<p class="notification">修改成功。</p>
{% endif %}
<form action="" method="post">
    <label>头像:</label>{% avatar request.user.username 60 %}
    <a href="{{ SITE_ROOT }}avatar/add/">更改</a><br />
    <label>密码:</label><a href="{{ SITE_ROOT }}accounts/password/change/">更改</a><br/>
    <label>昵称:</label><input type="text" name="nickname" value="{{ nickname }}" class="text-input" /><br/>
    <label>一句话介绍:</label><textarea name="intro">{{ intro }}</textarea><br />
    <input type="submit" value="提交" class="submit" />
</form>
</div>
{% endblock %}
