{% extends "profile/profile_base.html" %}
{% load avatar_tags %}

{% block left_panel %}
{% endblock %}

{% block right_panel %}
<div id="user-basic-info">
<h2>个人基本信息修改</h2>
{% if messages %}
<ul class="messages hide">
  {% for message in messages %}
  <li class="info">{{ message }}</li>  
  {% endfor %}
</ul>
{% endif %}

<form action="" method="post">
    <label>头像:</label>{% avatar request.user.username 60 %}
    <a href="{{ SITE_ROOT }}avatar/add/">更改</a><br />
    <label>密码:</label><a href="{{ SITE_ROOT }}accounts/password/change/">更改</a><br/>
    <label>昵称:</label><input type="text" name="nickname" value="{{ form.data.nickname }}" class="text-input" />
    {% for error in form.nickname.errors %}
    <span class="error">{{ error|escape }}</span>
    {% endfor %}
    <br/>
    <label>一句话介绍:</label><textarea name="intro">{{ form.data.intro }}</textarea>
    {% for error in form.intro.errors %}
    <span class="error">{{ error|escape }}</span>
    {% endfor %}
    <br/>
    <input type="submit" value="提交" class="submit" />
</form>
</div>
{% endblock %}
