.resize-bar {
  height: 100%;
  width: 6px;
  position: absolute;
  top: 0;
  opacity: 0;
  transition-duration: .2s;
  transition-property: opacity;
}

.resize-bar:hover {
  opacity: 1;
  cursor: col-resize;
}

.resize-bar .resize-bar-line {
  background-color: var(--bs-border-secondary-color);
  height: 100%;
  width: 2px;
  display: none;
  user-select: none;
}

.resize-bar:hover .resize-bar-line {
  display: block;
}

.resize-bar .resize-bar-drag-handler {
  background: #2d7ff9;
  border-radius: 10px;
  margin-left: 1px;
  position: absolute;
  transform: translate(-50%);
  width: 6px;
  display: none;
  z-index: 1;
  user-select: none;
}

.resize-bar:hover .resize-bar-drag-handler {
  display: block;
}
