.sf-metadata-view-kanban .add-list-button {
  min-width: 300px;
  height: 2rem;
  padding: 0 8px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  color: #666;
  font-size: 0.875rem;
  user-select: none;
  cursor: pointer;
  z-index: 1;
}

.sf-metadata-view-kanban .add-list-button:hover {
  background-color: #efefef;
  border-radius: 4px;
}
