.sf-metadata-column-popover .popover {
  margin-top: 0;
  max-width: none;
}

.sf-metadata-column-popover label {
  color: #666;
  font-size: 13px;
}

.sf-metadata-column-popover .sf-metadata-column-popover-inner {
  max-height: calc(100vh - 170px);
  min-width: 350px;
}

.sf-metadata-column-popover .sf-metadata-column-popover-inner>div:first-child {
  padding: 1rem 1rem 0;
}

.sf-metadata-column-popover .sf-metadata-column-type {
  width: 100%;
  background: var(--bs-body-bg);
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 38px;
  position: relative;
}

.sf-metadata-column-popover .sf-metadata-column-type.sf-metadata-column-type-focus {
  background: var(--bs-body-bg);
  border-color: #1991eb;
  box-shadow: 0 0 0 2px #467fcf40;
  color: #495057;
  outline: 0;
}

.sf-metadata-column-popover .sf-metadata-column-type .sf-metadata-column-type-info {
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  padding: 0 8px;
  cursor: pointer;
}

.sf-metadata-column-popover .sf-metadata-column-type-info .seafile-multicolor-icon {
  flex-shrink: 0;
}

.sf-metadata-column-popover .sf-metadata-column-type-info span {
  display: inline-block;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sf-metadata-column-popover .sf-metadata-column-type .sf3-font-down {
  transform: rotate(270deg);
  color: #666;
}

.sf-metadata-column-popover .sf-metadata-column-type .seafile-multicolor-icon {
  fill: #aaa;
  cursor: default;
}

.sf-metadata-column-popover .sf-metadata-column-type .seafile-multicolor-icon-rate {
  font-size: 14px;
}

.sf-metadata-column-popover .sf-metadata-column-type .seafile-multicolor-icon-drop-down {
  font-size: 12px;
}

.sf-metadata-column-popover .sf-metadata-column-popover-footer {
  background: var(--bs-body-bg);
  padding: 1rem;
  position: relative;
  text-align: right;
}

.sf-metadata-column-popover .sf-metadata-column-settings-item.is-invalid .invalid-feedback {
  display: block;
  font-size: 13px;
}

.sf-metadata-column-popover .sf-metadata-column-settings-item.is-invalid .form-control,
.sf-metadata-column-popover .sf-metadata-column-settings-item.is-invalid .sf-metadata-column-type {
  border-color: #cd201f !important;
  box-shadow: 0 0 0 2px #cd201f40 !important;
}
