.list-tag-popover .popover {
  width: 500px;
  max-width: 500px;
}

.list-tag-popover .add-tag-link {
  cursor: pointer;
}

.list-tag-popover .tag-list-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #dedede;
}

.list-tag-popover .tag-list-footer .item-text {
  color: #ff8000;
  cursor: pointer;
}

.list-tag-popover .tag-list-footer a:hover {
  text-decoration: none;
}
