.sf-canvas-groups-rows {
  position: relative;
  overflow: hidden;
}

.sf-canvas-groups-rows .sf-table-cell {
  background: var(--bs-body-bg);
}

.sf-canvas-groups-rows .group-item {
  position: absolute;
  overflow: hidden;
}

.sf-canvas-groups-rows .group-container-left,
.sf-canvas-groups-rows .group-container-right {
  position: absolute;
  height: 100%;
}

/*  border-radius of group container */
.sf-canvas-groups-rows .group-item .group-container-left {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.sf-canvas-groups-rows .group-item .group-container-right {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.sf-canvas-groups-rows.group-depth-2 .group-level-1 .group-container-right,
.sf-canvas-groups-rows.group-depth-3 .group-level-1 .group-container-right,
.sf-canvas-groups-rows.group-depth-3 .group-level-2 .group-container-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* border-color of group container */
.sf-canvas-groups-rows .group-level-2 .group-container-left {
  border-left: 1px solid var(--bs-border-quartus-color);
}

.sf-canvas-groups-rows .group-level-3 .group-container-left {
  border-left: 1px solid var(--bs-border-quartus-color);
}

.sf-canvas-groups-rows .group-level-2 .group-container-right {
  border-right: 1px solid var(--bs-border-quartus-color);
}

.sf-canvas-groups-rows .group-level-3 .group-container-right {
  border-right: 1px solid var(--bs-border-quartus-color);
}

.sf-canvas-groups-rows .expanded-group.group-level-2 .group-container-left,
.sf-canvas-groups-rows .expanded-group.group-level-2 .group-container-right {
  border-bottom: 1px solid var(--bs-border-quartus-color);
}

.sf-canvas-groups-rows .expanded-group.group-level-3 .group-container-left,
.sf-canvas-groups-rows .expanded-group.group-level-3 .group-container-right {
  border-bottom: 1px solid var(--bs-border-quartus-color);
}

/* border-color of group header */
.sf-canvas-groups-rows .group-level-1 .group-header-left {
  border-left: 1px solid var(--bs-border-quartus-color);
}

.sf-canvas-groups-rows .group-level-1 .group-header-left,
.sf-canvas-groups-rows .group-level-1 .group-header-right {
  border-top: 1px solid var(--bs-border-quartus-color);
  border-bottom: 1px solid var(--bs-border-quartus-color);
  background-color: inherit;
}

.sf-canvas-groups-rows .group-level-2 .group-header-left,
.sf-canvas-groups-rows .group-level-2 .group-header-right {
  border-top: 1px solid var(--bs-border-quartus-color);
  border-bottom: 1px solid var(--bs-border-quartus-color);
  background-color: inherit;
}

.sf-canvas-groups-rows .group-level-3 .group-header-left,
.sf-canvas-groups-rows .group-level-3 .group-header-right {
  border-top: 1px solid var(--bs-border-quartus-color);
  border-bottom: 1px solid var(--bs-border-quartus-color);
  background-color: inherit;
}

.sf-canvas-groups-rows.group-depth-1 .group-level-1 .group-header-left,
.sf-canvas-groups-rows.group-depth-1 .group-level-1 .group-header-right {
  background-color: var(--bs-th-bg);
}

.sf-canvas-groups-rows.group-depth-2 .group-level-2 .group-header-left,
.sf-canvas-groups-rows.group-depth-2 .group-level-2 .group-header-right {
  background-color: var(--bs-th-secondary-bg);
}

.sf-canvas-groups-rows.group-depth-2 .group-level-1 .group-header-left,
.sf-canvas-groups-rows.group-depth-2 .group-level-1 .group-header-right {
  background-color: var(--bs-th-bg);
}

.sf-canvas-groups-rows.group-depth-3 .group-level-3 .group-header-left,
.sf-canvas-groups-rows.group-depth-3 .group-level-3 .group-header-right {
  background-color: var(--bs-th-tertiary-bg);
}

.sf-canvas-groups-rows.group-depth-3 .group-level-2 .group-header-left,
.sf-canvas-groups-rows.group-depth-3 .group-level-2 .group-header-right {
  background-color: var(--bs-th-secondary-bg);
}

.sf-canvas-groups-rows.group-depth-3 .group-level-1 .group-header-left,
.sf-canvas-groups-rows.group-depth-3 .group-level-1 .group-header-right {
  background-color: var(--bs-th-bg);
}

/* group backdrop */
.sf-canvas-groups-rows .group-item .group-backdrop {
  position: absolute;
  left: 0;
  background: var(--bs-body-bg);
  opacity: 1;
}

/* group-header-left */
.sf-canvas-groups-rows .group-header-left {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 8px 40px 8px 16px;
  border-top-left-radius: 8px;
  background-color: inherit;
  overflow: hidden;
}

.sf-canvas-groups-rows .folded-group .group-header-left {
  border-bottom-left-radius: 8px;
}

.sf-canvas-groups-rows.single-column .group-level-1 .group-container-left,
.sf-canvas-groups-rows.single-column .group-level-1 .group-header-cell {
  border-top-right-radius: 8px;
}

.sf-canvas-groups-rows.single-column .group-level-1 .group-header-cell {
  border-right: 1px solid var(--bs-border-quartus-color) !important;
}

.sf-canvas-groups-rows.single-column .folded-group .group-container-left,
.sf-canvas-groups-rows.single-column .folded-group .group-header-cell,
.sf-canvas-groups-rows.single-column.frozen .table-btn-add-record {
  border-bottom-right-radius: 8px;
}

/* group header cell */
.sf-canvas-groups-rows .group-level-1 .group-header-cell {
  border-right: 1px solid var(--bs-border-quartus-color);
}

.sf-canvas-groups-rows .group-level-2 .group-header-cell {
  border-right: 1px solid var(--bs-border-quartus-color);
}

.sf-canvas-groups-rows .group-level-3 .group-header-cell {
  border-right: 1px solid var(--bs-border-quartus-color);
}

.sf-canvas-groups-rows .group-level-2 .group-header-right .group-header-cell:last-child,
.sf-canvas-groups-rows .group-level-3 .group-header-right .group-header-cell:last-child {
  border-right: none;
}

.sf-canvas-groups-rows.all-columns-frozen .group-level-2 .table-last--frozen,
.sf-canvas-groups-rows.all-columns-frozen .group-level-3 .table-last--frozen {
  border-right: none !important;
}

/* group expand */
.sf-canvas-groups-rows .group-toggle-btn {
  margin-right: 8px;
  width: 24px !important;
  min-width: 24px;
  height: 24px !important;
  cursor: pointer;
  border-radius: 4px;
}

.sf-canvas-groups-rows .group-toggle-btn:hover {
  background-color: var(--bs-icon-btn-hover-bg-color);
}

.sf-canvas-groups-rows .group-toggle-btn .seafile-multicolor-icon-down {
  width: 16px;
  height: 16px;
  color: var(--bs-icon-color);
  transition: all .3s;
}

.sf-canvas-groups-rows .group-toggle-btn.hide .seafile-multicolor-icon-down {
  transform: rotate(-90deg);
}

/* group title */
.sf-canvas-groups-rows .group-title {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sf-canvas-groups-rows .group-title .group-column-name {
  font-size: 12px;
  color: var(--bs-body-secondary-color);
  font-weight: 500;
}

.sf-canvas-groups-rows .group-title .group-cell-value {
  display: flex;
  font-weight: 500;
  width: min-content;
}

.sf-canvas-groups-rows .sf-metadata-ui.cell-formatter-container {
  overflow: hidden;
}

/* group rows count */
.sf-canvas-groups-rows .group-rows-count {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.group-rows-count-content {
  display: inline-flex;
  align-items: center;
  margin: 0 16px;
  height: 100%;
}

.sf-canvas-groups-rows .group-rows-count .count-title {
  margin-right: 4px;
  color: var(--bs-body-secondary-color);
}

/* group-header-right */
.sf-canvas-groups-rows .group-header-right {
  width: 100%;
  position: absolute;
  display: inline-flex;
  overflow: hidden;
  border-top-right-radius: 8px;
  background-color: inherit;
  overflow: hidden;
}

.sf-canvas-groups-rows .folded-group .group-header-right {
  border-bottom-right-radius: 8px;
}

.sf-canvas-groups-rows.group-depth-2 .group-level-1 .group-header-right,
.sf-canvas-groups-rows.group-depth-3 .group-level-1 .group-header-right,
.sf-canvas-groups-rows.group-depth-3 .group-level-2 .group-header-right {
  border-top-right-radius: 0;
}

.sf-canvas-groups-rows.group-depth-2 .group-level-1.folded-group .group-header-right,
.sf-canvas-groups-rows.group-depth-2 .group-level-1.expanded-group .group-header-right,
.sf-canvas-groups-rows.group-depth-3 .group-level-1.folded-group .group-header-right,
.sf-canvas-groups-rows.group-depth-3 .group-level-1.expanded-group .group-header-right,
.sf-canvas-groups-rows.group-depth-3 .group-level-2.folded-group .group-header-right,
.sf-canvas-groups-rows.group-depth-3 .group-level-2.expanded-group .group-header-right {
  border-bottom-right-radius: 0;
}

/* group summary */
.sf-canvas-groups-rows .summary-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

/* group-row-cell */
.sf-canvas-groups-rows .sf-table-row {
  position: absolute;
  border-top: none;
}

.sf-table-canvas .sf-canvas-groups-rows .sf-table-row {
  background-color: transparent;
  overflow: hidden;
}

.sf-table-canvas .sf-canvas-groups-rows .frozen-columns {
  border-bottom: none;
}

.sf-canvas-groups-rows.frozen .table-result-table-cell.actions-cell {
  z-index: 2 !important;
}

.sf-canvas-groups-rows .actions-cell {
  border-left: 1px solid var(--bs-border-quartus-color);
}

.sf-canvas-groups-rows.disabled-add-record .sf-table-last-row,
.sf-canvas-groups-rows.disabled-add-record .sf-table-last-row .actions-cell {
  border-bottom-left-radius: 8px;
}

.sf-canvas-groups-rows.disabled-add-record .sf-table-last-row,
.sf-canvas-groups-rows.disabled-add-record .sf-table-last-row .last-cell {
  border-bottom-right-radius: 8px;
}

.sf-canvas-groups-rows.disabled-add-record .sf-table-last-row.nested-group-last-row,
.sf-canvas-groups-rows.disabled-add-record .sf-table-last-row.nested-group-last-row .last-cell {
  border-bottom-right-radius: 0;
}

/* animation */
.sf-canvas-groups-rows.animation {
  transition-property: height;
  -webkit-transition-property: height;
  -moz-transition-property: height;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
}

.sf-canvas-groups-rows.animation .group-item,
.sf-canvas-groups-rows.animation .sf-table-row {
  transition-property: top;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
}

.sf-canvas-groups-rows.animation .group-item,
.sf-canvas-groups-rows.animation .sf-table-row {
  transition-property: height, top;
  -webkit-transition-property: height, top;
  -moz-transition-property: height, top;
}

.sf-canvas-groups-rows .group-item.folding {
  transition-property: none;
  -webkit-transition-property: none;
  -moz-transition-property: none;
}

.sf-canvas-groups-rows.single-column .group-item {
  border-radius: 8px;
}

.sf-canvas-groups-rows.animation .group-item .group-backdrop,
.sf-canvas-groups-rows.animation .group-item .group-container-left,
.sf-canvas-groups-rows.animation .group-item .group-container-right {
  transition-property: height;
  -webkit-transition-property: height;
  -moz-transition-property: height;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
}

.sf-canvas-groups-rows .group-item.folding .group-container-left,
.sf-canvas-groups-rows .group-item.folding .group-container-right {
  transition-property: none;
  -webkit-transition-property: none;
  -moz-transition-property: none;
}

.sf-canvas-groups-rows .group-title .group-cell-value .sf-metadata-group-title-rate-item .seafile-multicolor-icon {
  font-size: 16px;
  fill: inherit;
}
