.sf-metadata-view-kanban-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.sf-metadata-view-kanban .tips-empty-board {
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
