.sf-metadata-column-types-popover {
  background: #fff;
  border: 1px solid #dee3eb;
  border-radius: 3px;
  display: flex;
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, .1));
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  z-index: 1061;
}

.sf-metadata-column-types-popover .search-column-container {
  padding: 11px;
}

.sf-metadata-column-types-popover .select-column-wrapper {
  flex: 1 1;
  overflow: auto;
  padding: 0 11px 16px;
}

.sf-metadata-column-types-popover .select-column-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sf-metadata-column-types-popover .select-column-list .select-column-title {
  color: #666;
  padding: 5px 0;
  width: 100%;
  font-size: 14px;
}

.sf-metadata-column-types-popover .select-column-list .select-column-item {
  border-radius: 3px;
  color: #212529;
  cursor: pointer;
  padding: 3px 5px;
  width: 200px;
  height: 30px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.sf-metadata-column-types-popover .select-column-list .select-column-item.active {
  background-color: #2684ff;
  color: #fff;
}

.sf-metadata-column-types-popover .select-column-item .seafile-multicolor-icon {
  fill: #aaa;
  margin-right: 8px;
  flex-shrink: 0;
}

.sf-metadata-column-types-popover .select-column-item span {
  flex: 1;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sf-metadata-column-types-popover .select-column-item.active .seafile-multicolor-icon {
  fill: #fff;
}

.sf-metadata-column-types-popover .select-column-item:not(.active):hover {
  background-color: #f5f5f5;
  border-radius: 3px;
}
