.sf-table-row .cell-jump-link {
  display: inline-block;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  margin-left: 8px;
  border: 1px solid #eee;
  padding: 0 2px;
  color: #666666;
  border-radius: 2px;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 0 1px;
}

.cell-highlight {
  background-color: rgb(239, 199, 151) !important;
}

.cell-current-highlight {
  background-color: #f09f3f !important;
}

.frozen-columns {
  background-color: #fff;
}

.sf-table-result-content .sf-table-row.can-drop-tip .sf-table-cell {
  background-color: rgb(200, 220, 240) !important;
}

.sf-table-result-container.record-draggable .sf-table-row .drag-handler {
  position: absolute;
  left: 0;
  top: 1px;
  height: 30px;
  width: 16px;
  z-index: 1;
}

.sf-table-result-container.record-draggable .sf-table-row:hover .drag-handler {
  background-image: url(../../../../../../../media/img/grippy_large.png);
  background-repeat: no-repeat;
  cursor: grab;
}

.sf-table-record-drag-layer {
  position: fixed;
  z-index: -1;
  left: -9999;
  top: 0;
  pointer-events: none;
  cursor: grabbing;
}

.sf-table-record-drag-layer .record-drag-layer-table {
  width: auto;
}

.sf-table-record-drag-layer .rdg-dragged-record {
  display: flex;
  min-height: 32px;
  height: auto;
  padding: 0 1rem;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: #fff;
}

.sf-table-record-drag-layer .rdg-dragged-record:first-child {
  border-top: 1px solid #ddd;
}

.sf-table-record-drag-layer .rdg-dragged-record .rdg-dragged-record-cell {
  display: flex;
  align-items: center;
  min-width: 80px;
  height: 32px;
  padding: 8px;
  border-bottom: none;
}

.sf-table-record-drag-layer .rdg-dragged-record .rdg-dragged-record-cell:last-child {
  border-right: none;
}
