{% extends base_template %}
{% load seahub_tags %}

{% block nav_shareadmin_class %}class="cur"{% endblock %}

{% if org %}
{% block title_panel %}
<h2>{{ org.org_name }}</h2>
{% endblock %}
{% endif %}

{% block right_panel %}
<h3>我共享的资料库</h3>
{% if shared_repos %}
<table class="repo-list">
    <tr>
        <th width="4%"><!--icon--></th>
        <th width="20%">名字</th>
        <th width="25%">共享给</th>
        <th width="10%">权限</th>
        <th width="30%">描述</th>
        <th width="11%">操作</th>
    </tr>
    {% for repo in shared_repos %}
    <tr>
        <td><img src="{{MEDIA_URL}}img/sync-folder-20.png" title="可读写" alt="目录icon" /></td>
        <td><a href="{{ SITE_ROOT }}repo/{{ repo.props.repo_id }}">{{ repo.props.repo_name }}</a></td>
        <td>{{ repo.props.user }}</td>
	<td>{{ repo.share_permission }}</td>
        <td>{{ repo.props.repo_desc }}</td>
        <td>
          {% if repo.props.share_type == 'group' %}
          <a href="#" data="{{ SITE_ROOT }}shareadmin/removeshare/?repo_id={{ repo.props.repo_id }}&from={{ request.user }}&gid={{ repo.props.group_id }}" class="cancel-share op">取消共享</a>
	  {% endif %}
          {% if repo.props.share_type == 'personal' %}
          <a href="#" data="{{ SITE_ROOT }}shareadmin/removeshare/?repo_id={{ repo.props.repo_id }}&from={{ request.user }}&to={{ repo.props.user }}" class="cancel-share op">取消共享</a>
	  {% endif %}
	  {% if repo.props.share_type == 'public' %}
	      {% if not org %}
	      <a href="#" data="{{ SITE_ROOT }}repo/unsetinnerpub/{{ repo.props.repo_id }}" class="cancel-share op">取消共享</a>
	      {% else %}
	      <a href="#" data="{{ SITE_ROOT }}organizations/{{ org.url_prefix }}/innerpubrepo/unset/{{ repo.props.repo_id }}" class="cancel-share op">取消共享</a>
	      {% endif %}
          {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p class="empty-repo-tips">这里将显示您共享给您朋友的资料库。您可以点击“我的页面”任意资料库旁的“共享”图标将您的资料库共享给您的朋友。</p>
{% endif %}

<h3>我管理的文件外链</h3>
{% if fileshares %}
<table class="sharelink-list">
  <tr>
    <th width="45%">文件名</th>
    <th width="30%">所属资料库</th>
    <th width="10%">查看次数</th>
    <th width="15%">操作</th>
  </tr>
  {% for fs in fileshares %}
  <tr>
    <td><a href="{{ SITE_ROOT }}repo/{{ fs.repo.id }}/files/?p={{ fs.path|urlencode }}">{{ fs.filename }}</a></td>
    <td><a href="{{ SITE_ROOT }}repo/{{ fs.repo.id }}/">{{ fs.repo.name }}</a></td>
    <td>{{ fs.view_cnt }}</td>
    <td>
        <a href="#" class="op view-link" data="{{ fs.token }}">查看链接</a>
        <a class="op" href="{{ SITE_ROOT }}sharedlink/remove/?t={{ fs.token }}">删除</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p class="empty-repo-tips">这里将显示您分享的文件外链。您可以在文件浏览页面点击“获取分享地址”按钮生成文件外链。</p>
{% endif %}
<p id="link" class="hide">该文件外链为：<input type="text" readonly="readonly" value="" id="shared-link" /></p>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$('.cancel-share').click(function() {
    location.href = $(this).attr('data');
});

$(".view-link").click(function() {
    var token = $(this).attr('data'),
        link = '{{ protocol }}://' + '{{ domain }}{{ SITE_ROOT }}f/' + token + '/';
    $('#link').before('<p class="hide">' + link + '</p>');
    $('#shared-link').val(link).css('width', $('#link').prev().width() + 2);
    $("#link").modal({appendTo:'#main'});
    $('#link').prev().remove();
    return false;
});
$('#shared-link').click(function() {
    $(this).select();
});
</script>
{% endblock %}
