{% extends "myhome_base.html" %}

{% block left_panel %}
<ul>
    <li><a href="{{ SITE_ROOT }}share/list/">共享列表</a></li>
    <li>共享同步目录</li>
</ul>
{% endblock %}

{% block right_panel %}

<h2>共享同步目录</h2>

<form action="" method="post">
    {{ form.non_field_errors }}
    {{ form.user_email.errors }}
    <label>联系人 Email:</label><br/>
    {{ form.user_email }}<br />
    {{ form.repo_id.errors }}
    <label>同步目录 ID:</label><br/>
    {{ form.repo_id }}<br />
    <input type="submit" value="Submit" />
</form>

{% endblock %}
