{% extends "myhome_base.html" %}

{% block left_panel %}
<ul>
    <li>共享列表</li>
    <li><a href="{{ SITE_ROOT }}share/add/">共享同步目录</a></li>
</ul>
{% endblock %}

{% block right_panel %}

<h2>共享给我的同步目录</h2>
<table class="repo-list default">
    <tr>
        <th>共享人</th>
        <th>ID</th>
        <th>操作</th>
    </tr>
    {% for item in share2me_items %}
    <tr>
        <td>{{ item.from_user.email }}</td>
        <td><a href="{{ SITE_ROOT }}repo/{{ item.repo_id }}/">{{ item.repo_id }}</a></td>
        <td>
        </td>
    </tr>
    {% endfor %}
</table>

<h2>所有共享的同步目录</h2>
<table class="repo-list default">
    <tr>
        <th>共享给</th>
        <th>ID</th>
        <th>操作</th>
    </tr>
    {% for item in share_items %}
    <tr>
        <td>{{ item.to_user.email }}</td>
        <td><a href="{{ SITE_ROOT }}repo/{{ item.repo_id }}/">{{ item.repo_id }}</a></td>
        <td><a href="{{ SITE_ROOT }}share/delete/{{ item.id }}/">删除</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
