{% extends base_template %}
{% load seahub_tags i18n %}
{% load url from future %}

{% block sub_title %}{% trans "Share" %} - {% endblock %}
{% block nav_share_class %}class="cur"{% endblock %}

{% block title_panel %}
<div class="tabnav">
    <ul class="tabnav-tabs">
        <li class="tabnav-tab"><a href="{% url 'share_admin' %}">{% trans "Libraries" %}</a></li>
        <li class="tabnav-tab"><a href="{% url 'list_shared_links' %}">{% trans "Links" %}</a></li>
        <li class="tabnav-tab  tabnav-tab-cur">{% trans "Private Shares" %}</li>
    </ul>
</div>
{% endblock %}

{% block main_panel %}
{% if priv_share_in or priv_share_out %}
<div id="tabs" class="tab-tabs">
    <ul class="tab-tabs-nav">
        <li class="tab"><a href="#priv-share-in" class="a">{% trans "From Others" %}</a></li>
        <li class="tab long-tab"><a href="#priv-share-out" class="a">{% trans "To Others" %}</a></li>
    </ul>
    <div id="priv-share-in">
    <table>
        <tr>
            <th width="5%"><!--icon--></th>
            <th width="40%">{% trans "Name"%}</th>
            <th width="25%">{% trans "Library"%}</th>
            <th width="18%">{% trans "From"%}</th>
            <th width="12%">{% trans "Operations"%}</th>
        </tr>
        {% if priv_share_in %}
        {% for e in priv_share_in %}
        <tr>
            {% if e.s_type == 'f' %}
            <td class="alc"><img src="{{ MEDIA_URL }}img/file/{{ e.file_or_dir|file_icon_filter }}" alt="{% trans "File"%}" /></td>
            <td><a href="{% url 'view_priv_shared_file' e.token %}?p={{ e.path|urlencode}}">{{e.file_or_dir}}</a></td>
            {% else %}
            <td class="alc"><img src="{{ MEDIA_URL }}img/folder-icon-24.png" alt="{% trans "Directory icon"%}" /></td>
            <td><a href="{% url 'repo' e.repo_id %}?p={{ e.path|urlencode}}">{{e.file_or_dir}}</a></td>
            {% endif %}
            <td>--</td>
            <td>{{e.from_user|email2nickname}}</td>
            <td><a href="{% url 'rm_private_file_share' e.token %}" class="op">{% trans "Unshare" %}</a></td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    </div>

    <div id="priv-share-out" class="hide">
    <table>
        <tr>
            <th width="5%"><!--icon--></th>
            <th width="40%">{% trans "Name"%}</th>
            <th width="25%">{% trans "Library"%}</th>
            <th width="18%">{% trans "To"%}</th>
            <th width="12%">{% trans "Operations"%}</th>
        </tr>
        {% if priv_share_out %}
        {% for e in priv_share_out %}
        <tr>
            {% if e.s_type == 'f' %}
            <td class="alc"><img src="{{ MEDIA_URL }}img/file/{{ e.file_or_dir|file_icon_filter }}" alt="{% trans "File"%}" /></td>
            <td><a href="{% url 'view_priv_shared_file' e.token %}?p={{ e.path|urlencode}}">{{e.file_or_dir}}</a></td>
            {% else %}
            <td class="alc"><img src="{{ MEDIA_URL }}img/folder-icon-24.png" alt="{% trans "Directory icon"%}" /></td>
            <td><a href="{% url 'repo' e.repo_id %}?p={{ e.path|urlencode}}">{{e.file_or_dir}}</a></td>
            {% endif %}
            <td><a href="{% url 'repo' e.repo_id %}">{{e.repo.name}}</a></td>
            <td>{{e.to_user|email2nickname}}</td>
            <td><a href="{% url 'rm_private_file_share' e.token %}" class="op">{% trans "Unshare" %}</a></td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    </div>

{% else%}
<div class="empty-tips">
  <h2 class="alc">{% trans "You don't have any private shared files" %}</h2>
  <p>{% trans "You can share a single file with a registered user if you don't want to share a whole library." %}</p>
</div>
{% endif %}


{% endblock %}

{% block extra_script %}
<script type="text/javascript">
</script>
{% endblock %}
