.sf-metadata-cell-expand-operation-btn {
  background-color: #2d7ff9;
  border-radius: 2px;
  top: 10px;
  box-shadow: none;
}

.sf-metadata-cell-expand-operation-btn:hover {
  box-shadow: 0 0 0 2px #d0f0fd;
  cursor: pointer;
  background-color: #2d7ff9;
}

.sf-metadata-cell-expand-operation-btn .seafile-multicolor-icon-expand {
  fill: #fff;
  font-size: 12px;
  transform: scale(.8);
}

.sf-metadata-cell-expand-operation-btn:hover .seafile-multicolor-icon-expand {
  fill: #fff;
}
