.sf-table-cell {
  position: absolute;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-right: 1px solid var(--bs-border-secondary-color);
  padding: 6px 8px;
  display: flex;
  justify-content: flex-start;
}

.sf-table-cell:not(.table-cell-uneditable):hover {
  cursor: pointer;
}

.sf-table-cell.index {
  width: 90px;
  height: 100%;
  padding: 0;
}

.sf-table-cell.column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}

.sf-table-cell .select-cell-checkbox-container,
.sf-table-cell .select-all-checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 1;
}

.sf-table-cell .select-cell-checkbox-container:hover,
.sf-table-cell .select-all-checkbox-container:hover,
.sf-table-cell .select-cell-checkbox-container input:hover,
.sf-table-cell .select-all-checkbox-container input:hover {
  cursor: pointer;
}

.sf-table-cell .file-cell-content {
  flex: 1;
  display: flex;
  align-items: center;
}

/* cell formatter */
.sf-table-cell .sf-metadata-ui.cell-formatter-container {
  height: 100%;
  line-height: 20px;
}

.sf-table-cell .collaborator-avatar {
  height: 16px;
  width: 16px;
  margin-left: 0;
  transform: translateY(0px);
  flex-shrink: 0;
}

.sf-table-cell .select-all-checkbox-container .seafile-multicolor-icon-partially-selected {
  cursor: pointer;
  color: #2b76f6;
  background-color: #fff;
  border-radius: .25rem;
}

.sf-table-cell .header-action-cell-placeholder {
  /* same width as the button of record expand */
  width: 20px;
  height: 20px;
}

.sf-table-cell .mobile-select-all-container {
  height: 14px;
  width: 14px;
  display: inline-flex;
  margin-bottom: 0;
}

.sf-table-cell .mobile-select-all-container .mobile-select-all-checkbox {
  display: none;
  z-index: 99999;
}

.sf-table-cell .mobile-select-all-container .select-all-checkbox-show {
  height: 14px;
  width: 14px;
  border: 1px solid var(--bs-border-secondary-color);
  border-radius: 2px;
}

.sf-table-cell .mobile-select-all-container .mobile-select-all-checkbox:checked + .select-all-checkbox-show {
  border: unset;
  background-color: #3b88fd;
  position: relative;
}

.sf-table-cell .mobile-select-all-container .mobile-select-all-checkbox:checked + .select-all-checkbox-show::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 4px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.sf-table-cell .mobile-select-all-container .seafile-multicolor-icon-partially-selected {
  font-size: 14px;
  line-height: 1;
}

@media screen and (max-width: 991.8px) {
  .sf-table-cell .select-cell-checkbox {
    width: 14px;
    height: 14px;
  }
}

/* row cell ui */
.sf-table-row:hover .sf-table-cell,
.sf-table-row:hover .column {
  background-color: var(--bs-tr-hover-bg);
}

.sf-table-row:hover .cell-selected {
  background: var(--bs-body-bg);
}

.sf-table-records-wrapper:hover .sf-table-cell.cell-highlight {
  background-color: rgb(239, 199, 151) !important;
}

.sf-table-records-wrapper:hover .sf-table-cell.cell-current-highlight {
  background-color: rgb(240, 159, 63) !important;
}

.sf-table-row.row-selected .sf-table-cell,
.sf-table-row.row-selected .column {
  background-color: var(--bs-tr-active-secondary-bg) !important;
}
