.sf-metadata-column-dropdown-menu .dropdown-item .seafile-multicolor-icon {
  margin-right: 10px;
  font-size: 14px;
  fill: #666;
}

.sf-metadata-column-dropdown-menu .dropdown-item:hover .seafile-multicolor-icon {
  fill: #fff;
}

.sf-metadata-column-dropdown-menu .sf-metadata-column-dropdown-item .item-text {
  width: calc(100% - 30px);
  display: inline-block;
}

.sf-metadata-column-dropdown-menu .dropdown-toggle::after {
  color: #666;
}

.sf-metadata-column-dropdown-menu .dropdown-toggle:hover::after {
  color: #fff;
}

.sf-metadata-column-dropdown-menu .dropdown-item.disabled,
.sf-metadata-column-dropdown-menu .dropdown-item:disabled {
  pointer-events: unset !important;
}

.sf-metadata-column-dropdown-menu .disabled.dropdown-item:hover {
  background-color: unset;
  cursor: default;
  color: #c2c2c2;
}

.sf-metadata-column-dropdown-menu .disabled.dropdown-item .seafile-multicolor-icon {
  fill: #c2c2c2;
}
