.seafile-markdown-viewer-modal {
  max-width: 950px;
}

.seafile-markdown-viewer-modal-content {
  height: 600px;
}

.seafile-markdown-viewer-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.seafile-markdown-viewer-modal-header .seafile-markdown-viewer-modal-header-left-name > span {
  margin-right: 6px;
}

.seafile-markdown-viewer-modal-header .seafile-markdown-viewer-modal-header-right-tool > span {
  margin-left: 10px;
  cursor: pointer;
}

.seafile-markdown-viewer-modal-body {
  padding: 40px 60px;
}

.seafile-markdown-viewer-modal-body .loading-tip {
  margin-top: 20%;
}

.seafile-markdown-viewer-modal-body .sf-slate-viewer-scroll-container {
  background: #fff;
  padding: 0px 0 15px;
}
