.seafile-markdown-viewer-modal {
  max-width: 950px;
  height: calc(100% - 56px);
}

.seafile-markdown-viewer-modal .seafile-markdown-viewer-modal-content {
  height: 100%;
}

.seafile-markdown-viewer-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 16px;
  height: 48px;
}

.seafile-markdown-viewer-modal-header .seafile-markdown-viewer-modal-header-left-name > span {
  margin-right: 6px;
}

.seafile-markdown-viewer-modal-header .seafile-markdown-viewer-modal-header-right-tool > span {
  margin-left: 10px;
  cursor: pointer;
  color: #000;
  opacity: 0.5;
}

.seafile-markdown-viewer-modal-header .seafile-markdown-viewer-modal-header-right-tool > span:hover {
  opacity: 0.75;
}

.seafile-markdown-viewer-modal-body {
  padding: 0;
  height: calc(100vh / 2 + 130px);
  overflow: auto;
}

.seafile-markdown-viewer-modal-body .wiki-page-container {
  margin: 40px 60px 0px 60px;
}

.seafile-markdown-viewer-modal-body .wiki-page-container .empty-loading-page {
  display: none;
}

.seafile-markdown-viewer-modal-body .loading-tip {
  margin-top: 30%;
}

.seafile-markdown-viewer-modal-body .sf-slate-viewer-scroll-container {
  background: #fff;
  padding: 0px 0 0px;
  overflow: hidden;
}
