.sf-metadata-tags-editor {
  background: var(--bs-popover-bg);
  border: 1px solid var(--bs-secondary-color);
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 #dedede;
  left: 0;
  min-height: 160px;
  min-width: 200px;
  opacity: 1;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

[data-bs-theme=dark] .sf-metadata-tags-editor {
  box-shadow: none;
}

.sf-metadata-tags-editor .sf-metadata-search-tags-container {
  position: relative;
  padding: 10px 10px 0;
}

.sf-metadata-tags-editor.tags-tree-container .sf-metadata-search-tags-container {
  padding: 16px 16px 0;
}

.sf-metadata-tags-editor .sf-metadata-search-tags-container .sf-metadata-search-tags {
  font-size: 14px;
  max-height: 30px;
}

.sf-metadata-tags-editor .sf-metadata-search-tags-container .search-control {
  position: absolute;
  top: 24px;
  right: 26px;
}

.sf-metadata-tags-editor .sf-metadata-tags-editor-container {
  max-height: 200px;
  min-height: 100px;
  overflow: auto;
  padding: 10px;
  scrollbar-color: #C1C1C1 rgba(0, 0, 0, 0);
}

.sf-metadata-tags-editor.tags-tree-container .sf-metadata-tags-editor-container {
  max-height: 280px;
  padding: 10px 0;
}

.sf-metadata-tags-editor.tags-tree-container .sf-metadata-tags-editor-container .sf-metadata-tags-editor-tag-item {
  padding: 0 16px;
}

.sf-metadata-tags-editor .sf-metadata-tags-editor-container .none-search-result {
  font-size: 14px;
  opacity: 0.5;
  display: inline-block;
}

.sf-metadata-tags-editor .sf-metadata-tags-editor-container .sf-metadata-tags-editor-title {
  height: 32px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  color: #666;
}

.sf-metadata-tags-editor .sf-metadata-tags-editor-tag-container-highlight {
  background: var(--bs-nav-hover-bg);
  cursor: pointer;
}

.sf-metadata-tags-editor .sf-metadata-tags-editor-tag-check-icon {
  text-align: center;
  width: 20px;
}

.sf-metadata-tags-editor .sf-metadata-tags-editor-divider {
  border-top: 1px solid var(--bs-border-color);
  height: 0;
  margin: 12px 0 8px;
  opacity: 1;
  overflow: hidden;
}

.sf-metadata-tags-editor-container .sf-metadata-ui-tags-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  padding: 0 16px;
  cursor: pointer;
}

.sf-metadata-tags-editor-container .sf-metadata-ui-tags-container .sf-metadata-ui-tag {
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--bs-body-bg);
  font-size: 13px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  margin: 4px 8px 4px 0;
  padding: 0 6px 0 2px;
}

.sf-metadata-tags-editor-container .sf-metadata-ui-tags-container .sf-metadata-ui-tag.sf-metadata-ui-tag-selected {
  border-color: rgb(255, 152, 0);
}

.sf-metadata-tags-editor-container .sf-metadata-ui-tags-container .sf-metadata-ui-tag-color {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  border-radius: 50%;
  flex-shrink: 0;
  border: 2px solid #fff;
}
