.sf-metadata-tags-editor {
  left: 0;
  min-height: 160px;
}

[data-bs-theme=dark] .sf-metadata-tags-editor {
  box-shadow: none;
}

.sf-metadata-tags-editor .sf-metadata-search-tags-container {
  position: relative;
  padding: 10px 10px 0;
}

.sf-metadata-tags-editor.sf-metadata-tags-tree-container .sf-metadata-search-tags-container {
  padding: 8px 8px 0;
}

.sf-metadata-tags-editor .sf-metadata-search-tags-container .sf-metadata-search-tags {
  font-size: 13px;
  max-height: 28px;
  padding: 4px 8px;
  border-radius: 4px;
}

.sf-metadata-tags-editor .sf-metadata-search-tags-container .sf-metadata-search-tags:focus {
  border: 1px solid #3e84f7;
  box-shadow: none;
  background-color: transparent;
}

.sf-metadata-tags-editor .sf-metadata-search-tags-container .search-control {
  position: absolute;
  top: 12px;
  right: 16px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: .75rem;
}

.sf-metadata-tags-editor .sf-metadata-search-tags-container .search-control:hover {
  background: var(--bs-icon-btn-hover-bg-color);
}

.sf-metadata-tags-editor .sf-metadata-tags-editor-container {
  max-height: 200px;
  min-height: 100px;
  overflow: auto;
  padding: 10px;
  scrollbar-color: #C1C1C1 rgba(0, 0, 0, 0);
}

.sf-metadata-tags-editor.sf-metadata-tags-tree-container .sf-metadata-tags-editor-container {
  max-height: 280px;
  padding: 8px 0 8px;
}

.sf-metadata-tags-editor.sf-metadata-tags-tree-container .sf-metadata-tags-editor-container .sf-metadata-tags-editor-tag-item {
  padding: 0 12px;
}

.sf-metadata-tags-editor .sf-metadata-tags-editor-container .search-result-empty {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin: 40px 0;
  color: var(--bs-body-secondary-color);
}

.sf-metadata-tags-editor .sf-metadata-tags-editor-container .sf-metadata-tags-editor-title {
  height: 20px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  color: #666;
  line-height: 20px;
  font-size: 13px;
  margin-bottom: 8px;
}

.sf-metadata-tags-editor .sf-metadata-tags-editor-container .sf-metadata-tags-editor-tag-container-highlight {
  background: var(--bs-dropdown-link-hover-bg);
  cursor: pointer;
}

.sf-metadata-tags-editor .sf-metadata-tags-editor-container .sf-metadata-tags-editor-tag-check-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .875rem;
}

.sf-metadata-tags-editor .sf-metadata-tags-editor-container .sf-metadata-tags-editor-divider {
  border-top: 1px solid var(--bs-border-secondary-color);
  height: 0;
  margin: 12px 0 8px;
  opacity: 1;
  overflow: hidden;
}

.sf-metadata-tags-editor .sf-metadata-tags-editor-container .sf-metadata-ui-tags-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  padding: 8px 12px 0;
  cursor: pointer;
}

.sf-metadata-tags-editor .sf-metadata-tags-editor-container .sf-metadata-ui-tags-container .sf-metadata-ui-tag {
  height: 22px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--bs-body-bg);
  font-size: 13px;
  border: 1px solid #dbdbdb;
  border-radius: 11px;
  margin: 0 4px 4px 0;
  padding: 0 6px 0 2px;
}

.sf-metadata-tags-editor .sf-metadata-tags-editor-container .sf-metadata-ui-tags-container .sf-metadata-ui-tag.sf-metadata-ui-tag-selected {
  border-color: rgb(255, 152, 0);
}

.sf-metadata-tags-editor .sf-metadata-tags-editor-container .sf-metadata-ui-tags-container .sf-metadata-ui-tag-color {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  border-radius: 50%;
  flex-shrink: 0;
  border: 2px solid #fff;
}

.sf-metadata-tags-editor .sf-metadata-tags-editor-container .add-search-result .add-tag-value {
  font-weight: 500;
  margin-left: 4px;
}
