.sea-ai-chat-attachments-container {
  width: 100%;
  overflow-x: auto !important;
  scrollbar-width: none;
}

.sea-ai-chat-attachments {
  width: fit-content;
  display: flex;
  align-items: center;
  flex-wrap: nowrap !important;
  justify-content: flex-start !important;
  margin-bottom: 0 !important;
  overflow: hidden;
}

.sea-ai-chat-attachments-container::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.sea-ai-chat-attachments-scroll-before {
  left: 15px;
  background: linear-gradient(90deg, #fff, #F7F7F5);
  padding-right: 6px;
}

.sea-ai-chat-attachments-scroll-after {
  right: 15px;
  background: linear-gradient(270deg, #fff, #F7F7F5);
  padding-left: 6px;
}

.sea-ai-chat-attachments-scroll-before,
.sea-ai-chat-attachments-scroll-after {
  z-index: 5;
  width: 30px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  position: absolute;
}

.sea-ai-chat-attachments-scroll-before .sea-ai-icon-btn,
.sea-ai-chat-attachments-scroll-after .sea-ai-icon-btn {
  border: 1px solid #eee;
  border-radius: 8px;
  cursor: pointer;
}
