.sf-metadata-delete-select-tags {
  background-color: #f6f6f6;
  border-bottom: 1px solid #dde2ea;
  border-radius: 3px 3px 0 0;
  min-height: 35px;
  padding: 2px 10px;
  line-height: 1;
  max-height: 150px;
  overflow-y: auto;
}

.sf-metadata-delete-select-tags .sf-metadata-delete-select-tag {
  display: inline-flex;
  align-items: center;
  height: 20px;
  margin-right: 10px;
  padding: 0 8px 0 2px;
  font-size: 13px;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  background: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sf-metadata-delete-select-tags .sf-metadata-delete-select-tag .sf-metadata-delete-select-tag-color {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 1px;
}

.sf-metadata-delete-select-tags .sf-metadata-delete-select-tag .sf-metadata-delete-select-tag-name {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  color: #212529;
  margin-left: 8px;
  max-width: 200px;
  flex: 1 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sf-metadata-delete-select-tags .sf-metadata-delete-select-tag .sf-metadata-delete-select-remove {
  height: 14px;
  width: 14px;
  position: relative;
  left: 2px;
}

.sf-metadata-delete-select-tags .sf-metadata-delete-select-remove .seafile-multicolor-icon-x-01 {
  fill: #666;
  font-size: 12px;
}
