/* Cover */
.cur-view-content .wiki-page-cover {
  position: relative;
  height: 30vh;
  width: 100%;
}

.wiki-page-cover__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wiki-page-cover__controller {
  display: none;
  position: absolute;
  top: 15px;
  right: 20%;
}

.wiki-page-cover__controller.show {
  display: block;
}

.wiki-page-cover__controller .wiki-cover-controller-btn {
  padding: 4px 6px;
  background-color: #fff;
  border-radius: 4px;
  font-size: 12px;
  color: #6a6767b3;
  cursor: pointer;
}

.wiki-page-cover__controller .wiki-cover-controller-btn:hover {
  color: #4d5156;
}

.wiki-page-cover-popover {
  max-width: max-content !important;
}

.wiki-page-cover-panel__header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 6px 14px;
}

.wiki-page-cover-panel__body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  background-color: #fff;
  overflow-y: auto;
}

.wiki-page-cover-panel .wiki-cover-gallery-img {
  width: 120px;
  height: 64px;
  cursor: pointer;
}

.wiki-page-cover-panel .wiki-cover-gallery-img:hover {
  filter: brightness(1.1);
}

/* icon */

/* common */
.wiki-page-panel .popover-header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 6px 14px;
}

.wiki-page-panel .popover-header>span {
  border-radius: 4px;
  padding: 2px 8px;
  user-select: none;
}

.wiki-page-panel .popover-header>span:last-child:hover {
  background-color: #efefef;
  cursor: pointer;
}
