.wiki-page-title-wrapper {
  position: relative;
  width: 100%;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .wiki-page-title-wrapper {
    padding: 0 142px;
  }
}

.wiki-page-title-wrapper.show-comment-panel {
  padding-left: 50px;
}

.wiki-page-icon-wrapper {
  margin-top: 12px;
  margin-bottom: 8px;
  line-height: 78px;
}

.wiki-page-icon-wrapper.no-page-cover {
  margin-top: -48px;
}

.wiki-page-icon-container {
  position: relative;
  width: 78px;
  height: 78px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wiki-page-icon-container>span {
  font-size: 66px;
  font-family: EmojiMart, "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "Android Emoji";
}

.wiki-page-icon-container:hover {
  cursor: pointer;
  background-color: #d3c5c370;
}

.wiki-page-icon-popover {
  max-width: max-content;
}

.wiki-page-icon-panel__body {
  padding: 0;
  background: var(--bs-body-bg);
}

.wiki-page-icon-panel__body em-emoji-picker {
  height: 337px;
}

.wiki-page-icon-panel__body em-emoji-picker section {
  border-radius: 0;
}

.wiki-page-controller {
  display: flex;
  margin-top: 10px;
  visibility: hidden;
}

.wiki-page-controller.show {
  visibility: visible;
}

.wiki-page-controller-item {
  align-items: center;
  border-radius: 4px;
  color: #949491;
  cursor: pointer;
  display: flex;
  margin-left: 6px;
  padding: 2px 8px;
}

.wiki-page-controller-item:hover {
  background-color: var(--bs-nav-hover-bg);
  border-radius: 4px;
}

.wiki-page-controller-item:first-of-type {
  margin-left: 0;
}

.wiki-page-controller-item .text {
  font-size: 14px;
  margin-left: 4px;
}

/* sdoc title */
.main-panel-center .cur-view-content .wiki-sdoc-title {
  border: none;
  font-size: 26pt;
  font-weight: bold;
  padding: 0 50px 0 0;
  color: var(--bs-body-color);
  margin-bottom: .4em;
}

.main-panel-center .cur-view-content .wiki-sdoc-title:focus {
  box-shadow: none;
}

.main-panel-center .cur-view-content .wiki-sdoc-title:focus-visible {
  outline: none;
}
