.sf-table-header-cell .sf-table-column-icon {
  color: #aaa;
}

.sf-table-header-cell .seafile-multicolor-icon-drop-down {
  color: #aaa;
  font-size: 12px;
  transform: scale(.8);
}

.sf-table-header-cell .sf-table-cell.column.name-column {
  cursor: default;
}

.sf-table-header-cell .rdg-can-drop > .sf-table-cell.column {
  cursor: move;
}

.sf-table-header-cell .rdg-dropping > .sf-table-cell.column {
  background: #ececec;
  position: relative;
}

.sf-table-header-cell .rdg-dropping-position > .sf-table-cell.column::before {
  content: '';
  position: absolute;
  top: 10%;
  height: 80%;
  width: 1px;
  background-color: #2d7ff9;
  border-radius: 50%;
  z-index: 1;
}

.sf-table-header-cell .rdg-dropping-position-left > .sf-table-cell.column::before {
  left: -1px;
}

.sf-table-header-cell .rdg-dropping-position-right > .sf-table-cell.column::before {
  right: -1px;
}

.sf-table-header-cell .rdg-dropping-position-none > .sf-table-cell.column::before {
  display: none;
}
