.view-published-wiki {
  height: 20px;
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  padding: 0 8px;
  border: 1px solid var(--bs-border-color);
  border-radius: 20px;
  color: var(--bs-body-secondary-color);
  font-size: 12px;
  line-height: 20px;
  background: transparent;
}

.view-published-wiki:hover {
  background: var(--bs-icon-btn-hover-bg-color);
  text-decoration: none;
  color: var(--bs-body-secondary-color);
}
