/* lib view */
.repo-file-list .dirent-name {
    width:220px;
}
.repo-file-list .dirent-size {
    width:114px;
}
.repo-file-list .dirent-update {
    width:123px;
}
.repo-file-list .dirent-op {
    padding-left:30px;
    width:120px;
}
.repo-file-list .hidden-op {
    min-width: 100px;
}
.displayed-op .op {
    margin-left:5px;
}
.hidden-op a {
    color:#444;
}
.hidden-op a:hover {
    color:#fff;
    text-decoration:none;
    background:#feaa7c;
}
/* custom select2 */
.select2-container-multi .select2-choices {
    border-color: #ddd;
    border-radius: 2px;
    background-image: none; /* rm the shadow */
}
.select2-container-multi .select2-choices .select2-search-field input {
    padding:2px 2px 2px 5px;
}
.select2-container-multi .select2-choices .select2-search-choice {
    border:none;
    border-radius:0;
    background:#eee;
}
