
.sf-metadata-filters-list .sf-metadata-tag-color {
  border-radius: 50%;
  flex-shrink: 0;
}

.sf-metadata-filters-list .sf-metadata-tag-name {
  flex: 1;
  margin-left: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #212529;
}

.sf-metadata-selector-tags.sf-metadata-select .sf-metadata-option {
  line-height: 20px;
  padding: 5px 10px 5px 10px !important;
}

.sf-metadata-selector-tags.sf-metadata-select .sf-metadata-option:hover {
  background-color: #f7f7f7;
  color: #212529;
}

.sf-metadata-selector-tags.sf-metadata-select .selected-option-show {
  text-overflow: clip;
}
