.sf-metadata-ui.collaborator-item {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  padding: 0 8px 0 2px;
  height: 20px;
  font-size: 13px;
  border-radius: 10px;
  background: #eaeaea;
  color: #212529;
  width: fit-content;
  max-width: 200px;
}

.sf-metadata-ui.collaborator-item .collaborator-avatar,
.sf-metadata-ui.collaborator-item .collaborator-name,
.sf-metadata-ui.collaborator-item .collaborator-remove {
  height: 20px;
  line-height: 20px;
}

.sf-metadata-ui.collaborator-item .collaborator-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px 0 0;
  flex-shrink: 0;
}

.sf-metadata-ui.collaborator-item .collaborator-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sf-metadata-ui.collaborator-item .collaborator-avatar img {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.sf-metadata-ui.collaborator-item .collaborator-remove {
  width: 14px;
  display: inline-flex;
  align-items: center;
  margin: 0 -2px 0 2px;
  flex-shrink: 0;
}

.sf-metadata-ui.collaborator-item .collaborator-remove .seafile-multicolor-icon  {
  display: inline-block;
  font-size: 12px;
  color: #909090;
  transform: scale(.8);
  cursor: pointer;
}

.sf-metadata-ui.collaborator-item .collaborator-remove .seafile-multicolor-icon:hover {
  color: #666666;
  cursor: pointer;
}

.sf-metadata-ui.collaborator-item .department-icon-container {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
}

.sf-metadata-ui.collaborator-item .department-icon-container .seafile-multicolor-icon {
  color: #fff;
  width: 8px;
  height: 8px;
}
