.sf-metadata-popover-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}

.popover-add-tool.add-item-btn {
  border-top: none;
  color: #666666;
}

.popover-add-tool.disabled:hover {
  cursor: not-allowed;
  background: var(--bs-body-bg);
}

.popover-add-tool.disabled .popover-add-icon {
  fill: #c2c2c2;
}

.sf-metadata-filter-popover .popover-add-tool.disabled {
  color: #c2c2c2;
}
