.sf-metadata-card-item {
  width: 300px;
  background: #f9f9f9;
  border: 1px solid #e2e2e2;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  user-select: none;
}

.sf-metadata-card-item.selected {
  border-color: #ff9800;
}

.sf-metadata-card-item:hover {
  background: #fff;
  box-shadow: 0 0 3px #0000002e;
}

.sf-metadata-card-item-image-container {
  height: 200px;
}

.sf-metadata-card-item-text-container {
  padding: 10px;
}

.sf-metadata-card-item-text-container .sf-metadata-file-name {
  font-weight: 500;
}

.sf-metadata-card-item .sf-metadata-card-item-field {
  margin-top: 10px;
}

.sf-metadata-card-item .sf-metadata-card-item-field-name {
  display: block;
  color: #666;
  font-size: 12px;
  margin-bottom: 4px;
}

.sf-metadata-card-item .sf-metadata-card-item-field .sf-metadata-record-cell-empty {
  display: inline-block;
  background-color: #f0f0f0;
  border-radius: 4px;
  height: 8px;
  width: 20px;
}

.sf-metadata-card-item .sf-metadata-ui {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.2;
  font-size: 14px;
}

.sf-metadata-card-item .sf-metadata-date-formatter,
.sf-metadata-card-item .sf-metadata-number-formatter {
  text-align: left;
}

.sf-metadata-card-item .sf-metadata-text-formatter {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sf-metadata-card-item .file-name-formatter {
  margin-bottom: 10px;
}

.sf-metadata-card-item .file-name-formatter:not(.sf-metadata-image-file-formatter) {
  margin-left: -4px;
}

.sf-metadata-card-item .sf-metadata-special-file-name-formatter:not(.sf-metadata-image-file-formatter) {
  margin-left: -2px;
}

.sf-metadata-card-item .file-name-formatter .sf-metadata-file-icon {
  transform: translateY(-1px);
}

.sf-metadata-card-item .sf-metadata-card-item-field .collaborators-formatter {
  display: flex;
  flex-wrap: wrap;
}

.sf-metadata-card-item .sf-metadata-card-item-field .collaborators-formatter .collaborator-item {
  margin-top: 2px;
  margin-bottom: 2px;
}

.sf-metadata-card-item .sf-metadata-card-item-field .sf-metadata-checkbox-formatter {
  justify-content: flex-start;
  padding-left: 2px;
}

.sf-metadata-card-item .sf-metadata-card-item-field .sf-metadata-multiple-select-formatter {
  flex-wrap: wrap;
}

.sf-metadata-card-item .sf-metadata-card-item-field .sf-metadata-multiple-select-formatter .sf-metadata-ui-select-option {
  margin-top: 2px;
  margin-bottom: 2px;
}

.sf-metadata-view-card-items-container-text-wrap .sf-metadata-card-item-field .text-formatter {
  white-space: normal;
  max-height: 68px;
}

.sf-metadata-card-item .long-text-formatter,
.sf-metadata-view-card-items-container-text-wrap .sf-metadata-card-item-field .long-text-formatter {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  line-height: 1.5;
  white-space: normal;
}
