.sf-metadata-result-table-row .rdg-row-expand-icon {
  opacity: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  flex-shrink: 0;
  cursor: pointer;
}

.sf-metadata-result-table-row:hover .rdg-row-expand-icon {
  opacity: 1;
}

.sf-metadata-result-table-row .sf-metadata-result-column-content.actions-checkbox {
  width: 40px;
  text-align: center;
  display: none;
  cursor: pointer;
}

.sf-metadata-result-table-row:hover .sf-metadata-result-column-content.actions-checkbox {
  display: block;
}

.sf-metadata-result-table-row:hover .sf-metadata-result-column-content.row-index {
  display: none;
}

.sf-metadata-result-table-row.row-selected .sf-metadata-result-column-content.actions-checkbox {
  display: block !important;
}

.sf-metadata-result-table-row.row-selected .sf-metadata-result-column-content.row-index {
  display: none !important;
}

.sf-metadata-result-table-row:hover .sf-metadata-result-table-cell.actions-cell .row-expand {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.sf-metadata-result-table-row:hover .sf-metadata-result-table-cell.actions-cell .row-expand .row-expand-icon {
  width: 16px;
  height: 16px;
  display: block;
  transform: scale(.8);
}

.sf-metadata-result-table-row .sf-metadata-result-table-cell.actions-cell .row-expand-icon {
  display: none;
  color: #467fcf;
}

.sf-metadata-result-table-row .sf-metadata-result-table-cell.actions-cell .row-expand:hover {
  background-color: #c2f5e9;
}
