.metadata-face-recognition-dialog .change-face-recognition-status-management {
  margin-bottom: 10px;
}

.metadata-face-recognition-dialog .change-face-recognition-status-management .custom-switch {
  padding-left: 0;
}

.metadata-face-recognition-dialog .change-face-recognition-status-management:not(.disabled) .custom-switch:hover,
.metadata-face-recognition-dialog .change-face-recognition-status-management:not(.disabled) .custom-switch:hover * {
  cursor: pointer;
}

.metadata-face-recognition-dialog .tip {
  font-size: 12px;
}
