{% extends 'email_base.html' %}

{% load i18n seahub_tags %}

{% block email_con %}
{% autoescape off %}

<p style="color:#121214;font-size:14px;">{% trans "Hi, " %}</p>

<p style="font-size:14px;color:#434144;">
{% blocktrans with grp_name=group.group_name escaped_nickname=email|email2nickname|escape %}{{ escaped_nickname }} invited you to join group {{ grp_name }} on {{ site_name }}: {% endblocktrans %}<br />
{{ url_base }}{% url 'registration_register' %}?src={{ to_email }}
</p>

{% endautoescape %}
{% endblock %}


