{% extends "api2_base.html" %}

{% load seahub_tags avatar_tags group_avatar_tags i18n %}
{% load url from future %}

{% block sub_title %}{{group.group_name}} - {% endblock %}
{% block nav_group_class %}class="cur"{% endblock %}


{% block right_panel %}

<div id="group-reply">
    {% if request.user.is_authenticated %}
    <form id="group-message-form" action="" method="post">{% csrf_token %}
        {% avatar request.user.username 48 %}
        <textarea name="message" id="message" placeholder="{% trans "Add a discussion..." %}">{{ form.data.message }}</textarea><br />
       <p class="error hide">{% trans "This field is required." %}</p>
        <button type="submit" class="submit hide">{% trans "Submit" %}</button>
        <button type="button" class="cancel hide">{% trans "Cancel" %}</button>
        <span class="say"></span>
    </form>
    {% else %}
    <p>{% trans "After login, you can post discussions and add replies." %}</p>
    {% endif %}

    {% if group_msgs %}
    <ul class="msg-list">
    {% for msg in group_msgs.object_list %}
        <li class="msg w100 ovhd">
        <a href="{% url 'user_msg_list' msg.from_email|id_or_email %}" class="pic fleft">{% avatar msg.from_email 48 %}</a>
        <div class="txt">
            <div class="msg-main">
                <div class="msg-hd w100 ovhd">
                    <a href="{% url 'user_msg_list' msg.from_email|id_or_email %}" class="author">{{ msg.from_email|email2nickname }}</a>
                    <span class="time">{{ msg.timestamp|translate_seahub_time }}</span>
                </div>
                <p class="msg-con">{{ msg.message|seahub_urlize|find_at|linebreaksbr }}</p>
                {% if msg.attachment %}
                {% with ma=msg.attachment %}
                <div class="msg-attachment">
                    {% if ma.src == 'recommend' %}
                    {% if ma.attach_type == 'file' %}
                        {% if ma.filetype != 'Image'%}
                        <img src="{{ MEDIA_URL }}img/file/{{ ma.name|file_icon_filter }}" alt="{% trans "File"%}" height="18" class="vam" />
                        <a href="{% url 'repo_view_file' ma.repo_id %}?p={{ ma.path|urlencode }}" target="_blank" class="vam">{{ ma.name }}</a>
                        {% else %}
                            {% if ma.err %}
                            <p class="error">{{ma.err}}</p>
                            {% else %}
                            <a href="{% url 'repo_view_file' ma.repo_id %}?p={{ ma.path|urlencode }}" target="_blank" class="img-cont"><img src="{{ma.img_url}}" alt="{{ma.name}}" class="img" /></a>
                            {% endif %}
                        {% endif %}
                    {% else %}
                    <img src="{{ MEDIA_URL }}img/folder-icon-24.png" alt="{% trans "Directory icon"%}" height="20" class="vam" />
                    <a href="{% url 'repo' ma.repo_id %}?p={{ ma.path|urlencode }}" target="_blank" class="vam">{{ ma.name }}</a>
                    {% endif %}
                    {% endif %}

                    {% if ma.src == 'filecomment' %} {# compatible with comments already exist #}
                    <img src="{{ MEDIA_URL }}img/file/{{ ma.name|file_icon_filter }}" alt="{% trans "File"%}" height="18" class="vam" />
                    <a href="{% url 'repo_view_file' ma.repo_id %}?p={{ ma.path|urlencode }}" target="_blank" class="vam">{{ ma.name }}</a>
                    {% endif %}
                </div>
                {% endwith %}
                {% endif %}
                <span class="say"></span>
            </div>
            <div class="msg-op">
                <div class="replies-op{% if msg.reply_cnt < 4 %} hide{% endif %}" data-rstatus="hide">
                    <span class="unfold-replies" data-url="{% url 'msg_reply' msg.id %}">{% blocktrans with amount=msg.reply_cnt %}{{ amount }} replies{% endblocktrans %}</span>
                    <span class="fold-replies hide">{% trans "Hide replies" %}</span>
                    <img src="{{MEDIA_URL}}img/loading-icon.gif" alt="" width="16" class="replies-loading-icon hide" />
                </div>
                {% if msg.reply_cnt == 0 %}
                <ul class="reply-list hide"></ul>
                {% else %}
                <ul class="reply-list">
                    {% for r in msg.replies %}
                    {% with id=r.from_email|id_or_email name=r.from_email|email2nickname %}
                    <li class="reply w100 ovhd reply-at" data="{{ name }}">
                    <a href="{% url 'user_msg_list' id %}" class="pic fleft">{% avatar r.from_email 28 %}</a>
                    <div class="txt">
                        <a href="{% url 'user_msg_list' id %}">{{ name }}</a>
                        <span class="time">{{ r.timestamp|translate_seahub_time }}</span>
                        <span style="font-size:11px;color:#999">{% trans 'Reply' %}</span>
                        <p class="reply-con">{{ r.message|seahub_urlize|find_at }}</p>
                    </div>
                    {% endwith %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if request.user.is_authenticated %}
                <form action="{% url 'api_msg_reply' msg.id %}" method="post" class="reply-form">
                    <textarea placeholder="{% trans "Add a reply..." %}" name="message" class="reply-input"></textarea>
                    <p class="error hide">{% trans "It can not be blank and should be no more than 150 characters." %}</p>
                    <button type="submit" class="reply-submit hide">{% trans "Submit" %}</button>
                    <button type="button" class="reply-cancel hide">{% trans "Cancel" %}</button>
                </form>
                {% endif %}
            </div>
        </div>
        </li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if group_msgs.has_other_pages %}
    <div id="paginator">
        {% if group_msgs.has_previous %}
        <a href="?page={{ group_msgs.previous_page_number }}" class="prev">{% trans "Previous" %}</a>
        {% endif %}
        {% for pr in group_msgs.page_range %}
          {% if pr == group_msgs.number %}
          <span class="cur">{{ pr }}</span>
          {% else %}
          <a href="?page={{ pr }}" class="pg">{{ pr }}</a>
          {% endif %}
        {% endfor %}
        {% if group_msgs.has_next %}
        <a href="?page={{ group_msgs.next_page_number }}" class="next">{% trans "Next"%}</a>
        {% endif %}
    </div>
    {% endif %}

    {% if group_msgs.object_list|length > 5 %}
    <a href="#group-reply" id="msg-upward" class="hide">{% trans "↑Top" %}</a>
    {% endif %}
</div>

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
{% if group_msgs.object_list|length > 5 %}
$(window).scroll(function() {
    var up_icon = $('#msg-upward');
    var msg_panel =  $('#group-reply');
    var msg_panel_offset = msg_panel.offset();
    var msg_panel_bot = msg_panel_offset.top + msg_panel.height(); 
    var win_st = $(window).scrollTop();
    var win_h = $(window).height() + win_st;

    if (win_st > msg_panel_offset.top) {
        up_icon.css({'left': msg_panel_offset.left + msg_panel.width() + 60}).removeClass('hide');
        if (win_h > msg_panel_bot) {
            up_icon.css({'bottom': win_h - msg_panel_bot + 15});
        } else {
            up_icon.css({'bottom': 15});
        }
    } else {
        up_icon.addClass('hide');
    }
});
{% endif %}

{% if request.user.is_authenticated %}
addAtAutocomplete('#message', '#group-message-form', {{ group.id }}, "{% url 'group_attention' %}", {'border':'1px solid #ddd', 'width':'550px', 'height': '75px', 'padding':'3px 5px', 'overflow-y':'auto', 'line-height': '1.5em'}); // remember to add unit (px or em) to line-height, as js in ie will take 1.5 as 1.5, not 1.5em

var g_token
function setToken(token) {
    g_token = token;
}

$('#message').focus(function() {
    $('#message').height(75);
    $('#group-message-form').find('.submit, .cancel').removeClass('hide');
});
$('#group-message-form .cancel').click(function() {
    $('#group-message-form .error').addClass('hide');
    $('#group-message-form .cancel').addClass('hide');
    $('#group-message-form .submit').addClass('hide');
    $('#message').val('').height(25);
});

$('#group-message-form').submit(function() {
 var form = $(this),
        r_input = form.find('#message');
        r = $.trim(r_input.val());
        err = form.find('.error');
    if (!r || r.length > 150) {
        err.removeClass('hide');
        return false;
    }
    err.addClass('hide');

    var sm = form.find('.submit');
    disable(sm);
    var msg_list = form.parent().find('.msg-list');

    $.ajax({
        type: "POST",
        url: location.pathname,
        dataType: 'json',
        cache: false,
        headers:{Authorization:'Token '+g_token},
        beforeSend: prepareCSRFToken,
        data: { "message": r },
        success: function(data) {
            msg_list.prepend(data['html'])
            msg_list.children().eq(0).find('.reply-input').focus(reply_focus_fn);
            msg_list.children().eq(0).find('.reply-cancel').click(reply_cancel_fn);
            msg_list.children().eq(0).find('.reply-at').click(replyAt);
            msg_list.children().eq(0).find('.reply-form').submit(reply_submit_fn);

            enable(sm);
            $('#group-message-form .cancel').addClass('hide');
            $('#group-message-form .submit').addClass('hide');
            $('#message').val('').height(25);
        },
        error:function(jqXHR, textStatus, errorThrown) {
            if (!jqXHR.responseText) {
                err.html("{% trans "Failed. Please check the network." %}").removeClass('hide'); 
            }
            enable(sm);
        }
    }); 
    return false;
});
{% endif %}

{% include 'group/api2_msg_js.html' %}

</script>
{% endblock %}
