{% extends base_template %}

{% load seahub_tags avatar_tags group_avatar_tags i18n %}
{% load url from future %}

{% block sub_title %}{{group.group_name}} - {% endblock %}
{% block nav_group_class %}class="cur"{% endblock %}

{% block title_panel %}

<div class="tabnav">
    <div class="grp-profile fright">
        {% grp_avatar group.props.id 24 %}<span class="name">{{ group.group_name }}</span>
    </div>
    <ul class="tabnav-tabs">
        <li class="tabnav-tab"><a href="{% url 'group_info' group.id %}">{% trans "Libraries" %}</a></li>
        <li class="tabnav-tab"><a href="{% url 'group_discuss' group.id %}">{% trans "Discussion" %}</a></li>
        <li class="tabnav-tab"><a href="{% url 'group_wiki' group.id %}">{% trans "Wiki" %}</a></li>
        {% if enable_pubfile and group.is_pub %}
        <li class="tabnav-tab"><a href="{% url 'group_pubfiles' group.id %}">{% trans "Files" %}</a></li>
        {% endif %}
        <li class="tabnav-tab tabnav-tab-cur">{% trans "Members" %}</li>
        {% if is_staff %}
        <li class="tabnav-tab"><a href="{% url 'group_manage' group.id %}">{% trans "Admin" %}</a></li>
        {% endif %}
    </ul>
</div>

{% endblock %}

{% block left_panel %}
{% endblock %}

{% block right_panel %}
<ul class="user-list">
    {% for m in members %}
    {% with e=m.user_name id=m.user_name|email2id %}
    <li class="user ovhd">
    <a href="{% url 'user_profile' id %}" class="pic fleft">{% avatar e 48 %}</a>
    <div class="txt fright">
        <a class="name" href="{% url 'user_profile' id %}">{{ e|email2nickname }}</a>
        <p>{{ e }}</p>
        {% if m.can_be_contact %}
        <button class="add-as-contact" data-email="{{ e }}">{% trans "Add to Contacts" %}</button>
        {% endif %}
    </div>
    </li>
    {% endwith %}
    {% endfor %}
</ul>
<form id="add-as-contact-form" class="hide" action="{{ SITE_ROOT }}contacts/add/" method="post">{% csrf_token %}
    <input type="hidden" name="user_email" value="{{ request.user.username }}" id="id_user_email" />
    <label>{% trans "Email" %}</label><br />
    <input id="contact_email" type="text" name="contact_email" maxlength="255" value="" /><br />
    <label>{% trans "Name(optional)" %}</label><br />
    <input id="id_contact_name" type="text" name="contact_name" maxlength="255" /><br />
    <label>{% trans "Note(optional)" %}</label><br />
    <input id="id_note" type="text" name="note" maxlength="255" /><br />
    <input type="submit" value="{% trans "Submit" %}"  class="submit" />
</form>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$('.add-as-contact').click(function() {
    $('#contact_email').val($(this).data('email'));
    $('#add-as-contact-form').submit();
});
</script>
{% endblock %}
