{% extends base_template %}
{% load seahub_tags avatar_tags group_avatar_tags i18n %}

{% block sub_title %}{{group.group_name}} - {% endblock %}
{% block nav_group_class %}class="cur"{% endblock %}

{% block title_panel %}
{% include "group/tabnav.html" with cur="admin" %}
{% endblock %}

{% block left_panel %}
<div class="info-item">
    <h3 class="info-item-top">{% trans "Group Avatar" %}</h3>
    <div class="info-item-bottom ovhd">
        <div class="fleft">{% grp_avatar group.props.id 48 %}</div>
        <form id="grp-avatar-form" enctype="multipart/form-data" method="post" action="{% url 'avatar_group_add' group.id %}" class="fleft">{% csrf_token %}
            <button type="button" id="grp-avatar-chg-btn">{% trans "Change" %}</button>
            <input type="file" name="avatar" id="grp-avatar-input" />
        </form>
    </div>
</div>

<div class="info-item">
    <h3 class="info-item-top">{% trans "Operations" %}</h3>
    <ul class="info-item-bottom op-list">
        <li><a id="group-dismiss" href="#" data-url="{% url 'group_dismiss' group.id %}">{% trans "Dismiss" %}</a></li>
        {% if group.is_pub %}
        <li><a href="{% url 'group_revoke_pub' group.id %}">{% trans "Revoke Public" %}</a></li>
        {% else %}
        <li><a href="{% url 'group_make_pub' group.id %}">{% trans "Make Public" %}</a></li>
        {% endif %}
        <li><a id="group-transfer" href="#" >{% trans "Transfer" %}</a></li>
    </ul>
</div>
{% endblock %}

{% block right_panel %}
<h3>{% trans "Members"%}</h3>
<button id="group-member-add" class="add">{% trans "Add Members"%}</button>
{% if members %}
<table>
    <tr>
        <th width="4%"></th>
        <th width="71%">{% trans "Email"%}</th>
        <th width="25%">{% trans "Operations"%}</th>
    </tr>

    {% for member in members %}
    <tr>
        <td>{% avatar member.user_name 20 %}</td>
        <td>{{ member.user_name }}</td>
        <td>
          {% if member.user_name != request.user.username %}
            <a href="#" data-url="{{ SITE_ROOT }}group/{{ group.id }}/member/{{ member.user_name|urlencode }}/?op=delete" data-target="{{ member.user_name }}" class="member-remove-btn op">{% trans "Delete"%}</a>
          {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<h3>{% trans "Administrators" %}</h3>
<button id="group-admin-add" class="add">{% trans "Add Administrators"%}</button>
{% if admins %}
<table>
    <tr>
        <th width="4%"></th>
        <th width="71%">{% trans "Email"%}</th>
        <th width="25%">{% trans "Operations"%}</th>
    </tr>

    {% for member in admins %}
    <tr>
        <td>{% avatar member.user_name 20 %}</td>
        <td>{{ member.user_name }}</td>
        <td>
            {% if member.user_name != request.user.username %}
            <a href="#" data-url="{% url 'group_remove_admin' group.id %}?u={{ member.user_name|urlencode }}" data-target="{{ member.user_name }}" class="member-remove-btn op">{% trans "Delete"%}</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<form id="group-transfer-form" method="post" action="{% url 'group_transfer' group.id %}" class="hide">{% csrf_token %}
    <h3>{% trans "Transfer Group To"%}</h3>
    <input type="text" name="email" value="" placeholder="{% trans "email"%}" class="input" />
    <p class="tip">{% trans "Tip: the email should be already registered."%}</p>
    <p class="error hide"></p>
    <input type="submit" value="{% trans "Submit"%}" />
</form>

{% include 'group/grpmember_add_form.html' %} {# for member/admin add #}
{% include 'group/modules_toggle_form.html' %}

{% endblock %}

{% block extra_script %}
{% include "snippets/avatar_upload_js.html" %}
<script type="text/javascript">
changeAvatar($('#grp-avatar-chg-btn'), $('#grp-avatar-input'), $('#grp-avatar-form'));
addConfirmTo($("#group-dismiss"), {
        'title':'{% trans "Dismiss Group" %}',
        'con':'{% trans "Really want to dismiss this group?" %}'
});
addConfirmTo($(".member-remove-btn"), {
        'title':'{% trans "Delete Member" %}',
        'con':'{% trans "Really want to delete %s ?" %}'
});
var contact_list = [], contact_email;
{% for contact in contacts %}
contact_email = '{{ contact.contact_email }}';
contact_list.push({value:contact_email, label:contact_email});
{% endfor %}

{# for member/admin add #}
{% include 'group/grpmember_add_js.html' %}

$('#group-transfer').click(function() {
    $('#group-transfer-form').modal({appendTo: "#main", focus:false});
    return false;
});
$('#group-transfer-form').submit(function() {
    if (!$.trim($('[name="email"]', $(this)).val())) {
        return false;
    }
});

{% include "group/modules_toggle_js.html" %}
</script>
{% endblock %}
