{% extends base_template %}

{% load seahub_tags avatar_tags group_avatar_tags i18n %}
{% load url from future %}

{% block sub_title %}{{group.group_name}} - {% endblock %}
{% block nav_group_class %}class="cur"{% endblock %}

{% block title_panel %}
{% include "group/tabnav.html" with cur="wiki"%}
{% endblock %}

{% block main_panel %}

    {% if not wiki_exists %}
    <div class="empty-tips">
        <h2 class="alc">{% trans "This group currently has no wiki" %}</h2>
        <p>{% trans "Seafile Wiki enables you to organize your knowledge in a simple way. The contents of wiki is stored in a normal library with pre-defined file/folder structure. This enables you to edit your wiki in your desktop and then sync back to the server." %}</p>
        {% if is_staff %}
        <a id="wiki-create" href="#">{% trans "Create Wiki Now" %}</a>
        {% endif %}
    </div>
    <form id="wiki-create-form" action="" method="post" class="hide">{% csrf_token %}
        <h3>{% trans "Create Wiki"%}</h3>
        <label>{% trans "Name"%}</label><br/>
        <input type="text" name="repo_name" value="{{group.group_name}}-wiki" maxlength="{{max_file_name}}" class="input" /><br />
        <label>{% trans "Description"%}</label><br/>
        <textarea name="repo_desc" class="textarea">{% trans 'Wiki Pages' %}</textarea><br/>
        <p class="error hide"></p>
        <input type="submit" value="{% trans "Submit"%}" class="submit" />
    </form>

    {% else %}
    <div class="wiki-top w100 ovhd">
        <ul class="wiki-nav fleft">
            <li class="item"><a href="{% url 'group_wiki' group.id %}" class="link">{% trans "Home" %}</a></li>
            <li class="item"><a href="{% url 'group_wiki_pages' group.id %}" class="link">{% trans "Pages" %}</a></li>
            {% if group.view_perm != "pub" %}
            <li class="item"><a href="{% url 'repo_history' repo_id %}" target="_blank" class="link">{% trans "Wiki History" %}</a></li>
            {% endif %}
        </ul>
        
        {% if repo_perm == 'rw' %}
        <button id="page-create" class="op-btn">{% trans "New Page" %}</button>
        <button id="page-delete" class="op-btn" data-url="{% url 'group_wiki_page_delete' group.id page %}">{% trans "Delete Page" %}</button>
        <button id="page-edit" class="op-btn">{% trans "Edit Page" %}</button>
        <button id="page-history" class="op-btn">{% trans "Page History" %}</button>
        {% endif %}
    </div>

    <div id="wiki-area" class="article">
        <h1>{{ page|capfirst }}</h1>
        <div id="wiki-content"></div><!--content will be offered by js-->
        <p id="wiki-last-modified">{% blocktrans with modifier=latest_contributor|email2nickname modify_time=last_modified|translate_seahub_time %}Last modified by {{modifier}}, {{modify_time}}{% endblocktrans %}</p>
    </div>

    <form id="page-create-form" action="{% url 'group_wiki_page_new' group.id %}" method="post" class="simple-input-popup hide">{% csrf_token %}
        <h3>{% trans "New Page"%}</h3>
        <label>{% trans "Name"%}</label><br/>
        <input id="page-name" type="text" name="page_name" value="" maxlength="{{max_file_name}}" class="long-input" /><br />
        <p class="error hide"></p>
        <input type="submit" id="page-create-submit" value="{% trans "Submit"%}" class="submit"/>
    </form>
    {% endif %}

{% include "group/modules_toggle_form.html" %}
    
{% endblock main_panel %}

{% block extra_script %}
<script type="text/javascript" src="{{MEDIA_URL}}js/Markdown.Converter.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/Markdown.Extra.js"></script>
<script type="text/javascript">
{% if wiki_exists %}
var converter = new Markdown.Converter();
Markdown.Extra.init(converter, {extensions: ["fenced_code_gfm", "tables", "def_list"]});
$('#wiki-content').html(converter.makeHtml('{{ content|escapejs }}')).children(':first').css('margin-top', '0');

$('#page-create').click(function() {
    $('#page-create-form').modal({appendTo: '#main', autoResize: true});
})

$('#page-edit').click(function() {
    location.href = ("{% url 'group_wiki_page_edit' group.id page %}");
})

$('#page-list').click(function () {
    location.href = ("{% url 'group_wiki_pages' group.id %}");
});

$('#page-history').click(function () {
    window.open("{% url 'file_revisions' repo_id %}" + "?p=" + "{{path|urlencode}}");
});

addConfirmTo($('#page-delete'), {
    'title': 'Delete Page',
    'con': 'Are you sure you want to delete this page?'
});
$('a.wiki-page-missing').each(function(){
    $(this).click(function() {
        $('#page-name').val($(this).text());
        $('#page-create-form').modal({appendTo: '#main', autoResize: true});
        return false;
    });
});

{% else %}
$('#wiki-create').click(function() {
    $('#wiki-create-form').modal({appendTo: '#main', autoResize: true});
    return false;
});
$('#wiki-create-form').submit(function () {
    var form = $(this),
        form_id = form.attr('id'),
        repo_name = $('[name="repo_name"]', form).val(),
        repo_desc = $('[name="repo_desc"]', form).val();
    if (!$.trim(repo_name)) {
         apply_form_error(form_id, "{% trans "Name is required." %}");
         return false;
    }
    if (!$.trim(repo_desc)) {
         apply_form_error(form_id, "{% trans "Description is required." %}");
         return false;
    }

    var submit_btn = $('[type="submit"]', form);
    disable(submit_btn);
    $.ajax({
        url: '{% url 'group_wiki_create' group.id %}',
        type: 'POST',
        dataType: 'json',
        cache: false,
        beforeSend: prepareCSRFToken,
        data: {
            'repo_name': repo_name,
            'repo_desc': repo_desc
        },
        success: function(data) {
            location.href = data['href'];
        },
        error: function(data, textStatus, jqXHR) {
            var errors = $.parseJSON(data.responseText);
            $.each(errors, function(index, value) {
                apply_form_error(form_id, value);
            });
            enable(submit_btn);
        }
    });

    return false;
});
{% endif %}                     // END wiki_exists

{% include "group/modules_toggle_js.html" %}

</script>
{% endblock %}
