{% extends "myhome_base.html" %}
{% load seahub_tags avatar_tags i18n %}
{% load url from future %}

{% block sub_title %}{% trans "Groups" %} - {% endblock %}
{% block cur_group %}cur{% endblock %}

{% block left_panel %}
{% include "group/groups_left_panel.html" %}
{% endblock %}

{% block right_panel %}
{% include "group/groups_right_panel.html" %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
{% if user.permissions.can_add_group %}
{% url 'group_add' as group_add_url %}
{% with post_url=group_add_url %}
{% include "snippets/group_add_js.html" %}
{% endwith %}
{% endif %}

$('.group').hover(
	function() {
        $(this).addClass('group-hl'); 
		$('.fast', $(this)).removeClass('vh');
	},
	function() {
        $(this).removeClass('group-hl'); 
		$('.fast', $(this)).addClass('vh');
	}
);
</script>
{% endblock %}
