{% load i18n %}
<form id="member-add-form"  method="post" name="member-add-form" class="hide">{% csrf_token %}
    <h3>{% trans "Add members"%}</h3>
    <textarea id="added-member-name" name="user_name" placeholder="{% trans "emails, separated by ','" %}"></textarea><br />
    <input type="hidden" id="group_id" name="group_id" value="{{ group.id }}" />
    {% if cloud_mode and not org %}
    <p class="tip">{% trans "Tip: an invitation will be sent if the email is not registered."%}</p>
    {% else %}
    <p class="tip">{% trans "Tip: the emails should be already registered."%}</p>
    {% endif %}
    <p class="error hide" id="member-add-error"></p>
    <input type="submit" value="{% trans "Submit"%}" id="member-add-submit" />
</form>
<form id="admin-add-form" method="post" name="admin-add-form" class="hide">{% csrf_token %}
    <h3>{% trans "Add administrators"%}</h3>
    <textarea id="added-admin-name" name="user_name" placeholder="{% trans "emails, separated by ',' " %}"></textarea><br />
    <input type="hidden" id="group_id" name="group_id" value="{{ group.id }}" />
    <p class="error hide" id="admin-add-error"></p>
    <input type="submit" value="{% trans "Submit"%}" id="admin-add-submit" />
</form>
