.new-library-container {
  height: 41px;
  line-height: 41px;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-bottom: 60px;
}

.new-library-container:hover {
  background-color: #f8f8f8;
}

.new-library-container .new-library-star {
  width: 4%;
}

.new-library-container .new-library-plus {
  width: 3%;
  padding-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
}

.new-library-container .new-library-text {
  padding-left: 3px;
  font-size: 0.875rem;
}
