<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/file_view_extra.css" />
{% if filetype == 'Text' %}                                            
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}codemirror/codemirror.css" />
<style type="text/css">
    {% if fileext == 'txt' or fileext == 'text' %}
.CodeMirror { width:816px; padding:40px 96px; }
    {% endif %}
</style>
{% endif %}

{% if filetype == 'Image' %}                                            
<style type="text/css">
body { overflow:hidden; }
#file-view { text-align:center; padding:30px 0; position:relative; }
</style>
{% endif %}

{% if filetype == 'SVG' %}
<style type="text/css">
#file-view { text-align:center; }
</style>
{% endif %}

{% if filetype == 'Audio' %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/mediaelementplayer.css" />
{% endif %}

{% if filetype == 'Video' %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/video-js.min.css" />
{% endif %}

{% if filetype == 'SpreadSheet' %}
    {% include 'snippets/spreadsheet_convert_style.html' %}
{% endif %}

{% if filetype == 'Document' or filetype == 'PDF' %}
<link rel="resource" type="application/l10n" href="{{ MEDIA_URL }}js/pdf/locale/locale.properties" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/pdf_file_view.css" />
{% endif %}
