{% if filetype == 'Text' %}
<script type="text/javascript" src="{{MEDIA_URL}}codemirror/codemirror-2.36.js"></script>
{% endif %}
{% if filetype == 'Document' or filetype == 'PDF' and not use_pdfjs %}
<script type="text/javascript" src="{{MEDIA_URL}}js/pdf2html.js"></script>
{% endif %}
{% if filetype == 'PDF' and use_pdfjs %}
<script type="text/javascript" src="{{MEDIA_URL}}js/pdf.js"></script>
{% endif %}
{% if filetype == 'Video'  or filetype == 'Audio' %}
<script src="{{MEDIA_URL}}js/mediaelement-and-player.min.js"></script>
{% endif %}
{% if filetype == 'Markdown' %}
<script type="text/javascript" src="{{MEDIA_URL}}js/Markdown.Converter.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/Markdown.Extra.js"></script>
{% endif %}
