{% load seahub_tags group_avatar_tags i18n %}
{% load url from future %}
<div class="info-item">
<h3 class="info-item-top">{% trans "My Groups" %}</h3>
{% if groups %}
<ul class="info-item-bottom">
    {% for group in groups %}
    <li class="mygroup">
    <a href="{% url 'group_info' group.props.id %}" class="no-deco">{% grp_avatar group.props.id 48 %}</a>
    <a class="name" href="{% url 'group_info' group.props.id %}" title="{{ group.props.group_name }}">{{ group.props.group_name|trim:12 }}</a>
	</li>
    {% endfor %}
</ul>
{% else %}
<div class="info-item-bottom">
  <p>
    {% if cloud_mode and org.url_prefix %}
    <a href="{% url 'org_groups' org.url_prefix %}">
    {% else %}
    <a href="{% url 'group_list' %}">    
    {% endif %}
    {% trans "Create a group now" %}</a></p>
</div>
{% endif %}
</div>
