{% load avatar_tags seahub_tags i18n %}
<h3 class="hd">{% trans "Notifications" %}</h3>
<div class="con">
    <ul>
        {% for notice in notices %}

            {% if not notice.seen %}
                <li class="unread">
            {% else %}
                <li class="read">
            {% endif %}

            {% if notice.msg_from %}
                <a href="{% url 'user_profile' notice.msg_from %}">{% avatar notice.msg_from 32 %}</a>
            {% else %}
                <img src={{notice.default_avatar_url}} width="32" height="32" class="avatar" />
            {% endif %}

            {% if notice.is_group_msg %}
                <p class="brief">{{ notice.format_group_message_title|safe }}
                {% if notice.format_group_message_detail %}<br>
                {{ notice.format_group_message_detail }}
                {% endif %}
                </p>

            {% elif notice.is_grpmsg_reply %}
                <p class="brief">{{ notice.format_grpmsg_reply_title|safe }}
                {% if notice.format_grpmsg_reply_detail %}<br>
                {{ notice.format_grpmsg_reply_detail}}
                {% endif %}
                </p>

            {% elif notice.is_file_uploaded_msg %}
                <p class="brief">{{ notice.format_file_uploaded_msg|safe }}</p>

            {% elif notice.is_repo_share_msg %}
                <p class="brief">{{ notice.format_repo_share_msg|safe }}</p>

            {% elif notice.is_priv_file_share_msg %}
                <p class="brief">{{ notice.format_priv_file_share_msg|safe }}</p>

            {% elif notice.is_user_message %}
                <p class="brief">{{ notice.format_user_message_title|safe }}
                {% if notice.format_user_message_detail %}<br>
                {{ notice.format_user_message_detail }}
                {% endif %}
                </p>

            {% elif notice.is_group_join_request %}
                <p class="brief">{{ notice.format_group_join_request|safe }}</p>

            {% endif %}
            <p class="time">{{ notice.timestamp|translate_seahub_time }}</p>
            </li>
        {% endfor %}
    </ul>
    <p class="alc"><a href="{% url 'user_notification_list' %}" class="all">{% trans "See All Notifications" %}</a></p>
</div>
<img src="{{ MEDIA_URL }}img/del.png" class="close" style="cursor:pointer"/>
