{% load i18n %}
{% if enable_privacy_policy or enable_terms_of_service %}
    <div class="privacy-policy-link">
        {% if enable_privacy_policy and enable_terms_of_service %}
            <a href="/privacy-policy/" target="_blank" class="privacy-policy-link-text px-3">{% trans "Privacy Policy" %}</a>
            <span class="privacy-policy-link-split  "></span>
            <a href="/terms-of-service/" target="_blank" class="privacy-policy-link-text px-3">{% trans "Terms of Service" %}</a>
        {% elif enable_privacy_policy %}
            <a href="/privacy-policy/" target="_blank" class="privacy-policy-link-text px-3">{% trans "Privacy Policy" %}</a>
        {% elif enable_terms_of_service %}
            <a href="/terms-of-service/" target="_blank" class="privacy-policy-link-text px-3">{% trans "Terms of Service" %}</a>
        {% endif %}
    </div>
{% endif %}
