{% load i18n %}
$('.repo-delete-btn').click(function() {
    var op = $(this);
    var cont = op.parent().css({'position': 'relative'}),
        cfm;
    
    // only show 1 popup each time.
    $('.repo-del-cfm', op.parents('table')).addClass('hide');

    if (cont.find('.repo-del-cfm').length == 1) {
        cfm = cont.find('.repo-del-cfm');
    } else {
        cfm = $('#repo-del-cfm-popup').clone().removeAttr('id'); 
        cont.append(cfm);
        cfm.css({'left': op.position().left + op.width() + 5, 'top': op.position().top, 'white-space':'nowrap'});
    }
    cfm.removeClass('hide');
    $('.no',cfm).click(function() {
        cfm.addClass('hide');
    });
    $('.yes', cfm).click(function() {
        $.ajax({
        url: '{{ SITE_ROOT }}ajax/repo/' + op.parents('td').data('id') + '/remove/',
        dataType: 'json',
        success: function(data) {
            op.parents('tr').remove();
            feedback("{% trans "Delete succeeded." %}", 'success');
        },  
        error: ajaxErrorHandler
        }); 
    }); 
    return false; // for <a> in some pages
}); 
