{% load i18n %}
<form id="repo-create-form" action="" method="post" class="hide">{% csrf_token %}
    <h3>{% trans "New Library"%}</h3>
    <label>{% trans "Name"%}</label><br/>
    <input type="text" name="repo_name" value="" maxlength="{{max_file_name}}" class="input" /><br />
    <label>{% trans "Description"%}</label><br/>
    <textarea name="repo_desc" class="textarea"></textarea><br />
    {% if create_shared_repo %}
    <label>{% trans "Share Permission"%}</label><br />
    <select name="permission" class="perm">
      <option value="rw" selected="selected">{% trans "Read-Write"%}</option>
      <option value="r">{% trans "Read-Only"%}</option>
    </select>
    {% endif %}
    <div class="repo-create-encryption">
        <label class="checkbox-label">
            <span class="checkbox"><input type="checkbox" name="encryption" id="encrypt-switch" class="checkbox-orig" /></span>
            <span class="checkbox-option">{% trans "Encrypt"%}</span>
        </label>
        <label>{% trans "Password"%}</label><span class="tip">{% blocktrans %}(at least {{repo_password_min_length}} characters){% endblocktrans %}</span><br />
        <input type="password" name="passwd" disabled="disabled" class="input input-disabled" /><br />
        <label>{% trans "Password again"%}</label><br />
        <input type="password" name="passwd_again" disabled="disabled" class="input input-disabled" />
    </div>
    <p class="error hide"></p>
    <input type="submit" value="{% trans "Submit"%}" class="submit" />
</form>
