{% load i18n %}
<div id="user-profile" class="user-profile ovhd hide"></div>
<textarea id="jtemplate" class="hide">
{#if !$T.err_msg}
<div class="pic fleft">
    <img class="avatar" width="80" height="80" alt="{$T.email}" />
</div>

<div class="txt fright">
    {#if $T.user_nickname}
    <p>{$T.user_nickname}</p>
    {#/if}

    <p>{$T.email}</p>

    {#if $T.user_intro}
    <p class="intro">{$T.user_intro}</p>
    {#/if}

    {#if $T.new_user}
    <button id="add-as-contact">{% trans "Add to contacts" %}</button>
    {#/if}
</div>

{#if $T.new_user}
<form id="add-as-contact-form" class="hide" action="{{ SITE_ROOT }}contacts/add/" method="post">{% csrf_token %}
    <input type="hidden" name="user_email" value="{{ request.user.username }}" id="id_user_email" />
    <label>{% trans "Email" %}</label><br />
    <input id="id_contact_email" type="text" name="contact_email" maxlength="255" value="{$T.email}" /><br />
    <label>{% trans "Name(optional)" %}</label><br />
    <input id="id_contact_name" type="text" name="contact_name" maxlength="255" /><br />
    <label>{% trans "Note(optional)" %}</label><br />
    <input id="id_note" type="text" name="note" maxlength="255" /><br />
    <input type="submit" value="{% trans "Submit" %}"  class="submit" />
</form>
{#/if}

{#else}
<p class="error">{$T.err_msg}</p>
{#/if}

</textarea>
