{% load i18n %}

{% if type == 'input' %}
<div class="web-setting-name">
    <label>{% trans setting_display_name %}</label>
</div>
<div class="web-setting-description">
    <form class="web-input-setting-form">{% csrf_token %}
        <input class="input" type="text" name="{{ setting_name }}" value="{{ setting_val }}" />
        <input class="submit hide" type="submit" value="{% trans "Save" %}" />
        <i class="icon-remove fa-1x cancel-setting cspt hide" title="{% trans "Cancel" %}"></i><br />
        <p class="error hide"></p>
        <p class="web-setting-help-tip">{% trans help_tip %}</p>
    </form>
</div>
{% endif %}

{% if type == 'checkbox' %}
<div class="web-setting-name">
    <label>{% trans setting_display_name %}</label>
</div>

<div class="web-setting-description">
    <form class="web-checkbox-setting-form">{% csrf_token %}
        <input class="web-checkbox-setting" type="checkbox" name="{{ setting_name }}" {% if setting_val %}checked="checked"{% endif %} /><span class="web-setting-help-tip pos-rel">{% trans help_tip %}</span>
    </form>
</div>
{% endif %}
