@font-face {
  font-family: "sf3-font"; /* Project id 1230969 */
  src: url('./iconfont.eot?t=1733301127109'); /* IE9 */
  src: url('./iconfont.eot?t=1733301127109#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./iconfont.woff2?t=1733301127109') format('woff2'),
       url('./iconfont.woff?t=1733301127109') format('woff'),
       url('./iconfont.ttf?t=1733301127109') format('truetype'),
       url('./iconfont.svg?t=1733301127109#sf3-font') format('svg');
}

.sf3-font {
  font-family: "sf3-font" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sf3-font-hi:before {
  content: "\e603";
}

.sf3-font-refresh:before {
  content: "\e851";
}

.sf3-font-current-location:before {
  content: "\e850";
}

.sf3-font-ai_generated:before {
  content: "\e84f";
}

.sf3-font-map:before {
  content: "\e84e";
}

.sf3-font-photos-classfied-by-people:before {
  content: "\e84d";
}

.sf3-font-Kanban:before {
  content: "\e84c";
}

.sf3-font-about1:before {
  content: "\e84b";
}

.sf3-font-unfold:before {
  content: "\e849";
}

.sf3-font-fold:before {
  content: "\e84a";
}

.sf3-font-import-sdoc:before {
  content: "\e83d";
}

.sf3-font-upload-folder:before {
  content: "\e834";
}

.sf3-font-upload-files1:before {
  content: "\e83c";
}

.sf3-font-open:before {
  content: "\e848";
}

.sf3-font-group1:before {
  content: "\e846";
}

.sf3-font-filter:before {
  content: "\e847";
}

.sf3-font-icon:before {
  content: "\e622";
}

.sf3-font-enter:before {
  content: "\e845";
}

.sf3-font-open-sidebar:before {
  content: "\e843";
}

.sf3-font-close-sidebar:before {
  content: "\e844";
}

.sf3-font-exclamation-triangle:before {
  content: "\e840";
}

.sf3-font-check-circle:before {
  content: "\e841";
}

.sf3-font-exclamation-circle:before {
  content: "\e842";
}

.sf3-font-print:before {
  content: "\e832";
}

.sf3-font-spinner:before {
  content: "\e833";
}

.sf3-font-lock:before {
  content: "\e835";
}

.sf3-font-save:before {
  content: "\e836";
}

.sf3-font-eye:before {
  content: "\e837";
}

.sf3-font-folder-open:before {
  content: "\e838";
}

.sf3-font-expand-arrows-alt:before {
  content: "\e839";
}

.sf3-font-eye-slash:before {
  content: "\e83a";
}

.sf3-font-calendar-alt:before {
  content: "\e83b";
}

.sf3-font-angles-down:before {
  content: "\e83e";
}

.sf3-font-angles-up:before {
  content: "\e83f";
}

.sf3-font-unlock:before {
  content: "\e82e";
}

.sf3-font-magic:before {
  content: "\e82f";
}

.sf3-font-share-alt:before {
  content: "\e830";
}

.sf3-font-sort3:before {
  content: "\e831";
}

.sf3-font-image:before {
  content: "\e82d";
}

.sf3-font-folder:before {
  content: "\e82c";
}

.sf3-font-duplicate-page:before {
  content: "\e82a";
}

.sf3-font-move-to:before {
  content: "\e82b";
}

.sf3-font-open-in-new-tab:before {
  content: "\e620";
}

.sf3-font-link:before {
  content: "\e61f";
}

.sf3-font-files2:before {
  content: "\e828";
}

.sf3-font-file:before {
  content: "\e829";
}

.sf3-font-monitor:before {
  content: "\e827";
}

.sf3-font-star-empty:before {
  content: "\e825";
}

.sf3-font-star:before {
  content: "\e826";
}

.sf3-font-down:before {
  content: "\e824";
}

.sf3-font-new-page:before {
  content: "\e823";
}

.sf3-font-upload-files:before {
  content: "\e821";
}

.sf3-font-share:before {
  content: "\e820";
}

.sf3-font-rename:before {
  content: "\e65c";
}

.sf3-font-close:before {
  content: "\e65b";
}

.sf3-font-new:before {
  content: "\e816";
}

.sf3-font-drop-down:before {
  content: "\e81f";
}

.sf3-font-tag:before {
  content: "\e822";
}

.sf3-font-grid-view:before {
  content: "\e813";
}

.sf3-font-download1:before {
  content: "\e814";
}

.sf3-font-more:before {
  content: "\e815";
}

.sf3-font-move1:before {
  content: "\e817";
}

.sf3-font-side-bar:before {
  content: "\e818";
}

.sf3-font-delete1:before {
  content: "\e819";
}

.sf3-font-more-vertical:before {
  content: "\e81a";
}

.sf3-font-list-view:before {
  content: "\e81b";
}

.sf3-font-info:before {
  content: "\e81c";
}

.sf3-font-copy1:before {
  content: "\e81d";
}

.sf3-font-trash:before {
  content: "\e81e";
}

.sf3-font-history:before {
  content: "\e65a";
}

.sf3-font-clients:before {
  content: "\e80f";
}

.sf3-font-about:before {
  content: "\e810";
}

.sf3-font-terms:before {
  content: "\e811";
}

.sf3-font-help:before {
  content: "\e812";
}

.sf3-font-invite-visitors:before {
  content: "\e80e";
}

.sf3-font-department:before {
  content: "\e80d";
}

.sf3-font-starred:before {
  content: "\e80b";
}

.sf3-font-devices:before {
  content: "\e80c";
}

.sf3-font-wrench:before {
  content: "\e808";
}

.sf3-font-wiki:before {
  content: "\e809";
}

.sf3-font-activities:before {
  content: "\e80a";
}

.sf3-font-share-with-all:before {
  content: "\e807";
}

.sf3-font-new-group1:before {
  content: "\e803";
}

.sf3-font-share-with-me:before {
  content: "\e804";
}

.sf3-font-group:before {
  content: "\e805";
}

.sf3-font-mine:before {
  content: "\e806";
}

.sf3-font-ai-search:before {
  content: "\e801";
}

.sf3-font-search:before {
  content: "\e802";
}

.sf3-font-set-up:before {
  content: "\e800";
}

.sf3-font-language:before {
  content: "\e7ff";
}

.sf3-font-file-lock:before {
  content: "\e7f1";
}

.sf3-font-list:before {
  content: "\e7f9";
}

.sf3-font-new-library:before {
  content: "\e7fa";
}

.sf3-font-entry:before {
  content: "\e7fc";
}

.sf3-font-files1:before {
  content: "\e7fe";
}

.sf3-font-sort2:before {
  content: "\e7f2";
}

.sf3-font-new-group:before {
  content: "\e7f3";
}

.sf3-font-sort1:before {
  content: "\e7f6";
}

.sf3-font-move:before {
  content: "\e7f7";
}

.sf3-font-files:before {
  content: "\e7ec";
}

.sf3-font-freeze:before {
  content: "\e7e4";
}

.sf3-font-helpless:before {
  content: "\e7e3";
}

.sf3-font-helpless-selected:before {
  content: "\e7e0";
}

.sf3-font-helpful-selected:before {
  content: "\e7e1";
}

.sf3-font-helpful:before {
  content: "\e7e2";
}

.sf3-font-x-01:before {
  content: "\e7d8";
}

.sf3-font-desktop:before {
  content: "\e720";
}

.sf3-font-qr-code:before {
  content: "\e716";
}

.sf3-font-share-from-other-servers:before {
  content: "\e70f";
}

.sf3-font-tips:before {
  content: "\e6d4";
}

.sf3-font-upload:before {
  content: "\e6d3";
}

.sf3-font-logout:before {
  content: "\e6bb";
}

.sf3-font-dingtalk:before {
  content: "\e6b8";
}

.sf3-font-enlarge:before {
  content: "\e6af";
}

.sf3-font-narrow:before {
  content: "\e6b0";
}

.sf3-font-page-size:before {
  content: "\e6ae";
}

.sf3-font-arrow:before {
  content: "\e675";
}

.sf3-font-table:before {
  content: "\e672";
}

.sf3-font-cancel-invitation:before {
  content: "\e661";
}

.sf3-font-sort:before {
  content: "\e657";
}

.sf3-font-add:before {
  content: "\e653";
}

.sf3-font-dtable-logo:before {
  content: "\e601";
}

.sf3-font-enterprise-wechat:before {
  content: "\e602";
}

