{% extends "myhome_base.html" %}
{% load avatar_tags i18n %}

{% block nav_contacts_class %}class="cur"{% endblock %}

{% block left_panel %}
<div class="info-item">
<h3 class="info-item-top">{% trans "Tips"%}</h3>
<p class="info-item-bottom">{% trans "When you share libraries or file links to a friend, his/her email will be added to contacts."%}</p>
</div>

{% endblock %}

{% block right_panel %}
<h3>{% trans "Contacts"%}</h3>
<button id="contact-add">{% trans "Add Contacts"%}</button>
{% if contacts %}
<table>
    <tr>
        <th width="4%"></th>
        <th width="38%">{% trans "Email "%}</th>
        <th width="20%">{% trans "Name"%}</th>
        <th width="26%">{% trans "Note"%}</th>
        <th width="12%">{% trans "Operations"%}</th>
    </tr>
    {% for contact in contacts %}
    <tr>
        <td>{% avatar contact.contact_email 20 %}</td>
        <td>{{ contact.contact_email }}</td>
        <td>{{ contact.contact_name }}</td>
        <td>{{ contact.note }}</td>
        <td>
            <a href="#" data="{{ SITE_ROOT }}contacts/edit/?email={{ contact.contact_email }}" class="contact-edit op">{% trans "Edit"%}</a>
            <a href="#" data="{{ SITE_ROOT }}contacts/delete/?email={{ contact.contact_email}}" class="contact-delete op">{% trans "Delete"%}</a>
        </td>
    </tr>
{% endfor %}
</table>
{% else %}
<div class="empty-tips">
  <h2 class="center-contents">{% trans "You don't have any contacts" %}</h2>
  <p>{% trans "Add your contacts so you can quickly share libraries and send file shared link." %}</p>
</div>
{% endif %}

<form action="{% url contact_add_post %}" method="post" id="contact-add-form" class="hide">
    <h3>{% trans "Add Contacts"%}</h3>
    {{ form.user_email.as_hidden }}
    <label>{% trans "Email"%}</label><br />
    {{ form.contact_email }}<br />
    <label>{% trans "Name(optional)"%}</label><br />{{ form.contact_name }}<br />
    <label>{% trans "Note(optional)"%}</label><br />{{ form.note }}<br />
    <p class="error hide" id="contact-add-error">{% trans "Please input email address"%}</p>
    <input type="submit" value="{% trans "Submit"%}"  class="submit" />
</form>
<form action="{% url contact_edit %}" method="post" id="contact-edit-form" class="hide">
    <h3>{% trans "Edit Contact"%}</h3>
    {{ edit_form.user_email.as_hidden }}
    <label>{% trans "Email"%}</label><br />
    {{ edit_form.contact_email }}<br />
    <label>{% trans "Name(optional)"%}</label><br />{{ edit_form.contact_name }}<br />
    <label>{% trans "Note(optional)"%}</label><br />{{ edit_form.note }}<br />
    <p class="error hide" id="contact-edit-error"></p>
    <input type="submit" value="{% trans "Submit"%}"  class="submit" />
</form>

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$('.contact-edit').click(function() {
    var note_container = $(this).parent().prev(),
        contact_note = note_container.html(),
        contact_name = note_container.prev().html(),
        contact_email = note_container.prev().prev().html();
    $('#contact-edit-form [name="contact_email"]').val(contact_email);
    $('#contact-edit-form [name="contact_name"]').val(contact_name);
    $('#contact-edit-form [name="note"]').val(contact_note);
    $('#contact-edit-form').modal({appendTo: '#main'});
    return false;
});
$('#contact-edit-form').submit(function() {
    $.ajax({
        url: $('#contact-edit-form').attr('action'),
        type: 'POST',
        dataType: 'json',
        cache: 'false',
        contentType: 'application/json; charset=utf-8',
        beforeSend: prepareCSRFToken,
        data: {
            'user_email': $('#contact-edit-form input[name="user_email"]').val(),
            'contact_email': $('#contact-edit-form input[name="contact_email"]').val(),
            'contact_name': $('#contact-edit-form input[name="contact_name"]').val(),
            'note': $('#contact-edit-form input[name="note"]').val()
        },  
        success: function(data) {
            if (data['success']) {
                location.reload(true);
            } else {
                apply_form_error('contact-edit-form', data['error']);
            }   
        },
        error: function(data, textStatus, jqXHR) {
            var errors = $.parseJSON(data.responseText);
            $.each(errors, function(index, value) {
                apply_form_error('contact-edit-form', value[0]);
            });
        }
    });

    return false;
});

addConfirmTo($('.contact-delete'));

$('#contact-add')
.click(function() {
    $('#contact-add-form').modal({appendTo: '#main'});
})
.hover(
    function() {
        $(this).css({'background-color': '#fff', 'cursor': 'pointer'});
    },  
    function() {
        $(this).css('background-color', '#f5f5f5');
    }   
);
$('#contact-add-form').submit(function() {

    if(!$.trim($('#contact-add-form input[name="contact_email"]').val())) {
       $('#contact-add-error').removeClass('hide') 
       $('#simplemodal-container').css('height', $(this).height());
        return false;
    }

    $.ajax({
        url: $('#contact-add-form').attr('action'),
        type: 'POST',
        dataType: 'json',
        cache: 'false',
        contentType: 'application/json; charset=utf-8',
        beforeSend: prepareCSRFToken,
        data: {
            'user_email': $('#contact-add-form input[name="user_email"]').val(),
            'contact_email': $('#contact-add-form input[name="contact_email"]').val(),
            'contact_name': $('#contact-add-form input[name="contact_name"]').val(),
            'note': $('#contact-add-form input[name="note"]').val()
        },  
        success: function(data) {
            if (data['success']) {
                location.reload(true);
            } else {
                apply_form_error('contact-add-form', data['error']);
            }   
        },
        error: function(data, textStatus, jqXHR) {
            var errors = $.parseJSON(data.responseText);
            $.each(errors, function(index, value) {
                apply_form_error('contact-add-form', value[0]);
            });
        }
    });

    return false;
});
</script>
{% endblock %}
