{% extends "myhome_base.html" %}

{% block nav_contacts_class %}class="cur"{% endblock %}

{% block right_panel %}
<h3>联系人列表</h3>
<button id="contact-add">添加联系人</button>
<table>
    <tr>
        <th width="38%">邮箱</th>
        <th width="20%">名字</th>
        <th width="32%">备注</th>
        <th width="10%">操作</th>
    </tr>
    {% for contact in contacts %}
    <tr>
        <td>{{ contact.contact_email }}</td>
        <td>{{ contact.contact_name }}</td>
        <td>{{ contact.note }}</td>
        <td>
            <a href="#" data="{{ SITE_ROOT }}contacts/edit/?email={{ contact.contact_email }}" class="contact-edit op">编辑</a>
            <a href="#" data="{{ SITE_ROOT }}contacts/delete/?email={{ contact.contact_email}}" class="contact-delete op">删除</a>
        </td>
    </tr>
{% endfor %}
</table>
<form action="{% url contact_add_post %}" method="post" id="contact-add-form" class="hide">
    <h3>添加联系人</h3>
    {{ form.user_email.as_hidden }}
    <label>邮箱：</label><br />
    {{ form.contact_email }}<br />
    <label>名字(可选)：</label><br />{{ form.contact_name }}<br />
    <label>备注(可选)：</label><br />{{ form.note }}<br />
    <p class="error hide" id="contact-add-error">请输入邮箱地址。</p>
    <input type="submit" value="提交"  class="submit" />
</form>
<form action="{% url contact_edit %}" method="post" id="contact-edit-form" class="hide">
    <h3>编辑联系人</h3>
    {{ edit_form.user_email.as_hidden }}
    <label>邮箱：</label><br />
    {{ edit_form.contact_email }}<br />
    <label>名字(可选)：</label><br />{{ edit_form.contact_name }}<br />
    <label>备注(可选)：</label><br />{{ edit_form.note }}<br />
    <p class="error hide" id="contact-edit-error"></p>
    <input type="submit" value="提交"  class="submit" />
</form>

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$('.contact-edit').click(function() {
    var note_container = $(this).parent().prev(),
        contact_note = note_container.html(),
        contact_name = note_container.prev().html(),
        contact_email = note_container.prev().prev().html();
    $('#contact-edit-form [name="contact_email"]').val(contact_email);
    $('#contact-edit-form [name="contact_name"]').val(contact_name);
    $('#contact-edit-form [name="note"]').val(contact_note);
    $('#contact-edit-form').modal({appendTo: '#main'});
});
$('#contact-edit-form').submit(function() {
    $.ajax({
        url: $('#contact-edit-form').attr('action'),
        type: 'POST',
        dataType: 'json',
        cache: 'false',
        contentType: 'application/json; charset=utf-8',
        beforeSend: prepareCSRFToken,
        data: {
            'user_email': $('#contact-edit-form input[name="user_email"]').val(),
            'contact_email': $('#contact-edit-form input[name="contact_email"]').val(),
            'contact_name': $('#contact-edit-form input[name="contact_name"]').val(),
            'note': $('#contact-edit-form input[name="note"]').val()
        },  
        success: function(data) {
            if (data['success']) {
                location.reload(true);
            } else {
                apply_form_error('contact-edit-form', data['error']);
            }   
        },
        error: function(data, textStatus, jqXHR) {
            var errors = $.parseJSON(data.responseText);
            $.each(errors, function(index, value) {
                apply_form_error('contact-edit-form', value[0]);
            });
        }
    });

    return false;
});

addConfirmTo($('.contact-delete'));

$("table tr:gt(0)").hover(
    function() {
        $(this).find('img').css('cursor', 'pointer').removeClass('vh');
    },
    function() {
        $(this).find('img').addClass('vh');
    }
);

$('#contact-add')
.click(function() {
    $('#contact-add-form').modal({appendTo: '#main'});
})
.hover(
    function() {
        $(this).css({'background-color': '#fff', 'cursor': 'pointer'});
    },  
    function() {
        $(this).css('background-color', '#f5f5f5');
    }   
);
$('#contact-add-form').submit(function() {

    if(!$.trim($('#contact-add-form input[name="contact_email"]').val())) {
       $('#contact-add-error').removeClass('hide') 
       $('#simplemodal-container').css('height', $(this).height());
        return false;
    }

    $.ajax({
        url: $('#contact-add-form').attr('action'),
        type: 'POST',
        dataType: 'json',
        cache: 'false',
        contentType: 'application/json; charset=utf-8',
        beforeSend: prepareCSRFToken,
        data: {
            'user_email': $('#contact-add-form input[name="user_email"]').val(),
            'contact_email': $('#contact-add-form input[name="contact_email"]').val(),
            'contact_name': $('#contact-add-form input[name="contact_name"]').val(),
            'note': $('#contact-add-form input[name="note"]').val()
        },  
        success: function(data) {
            if (data['success']) {
                location.reload(true);
            } else {
                apply_form_error('contact-add-form', data['error']);
            }   
        },
        error: function(data, textStatus, jqXHR) {
            var errors = $.parseJSON(data.responseText);
            $.each(errors, function(index, value) {
                apply_form_error('contact-add-form', value[0]);
            });
        }
    });

    return false;
});
</script>
{% endblock %}
