{% extends "myhome_base.html" %}

{% block nav_contacts_class %}class="cur"{% endblock %}

{% block main_panel %}
<div class="narrow-panel">
<h3>编辑联系人<a href="{{ SITE_ROOT }}contacts/list/" class="contact-list-link">（联系人列表）</a></h3>
<form action="" method="post">
    {{ form.user_email.as_hidden }}
    <label>邮箱：</label>
    {{ form.contact_email }}
    <label>名字(可选)：</label>
    {{ form.contact_name }}
    <label>备注(可选)：</label>
    {{ form.note }}
    <p class="error">
      {% for field in form %}
          {{ field.errors }}
      {% endfor %}
      {{ form.non_field_errors }}
    </p>
    <input type="submit" value="提交" class="submit" class="submit" />
</form>
</div>
{% endblock %}
