{% extends "myhome_base.html" %}

{% block nav_contacts_class %}class="cur"{% endblock %}
{% block left_panel %}
<h3>操作</h3>
<ul class="with-bg">
    <li><a href="{{ SITE_ROOT }}contacts/add/">添加联系人</a></li>
</ul>
{% endblock %}

{% block right_panel %}

<h3>联系人列表</h3>
<table>
    <tr>
        <th width="25%">邮箱</th>
        <th width="20%">名字</th>
        <th width="30%">备注</th>
        <th width="25%">操作</th>
    </tr>
    {% for contact in contacts %}
    <tr>
        <td>{{ contact.contact_email }}</td>
        <td>{{ contact.contact_name }}</td>
        <td>{{ contact.note }}</td>
        <td>
        <button data="{{ SITE_ROOT }}contacts/edit/?email={{ contact.contact_email }}" class="contact-edit-btn">编辑</button>
        <button data="{{ SITE_ROOT }}contacts/delete/?email={{ contact.contact_email}}" class="contact-delete-btn">删除</button>        
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$('.contact-edit-btn').each(function() {
    $(this).click(function() {
        location.href = $(this).attr('data');
    });
});

addConfirmTo($('.contact-delete-btn'));
</script>
{% endblock %}

