.sf-metadata-rename-column-popover .popover {
  margin-top: 0;
  min-width: 350px;
  width: 350px;
}

.sf-metadata-rename-column-popover .popover-body {
  padding: 16px;
}

.sf-metadata-rename-column-popover .form-group {
  margin-bottom: 0;
}
