.sf-metadata-merge-tags-selector {
  left: 0;
  min-height: 160px;
  width: 300px;
  padding: 10px 0;
  opacity: 1;
  overflow: hidden;
  position: fixed;
  background: var(--bs-body-bg);
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 #dedede;
}

.sf-metadata-merge-tags-selector .sf-metadata-merge-tags-selector-header {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-weight: normal;
  color: #666;
}

.sf-metadata-merge-tags-selector .sf-metadata-merge-tags-selector-container {
  max-height: 200px;
  min-height: 100px;
  overflow: auto;
  padding: 0 10px;
}

.sf-metadata-merge-tags-selector .sf-metadata-tags-editor-tag-container {
  align-items: center;
  border-radius: 2px;
  color: #212529;
  display: flex;
  font-size: 13px;
  height: 32px;
  width: 100%;
}

.sf-metadata-merge-tags-selector .sf-metadata-tags-editor-tag-container-highlight {
  background: var(--bs-nav-hover-bg);
  cursor: pointer;
}

.sf-metadata-tag-color-and-name {
  display: flex;
  align-items: center;
  flex: 1;
}

.sf-metadata-tag-color-and-name .sf-metadata-tag-color {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  flex-shrink: 0;
}

.sf-metadata-tag-color-and-name .sf-metadata-tag-name {
  flex: 1;
  margin-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
