.sf-metadata-view-kanban-board-header {
  top: 0;
  position: sticky;
  height: 48px;
  width: 100%;
  overflow: visible;
  display: flex;
  align-items: center;
  padding: 16px 8px 0 8px;
  margin-bottom: 4px;
  background-color: var(--bs-body-bg);
  z-index: 1;
}

.sf-metadata-view-kanban-board-header .sf-metadata-view-kanban-board-header-title {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.sf-metadata-view-kanban-board-header .sf-metadata-view-kanban-board-header-title .sf-metadata-ui.cell-formatter-container {
  width: auto;
}

.sf-metadata-view-kanban-board-header .sf-metadata-view-kanban-board-header-title .cards-quantity {
  font-size: 14px;
  color: #666666;
  margin-left: 12px;
}

.sf-metadata-view-kanban-board-header .board-header-operation-btn {
  display: flex;
  align-items: flex-end;
}

.board-header-operation-btn .kanban-header-op-btn {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  color: #666666;
  cursor: pointer;
  border-radius: 3px;
}

.board-header-operation-btn .kanban-header-op-btn.kanban-header-collapse-btn:hover,
.board-header-operation-btn .kanban-header-op-btn.kanban-more-operations-toggle:hover {
  background-color: var(--bs-icon-hover-bg);
}
