.detail-body .detail-image {
  height: 144px;
  width: 100%;
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  overflow: hidden;
}

.detail-body .detail-image>img {
  border: 0;
  border-radius: 0;
  float: none;
  height: auto;
  margin: 0;
  padding: 0;
  width: auto;
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

.detail-body .empty-tip-text {
  color: #666;
}

.detail-body .sf-metadata-property-detail-tags {
  padding: 7px 6px;
  width: 100%;
  cursor: pointer;
}

.detail-body .sf-metadata-property-detail-tags .file-tag-list {
  width: 100%;
  overflow-x: hidden;
}

.detail-body .sf-metadata-property-detail-tags.tags-empty {
  padding: 6.5px 6px;
}

.detail-body .detail-content {
  position: relative;
}

.detail-body .detail-content.detail-content-empty {
  width: 100%;
  height: 100%;
}

.detail-body .dirent-detail-people {
  position: absolute;
  transform: translateY(-50px);
}

.detail-body .video-js {
  width: 100%;
  height: 100%;
}
