.reviewer-select-info {
  margin-top: 10px;
}
.reviewer-select-avatar {
  margin-right: 10px;
}
.reviewer-select-name {
  height: 2rem;
  line-height: 2rem;
}
.reviewer-select-error {
  margin-top: 1em;
}
.reviewer-select .true__dropdown-indicator, .reviewer-select .true__indicator-separator {
  display: none;
}