.org-admin .info-item-heading,
.sys-admin .info-item-heading {
  font-size: 15px;
  font-weight: normal;
  padding-bottom: 0.2em;
  border-bottom: 1px solid #eee;
  margin: 24px 0 0.7em;
  color: inherit;
}

.org-admin .side-nav-con svg.multicolor-icon,
.sys-admin .side-nav-con svg.multicolor-icon {
  font-size: 20px;
  width: 2rem;
  color: #999;
}

.org-admin .side-nav-con .active [class^='multicolor-icon'],
.sys-admin .side-nav-con .active [class^='multicolor-icon'] {
  color: #fff;
}

.org-admin .side-nav-title,
.sys-admin .side-nav-title {
  color: #666666;
  padding: 0 4px;
  font-size: 15px;
}

.org-admin .main-panel .heading,
.sys-admin .main-panel .heading {
  height: 40px;
  padding: 0 16px;
  background: #f9f9f9;
  font-size: 1rem;
  font-weight: normal;
  line-height: 40px;
  margin: 0;
  border-bottom: 1px solid #eee;
}

.org-admin .main-panel .nav .nav-item .nav-link,
.sys-admin .main-panel .nav .nav-item .nav-link {
  font-size: 16px;
  border-bottom: 2px solid transparent;
}

.org-admin .main-panel .nav .nav-item .nav-link.active,
.sys-admin .main-panel .nav .nav-item .nav-link.active {
  color: #ED7109;
  text-decoration: none;
  border-bottom: 2px solid #ED7109;
}

.org-admin .main-panel .cur-view-path:after,
.sys-admin .main-panel .cur-view-path:after {
  display: none;
}

.org-admin .text-secondary,
.sys-admin .text-secondary {
  color: #999 !important;
}

.org-admin .side-nav-con .nav .nav-item,
.sys-admin .side-nav-con .nav .nav-item {
  font-size: 15px;
}

.org-admin .side-nav-con .nav .nav-item .nav-link,
.sys-admin .side-nav-con .nav .nav-item .nav-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 36px;
}

.org-table-icon {
  padding-left: 10px;
}

.org-info-content {
  padding: 0rem 1rem;
  background-color: #f5f5f5;
  flex: 1 1;
  overflow: auto;
}

.org-info-content .info-header-content {
  height: 106px;
}

.info-header-content .info-header-id,
.info-header-content .info-header-name {
  width: calc(50% - 5px);
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
}

.info-header-content .info-header-id img,
.info-header-content .info-header-name img {
  width: 46px;
  height: 46px;
  margin: 30px 0 0 30px;
}

.info-header-content .id-content,
.info-header-content .name-content {
  width: 70%;
  height: 50%;
  margin: 28px 0 0 15px;
}

.info-header-content .id-content p,
.info-header-content .name-content p {
  font-size: 16px;
  font-weight: 500;
}

.info-header-content .id-content span,
.info-header-content .name-content span {
  font-size: 14px;
}

.org-info-content .info-user-content {
  height: 180px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
}

.info-user-content .user-content-detail {
  flex-direction: column;
  width: calc(100% / 3);
}

.info-user-content .user-content-detail p:first-child {
  font-size: 16px;
  font-weight: 500;
  margin-top: 45px;
}

.info-user-content .user-content-detail p:last-child {
  font-size: 36px;
  font-weight: 500;
}

.org-info-content .used-storage-content {
  height: 180px;
}

.used-storage-content .used-space {
  width: calc(50% - 5px);
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
}

.used-storage-content .used-space p:first-child {
  font-size: 16px;
  font-weight: 500;
  margin: 30px 0 0 30px;
}

.used-storage-content .used-space p:nth-child(2) {
  font-size: 30px;
  font-weight: 500;
  margin: 5px 0 0 30px;
}

.used-storage-content .used-space span {
  font-size: 13px;
  font-weight: 400;
  color: #aaa;
  margin-left: 30px;
}

/* mobile */
@media (max-width: 767px) {
  .org-info-content .info-header-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .info-header-content .info-header-name,
  .info-header-content .info-header-id {
    width: 100%;
    height: 100%;
    display: inline-flex;
    background-color: #fff;
    border-radius: 5px;
  }

  .info-header-content .info-header-id {
    margin-top: 10px;
  }

  .info-header-content .info-header-id img,
  .info-header-content .info-header-name img {
    margin: 30px 0 30px 30px;
  }

  .org-info-content .used-storage-content {
    height: auto;
    flex-direction: column;
  }

  .used-storage-content .used-space {
    width: 100%;
  }

  .used-storage-content .used-space span {
    margin-bottom: 30px;
  }
}

/* Process bar style */
.org-info-content .am-progress-outer {
  height: 6px !important;
  background: #eee;
  margin-left: 30px;
  width: 86%;
  border-radius: 10px;
  margin-top: 1.25rem;
}

.org-info-content .am-progress-bar {
  height: 6px !important;
  border-radius: 5px;
  background-color: #ED7109;
}
