.apply-properties-dialog .apply-properties {
  justify-content: center;
  align-items: center;
  width: fit-content;
  display: flex;
  height: 38px;
}

.apply-properties-dialog .apply-properties .loading-tip {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 0;
}
