/* begin top logo */
.top-logo {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

/* end top logo */
.panel-heading {
  position: relative;
  padding: .5rem 1rem;
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.a-simulate {
  color: #eb8205 !important;
  text-decoration: none;
  font-weight: normal;
  cursor: pointer;
}

.a-simulate:hover {
  text-decoration: underline;
}

.flex-right {
  justify-content: flex-end;
}

/* begin path navigation */
.path-containter { /* for the real path */
  font-size:16px;
  word-break: break-all;
}

.path-split {
  display: inline-block;
  padding: 0 5px;
  color: #818a91;
}

.path-link {
  color: #eb8205 !important;
  text-decoration: none;
}

.path-link:hover {
  cursor: pointer;
  text-decoration: underline !important;
}
/* end path navigation */

/* begin main table list style */

.table-container {
  flex: 1;
  padding: 10px 16px 20px;
  overflow: auto;
}

.table-container table {
  width: 100%;
}

.table-container table th {
  text-align: left;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.6;
  color: #9c9c9c;
}

.table-container table td {
  color: #333;
  font-size: 14px;
  word-break: break-all;
}

.table-container table th, .table-container table td {
  padding: 5px 3px;
  border-bottom: 1px solid #eee;
}

.table-container table th {
  padding-top: 1rem;
}

.table-container table .icon {
  position: relative;
}

.table-container table .icon img {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* specific handler */
.table-container table .menu-toggle {
  text-align: center;
  cursor: pointer;
}

.tr-highlight {
  background-color: #f8f8f8;
}

/* end main list style */

/* begin dropdown-menu style */
.dropdown-menu {
  min-width: 8rem;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item.menu-inner-divider {
  margin: 0.25rem 0;
  border-bottom: 1px solid #ddd;
}

/* end dropdown-menu style */

/* begin tip */
.empty-tip {
  margin: auto 1rem;
  padding: 30px 40px;
  background-color: #FAFAFA;
  border: solid 1px #DDD;
  border-radius: 3px;
  box-shadow: inset 0 0 8px #EEE;
  margin-top: 5.5em;
}

.empty-tip h2 {
  font-size: 1.25rem;
  text-align: center;
  color: #222;
  font-weight: bold;

}

/* end tip */

/* begin more component */
.list-show-more {
  padding: 0.25rem 0.75rem;
  line-height: 2rem;
  text-align: center;
  color: #eb8205;
  cursor: pointer;
}
.list-show-more:hover {
  background-color: #eee;
}

.list-show-more .more-message {
  font-size: 0.875rem;
  color: #888;
  text-decoration: underline;
}
/* end more component */

/* begin operation menu */
.operation {
  display: flex;
}

.operation .operation-group {
  list-style: none;
}

.operation-group .operation-group-item {
  display: inline-block;
  color: #f89a68;
  margin-right: 0.5rem;
}

.operation-group-item i {
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1;
  cursor: pointer;
  vertical-align: middle;
}
.operation-group-item i:hover {
  text-decoration: underline;
}

.operation-group-item .sf-dropdown-toggle {
  font-size: 0.85rem;
  color: #888;
}

.operation-group-item .sf-dropdown-toggle:hover {
  text-decoration: none;
}
/* end operaton menu */
