.add-item-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  border-top: 1px solid #dedede;
  background: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  position: relative;
  height: 30px;
  padding: 0 10px;
  overflow: hidden;
}

.add-item-btn:hover {
  background-color: #f5f5f5;
}

.add-item-btn .dtable-icon-add-table {
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
  transform: none;
}

.add-item-btn .add-new-option {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
