/** loading for ctable**/
@-moz-keyframes loading {
  0% {
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@-webkit-keyframes loading {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

.loading-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #eee;
  border-left-color: #aaa;
  border-radius: 50%;
  -moz-animation: loading 0.9s infinite linear;
  -webkit-animation: loading 0.9s infinite linear;
  animation: loading 0.9s infinite linear;
}

.loading-tip {
  display: block;
  margin: 0 auto;
}