.dirents-more-menu {
  margin-left: -9px;
  padding: 4px 15px;
  border: 1px solid #ccc;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  width: 46px;
  height: 30px;
}
.dirents-more-menu:hover {
  background-color: #fff;
  border: 1px solid #ccc;
}
