.operations {
  display: flex;
}
.operations .operation-group {
  list-style: none;
}
.operation-group .operation-group-item {
  display: inline-block;
}

.star-empty {
  color: #d0d0d0;
}

.dir-icon {
  position: relative;
}

.dir-icon .locked {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 50%;
  left: 50%;
}

.tag-list-title {
  overflow: hidden;
}