.detail-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e8e8e8;
}

.detail-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e8e8e8;
}

.detail-header .detail-control {
  position: absolute;
  font-size: 16px;
  color: #b9b9b9;
  left: 0.5rem;
}

.detail-header .detail-control:hover {
  color: #888;
}

.detail-header .detail-title img{
  width: 1.5rem;
  height: 1.5rem;
}

.detail-header .detail-title .name {
  display: inline-block;
  margin-left: 0.25rem;
  line-height: 1.5rem;
  vertical-align: middle;
  font-size: 1rem;
  color: #322;
}

.detail-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dirent-info .img {
  height: 10rem;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dirent-info .img img {
  width: 6rem;
  height: 6rem;
}

.dirent-table-container {
  padding: 10px 20px;
  display: flex;
}

.dirent-table-container table {
  flex: 1;
}

.dirent-table-container th,
.dirent-table-container td {
  padding: 5px 3px;
  border: none;
}

.dirent-table-container th {
  font-size: 13px;
  text-align: left;
  font-weight: normal;
  color: #9c9c9c;
}

.dirent-table-container td {
  font-size: 14px;
  color: #333;
  word-break: break-all;
}

.dirent-table-container .file-tag-container th {
  vertical-align: top;
  list-style: none;
}

.dirent-table-container .file-tag-container .tag-list {
  list-style: none;
}

.file-tag-list li {
  display: flex;
  align-items: center;
}

.file-tag-list .tag-name {
  display: inline-block;
  margin-left: 0.5rem;
}

.dirent-table-container .file-tag-container .tag-edit-icon {
  padding: 0;
}

.file-related-files th {
  vertical-align: top;
}

.file-related-files td ul {
  list-style: none;
  max-height: 100px;
  overflow-y: scroll;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.file-related-files td ul li {
  margin-bottom: 5px;
}

.file-related-files ul li a,
.list-related-file-table tr td a {
  color: #333;
}

.list-related-file-body {
  min-height: 200px;
  max-height: 500px;
  overflow-y: scroll;
}

.no-related-file {
  text-align: center;
}