.tr-drop-effect {
  background-color: var(--bs-tr-hover-bg);
}

.star-empty {
  color: #d0d0d0;
}

.dir-icon {
  position: relative;
  text-align: center;
  max-width: 24px;
}

.dir-icon .empty-content {
  position: absolute;
  width: 1px;
  height: 1px;
}

.dir-icon .locked {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 50%;
  left: 50%;
}

.tag-list-title {
  overflow: hidden;
}
