.tr-drop-effect {
  background-color: #f7f7f7;
}

.star-empty {
  color: #d0d0d0;
}

.dir-icon {
  position: relative;
  text-align: center;
  max-width: 24px;
}

.dir-icon .empty-content {
  position: absolute;
  width: 1px;
  height: 1px;
}

.dir-icon .locked {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 50%;
  left: 50%;
}

.tag-list-title {
  overflow: hidden;
}

.dirent-sdoc-draft-identifier {
  display: inline-block;
  font-size: 14px;
  color: #666;
  background: #eee;
  padding: 0 8px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  margin-left: 6px;
}
