.header .button-group {
  display: flex;
  align-items: center;
}

.header .common-list-btn, .header .add-reviewer-btn {
  margin-right: .25em;
}

.header .common-list-btn .common-list-btn-number {
  margin-left: .5em;
}

.main .cur-view-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  background-color: #fafaf9;
}

.main .cur-view-container .cur-view-content {
  flex: auto;
  height: 100%;
}

.main .cur-view-right-part {
  height: 100%;
  width: 300px;
  flex-shrink: 0;
  position: relative;
}

.cur-file-info .file-info {
  display: block;
  padding-top: 10px;
}

.file-info .view-file-link, 
.file-info .draft-link {
  font-size: .6em;
  color: #1e1e1e;
  text-decoration: underline;
  display: block;
  font-weight: normal;
}

.file-info .file-review {
  color: #999;
  font-size: 1rem;
  font-weight: 400;
}

.cur-file-info .last-modification {
  font-size: 0.8125rem;
}

.seafile-toggle-diff {
  display: flex;
  margin-right: 10px;
}
.seafile-toggle-diff .custom-switch .custom-switch-indicator,
.seafile-comment-title-toggle .custom-switch .custom-switch-indicator {
  border: 1px solid #e9ecef;
}
.seafile-toggle-diff .custom-switch-input:checked ~ .custom-switch-indicator,
.seafile-comment-title-toggle .custom-switch-input:checked ~ .custom-switch-indicator {
  background-color: #f19645;
}

.review-side-panel {
  border-left: 1px solid #e6e6dd;
  background-color: #fff;
  height: 100%;
}
.review-side-panel-head {
  border-bottom: 1px solid #e5e5e5;
  line-height: 3em;
  background-color: #fafaf9;
  text-align: center;
  font-weight: 700;
}
.review-side-panel-body {
  padding: 1rem 1rem 3rem;
  overflow-y: scroll;
  height: 100%;
}
.review-side-panel-body .dirent-table-container {
  padding-left: 0;
}
.dirent-table-container th {
  word-wrap: break-word;
  word-break: normal;
}
.dirent-table-container td a:hover {
  text-decoration: underline;
}
.review-side-panel-item {
  border-bottom: 1px solid #e6e6dd;
  padding: 1em 0;
}
.review-side-panel-item:last-child {
  border: 0;
}
.review-side-panel-item .reviewer-info,
.review-side-panel-item .author-info {
  display: flex;
  align-items: center;
}
.review-side-panel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
  font-weight: bold;
  color: #666;
  font-size: 0.8125rem;
}
.review-side-panel-item i {
  color: #c8c8c8;
  margin: 5px 5px 0 0;
  font-size: 1rem;
}
.review-side-panel-item i:hover {
  cursor: pointer;
  color: #a4a4a4;
}
.review-side-panel-avatar {
  margin-right: 10px;
  height: 1.5rem;
  width: 1.5rem;
}
.review-side-panel-item .reviewer-name,
.review-side-panel-item .author-name {
  height: 2rem;
  line-height: 2rem;
}

.markdown-viewer-render-content {
  position: relative;
}

.markdown-viewer-render-content tr:nth-child(2n) {
  background-color: #fff;
}

.review-comment-btn {
  position: absolute;
  top: -1000px;
  right: 0;
  border: 1px solid rgba(0, 40, 100, 0.12);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  background-color: #fff;
  padding: 5px;
}
.review-comment-btn:hover {
  cursor: pointer;
  background-color: #eee;
}
.comments-number {
  font-size: 12px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  text-align: center;
  line-height: 16px;
  font-weight: 600;
  background-color: #f19645;
  position: absolute;
  top: 10%;
  right: 30%;
  color: #fff;
}

.review-side-panel-nav {
  margin: 0;
}
.review-side-panel-nav .nav-item {
  width: 33.3%;
  padding-top: 4px;
}
.review-side-panel-nav .nav-item .nav-link {
  margin: 0 auto;
}
.review-side-panel-nav .nav-item .nav-link.active {
  border-color: #f19645;
  color: #f19645;
}
.review-side-panel-nav .nav-item i {
  padding: 0 8px;
  font-size: 1rem;
  width: 1rem;
}
.review-side-panel .tab-content {
  height: calc(100% - 38px);
}
.review-side-panel .tab-content .comments,
.review-side-panel .tab-content .tab-pane {
  height: 100%;
}

@media (max-width: 768px) {
  .markdown-viewer-render-content {
    margin: 0px;
  }
  .header .file-operation-btn {
    padding: 0.1rem 0.25rem;
  }
}

@media (max-width: 992px) {
  .review-side-panel, .dirent-table-container td {
    font-size: 12px !important;
  }
}
