.header .button-group {
  display: flex;
}

.header .common-list-btn, .header .add-reviewer-btn {
  margin-right: .25em;
}

.header .common-list-btn .common-list-btn-number {
  margin-left: .5em;
}

.main .cur-view-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow:  row nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #fafaf9;
}

.main .cur-view-container .cur-view-content {
  flex: auto;
  height: 100%;
}

.main .cur-view-container .cur-view-content-commenton {
  overflow: auto;
  width: 70%;
  height: 100%;
}

.main .cur-view-container .seafile-comment {
  height: 100%;
  position: relative;
  width: calc(100% - 5px);
}
.main .cur-view-right-part {
  height: 100%;
  width: 35%;
  position: relative;
}

.seafile-comment-resize {
  width: 5px;
  height: 100%;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  cursor: col-resize;
  z-index: 1;
}

.cur-file-info .file-info {
  display: block;
  padding-top: 10px;
}
.file-info .draft-link {
  font-size: .6em;
  color: #1e1e1e;
  text-decoration: underline;
  display: block;
  font-weight: normal;
}
.seafile-toggle-diff {
  display: flex;
  margin-right: 10px;
}

.review-side-panel {
  border-left: 1px solid #e6e6dd;
  background-color: #fff;
  height: 100%;
}
.review-side-panel-head {
  border-bottom: 1px solid #e5e5e5;
  line-height: 3em;
  background-color: #fafaf9;
  text-align: center;
  font-weight: 700;
}
.review-side-panel-body {
  padding: 1rem 2rem;
}
.review-side-panel-reviewers, .review-side-panel-author {
  border-bottom: 1px solid #e6e6dd;
  padding: 1em 0;
}
.reviewers-header, .author-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8125rem;
}
.reviewers-header i {
  color: #c8c8c8;
}
.reviewers-header i:hover {
  cursor: pointer;
  color: #a4a4a4;
}
.review-side-panel-header {
  font-weight: bold;
  color: #666;
  font-size: 0.8125rem;
}
.reviewer-avatar, .author-avatar {
  margin-right: 10px;
}
.reviewer-name, .author-name {
  height: 2rem;
  line-height: 2rem;
}

@media (max-width: 992px) {
  .main .cur-view-container .cur-view-content-commenton {
    width: 20% !important;
  }
  .main .cur-view-right-part {
    width: 80% !important;
  }
}
