.workspace {
  margin: 0.5rem 0;
}
.workspace:last-child {
  margin-bottom: 150px;
}
.workspace .workspace-name {
  font-weight: 400;
  color: #202428;
  padding: 2px;
  border-bottom: 2px solid #e3e3e3;
  font-size: 1rem;
}
.workspace .workspace-name-container .dropdown-toggle:after {
  color: #929292;
}
.workspace .workspace-name-container:hover .workspace-name {
  border-bottom: 2px solid #202428;
}
.workspace .workspace-name-container:hover .dropdown-toggle:after {
  color: #202428;
}
.workspace .add-table-btn {
  width: 42px;
  height: 42px;
  background-color: #f0f0f0;
  border-radius: 5px;
  display: flex;
}
.workspace .add-table-btn:hover {
  background-color: #e3e3e3;
}
.workspace .add-table-btn i {
  margin: auto;
  font-size: 18px;
  color: #929292;
}
.workspace .add-table-btn:hover i {
  color: #202428;
}
.add-table-btn-container {
  align-items: center;
  margin: 1rem 0 0.75rem;
}
.add-table-btn-container span {
  margin-left: 1rem;
}
.add-workspace {
  color: #929292;
}
.add-workspace:hover {
  color: #202428;
}
.workspace .table-heading {
  padding: 0.25rem;
}
.workspace .table-heading-border {
  border-bottom: 1px solid #e6e6e6;
}
.workspace .sf3-font {
  color: #949494;
  font-size: 20px;
}
.workspace .add-table-range:hover {
  background-color: #f8f8f8;
}
.workspace .table-item-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.workspace .table-item-container .table-item {
  width: 48%;
  height: 2.5625rem;
  padding: 0.5rem 0.625rem;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 4px
}
.workspace .table-item .table-icon {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
}
.workspace .table-item .table-name {
  width: 75%;
  height: 100%;
}
.workspace .table-item .table-dropdown-menu {
  width: 15%;
  height: 100%;
  text-align: right;
}