.empty-tip {
  margin: 5.5em 1em;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.empty-tip .no-items-img-tip {
  display: inline-block;
  margin-bottom: 10px;
  -webkit-user-drag: none;
}

.empty-tip .empty-tip-title {
  font-size: 18px;
  font-weight: 500;
  color: var(--bs-body-color);
  margin-bottom: 10px;
}

.empty-tip .empty-tip-text {
  font-size: 14px;
  font-weight: normal;
  color: #666;
  text-align: center;
}

@media (min-width: 768px) {
  .empty-tip {
    padding: 30px 80px;
  }
}
