.repos-sort-menu-toggle:hover {
  background: #e5e6e7;
}

.sf-single-selector .options-container.repos-sort-menu {
  min-width: 215px;
}

#files-content-container .libraries-empty-tip-in-list-mode {
  color: #666;
  text-align: center;
  padding: 4px 0;
  cursor: default;
}

#files-content-container .libraries-empty-tip-in-grid-mode {
  color: #666;
  text-align: center;
  height: 56px;
  line-height: 52px;
  border: 2px dashed var(--bs-border-secondary-color);
  border-radius: 4px;
  margin-bottom: 24px;
  cursor: default;
}

/* for mobile */
.library-list-mobile-container {
  border: 1px solid var(--bs-border-quartus-color);
  border-radius: 8px;
}

#files-content-container .library-list-mobile-container {
  margin-bottom: 1.5rem;
}

.library-list-mobile-container td {
  border-bottom: 1px solid var(--bs-border-quartus-color);
}

.library-list-mobile-container table th:first-child,
.library-list-mobile-container table td:first-child {
  width: 48px;
}

.library-list-mobile-container table td:first-child {
  padding: .5rem 12px .5rem 16px;
}

.library-list-mobile-container table th:nth-child(2),
.library-list-mobile-container table td:nth-child(2) {
  width: calc(100% - 92px);
}

.library-list-mobile-container table td:nth-child(2) {
  padding: .5rem 0;
}

.library-list-mobile-container table th:last-child,
.library-list-mobile-container table td:last-child {
  width: 44px;
}

.library-list-mobile-container table td:last-child {
  text-align: right;
  padding: .5rem 16px;
}

.library-list-mobile-container tr:last-child td {
  border-bottom: none;
}

.library-list-mobile-container .star-icon {
  width: 21px;
  height: 21px;
}

.library-grid-item {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-radius: 8px;
  border: 1px solid #eaeaea;
}

[data-bs-theme='dark'] .library-grid-item {
  border: 1px solid var(--bs-border-color);
}

.library-grid-item.hover {
  background-color: rgba(0, 0, 0, .04);
}

[data-bs-theme='dark'] .library-grid-item.hover {
  background-color: rgba(255, 255, 255, .1);
}

.repo-grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 12px;
  margin-bottom: 24px;
}

.repo-grid-container .library-grid-item {
  width: 100%;
  min-width: 0;
}

.library-grid-item .library-name {
  color: var(--bs-body-color);
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  max-width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.library-grid-item .library-name-container {
  min-width: 0;
  flex: 1;
  overflow: hidden;
}

.library-grid-item .library-info {
  flex: 1;
  min-width: 0;
  overflow: hidden;
}

.library-grid-item .library-size {
  color: var(--bs-body-secondary-color);
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  cursor: default;
}

.library-grid-item .library-grid-item-icon {
  margin-left: 6px;
}

#lib-list-new-group {
  align-self: flex-start;
  font-weight: normal;
  color: var(--bs-body-color);
  padding: 3px 12px;
  border: 1px solid var(--bs-border-color);
  margin-top: -8px;
}
