.activity-details {
  text-decoration: underline;
  cursor: pointer;
}
.activity-details:hover {
  color: #333;
}
.mobile-activity-op {
  display: inline-block;
  margin: 0 0 .2em .8em;
  padding: 0 .5em;
  background: #ffbd6f;
  border-radius: 2px;
  color: #fff;
  font-size: 0.75rem;
}
.mobile-activity-time {
  display: inline-block;
  margin-bottom: .2em;
}
