.history-header .title {
  font-size: 1.5rem;
  line-height: 1rem;
}

.history-header .title .go-back {
  margin-right: 0.75rem;
  color: #c0c0c0;
}

.history-header .title .go-back:hover {
  color:#ff9933;
  text-decoration: none;
}

.content-viewer {
  background-color: #fafaf9;
  border-radius: 10px;
}

.markdown-viewer-render-content {
  background-color: #fff;
  word-break: break-word;
  margin: 20px 40px;
  border: 1px solid #e6e6dd;
}

.history-list-container {
  flex: 1; 
  flex-direction: column;
  overflow: auto;
}

.panel-header {
    position: relative;
    padding: .5rem 0;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    height: 36px;
    text-align: center;
}

.history-list-container .history-list-item {
  padding: 5px 10px;
  display: flex;
  flex: 1;
}

.history-list-container .history-list-item:hover {
  background-color: #ffe7d5;
}

.item-active {
  color: #fff;
  background-color: #fdc297 !important;
}

.item-active i {
  color: #fff;
}

.history-list-item .history-info {
  flex: 1;
  padding: 0 0.5rem;
}

.history-list-item .history-operation {
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.history-info .time {
  color: #000;
}

.history-info .owner {
  margin-top: 0.25rem;
  color: #888;
  display: flex;
  align-items: center;
}

.owner .squire-icon {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #549b5a;
  margin-right: 0.25rem;
}

.history-body .dropdown-menu {
  min-width: 8rem;
}

.history-body .dropdown-menu a {
  text-decoration: none;
  color: #6e7687;
}
