body {
  overflow: hidden;
}

#wrapper {
  height: 100%;
}

.file-view-header {
  padding: 4px 10px;
  background: #fff;
  border-bottom: 1px solid #c9c9c9;
  flex-shrink: 0;
}

.onlyoffice-file-view-header-shown {
  transition: height .3s ease-in-out;
  height: 56px;
}

.onlyoffice-file-view-header-hidden {
  transition: all .3s ease-in-out;
  display: none!important;
}

#unfold-onlyoffice-file-view-header {
  position: absolute;
  top: 0;
  right: 40px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255, 0.6);
  border-radius: 0 0 14px 14px;
  box-shadow: 0 0 8px rgba(0,0,0, 0.4);
  cursor: pointer;
}

#unfold-onlyoffice-file-view-header:hover {
  background: rgba(255,255,255, 1);
}

.file-view-header .file-toolbar-btn {
  width: 28px;
  height: 28px;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-view-header .file-toolbar-btn .sdocfont {
  color: #666;
}

.file-view-header .file-toolbar-btn .seafile-multicolor-icon {
  fill: #666;
}

.file-view-header .file-toolbar-btn:hover {
  background-color: #EFEFEF;
  border-radius: 3px;
}

.file-view-header .file-toolbar-btn.disabled {
  opacity: 0.65;
  cursor: default;
}

.file-view-header .file-toolbar-btn.disabled:hover {
  background-color: #fff;
}

.file-view-header .file-toolbar-btn#save-file {
  color: #EC8000;
}

.file-view-header .file-toolbar-more-operations {
  height: 38px;
  padding: 0;
}

.file-title {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 0;
}

.file-star {
  font-size: .875rem;
  color: #999;
  margin-left: .5rem;
}

.file-star:hover,
.file-star:focus {
  text-decoration: none;
  color: #999;
}

.file-locked-icon {
  margin-left: .5rem;
}

.meta-info {
  font-size: .8125rem;
}

.file-view-content {
  padding: 30px 0;
  background: #f4f4f4;
  border-right: 4px solid transparent;
}

.tip {
  color: #666;
}

.file-details-container {
  position: absolute;
  right: 0;
  background-color: #fff;
  width: 300px;
  height: 100%;
  box-shadow: -1px 0 3px 0 #ccc;
  animation: move .5s ease-in-out 1;
  z-index: 50;
}

@keyframes move {
  from {
    right: -500px;
    opacity: 0.5;
  }
  to {
    right: 0px;
    opacity: 1;
  }
}

/* for mobile */
.file-view-body .seafile-comment {
  width: 100%;
}

@media (min-width: 768px) {
  .file-view-body .seafile-comment {
    width: 360px;
    border-left: 1px solid #e6e6dd;
  }
}
