.file-chooser-container {
  position: relative;
  height: 20rem;
  border-radius: 3px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 1rem;
}

.scroll-wrapper {
  overflow: auto;
  max-height: 100%;
}

.item-toggle{
  height: 1.5rem;
  width: 1.5rem;
  line-height: 1.5rem !important;
  text-align: center;
  cursor: pointer;
  color: #c0c0c0;
}

.list-view-header {
  position: relative;
  padding-left: 1.5rem;
}
.list-view-header:hover {
  background-color: #F5F5F5;
}

.list-view-header .name {
  color: #eb8205;
}

.list-view-content {
  margin: 0;
  padding: 0;
  list-style: none;
}

.file-chooser-search-input {
  position: relative;
}

.file-chooser-search-input .search-control {
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
}

.file-chooser-search-input .search-input {
  width: 100%;
}

.file-chooser-search-container {
  height: 20rem;
  position: relative;
  border: 1px solid #eee;
  padding: 10px;
  overflow: auto;
}

.file-chooser-search-close {
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
}

.searched-active {
  background: #F3AF7D !important;
  border-radius: 2px;
  box-shadow: inset 0 0 1px #999;
}

.searched-active td {
  color: #fff;
}

.searched-active .icon {
  color: #fff !important;
}

.select-open-repo {
  background: #FDEFB9;
}

.file-chooser-table td {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}


.file-chooser-item {
  width: 100%;
  position: relative;
}

.file-chooser-item .item-active {
  background: #F2F4F6 !important;
  border-radius: 3px;
}

.file-chooser-item .item-active::before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  height: 24px;
  left: -8px;
  top: 2px;
  background-color: #FF8000;
  border-radius: 2px;
  z-index: 10;
}

.file-chooser-item .item-info {
  height: 1.75rem;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1.625;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.file-chooser-item .item-info:hover {
  background: #F5F5F5;
  border-radius: 3px;
}

.file-chooser-item .item-info .item-text {
  height: 100%;
  padding-left: 0.25rem;
  display: flex;
  align-items: center;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.5;
  transition: color 3.0s ease, background-color 0.3s ease;
}

.file-chooser-item .item-info .item-left-icon {
  height: 100%;
  display: flex;
  align-items: center;
}

