.right-tree-menu{
			position: absolute;
			left: 15rem;
			top: 20rem;
			z-index: 1000;
			float: left;
			min-width: 10rem;
			padding: 0.5rem 0;
			margin: 0.125rem 0 0;
			font-size: 0.9375rem;
			color: #212529;
			text-align: left;
			list-style: none;
			background-color: #fff;
			background-clip: padding-box;
			border: 1px solid rgba(0, 40, 100, 0.12);
			border-radius: 3px;
}
.right-tree-item{
	display: block;
	width: 100%;
	padding: 0.25rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: #878E9C;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}
.right-tree-item:hover{
	color: #15181A;
	background-color: #F8F9FA;
}