table tr .activity-date {
  border-top: 0;
}
table .activity-detail {
  word-break: break-word;
}
table .activity-detail div {
  display: inline;
}
table .activity-detail span {
  color: #888;
}
table .activity-detail span:hover {
  color: #333;
  text-decoration: underline;
}