.history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  background-color: #f4f4f7;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.history-header .title {
  font-size: 1.25rem;
  line-height: 1rem;
}

.history-header .title .go-back {
  margin-right: 0.75rem;
  color: #c0c0c0;
}

.history-header .title .go-back:hover {
  color:#ff9933;
  text-decoration: none;
}

.content-viewer {
  background-color: #fafaf9;
  border-radius: 10px;
  overflow: auto;
}

.markdown-viewer-render-content {
  background-color: #fff;
  word-break: break-word;
  margin: 20px 40px;
  border: 1px solid #e6e6dd;
}

.markdown-viewer-render-content .diff-view {
  padding: 40px 60px;
}

.panel-header {
  position: relative;
  padding: .5rem 0;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  height: 36px;
  text-align: center;
}

.history-body {
  display: flex;
  flex: 1;
  overflow: hidden;
  min-height: 0;
  height: 500px;
}

.history-list-container {
  flex: 1; 
  flex-direction: column;
  min-height: 0;
  overflow: auto;
}

.history-list-container .history-list-item {
  padding: 5px 10px;
  display: flex;
  flex: 1;
}

.history-list-container .history-list-item:hover {
  background-color: #ffe7d5;
}

.history-content .main-panel {
  flex: 1 1 auto;
}

.history-content .history-side-panel {
  flex: 0 0 auto;
  user-select: none;
  border-left: 1px solid #e5e5e5;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.history-content .history-side-panel .history-side-panel-title {
  height: 50px;
  border-bottom: 1px solid #e5e5e5;
  line-height: 50px;
  font-size: 1rem;
  padding: 0 10px;
  background-color: rgb(250,250,249);
  font-weight: bolder;
}

@media (min-width:992px) {
  .history-side-panel {
    width: 260px;
  }
  .history-content .main-panel {
    max-width: calc(100% - 260px);
  }
}

@media (max-width:991.8px) {
  .history-content .main-panel {
    max-width: calc(100% - 190px);
  }
}

@media (max-width:768px) {
  .history-content .main-panel {
    max-width: 100%;
  }
  .markdown-viewer-render-content {
    margin: 20px;
  }
  .markdown-viewer-render-content .diff-view {
    padding: 20px;
  }
}
