body {
  overflow: hidden;
}
#wrapper {
  height: 100%;
}
.file-view-header {
  padding: 4px 10px;
  border-bottom: 1px solid #c9c9c9;
  flex-shrink: 0;
}
.file-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}
.file-star,
.file-internal-link {
  font-size: .875rem;
  color: #999; 
  margin-left: .5rem;
}
.file-star:hover,
.file-star:focus {
  text-decoration: none;
  color: #999;
}
.file-locked-icon {
  margin-left: .5rem;
}
.last-modification {
  font-size: .8125rem;
}
.last-modification-time {
  margin-left: .5rem;
}
.file-view-content {
  padding: 30px 0;
  background: #f4f4f4;
  border-right: 4px solid transparent;
}
.open-via-client {
  display: block;
  margin-top: 25px;
  color: #333;
  font-weight: normal;
  text-decoration: underline;
}
.tip {
  color: #808080;
}
/* for mobile */
.seafile-comment {
  width: 100%;
}
@media (min-width: 768px) {
  .seafile-comment {
    width: 29%;
  }
}
