.history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  background-color: #f5f5f5;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.file-history-header { /* for markdown file history */
  background-color: #fff;
  height: 50px;
}

.history-header .title {
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.history-header .title .go-back {
  margin-right: 0.75rem;
  color: #c0c0c0;
}

.history-header .title .go-back:hover {
  color: #ff9933;
  text-decoration: none;
}

.history-header .title .go-back .sf3-font-down {
  font-size: 1.25rem !important;
}

.content-viewer {
  flex: 1;
  display: flex;
  min-height: 0;
}

.content-viewer .sf-slate-viewer-scroll-container {
  background-color: #fafaf9;
  padding: 20px 40px;
  display: block;
}

.content-viewer .sf-slate-viewer-scroll-container .sf-slate-article-content {
  min-height: 100%;
}

.content-viewer .sf-slate-viewer-scroll-container .sf-slate-viewer-article-container {
  width: 100%;
}

.content-viewer .sf-slate-viewer-article-container .article {
  width: 100%;
  max-width: 100%;
}

.panel-header {
  position: relative;
  padding: .5rem 0;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  height: 36px;
  text-align: center;
}

.history-body {
  display: flex;
  flex: 1;
  overflow: hidden;
  min-height: 0;
  height: 500px;
}

.history-list-container {
  flex: 1;
  flex-direction: column;
  min-height: 0;
  overflow: auto;
}

.history-list-container .history-list-item {
  padding: 5px 10px;
  display: flex;
  flex: 1;
  cursor: pointer;
}

.history-list-container .history-list-item:hover {
  background-color: #ffe7d5;
}

.history-content .main-panel {
  flex: 1 1 auto;
}

.history-content .history-side-panel {
  flex: 0 0 auto;
  user-select: none;
  border-left: 1px solid #eee;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.history-content .history-side-panel .history-side-panel-title {
  height: 50px;
  border-bottom: 1px solid #eee;
  line-height: 50px;
  font-size: 1rem;
  padding: 0 10px;
  font-weight: bolder;
}

@media (min-width:992px) {
  .history-side-panel {
    width: 260px;
  }
  .history-content .main-panel {
    max-width: calc(100% - 260px);
  }
}

@media (max-width:991.8px) {
  .history-content .main-panel {
    max-width: calc(100% - 190px);
  }
}

@media (max-width:768px) {
  .history-content .main-panel {
    max-width: 100%;
  }
  .content-viewer .sf-slate-viewer-scroll-container {
    padding: 20px;
  }
  .content-viewer .sf-slate-viewer-article-container {
    margin: 0;
    padding: 0;
  }
  .content-viewer .sf-slate-viewer-article-container .article {
    padding: 20px;
  }
}
