.department-group-icon {
  margin-left: 0.25rem;
  color:#888;
}

.group-top-op-icon { /* for cur-view-path*/
  display: inline-block;
  font-size: 22px;
  margin: 3px 0 0 10px;
}

.cur-view-content-groups .group-list-panel {
  padding-bottom: 1rem;
}

.group-list-panel .group-item-heading {
  font-size: 1rem;
  font-weight: normal;
  padding: 0.25rem; 
  border-bottom: 1px solid #e6e6e6;
  margin: 0.75rem 0 0; 
}

.group-list-panel .group-item-empty-tip {
  color: #a4a4a4;
  text-align: center;
  padding: 4px 0;
  border-bottom: 1px solid #e5e5e5;
}
