.department-dialog .department-dialog-content {
  padding: 0;
  min-height: 30rem;
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-between;
  flex-direction: row;
}

.department-dialog .department-dialog-content > div {
  max-height: calc(100vh - 120px);
  overflow-y: auto;
}

.department-dialog-content .department-dialog-left-panel {
  flex: 0 0 30%;
  padding: 1rem;
  border-right: 1px solid var(--bs-border-secondary-color);
}

.department-dialog-content .department-dialog-left-panel .input-icon-addon {
  min-width: 2rem;
}

.department-dialog-content .department-dialog-left-panel .clear-keyword-icon {
  line-height: 1;
  padding: 2px;
  border-radius: 3px;
  cursor: pointer;
}

.department-dialog-content .department-dialog-left-panel .clear-keyword-icon:hover {
  background: var(--bs-hover-bg);
}

.department-dialog-content .department-dialog-member {
  display: flex;
  flex: 0 0 35%;
  border-right: 1px solid var(--bs-border-secondary-color);
}

.department-dialog-content .department-dialog-member-selected {
  display: flex;
  flex: 0 0 35%;
  border-right: 1px solid var(--bs-border-secondary-color);
  flex-direction: column;
  justify-content: space-between;
}

.department-dialog-content .department-dialog-member-selected .modal-footer {
  border-top: none;
}

.department-dialog-content .department-dialog-group .group-item {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.department-dialog-content .department-dialog-group .group-item:hover {
  background-color: var(--bs-nav-hover-bg);
}

.department-dialog-content .department-dialog-group .group-item.tr-highlight:hover,
.department-dialog-content .department-dialog-group .tr-highlight {
  background-color: var(--bs-nav-hover-bg);
  color: inherit;
  position: relative;
}

.department-dialog-content .department-dialog-group .group-item.tr-highlight::before {
  content: '';
  display: block;
  width: 4px;
  background-color: #ff9800;
  border-radius: 2px;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -8px;
  z-index: 0;
}

.department-dialog-member-head {
  display: flex;
  padding: 0 0 12px 0;
  justify-content: space-between;
}

.department-dialog-member-head .department-name {
  font-size: 0.8125rem;
  color: #666;
}

.department-dialog-member-head .select-all {
  cursor: pointer;
  font-size: 0.8125rem;
  color: #ED7109;
}

.department-dialog-member-head .select-all-disable {
  font-size: 0.8125rem;
  color: rgb(248, 205, 160);
}

.department-dialog-member-table td,
.department-dialog-member-head td {
  border: none;
  text-align: left;
  padding: 0;
}

.department-dialog-member-table {
  display: block;
  text-align: center;
  max-height: calc(100% - 32px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 30px;
}

.department-dialog-member-table tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  height: 36px;
}

.department-dialog-member-table .sf3-font-help {
  color: #999;
  padding-right: 16px;
  float: right;
}

.department-dialog-member-table .sf3-font-help:hover {
  color: #666;
  cursor: pointer;
}

.department-dialog-member .empty-tip {
  border: none;
  background-color: transparent;
}

.department-dialog-member .empty-tip .no-items-img-tip {
  margin-bottom: 10px;
}

.department-dialog-member .empty-tip h2 {
  color: #666;
  font-weight: normal;
  font-size: 1rem;
}

.department-dialog-content .avatar {
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.department-dialog-content tr td:first-child {
  padding-left: 16px;
}

.department-dialog-member-table tr td:first-child {
  padding-bottom: 2px;
}

.tooltip-inner {
  font-size: 13px;
  font-weight: lighter;
  text-align: justify;
  color: #fff;
  background-color: #000;
}

.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: #303133;
}

.department-dialog-member-selected tr td:last-child {
  padding-right: 16px;
}

.department-dialog-member-selected .modal-footer .btn {
  min-width: 80px;
}
