#group-setting-popover,
#group-members-popover {
  top: 42px;
  right: 0;
}
.group-member-list-header {
  border-bottom: 1px solid #e3e3e5;
  padding-bottom: 10px;
  margin-bottom: 0px;
}
.group-member-list {
  max-height: 400px;
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}
.group-member-list .user-item {
  line-height: 2rem;
}
.group-member-list .user-item:hover {
  background-color: #f8f8f8;
}
.group-member-list .user-item .group-member-name {
  margin: 0 5px;
  max-width: 70%;
}
.group-member-list .user-item .group-member-admin {
  color: #888;
  font-size: 12px;
}
