.group-member-list {
  box-sizing: border-box;
  max-height: 400px;
  overflow-y: auto;
}
.group-member-list .user-item {
  margin: 0px -10px;
  padding: 5px 10px;
  line-height: 2rem;
}
.group-member-list .user-item:hover {
  background-color: #f8f8f8;
}
.group-member-list .user-item .group-member-name {
  margin: 0 5px;
}
.group-member-list .user-item .group-member-admin {
  color: #888;
  font-size: 12px;
}
