.item-active {
  color: #fff;
  background-color: #fdc297 !important;
}

.item-active i {
  color: #fff;
}

.history-list-item .history-info {
  flex: 1;
  padding: 0 0.5rem;
}

.history-list-item .history-operation {
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.history-list-item .history-operation .dropdown {
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.history-list-item .history-operation .dropdown:hover {
  background-color: #E5E5E5;
}

.history-list-item .history-operation .sf3-font-more:hover {
  text-decoration: none;
}

.history-info .time {
  color: var(--bs-body-color);
}

.history-info .owner {
  margin-top: 0.25rem;
  color: #666;
  display: flex;
  align-items: center;
}

.history-info .owner .squire-icon {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #549b5a;
  margin-right: 0.25rem;
}
