.item-active {
  color: #fff;
  background-color: #fdc297 !important;
}

.item-active i {
  color: #fff;
}

.history-list-item .history-info {
  flex: 1;
  padding: 0 0.5rem;
}

.history-list-item .history-operation {
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.history-info .time {
  color: #000;
}

.history-info .owner {
  margin-top: 0.25rem;
  color: #888;
  display: flex;
  align-items: center;
}

.owner .squire-icon {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #549b5a;
  margin-right: 0.25rem;
}

.history-body .dropdown-menu {
  min-width: 8rem;
}

.history-body .dropdown-menu a {
  text-decoration: none;
  color: #6e7687;
}
