.seafile-multicolor-icon {
  width: 1em;
  height: 1em;
  color: var(--bs-secondary);
  fill: currentColor;
  overflow: hidden;
}

.input-icon-addon .seafile-multicolor-icon-search {
  width: 16px;
  height: 16px;
}

.seafile-multicolor-icon-monitor {
  font-size: 14px;
  fill: #444;
  color: #bdbdbd;
}

.sf-metadata-icon {
  vertical-align: -0.15em;
}
