.image-file-view {
  position: relative;
  text-align: center;
}

.image-file-view:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  font-size: 0;
  line-height: 0;
}

#image-view {
  padding: 1px;
  background: #fff;
  border: 1px solid #eee;
  width: auto;
  height: auto;
  font-size: 0;
  line-height: 0;
}

#img-prev,
#img-next {
  position: absolute;
  top: 48%;
  text-decoration: none;
  color: #666;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 100%;
  line-height: 50px;
  z-index: 1;
}

#img-prev {
  left: 15px;
}

#img-next {
  right: 15px;
}

#img-prev:hover,
#img-next:hover {
  color: #212529;
}

.image-zoomer #zoom-out-image {
  margin-right: 2px;
  font-size: 18px; /* the actual icon is smaller than the others */
}

.image-zoomer #zoom-in-image {
  margin-left: 2px;
  font-size: 18px; /* the actual icon is smaller than the others */
}

.image-zoomer #cur-scale-input {
  height: 28px;
  width: 120px;
  user-select: none;
}

.image-zoomer #scale-menu {
  min-width: 120px; /* overwrite css from seahub_react.css */
  width: 120px;
}

.image-zoomer #scale-menu-caret {
  position: absolute;
  right: 12px;
  top: 9px;
  font-size: 9px;
  line-height: 1;
  color: #666;
}
