.invite-accept-icon {
    color: green;
    margin-left: 0.5rem;
    font-size: 1.25rem;
    font-style: normal;
    line-height: 1;
    vertical-align: middle;
}

.invite-link-in-popup,
.invite-link-in-popup:hover {
    text-decoration: none;
}

.invite-link-icon-in-popup {
    color: #f89a68;
    margin-left: 0.5rem;
    font-size: 0.875rem;
    font-style: normal;
    line-height: 1;
    cursor: pointer;
    vertical-align: middle;
}

.invitation-revoke-dialog .submit-btn,
.invite-people-dialog .submit-btn
{
    height: 37px;
}

.invitation-revoke-dialog .submit-btn .loading-tip,
.invite-people-dialog .submit-btn .loading-tip
{
    margin: 3px auto;
    width: 18px;
    height: 18px;
}