.dropdown-item .dropdown-item-tick {
  width: 1.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.dropdown-item .seafile-multicolor-icon-down {
  width: 12px;
  height: 12px;
  color: var(--bs-icon-color);
}
