.side-panel {
  flex: 1 1 20%;
}
.main-panel {
  flex: 1 1 80%;
}

.side-panel-north,
.main-panel-north {
  padding: .5rem 1rem;
  background: #f4f4f7;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  flex-shrink: 0;
}

.side-panel-center {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #eee;
  min-height: 0;
}

.main-panel-center {
  flex: 1;
  display: flex;
  flex-direction: column;
}
