.seafile-editor {
  position: fixed;
  width: 100%;
  height: 100%;
  min-width: 960px;
}

.seafile-editor-main {
  height: calc(100% - 68px);
  width: 100%;
}

.seafile-editor-topbar {
  width: 100%;
  height: 68px;
  background-color: #fff;
  padding: 0px 10px;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 3px 2px -2px rgba(200,200,200,.15);
  user-select: none;
  display: flex;
  justify-content: space-between;
}

.seafile-editor-left-panel {
  height: 100%;
  background-color: #fff;
  border-right: 1px solid rgb(230,230,221);
  position: relative;
}

.seafile-editor-right-panel {
  height: 100%;
  background-color: rgb(250,250,249);
  overflow-x: hidden;
  position: relative; /* for seafile-editor-resize */
}

.plain-editor-left-panel {
  height: 100%;
  width: 50%;
  background-color: #fff;
  border-right: 1px solid rgb(230,230,221);
  overflow-y: auto;
}
.plain-editor-right-panel {
  height: 100%;
  width: 50%;
  background-color: rgb(250,250,249);
  overflow-x: hidden;
}
