.lib-settings-dialog {
  max-width: 760px;
}

@media (min-width: 768px) {
  .lib-settings-dialog .modal-content {
    min-height: 534px;
  }
}

.lib-setting-nav {
  border-bottom: 1px solid rgba(0,40,100,0.12) !important;
}

@media (min-width: 768px) {
  .lib-setting-nav {
    min-width: 240px;
    border-bottom: none;
    border-right: 1px solid rgba(0,40,100,0.12) !important;
  }
}

.lib-setting-nav .nav-pills .nav-item .nav-link {
  margin: 0;
  padding: 0 10px;
  height: 32px;
  flex: 1 1 auto;
}

.lib-setting-nav .nav-pills .nav-item .nav-link:hover {
  background: var(--bs-nav-hover-bg);
}

.lib-setting-nav .nav-pills .nav-item .nav-link.active {
  background: var(--bs-nav-active-bg);
  color: inherit;
  position: relative;
}

.lib-setting-nav .nav-pills .nav-item .nav-link.active::before {
  content: '';
  display: block;
  width: 4px;
  height: 24px;
  background-color: #ff9800;
  border-radius: 2px;
  position: absolute;
  top: 4px;
  left: -8px;
  z-index: 0;
}

.lib-settings-dialog .tab-pane {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.lib-settings-dialog .open-metadata-tip {
  background-color: #ffeacd;
  margin: -1rem -1rem 1rem;
  padding: 0.5rem 1rem;
}
