.cur-view-content.lib-content-container {
  padding: 0;
}

.view-mode-container {
  display: flex;
  flex-direction: row !important;
  overflow: hidden !important;
  padding-left: 0 !important;
  min-height: 0;
}

.dir-colunm-view {
  display: flex;
  width: 100%;
}

.dir-content-nav {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  border-right: 1px solid #eee;
}

.dir-content-nav:hover {
  overflow: auto;
}

.dir-content-main {
  flex: 1 0 74.5%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

/*tree view */
.tree-view {
  margin-left: -9px;
  padding: 12px 12px 12px 0;
  line-height: 1.5;
  flex: 1;
  border: 1px solid rgba(69,170,242,0);
}

.tree-view-drop {
  border: 1px solid rgba(69,170,242);
}

.tree-view-drop::before {
  border-left: 1px solid rgba(69,170,242);
  content: '';
  margin-left: 8px;
  height: calc(100% + 24px);
  display: block;
  margin-top: -12px;
  float: left;
}

.tree-node-inner {
  position: relative;
  height: 24px;
  cursor: pointer;
  line-height: 1.625;
}

.tree-node-inner-hover {
  background-color: #f5f5f5;
  border-radius: 0.25rem;
}

.tree-node-inner .tree-node-text {
  padding-left: 2.8rem;
  width: calc(100% - 1.5rem);
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
}

.tree-node-inner .left-icon {
  position: absolute;
  display:flex;
  align-items:center;
  top: 0;
  left: 0;
  padding-left: 1.5rem;
}

.folder-toggle-icon {
  position: absolute;
  left: 0;
  color: #c0c0c0;
  line-height: 1.625;
  width: 1.5rem;
  display: flex;
  align-content: center;
  justify-content: center;
}

.tree-node-drop {
  background-color:rgb(255,239,178);
}

.tree-node-icon {
  display: inline-block;
  width: 1rem;
  text-align: center;
  color: #b0b0b0;
}

.tree-node-inner .right-icon {
  position: absolute;
  top: 0;
  right: 0.5rem;
  bottom: 0;
  width: 1rem;
  color: #888;   
  z-index: 2;  
  font-size: 0.8125rem;
  text-align: center;
}

.tree-node-inner .right-icon i {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  font-size: 0.8125rem;
  line-height: 1.625rem !important;
}

.tree-node-hight-light {
  color: #fff;
  border-radius: 4px;
  background-color: #ff9800 !important;
}

.tree-node-hight-light i {
  color:#fff;
}

.dropdown-menu {
  min-width: 8rem;
}

.parent-path {
  position: relative;
}

.parent-path .form-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
  margin-left: 0.25rem;
  font-size: 0.9375rem;
}

/* file layout */
.dir-content-main .wiki-page-container {
  padding: 0 1rem 1.25rem;
  display: flex;
  flex: 1;
}

/* wiki-page-content */
.wiki-page-content {
  flex: 1;
}

.wiki-page-content .ml-2 {
  text-decoration: underline;
}

.wiki-page-content .ml-2:hover {
  text-decoration: underline;
  color:#eb8205;
}

.wiki-page-content .wiki-open-file {
  width: 40px;
  height: 40px;
  font-size: 16px;
  border-radius: 50%;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  user-select: none;
  border: none;
  right: 10px;
  bottom: 10px;
  color: #999;
  z-index: 1050;
  background-color: #fff;
  cursor: pointer;
}

.wiki-page-content .wiki-open-file i {
  position: absolute;
  top: 12px;
  left: 12px;
}

.wiki-page-content .wiki-open-file:hover {
  background-color: #f6f6f6;
}

.dir-content-main .wiki-page-content .article {
  padding: 0 10px;
}

.wiki-page-content a {
  cursor: pointer;
}
.wiki-page-ops {
  position: fixed;
  top: 10px;
}

@media (min-width: 768px) {
  .wiki-page-ops:before {
    content:'';
    border-left:1px solid #ddd;
    position:absolute;
    top:3px;
    left:-16px;
    bottom:3px;
  }
}

.wiki-page-list-item {
  word-break:break-all;
  line-height:1.6;
  margin:3px 0;
}

.wiki-page-link,
.wiki-page-link:hover {
  font-size:1.15em;
  font-weight:normal;
  color:#444;
  margin-left:5px;
}

#wiki-page-last-modified {
  padding: 40px 10px;
  font-size:12px;
  color: #666;
}

.dir-content-resize {
  flex: 0 0 .5%;
  cursor: ew-resize;
}

.readonly-tip-message {
  display: flex;
  padding: 0.25rem 0;
  background-color: #FEFBDC;
  justify-content: center;
  align-items: center;
}
