
.view-mode-container {
  display: flex;
  flex-direction: row !important;
  overflow: hidden !important;
  padding-left: 0 !important;
  min-height: 0;
}

.dir-content-nav {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  border-right: 1px solid #eee;
}

.dir-content-nav:hover {
  overflow: auto;
}

.dir-content-main {
  flex: 1 0 75% !important;
  display: flex;
  flex-direction: column;
  margin-right: -1rem;
  padding:0 0.75rem;
  overflow: auto;
}

/*tree view */
.tree-view {
  padding: 12px 12px 0 0;
  line-height: 1.5;
}

.tree-node-inner {
  position: relative;
  height: 26px;
  cursor: pointer;
  line-height: 1.625;
}

.tree-node-inner-hover {
  background-color: rgb(255,239,178);
  border-radius: 0.25rem;
}

.tree-node-inner .tree-node-text {
  padding-left: 2.8rem;
  width: calc(100% - 1.5rem);
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tree-node-inner .left-icon {
  position: absolute;
  display:flex;
  align-items:center;
  top: 0;
  left: 0;
  padding-left: 1.5rem;
}

.folder-toggle-icon {
  position: absolute;
  left: 0;
  color: #c0c0c0;
  line-height: 1.625;
  width: 1.5rem;
  display: flex;
  align-content: center;
  justify-content: center;
}

.tree-node-icon {
  display: inline-block;
  width: 1rem;
  text-align: center;
  color: #b0b0b0;
}

.tree-node-inner .right-icon {
  position: absolute;
  top: 0;
  right: 0.5rem;
  bottom: 0;
  width: 1rem;
  color: #888;   
  z-index: 2;  
  font-size: 0.8125rem;
  text-align: center;
}

.tree-node-inner .right-icon i {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  font-size: 0.8125rem;
  line-height: 1.625rem !important;
}

.tree-node-hight-light {
  color: #fff;
  border-radius: 4px;
  background-color: #feac74 !important;
}

.tree-node-hight-light i {
  color:#fff;
}

.dropdown-menu {
  min-width: 8rem;
}

.parent-path {
  position: relative;
}

.parent-path .form-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
  margin-left: 0.25rem;
  font-size: 0.9375rem;
}

/* file layout */
.dir-content-main .wiki-page-container {
  padding: 0 1rem 1.25rem;
  display: flex;
  flex: 1;
}

/* wiki-page-content */
.wiki-page-content {
  flex: 1;
}

.wiki-page-content .ml-2 {
  text-decoration: underline;
}

.wiki-page-content .ml-2:hover {
  text-decoration: underline;
  color:#eb8205;
}

.dir-content-main .wiki-page-content .article {
  padding: 0 10px;
}

.wiki-page-content a {
  cursor: pointer;
}
.wiki-page-ops {
  position: fixed;
  top: 10px;
}

@media (min-width: 768px) {
  .wiki-page-ops:before {
    content:'';
    border-left:1px solid #ddd;
    position:absolute;
    top:3px;
    left:-16px;
    bottom:3px;
  }
}

.wiki-page-list-item {
  word-break:break-all;
  line-height:1.6;
  margin:3px 0;
}

.wiki-page-link,
.wiki-page-link:hover {
  font-size:1.15em;
  font-weight:normal;
  color:#444;
  margin-left:5px;
}

#wiki-page-last-modified {
  padding: 40px 10px;
  font-size:12px;
  color: #666;
}
