.lib-decrypt-form .intro {
  color: #464646;
  font-size: 1.3em;
}
.lib-decrypt-form .password-input {
  width: 50%;
  margin: 0 auto;
}
.lib-decrypt-form .submit {
  width: 50%;
  margin: 1.5em auto 1em;
}
