
.view-mode-container {
  display: flex;
  flex-direction: row !important;
}

.dir-side-nav {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;
}

.dir-main-content {
  flex: 1 0 75% !important;
  display: flex;
  flex-direction: column;
}

.dir-nav-heading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f7;
  border-bottom: solid 1px #e8e8e8;
  font-size: 1rem;
  font-weight: normal;
  height: 49px;
  margin: 0;
}

.dir-nav-container {
  flex: 1 1;
  overflow: hidden;
  padding: 12px 0;
  border-right: 1px solid #eee;
}

.dir-nav-container:hover {
  overflow: auto;
}

.heading-icon {
  position: absolute;
  right: 1rem;
  top: 30%;
  color: #888;  
  font-size: 0.8125rem;
}

.heading-icon .action-icon {
  font-size: 1.125rem;
}

/*tree view */
.tree-view {
  padding: 0 12px 0 0;
  line-height: 1.5;
}

.tree-node-inner {
  position: relative;
  height: 26px;
  cursor: pointer;
  line-height: 1.625;
}

.tree-node-inner-hover {
  background-color: rgb(255,239,178);
  border-radius: 0.25rem;
}

.tree-node-inner .tree-node-text {
  padding-left: 2.8rem;
  width: calc(100% - 2.8rem);
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tree-node-inner .left-icon {
  position: absolute;
  display:flex;
  align-items:center;
  top: 0;
  left: 0;
  padding-left: 1.5rem;
}

.folder-toggle-icon {
  position: absolute;
  left: 0.5rem;
  color: #c0c0c0;
  line-height: 1.625;
  width: 1.5rem;
  display: flex;
  align-content: center;
  justify-content: center;
}

.tree-node-icon {
  display: inline-block;
  width: 1rem;
  text-align: center;
  color: #b0b0b0;
}

.tree-node-inner .right-icon {
  position: absolute;
  top: 0;
  right: 0.5rem;
  bottom: 0;
  width: 1.5rem;
  color: #888;   
  z-index: 2;  
  font-size: 0.8125rem;
  text-align: center;
}

.tree-node-inner .right-icon i {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  font-size: 0.8125rem;
  line-height: 1.625rem !important;
}

.tree-node-hight-light {
  color: #fff;
  border-radius: 4px;
  background-color: #feac74 !important;
}

.tree-node-hight-light i {
  color:#fff;
}

.dropdown-menu {
  min-width: 8rem;
}

.parent-path {
  position: relative;
}

.parent-path .form-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
  margin-left: 0.25rem;
  font-size: 0.9375rem;
}

/* todo optimized */
.cur-view-content {
  display: flex;
  flex-direction: column;
}

.cur-view-content .wiki-page-container{
  margin: -0.625rem -1rem -1.25rem;
  padding: 0.625rem 1rem 1.25rem;
  display: flex;
  flex: 1;
  overflow: auto;
}

.cur-view-content .wiki-page-content {
  /* width: calc(100% - 160px); */
  flex: 1;
  padding-right: 40px;
}

.dir-main-content .wiki-page-content .article {
  padding: 0 10px;
}

.dir-main-content .wiki-page-content .ml-2 {
  text-decoration: underline;
}

.dir-main-content .wiki-page-content .ml-2:hover {
  text-decoration: underline;
  color:#eb8205;
}

.wiki-page-content a {
  cursor: pointer;
}

.wiki-side-nav .wiki-page-content a {
color: #212529;
cursor: pointer;
}

.wiki-page-ops {
    position: fixed;
    top: 10px;
}

@media (min-width: 768px) {
    .wiki-page-ops:before {
        content:'';
        border-left:1px solid #ddd;
        position:absolute;
        top:3px;
        left:-16px;
        bottom:3px;
    }
}

.wiki-page-list-item {
    word-break:break-all;
    line-height:1.6;
    margin:3px 0;
}

.wiki-page-link,
.wiki-page-link:hover {
   font-size:1.15em;
   font-weight:normal;
   color:#444;
   margin-left:5px;
}

#wiki-page-last-modified {
    padding: 40px 10px;
    font-size:12px;
    color: #666;
}

.wiki-md-viewer-rendered-content.article h1 {
  margin-top: 0;
}

.index-edit {
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
}
