.add-related-file-link {
  color: #666;
  padding-left: 10px;
  text-decoration: underline;
}

.add-related-file-link:hover {
  color: #444;
}

.list-related-file-table {
  margin-bottom: 10px;
}

.list-related-file-table td, .list-related-file-table th {
  padding: 10px;
}