.manage-members {
  min-height: 200px;
  max-height: 300px;
  overflow-y: auto;
  padding: 0.5rem 0;
}

.manage-members-table th,
.manage-members-table td {
  vertical-align: middle;
  text-align: left;
}

.add-members-select .true__indicator-separator {
  display: none;
}

.add-members {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.add-members .add-members-select {
  width: 385px;
}

.add-members .btn {
  width: 75px;
}

.group-error {
  margin-top: 10px;
}

.group-manage-members-dialog .search-group-members {
  color: #666;
  font-size: 14px;
  font-weight: normal;
  background: #f0f0f0;
  border: 1px solid transparent;
  margin: 12px 0 0;
}

.group-manage-members-dialog .search-group-members.active {
  background: var(--bs-body-bg);
  border-color: #ccc;
}

.group-manage-members-dialog .search-group-members .input-group-text,
.group-manage-members-dialog .search-group-members .input-group-input {
  background: transparent;
  color: inherit;
  border: none;
}

.group-manage-members-dialog .search-group-members.active .input-group-input {
  color: #495057;
}

.group-manage-members-dialog .search-group-members .input-group-input:focus {
  box-shadow: none;
}
