.manage-members {
  max-height: 300px;
  overflow-y: scroll;
  margin: 10px 0 2rem;
}
.manage-members-table th,
.manage-members-table td {
  vertical-align: middle;
  text-align: left;
}

.add-members-select .true__indicator-separator {
  display: none;
}

.add-members {
  display: flex;
  justify-content: space-between;
}

.add-members .add-members-select {
  width: 385px;
}
.add-members .btn {
  width: 75px;
}
.group-error {
  margin-top: 10px;
}

.group-manage-members-dialog .back-icon {
  color: #999; 
  cursor: pointer;
}

.group-manage-members-dialog .search-group-members-btn {
  background: #f1f1f1;
  margin: 12px 0 0;
}

.group-manage-members-dialog .search-group-members-btn:hover {
  background: #dbdbdb;
}
