.file-view-content.md-content {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  border-right: none;
  padding: 0;
  display: flex;
}

.file-view-content.md-content .sf-slate-viewer-scroll-container {
  margin: 0 auto;
  margin-bottom: 20px;
}

.md-content .sf-slate-viewer-scroll-container .article {
  border: 1px solid #ccc;
  box-shadow: 0 0 6px #ccc;
  padding: 70px 75px;
}
