/* .sf-metadata-rc-calendar .rc-calendar-date {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  line-height: 30px;
}

.sf-metadata-rc-calendar table thead tr,
.sf-metadata-rc-calendar .rc-calendar-tbody tr {
  height: inherit;
}

.sf-metadata-rc-calendar .rc-calendar-cell {
  font-size: 12px;
}

.sf-metadata-rc-calendar .rc-calendar-date-panel {
  width: 253px;
}

.sf-metadata-rc-calendar .rc-calendar-selected-day .rc-calendar-date {
  background-color: #fcecd9;
}

.sf-metadata-rc-calendar .rc-calendar-date:hover,
.sf-metadata-rc-calendar .rc-calendar-year-panel-year:hover,
.sf-metadata-rc-calendar .rc-calendar-month-panel-cell .rc-calendar-month-panel-month:hover {
  background-color: #fcecd9;
}

.sf-metadata-rc-calendar .rc-calendar-selected-date .rc-calendar-date,
.sf-metadata-rc-calendar .rc-calendar-selected-date .rc-calendar-date:hover,
.sf-metadata-rc-calendar .rc-calendar-year-panel-selected-cell .rc-calendar-year-panel-year,
.sf-metadata-rc-calendar .rc-calendar-month-panel-selected-cell .rc-calendar-month-panel-month {
  background-color: #f09f3f;
}

.sf-metadata-rc-calendar .rc-calendar-next-year-btn:not([href]):not([tabindex]),
.sf-metadata-rc-calendar .rc-calendar-prev-year-btn:not([href]):not([tabindex]),
.sf-metadata-rc-calendar .rc-calendar-next-month-btn:not([href]):not([tabindex]),
.sf-metadata-rc-calendar .rc-calendar-prev-month-btn:not([href]):not([tabindex]) {
  color: #666666;
}

.sf-metadata-rc-calendar .rc-calendar-next-year-btn:not([href]):not([tabindex]):hover,
.sf-metadata-rc-calendar .rc-calendar-prev-year-btn:not([href]):not([tabindex]):hover,
.sf-metadata-rc-calendar .rc-calendar-next-month-btn:not([href]):not([tabindex]):hover,
.sf-metadata-rc-calendar .rc-calendar-prev-month-btn:not([href]):not([tabindex]):hover {
  color: #666666;
}

.sf-metadata-rc-calendar .rc-calendar-today .rc-calendar-date {
  border: none;
  position: relative;
}

.sf-metadata-rc-calendar .rc-calendar-today .rc-calendar-date::after {
  content: '';
  background: #f09f3f;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  left: 45%;
  bottom: 0%;
  display: inline-block;
}

.sf-metadata-rc-calendar .rdg-editor-container input.editor-main[readonly] {
  background: var(--bs-body-bg);
}

.sf-metadata-rc-calendar .rc-calendar-time-picker {
  z-index: 1;
}

.sf-metadata-rc-calendar .date-picker-container {
  box-sizing: border-box;
  position: relative;
  display: block;
  line-height: 1.5;
  margin-bottom: 22px;
}

.sf-metadata-rc-calendar .date-picker-container-row-expand {
  margin-bottom: 0;
  width: 320px;
}

.sf-metadata-rc-calendar .sf-metadata-rc-calendar-clear {
  position: absolute;
  top: 8px;
  left: 225px;
  fill: gray;
  font-size: 12px;
}

[data-bs-theme=dark] .rc-calendar {
  background-color: var(--bs-popover-bg);
  border: 1px solid var(--bs-border-secondary-color);
  box-shadow: none;
}

[data-bs-theme=dark] .rc-calendar .rc-calendar-input-wrap,
[data-bs-theme=dark] .rc-calendar .rc-calendar-header,
[data-bs-theme=dark] .rc-calendar .rc-calendar-body,
[data-bs-theme=dark] .rc-calendar .rc-calendar-footer {
  border-color: var(--bs-border-secondary-color);
}

[data-bs-theme=dark] .rc-calendar-disabled-cell .rc-calendar-date {
  background: rgba(255, 255, 255, .02);
} */
