.repo-dialog .modal-body label {
  padding: 0.5rem 0 0.25rem;
  font-weight: bold;
  color: #333;
  font-size: 0.8125rem;
}

.repo-dialog .modal-body label.form-check-label {
  font-weight: normal;
  padding: 0.25rem 0;
}

.repo-dialog .modal-body .tip {
  font-weight: normal;
  color: #808080;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}