#notifications {
  position: relative;
  width: 32px;
}

#notice-icon {
  position: relative;
  display: block;
}

@media (max-width: 390px) {
  #notifications {
    margin-left: 8px;
  }
}

#notifications .title {
  line-height: 1.5;
  font-size: 1rem;
  color: #212529;
  font-weight: normal;
}

#notifications .sf2-icon-bell {
  font-size: 24px;
  line-height: 1;
  color: #999;
  vertical-align: middle;
}

#notifications .num {
  position: absolute;
  top: -3px;
  left: 12px;
  padding: 0 2px;
  min-width: 16px;
  height: 16px;
  color: #fff;
  font-size: 9px;
  line-height: 16px;
  text-align: center;
  background: #fc6440;
  border-radius: 100%;
}

#notice-popover {
  top: 38px;
  right: -12px;
}

#notice-popover .outer-caret {
  right: 18px;
}

#notice-popover a {
  font-weight: normal;
}

#notice-popover .avatar {
  border-radius: 1000px;
  float: left;
}

#notice-popover .time {
  margin: 0;
  color: #666;
  text-align: right;
  font-size: 0.8125rem;
  line-height: 1.5rem;
  clear: both;
}

#notice-popover .view-all {
  display: block;
  padding: 7px 0;
  text-align: center;
  color: #666;
}

#notice-popover .sf-popover-close {
  position: absolute;
  right: 10px;
  top: 17px;
}

#notice-popover .sf-popover-hd {
  border-bottom: 1px solid #dfdfe1;
  margin: 0 10px;
}

#notice-popover .sf-popover-con {
  max-height: 25rem;
}
