.cur-view-path .operation-item {
  font-size: 12px;
  height: 24px;
  line-height: 24px;
}

.cur-view-path .sf-heading a {
  color: #EC8000;
}

.cur-view-subcontainer {
  margin: 10px;
}

.cur-view-subcontainer table {
  margin: 8px 0 40px;
}

.org-departments>div {
  height: 100%;
}

.org-members .cur-view-content {
  padding-bottom: 40px;
}

.cur-view-path button:hover {
  cursor: pointer;
}
