.audit-unselect-item {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 1px 8px;
  background: var(--bs-body-secondary-bg);
  cursor: pointer;
  font-size: 14px;
  margin: 8px 0 5px;
}

.cur-view-path .nav .nav-item a {
  padding: 7px 10px;
}
