.org-admin-info-content {
  background: #f5f5f5;
}

.org-admin-info-content .info-content-item {
  padding: 30px;
  background: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  width: calc(50% - 5.5px);
  margin-bottom: 11px;
}

.org-admin-info-content .info-content-item-img {
  margin-right: 15px;
}

.org-admin-info-content .info-content-item-heading {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.org-admin-info-content .info-content-name-text {
  font-size: .875rem;
  margin: 0;
}

.org-admin-info-content .info-content-user-text {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin: 16px 0 0;
}

.org-admin-info-content .info-content-space-text {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 5px 0 0;
}

.org-admin-info-content .progress {
  height: 6px;
  margin: 20px 0 5px;
}

.org-admin-info-content .progress-text {
  font-size: .8125rem;
  color: #666666;
}

#traffic-over-tip-icon {
  color: #bdbdbd;
  font-size: .875rem;
  margin-left: 6px;
}

#traffic-over-tip-icon:hover {
  color: #999999;
}
