.paginator .btn {
  min-width: 2.375rem;
  font-weight: normal;
}

.paginator .paginator-dropdown .btn:active,
.paginator .paginator-dropdown .btn:focus {
  background-color: #fff;
  border-color: #1991eb;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.25);
}

.paginator-dropdown .paginator-dropdown-menu {
  min-width: auto;
}

.paginator-dropdown>.btn .sf3-font {
  color: #666;
}

.paginator-dropdown .paginator-dropdown-menu .paginator-dropdown-item {
  display: flex;
  padding-left: 10px;
  padding-right: 24px;
}

.paginator-dropdown .paginator-dropdown-menu .paginator-dropdown-item .paginator-dropdown-tick {
  display: inline-block;
  width: 14px;
  margin-right: 4px;
}
