.view-published-wiki {
   font-size: .75rem;
   color: #666;
   background: transparent;
   height: 20px; 
   padding: 0 .5rem;
   border: 1px solid #dbdbdb;
   border-radius: 10px;
 } 
 
 .view-published-wiki:hover {
   background: var(--bs-hover-bg);
   text-decoration: none;
   color: #666;
 }
