.sf-releted-files {
  margin-top: 80px;
}

.sf-releted-files-header {
  border-top: 2px dashed #E6E6EB;
}

.sf-releted-files-header h4 {
  font-weight: 400;
  margin-top: 40px;
}

.sf-releted-files .sf-releted-file {
  margin: 20px 0;
}

.sf-releted-files .sf-releted-files h4,
.sf-releted-files .sf-releted-files p {
  margin: 0;
}

.sf-releted-files .sf-releted-file a {
  text-decoration: none;
}

.sf-releted-files .sf-releted-file .card-body {
  padding: 0.5rem 1.5rem;
}

.sf-releted-files .sf-releted-file .card {
  border-radius: 10px;
  background-color: #e5e5ea;
  border-color: #e5e5ea;
}

.sf-releted-files .sf-releted-file .card-title {
  margin: 0 0 2px;
  color: #333;
}

.sf-releted-files .sf-releted-file .card-text {
  color: #888;
}

.sf-releted-file-arrow {
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -8px;
  border-top: 2px solid #aaa;
  border-right: 2px solid #aaa;
  transform: rotate(45deg);
  width: 16px;
  height: 16px;
}