.tag-list-container {
  max-height: 15rem;
  list-style: none;
  overflow: auto;
}

.add-tag-link {
  color: #666;
}

.add-tag-link:hover {
  color: #444;
  text-decoration: none;
  background: #f5f5f5;
}

.tag-list-item {
  height: 2.5rem;
}

.tag-list-item.hl {
  background: #f5f5f5;
}

.tag-selected-icon {
  color: #999;
}

.tag-delete-icon {
  color: #999;
  font-size: 18px;
}

.tag-delete-icon:hover {
  color: #444;
}

.file-tag-item {
  margin: 0.25rem 0;
  padding: 0 0.5rem;
  width: max-content;
  cursor: pointer;
  background-color: #eee;
  border-radius: 1rem;
}

.file-tag-item:hover {
  background-color: #bbb;
}

.tag-dialog-back {
  color: #888;
  cursor: pointer;
  margin-right: 10px;
}

.tag-dialog-back:hover,
.tag-dialog-back:focus {
  color: #444;
}

/* overwrite the code from seafile-ui */
.tag-color-option .colorinput-color::before {
  display: none;
}

.tag-color-option .color-selected {
    opacity: 0;
}

.tag-color-option .colorinput-input:checked ~ .colorinput-color .color-selected {
    opacity: 1;
}
