.seafile-comment {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  height: 100%;
}
.seafile-comment-resizing {
  user-select: none;
}
.seafile-comment-title {
  border-bottom: 1px solid #e5e5e5;
  line-height: 2em;
  padding: 2px 1em;
  display: flex;
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: #fff;
}
.seafile-comment-title .seafile-comment-title-text {
  width: 100%;
}
.seafile-comment-title .seafile-comment-title-toggle {
  display: flex;
}
.seafile-comment-list {
  padding-top: 35px;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
}
.seafile-comment .loading-icon {
  margin-top: 20px;
}
.seafile-comment-list .comment-vacant {
  padding: 15px;
  text-align: center;
}
.seafile-comment-item {
  overflow-y: hidden;
  padding: 15px;
}
.seafile-comment-item-resolved {
  background-color: #e6ffed;
}
.seafile-comment-item .seafile-comment-info {
  display: flex;
}
.seafile-comment-item .seafile-comment-info .reviewer-info {
  padding-left: 10px;
  height: 2rem;
  display: block;
}
.seafile-comment-item .seafile-comment-info .reviewer-name {
  font-size: 1rem;
  height: 1rem;
  line-height: 1rem;
}
.seafile-comment-item .seafile-comment-info .review-time {
  margin-top: 2px;
  font-size: .6rem;
  color: #777;
}
.seafile-comment-item .seafile-comment-info .seafile-comment-dropdown {
  margin-left: auto;
}
.seafile-comment-item .seafile-comment-info .seafile-comment-dropdown button,
.seafile-comment-item .seafile-comment-info .seafile-comment-dropdown button:hover,
.seafile-comment-item .seafile-comment-info .seafile-comment-dropdown button:focus
 {
  border: none;
  box-shadow: none;
  background-color: #fff;
  height: 100%;
}
.seafile-comment-dropdown button:hover i {
  color: #555;
}
.seafile-comment-item .seafile-comment-info .seafile-comment-dropdown .seafile-comment-dropdown-btn {
  color: #999;
}
.seafile-comment-item .seafile-comment-info .seafile-comment-dropdown:hover .seafile-comment-dropdown-btn {
  color: #555;
}
.seafile-comment-item .seafile-comment-content {
  margin-top: 10px;
}
.seafile-comment-item .seafile-comment-content ol,
.seafile-comment-item .seafile-comment-content ul,
.seafile-comment-item .seafile-comment-content li {
  margin-left: 10px;
}
.seafile-comment-item .seafile-comment-content table,
.seafile-comment-item .seafile-comment-content th,
.seafile-comment-item .seafile-comment-content td {
  border: 1px solid #333;
}
.seafile-comment-item blockquote {
  word-wrap: break-word;
  overflow: hidden;
  padding-left: 1rem;
  cursor: pointer;
}
.seafile-comment-row-resize {
  height: 5px;
  width: 100%;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  cursor: row-resize;
  z-index: 1;
}
.seafile-comment-footer {
  background-color: #fafaf9;
  border-top: 1px solid #e5e5e5;
  min-height: 170px;
  position: absolute;
  bottom: 0;
  padding-top: 0;
  width: 100%;
}
.seafile-comment-footer .seafile-add-comment {
  margin: 10px 20px 5px 15px;
  height: 100%;
}
.seafile-comment-footer .seafile-add-comment .add-comment-input {
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #e6e6dd;
  padding: 5px;
  height: calc(100% - 100px);
  min-height: 70px;
  width: 100%;
  resize: none;
}
.seafile-comment-footer .seafile-add-comment .submit-comment {
  height: 28px;
}
@media (max-width: 992px) {
  .seafile-comment-footer {
    min-height: 80px;
  }
  .seafile-comment-footer .seafile-add-comment .add-comment-input {
    min-height: 30px;
  }
  .seafile-comment-list .comment-vacant {
    padding: 10px;
  }
  .seafile-comment {
    font-size: 12px;
  }
  .seafile-comment-footer .seafile-add-comment .submit-comment {
    height: 24px;
  }
  .seafile-comment-footer {
    min-height: 120px;
  }
}