.sdoc-file-history .sdoc-file-history-container {
  flex: 1;
  overflow-x: hidden;
}

.sdoc-file-history .sdoc-file-history-header {
  height: 50px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
}

.sdoc-file-history .sdoc-file-history-header .sdoc-file-history-header-left {
  font-size: 1.25rem;
  flex: 1;
}

.sdoc-file-history .sdoc-file-history-header .file-name {
  flex: 1;
}

.sdoc-file-history .sdoc-file-history-header .sdoc-file-history-header-right {
  height: 100%;
  min-width: 100px;
}

.sdoc-file-history .sdoc-file-history-header .sdoc-file-changes-container {
  height: 32px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.sdoc-file-history .sdoc-file-history-header .sdoc-file-changes-divider {
  border-right: 1px solid #e5e5e5;
  height: 100%;
  width: 1px;
}

.sdoc-file-history .sdoc-file-history-header .sdoc-file-changes-last,
.sdoc-file-history .sdoc-file-history-header .sdoc-file-changes-next {
  padding:  0 8px;
  height: 100%;
}

.sdoc-file-history .sdoc-file-history-header .sdoc-file-changes-last .fas,
.sdoc-file-history .sdoc-file-history-header .sdoc-file-changes-next .fas {
  color: #000;
  opacity: .5;
}

.sdoc-file-history .sdoc-file-history-header .sdoc-file-changes-last:hover,
.sdoc-file-history .sdoc-file-history-header .sdoc-file-changes-next:hover {
  cursor: pointer;
  opacity: .75;
  background-color: #F5F5F5;
}

.sdoc-file-history .sdoc-file-history-header .sdoc-file-changes-last:hover .fas,
.sdoc-file-history .sdoc-file-history-header .sdoc-file-changes-next:hover .fas {
  opacity: .75;
}

.sdoc-file-history .sdoc-file-history-content {
  flex: 1;
  min-height: 0;
  padding: 20px 40px;
  background-color: #F5F5F5;
  overflow-y: scroll;
}

.sdoc-file-history .sdoc-file-history-content .sdoc-file-history-viewer {
  width: 100%;
  min-height: 120px;
  flex: 1;
  background-color: #fff;
  word-break: break-word;
  border: 1px solid #e6e6dd;
}

.sdoc-file-history .sdoc-file-history-content .sdoc-editor-content {
  background-color: #fff;
}

.sdoc-file-history .sdoc-file-history-content .article {
  width: 100%;
  margin: 0;
}

/* panel */
.sdoc-file-history .sdoc-file-history-panel {
  width: 260px;
  border-left: 1px solid #e5e5e5;
}

.sdoc-file-history .sdoc-file-history-panel .sdoc-file-history-select-range {
  padding: 10px 18px;
  height: 50px;;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
}

.sdoc-file-history .sdoc-file-history-panel .sdoc-file-history-select-range-title {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  font-weight: bolder;
  line-height: 29px;
}

.sdoc-file-history .sdoc-file-history-panel .sdoc-file-history-diff-switch {
  padding: 0 18px;
  height: 50px;;
  border-top: 1px solid #e5e5e5;
}

.sdoc-file-history .sdoc-file-history-diff-switch .custom-switch {
  width: 100%;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.sdoc-file-history .sdoc-file-history-diff-switch .custom-switch-description {
  margin-left: 0;
  flex: 1;
  padding-right: 8px;
}

/* history versions */
.sdoc-file-history-versions {
  flex: 1; 
  flex-direction: column;
  min-height: 0;
  overflow: auto;
}

.sdoc-file-history-versions .history-list-item {
  padding: 5px 10px;
  display: flex;
  flex: 1;
  border-bottom: 1px solid #e5e5e5;
}

.sdoc-file-history-versions .history-list-item:last-child {
  border-bottom: none;
}

.sdoc-file-history-versions .history-list-item:not(.item-active):hover {
  background-color: #F5F5F5;
  cursor: pointer;
}

.sdoc-file-history-versions .history-list-item .history-operation:hover {
  cursor: pointer;
}

.sdoc-file-history-versions .history-list-item .history-operation a.fas  {
  color: #888;
}

.sdoc-file-history-versions .history-list-item .history-operation:hover a.fas  {
  color: #333;
}

.sdoc-file-history-versions .history-list-item.item-active {
  background-color: #FFECD9 !important;
}

.sdoc-file-history-versions .history-list-item.item-active .history-info .time  {
  color: #ff8000;
}

.history-info .owner {
  min-height: 22.5px;
}

.sdoc-file-history-versions .dropdown-menu {
  min-width: 8rem;
}

.history-content .main-panel {
  flex: 1 1 auto;
}

.history-content .history-side-panel {
  flex: 0 0 auto;
  user-select: none;
  border-left: 1px solid #e5e5e5;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.history-content .history-side-panel .history-side-panel-title {
  height: 50px;
  border-bottom: 1px solid #e5e5e5;
  line-height: 50px;
  font-size: 1rem;
  padding: 0 10px;
  background-color: rgb(250,250,249);
  font-weight: bolder;
}

@media (min-width:992px) {

  .history-side-panel {
    width: 260px;
  }

}

@media (max-width:768px) {

  .sdoc-file-history .sdoc-file-history-content {
    padding: 0;
  }

  .sdoc-file-history .sdoc-file-history-content .sdoc-file-history-viewer {
    border: none;
  }

  .markdown-viewer-render-content {
    margin: 20px;
  }

  .markdown-viewer-render-content .diff-view {
    padding: 20px;
  }

}
