.modal .seahub-modal-btn.close {
  padding: 14px 16px;
  opacity: 1;
  margin: -1rem -1rem -1rem auto;
  background-color: transparent;
  border: 0;
  float: right;
  font-size: 1.40625rem;
  font-weight: 700;
  line-height: 1;
  color: var(--bs-icon-color);
}

.modal .seahub-modal-btn.close:not(:disabled):not(.disabled):hover {
  opacity: 1;
}

.modal .seahub-modal-btn .seahub-modal-btn-inner {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 3px;
}

.modal .seahub-modal-btn .seahub-modal-btn-inner:hover {
  background-color: var(--bs-hover-bg);
}

.modal .seahub-modal-btn .seahub-modal-btn-inner .sf3-font,
.modal .seahub-modal-btn .seahub-modal-btn-inner .seafile-multicolor-icon {
  width: 16px;
  height: 16px;
  color: var(--bs-icon-color);
}
