.modal .seahub-modal-header {
  display: flex;
  align-items: center;
  min-height: 56px;
  height: 56px;
  padding: 0 16px;
  border-bottom: 1px solid var(--bs-border-secondary-color);
}

.modal .seahub-modal-header .modal-title {
  flex: 1;
  min-width: 0;
  margin: 0;
}

.modal .seahub-modal-header .seahub-modal-title-content {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 0;
  width: 100%;
}

.modal .seahub-modal-btn.close {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  padding: 0;
  opacity: 1;
  margin: 0 0 0 12px;
  background-color: transparent;
  border: 0;
  font-size: 1.40625rem;
  font-weight: 700;
  line-height: 1;
  color: var(--bs-icon-color);
}

.modal .seahub-modal-btn.close:not(:disabled):not(.disabled):hover {
  opacity: 1;
}

.modal .seahub-modal-btn .seahub-modal-btn-inner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 4px;
}

.modal .seahub-modal-btn .seahub-modal-btn-inner:hover {
  background-color: var(--bs-icon-btn-hover-bg-color);
}

.modal .seahub-modal-btn .seahub-modal-btn-inner .seafile-multicolor-icon {
  width: 16px;
  height: 16px;
  color: var(--bs-icon-color);
  font-size: 1rem;
}
