.search-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.search-container {
  position: relative;
  z-index: 2;
}

.search-icon-left {
  display: flex;
}

.search-icon-right {
  display: flex;
  cursor: pointer;
  pointer-events: all;
  font-style: normal;
}

.search-input {
  height: 1.875rem;
  width: 15rem;
}

.search-result-container {
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
}

.search-result-container .search-result-none {
  text-align: center;
  line-height: 4rem;
}

.search-result-container .search-result-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-result-container .search-result-item {
  padding: 0.25rem 0.75rem;
  border-left: 2px solid #fff;
  cursor: pointer;
  font-size: 0.8125rem;
}

.search-result-container .search-result-item:hover {
  border-left: 2px solid #eb8205;
  background-color: #eee;
}

.search-result-item .item-content {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search-result-item .item-name {
  color: #eb8205 !important;
}
.search-result-item .item-link {
  color: #888;
}
.search-result-item .item-text {
  margin: 0;
}
.search-result-item .item-text b {
  font-weight: bold;
}
