.search-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.search-container {
  position: relative;
  z-index: 2;
}

.search-icon-left {
  display: flex;
}

.search-icon-right {
  display: flex;
  cursor: pointer;
  pointer-events: all;
  font-style: normal;
}

.search-input {
  height: 1.875rem;
  width: 15rem;
}

.search-result-container {
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
}

.search-result-container .search-result-none {
  text-align: center;
  line-height: 4rem;
}

.search-result-container .search-result-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-result-container .search-result-item {
  display: flex;
  padding: 0.25rem 0.5rem;
  border-left: 2px solid #fff;
  font-size: 0.8125rem;
  cursor: pointer;
}

.search-result-container .search-result-item:hover {
  border-left: 2px solid #eb8205;
  background-color: #eee;
}

.search-result-item .item-img {
  width: 36px;
  height: 36px;
}
.search-result-item .item-content {
  flex: 1;
  width: 0;
  margin-left: 0.25rem;
}
.item-content .item-name {
  color: #eb8205 !important;
}
.item-content .item-link {
  color: #888;
  margin: 0;
}
.item-content .item-text {
  margin: 0;
}
.item-content .item-text b {
  font-weight: bold;
}

@media (max-width: 767px) {
  .common-toolbar .search {
    margin: 0;
  }
  
  .search-icon-container {
    display: flex;
    width: 2rem;
    align-items: center;
    justify-content: center;
  }

  .search-icon {
    font-size: 1.25rem;
    line-height: 1;
    color: #999;
  }

  .search-container {
    position: fixed;
    z-index: 2;
    top: 5rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }

  .search-input {
    height: 2.5rem;
    width: 20rem !important;
    box-shadow: 5px 5px 5px #888888;
  }

  .search-result-container {
    position: absolute;
    top: 2.5rem;
    left: auto;
    width: 20rem;
  }
}
