@keyframes displayDirentToolbar {
  from {
    top: 24px;
  }
  to {
    top: 0;
  }
}

.cur-view-path .selected-dirents-toolbar {
  height: 24px;
  position: relative;
  animation: displayDirentToolbar .3s ease-in-out 1;
}

.cur-view-path .selected-dirents-toolbar .cur-view-path-btn {
  margin-left: 0;
  margin-right: 20px;
}

.cur-view-path .selected-dirents-toolbar .dropdown {
  vertical-align: unset;
  height: 24px;
}

.cur-view-path .selected-dirents-toolbar .dropdown .cur-view-path-btn {
  margin-top: -4px;
}
