.cur-view-path .selected-dirents-toolbar {
  margin-top: 24px;
  height: 24px;
}

.cur-view-path .selected-dirents-toolbar .cur-view-path-btn {
  margin-left: 0;
  margin-right: 20px;
}

.cur-view-path .selected-dirents-toolbar .dropdown {
  vertical-align: unset;
  height: 24px;
}

.cur-view-path .selected-dirents-toolbar .dropdown .sf3-font-more-vertical {
  margin-top: -4px;
}
