.set-row-height-dropdown-menu {
  min-width: 200px;
  padding: 8px;
}

.set-row-height-dropdown-title {
  color: var(--bs-body-secondary-color);
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 4px;
  padding: 0 12px 4px;
  border-bottom: 1px solid var(--bs-border-color);
}

.set-row-height-dropdown-menu .dropdown-item {
  color: var(--bs-body-color);
  padding-left: 12px !important;
}

.set-row-height-dropdown-menu .dropdown-item .dropdown-item-icon {
  color: var(--bs-icon-color) !important;
  width: 14px;
  height: 14px;
}

.set-row-height-dropdown-menu .dropdown-item:hover {
  background-color: var(--bs-icon-btn-hover-bg-color);
  border-radius: 4px;
}

.set-row-height-dropdown-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1rem;
}

.set-row-height-dropdown-tick {
  width: 26px;
  height: 21px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.set-row-height-dropdown-content {
  min-width: 0;
}

.dropdown-item:hover .set-row-height-dropdown-content .seafile-multicolor-icon {
  color: #fff;
}
