.share-dialog .share-dialog-content {
    padding: 0;
    min-height: 27rem;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.share-dialog-content .share-dialog-side {
    display: flex;
    flex: 0 0 22%;
    padding: 1rem 0 0 1rem;
    border-right: 1px solid #eee;
}

.share-dialog-side .nav-pills .nav-item .nav-link {
    width: 100%;
}

.share-dialog-content .share-dialog-main {
    display: flex;
    flex: 0 0 78%;
    padding: 1rem 1.5rem 2rem;
}
.share-dialog-content .share-dialog-main .tab-content {
    flex: 1;
}
.share-dialog-content .share-dialog-main .tab-pane {
    height: 100%;
}

.share-list-container {
    max-height: 18rem;
    overflow: auto;
    height: 100%;
}

.share-dialog-content label {
    padding: 0.5rem 0 0.25rem;
}

.share-dialog-content label.form-check-label {
    padding: 0.25rem 0;
}

.link-operation-content {
    margin-left: 1.25rem;
}

.link-operation-icon {
    color: #9aa0ac;
}

.tip {
    color: #808080;
    margin-bottom: 1rem;
}

.generate-share-link .passwd,
.generate-upload-link .passwd {
    width: 60%;
}

.generate-share-link .permission {
    margin-left: 1.25rem;
}

.generate-link-btn {
    margin-top: 1.125rem;
}

.share-dialog .nav .nav-item .nav-link {
    padding: 0.3125rem 1rem 0.3125rem 0.25rem;
}

input.expire-input {
    display: inline-block;
    width: 4rem;
    height: 1.5rem;
    padding: 0.25rem 0.25rem;
    margin: 0 0.25rem 0 1.25rem;
}

.share-dialog-main .permission-editor .permission-editor__menu {
  width: 240px;
}
