body {
  overflow: hidden;
}

#wrapper {
  height: 100%;
}

#shared-dir-view .side-panel {
  border-right: 1px solid #eee;
}

#shared-dir-view .meta-info {
  border-bottom: 1px solid #eee;
}

/* tree view */
.tree-node-hight-light {
  border-radius: 4px;
  background-color: #f5f5f5 !important;
}

.tree-node-hight-light::before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  height: 24px;
  left: -8px;
  top: 2px;
  background-color: #ff9800;
  border-radius: 2px;
  z-index: 0;
}

.tree-node-inner {
  position: relative;
  height: 28px;
  padding: 2px;
  cursor: pointer;
  line-height: 1.625;
}

.tree-node-inner-hover {
  background-color: #f0f0f0;
  border-radius: 0.25rem;
}

.tree-node-inner .tree-node-text {
  padding-left: 2.8rem;
  width: calc(100% - 1.5rem);
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
}

.tree-node-inner .left-icon {
  position: absolute;
  display: flex;
  align-items: center;
  top: 1px;
  left: 0;
  padding-left: 1.5rem;
}

.folder-toggle-icon {
  position: absolute;
  left: 0;
  color: #666666;
  line-height: 1.625;
  width: 1.5rem;
  display: flex;
  align-content: center;
  justify-content: center;
}

.tree-node-icon {
  display: inline-block;
  width: 1rem;
  text-align: center;
  color: #666666;
}

/* toolbar  */
#shared-dir-view .path-container .path-item {
  display: inline-block;
  min-width: 0;
  padding: 0 6px;
  font-size: 1rem;
  color: inherit;
  border-radius: 3px;
  text-decoration: none;
}

#shared-dir-view .path-container .path-item:hover {
  background: #efefef;
}

#shared-dir-view .path-container .path-split {
  padding: 0 2px;
  flex-shrink: 0;
}

#shared-dir-view .path-item-dropdown-toggle .sf3-font {
  color: #666;
}

#shared-dir-view .path-item-dropdown-toggle .main-icon {
  margin-right: 2px;
}

@keyframes displaySelectedToolbar {
  from {
    top: 24px;
  }
  to {
    top: 0;
  }
}

.cur-view-path .selected-items-toolbar {
  height: 24px;
  position: relative;
  animation: displaySelectedToolbar .3s ease-in-out 1;
}

.grid-item .action-icon {
  position: absolute;
  top: 10px;
  right: 24px;
  padding: 5px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 3px;
  margin: 0;
}
