#wrapper {
  height: 100%;
}

.shared-file-view-top-head .shared-file-name {
  font-size: .875rem;
  margin-bottom: .25rem;
}

.shared-file-view-top-head .shared-file-path {
  color: #666;
  font-size: .75rem;
}

.shared-file-view-top-head .shared-by {
  color: #666;
  font-size: .75rem;
}

.shared-file-view-head {
  width: 100%;
  height: 60px;
  padding: 0 1rem;
  background: var(--bs-body-bg);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shared-file-view-head .shared-file-name {
  color: #222;
  font-size: 1.4em;
  margin-bottom: 0px;
  font-weight: 400;
}

.shared-file-view-body {
  flex: 1 1 auto;
  padding: 30px 0 15px;
  background: var(--bs-body-secondary-bg);
  border: 1px solid var(--bs-border-secondary-color);
  overflow: auto;
}

.shared-file-view-body.md-view {
  padding: 0;
  display: flex;
  min-height: 0;
}

.shared-file-view-body .sf-slate-viewer-outline {
  top: 145px !important;
}

@media (max-width: 991.98px) {
  .shared-file-view-head {
    width: 100%;
    padding: 10px 20px;
  }
}
