.user-details-popover {
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.14);
  background: #fff;
  z-index: 1000;
  left: 2px;
  top: 24px;
}

.user-details-main {
  border-bottom: 1px solid #eee;
}

.user-details-name {
  font-size: 1rem;
  font-weight: 500;
}

.share-link-container .share-user-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.share-link-container .add-members {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.share-link-container .add-members .share-to-user-select {
  max-width: calc(100% - 10px);
}

.share-link-container .add-members .toggle-detail-btn {
  position: absolute;
  top: 6px;
  right: 20px;
  border-left: 1px solid #ccc;
  padding-left: 9px;
  font-size: 18px;
  color: #999;
  cursor: pointer;
}

.user-select.user-select-right-btn .true__value-container {
  padding-right: 40px;
}
