
.share-dialog {
    color: #333;
    font-size: 0.8125rem;
}

.share-dialog label {
    font-weight: bold;
    padding: 0.5rem 0 0.25rem;
}

.share-dialog label.form-check-label {
    font-weight: normal;
    padding: 0.25rem 0;
}

.link-operation-content {
    margin-left: 1.25rem;
}

.link-operation-icon {
    color: #9aa0ac;
}

.tip {
    color: #808080;
    font-size: 0.75rem;
    margin-bottom: 1rem;
}

.share-dialog .share-dialog-content {
    padding: 1rem 1rem 2rem;
    min-height: 15rem;
    display: flex;
    flex-direction: row;
}

.share-dialog-side {
    display: flex;
    flex: 0 0 22%;
}

.share-dialog-side .nav {
    display: flex;
    flex-direction: column;
}

.share-dialog-main {
    display: flex;
    flex: 0 0 78%;
}
.share-dialog-main .tab-content {
    flex: 1;
}

.generate-share-link .passwd,
.generate-upload-link .passwd {
    width: 60%;
}

.generate-share-link .permission {
    margin-left: 1.25rem;
}

.generate-link-btn {
    margin-top: 1.125rem;
}

a.nav-link {
    display: block;
    padding: 0.25rem 1rem 0.25rem 0.25rem;
    border-radius: 0.25rem;
    color: #747476;
    font-size: 0.875rem;
    outline: none;
    text-decoration: none;
    transition: none;
}

a.nav-link.active {
  color: #ffffff !important;
  background-color: #feac74;
}

a.nav-link.active:hover {
    color: #ffffff;
}
