.user-details-popover {
  border: 1px solid var(--bs-border-secondary-color);
  border-radius: 4px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.14);
  background: var(--bs-body-bg);
  color: var(--bs-body-color);
  z-index: 1000;
  left: 2px;
  top: 24px;
}

.user-details-main {
  border-bottom: 1px solid var(--bs-border-secondary-color);
}

.user-details-name {
  font-size: 1rem;
  font-weight: 500;
}

.share-link-container .share-user-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.share-link-container .add-members {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.share-link-container .add-members .user-item .user-name {
  color: #212529;
}
