.side-nav-icon-tip {
  opacity: 0;
  transform: translateX(0px);
  transition: all 250ms cubic-bezier(0.25, 0.1, 0.25, 0.1);
}

.side-nav-icon-tip.side-nav-icon-tip-animation {
  opacity: 1;
  transform: translateX(20px);
}
