.sf-single-selector .cur-option {
  cursor: pointer;
}

.sf-single-selector .cur-option .toggle-icon {
  color: #999;
}

.sf-single-selector .options-container {
  min-width: 165px;
  background: var(--bs-body-bg);
  border: 1px solid #eee;
  z-index: 2;
}

.sf-single-selector .option-list {
  min-height: 4rem;
  max-height: 200px;
}

.sf-single-selector .option-item {
  cursor: pointer;
}

.sf-single-selector .option-item:hover {
  background: #f5f5f5;
}

.sf-single-selector .option-item-text {
  font-size: 14px;
}
