.sf-dropdown-combined-toggle {
  color: #666;
  padding: 2px 4px;
  border-radius: 3px;
}

.sf-dropdown-combined-toggle:hover {
  background: var(--bs-hover-bg);
}

.sf-dropdown-combined-toggle .main-icon {
  margin-right: 2px;
}

