#info-bar {
  color: #1f0600;
  padding: 4px 10px;
  background: #fddaa4;
}
#info-bar .close {
  font-size: 16px;
  line-height: 1;
  color: #888;
  cursor: pointer;
}
#info-bar-info a {
  color: #a68558;
  text-decoration: underline;
}
