.cur-view-content {
  position: relative;
}

.departments-tree-panel {
  width: 25%;
  border-right: 1px solid var(--bs-border-secondary-color);
  height: 100%;
  overflow: auto;
}

.top-department-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tree-node {
  position: relative;
  display: flex;
  align-items: center;
  height: 28px;
  border-radius: 4px;
  cursor: pointer;
}

.departments-tree-panel .tree-node.active {
  border-radius: 4px;
  background-color: var(--bs-nav-active-bg) !important;
}

.departments-tree-panel .tree-node.active::before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  left: -8px;
  top: 2px;
  bottom: 2px;
  border-radius: 2px;
  background-color: #ff9800;
  z-index: 0;
}

.tree-node:hover {
  background-color: var(--bs-nav-hover-bg);
}

.tree-node .seafile-multicolor-icon {
  color: var(--bs-icon-color);
}

.tree-node .departments-v2-tree-icon {
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tree-node .departments-v2-tree-node-text {
  flex: 1;
  padding-right: 4px;
  line-height: 24px;
  font-size: 14px;
}

.tree-node .right-icon {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tree-node .right-icon:hover {
  background-color: var(--bs-hover-tertiary-bg);
}

.departments-tree-panel .tree-node-children {
  padding-left: 1rem;
  position: relative;
}

.departments-tree-panel .new-dept-btn {
  padding: 0 6px;
  margin-top: 10px;
}

.departments-tree-panel .new-dept-btn-icon {
  font-size: 1rem;
  color: #666;
  margin-right: 2px;
}

.department-content-main {
  flex: 1;
  height: 100%;
}

.department-content-main .create-group-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.department-content-main .cur-view-content .sort-dirent {
  transform: scale(0.8);
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
}

.departments-members-item {
  height: 58px;
}

.department-dropdown-menu .seafile-multicolor-icon-arrow-down {
  width: 12px;
  height: 12px;
}
