.heading {
  padding: 8px 16px;
  background: #f9f9f9;
  font-size: 1rem;
  color: #322;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
}
.content {
  padding: 0rem 1rem 8rem;
  overflow: auto;
}
.info-item {
  margin: 1em 0 3em;
}
.info-item .info-item-heading {
  font-size: 1rem;
  font-weight: normal;
  padding-bottom: 0.2em;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.7em;
}
.btn {
  margin-top: 1rem;
  min-width: 60px;
}