.system-admin-info dt,
.system-admin-info dd {
  color: inherit;
}

.info-item-heading {
  font-size: 1rem;
  font-weight: normal;
  padding-bottom: 0.2em;
  border-bottom: 1px solid var(--bs-border-color);
  margin-bottom: 0.7em;
}

.info-item-content {
  margin-bottom: 2em;
}

.btn {
  min-width: 60px;
}
