.tip-for-new-md {
  padding: 5em 8em; 
  align-self: flex-start; /* for repo wiki mode */
}
.big-new-md-button {
  padding: .9em 2em 1em; 
  background: #eee;
  border-radius: 8px; 
  margin-right: 1.5em;
  cursor: pointer;
}
.big-new-md-button:hover,
.big-new-md-button:focus {
  background: #dfdfdf;
}
.add-md-icon {
  font-size: 1.2em;
}
