.sf-tooltip {
  z-index: 1090;
}

.sf-tooltip .tooltip {
  max-width: 242px;
}

.sf-tooltip .tooltip .tooltip-inner {
  font-size: .875rem;
  text-align: start;
  background-color: var(--bs-emphasis-color);
  color: var(--bs-body-bg);
  border-radius: 4px;
  padding: 4px 8px;
  line-height: 20px;
}

/* Shortcut variant */
.sf-tooltip-shortcut-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  line-height: 20px;
}

.sf-tooltip-shortcut-keys {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
}

.sf-tooltip-shortcut-key {
  display: inline-block;
  padding: 2px 8px;
  border: 1px solid #999;
  border-radius: 4px;
  white-space: nowrap;
  line-height: 14px;
}

/* Confirm variant */
.sf-tooltip-confirm-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.sf-tooltip-text {
  font-size: .875rem;
}

.sf-tooltip-confirm {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sf-tooltip-confirm span {
  font-size: .875rem;
  color: #999;
  line-height: 22px;
}
