.transfer-dialog .transfer-dialog-content {
  padding: 0;
  min-height: 22.5rem;
  display: flex;
  flex-direction: column;
}

.transfer-dialog-content .transfer-dialog-side {
  flex-basis: 22%;
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.transfer-dialog .nav .nav-item .nav-link {
  padding: 0.3125rem 0.25rem;
}

@media (min-width: 768px) {
  .transfer-dialog .transfer-dialog-content {
    flex-direction: row;
  }

  .transfer-dialog-content .transfer-dialog-side {
    border: 0;
    border-right: 1px solid #eee;
  }

  .transfer-dialog-side .nav {
    flex-direction: column;
  }

  .transfer-dialog-side .nav-pills .nav-item .nav-link {
    width: 100%;
    padding: 0.3125rem 0.5rem;
    margin: 0;
  }
}

.transfer-dialog-content .transfer-dialog-main {
  display: flex;
  flex-direction: column;
  flex-basis: 78%;
}

.transfer-dialog-content .transfer-dialog-main .tab-content {
  flex: 1;
  padding: 1rem;
  min-height: 400px;
}

.transfer-dialog-content .transfer-dialog-main .tab-pane {
  height: 100%;
}

.transfer-dialog-content .transfer-dialog-main .transfer-repo-label {
  color: #666;
}

.transfer-dialog-content .transfer-dialog-main .user-select {
  padding: 8px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.transfer-dialog-content .transfer-dialog-main .transfer-repo-reshare-switch .custom-switch {
  padding-left: 0;
}

.transfer-dialog-side .nav-item .nav-link:hover {
  background-color: #f0f0f0;
}

.transfer-dialog-side .nav-item .nav-link.active {
  background-color: #f0f0f0;
  color: inherit;
  position: relative;
}

.transfer-dialog-side .nav-item .nav-link.active::before {
  content: '';
  display: block;
  width: 4px;
  background-color: #ff9800;
  border-radius: 2px;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -8px;
  z-index: 0;
}
