#wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.umind-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.umind-container .umind-header {
  height: 49px;
  display: flex;
}

.umind-header .umind-toolbar {
  display: flex;
  flex: 1;
}

.umind-container .umind-main {
  display: flex;
  flex: 1;
}

.umind-main .umind-editor-container {
  display: flex;
  flex: 1 0 80%;
}

.umind-editor {
  display: flex;
  flex: 1;
}

.umind-main .umind-propty-container {
  display: flex;
  flex: 0 0 20%;
}