#wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.umind-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.umind-container .umind-header {
  padding: 8px;
  border: 1px solid #E6E9ED;
}

.umind-container .umind-body {
  display: flex;
  flex: 1;
}

.umind-header .umind-common-toolbar {
  display: flex;
  flex: 1;
}

.umind-header .umind-custom-toolbar {
  width: auto;
}

.umind-body .umind-editor-content,
.umind-body .umind-editor-sidebar {
  display: flex;
  flex-direction: column;
}

.umind-editor-content .umind-editor {
  display: flex;
  flex: 1;
  background-color: #eee;
}

.umind-editor-sidebar {
  background: #FAFAFA;
}

.umind-editor-sidebar:first-child {
  border-right: 1px solid #E6E9ED;
}

.umind-editor-sidebar:last-child {
  border-left: 1px solid #E6E9ED;
}

.umind-editor-sidebar .detail-panel {
  flex: 1;
  display: flex;
  background: #FAFAFA;
}

.detail-panel .node-detail {
 flex: 1;
 background: #FAFAFA;
}
