.notification-list-dialog {
  width: 720px;
  max-width: calc(100% - 1rem);
  height: calc(100% - 56px);
}

.notification-list-dialog .notification-list-content {
  height: 100%;
}

.notification-header-close {
  display: flex;
}

.notification-header-close .seahub-modal-btn {
  padding: 14px 12px;
}

.notification-header-close .notification-dropdown-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px
}

.notification-header-close .dropdown-menu {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.notification-header-close .dtable-dropdown-menu.large.dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  min-height: unset;
}

.notification-list-content .notification-modal-body {
  height: 100%;
  overflow: hidden;
  padding: 0;
}

.notification-modal-body .notification-dialog-body {
  overflow: auto;
  padding: 2rem 1rem;
  height: 100%;
}

.notification-dialog-body table {
  width: 100%;
  table-layout: fixed;
  overflow-y: auto;
}

.notification-modal-body .notification-dialog-body .paginator {
  height: 38px;
}

.notification-dialog-body table thead tr {
  height: 2.1875rem;
}

.notification-dialog-body table th {
  padding: 0.3125rem 0.1875rem;
  border-bottom: 1px solid #eee;
  text-align: left;
  font-weight: normal;
  line-height: 1.6;
  color: #9c9c9c;
}

.notification-dialog-body table tbody tr:hover {
  background: #f5f5f5;
  cursor: pointer;
}

.notification-dialog-body table td {
  padding: 0.5rem 0.1875rem;
  border-bottom: 1px solid #eee;
  color: #212529;
  font-size: 14px;
  word-break: break-all;
}

.wechat-dialog-body {
  display: flex;
  justify-content: center;
  padding: 3rem;
  flex-direction: column;
  align-items: center;
}

.wechat-dialog-message {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  color: #666;
  font-size: 14px;
}
