body {
  overflow: hidden;
}
#wrapper {
  height: 100%;
}
.top-header {
  background: #f4f4f7;
  border-bottom: 1px solid #e8e8e8;
  padding: .5rem 1rem;
  flex-shrink: 0;
}
.op-bar {
  padding: 9px 10px;
  background: #f2f2f2;
  border-radius: 2px;
}
