#root {
  height: 100%;
}

.txt-file-view {
  height: 100%;
  overflow: hidden;
  padding: 0;
  width: 100%;
  flex-direction: column;
}

.txt-file-view-header {
  width: 100%;
  padding: 12px 15px;
  border-bottom: 1px solid #c9c9c9;
  justify-content: space-between;
  flex-shrink: 0;
}

.txt-file-view-body {
  height: calc(100% - 60px);
  width: 100%;
  background: #f4f4f4;
  border: 1px solid #ededed;
  overflow: auto;
  flex: auto;
  flex-direction: column;
}

.txt-file-view-body .txt-view {
  min-height: 400px;
  margin: 0 auto;
  width: 950px;
  background: #fff;
}

.txt-file-view-body .txt-view .CodeMirror, 
.txt-file-view-body .txt-view-comment .CodeMirror {
  box-shadow: 0 0 6px #ccc;
  border: 1px solid #ccc;
  height: auto;
  min-height: 400px;
  margin: 0 auto;
  line-height: 1.5em;
  overflow: auto;
}

.txt-file-view-body .txt-view .CodeMirror-scroll {
  min-height: 400px;
  margin-right: 0;
}

.file-enc-cont {
  width: 950px;
  height: 24px;
  margin: 10px auto;
  text-align: right;
}

.file-title {
  margin-bottom: 0px;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.file-state {
  font-size: 13px;
  margin-top: 5px;
}

.file-title .file-internal-link,
.file-title .file-star {
  font-size: .875rem;
  cursor: pointer;
  margin-left: .5rem;
  vertical-align: text-bottom;
}

.file-internal-link {
  color: #585858;
}

.txt-file-view-body .txt-view-comment {
  background: #fff;
  display: flex;
  height: 100%;
} 

.txt-file-view-body .txt-view-comment .ReactCodeMirror {
  width: 70%;
  margin: 5px 20px;
  overflow-y: auto;
}

.txt-file-view-body .txt-view-comment .seafile-comment {
  width: 30%;
}
