.view-modes-dropdown-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1rem;
  text-align: center;
}

.view-modes-dropdown-tick {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
}

.view-modes-dropdown-shortcut {
  color: var(--bs-body-secondary-color);
}

.dropdown-item:focus .view-modes-dropdown-shortcut,
.dropdown-item:hover .view-modes-dropdown-shortcut {
  color: #fff;
}

.dropdown-item:hover .seafile-multicolor-icon {
  color: #fff;
}
