.view-modes-dropdown-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1rem;
  text-align: center;
}

.view-modes-dropdown-tick {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-modes-dropdown-content {
  display: flex;
  align-items: center;
}

.view-modes-dropdown-shortcut {
  display: flex;
  align-items: center;
  color: #666;
}

.dropdown-item:hover .view-modes-dropdown-shortcut {
  color: #fff;
}
