.trash-dialog {
  max-width: 1100px;
}

.trash-dialog .modal-header {
  align-items: center;
  display: flex;
}

.trash-dialog .modal-header .button-control {
  margin-left: auto;
}

.trash-dialog .modal-header .clean {
  height: 30px;
  line-height: 28px;
  padding: 0 0.5rem;
}

.trash-dialog .modal-body {
  height: 500px;
  overflow-y: auto;
}

.trash-dialog .modal-body .more {
  background: var(--bs-button-active-bg);
  border: 0;
  color: #666;
}

.trash-dialog .modal-body .more:hover {
  color: #000;
  background: #dfdfdf;
}
