.wiki-side-nav {
  flex:auto;
  display:flex;
  flex-direction:column;
  overflow:hidden; /* for ff */
  border-right:1px solid #eee;
  background: #f5f7fa;
}

.wiki-pages-heading {
  position: relative;
  font-size: 1rem;
  font-weight: normal;
  text-align:center;
  padding:.5rem 0rem;
  border-bottom:1px solid #e8e8e8;
  line-height: 1.5;
  height:40px;
}
.heading-icon {
  position: absolute;
  right: 1rem;
  top: 25%;
  color: #888;  
  font-size: 0.8125rem;
}
.wiki-pages-container {
  overflow: hidden;
  padding-bottom: 10px;
}
.wiki-pages-container:hover {
  overflow: auto;
}
.wiki-pages-container .tree-view {
  padding-left:0;
}

.wiki-md-viewer-rendered-content {
  padding: 30px 0 0;
}

.wiki-main .cur-view-path {
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
}
.wiki-main .cur-view-path::after {
  display:none;
}

img[src=""] {
  opacity: 0;
}

.wiki-main-panel {
  flex: 1 0 80%;
  display:flex;
  flex-direction:column;
  min-height: 0;
}

.wiki-side-panel {
  flex: 0 0 20%;
  display:flex;
  flex-direction:column;
  overflow:hidden;
}
.cur-view-main {
  min-height: 0;
}

.cur-view-container {
  display: flex;
  min-height: 0;
  overflow: auto;
}

.cur-view-container .markdown-container {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex: 1;
  overflow: auto;
  min-height: 0;
}

.cur-view-container .markdown-content {
  width: calc(100% - 160px);
  padding-right: 40px;
}

.cur-view-container .markdown-outline {
  position: fixed;
  padding-right: 18px;
  top: 97px;
  right: 0;
  width: 200px;
  overflow: hidden;
}

.wiki-hide {
  display: none !important;
}

@media (max-width: 991.98px) {
  .cur-view-container .markdown-container {
    padding-right: 40px;
  }
  .cur-view-container .markdown-content {
    width: 100%;
    padding-right: 0;
  }
  .cur-view-container .markdown-outline {
    display: none;
  }
}

.wiki-main .wiki-viewer-outline {
  position: relative;
  top: 0;
  padding: 0;
  list-style: none;
  border-left: solid 1px #eee;
}
.textindent-2 {
  text-indent: 18px;
}

.wiki-main .wiki-outline-item {
  padding: 3px 15px;
  font-size: 14px;
}

.wiki-outline-item a {
  display: block;
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wiki-outline-item a:hover {
  color: #eb8205;
  text-decoration: underline;
}

.wiki-outline-item-active { 
  border-left: 1px solid #eb8205;
}

.wiki-outline-item-active a {
  color: #eb8205 !important;
}

.wiki-page-ops {
    position:fixed;
    top:10px;
}

@media (min-width: 768px) {
    .wiki-page-ops:before {
        content:'';
        border-left:1px solid #ddd;
        position:absolute;
        top:3px;
        left:-16px;
        bottom:3px;
    }
}

.wiki-page-list-item {
    word-break:break-all;
    line-height:1.6;
    margin:3px 0;
}

.wiki-page-link,
.wiki-page-link:hover {
   font-size:1.15em;
   font-weight:normal;
   color:#444;
   margin-left:5px;
}

#wiki-page-last-modified {
    margin-top:40px;
    font-size:12px;
    color: #666;
}

.wiki-md-viewer-rendered-content.article h1 {
  margin-top: 0;
}

.sf-toolbar-btn {
  padding: 0;
  min-width: 32px;
  line-height: 27px;
  font-weight: normal;
  font-size: 18px;
  background: #fff;
  border: 1px solid #ccc;
  color: #aaa !important;
  cursor: pointer;
  border-radius: 0;
}

.sf-toobar-btn-edit {
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-weight: normal;
  border: 1px solid #ccc;
}

.sf-toolbar-btn:hover {
  color: #fff !important;
  background: #ccc;
  cursor: default;
}

.sf-toolbar-btn:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: none;
}