.cur-view-content {
  position: relative;
}

.dir-content-main {
  position: absolute;
  right: 0;
  height: 100%;
  width: 75%;
  overflow-y: hidden;
  padding-right: 1rem;
}

.dir-content-main:hover {
  overflow-y: auto;
}

.dir-content-main table td {
  line-height: 2rem;
}

.dir-content-nav {
  position: absolute;
  overflow: hidden;
  width: 25%;
}

.dir-content-nav:hover {
  overflow: auto;
}

.dir-content-resize {
  position: absolute;
  left: 25%;
  height: 100%;
  width: 1%;
  border-left: 1px solid #eee;
}

.department-children {
  padding-left: 1rem;
  position: relative;
}

.tree-node-inner {
  position: relative;
  display: flex;
  padding-right: 0.5rem;
}

.tree-node-inner .sf3-font-down {
  position: absolute;
  top: 15%;
  left: 0.3rem;
  color: #999;
}

.tree-node-inner-hover {
  background-color: #f0f0f0;
  border-radius: 0.25rem;
  cursor: pointer;
}

.tree-node-hight-light {
  border-radius: 4px;
  background-color: #f5f5f5 !important;
}

.tree-node-hight-light::before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  left: -8px;
  top: 2px;
  bottom: 2px;
  border-radius: 2px;
  background-color: #ff9800;
  z-index: 0;
}

.tree-view .tree-node-icon {
  padding-right: 1.5rem;
}

.tree-view .tree-node-text {
  width: calc(100% - 2.5rem);
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
}

.tree-view .dropdown .right-icon {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  margin-top: 2px;
}

.tree-view .dropdown .right-icon:hover {
  background-color: #dbdbdb;
}
