.cur-view-content {
  position: relative;
}
.dir-content-main {
  position: absolute;
  right: 0;
  height: 100%;
  width: 75%;
  overflow-y: hidden;
  padding-right: 1rem;
}
.dir-content-main:hover {
  overflow-y: auto;
}
.dir-content-main table td {
  line-height: 2rem;
}
.dir-content-main .empty-tip {
  box-shadow: none;
}
.dir-content-main .empty-tip img {
  width: 140px;
  height: 140px;
}
.dir-content-nav {
  position: fixed;
  overflow: hidden;
}
.dir-content-nav:hover {
  overflow: auto;
}
.dir-content-resize {
  position: absolute;
  left: 25%;
  height: 100%;
  width: 1%;
  border-left: 1px solid #eee;
}
.department-children {
  padding-left: 1rem;
  position: relative;
}
.tree-node-inner {
  position: relative;
}
.tree-node-inner i {
  position: absolute;
  top: 20%;
  left: 0.3rem;
}
.tree-node-inner:hover {
  background-color: #FFEFB2;
  border-radius: 0.25rem;
  cursor: pointer;
}
.tree-node-hight-light {
  color: #fff;
  border-radius: 4px;
  background-color: #feac74 !important;
}
.tree-node-text {
  padding-left: 1.3rem;
  width: calc(100% - 1.3rem);
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
}
.tree-view {
  padding: 12px 12px 12px 0;
  flex: 1 1;
}