.sf-select {
  align-items: center;
  justify-content: space-between;
  text-align: left;
  line-height: 1.5;
}

.sf-select.disabled:focus,
.sf-select.focus.disabled,
.sf-select.disabled:hover {
  border-color: var(--bs-form-select-border-color);
  box-shadow: unset;
  cursor: default;
}

.sf-select .seafile-multicolor-icon-down {
  width: 12px;
  height: 12px;
  color: var(--bs-icon-color);
}

.sf-select .selected-option {
  display: flex;
  flex: 1;
  overflow: hidden;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background: inherit;
  color: var(--bs-body-color);
}

.sf-select .selected-option .selected-option-show-container {
  background: var(--bs-body-secondary-bg);
  border-radius: 4px;
  padding: 0px 6px;
  margin-right: 4px;
  height: 24px;
  display: flex;
  align-items: center;
  color: var(--bs-body-color);
}

.sf-select .selected-option .selected-option-show-container .option-remove {
  height: 100%;
  display: inline-flex;
  align-items: center;
  margin-left: 4px;
}

.sf-select .selected-option .selected-option-show-container .seafile-multicolor-icon-close {
  width: 12px;
  height: 12px;
  color: var(--bs-icon-secondary-color);
}

.sf-select .selected-option .custom-select-dropdown-icon {
  height: 12px;
  width: 12px;
  color: var(--bs-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
}

.sf-select.selector-collaborator .sf-option-group .sf-option-group-content,
.sf-select.selector-group .sf-option-group .sf-option-group-content {
  padding: 10px;
}

.sf-select.selector-collaborator .sf-option-group .sf-option-group-content {
  padding: 10px 0;
}

.sf-select.selector-collaborator .option {
  padding: 5px 0 5px 10px !important;
  line-height: 20px;
}

.sf-select.selector-group .option {
  height: 32px;
  display: flex;
  align-items: center;
}

.sf-select.selector-group .select-group-option {
  justify-content: space-between;
}

.sf-select.selector-group .selected-option .selected-group {
  padding: 0 2px;
  background: var(--bs-body-secondary-bg);
  border-radius: 3px;
}

.sf-select .selected-option-show {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sf-select .select-placeholder {
  line-height: 1;
  font-size: 14px;
  white-space: nowrap;
  color: var(--bs-placeholder-color);
  width: calc(100% - 12px);
  margin-right: 8px;
}
