.sf-metadata-record-details-dialog {
  margin: 28px 0 0 0;
}

.sf-metadata-record-details-dialog .modal-header {
  padding: 6px 14px 6px 20px;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details-content {
  display: flex;
  flex-direction: row;
}

.sf-metadata-record-details-dialog .modal-content {
  height: 100%;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sf-metadata-record-details-dialog .header-close-list {
  display: flex;
}

.sf-metadata-record-details-dialog .header-close-list .sf-metadata-icon-btn .sf-metadata-icon {
  color: #000;
  opacity: 0.5;
  font-size: 16px;
}

.sf-metadata-record-details-dialog .header-close-list .sf-metadata-icon-btn:hover .sf-metadata-icon {
  opacity: 0.75;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details-container {
  width: 100%;
  height: calc(100% - 37px);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 30px;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details-container .sf-metadata-record-details-item {
  min-height: 56px;
  flex-shrink: 0;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details-container .sf-metadata-record-details-item:first-child {
  margin-top: 2px;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details-container .sf-metadata-ui.collaborator-item .collaborator-avatar {
  margin-left: 0;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-record-cell-empty,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-text-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-single-select-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-multiple-select-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .multiple-select-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-collaborator-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-date-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-url-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-email-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-ctime-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-mtime-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-number-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-formula-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-duration-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .formula-formatter.multiple,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-link-formula-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-rate-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-link-formatter {
  background-color: #f8f9fa;
  cursor: default;
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: .375rem .75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-clip: padding-box;
  border: 1px solid rgba(0, 40, 100, .12);
  border-radius: 3px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-text-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-url-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-formula-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-email-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-rate-formatter {
  line-height: 24px;
  word-break: break-all;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-single-select-formatter {
  display: flex;
  align-items: center;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-collaborator-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-multiple-select-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .multiple-select-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .formula-formatter.multiple,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-link-formatter {
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  min-height: 38px;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-multiple-select-formatter .select-item,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .multiple-select-formatter .select-item,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .formula-formatter.multiple .formula-formatter-content-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-collaborator-formatter .collaborator-item,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-link-formatter .sf-metadata-link-item {
  margin: 5px 10px 5px 0;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-link-formatter .sf-metadata-link-item {
  height: 20px;
  max-width: 100%;
  padding: 0 8px;
  background: #eceff4;
  border-radius: 3px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-date-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-ctime-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-mtime-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-number-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-formula-number-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-duration-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-formula-date-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-rate-formatter {
  width: 320px;
  line-height: 24px;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-rate-formatter .sf-metadata-icon {
  margin-right: 5px;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-checkbox-formatter {
  width: 24px;
  height: 24px;
  border: 2px solid #e0e0e0;
  border-radius: 3px;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-record-cell-empty.sf-metadata-record-file-cell-empty,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-record-cell-empty.sf-metadata-record-image-cell-empty,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-record-creator-cell-empty,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-record-link-cell-empty {
  display: none;
}

/* long text */
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-long-text-formatter {
  background-color: #f8f9fa;
  cursor: default;
  min-height: 38px;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px;
  padding: 0 12px;
  width: 100%;
  overflow-x: hidden;
  text-overflow: unset;
  white-space: unset;
  line-height: 1.5;
}

.sf-metadata-record-details-dialog .sf-metadata-long-text-formatter ol,
.sf-metadata-record-details-dialog .sf-metadata-long-text-formatter ul {
  padding-inline-start: 40px;
  margin-bottom: 1em;
}

.sf-metadata-record-details-dialog .sf-metadata-long-text-formatter ol li a,
.sf-metadata-record-details-dialog .sf-metadata-long-text-formatter ul li a {
  word-break: break-all;
}

.sf-metadata-record-details-dialog .sf-metadata-long-text-formatter ul.contains-task-list,
.sf-metadata-record-details-dialog .sf-metadata-long-text-formatter ol.contains-task-list {
  padding-inline-start: 20px;
}

.sf-metadata-record-details-dialog .sf-metadata-long-text-formatter ul li.task-list-item,
.sf-metadata-record-details-dialog .sf-metadata-long-text-formatter ol li.task-list-item {
  min-height: 20px;
}

.sf-metadata-record-details-dialog .sf-metadata-long-text-formatter li.task-list-item input[type=checkbox] {
  position: absolute;
  left: -1.4em;
  top: .4em;
  display: inline-block;
}

.sf-metadata-record-details-dialog .sf-metadata-long-text-formatter thead tr {
  min-height: 42px;
}

.sf-metadata-record-details-dialog .sf-metadata-long-text-formatter tbody tr {
  font-weight: normal;
  min-height: 42px;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-geolocation-formatter {
  min-width: 80px;
  width: fit-content;
  max-width: 100%;
  height: 28px;
  display: inline-flex;
  justify-content: center;
  line-height: 24px;
  border: 2px solid transparent;
  padding: 0 10px;
  background-color: #f0f0f0;
  border-radius: 3px;
  font-size: 14px;
  color: #212529;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-formula-number-formatter {
  text-align: left !important;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-digital-sign-formatter {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-creator-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-last-modifier-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-checkbox-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-image-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-file-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-geolocation-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-auto-number-formatter
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-digital-sign-formatter {
  margin-top: 8px;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-image-formatter,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-file-formatter {
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  width: unset;
}

/* image */
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-record-image-item {
  height: 100px;
  width: 100px;
  border: 2px solid #ededed;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  position: relative;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-record-image-item:hover {
  border: 2px solid #c9c9c9;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-record-image-item .image-item,
.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-record-image-item .file-item-icon {
  display: block;
  width: 96px;
  height: unset;
  border: none;
  margin-right: 0;
  border-radius: 4px;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-record-image-item .image-item:hover {
  border: none;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-digital-sign-formatter .sf-metadata-record-image-item {
  width: 200px;
}

.sf-metadata-record-details-dialog .sf-metadata-record-details-item .sf-metadata-record-checkbox-cell-empty {
  background-color: #fff;
  width: 24px;
  height: 24px;
  border: 2px solid #e0e0e0;
  border-radius: 3px;
  padding: 0;
  margin-top: 8px;
}
