.dirent-detail-item .sf-metadata-checkbox-formatter {
  border: 2px solid #e0e0e0;
  border-radius: 3px;
  height: 20px;
  width: 20px;
  overflow: hidden;
}

.dirent-detail-item .sf-metadata-checkbox-formatter .seafile-multicolor-icon-check-mark {
  font-size: 12px;
}

.dirent-detail-item .sf-metadata-single-select-formatter {
  height: 20px;
  line-height: 1 !important;
}

.dirent-detail-item .sf-metadata-ui.collaborator-item .collaborator-avatar {
  margin-left: 1px;
}

.dirent-detail-item .sf-metadata-collaborator-formatter .sf-metadata-ui.collaborator-item {
  margin-bottom: 2px;
  margin-top: 2px;
}

.dirent-detail-item .sf-metadata-record-checkbox-cell-empty {
  line-height: 1;
  height: 20px;
}

.dirent-detail-item .sf-metadata-record-checkbox-cell-empty::before {
  content: '';
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 2px solid #e0e0e0;
  border-radius: 3px;
  line-height: 1;
}

.dirent-detail-item-value:not(.editable) .sf-metadata-property-detail-formatter.collaborators-formatter,
.dirent-detail-item-value:not(.editable) .sf-metadata-single-select-formatter,
.dirent-detail-item-value:not(.editable) .sf-metadata-long-text-formatter {
  padding: 7px 6px;
}

.dirent-detail-item-value:not(.editable) .sf-metadata-single-select-formatter {
  height: 34px;
}

.dirent-detail-item-value:not(.editable) .sf-metadata-multiple-select-formatter {
  flex-wrap: wrap;
  padding: 4px 6px;
}

.dirent-detail-item-value:not(.editable) .sf-metadata-multiple-select-formatter .sf-metadata-ui-select-option {
  margin-top: 3px;
  margin-bottom: 3px;
}

.dirent-detail-item-value:not(.editable) .sf-metadata-long-text-formatter {
  line-height: 1.5;
  height: 34px;
  display: inline-block;
}

.dirent-detail-item-value:not(.editable) .sf-metadata-rate-formatter {
  height: 34px;
  padding: 7px 6px;
}

.dirent-detail-item-value:not(.editable) .sf-metadata-rate-formatter .sf-metadata-rate-item {
  cursor: default;
}

.dirent-detail-item-value:not(.editable) .sf-metadata-tags-formatter {
  padding: 8px 6px;
}

.dirent-detail-item-value:not(.editable) .sf-metadata-tags-formatter .sf-metadata-ui-tags-container {
  width: 100%;
  overflow: hidden;
}

.dirent-detail-item-value:not(.editable) .sf-metadata-tags-formatter .sf-metadata-ui-tags-container .sf-metadata-ui-tag {
  top: 0;
  cursor: default;
}
