.search-trash-input {
  width: 100%;
  height: 38px;
  min-width: 0;
  flex: 1;
}

.trash-input-icon{
  position: absolute;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.trash-input-icon{
  position: absolute;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-icon .search-icon-right.search-filter-controller.active {
  color: #ed7109;
}

