.search-trash .search-trash-input {
  width: 100%;
  height: 38px;
  min-width: 0;
  flex: 1;
}

.search-trash.search-container .input-icon {
  margin: 0px;
}

.search-trash .trash-input-icon {
  position: absolute;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-trash .input-icon .search-icon-right.search-filter-controller.active {
  color: #ed7109;
}

.search-trash .search-icon-left {
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  left: 12px;
  color: #666;
}

.search-trash .search-icon-right {
  position: absolute;
  top: 1px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
}

.search-trash .search-filter-controller {
  position: absolute;
  top: 1px;
  right: 4px;
  color: #666;
  cursor: pointer;
}

.search-trash .search-filter-controller:hover {
  background-color: var(--bs-hover-bg);
  border-radius: 3px;
}
