.sf-metadata-all-tags-tag-files {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.sf-metadata-all-tags-tag-files-header {
  flex-shrink: 0;
  height: 48px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #eee;
}

.sf-metadata-all-tags-tag-files-header .sf-metadata-all-tags-tag-files-header-back {
  font-size: 14px;
  height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -5px;
  border-radius: 3px;
}

.sf-metadata-all-tags-tag-files-header .sf-metadata-all-tags-tag-files-header-back:hover {
  background-color: #EFEFEF;
  cursor: pointer;
}

.sf-metadata-all-tags-tag-files-header .sf-metadata-all-tags-tag-files-header-back .sf3-font-arrow {
  color: #666;
  font-size: 14px !important;
}

.sf-metadata-all-tags-tag-files-header .sf-metadata-all-tags-tag-files-header-name {
  margin-left: 4px;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sf-metadata-all-tags-tag-files .sf-metadata-tags-wrapper {
  flex: 1;
}
