.sf-metadata-tags-formatter .sf-metadata-tags-operation-container {
  display: flex;
  align-items: center;
}

.sf-metadata-tags-formatter .sf-metadata-tags-operation-container .sf-metadata-tags-operation-add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  background: #eceff4;
  border-radius: 3px;
  cursor: pointer;
}

.sf-metadata-tags-formatter .sf-metadata-tags-operation-container .sf-metadata-tags-operation-add-btn:hover {
  background-color: #f2f2f2;
}

.sf-metadata-tags-formatter .sf-metadata-tags-operation-add-btn .sf-metadata-icon-add-table {
  font-size: 12px;
  fill: #212519;
}

.sf-metadata-tags-formatter .sf-metadata-tags-formatter-container {
  display: flex;
  align-items: center;
  width: max-content;
  min-height: 1rem;
  position: relative;
  justify-content: flex-end;
}

.sf-metadata-tags-formatter .sf-metadata-tags-formatter-container .sf-metadata-tag-formatter {
  margin-right: -0.5rem;
  border: 0.125rem solid #fff;
  cursor: pointer;
  position: relative;
  top: 1px;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
