.my-deleted-repos-dialog {
  max-width: 720px;
  height: calc(100% - 56px);
  overflow: hidden;
}

.my-deleted-repos-dialog .modal-content {
  height: 100%;
}

.my-deleted-repos-dialog .my-deleted-repos-container {
  overflow-y: scroll;
}

.my-deleted-repos-empty-tip {
  text-align: center;
  margin: 20px 0;
}

@media (min-width: 768px) {
  .my-deleted-repos-empty-tip {
    margin: 104px 0 216px;
  }

  .my-deleted-repos-empty-tip .empty-explanation {
    margin: 0 7rem;
  }
}

.my-deleted-repos-tip {
  font-size: .8125rem;
  color: var(--bs-body-secondary-color);
}
