.sea-ai-customize-select.sea-ai-chat-selector-display {
  width: fit-content;
  max-width: 100%;
  background-image: none;
  padding: 0 0.75rem;
  height: 36px;
  border-radius: 8px;
  color: var(--bs-body-color);
}

.sea-ai-customize-select.sea-ai-chat-selector-display:not(.border) {
  border: none;
}

.sea-ai-customize-select.sea-ai-chat-selector-display.bg-color {
  background-color: var(--sea-ai-chat-card-bg);
}

.sea-ai-customize-select.sea-ai-chat-selector-display:hover {
  background-color: var(--bs-icon-btn-hover-bg-color);
}

.sea-ai-customize-select.sea-ai-chat-selector-display:not(.border):hover {
  background-color: var(--bs-hover-bg);
}

.sea-ai-customize-select.sea-ai-chat-selector-display.highlight {
  margin: 0;
  min-height: unset;
  max-height: unset;
  color: #ED7109;
  border-color: #ED7109 !important;
  background-color: rgba(237, 113, 9, 0.05);
}

.sea-ai-customize-select.sea-ai-chat-selector-display.highlight .sea-ai-icon-svg {
  color: inherit !important;
}

.sea-ai-customize-select.sea-ai-chat-selector-display .selected-option {
  background-color: transparent;
  gap: 8px;
}

.sea-ai-customize-select.sea-ai-chat-selector-display .selected-option .sea-ai-icon-svg {
  height: 14px !important;
  width: 14px !important;
  color: var(--bs-icon-color);
}

.sea-ai-customize-select.sea-ai-chat-selector-display .selected-option .selected-option-show {
  font-size: 14px;
}
