/*
  the main reason to icon can not be align is that .folder has a real width it take the place
   of .tree-node-inner causing tree-node-icon not aligned , use absolute can make sure .tree-node-icon
   is always at the far left of .tree-node-inner
*/
.side-panel {
  user-select: none;
  height: 100%;
}

.side-panel .nav {
  border-bottom: 1px solid #eee;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 125px;
  height: 36px;
}

.side-panel .nav-link {
  color: #666;
}

.side-panel .nav-link.active {
  color: #ED7109;
}

.side-panel-content {
  padding-top: 8px;
  padding-bottom: 8px;
  height: calc(100% - 36px);
  overflow: auto;
  font-size: 0.875rem;
}

.image-view {
  width: 200px;
  height: 150px;
  position: absolute;
  background: var(--bs-body-bg);
  z-index: 1004;
  box-shadow: 0 0 10px #aaa;
  border-radius: 3px;
  line-height: 150px;
  overflow: hidden;
  font-size: 0;
  text-align: center;
}

.image-view img {
  max-width: 100%;
  max-height: 100%;
}

.image-view i {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 150px;
  font-size: 30px;
  color: #ED7109;
  -moz-animation: rotate 1.5s ease infinite;
  -webkit-animation: rotate 1.5s ease infinite;
  animation: rotate 1.5s ease infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.outline-h2 {
  margin-left: 20px;
  line-height: 2.5;
  color: #364149;
  white-space: nowrap;
  cursor: pointer;
}

.outline-h2:hover {
  color: #ED7109;
}

.outline-h3 {
  margin-left: 40px;
  line-height: 2.5;
  color: #364149;
  white-space: nowrap;
  cursor: pointer;
}

.outline-h3:hover {
  color: #ED7109;
}

.parent-path {
  position: relative;
}

.parent-path .form-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
  margin-left: 0.25rem;
  font-size: 0.9375rem;
}

/* Tree View extensions unique to the Wiki side panel. */
.wiki-side-panel .wiki-pages-container .tree-view {
  margin-left: 10px;
  margin-top: 14px;
  padding: 0 12px 0 0;
}

.wiki-side-panel .tree-view .tree-node-inner-hover {
  background-color: rgb(255, 239, 178);
}

.wiki-side-panel .tree-view .tree-node-inner .tree-node-text {
  width: calc(100% - 1rem);
}

.wiki-side-panel .tree-view .tree-node-inner .left-icon {
  justify-content: center;
}

.wiki-side-panel .tree-view .folder-toggle-icon {
  color: #666666;
  line-height: 1.625;
  align-content: center;
}

.wiki-side-panel .tree-view .tree-node-icon {
  display: inline-block;
  width: 1rem;
  color: #666666;
}

.wiki-side-panel .tree-view .tree-node-inner .right-icon {
  top: 2px;
  right: 1rem;
  bottom: 0;
  width: 1.5rem;
  color: #666;
}

.wiki-side-panel .tree-view .tree-node-inner .right-icon i {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  font-size: 0.8125rem;
  line-height: 1.625rem !important;
  color: #666666;
}

.wiki-side-panel .tree-view .tree-node-hight-light {
  color: #fff;
  background-color: #feac74 !important;
}

.wiki-side-panel .tree-view .tree-node-hight-light::before {
  content: none;
}

.wiki-side-panel .tree-view .tree-node-hight-light i {
  color: #fff;
}
