.sf-metadata-hide-columns-popover .popover {
  width: 300px;
  font-size: 13px;
}

.sf-metadata-hide-columns-popover .empty-hide-columns-container {
  min-height: 80px;
  padding: 16px;
}

.sf-metadata-hide-columns-popover .empty-hide-columns-container .empty-hide-columns-list {
  padding: 0.25rem 10px;
  font-size: 14px;
  color: var(--bs-body-secondary-color);
}

.sf-metadata-hide-columns-popover .sf-metadata-hide-columns-container {
  padding: .5rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sf-metadata-hide-columns-popover .sf-metadata-hide-columns-search-container {
  width: 100%;
  height: 28px;
  padding: 0 10px;
}

.sf-metadata-hide-columns-popover .sf-metadata-hide-columns-search-container .form-control {
  height: 28px;
  width: 100%;
  color: var(--bs-body-color);
}

.sf-metadata-hide-columns-popover .hide-columns-list {
  width: 100%;
  overflow: auto;
  padding: .5rem 0;
}

.sf-metadata-hide-columns-popover .hide-columns-list .hide-column-item {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 4px 20px;
  clear: both;
  font-weight: 400;
  color: var(--bs-body-color);
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.sf-metadata-hide-columns-popover .hide-columns-list .hide-column-item:hover {
  background: var(--bs-tr-hover-bg)
}

.sf-metadata-hide-columns-popover .hide-columns-list .hide-column-item:not(.disabled):hover,
.sf-metadata-hide-columns-popover .hide-columns-list .hide-column-item:not(.disabled):hover * {
  cursor: pointer;
}

.sf-metadata-hide-columns-popover .hide-column-item .hide-column-item-switch {
  flex: 1;
  overflow: hidden;
}

.sf-metadata-hide-columns-popover .hide-column-item .hide-column-item-switch .custom-switch {
  width: 100%;
}

.sf-metadata-hide-columns-popover .hide-column-item .custom-switch {
  padding-left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.sf-metadata-hide-columns-popover .hide-column-item .custom-switch .custom-switch-description {
  margin-left: 0;
  padding-right: 5px;
  flex: 1;
  color: var(--bs-body-color);
  transition: .3s color;
}

.sf-metadata-hide-columns-popover .hide-column-item .custom-switch .custom-switch-indicator {
  border-radius: 6px;
  height: 12px;
  width: 22px;
}

.sf-metadata-hide-columns-popover .hide-column-item .custom-switch .custom-switch-indicator:before {
  height: 8px;
  width: 8px;
}

.sf-metadata-hide-columns-popover .hide-column-item .custom-switch .custom-switch-input:checked~.custom-switch-indicator:before {
  left: 12px;
}

.sf-metadata-hide-columns-popover .hide-column-item .seafile-multicolor-icon {
  font-size: 12px;
  margin-right: 10px;
  fill: #aaa;
}

[data-bs-theme=dark] .sf-metadata-hide-columns-popover .hide-column-item .seafile-multicolor-icon {
  fill: rgba(255, 255, 255, 0.7);
}

.sf-metadata-hide-columns-popover .sf-metadata-hide-columns-operations {
  display: flex;
  justify-content: space-between;
  padding: 0 17px;
  width: 100%;
}

.sf-metadata-hide-columns-popover .sf-metadata-hide-columns-operations .sf-metadata-hide-columns-operation {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bs-tr-hover-bg);
  border-radius: 3px;
  color: var(--bs-body-color);
  height: 28px;
}

.sf-metadata-hide-columns-popover .sf-metadata-hide-columns-operations .sf-metadata-hide-columns-operation:hover {
  background: var(--bs-hover-bg);
  color: var(--bs-body-color);
  cursor: pointer;
}

.sf-metadata-hide-columns-popover .hide-column-item .drag-hide-column-handle {
  width: 14px;
  margin-right: 10px;
}

.sf-metadata-hide-columns-popover .hide-column-item .drag-hide-column-handle .seafile-multicolor-icon {
  margin-right: 0px;
}

.sf-metadata-hide-columns-popover .hide-columns-list .hide-column-item.disabled .drag-hide-column-handle {
  display: none;
}

.sf-metadata-hide-columns-popover .hide-column-item.dragging {
  background-color: #f5f5f5;
}

.sf-metadata-hide-columns-popover .hide-column-item.hide-column-can-drop::after,
.sf-metadata-hide-columns-popover .hide-column-item.hide-column-can-drop-top::before {
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  background: #666;
}

.sf-metadata-hide-columns-popover .hide-column-item.hide-column-can-drop::after {
  bottom: 0;
}

.sf-metadata-hide-columns-popover .hide-column-item.hide-column-can-drop-top::before {
  top: 0;
}
