.metadata-tree-view .metadata-views-icon {
  height: 1rem;
  width: 1rem;
  line-height: 1.5;
  color: var(--bs-icon-color);
  fill: var(--bs-icon-color);
}

.metadata-tree-view .sf-metadata-view-input {
  height: 24px;
  font-size: 14px;
  box-shadow: none;
}

.metadata-tree-view .sf-metadata-view-input.rename {
  width: 95%;
}
