.metadata-slider-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  margin-left: 8px;
  text-align: center;
}

.metadata-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 60px;
  height: 4px;
  border-radius: 2px;
  background: #ccc;
  outline: none;
  opacity: 0.8;
  transition: opacity 0.2s, background 0.2s;
}

.metadata-slider:hover {
  opacity: 1;
  background: #999;
}

.metadata-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border: 2px solid #999;
  border-radius: 50%;
  background: var(--bs-body-bg);
  cursor: pointer;
  transition: background 0.2s, border-color 0.2s;
}

.metadata-slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border: 2px solid #999;
  border-radius: 50%;
  background: var(--bs-body-bg);
  cursor: pointer;
  transition: background 0.2s, border-color 0.2s;
}

.metadata-slider-container .metadata-slider-icon-button {
  min-width: 1.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  box-shadow: none;
  background: transparent;
  color: var(--bs-icon-color);
}

.metadata-slider-container .metadata-slider-icon-button:hover {
  background: #eee;
}
