{% load i18n static %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
<title>{% trans "Log In" %} - {{ site_title }}</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{% trans "File Collaboration Team Organization" %}" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<link rel="shortcut icon" href="{{ MEDIA_URL }}{{ favicon_path }}" />
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/seahub.css?t=1398068110" />
</head>

<body>
<div id="wrapper" class="{{ LANGUAGE_CODE }}">
    <div id="header" class="navbar navbar-fixed-top">
        <div id="header-inner">
            <a href="{{ SITE_ROOT }}" id="logo" class="fleft">
                <img src="{{ MEDIA_URL }}{{ logo_path }}" title="{{ site_title }}" alt="logo" width="{{logo_width}}" height="{{logo_height}}" />
            </a>
        </div>
    </div>
    <div id="main" class="clear container-fluid top-padding">
        <div id="login_container"></div>
    </div>
</div>

<script type="text/javascript" src="{% static "scripts/lib/jquery.min.js" %}"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jq.min.js"></script>
<script src="https://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
<script>
$.ajax({
    url: '{{ info_url }}',
    type: 'GET',
    contentType: "application/json",
    headers: {'deviceType': 'box'},
    success: function(data) {
        console.log(JSON.stringify(data));
        var d = data.data;
        d['appid'] = d['appId'];
        d.id = "login_container";
        d.redirect_uri = "{{ redirect_uri }}";
        var obj = new WxLogin(d);
        console.log(d);
    },
    error: function(xhr, ajaxOptions, thrownError) {
        console.log(thrownError || xhr.statusText);
    }
});
</script>
</body>
</html>
