<script type="text/javascript">
$('#id_avatar').change(function() {
    // check file extension
    var file = $(this).val();
    var extension = file.substr((file.lastIndexOf('.') +1));
    var allowed_ext = ['jpg', 'png', 'jpeg', 'gif'];
    var allow = false;
    for (e in allowed_ext) {
        if (extension == allowed_ext[e]) {
            allow = true;
            break;
        }
    }
    if (!allow) {
        var err_msg = extension + ' is an invalid file extension. Authorized extensions are : ' + allowed_ext;
        feedback(err_msg, 'error');
        return false;        
    }

    // check file size is less than 1MB
    if (this.files && this.files[0].size > 1024*1024) {
        feedback('Your file is too big, the maximum allowed size is 1MB', 'error');
        return false;        
    }
    
    $('#id_avatar_form').submit();
    return false;
})
</script>
