{% if groups %}
var Bottom_bar = '<div id="bottom-bar"><button id="recommend">推荐到小组</button> <button>发送到私信</button></div>';
{% else %}
var Bottom_bar = '<div id="bottom-bar"><button>发送到私信</button></div>';
{% endif %}

$('#wrapper').append(Bottom_bar);
$('#bottom-bar').css({'position':'fixed', 'bottom':0, 'left':$('#main').offset().left + $('#main').width() + 15});
$('#recommend').click(function() {
    $('#recommend-form').modal({appendTo: '#main'});
});
$('#main-panel').css('margin-bottom', '28px');
$('#footer').addClass('hide');
