{% load i18n %}
<h3>{% trans 'Recent Events' %}</h3>
<ul id="events" class="hide"></ul>
<div id="events-loading" class="hide"><img src="{{MEDIA_URL}}img/loading-icon.gif" alt="{% trans 'Loading...' %}" /></div>
<button id="events-more" class="hide">{% trans 'More' %}</button>
<p id="events-error" class="error hide"></p>
<form id="repo-set-password-form" class="hide">
    <h3>{% trans 'Library' %} <span class="repo-name"></span> {% trans 'is encrypted' %}</h3>
    <input type="hidden" name="repo_id" value="" />
    <label>{% trans 'Password：' %}</label>
    <input type="password" name="password" maxlength="64" />
    <p class="tip">{% trans 'The password will be kept in the server for only 1 hour.' %}</p>
    <p class="error"></p>
    <input type="submit" class="submit" value="{% trans 'Submit' %}" />
    <button class="simplemodal-close">{% trans 'Cancel' %}</button>
</form>
<div id="ls-ch" class="hide"></div><!--list modification details of a commit-->
