{% if filetype == 'Text' %}
<script type="text/javascript" src="{{MEDIA_URL}}codemirror/codemirror.js"></script>
{% endif %}
{% if filetype == 'PDF' %}
    {% if pdf_use_flash %}
    <script type="text/javascript" src="{{MEDIA_URL}}flexpaper/js/flexpaper_flash.js"></script>
    {% else %}
    <script type="text/javascript" src="{{MEDIA_URL}}js/pdf.js"></script>
    {% endif %}
{% endif %}
{% if filetype == 'Document' %}
<script type="text/javascript" src="{{MEDIA_URL}}flexpaper/js/flexpaper_flash.js"></script>
{% endif %}
{% if filetype == 'Markdown' %}
<script type="text/javascript" src="{{MEDIA_URL}}js/showdown.js"></script>
{% endif %}
