{% load i18n %}
$("#group-add").click(function() {
    $("#group-add-form").modal({appendTo: "#main"});
});

$('#group-add-form').submit(function() {
    if (!$.trim($('#group_name').val())) {
        apply_form_error('group-add-form', "{% trans "Group name can't be empty" %}");
        return false;
    }

    var submit_btn = $(this).children('input[type="submit"]');  
    disable(submit_btn);
    $.ajax({
        url: '{{ post_url }}',
        type: 'POST',
        dataType: 'json',
        cache: 'false',
        beforeSend: prepareCSRFToken,
        data: {
            'group_name': $('#group_name').val()
        },
        success: function(data) {
            if (data['success']) {
                location.reload(true);
            } else {
                apply_form_error('group-add-form', data['error']);
                enable(submit_btn);
            }
        },
        error: function(data, textStatus, jqXHR) {
            var errors = $.parseJSON(data.responseText);
            $.each(errors, function(index, value) {
                if (index == 'error') {
                    apply_form_error('group-add-form', value);
                } else {
                    apply_form_error('group-add-form', value[0]);
                }
            });
            enable(submit_btn);
        }
    });

    return false;
});
