<!-- <script type="text/javascript"> -->
{% load i18n %}
function get_commit_diff(url, callback) {
    $.ajax({
        url: url,
        dataType: 'json',
        cache: false,
        contentType: 'application/json; charset=utf-8',
        success: function(data) {
            var con = '';
            var show = function(data_) {
                con += '<ul>';
                for (var i = 0, len = data_.length; i < len; i++) {
                    con += '<li>' + data_[i] + '</li>';
                }
                con += '</ul>';
            };
            if (data['new'].length > 0) {
            con += '<h3 id="ls-ch-new">{% trans "New files" %}</h3>';
                show(data['new']);
            }
            if (data['removed'].length > 0) {
                con += '<h3 id="ls-ch-rm">{% trans "Deleted files" %}</h3>';
                show(data['removed']);
            }
            if (data['renamed'].length > 0) {
            con += '<h3 id="ls-ch-rn">{% trans "Renamed or Moved files" %}</h3>';
                show(data['renamed']);
            }
            if (data['modified'].length > 0) {
            con += '<h3 id="ls-ch-modi">{% trans "Modified files" %}</h3>';
                show(data['modified']);
            }
            if (data['newdir'].length > 0) {
            con += '<h3 id="ls-ch-newdir">{% trans "New directories" %}</h3>';
                show(data['newdir']);
            }
            if (data['deldir'].length > 0) {
            con += '<h3 id="ls-ch-deldir">{% trans "Deleted directories" %}</h3>';
                show(data['deldir']);
            }
            if (!con) {
            con = '<p>{% trans "No conflict in the merge." %}</p>';
            }
            callback(con);
        }
    });
}

function list_commit_change(obj) {
    var url = obj.attr('href');
    get_commit_diff(url, function(content) {
        var time = '<p><span class="commit-time">' + obj.attr('data') + '</span></p>';
        var title = '<h2>{% trans "Modification Details" %}</h2>' + time;
        $('#ls-ch').html(title + content).modal({
            appendTo:'#main',
            maxHeight: window.innerHeight - 57,
            autoResize:true
        });
    });
}

$('.lsch').click(function() {
    list_commit_change($(this));
    return false;
});
