{% load group_avatar_tags %}
<div class="info-item">
<h3 class="info-item-top">我的群组</h3>
{% if groups %}
<ul class="info-item-bottom ovhd">
    {% for group in groups %}
    <li class="mygroup">
    <a href="{{ SITE_ROOT }}group/{{ group.props.id }}/" class="no-deco">
        <img src="{% grp_avatar_url group.props.id 48 %}" alt="{{ group.props.group_name }}的图标" title="{{ group.props.group_name }}" class="avatar" />
    </a>
	<a href="{{ SITE_ROOT }}group/{{ group.props.id }}/" title="{{ group.props.group_name }}">{{ group.props.group_name }}</a>
	</li>
    {% endfor %}
</ul>
{% else %}
<p class="info-item-bottom">暂无</p>
{% endif %}
</div>
