{% load seahub_tags %}
<h3>我拥有的资料库</h3>
<button id="repo-create">新建资料库</button>
{% if owned_repos %}
<table>
    <tr>
        <th width="4%"><!--icon--></th>
        <th width="24%">名字</th>
        <th width="40%">描述</th>
        <th width="20%">更新时间</th>
        <th width="12%">操作</th>
    </tr>
    {% for repo in owned_repos %}
    <tr>
        <td><img src="{{MEDIA_URL}}img/sync-folder-20.png" title="可读写" alt="目录icon" /></td>
        <td><a href="{{ SITE_ROOT }}repo/{{ repo.props.id }}/">{{ repo.props.name }}</a></td>
        <td>{{ repo.props.desc }}</td>
        {% if repo.latest_modify %}
        <td>{{ repo.latest_modify|translate_commit_time }}</td>
        {% else %}
        <td>--</td>
        {% endif %}
        <td>
            <img src="{{ MEDIA_URL }}img/download-20.png" data="{{ repo.props.id }}" class="download-btn op-icon vh" title="下载到本地" alt="下载" />
            <img src="{{ MEDIA_URL }}img/share-20.png" data="{{ repo.props.id }}" class="repo-share-btn op-icon vh" title="共享" alt="共享" />
            <img src="{{ MEDIA_URL }}img/delete-20.png" data="{{ SITE_ROOT }}repo/remove/{{ repo.props.id }}/?next={{ request.path }}" class="repo-delete-btn op-icon vh" title="删除" alt="删除" />
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
