$(function() {
    //repo-share-form share-list autocomplete
    var share_list = [];
    {% for contact in contacts %}
    share_list.push('{{ contact.contact_email }}');
    {% endfor %}

    {% for group in groups %}
    share_list.push('{{ group.props.group_name }} <{{ group.props.creator_name }}>');
    {% endfor %}

    $(".repo-share-btn").click(function() {
        $("#repo_id").val($(this).attr("data"));
        $("#repo-share-form").modal({appendTo: "#main"});
        addAutocomplete('#email_or_group', '#repo-share-form', share_list);
        $('.ui-autocomplete').css({'max-height': window.innerHeight - $('.ui-autocomplete-input').offset().top - $('.ui-autocomplete-input').height() - 10});
    });

    //check before post
    $('#share-submit-btn').click(function() {
        if (!$.trim($('#email_or_group').attr('value'))) {
            apply_form_error('repo-share-form', '输入不能为空。');
            return false;
        }
    });

    addConfirmTo($('.repo-delete-btn'));
    
    addConfirmTo($('.unshare-btn'), '确定要取消共享？');

    $(".download-btn").click(function() {
            window.open('{{ SITE_ROOT }}seafile_access_check/?repo_id=' + $(this).attr('data'));
       });

//show op images when mouse hover on
    $("table tr:gt(0)").hover(
        function() {
            $(this).find('img').css('cursor', 'pointer').removeClass('vh');
        },
        function() {
            $(this).find('img').addClass('vh');
        }
    );
});
