{% load seahub_tags  %}
<h3>共享给我的同步目录</h3>
{% if in_repos %}
<table>
    <tr>
        <th width="20%">名字</th>
        <th width="40%">描述</th>
        <th width="15%">更新时间</th>
        <th width="15%">共享来源</th>
        <th width="10%">操作</th>
    </tr>

    {% for repo in in_repos %}
    <tr>
        <td><a href="{{ SITE_ROOT }}repo/{{ repo.props.id }}">{{ repo.props.name }}</a></td>
        <td>{{ repo.props.desc }}</td>
        {% if repo.latest_modify %}
        <td>{{ repo.latest_modify|translate_commit_time }}</td>
        {% else %}
        <td>--</td>
        {% endif %}
        <td>{{ repo.props.shared_email|email2nickname }}</td>
        <td>
            <img src="{{ MEDIA_URL }}img/sync-20.png" data="{{ repo.props.id }}" class="download-btn vh" title="同步到本地" alt="同步" />
            <img src="{{ MEDIA_URL }}img/delete-20.png" data="{{ SITE_ROOT }}shareadmin/removeshare/?repo_id={{ repo.id }}&from={{ repo.shared_email }}&to={{ request.user }}" class="unshare-btn vh" title="取消共享" alt="取消共享" />
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>暂无</p>
{% endif %}
