{% load seahub_tags  %}
<h3>共享给我的资料库</h3>
{% if in_repos %}
<table>
    <tr>
        <th width="4%"><!--icon--></th>
        <th width="20%">名字</th>
        <th width="36%">描述</th>
        <th width="15%">更新时间</th>
        <th width="15%">共享来源</th>
        <th width="10%">操作</th>
    </tr>

    {% for repo in in_repos %}
    <tr>
        <td>
            {% if repo.user_perm == 'rw' %}
            <img src="{{MEDIA_URL}}img/sync-folder-20.png" title="可读写" alt="目录icon" />
            {% else %}
            <img src="{{MEDIA_URL}}img/folder-no-write-20.png" title="只读" alt="目录icon" />
            {% endif %}
        </td>
        <td><a href="{{ SITE_ROOT }}repo/{{ repo.props.repo_id }}">{{ repo.props.repo_name }}</a></td>
        <td>{{ repo.props.repo_desc }}</td>
        {% if repo.props.last_modified %}
        <td>{{ repo.props.last_modified|translate_commit_time }}</td>
        {% else %}
        <td>--</td>
        {% endif %}
        <td>{{ repo.props.user|email2nickname }}</td>
        <td>
	    {% if repo.user_perm == 'rw' %}
            <img src="{{ MEDIA_URL }}img/download-20.png" data="{{ repo.props.repo_id }}" class="download-btn op-icon vh" title="下载到本地" alt="下载" />
	    {% endif %}
            <img src="{{ MEDIA_URL }}img/delete-20.png" data="{{ SITE_ROOT }}shareadmin/removeshare/?repo_id={{ repo.props.repo_id }}&from={{ repo.props.user }}&to={{ request.user }}" class="unshare-btn op-icon vh" title="取消共享" alt="取消共享" />
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>暂无</p>
{% endif %}
