.sf-metadata-selector-collaborator.seafile-customize-select .seafile-select-option {
  line-height: 20px;
  padding: 5px 10px 5px 10px !important;
}

.sf-metadata-selector-collaborator.seafile-customize-select .seafile-select-option:hover {
  background-color: #f7f7f7;
  color: #212529;
}

.sf-metadata-selector-collaborator.seafile-customize-select .selected-option-show {
  text-overflow: clip;
}
