.sf-metadata-view-kanban-board {
  width: 278px;
  flex-shrink: 0;
}

.sf-metadata-view-kanban-board:first-child {
  margin-left: 8px;
}

.sf-metadata-view-kanban-boards.readonly .sf-metadata-view-kanban-board:last-child {
  padding-right: 8px;
  width: 286px;
}

.sf-metadata-view-kanban-board .smooth-dnd-container.vertical {
  height: calc(100% - 40px);
  margin: 0 4px;
}

.sf-metadata-view-kanban-boards.readonly .smooth-dnd-container.vertical {
  height: calc(100% - 36px) !important;
}

.sf-metadata-main .kanban-drag-card {
  transform: rotateZ(5deg);
  cursor: grabbing;
}

.sf-metadata-view-kanban-board .card-drop-preview {
  position: relative;
  background: var(--bs-body-bg);
  box-sizing: border-box;
}

.sf-metadata-view-kanban-board .card-drop-preview::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  pointer-events: none;
  border: 1px solid transparent;
  border-radius: 6px;
  background: 
    repeating-linear-gradient(to right, #aaa 0 4px, transparent 4px 8px) top / 100% 1px no-repeat,
    repeating-linear-gradient(to right, #aaa 0 4px, transparent 4px 8px) bottom / 100% 1px no-repeat,
    repeating-linear-gradient(to bottom, #aaa 0 4px, transparent 4px 8px) left / 1px 100% no-repeat,
    repeating-linear-gradient(to bottom, #aaa 0 4px, transparent 4px 8px) right / 1px 100% no-repeat;
}
