.sf-metadata-view-kanban-board {
  width: 278px;
  flex-shrink: 0;
}

.sf-metadata-view-kanban-board:first-child {
  margin-left: 8px;
}

.sf-metadata-view-kanban-board .smooth-dnd-container.vertical {
  height: calc(100% - 32px);
  margin: 0 8px;
}

.sf-metadata-view-kanban-board .smooth-dnd-container.vertical .smooth-dnd-draggable-wrapper:last-child .sf-metadata-kanban-card {
  margin-bottom: 0;
}

.sf-metadata-view-kanban-board .smooth-dnd-container.vertical > .smooth-dnd-draggable-wrapper {
  overflow: visible;
}

.sf-metadata-view-kanban-boards.readonly .sf-metadata-view-kanban-board:last-child {
  margin-right: 0;
  padding-right: 16px;
}
