{% load i18n %}
<li class="wiki-page-item-wrapper" role="treeitem" aria-expanded="{% if item.has_children %}{% if item.is_expanded %}true{% else %}false{% endif %}{% else %}false{% endif %}">
  <div class="wiki-page-item readonly{% if item.is_current %} selected-page{% endif %}">
    <a class="wiki-page-item-main"
       href="{{ item.url }}"
       {% if item.is_current %}aria-current="page"{% else %}aria-current="false"{% endif %}
       title="{{ item.name }}">
      <div class="wiki-page-content"{% if item.depth > 0 %} style="margin-left: {% widthratio item.depth 1 24 %}px;"{% endif %}>
        {% if item.has_children %}
        <div class="wiki-nav-item-icon{% if item.is_expanded %} expanded{% endif %}" tabindex="0" role="button" aria-label="{% trans 'Toggle navigation section' %}" aria-expanded="{% if item.is_expanded %}true{% else %}false{% endif %}">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="9 18 15 12 9 6"></polyline>
          </svg>
        </div>
        {% endif %}

        <span class="nav-item-icon">
          {% if item.icon %}
          <span style="font-size: 14px;">{{ item.icon }}</span>
          {% elif item.has_children %}
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
            <path d="M3 7.5A1.5 1.5 0 0 1 4.5 6H10l1.5 2H19.5A1.5 1.5 0 0 1 21 9.5v7A1.5 1.5 0 0 1 19.5 18h-15A1.5 1.5 0 0 1 3 16.5z"></path>
          </svg>
          {% else %}
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
            <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
            <polyline points="14 2 14 8 20 8"></polyline>
          </svg>
          {% endif %}
        </span>

        <span class="wiki-page-title text-truncate">{{ item.name }}</span>
      </div>
    </a>
  </div>

  {% if item.children %}
  <ul class="wiki-nav-children{% if not item.is_expanded %} collapsed{% endif %}" role="group"{% if item.is_expanded %} style="height: auto;"{% else %} style="height: 0;"{% endif %}>
    {% for item in item.children %}
      {% include "wiki/_wiki_publish_ssr_nav_item.html" with item=item %}
    {% endfor %}
  </ul>
  {% endif %}
</li>
