{% extends "base_for_react.html" %}
{% load render_bundle from webpack_loader %}
{% block extra_style %}
{% render_bundle 'wiki' 'css' %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
    window.wiki = {
        config: {
            slug: "{{ wiki.slug }}",
            repoId: "{{ wiki.repo_id }}",
            serviceUrl: "{{ service_url}}",
            initial_file_path: "{{ file_path }}",
            permission: "{{ user_can_write }}"
        }
    };
</script>

{% render_bundle 'wiki' 'js' %}
{% endblock %}
