.dirent-detail-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  font-size: 14px;
}

.dirent-detail-item:last-child {
  margin-bottom: 0;
}

.dirent-detail-item .dirent-detail-item-name {
  width: 160px;
  padding: 7px 6px;
  min-height: 34px;
  height: fit-content;
  color: #666;
  font-size: 14px;
  line-height: 1.4;
}

.dirent-detail-item .dirent-detail-item-name .sf-metadata-icon {
  margin-right: 6px;
  font-size: 14px;
  fill: #999;
}

.dirent-detail-item .dirent-detail-item-value {
  width: 200px;
  display: flex;
  padding: 7px 6px;
  min-height: 34px;
  height: fit-content;
}

.dirent-detail-item .dirent-detail-item-value.editable:hover {
  cursor: pointer;
}

.dirent-detail-item .dirent-detail-item-name:hover,
.dirent-detail-item .dirent-detail-item-value:hover {
  background-color: #F5F5F5;
  border-radius: 3px;
  cursor: default;
}

.dirent-detail-item .dirent-detail-item-value .text-formatter,
.dirent-detail-item .dirent-detail-item-value .ctime-formatter,
.dirent-detail-item .dirent-detail-item-value .mtime-formatter,
.dirent-detail-item .dirent-detail-item-value .date-formatter {
  line-height: 1.5;
}

.dirent-detail-item .dirent-detail-item-value .date-formatter {
  text-align: left;
}

.dirent-detail-item-value .creator-formatter {
  height: 20px;
}

.dirent-detail-item-value .sf-metadata-record-cell-empty::before {
  content: attr(placeholder);
  color: #666;
  font-size: 14px;
}

/*  */
.cur-view-detail-small .dirent-detail-item .dirent-detail-item-name {
  width: 44%;
}

.cur-view-detail-small .dirent-detail-item .dirent-detail-item-value {
  width: 56%;
}

.cur-view-detail-large .dirent-detail-item .dirent-detail-item-name {
  width: 160px;
}

.cur-view-detail-large .dirent-detail-item .dirent-detail-item-value {
  flex: 1;
}
