.sf-metadata-kanban-add-category-popover .popover {
  width: 360px;
  max-width: none;
  padding: 1rem 0 0;
}

.sf-metadata-kanban-add-category-popover .kanban-popover-body {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.sf-metadata-kanban-add-category-popover .kanban-popover-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}
