.sf-metadata-gallery-container {
  height: 100%;
  padding: 0 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: left;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.sf-metadata-gallery-container-all {
  padding-top: 4px;
}

.metadata-gallery-date-group {
  width: 100%;
  position: relative;
}

.metadata-gallery-date-tag {
  height: 2.75rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  z-index: 1;
  user-select: none;
}

.metadata-gallery-main {
  flex: 1;
}

.metadata-gallery-image-list {
  display: grid;
  gap: 2px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.metadata-gallery-image-item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.metadata-gallery-image-item-selected {
  border: 2px solid #ff9800;
}

.metadata-gallery-grid-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
  user-select: none;
}

.metadata-gallery-grid-image:hover {
  transform: scale(1.05);
}

.sf-metadata-gallery-loading-more {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.metadata-gallery-year-group,
.metadata-gallery-month-group {
  display: flex;
  gap: 18px;
}

.metadata-gallery-year-group .metadata-gallery-image-item,
.metadata-gallery-month-group .metadata-gallery-image-item {
  border-radius: 6px;
  box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.2);
}
