[data-bs-theme=light] {
  /* common */
  --bs-workflow-btn-border-color: #ff9800;
  --bs-workflow-btn-border-color-80: #ff980080;

  /* canvas */
  --bs-workflow-canvas-bg: hsl(220, 50%, 99%);
  --bs-workflow-canvas-dot-color: #aaa;

  /* node */
  --bs-workflow-node-border-color: #eaeaea;
  --bs-workflow-node-border-hover-color: var(--bs-workflow-btn-border-color-80);
  --bs-workflow-node-selected-border-color: var(--bs-workflow-btn-border-color);

  /* handle */
  --bs-workflow-handle-color: #bdbdbd;

  /* edge */
  --bs-workflow-edge-color: #bdbdbd;
  --bs-workflow-edge-selected-color: #ff9800;
  --bs-workflow-edge-hover-color: #ff980080;
}

[data-bs-theme=dark] {
  /* common */
  --bs-workflow-btn-border-color: #ff9800;
  --bs-workflow-btn-border-color-80: #ff980080;

  /* canvas */
  --bs-workflow-canvas-bg: hsl(220, 50%, 99%);
  --bs-workflow-canvas-dot-color: #aaa;

  /* node */
  --bs-workflow-node-border-color: #eaeaea;
  --bs-workflow-node-border-hover-color: var(--bs-workflow-btn-border-color-80);
  --bs-workflow-node-selected-border-color: var(--bs-workflow-btn-border-color);

  /* handle */
  --bs-workflow-handle-color: #bdbdbd;

  /* edge */
  --bs-workflow-edge-color: #bdbdbd;
  --bs-workflow-edge-selected-color: #ff9800;
  --bs-workflow-edge-hover-color: #ff980080;
}

.workflow-canvas .workflow-canvas-bg {
  background-color: var(--bs-workflow-canvas-bg);
}

.workflow-canvas .react-flow__controls-button {
  width: 38px;
  height: 38px;
  padding: 0;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.workflow-canvas .react-flow__controls-button svg {
  width: 16px;
  height: 16px;
  max-width: 16px;
  max-height: 16px;
  fill: var(--bs-icon-color);
}

.workflow-canvas .react-flow__attribution {
  background: none !important;
}

.workflow-canvas .react-flow__pane.selection {
  cursor: default !important;
}

.workflow-canvas .react-flow__node.draggable {
  cursor: pointer !important;
}

.workflow-canvas .react-flow__node.draggable.dragging {
  cursor: grabbing !important;
}

.workflow-canvas .react-flow__edge-custom .react-flow__edge-path {
  stroke: var(--bs-workflow-edge-color);
  stroke-width: 2;
}

.workflow-canvas .react-flow__edge-custom .react-flow__edge-path.--hovered {
  stroke: var(--bs-workflow-edge-hover-color);
}

.workflow-canvas .react-flow__edge-custom.selected .react-flow__edge-path.--hovered,
.workflow-canvas .react-flow__edge-custom.selected .react-flow__edge-path {
  stroke: var(--bs-workflow-edge-selected-color);
}
