.sf-table-wrapper .sf-interaction-mask .rdg-selected {
  border: 2px solid #3e84f7;
}

.sf-table-wrapper .sf-interaction-mask .rdg-selected-range {
  background-color: rgba(62, 132, 247, 0.1);
}

.sf-table-wrapper .sf-interaction-mask .rdg-selected .drag-handle,
.sf-table-wrapper .sf-interaction-mask .rdg-selected-range .drag-handle,
.sf-table-wrapper .sf-interaction-mask .checkbox-editor-container .drag-handle {
  pointer-events: auto;
  position: absolute;
  bottom: -5px;
  right: -4px;
  background: #3e84f7;
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  border-right: 0px;
  border-bottom: 0px;
  cursor: crosshair;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

.sf-table-wrapper .sf-interaction-mask .rdg-selected .drag-handle:hover,
.sf-table-wrapper .sf-interaction-mask .rdg-selected-range .drag-handle:hover,
.sf-table-wrapper .sf-interaction-mask .checkbox-editor-container .drag-handle:hover {
  bottom: -8px;
  right: -7px;
  background: white;
  width: 16px;
  height: 16px;
  border: 1px solid #3e84f7;
  z-index: 2;
}

.sf-table-wrapper .sf-interaction-mask .react-grid-cell-dragged-over-down {
  border-top-width: 0;
}

.sf-table-wrapper .sf-interaction-mask .react-grid-cell-dragged-over-up,
.sf-table-wrapper .sf-interaction-mask .react-grid-cell-dragged-over-down {
  border: 1px dashed #3e84f7;
  background: rgba(62, 132, 247, 0.1) !important;
}
