.sf-metadata-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  position: relative;
  border: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sf-metadata-wrapper .table-left-operations,
.sf-metadata-wrapper .table-right-operations {
  display: flex;
  align-items: center;
}

.sf-metadata-wrapper .table-left-operations .custom-filter-label {
  padding: 0 0.5rem;
}

.sf-metadata-wrapper .table-left-operations .custom-sort-label,
.sf-metadata-wrapper .table-left-operations .custom-hide-column-label,
.sf-metadata-wrapper .table-left-operations .custom-groupby-label {
  padding: 0 0 0 0.5rem;
}

.sf-metadata-wrapper .table-left-operations .custom-filter-label.active {
  background-color: #d1f7c4;
}

.sf-metadata-wrapper .table-left-operations .custom-sort-label.active {
  background-color: #f5d9bc;
}

.sf-metadata-wrapper .table-left-operations .groupbys-setting-btn.active {
  background-color: #dad7ff;
}

.sf-metadata-wrapper .table-left-operations .custom-hide-column-label.active {
  background-color: #d7e8ff;
}

.sf-metadata-wrapper .table-left-operations .custom-filter-label.active:hover,
.sf-metadata-wrapper .table-left-operations .custom-sort-label.active:hover,
.sf-metadata-wrapper .table-left-operations .custom-hide-column-label.active:hover,
.sf-metadata-wrapper .table-left-operations .groupbys-setting-btn.active:hover {
  box-shadow: inset 0 0 0 2px rgb(0 0 0 / 10%);
}

.sf-metadata-result.success {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  height: 100%;
  width: fit-content;
  max-width: 100%;
}

.sf-metadata-result-container {
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.sf-metadata-result-content {
  height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  user-select: none;
}

.static-sf-metadata-result-content {
  width: 100%;
  position: relative;
  background: #f9f9f9;
  border-bottom: 1px solid var(--bs-border-color);
  z-index: 3;
}

.static-sf-metadata-result-content .sf-metadata-result-table-row {
  position: relative;
  width: fit-content;
}

.static-sf-metadata-result-content .sf-metadata-result-table-row .frozen-columns {
  background-color: var(--bs-th-bg);
}

.record-HeaderCell__draggable {
  position: absolute;
  top: 0px;
  right: -2px;
  width: 5px;
  border-radius: 3px;
  margin: 3px 0px;
  height: 80%;
  cursor: col-resize;
  z-index: 1;
}

.record-HeaderCell__draggable:hover {
  background-color: #2d7ff9;
}

.sf-metadata-record-header-cell .sf-metadata-result-table-cell {
  overflow: unset;
}

.sf-metadata-result-table-row {
  width: 100%;
  border-bottom: 1px solid var(--bs-border-color);
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 0;
  transition: all 0.3s;
}

.static-sf-metadata-result-content.grid-header .sf-metadata-result-table-row {
  border-bottom: none;
  background-color: var(--bs-th-bg);
}

.sf-metadata-result-table-content .sf-metadata-result-table-row {
  background: var(--bs-body-bg);
}

.sf-metadata-result-content .frozen-columns .sf-metadata-result-table-cell {
  position: relative;
}

.sf-metadata-result-column-content {
  height: 100%;
  width: 100%;
  text-align: left;
  line-height: 32px;
}

.sf-metadata-result-column-content.row-index {
  text-align: center;
}

.sf-metadata-result-column-content .sf-metadata-font {
  font-size: 14px;
  color: #aaa;
}

.sf-metadata-result-column-content .header-name {
  overflow: hidden;
}

.sf-metadata-result-column-content .header-name-text {
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sf-metadata-result-column-content .header-name-text.double {
  white-space: normal;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 46px;
  height: fit-content;
}

.sf-metadata-result-table-content {
  flex: 1 1;
  position: relative;
  overflow-y: scroll;
  min-width: 100%;
}

.sf-metadata-result-table-content .sf-metadata-result-loading {
  position: absolute;
  left: 50vw;
}

.sf-metadata-result-table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.table-main-interval {
  height: 20px;
  position: relative;
  width: 100%;
  background-color: #f9f9f9;
}

.sf-metadata-tooltip .tooltip-inner {
  max-width: 242px;
  font-weight: lighter;
  text-align: start;
  background-color: #303133;
}

.sf-metadata-tooltip .bs-tooltip-right .arrow::before,
.sf-metadata-tooltip .bs-tooltip-auto[x-placement^="right"] .arrow::before {
  border-right-color: #303133;
}

.sf-metadata-tooltip .bs-tooltip-top .arrow::before,
.sf-metadata-tooltip .bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: #303133;
}

.sf-metadata-tooltip .bs-tooltip-bottom .arrow::before,
.sf-metadata-tooltip .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: #303133;
}

.sf-metadata-tooltip .bs-tooltip-left .arrow::before,
.sf-metadata-tooltip .bs-tooltip-auto[x-placement^="left"] .arrow::before {
  border-left-color: #303133;
}

/* records count */
.sf-metadata-result.success .sf-metadata-result-footer {
  height: 32px;
  width: 100%;
  overflow: hidden;
  line-height: 32px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  padding: 0 8px;
}

.sf-metadata-result.success .sf-metadata-result-footer .tip {
  color: #666666;
}

.formula-formatter-content-item {
  margin-right: 10px;
  font-size: 13px;
  max-width: 100%;
  display: inline-flex;
}

.formula-formatter-content-item.simple-cell-formatter {
  height: 20px;
  padding: 0 8px;
  align-items: center;
  background: #eceff4;
  border-radius: 3px;
  color: #212529;
}

.formula-formatter-content-item.simple-cell-text-formatter {
  height: fit-content;
  min-height: 20px;
  padding: 0 8px;
  align-items: center;
  background: #eceff4;
  border-radius: 3px;
}

.formula-ellipsis .sf-metadata-font {
  font-size: 12px;
}

.formula-formatter-content-item .checkbox {
  transform: unset;
}

.formula-formatter-content-item .collaborator {
  margin-right: 0;
}

.checkbox-editor-rows-container .grid-checkbox-row-checkbox {
  margin-top: 0;
}

/* common */
.sf-metadata-result-container.horizontal-scroll .table-last--frozen {
  box-shadow: 2px 0 5px -2px rgb(136 136 136 / 30%) !important;
}

.table-last--frozen {
  border-right: 1px solid #cacaca !important;
}

.row-locked .actions-cell::after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 0;
  height: 0;
  border-top: 10px solid #f25041;
  border-left: 10px solid transparent;
}

/* table cell editor */
.table-cell-editor .number-editor,
.table-cell-editor .duration-editor {
  text-align: right;
}

.table-cell-editor .checkbox-editor-rows-container {
  align-items: center;
}

.table-cell-editor .rate-editor .rate-item {
  padding-right: 0;
}

.rdg-editor-container .rate-editor {
  width: 100%;
  height: calc(100% - 1px);
  border: 2px solid #66afe9;
  border-right: none;
  border-bottom: none;
  /* background: var(--bs-body-bg); */
  box-sizing: border-box;
  padding: 0 8px 2px 6px;
  align-items: center;
}

.rdg-editor-container .checkbox-editor-rows-container {
  justify-content: center;
}

.geolocation-editor-container {
  background: var(--bs-body-bg);
  box-shadow: 0 0 5px #ccc;
  border-radius: 4px;
  position: relative;
  display: inline-block;
  min-width: max-content;
  width: 400px;
}

.geolocation-editor-container .geolocation-selector-container {
  position: absolute;
  min-width: 400px;
  top: 100%;
  left: 0;
  background: var(--bs-body-bg);
  box-shadow: 0 0 5px #ccc;
  min-height: 165px;
}

.geolocation-editor-container .geolocation-selector-header {
  height: 45px;
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 5px 20px 0 20px;
  align-items: flex-end;
}

.geolocation-editor-container .geolocation-selector-header-item {
  border: 1px solid #ccc;
  height: 35px;
  margin-right: 10px;
  display: flex;
  margin-bottom: -1px;
  border-radius: 3px 3px 0 0;
  padding: 10px;
  line-height: 15px;
  cursor: pointer;
  font-size: 14px;
  word-break: keep-all;
}

.geolocation-editor-container .selected-geolocation-selector-header-item {
  border-bottom: 1px solid #fff;
}

.geolocation-editor-container .geolocation-map-editor {
  height: 384px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.sf-metadata-wrapper .sf-metadata-main {
  flex: 1;
  overflow: hidden;
}

.sf-metadata-wrapper .sf-metadata-main .sf-metadata-container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sf-metadata-wrapper .sf-metadata-main .sf-metadata-container-transform {
  transform: translateZ(10px);
}

.sf-metadata-result-table .group-header-left .formatter-show {
  display: inline-flex;
  flex: 1;
  width: calc(100% - 15px);
  position: relative;
}

.sf-metadata-result-table .group-header-left .sf-metadata-link-formatter {
  display: inline-flex;
  flex-wrap: nowrap;
}

.sf-metadata-result-table .group-header-left .sf-metadata-link-formatter .sf-metadata-link-item {
  max-width: 230px;
}

.sf-metadata-record-header-cell .sf-metadata-dropdown-menu {
  padding: 0 5px;
  width: 20px;
}

.sf-metadata-wrapper .table-main-container {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.sf-metadata-tip-default {
  font-size: 13px;
  color: #666;
}
