#wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.wiki-repo-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
}

.wiki-repo-view-header {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wiki-repo-view-content {
  flex: 1;
  display: flex;
}
