.sdoc-share-link-tab-table table,
thead,
tbody {
  display: block;
}

.sdoc-share-link-tab-table thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.sdoc-share-link-tab-table thead {
  width: calc(100% - 1em)
}

.sdoc-share-link-tab-table thead {
  width: calc(100% - 1em)
}

.sdoc-share-link-tab-table table,
thead,
tbody {
  display: block;
}

.sdoc-share-link-tab-table thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.sdoc-share-link-tab-table th:nth-child(1),
td:nth-child(1) {
  width: 5%;
}

.sdoc-share-link-tab-table th:nth-child(2),
td:nth-child(2) {
  width: 26%;
}

.sdoc-share-link-tab-table th:nth-child(3),
td:nth-child(3) {
  width: 30%;
}

.sdoc-share-link-tab-table th:nth-child(4),
td:nth-child(4) {
  width: 25%;
}

.sdoc-share-link-tab-table th:nth-child(5),
td:nth-child(5) {
  width: 14%;
}

.sdoc-share-link-tab-table thead {
  width: calc(100% - 1em)
}

.sdoc-share-link-tab-table tbody {
  height: 450px;
  overflow: auto;
}
