.search-column-container {
  padding: 8px 16px;
}

.search-column-container .form-control {
  height: 2rem;
}

.column-type-item:hover {
  color: var(--bs-body-color);
  background-color: var(--bs-dropdown-tertiary-bg);
}

.column-type-item .sf-metadata-icon {
  color: #aaa;
  margin-right: 8px;
  flex-shrink: 0;
}

.sf-metadata-column-type-dropdown-menu .column-type-item.dropdown-item .seafile-multicolor-icon {
  color: #aaa;
}

.sf-metadata-column-type-dropdown-menu .column-type-item.dropdown-item .seafile-multicolor-icon-down {
  color: var(--bs-icon-color);
}
