.dirent-detail-item-value-map {
  height: 200px;
  width: 100%;
}

.dirent-detail-item-value-map.error-message {
  word-break: break-word;
  padding: 8px;
  margin: auto;
  height: auto;
  border-radius: 3px;
}

.dirent-detail-item-value-map .sf-map-control-container {
  height: 22px;
}

.dirent-detail-item-value-map .sf-map-control-container .sf-map-control .sf-map-control-icon {
  font-size: 12px;
}

.dirent-detail-item-value-map .sf-map-control-container.sf-map-zoom-control-container .sf-map-control {
  width: 30px;
  height: 22px;
}

.dirent-detail-item-value-map .sf-map-control-container .sf-map-control-divider::before {
  height: 14px;
}

.dirent-detail-item-value-map .sf-map-control-container.sf-map-zoom-control-container {
  right: 10px !important;
  bottom: 16px !important;
}

.dirent-detail-item-value-map .sf-metadata-ui.sf-metadata-geolocation-formatter {
  width: 100%;
  cursor: pointer;
}

.sf-metadata-record-cell-empty {
  position: relative;
  width: 100%;
  padding: 7px 6px 0 6px;
}

.sf-metadata-record-cell-empty:empty::before {
  content: attr(placeholder);
  color: var(--bs-body-secondary-color);
}

.sf-metadata-geolocation-property-detail-editor-popover .popover.show {
  width: 500px;
  max-width: 500px;
  border: none;
  background-color: transparent;
  transform: translateX(-140px);
}
