.sf-metadata-edit-option-color {
  border-radius: 3px;
}

.sf-metadata-edit-option-color .seafile-multicolor-icon-drop-down {
  font-size: 12px;
}

/* edit color popover */
.sf-metadata-edit-option-color-popover .popover {
  max-width: 425px;
  padding-top: 5px;
  padding-left: 5px;
}

.sf-metadata-edit-option-color-popover .sf-metadata-edit-option-color-item-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.sf-metadata-edit-option-color-popover .col-auto {
  padding-left: 3px;
}

.sf-metadata-edit-option-color-popover .sf-metadata-edit-option-color-item-container {
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border: 1px solid rgba(0, 40, 100, .12);
  color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}

.sf-metadata-edit-option-color-popover .sf-metadata-edit-option-color-item-container::before {
  display: none;
}

.sf-metadata-edit-option-color-popover .sf-metadata-edit-option-color-item-container:not(.selected) .seafile-multicolor-icon-check-mark {
  display: none;
}
