.tag-tree-node .tag-tree-node-color {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.tag-tree-node .tag-tree-node-text {
  display: flex;
  align-items: center;
}

.tag-tree-node .tag-tree-node-text .tag-tree-node-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}

.tag-tree-node .tag-tree-node-text .tag-tree-node-count {
  color: #666;
  font-size: 14px;
  margin-left: 8px;
  padding-right: 14px;
  min-width: 36px;
  text-align: right;
}

.metadata-tree-view .tag-tree-node .tag-tree-node-text {
  width: calc(100%);
}

.metadata-tree-view .tag-tree-node .right-icon:hover {
  background-color: unset;
}
