.insert-column {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--bs-icon-secondary-color);
}

.insert-column:hover .seafile-multicolor-icon {
  color: var(--bs-icon-color);
}
