.seafile-editor-resize {
  height: 100%;
  width: 3px;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  cursor: col-resize;
}

.editor-container {
  /* this container is needed to show the scroll bar */
  height: 100%;
  overflow-y: auto;
  flex: 1 1 auto;
}
.editor {
  min-height: calc(100% - 40px);
  background: #fff;
  padding:30px 30px 15px;
  margin: 20px 40px;
  border: 1px solid rgb(230,230,221);
}

.seafile-editor-help {
  width: 250px;
  height: 100%;
  flex: 0 0 350px;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 1px solid #eee;
}

.seafile-editor-help .help-header{
  height: 50px;
  background-color: rgb(250,250,249);
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  line-height: 50px;
  font-size: 1rem;
}

.seafile-editor-help .help-title {
  font-weight: bolder;
  margin-bottom: 0;
}

.help-close {
  font-weight: normal;
  color: #b9b9b9;
}

.help-close:hover {
  color: #888;
}

.help-content {
  height: calc(100% - 50px);
  overflow-y: auto;
  padding: 0 15px;
  box-sizing: border-box;
  font-size: 0.8rem;
}

.help-shortcut {
  display: flex;
  height: 50px;
  border-bottom: 1px solid #eee;
  justify-content: space-between;
  line-height: 50px;
  color: #2c2d30;
}

.help-content .help-shortcut-type {
  border-bottom: 1px solid #eee;
  /*height: 50px;*/
  line-height: 2;
  font-weight: bolder;
  margin: 10px 0 0 0;
}

.help-shortcut .key {
  display: inline-block;
  border-radius: 3px;
  background-color: #e8e8e8;
  border: 1px solid #919191;
  box-shadow: 0 1px 0 #919193;
  padding: 3px 5px;
  margin-left: 5px;
  height: 30px;
  line-height: 20px;
  margin-top: 10px;
}