.seafile-editor-resize {
  height: 100%;
  width: 3px;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  cursor: col-resize;
}

.editor-container {
  /* this container is needed to show the scroll bar */
  height: 100%;
  overflow-y: auto;
}
.editor {
  min-height: calc(100% - 40px);
  background: #fff;
  padding:30px 30px 15px;
  margin: 20px 40px;
  border: 1px solid rgb(230,230,221);
}
