.wiki-collaborators-btn-container {
  height: 24px;
  width: auto;
  padding: 0 4px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color: #666666;
}

.wiki-collaborators-btn-container svg,
.wiki-collaborators-btn-container path {
  width: 16px;
  height: 16px;
  color: #666666;
  fill: #666;
  cursor: pointer;
} 

.wiki-collaborators-btn-container:hover {
  background-color: #efefef;
  cursor: pointer
}

.wiki-collaborators-btn-container .sdocfont {
  color: #666666;
  cursor: pointer;
}
