.sf-metadata-filter-popover .sf-popover-container {
  right: 0;
}

.sf-metadata-filter-popover .popover {
  max-width: none;
  min-width: 300px;
  border: none;
}

.sf-metadata-filter-popover .sf-metadata-filters {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  overflow: visible;
  padding: 8px 0;
}

.sf-metadata-filter-popover .filter-group-title {
  width: calc(100% - 32px);
  height: 40px;
  line-height: 40px;
  margin: 0 16px;
  border-bottom: 1px solid var(--bs-border-secondary-color);
}

.sf-metadata-filter-popover .filter-group-container {
  padding: 0 12px;
}

.sf-metadata-filter-popover .filter-group-advanced {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sf-metadata-filter-popover .filter-group-advanced .filter-group-container {
  flex: 1;
}

.sf-metadata-filter-popover .sf-metadata-filter-popover-add-btns {
  display: flex;
  align-items: center;
  background: inherit;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 8px 8px 0;
  border-top: 1px solid var(--bs-border-secondary-color);
}

.sf-metadata-filter-popover .add-item-btn.popover-add-tool {
  height: 32px;
  padding: 0 8px;
  width: fit-content;
  max-width: 100%;
  border-radius: 3px;
  font-size: .875rem;
  font-weight: 400;
}

.sf-metadata-filter-popover .seafile-option-group {
  min-width: 200px;
}
