.wiki-file-preview-drawer {
  width: 100%;
  height: 100%;
}

.wiki-file-preview-drawer .wiki-file-preview-panel-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.wiki-file-preview-drawer .wiki-file-preview-panel-header {
  padding: 0 16px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EAECEF;
}

.wiki-file-preview-drawer .wiki-file-preview-panel-header .wiki-file-preview-panel-header-left {
  display: flex;
  align-items: center;
}

.wiki-file-preview-drawer .wiki-file-preview-panel-header-right .file-preview-full-screen {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  width: 24px;
  margin-right: 8px;
}

.wiki-file-preview-drawer .wiki-file-preview-panel-header-right .file-preview-full-screen:hover {
  border-radius: 3px;
  background-color: #EFEFEF;
}

.wiki-file-preview-drawer .wiki-file-preview-panel-header-right .file-preview-full-screen .icon-font {
  color: #999;
  font-size: 14px;
}

.wiki-file-preview-drawer .wiki-file-preview-panel-header .wiki-file-preview-panel-header-left .wiki-detail-header-icon-container {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 32px;
  width: fit-content;
  justify-content: center;
}

.wiki-detail-header-icon-container .wiki2-top-nav .wiki2-top-nav-item:hover {
  background-color: unset !important;
  cursor: unset !important;
}

.wiki-file-preview-drawer .wiki-file-preview-panel-header .wiki-file-preview-panel-header-left .name.ellipsis {
  color: var(--bs-body-color);
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 .5rem 0 6px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wiki-file-preview-drawer .wiki-file-preview-panel-header .wiki-file-preview-panel-header-left .title {
  color: #212529;
  font-size: 16px;
  font-weight: 500;
}

.wiki-file-preview-drawer .wiki-file-preview-panel-header .wiki-file-preview-panel-header-right {
  display: flex;
}

.wiki-file-preview-drawer .wiki-file-preview-panel-body {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.wiki-file-preview-panel-body .wiki-file-preview-container {
  overflow: auto;
}

.wii-file-preview-container  .wiki-preview-container {
  width: 100% !important;
  padding: 0px;
  pointer-events: none;
  user-select: auto;
}

.wiki-file-preview-panel-body .sdoc-editor-content {
  min-width: unset !important;
}

.wiki-file-preview-panel-body .wiki-page-title-wrapper {
  padding: 0 8px !important;
}

.wiki-zoom-out-container a,
.wiki-file-preview-panel-body a {
  color: #212529;
  font-weight: 500;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: rgb(55 53 47 / 25%);
}

.wiki-zoom-out-container .wiki-page-cover,
.wiki-file-preview-panel-body .wiki-page-cover {
  height: 30vh !important;
}

.wiki-zoom-out-container .wiki-page-cover,
.wiki-zoom-out-container .wiki-page-title-wrapper,
.wiki-file-preview-panel-body .wiki-page-cover,
.wiki-file-preview-panel-body .wiki-page-title-wrapper {
  pointer-events: none;
}

.wiki-zoom-out-container .wiki-page-title-wrapper .wiki-sdoc-title,
.wiki-file-preview-panel-body .wiki-page-title-wrapper .wiki-sdoc-title {
  font-size: 26pt;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.wiki-zoom-out-container .sdoc-editor-content.readonly,
.wiki-file-preview-panel-body .sdoc-editor-content.readonly {
  position: unset !important;
  min-width: unset !important;
}

.wiki-file-preview-drawer .wiki-file-preview-panel-body .sdoc-article-container {
  width: 100% !important;
  padding: 0px;
  pointer-events: none;
  user-select: auto;
}

.wiki-file-preview-panel-body .sdoc-article-container .article.sdoc-editor__article {
  border: none;
  box-shadow: none;
  padding: 8px 16px !important;
}

.wiki-file-preview-panel-body .sdoc-article-container .sdoc-table-wrapper {
  max-width: none !important;
}

.wiki-zoom-out-container .sdoc-outline-wrapper,
.wiki-file-preview-panel-body .sdoc-outline-wrapper {
  display: none !important;
}

.wiki-zoom-out-container {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.wiki-zoom-out-container .file-preview-zoom-out-container {
  pointer-events: auto;
  background: #fff;
  border-radius: 12px;
  width: 80%;
  max-height: 80%;
  overflow: auto;
}

.wiki-zoom-out-container .file-preview-zoom-out-container .article {
  padding: 40px;
  pointer-events: none;
}
