.activity-details {
  text-decoration: underline;
  cursor: pointer;
  color: var(--bs-body-secondary-color);
}

.activity-details:hover {
  color: var(--bs-body-color);
}

.mobile-activity-time {
  display: inline-block;
  margin-bottom: .2em;
}

.files-activities-user-selector .cur-activity-modifiers {
  height: 24px;
  padding: 0 4px;
  margin-left: -4px;
}

.files-activities-user-selector .cur-activity-modifiers:hover {
  background-color: var(--bs-icon-btn-hover-bg-color);
  cursor: pointer;
}

.files-activities-user-selector .cur-activity-modifiers .toggle-icon {
  color: var(--bs-icon-secondary-color);
}

.activity-modifier-selector-container {
  width: 320px;
  z-index: 2;
}

.nav.nav-indicator-container .nav-item .nav-link {
  border: none;
  margin: 0;
}

.relative-time,
.small-lib-link {
  color: var(--bs-body-secondary-color);
}
