.sf-metadata-view-kanban-card {
  padding: 10px;
  margin: 8px;
  border-radius: 6px;
  border: 1px solid #eee;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 0px 3px #0000001f;
  font-size: 14px;
  overflow: visible;
}

.sf-metadata-view-kanban-card:hover {
  box-shadow: 0px 0px 6px #0000002e;
}

.sf-metadata-view-kanban-card.dragging {
  opacity: 0.5;
}

.sf-metadata-view-kanban-card .kanban-card-header .cell-formatter-container {
  font-weight: 500;
  margin: 0;
}

.sf-metadata-view-kanban-card .kanban-card-body {
  display: flex;
  flex-direction: column;
}

.sf-metadata-view-kanban-card .kanban-card-body.card-text-wrap .text-formatter {
  max-height: 68px;
  white-space: normal;
}

.sf-metadata-view-kanban-card .kanban-card-body.card-text-wrap .long-text-formatter {
  display: block;
  height: auto;
  max-height: 68px;
  white-space: normal;
}

.sf-metadata-view-kanban-card .kanban-card-body .card-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.sf-metadata-view-kanban-card .cell-formatter-container {
  font-size: 14px;
  line-height: 1.2;
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sf-metadata-view-kanban-card .cell-formatter-container.sf-metadata-file-name-formatter {
  display: flex;
  align-items: center;
}

.sf-metadata-view-kanban-card .cell-formatter-container.sf-metadata-file-name-formatter .sf-metadata-file-icon {
  display: inline-block;
  border: 1px solid #f1f1f1;
  width: 28px;
  height: 28px;
}

.sf-metadata-view-kanban-card .kanban-card-body .card-field .card-property-name {
  font-size: 12px;
  font-weight: 400;
  color: #666;
  margin: 0;
}

.sf-metadata-view-kanban-card .empty-cell-formatter {
  width: 20px;
  height: 8px;
  background-color: #f1f1f1;
  border-radius: 4px;
}
