.sf-table-searcher-container {
  margin-left: 15px;
}

.sf-table-searcher-btn {
  display: inline-flex;
  align-items: center;
  border-radius: 3px;
  height: 22px;
  padding: 0 .5rem;
  transition: all .1s ease-in;
}

.sf-table-searcher-btn:hover {
  background-color: #efefef;
  cursor: pointer;
}

.sf-table-searcher-btn .sf3-font-search {
  display: inline-block;
  color: #666;
}

.sf-table-searcher-input-wrapper {
  position: relative;
}

.sf-table-searcher-input {
  padding-left: 30px;
  padding-right: 60px;
  height: 30px;
  width: 260px;
}

.sf-table-searcher-input-wrapper .btn-close-searcher-wrapper {
  pointer-events: all;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  min-width: 20px;
  height: 20px;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
}

.sf-table-searcher-input-wrapper .btn-close-searcher {
  font-size: 14px;
}

.sf-table-searcher-input-wrapper .btn-close-searcher-wrapper:hover {
  background-color: #efefef;
  cursor: pointer;
}

.sf-table-searcher-input-wrapper .input-icon-addon.search-poll-button {
  display: flex;
  font-size: 12px;
  height: 30px;
  left: auto;
  line-height: 30px;
  min-width: 35px;
  pointer-events: all;
  right: 28px;
  text-align: center;
}

.toolbar-search-btn {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
}

.toolbar-search-btn:hover {
  background-color: #efefef;
}

.toolbar-search-btn i.sf3-font {
  color: #666;
  font-size: 12px;
}

.sf-table-wrapper {
  height: 100%;
  width: 100%;
  transform: translateZ(10px);
}

.sf-table-main-container {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.sf-table-result-container {
  overflow-x: scroll;
  overflow-y: hidden;
}

.sf-table-result-content {
  height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.sf-table-result-content .static-sf-table-result-content {
  width: 100%;
  position: relative;
  background: #f9f9f9;
  border-bottom: 1px solid #ddd;
  z-index: 3;
}

.sf-table-result-content .static-sf-table-result-content .sf-table-row {
  position: relative;
  width: fit-content;
  background-color: #f9f9f9;
}

.record-HeaderCell__draggable {
  position: absolute;
  top: 0px;
  right: -3px;
  width: 5px;
  border-radius: 3px;
  margin: 3px 0px;
  height: 80%;
  cursor: col-resize;
  z-index: 1;
}

.record-HeaderCell__draggable:hover {
  background-color: #2d7ff9;
}

.sf-table-header-cell .sf-table-cell  {
  overflow: unset;
}

.sf-table-row {
  width: 100%;
  border-bottom: 1px solid #ddd;
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 0;
  transition: all 0.3s;
}

.static-sf-table-result-content.grid-header .sf-table-row {
  border-bottom: none;
}

.sf-table-result-content .sf-table-row {
  background-color: #fff;
}

.sf-table-result-content .frozen-columns .sf-table-cell {
  position: relative;
}

.sf-table-column-content {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: left;
  line-height: 32px;
}

.sf-table-column-content.row-index {
  text-align: center;
}

.sf-table-column-content .sf-metadata-font {
  font-size: 14px;
  color: #aaa;
}

.sf-table-column-content .header-name {
  overflow: hidden;
}

.sf-table-column-content .header-name-text {
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sf-table-column-content .header-name-text.double {
  white-space: normal;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 46px;
  height: fit-content;
}

.sf-table-canvas {
  flex: 1;
  position: relative;
  min-width: 100%;
  padding-bottom: 150px;
  overflow-y: scroll;
}

.sf-table-canvas .sf-metadata-result-loading {
  position: absolute;
  left: 50vw;
}

.sf-table-records-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.draging-file-to-cell .cell-file-add {
  border: 1px dashed #f09f3f;
  background-color: #fdf5eb !important;
}

.table-main-interval {
  height: 20px;
  position: relative;
  width: 100%;
  background-color: #f9f9f9;
}

.sf-table-tooltip .tooltip-inner {
  max-width: 242px;
  font-weight: lighter;
  text-align: start;
  background-color: #303133;
}

.sf-table-tooltip .bs-tooltip-right .arrow::before,
.sf-table-tooltip .bs-tooltip-auto[x-placement^="right"] .arrow::before {
  border-right-color: #303133;
}

.sf-table-tooltip .bs-tooltip-top .arrow::before,
.sf-table-tooltip .bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: #303133;
}

.sf-table-tooltip .bs-tooltip-bottom .arrow::before,
.sf-table-tooltip .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: #303133;
}

.sf-table-tooltip .bs-tooltip-left .arrow::before,
.sf-table-tooltip .bs-tooltip-auto[x-placement^="left"] .arrow::before {
  border-left-color: #303133;
}

.add-item-btn {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  border-top: 1px solid #dedede;
  background: #fff;
  padding: 0 1rem;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.add-item-btn:hover {
  cursor: pointer;
  background: #f5f5f5;
}

.add-item-btn .sf-metadata-icon-add-table {
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
  transform: translateY(1px);
}

.formula-formatter-content-item {
  margin-right: 10px;
  font-size: 13px;
  max-width: 100%;
  display: inline-flex;
}

.formula-formatter-content-item.simple-cell-formatter {
  height: 20px;
  padding: 0 8px;
  align-items: center;
  background: #eceff4;
  border-radius: 3px;
  color: #212529;
}

.formula-formatter-content-item.simple-cell-text-formatter {
  height: fit-content;
  min-height: 20px;
  padding: 0 8px;
  align-items: center;
  background: #eceff4;
  border-radius: 3px;
}

.formula-ellipsis .sf-metadata-font {
  font-size: 12px;
}

.formula-formatter-content-item .checkbox {
  transform: unset;
}

.formula-formatter-content-item .collaborator {
  margin-right: 0;
}

.checkbox-editor-rows-container .grid-checkbox-row-checkbox {
  margin-top: 0;
}

/* common */
.sf-metadata-result-container.horizontal-scroll .table-last--frozen {
  box-shadow: 2px 0 5px -2px rgb(136 136 136 / 30%) !important;
}

.table-last--frozen {
  border-right: 1px solid #cacaca !important;
}

.row-locked .actions-cell::after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 0;
  height: 0;
  border-top: 10px solid #f25041;
  border-left: 10px solid transparent;
}

/* table cell editor */
.table-cell-editor .number-editor,
.table-cell-editor .duration-editor {
  text-align: right;
}

.table-cell-editor .checkbox-editor-rows-container {
  align-items: center;
}

.table-cell-editor .rate-editor .rate-item {
  padding-right: 0;
}

.rdg-editor-container .rate-editor {
  width: 100%;
  height: calc(100% - 1px);
  border: 2px solid #66afe9;
  border-right: none;
  border-bottom: none;
  box-sizing: border-box;
  padding: 0 8px 2px 6px;
  align-items: center;
}

.rdg-editor-container .checkbox-editor-rows-container {
  justify-content: center;
}

.geolocation-editor-container {
  background-color: #ffffff;
  box-shadow: 0 0 5px #ccc;
  border-radius: 4px;
  position: relative;
  display: inline-block;
  min-width: max-content;
  width: 400px;
}

.geolocation-editor-container .geolocation-selector-container {
  position: absolute;
  min-width: 400px;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0 0 5px #ccc;
  min-height: 165px;
}

.geolocation-editor-container .geolocation-selector-header {
  height: 45px;
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 5px 20px 0 20px;
  align-items: flex-end;
}

.geolocation-editor-container .geolocation-selector-header-item {
  border: 1px solid #ccc;
  height: 35px;
  margin-right: 10px;
  display: flex;
  margin-bottom: -1px;
  border-radius: 3px 3px 0 0;
  padding: 10px;
  line-height: 15px;
  cursor: pointer;
  font-size: 14px;
  word-break: keep-all;
}

.geolocation-editor-container .selected-geolocation-selector-header-item {
  border-bottom: 1px solid #fff;
}

.geolocation-editor-container .geolocation-map-editor {
  height: 384px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.sf-metadata-wrapper .sf-metadata-main {
  flex: 1;
  overflow: hidden;
}

.sf-metadata-wrapper .sf-metadata-main .sf-metadata-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sf-metadata-wrapper .sf-metadata-main .sf-metadata-container-transform {
  transform: translateZ(10px);
}

.sf-table-records-wrapper .group-header-left .formatter-show {
  display: inline-flex;
  flex: 1;
  width: calc(100% - 15px);
  position: relative;
}

.sf-table-records-wrapper .group-header-left .sf-metadata-link-formatter {
  display: inline-flex;
  flex-wrap: nowrap;
}

.sf-table-records-wrapper .group-header-left .sf-metadata-link-formatter .sf-metadata-link-item {
  max-width: 230px;
}

.sf-table-header-cell .sf-table-dropdown {
  padding: 0 5px;
  width: 20px;
}

.sf-metadata-tip-default {
  font-size: 13px;
  color: #666;
}
