@font-face {
  font-family: "sdocfont"; /* Project id 5078528 */
  src: url('iconfont.eot?t=1764832621026'); /* IE9 */
  src: url('iconfont.eot?t=1764832621026#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1764832621026') format('woff2'),
       url('iconfont.woff?t=1764832621026') format('woff'),
       url('iconfont.ttf?t=1764832621026') format('truetype'),
       url('iconfont.svg?t=1764832621026#sdocfont') format('svg');
}

.sdocfont {
  font-family: "sdocfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sdoc-replace:before {
  content: "\e6eb";
}

.sdoc-insert-below:before {
  content: "\e6ec";
}

.sdoc-try-again:before {
  content: "\e6ed";
}

.sdoc-comments:before {
  content: "\e6e8";
}

.sdoc-sm-close:before {
  content: "\e6ea";
}

.sdoc-more:before {
  content: "\e6e9";
}

.sdoc-next-page:before {
  content: "\e6dd";
}

.sdoc-underline:before {
  content: "\e6de";
}

.sdoc-starred:before {
  content: "\e6df";
}

.sdoc-highlight-color:before {
  content: "\e6e0";
}

.sdoc-user:before {
  content: "\e6e1";
}

.sdoc-text-link:before {
  content: "\e6e2";
}

.sdoc-superscripts:before {
  content: "\e6e3";
}

.sdoc-strikethrough:before {
  content: "\e6e4";
}

.sdoc-subscripts:before {
  content: "\e6e5";
}

.sdoc-Transform-to:before {
  content: "\e6e6";
}

.sdoc-rename:before {
  content: "\e6e7";
}

.sdoc-drop-down:before {
  content: "\e6d4";
}

.sdoc-text:before {
  content: "\e6d5";
}

.sdoc-multi-column:before {
  content: "\e6d6";
}

.sdoc-italic:before {
  content: "\e6d7";
}

.sdoc-add:before {
  content: "\e6d8";
}

.sdoc-more-vertical-left:before {
  content: "\e6d9";
}

.sdoc-save:before {
  content: "\e6da";
}

.sdoc-link:before {
  content: "\e6db";
}

.sdoc-align-center:before {
  content: "\e6dc";
}

.sdoc-quote-left:before {
  content: "\e6be";
}

.sdoc-previous-page:before {
  content: "\e6bf";
}

.sdoc-unstarred:before {
  content: "\e6c0";
}

.sdoc-presentation:before {
  content: "\e6c1";
}

.sdoc-left-slide:before {
  content: "\e6c2";
}

.sdoc-append:before {
  content: "\e6c3";
}

.sdoc-video:before {
  content: "\e6c4";
}

.sdoc-callout-color:before {
  content: "\e6c5";
}

.sdoc-table:before {
  content: "\e6c6";
}

.sdoc-image:before {
  content: "\e6c7";
}

.sdoc-info:before {
  content: "\e6c8";
}

.sdoc-table-of-content-outline:before {
  content: "\e6c9";
}

.sdoc-file-view:before {
  content: "\e6ca";
}

.sdoc-continue-writing:before {
  content: "\e6cb";
}

.sdoc-caret-up:before {
  content: "\e6cc";
}

.sdoc-redo:before {
  content: "\e6cd";
}

.sdoc-more-vertical-right:before {
  content: "\e6ce";
}

.sdoc-unlink:before {
  content: "\e6cf";
}

.sdoc-right-slide:before {
  content: "\e6d0";
}

.sdoc-header3:before {
  content: "\e6d1";
}

.sdoc-format-clear:before {
  content: "\e6d2";
}

.sdoc-whiteboard:before {
  content: "\e6d3";
}

.sdoc-align-right:before {
  content: "\e6aa";
}

.sdoc-auto-linefeed:before {
  content: "\e6ab";
}

.sdoc-list-ul:before {
  content: "\e6ac";
}

.sdoc-link-file:before {
  content: "\e6ad";
}

.sdoc-increase-font-size:before {
  content: "\e6ae";
}

.sdoc-code-block:before {
  content: "\e6af";
}

.sdoc-exclamation-triangle:before {
  content: "\e6b0";
}

.sdoc-find-replace:before {
  content: "\e6b1";
}

.sdoc-cut:before {
  content: "\e6b2";
}

.sdoc-header1:before {
  content: "\e6b3";
}

.sdoc-header5:before {
  content: "\e6b4";
}

.sdoc-revise:before {
  content: "\e6b5";
}

.sdoc-insert:before {
  content: "\e6b6";
}

.sdoc-send-arrow:before {
  content: "\e68b";
}

.sdoc-comment-count:before {
  content: "\e6b7";
}

.sdoc-tree-view:before {
  content: "\e6b8";
}

.sdoc-font-color:before {
  content: "\e6b9";
}

.sdoc-check-circle:before {
  content: "\e6ba";
}

.sdoc-revoke:before {
  content: "\e6bb";
}

.sdoc-inline-link:before {
  content: "\e6bc";
}

.sdoc-header6:before {
  content: "\e6bd";
}

.sdoc-history-switch:before {
  content: "\e68e";
}

.sdoc-inline-code:before {
  content: "\e699";
}

.sdoc-list-ol:before {
  content: "\e68d";
}

.sdoc-jump-to:before {
  content: "\e69a";
}

.sdoc-reduce-font-size:before {
  content: "\e69b";
}

.sdoc-all-read:before {
  content: "\e69c";
}

.sdoc-play:before {
  content: "\e68c";
}

.sdoc-bold:before {
  content: "\e69d";
}

.sdoc-share:before {
  content: "\e69e";
}

.sdoc-ai:before {
  content: "\e69f";
}

.sdoc-callout:before {
  content: "\e6a0";
}

.sdoc-document-link:before {
  content: "\e6a1";
}

.sdoc-save-tip:before {
  content: "\e6a2";
}

.sdoc-eye:before {
  content: "\e6a3";
}

.sdoc-download:before {
  content: "\e6a4";
}

.sdoc-delete:before {
  content: "\e6a5";
}

.sdoc-more-vertical:before {
  content: "\e6a6";
}

.sdoc-header2:before {
  content: "\e6a7";
}

.sdoc-ai-translate:before {
  content: "\e6a8";
}

.sdoc-card-link:before {
  content: "\e6a9";
}

.sdoc-adjust:before {
  content: "\e690";
}

.sdoc-align-left:before {
  content: "\e691";
}

.sdoc-ask-ai:before {
  content: "\e692";
}

.sdoc-callout-icon:before {
  content: "\e693";
}

.sdoc-check-square:before {
  content: "\e694";
}

.sdoc-copy:before {
  content: "\e695";
}

.sdoc-filter1:before {
  content: "\e68f";
}

.sdoc-exclamation-circle:before {
  content: "\e696";
}

.sdoc-fullscreen:before {
  content: "\e697";
}

.sdoc-header4:before {
  content: "\e698";
}

