@font-face {
  font-family: "sdocfont"; /* Project id 4097705 */
  src: url('iconfont.eot?t=1753173703249'); /* IE9 */
  src: url('iconfont.eot?t=1753173703249#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1753173703249') format('woff2'),
       url('iconfont.woff?t=1753173703249') format('woff'),
       url('iconfont.ttf?t=1753173703249') format('truetype'),
       url('iconfont.svg?t=1753173703249#sdocfont') format('svg');
}

.sdocfont {
  font-family: "sdocfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sdoc-right-slide:before {
  content: "\e68e";
}

.sdoc-ai:before {
  content: "\e68d";
}

.sdoc-retry:before {
  content: "\e68b";
}

.sdoc-pause:before {
  content: "\e68c";
}

.sdoc-context-comment:before {
  content: "\e68a";
}

.sdoc-presentation:before {
  content: "\e688";
}

.sdoc-close-presentation:before {
  content: "\e689";
}

.sdoc-seatable-row:before {
  content: "\e687";
}

.sdoc-ask-ai:before {
  content: "\e685";
}

.sdoc-document-link:before {
  content: "\e686";
}

.sdoc-send-arrow:before {
  content: "\e67e";
}

.sdoc-try-again:before {
  content: "\e67f";
}

.sdoc-ai-translate:before {
  content: "\e680";
}

.sdoc-insert-below:before {
  content: "\e681";
}

.sdoc-continue-writing:before {
  content: "\e682";
}

.sdoc-replace:before {
  content: "\e683";
}

.sdoc-adjust:before {
  content: "\e684";
}

.sdoc-check-mark:before {
  content: "\e67d";
}

.sdoc-play:before {
  content: "\e67c";
}

.sdoc-video:before {
  content: "\e67b";
}

.sdoc-mark-as-resolved:before {
  content: "\e67a";
}

.sdoc-multi-column:before {
  content: "\e679";
}

.sdoc-table-of-content-outline:before {
  content: "\e678";
}

.sdoc-table-of-content:before {
  content: "\e628";
}

.sdoc-info:before {
  content: "\e677";
}

.sdoc-inline-code:before {
  content: "\e676";
}

.sdoc-sort:before {
  content: "\e674";
}

.sdoc-set-up:before {
  content: "\e675";
}

.sdoc-filter1:before {
  content: "\e672";
}

.sdoc-eye-slash:before {
  content: "\e673";
}

.sdoc-settings:before {
  content: "\e671";
}

.sdoc-seatable-table:before {
  content: "\e66f";
}

.sdoc-more-vertical-left:before {
  content: "\e670";
}

.sdoc-text-style:before {
  content: "\e66e";
}

.sdoc-choose-column:before {
  content: "\e66d";
}

.sdoc-history-switch:before {
  content: "\e66c";
}

.sdoc-save:before {
  content: "\e66b";
}

.sdoc-center-alignment:before {
  content: "\e668";
}

.sdoc-bottom-alignment:before {
  content: "\e669";
}

.sdoc-top-alignment:before {
  content: "\e66a";
}

.sdoc-all-read:before {
  content: "\e65d";
}

.sdoc-freezed:before {
  content: "\e667";
}

.sdoc-callout-color:before {
  content: "\e666";
}

.sdoc-callout-icon:before {
  content: "\e665";
}

.sdoc-trumpet:before {
  content: "\e664";
}

.sdoc-light-bulb:before {
  content: "\e663";
}

.sdoc-danger:before {
  content: "\e662";
}

.sdoc-prohibit:before {
  content: "\e661";
}

.sdoc-filter:before {
  content: "\e65e";
}

.sdoc-chart:before {
  content: "\e65b";
}

.sdoc-comment-quote:before {
  content: "\e660";
}

.sdoc-find-replace:before {
  content: "\e65f";
}

.sdoc-jump-to:before {
  content: "\e65a";
}

.sdoc-callout:before {
  content: "\e65c";
}

.sdoc-add:before {
  content: "\e658";
}

.sdoc-tag:before {
  content: "\e659";
}

.sdoc-describe:before {
  content: "\e657";
}

.sdoc-add-comment:before {
  content: "\e63b";
}

.sdoc-comment-count:before {
  content: "\e656";
}

.sdoc-link-file:before {
  content: "\e654";
}

.sdoc-sm-close:before {
  content: "\e655";
}

.sdoc-merge-cell:before {
  content: "\e653";
}

.sdoc-download:before {
  content: "\e652";
}

.sdoc-next-page:before {
  content: "\e626";
}

.sdoc-previous-page:before {
  content: "\e651";
}

.sdoc-save-tip:before {
  content: "\e650";
}

.sdoc-file:before {
  content: "\e60f";
}

.sdoc-header6:before {
  content: "\e60e";
}

.sdoc-more-vertical-right:before {
  content: "\e60b";
}

.sdoc-more-vertical:before {
  content: "\e60c";
}

.sdoc-append:before {
  content: "\e60d";
}

.sdoc-quote1:before {
  content: "\e60a";
}

.sdoc-cut:before {
  content: "\e609";
}

.sdoc-header5:before {
  content: "\e604";
}

.sdoc-header2:before {
  content: "\e605";
}

.sdoc-header3:before {
  content: "\e606";
}

.sdoc-header1:before {
  content: "\e607";
}

.sdoc-header4:before {
  content: "\e608";
}

.sdoc-text:before {
  content: "\e603";
}

.sdoc-close1:before {
  content: "\e647";
}

.sdoc-rename:before {
  content: "\e620";
}

.sdoc-align-center:before {
  content: "\e62e";
}

.sdoc-table:before {
  content: "\e643";
}

.sdoc-list-ol:before {
  content: "\e644";
}

.sdoc-strikethrough:before {
  content: "\e645";
}

.sdoc-link:before {
  content: "\e648";
}

.sdoc-list-ul:before {
  content: "\e649";
}

.sdoc-auto-linefeed:before {
  content: "\e64a";
}

.sdoc-delete-table:before {
  content: "\e64b";
}

.sdoc-image:before {
  content: "\e64c";
}

.sdoc-align-right:before {
  content: "\e64d";
}

.sdoc-text-link:before {
  content: "\e64e";
}

.sdoc-check-square:before {
  content: "\e624";
}

.sdoc-italic:before {
  content: "\e625";
}

.sdoc-copy:before {
  content: "\e627";
}

.sdoc-caret-up:before {
  content: "\e62f";
}

.sdoc-increase-font-size:before {
  content: "\e630";
}

.sdoc-subscripts:before {
  content: "\e632";
}

.sdoc-redo:before {
  content: "\e633";
}

.sdoc-more:before {
  content: "\e634";
}

.sdoc-column:before {
  content: "\e611";
}

.sdoc-insert:before {
  content: "\e636";
}

.sdoc-delete:before {
  content: "\e637";
}

.sdoc-bg-color:before {
  content: "\e638";
}

.sdoc-align-left:before {
  content: "\e639";
}

.sdoc-underline:before {
  content: "\e63a";
}

.sdoc-row:before {
  content: "\e63c";
}

.sdoc-highlight-color:before {
  content: "\e614";
}

.sdoc-format-clear:before {
  content: "\e612";
}

.sdoc-drop-down:before {
  content: "\e615";
}

.sdoc-font-color:before {
  content: "\e616";
}

.sdoc-inline-link:before {
  content: "\e617";
}

.sdoc-revoke:before {
  content: "\e61a";
}

.sdoc-quote:before {
  content: "\e61b";
}

.sdoc-bold:before {
  content: "\e61d";
}

.sdoc-unlink:before {
  content: "\e61e";
}

.sdoc-card-link:before {
  content: "\e61f";
}

.sdoc-code-block:before {
  content: "\e621";
}

.sdoc-reduce-font-size:before {
  content: "\e623";
}

.sdoc-close:before {
  content: "\e610";
}

.sdoc-superscripts:before {
  content: "\e613";
}

.sdoc-document:before {
  content: "\e646";
}

.sdoc-confirm:before {
  content: "\e640";
}

.sdoc-more-options:before {
  content: "\e641";
}

.sdoc-comments:before {
  content: "\e642";
}

.sdoc-revise:before {
  content: "\e63f";
}

.sdoc-starred:before {
  content: "\e63d";
}

.sdoc-unstarred:before {
  content: "\e63e";
}

.sdoc-cancel:before {
  content: "\e631";
}

.sdoc-fullscreen:before {
  content: "\e635";
}

.sdoc-check-circle:before {
  content: "\e62a";
}

.sdoc-description:before {
  content: "\e62b";
}

.sdoc-exclamation-triangle:before {
  content: "\e62c";
}

.sdoc-exclamation-circle:before {
  content: "\e62d";
}

.sdoc-history:before {
  content: "\e618";
}

.sdoc-quote-left:before {
  content: "\e619";
}

.sdoc-menu:before {
  content: "\e61c";
}

.sdoc-share:before {
  content: "\e622";
}

.sdoc-user:before {
  content: "\e629";
}

