.dirent-detail-people {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.dirent-detail-people .dirent-detail-people-item {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
}
