.detail-header .detail-title {
  display: flex;
  flex: 1;
  align-items: center;
  width: 0; /* prevent strut flex layout */
}

.detail-header .detail-title .detail-header-icon-container {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.detail-header .detail-title .name {
  margin: 0 0.5rem 0 6px;
  line-height: 1.5rem;
  vertical-align: middle;
  font-size: 1rem;
  color: var(--bs-body-color);
}
