.sf-metadata-filters-list {
  min-height: 120px;
  max-height: 100%;
}

.sf-metadata-filters-list.empty-filters-container {
  min-height: 80px;
  padding: 0;
}

.sf-metadata-filters-list.empty-filters-container .empty-filters-list {
  padding-left: 0;
}

.sf-metadata-filters-list .empty-filters-list {
  padding: 0.25rem;
  font-size: 14px;
  color: #666666;
}

.sf-metadata-filters-list .filter-item {
  display: flex;
  align-items: center;
  padding: 0.25rem 0;
}

.sf-metadata-filters-list .filter-item .condition {
  display: flex;
  flex: 1;
}

.sf-metadata-filters-list .filter-item .condition > div {
  height: 38px;
  line-height: 38px;
  margin-left: 0.5rem;
}

.sf-metadata-filters-list .filter-item .condition > div:first-child {
  margin-left: 0;
}

.sf-metadata-filters-list .filter-item .filter-term {
  max-width: 300px;
}

.sf-metadata-filters-list .filter-item .filter-term .seafile-option-group-content .option.option-active .seafile-multicolor-icon {
  color: #666;
}

.sf-metadata-filters-list .filter-conjunction {
  width: 72px;
}

.sf-metadata-filters-list .filter-conjunction-readonly {
  width: 52px;
}

.sf-metadata-filters-list .filter-container {
  width: calc(100% - 72px);
  display: flex;
}

.sf-metadata-filters-list .seafile-customize-select .selected-option-show {
  width: calc(100% - 20px);
  height: 20px;
  line-height: 20px;
}

.sf-metadata-filters-list .seafile-customize-select.disabled .selected-option-show {
  width: 100%;
}

.sf-metadata-filters-list .seafile-customize-select .selected-option {
  width: auto;
  overflow-x: auto;
  line-height: 1.5;
}

.sf-metadata-filters-list .seafile-customize-select .sf3-font-down {
  margin-left: 0.5rem;
}

.sf-metadata-filters-list .selected-conjunction-show {
  padding: 0 10px;
  color: #666666;
}

.sf-metadata-filters-list .filter-column {
  max-width: 150px;
}

.filter-term .selector-multiple-select .seafile-select-option,
.filter-term .selector-single-select .seafile-select-option {
  height: 30px;
  padding: 0 10px;
}

.filter-term .selector-multiple-select .select-option-name,
.filter-term .selector-single-select .select-option-name {
  margin-top: 5px;
}

.filter-term .selector-single-select .seafile-select-option:hover {
  color: #212529;
  background-color: #f7f7f7;
}

.filter-term .selector-single-select .seafile-select-option:hover .select-option-name,
.filter-term .selector-multiple-select .seafile-select-option:hover .select-option-name,
.filter-term .selector-collaborator .seafile-select-option:hover .select-option-name {
  color: unset;
}

.sf-metadata-filters-list .selector-collaborator .selected-option-show {
  text-overflow: unset;
}

.sf-metadata-filters-list .selector-multiple-select .seafile-select-option:hover,
.sf-metadata-filters-list .selector-multiple-select .seafile-select-option.seafile-select-option-active,
.sf-metadata-filters-list .selector-collaborator .seafile-select-option:hover,
.sf-metadata-filters-list .selector-collaborator .seafile-select-option.seafile-select-option-active {
  color: #212529;
  background-color: #f7f7f7;
}

.sf-metadata-filters-list .selector-multiple-select .seafile-select-option.seafile-select-option-active .select-option-name,
.sf-metadata-filters-list .selector-collaborator .seafile-select-option.seafile-select-option-active .select-option-name {
  color: #212529;
}

.sf-metadata-filters-list .selected-option .multiple-select-option,
.sf-metadata-filters-list .selected-option .single-select-option {
  margin: 0;
  display: inline-block;
}

.sf-metadata-filters-list .filter-term .seafile-option-group-search .form-control {
  height: 31px;
}

.sf-metadata-filters-list .filter-term input {
  display: flex;
  width: 100%;
  height: 38px;
  background-color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
  outline: none;
  border-radius: 3px;
  font-size: 0.875rem;
}

.sf-metadata-filters-list .filter-term input:hover {
  border-color: rgb(179, 179, 179);
}

.sf-metadata-filters-list .filter-term input:disabled:hover {
  border-color: rgba(0, 40, 100, 0.12);
}

.sf-metadata-filters-list .filter-term input:hover:focus {
  border-color: #1991eb;
}

.sf-metadata-filters-list .filter-term input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #1991eb;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.25);
}

.sf-metadata-filters-list .filter-term .date-picker-container input:focus {
  color: #495057;
  background-color: #fff;
  border: 1px solid #fff;
  outline: 0;
}

.sf-metadata-filters-list .filter-term .date-picker-container table tr {
  height: 30px;
}

.sf-metadata-filters-list .filter-term input[type='checkbox'] {
  width: inherit;
}

.sf-metadata-filters-list .filter-term input[type='checkbox']:focus {
  border: 0;
  box-shadow: none;
}

.filter-term .filter-rate-list {
  display: flex;
  padding: 0 5px;
  border: 1px solid rgba(0, 40, 100, 0.12);
}

.sf-metadata-filters-list .delete-filter {
  width: 12px;
  height: 20px;
  margin-right: 14px;
  text-align: center;
}

.sf-metadata-filters-list .delete-filter:hover {
  cursor: pointer;
}

.delete-filter .seafile-multicolor-icon-fork-number {
  display: inline-block;
  font-size: 12px;
  fill: #999;
}

.delete-filter .seafile-multicolor-icon-fork-number:hover {
  fill: #666;
}

.sf-metadata-filters-list .multiple-option-name {
  display: flex;
  align-items: center;
}

.sf-metadata-filters-list .multiple-check-icon,
.sf-metadata-filters-list .collaborator-check-icon {
  display: inline-flex;
  width: 20px;
  height: 20px;
  align-items: center;
  text-align: center;
}

.sf-metadata-filters-list .multiple-check-icon .seafile-multicolor-icon-check-mark,
.sf-metadata-filters-list .collaborator-check-icon .seafile-multicolor-icon-check-mark {
  fill: #666 !important;
  font-size: 12px;
}

.user-select-item,
.collaborator {
  display: inline-flex;
  align-items: center;
  height: 20px;
  margin-right: 10px;
  padding: 0 8px 0 2px;
  font-size: 13px;
  border-radius: 10px;
  background: #eaeaea;
}

.sf-metadata-filters-list .collaborator-show {
  flex: 1;
}

.sf-metadata-filters-list .collaborator-avatar-container {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
}

.sf-metadata-filters-list .collaborator-avatar {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.sf-metadata-filters-list .collaborator-name {
  margin-left: 5px;
  max-width: 200px;
}

.sf-metadata-filters-list .option-collaborator {
  display: flex;
}

.sf-metadata-filters-list .collaborator-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.sf-metadata-filters-list .popover-add-tool {
  border-top: none;
  color: #666666;
}

.sf-metadata-filters-list .popover-add-tool .popover-add-icon {
  margin-right: 14px;
}

.sf-metadata-filters-list .seafile-option-group {
  max-height: 360px;
  overflow: auto;
}

.sf-metadata-filters-list .filter-container-readonly .seafile-customize-select .selected-option-show,
.sf-metadata-filters-list .filter-conjunction-readonly .seafile-customize-select .selected-option-show {
  width: 100%;
}

.sf-metadata-filters-list .dropdown-item .collaborator,
.sf-metadata-filters-list .seafile-option-group .seafile-option-group-content .collaborator {
  background-color: unset;
}

.sf-metadata-filters-list .seafile-customize-select .selected-option-show .remove-container {
  display: none;
}

.sf-metadata-filter-header-icon,
.sf-metadata-select-icon {
  display: inline-block;
  padding: 0 0.3125rem;
  margin-left: -0.3125rem;
}

.sf-metadata-filter-header-icon .seafile-multicolor-icon,
.sf-metadata-select-icon .seafile-multicolor-icon {
  font-size: 14px;
  fill: #aaa;
  cursor: default;
}

.seafile-select-option:hover .sf-metadata-filter-header-icon .seafile-multicolor-icon,
.seafile-select-option.seafile-select-option-active .sf-metadata-filter-header-icon .seafile-multicolor-icon,
.sf-metadata-setting-selector__menu .sf-metadata-setting-selector__option--is-selected .seafile-multicolor-icon {
  fill: #fff;
}

.seafile-select-option:not(.seafile-select-option-active):hover .sf-metadata-filter-header-icon .seafile-multicolor-icon {
  fill: #aaa;
}
