{% extends "base_wide_page.html" %}
{% load i18n %}

{% block wide_page_content %}
<h1>{{ form.initial.terms.name|safe }}</h1>
{{ form.errors }}
<div id="tc-terms-html">
    {{ form.initial.terms.text|safe|linebreaksbr }}
</div>
<form action="{% url 'tc_accept_page' %}" method="post">{% csrf_token %}
    {{ form.terms }}
    {{ form.returnTo }}
    <button type="submit" class="submit">{% trans "Accept" %}</button>
    <a href="{% url 'auth_logout' %}" class="sf-btn-link">{% trans "Cancel" %}</a>
</form>
{% endblock %}
