.trash-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
}

.trash-dialog .modal-content {
  height: 100%;
  overflow: hidden;
  border: none;
  border-radius: 0;
}

@media (min-width: 768px) {
  .trash-dialog {
    max-width: 1100px;
    height: calc(100% - 56px);
    overflow: hidden;
    margin: 1.75rem auto;
  }

  .trash-dialog .modal-content {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
}

.trash-dialog .modal-header {
  align-items: center;
}

.trash-dialog .back-icon {
  color: #999;
}

.trash-dialog .modal-header .button-control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trash-dialog .modal-header .trash-dialog-old-page {
  margin-left: auto;
}

.trash-dialog .modal-header .clean {
  height: 30px;
  line-height: 28px;
  padding: 0 0.5rem;
}

.trash-dialog .modal-body {
  height: 500px;
  overflow-y: auto;
}

.trash-dialog .modal-body .more {
  background: var(--bs-icon-bg);
  border: 0;
  color: #666;
}

.trash-dialog .modal-body .more:hover {
  color: #000;
  background: var(--bs-hover-bg);
}

.trash-dialog .path-container {
  border-bottom: 1px solid var(--bs-border-secondary-color);
  height: 40px;
  padding: 0 .5rem 1rem;
}

@media (min-width: 768px) {
  .trash-dialog .path-container {
    border-bottom: none;
    padding: 0 0 1rem;
  }
}

@media (max-width: 768px) {
  .trash-dialog .modal-header .trash-dialog-old-page {
    font-size: 14px;
  }
}
