{% load i18n %}
<% if (user_perm == 'rw') { %>
<div id="multi-dirents-op" class="hide">
    <button id="mv-dirents" title="{% trans "Move" %}" class="op-btn"><span class="icon-move"></span></button>
    <button id="cp-dirents" title="{% trans "Copy" %}" class="op-btn"><span class="icon-copy"></span></button>
    <button id="del-dirents" title="{% trans "Delete" %}" class="op-btn"><span class="icon-trash"></span></button>
</div>
<div id="upload-file" class="op-btn upload-file-btn">
    <span>{% trans "Upload" %}</span>
    <input type="file" name="file" multiple />
</div>
<% if (enable_upload_folder) { %>
<ul id="upload-menu" class="hide">
  <li class="item">
    <span>{% trans "Upload Files" %}</span>
    <input type="file" name="file" multiple />
  </li>
  <li class="item">
    <span>{% trans "Upload Folder" %}</span>
    <input type="file" name="file" multiple directory webkitdirectory />
  </li>
</ul>
<% } %>
<button id="add-new-dir" class="op-btn">{% trans "New Directory" %}</button>
<button id="add-new-file" class="op-btn">{% trans "New File" %}</button>
<% } %>
<% if (path != '/' && !encrypted) { %>
<button class="op-btn" id="share-cur-dir">{% trans "Share" %}</button>
<% } %>
