{% load i18n %}
<td>
    <% if (encrypted) { %>
    <img src="<%= app.config.mediaUrl %>img/sync-folder-encrypt-20.png" title="{% trans "Read-Write" %}" alt="" />
    <% } else { %>
        <% if (permission == 'rw') { %>
    <img src="<%= app.config.mediaUrl %>img/sync-folder-20.png?t=1387267140" title="{% trans "Read-Write" %}" alt="" />
        <% } else { %>
    <img src="<%= app.config.mediaUrl %>img/folder-no-write-20.png?t=1387267140" title="{% trans "Read-Only" %}" alt="" />
        <% } %>
    <% } %>
</td>
<td><a href="#/lib/<%= id %>"><%- name %></a></td>
<td class="alc">
<% if (app.pageOptions.isGroupStaff) { %>
<img src="<%= app.config.mediaUrl%>img/rm.png" alt="" class="cancel-share op-icon vh" title="{% trans "Unshare" %}" />
<% } %>
</td>
<td><%= size_formatted %></td>
<td><%= mtime_relative %></td>
<td><%- owner_nickname %></td>

