<div id="top-nav-grp-info" class="top-info-popup hide">
    <div class="outer-caret up-outer-caret">
        <div class="inner-caret"></div>
    </div>
    <ul id="top-nav-grp-list">
        <% for (var i = 0, len = groups.length; i < len; i++) { %>
        <li class="item" data-url="<%= app.config.siteRoot %>group/<%= groups[i].id %>/" title="<%= groups[i].name %>">
            <%= groups[i].avatar %>
            <span class="name ellipsis vam"><%= groups[i].name %></span>
            <a href="<%= app.config.siteRoot %>group/<%= groups[i].id %>/discuss/" title="Discussion" class="a fright vh">
                <img src="<%= app.config.mediaURL %>img/msgs.png" alt="">
            </a>
        </li>
        <% } %>
    </ul>
    <a href="<%= app.config.siteRoot %>groups/" class="item all-grp">All Groups</a>
</div>
