{% load i18n upload_tags %}

    <script type="text/template" id="add-new-dir-form-template">
    <form id="add-new-dir-form" action="" method="post" class="hide">{% csrf_token %}
        <h3>{% trans "New Directory" %}</h3>
        <label>{% trans "Directory Name" %}</label><br />
        <input type="text" name="name" value="" class="input" maxlength="{{max_file_name}}"/><br />
        <p class="error hide"></p>
        <button type="submit" class="submit">{% trans "Submit" %}</button>
        <button class="simplemodal-close">{% trans "Cancel" %}</button>
    </form>
    </script>

    <script type="text/template" id="add-new-file-form-template">
    <form id="add-new-file-form" action="" method="post" class="hide">{% csrf_token %}
        <h3>{% trans "New File" %}</h3>
        <div id="featured-filetype">
            <label>{% trans "Featured File Type" %}</label><br />
            <button type="button" class="set-file-type" data-filetype="seaf" title="{% trans "Click to choose" %}">seaf</button> <span>{% trans "online Rich Text format." %}</span>
            {% if LANGUAGE_CODE == 'zh-cn' %}
            <a href="http://www.seafile.com/help/seaf/" target="_blank">{% trans 'Details' %}</a><br />
            {% else %}
            <a href="http://www.seafile.com/en/help/seaf/" target="_blank">{% trans 'Details' %}</a><br />
            {% endif %}
            <button type="button" class="set-file-type" data-filetype="md" title="{% trans "Click to choose" %}">markdown</button> <span>{% trans "simple markup format." %}</span>
            {% if LANGUAGE_CODE == 'zh-cn' %}
            <a href="http://www.seafile.com/help/markdown/" target="_blank">{% trans 'Details' %}</a>
            {% else %}
            <a href="http://www.seafile.com/en/help/markdown/" target="_blank">{% trans 'Details' %}</a>
            {% endif %}
        </div>
        <label>{% trans "File Name" %}</label><br/>
        <input type="text" name="name" value="" class="input" maxlength="{{max_file_name}}"/><br />
        <p class="error hide"></p>
        <button type="submit" class="submit">{% trans "Submit" %}</button>
        <button class="simplemodal-close">{% trans "Cancel" %}</button>
    </form>
    </script>

    <script type="text/template" id="rename-form-template">
    <form id="rename-form" action="" method="post" class="hide">{% csrf_token %}
        <h3><%= form_title %></h3>
        <p class="detail">{% trans "Rename %(name)s as:" %}</p>
        <input type="hidden" name="oldname" value="<%= dirent_name %>" />
        <input type="text" name="newname" value="<%= dirent_name %>" class="input" maxlength="{{max_file_name}}" /><br />
        <p class="error hide"></p>
        <button type="submit" class="submit">{% trans "Submit" %}</button>
        <button class="simplemodal-close">{% trans "Cancel" %}</button>
    </form>
    </script>

    <script type="text/template" id="mvcp-form-template">
    <form id="mv-form" action="" method="post" class="file-choose-form hide">{% csrf_token %}
        <h3><%= form_title %></h3>
        <div id="mv-dir-list" class="dir-tree-cont">
            <h5 class="hd cspt"><span class="icon-caret-down"></span>{% trans "Current Library"%}</h5>
            <img src="{{MEDIA_URL}}img/loading-icon.gif" alt="" class="loading-tip" />
            <div id="current-repo-dirs"></div>
            <% if (show_other_repos) { %>
            <div id="other-repos">
                <h5 class="hd cspt"><span class="icon-caret-right"></span>{% trans "Other Libraries"%}</h5>
                <img src="{{MEDIA_URL}}img/loading-icon.gif" alt="" class="loading-tip" style="display:none;" />
                <div id="other-repos-dirs" class="hide"></div>
            </div>
            <% } %>
        </div>
        <input type="hidden" name="obj_name" value="<%= obj_name %>" />
        <input type="hidden" name="obj_type" value="<%= obj_type %>" />
        <input type="hidden" name="op" value="<%= op_type %>" />
        <input type="hidden" name="dst_repo" value="" />
        <input type="hidden" name="dst_path" value="" />
        <p class="error hide">{% trans "Please click and choose a directory."%}</p>
        <button type="submit" class="submit">{% trans "Submit" %}</button>
        <button class="simplemodal-close">{% trans "Cancel"%}</button>
    </form>
    </script>

    <script type="text/template" id="mv-progress-popup-template">
    <div id="mv-progress-popup" class="alc hide">
        <p id="mv-details" class="ellipsis"></p>
        <div id="mv-progress"></div>
        <p id="mv-other-info" class="hide"></p>
        <button id="cancel-mv">{% trans "Cancel" %}</button>
    </div>
    </script>

    {% upload_js %}    

    <!--script type="text/template" id="upload-file-dialog-template"-->
    <div id="upload-file-dialog" class="hide">
        <h3 class="hd"><span class="status">{% trans "File Upload" %}</span> <span class="total-progress hide"></span></h3>
        <div class="ops">
            <img src="{{MEDIA_URL}}img/minus.png" alt="" class="fold-switch cspt" />
            <img src="{{MEDIA_URL}}img/close.png" alt="close" title="{% trans "close" %}" class="close cspt hide" />
        </div>
        <div class="con">
            <div class="row fileupload-buttonbar">
                <button type="button" class="cancel cspt fright">{% trans "Cancel All" %}</button>
            </div>
            <p class="saving-tip alc clear hide"><img src="{{MEDIA_URL}}img/loading-icon.gif" alt="" style="margin-right:5px;" class="vam" />{% trans "Saving..." %}</p>
            <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
        </div>
    </div>
    <!--/script-->

    <div id="update-file-dialog" class="hide">
        <h3 class="hd">{% trans "Update %(file_name)s" %}</h3>
        <form id="update-file-form" enctype="multipart/form-data" method="post" action="">{% csrf_token %}
            <input type="hidden" name="target_file" />
            <div class="fileupload-buttonbar">
                <span class="fileinput-button vam">
                    <span>{% trans "Choose a file" %}</span>
                    <input type="file" name="file" />
                </span>
                {% if max_upload_file_size %}
                <span class="vam">({% blocktrans with max_file_size=max_upload_file_size|filesizeformat %}Smaller than {{ max_file_size }}{% endblocktrans %})</span>
                {% endif %}
                <div class="fileupload-progress fade">
                    <div class="progress progress-success progres-striped active">
                        <div class="bar" style="width:0%"></div>
                    </div>
                    <div class="progress-extended"></div>
                </div>
                <p class="saving-tip alc hide"><img src="{{MEDIA_URL}}img/loading-icon.gif" alt="" style="margin-right:5px;" class="vam" />{% trans "Saving..." %}</p>
            </div>
            <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
        </form>
    </div>

    <script type="text/template" id="share-dialog-template">
    <div id="file-share" class="hide">
        <h3 class="hd"><%= title %></h3>
        <div id="file-share-tabs" class="left-right-tabs ovhd">
            <ul class="left-right-tabs-nav fleft">
                <li class="tab"><a href="#link-share" class="a">{% trans "Download Link" %}</a></li>
                <% if (user_perm == 'rw') { %>
                <li class="tab" id="upload-link-share-tab"><a href="#upload-link-share" class="a">{% trans "Upload Link" %}</a></li>{# for dir #}
                <% } %>
                <% if (is_repo_owner) { %>
                <li class="tab" id="private-share-tab"><a href="#private-share" class="a">{% trans "Private Share" %}</a></li> {# for file #}
                <% } %>
                <% if (!is_virtual && is_repo_owner) { %>
                <li class="tab" id="syncable-share-tab"><a href="#syncable-share" class="a">{% trans "Private Share" %}</a></li> {# for dir #}
                <% } %>
            </ul>

            <div class="fright">
            <% if (is_repo_owner) { %>
            <div id="private-share" class="tabs-panel">
                <form id="private-share-form" method="post" action="">{% csrf_token %}
                    <select name="emails" class="w100" multiple="multiple"></select><br />
                    <input type="hidden" name="repo_id" value="" />
                    <input type="hidden" name="s_type" value="" />
                    <input type="hidden" name="path" value="" />
                    <p class="error hide"></p>
                    <input type="submit" value="{% trans "Submit"%}" />
                </form>
            </div>
            <% } %>

            <div id="link-share" class="tabs-panel">
                <div id="link-options">
                    <label class="checkbox-label">
                        <span class="checkbox"><input type="checkbox" name="use-passwd" id="link-passwd-switch" class="checkbox-orig" /></span>
                        <span class="checkbox-option">{% trans "Add password protection"%}</span>
                    </label>
                    <div id="link-passwd" class="hide">
                        <label>{% trans "Password"%}</label><span class="tip"></span><br />
                        <input type="password" name="passwd" disabled="disabled" class="input input-disabled" /><br />
                        <label>{% trans "Password again"%}</label><br />
                        <input type="password" name="passwd_again" disabled="disabled" class="input input-disabled" />
                    </div>
                    <label class="checkbox-label">
                        <span class="checkbox"><input type="checkbox" name="set-expiration" id="link-expire-switch" class="checkbox-orig" /></span>
                        <span class="checkbox-option">{% trans "Add auto expiration"%}</span>
                    </label>
                    <div id="link-expire" class="hide">
                        <label>{% trans "Days" %}</label><br />
                        <input type="text" name="expire-days" disabled="disabled" class="input input-disabled" />
                    </div>
                    <p class="error hide"></p>
                </div>
                <button id="gen-link-btn" class="hide">{% trans "Generate"%}</button>
                <div id="share-link-body" class="hide">
                    <p style="margin-top:3px;"><span class="vam">{% trans 'Link: ' %}</span><input type="text" readonly="readonly" id="shared-link-text" class="vam" /></p>
                    <button id="send-link">{% trans 'Send' %}</button>
                    <button id="rm-shared-link">{% trans 'Delete' %}</button>

                    <form id="link-send-form" action="" method="post" class="hide">{% csrf_token %}
                        <label>{% trans "Send to:"%}</label><br />
                        <input type="text" class="input" id="link-send-input" name="email" placeholder="{% trans "Emails, Seperated by ','"%}" /><br />
                        <input type="hidden" name="file_shared_link" value="" />
                        <input type="hidden" name="file_shared_name" value="" />
                        <input type="hidden" name="file_shared_type" value="" />
                        <label>{% trans "Message (optional):"%}</label><br />
                        <textarea class="textarea" name="extra_msg" id="download-extra-msg-text"></textarea><br />
                        <p class="error hide"></p>
                        <input type="submit" value="{% trans "Submit"%}" class="submit" />
                        <input type="button" value="{% trans "Cancel"%}" class="cancel" />
                        <p id="sending" class="hide">{% trans "Sending..."%}</p>
                    </form>
                </div>
            </div>

            <% if (user_perm == 'rw') { %>
            <div id="upload-link-share" class="tabs-panel">
                <p class="tip">{% trans "You can share the generated link to others and then they can upload files to this directory via the link." %}</p>
                <div id="upload-link-options">
                    <label class="checkbox-label">
                        <span class="checkbox"><input type="checkbox" name="use-passwd" id="upload-link-passwd-switch" class="checkbox-orig" /></span>
                        <span class="checkbox-option">{% trans "Add password protection"%}</span>
                    </label>
                    <div id="upload-link-passwd" class="hide">
                        <label>{% trans "Password"%}</label><br />
                        <input type="password" name="passwd" disabled="disabled" class="input input-disabled" /><br />
                        <label>{% trans "Password again"%}</label><br />
                        <input type="password" name="passwd_again" disabled="disabled" class="input input-disabled" />
                    </div>
                    <p class="error hide"></p>
                </div>
                <button id="gen-upload-link-btn" class="hide">{% trans "Generate"%}</button>
                <div id="share-upload-link-body" class="hide">
                    <p><span class="vam">{% trans 'Upload Link: ' %}</span><input type="text" readonly="readonly" id="shared-upload-link-text" class="vam" /></p>
                    <button id="send-upload-link">{% trans 'Send' %}</button>
                    <button id="rm-shared-upload-link">{% trans 'Delete' %}</button>

                    <form id="upload-link-send-form" action="" method="post" class="hide">{% csrf_token %}
                        <label>{% trans "Send to:"%}</label><br />
                        <input type="text" class="input" id="upload-link-send-input" name="email" placeholder="{% trans "Emails, Seperated by ','"%}" /><br />
                        <input type="hidden" name="shared_upload_link" value="" />
                        <label>{% trans "Message (optional):"%}</label><br />
                        <textarea class="textarea" name="extra_msg" id="upload-extra-msg-text"></textarea><br />
                        <p class="error hide"></p>
                        <input type="submit" value="{% trans "Submit"%}" class="submit" />
                        <input type="button" value="{% trans "Cancel"%}" class="cancel" />
                        <p id="upload-sending" class="hide">{% trans "Sending..."%}</p>
                    </form>
                </div>
            </div>
            <% } %>

            <% if (!is_virtual && is_repo_owner) { %>
            <div id="syncable-share" class="tabs-panel">
                {% include "snippets/repo_share_form.html" %} {# for sub-lib share #}
            </div>
            <% } %>
        </div>

        </div>
    </div>
    </script>
