{% load avatar_tags i18n %}

<script type="text/template" id="side-nav-tmpl">
    <a href="#" title="{% trans "Close" %}" aria-label="{% trans "Close" %}" class="sf2-icon-x1 sf-popover-close op-icon hidden-md-up js-close-side-nav fright"></a>
    <h3 class="hd">{% trans "Admin" %}</h3>
    <ul class="side-tabnav-tabs">
        <li class="tab">
        <a href="{% url 'org_manage' %}"><span class="sf2-icon-info"></span>{% trans "Info" %}</a>
        </li>
        <li class="tab">
        <a href="{% url 'org_repo_admin' %}"><span class="sf2-icon-library"></span>{% trans "Libraries" %}</a>
        </li>
        <li class="tab">
        <a href="{% url 'org_user_admin' %}"><span class="sf2-icon-user"></span>{% trans "Users" %}</a>
        </li>
        <li class="tab">
        <a href="{% url 'org_group_admin' %}"><span class="sf2-icon-group"></span>{% trans "Groups" %}</a>
        </li>

        <li class="tab<% if (cur_tab == 'address-book') { %> tab-cur<% } %>">
            <a href="{{ SITE_ROOT }}org/admin/#address-book/"><span class="sf2-icon-organization"></span>{% trans "Departments" context "address book" %}</a>
        </li>
        <li class="tab">
        <a href="{% url 'org_publink_admin' %}"><span class="sf2-icon-link"></span>{% trans "Links" %}</a>
        </li>
        <li class="tab">
        <a href="{% url 'org_log_file_audit' %}"><span class="sf2-icon-clock"></span>{% trans "Logs" %}</a>
        </li>
    </ul>
</script>
