{% load i18n %}

<script type="text/template" id="side-nav-tmpl">
    <h3 class="hd">{% trans "System Admin" %}</h3>
    <ul class="side-tabnav-tabs">
        <li class="tab <% if (cur_tab == 'shared') { %> tab-cur<% } %>">
            <a href="{{ SITE_ROOT }}sysadmin/#dashboard/"><span class="sf2-icon-wrench"></span>{% trans "Info" %}</a>
        </li>
        <li class="tab">
            <a href="{% url "sys_settings" %}"><span class="sf2-icon-cog2"></span>{% trans "Settings" %}</a>
        </li>
        <li class="tab">
            <a href="{{ SITE_ROOT }}sys/seafadmin/"><span class="sf2-icon-library"></span>{% trans "Libraries" %}</a>
        </li>
        <li class="tab">
            <a href="{{ SITE_ROOT }}sys/useradmin/"><span class="sf2-icon-user"></span>{% trans "Users" %}</a>
        </li>
        <li class="tab">
            <a href="{{ SITE_ROOT }}sys/groupadmin/"><span class="sf2-icon-group"></span>{% trans "Groups" %}</a>
        </li>
        {% if multi_tenancy %}
        <li class="tab">
            <a href="{{ SITE_ROOT }}sys/orgadmin/"><span class="sf2-icon-organization"></span>{% trans "Organizations" %}</a>
        </li>
        {% endif %}
        <li class="tab">
            <a href="{{ SITE_ROOT }}sys/notificationadmin/"><span class="sf2-icon-msgs"></span>{% trans "Notifications" %}</a>
        </li>
        <li class="tab">
            <a href="{{ SITE_ROOT }}sys/publinkadmin/"><span class="sf2-icon-link"></span>{% trans "Links" %}</a>
        </li>
        {% if traffic_stats_enabled %}
        <li class="tab">
            <a href="{{ SITE_ROOT }}sys/trafficadmin/"><span class="sf2-icon-histogram"></span>{% trans "Traffic" %}</a>
        </li>
        {% endif %}
        {% if sysadmin_extra_enabled %}
        <li class="tab">
            <a href="{{ SITE_ROOT }}sys/loginadmin/"><span class="sf2-icon-clock"></span>{% trans "Logs" %}</a>
        </li>
        {% endif %}
        {% if events_enabled %}
        <li class="tab">
            <a href="{{ SITE_ROOT }}sys/virus_scan_records/"><span class="sf2-icon-security"></span>{% trans "Virus Scan" %}</a>
        </li>
        {% endif %}
    </ul>
</script>
