.dirent-detail-item-value-map {
  height: 200px;
  width: 100%;
}

.dirent-detail-item-value-map.error-message {
  word-break: break-word;
  padding: 8px;
  margin: auto;
  height: auto;
  border-radius: 3px;
}
