.dirent-detail-item-value-map {
  height: 200px;
  width: 100%;
}

.dirent-detail-item-value-map.error-message {
  word-break: break-word;
  padding: 8px;
  margin: auto;
  height: auto;
  border-radius: 3px;
}

.dirent-detail-item-value-map .sf-map-control-container {
  height: 22px;
}

.dirent-detail-item-value-map .sf-map-control-container .sf-map-control .sf-map-control-icon {
  font-size: 12px;
}

.dirent-detail-item-value-map .sf-map-control-container.sf-map-zoom-control-container .sf-map-control {
  width: 30px;
  height: 22px;
}

.dirent-detail-item-value-map .sf-map-control-container .sf-map-control-divider::before {
  height: 14px;
}

.dirent-detail-item-value-map .sf-map-control-container.sf-map-zoom-control-container {
  right: 10px !important;
  bottom: 16px !important;
}
