.file-details-collapse {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  /* margin-left: -8px;
  margin-right: 8px; */
}

.file-details-collapse .file-details-collapse-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  height: 28px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid rgba(69, 170, 242, 0);
}

.file-details-collapse .file-details-collapse-header:hover {
  background-color: #F0F0F0;
}

.file-details-collapse .file-details-collapse-header .file-details-collapse-header-title {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
  color: #666;
  font-size: 14px;
}

.file-details-collapse .file-details-collapse-header .file-details-collapse-header-operation {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
}

.file-details-collapse .file-details-collapse-header .file-details-collapse-header-operation:hover {
  background-color: #DBDBDB;
  cursor: pointer;
  border-radius: 3px;
}

.file-details-collapse .file-details-collapse-header .sf3-font-down {
  color: #666666;
}

.file-details-collapse .file-details-collapse-body {
  padding: 0 4px;
}
