.sf-metadata-tags-table-cell .sf-metadata-tags-table-cell-actions {
  display: none;
  height: 100%;
  width: 100%;
}

.sf-metadata-tags-table-row:hover .sf-metadata-tags-table-cell .sf-metadata-tags-table-cell-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sf-metadata-tags-table-cell-tag {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sf-metadata-tags-table-cell-tag .sf-metadata-tag-color {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.sf-metadata-tags-table-row:hover .sf-metadata-tags-table-cell .sf-metadata-tags-table-cell-action {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sf-metadata-tags-table-row:hover .sf-metadata-tags-table-cell .sf-metadata-tags-table-cell-action .op-icon {
  margin-left: 0;
}
