.sf-metadata-selector-single-select .selected-option .single-select-option,
.sf-metadata-selector-multiple-select .selected-option .multiple-select-option {
  display: inline-block;
  margin: 0;
}

.sf-metadata-filters .sf-metadata-filters-list .single-select-option,
.sf-metadata-filters .sf-metadata-filters-list .multiple-select-option {
  border-radius: 10px;
  display: block;
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  max-width: 150px;
  overflow: hidden;
  padding: 0 10px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: -webkit-min-content;
  width: min-content;
}

.sf-metadata-selector-single-select .seafile-select-option,
.sf-metadata-selector-multiple-select .seafile-select-option {
  height: 30px;
  padding: 0 10px;
}

.sf-metadata-selector-single-select .seafile-select-option:hover,
.sf-metadata-selector-multiple-select .seafile-select-option:hover {
  background-color: #f7f7f7;
  color: var(--bs-body-color);
}

.sf-metadata-selector-multiple-select.seafile-customize-select .selected-option-show,
.sf-metadata-selector-single-select.seafile-customize-select .selected-option-show {
  text-overflow: clip;
}

.sf-metadata-selector-single-select .select-option-name,
.sf-metadata-selector-multiple-select .select-option-name {
  margin-top: 5px;
  justify-content: space-between;
}
