.seafile-comment {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.seafile-comment-list .comment-vacant {
  padding: 1em;
  text-align: center;
}
.seafile-comment-item {
  padding: 15px 10px;
  margin-bottom: 0;
}
.seafile-comment-item .seafile-comment-info {
  padding-bottom: 0.5em;
  height: 3em;
  display: flex;
  justify-content: flex-start;
}
.seafile-comment-item .seafile-comment-info .reviewer-info {
  padding-left: 10px;
  max-width: 75%;
}
.seafile-comment-item .seafile-comment-info .review-time {
  font-size: 10px;
  color: #777;
}
.seafile-comment-item .seafile-comment-info .seafile-comment-dropdown {
  margin-left: auto;
}
.seafile-comment-item .seafile-comment-info .seafile-comment-dropdown button {
  border: none;
  box-shadow: none;
  background-color: #fff;
}
.seafile-comment-item .seafile-comment-info .seafile-comment-dropdown .seafile-comment-dropdown-btn {
  color: #999;
  background-color: transparent;
}
.seafile-comment-item .seafile-comment-info .seafile-comment-dropdown:hover .seafile-comment-dropdown-btn {
  color: #555;
}
.seafile-comment-item .seafile-comment-info .seafile-comment-dropdown button:hover,
.seafile-comment-item .seafile-comment-info .seafile-comment-dropdown button:focus {
  border: none;
  box-shadow: none;
  background-color: #eee;
}
.seafile-comment-item .seafile-comment-content {
  margin-left: 42px;
  padding: 5px 10px;
  border-radius: 4px;
  background: #fff;
}
.seafile-comment-item .seafile-comment-content p {
  word-break: break-all;
}
.seafile-comment-item blockquote {
  cursor: pointer;
}
.seafile-comment-item .seafile-comment-content ol,
.seafile-comment-item .seafile-comment-content ul,
.seafile-comment-item .seafile-comment-content li {
  margin-left: 10px;
}
.seafile-comment-item .seafile-comment-content table,
.seafile-comment-item .seafile-comment-content th,
.seafile-comment-item .seafile-comment-content td {
  border: 1px solid #333;
}
.seafile-comment-item-resolved {
  background-color: #e6ffed;
}
.seafile-comment-footer {
  padding: 10px 10px;
  border-top: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  min-height: 150px;
  max-height: 300px;
}
.seafile-comment-footer .add-comment-input,
.seafile-edit-comment .edit-comment-input {
  border: 1px solid #e6e6dd;
  padding: 5px;
  min-height: 90px;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
}
.seafile-comment-footer .add-comment-input {
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}
.seafile-comment-footer .add-comment-input:focus {
  outline: none;
}
.seafile-comment-footer .comment-submit-container {
  border: 1px solid #e6e6dd;
  border-top: none;
  border-radius: 0 0 5px 5px;
  padding: 5px;
  background: #fff;
  text-align: right;
  position: relative;
}
.seafile-comment-footer .comment-submit-container::before {
  border-top: 1px solid #e6e6dd;
  content: '';
  position: absolute;
  left: 5px;
  right: 5px;
  top: 0;
}
.seafile-comment-footer .submit-comment {
  height: 28px;
}
.seafile-edit-comment .comment-btn {
  height: 28px;
}

.seafile-viewer-comment-btn {
  position: absolute;
  top: 0;
  right: 5000px;
  border: 1px solid rgba(0, 40, 100, 0.12);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  background-color: #fff;
  padding: 5px;
}
.seafile-viewer-comment-btn:hover {
  cursor: pointer;
  background-color: #eee;
}

