.dirent-table-container tr {
  border: none;
}

.dirent-table-container th,
.dirent-table-container td {
  padding: 5px 3px;
  border: none;
}

.dirent-table-container th {
  font-size: 13px;
  text-align: left;
  font-weight: normal;
  color: #9c9c9c;
}

.dirent-table-container td {
  font-size: 14px;
  color: var(--bs-body-color);
  word-break: break-all;
}

.dirent-table-container .file-tag-container th {
  vertical-align: top;
  list-style: none;
  padding-top: 8px;
}

.dirent-table-container .file-tag-container .tag-list {
  list-style: none;
}

.file-related-files th {
  vertical-align: top;
}

.file-related-files td i {
  padding: 0;
}

.file-related-files td ul {
  list-style: none;
  max-height: 100px;
  overflow-y: scroll;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.file-related-files td ul li {
  margin-bottom: 5px;
}

.file-related-files ul li a,
.list-related-file-table tr td a {
  color: var(--bs-body-color);
}

.list-related-file-body {
  min-height: 200px;
  max-height: 500px;
  overflow-y: scroll;
}

.detail-container .tab-content {
  height: calc(100% - 73px);
}

.detail-container .nav-item .nav-link, .detail-container .nav-item .nav-link i {
  margin: 0 auto;
}
