.seafile-btn-view-review {
  display: flex;
  align-items: center;
}

.seafile-btn-view-review .tag:hover {
  cursor: pointer;
  background-color: var(--bg-icon-hover-bg);
}

.topbar-btn-container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.seafile-btn-add-review {
  margin-right: 10px;
}

.btn-new-draft {
  margin-right: 10px;
}

.sf-md-viewer-topbar .btn {
  color: #666;
  border: none !important;
  font-size: .9375rem;
  height: 28px;
  width: 28px;
  min-width: 0;
  padding-left: 7px;
  padding-top: 0;
  border-radius: 3px !important;
  margin-right: 10px;
  background-color: transparent;
}

.collab-users-dropdown.dropdown {
  margin-right: 6px;
}

.btn-active[data-active=true]#saveButton {
  color: #ED7109;
}

.sf-md-viewer-topbar .btn:focus,
.sf-md-viewer-topbar .btn:active {
  box-shadow: none !important;
  background-color: var(--bs-button-active-bg);
}

.sf-md-viewer-topbar .btn:hover {
  background-color: var(--bs-icon-hover-bg);
}

.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:not(:disabled):not(.disabled):active {
  background-color: var(--bs-button-active-bg);
}

.btn-active[data-active=false]#saveButton:hover {
  background: var(--bs-body-bg);
  cursor: default;
}

.sf-md-viewer-topbar .sf-md-header-more-tool {
  width: 28px;
  height: 28px;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #666;
}

.sf-md-viewer-topbar .sf-md-header-more-tool:hover {
  background-color: var(--bs-icon-hover-bg);
}