.seafile-markdown-editor .markdown-help-wrapper .side-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  user-select: none;
}

.seafile-markdown-editor .side-panel .nav {
  padding: 10px 0;
  min-width: 125px;
  border-bottom: 1px solid #eee;
  height: 36px;
  flex-wrap: nowrap;
}

.seafile-markdown-editor .side-panel .nav .nav-item {
  padding: 0 0.75rem;
}

.seafile-markdown-editor .side-panel .nav .nav-link {
  padding: 0 0.75rem;
  transition: 0.3s color;
  margin-right: 0;
}

.seafile-markdown-editor .side-panel .nav-link {
  color: #888;
}

.seafile-markdown-editor .side-panel .nav .nav-link.active {
  color: #ff9800;
  border-bottom: 0;
}

.seafile-markdown-editor .side-panel .nav .iconfont {
  font-weight: 700;
  font-size: 0.875rem;
}

.seafile-markdown-editor .side-panel-content {
  font-size: 0.937rem;
  overflow: hidden;
}

.seafile-markdown-editor .side-panel-content:hover {
  overflow: auto;
}

.image-view {
  width: 200px;
  height: 150px;
  position: absolute;
  background-color: #fff;
  z-index: 1004;
  box-shadow: 0 0 10px #aaa;
  border-radius: 3px;
  line-height: 150px;
  overflow: hidden;
  font-size: 0;
  text-align: center;
}

.image-view img {
  max-width: 100%;
  max-height: 100%;
}

.image-view i {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 150px;
  font-size: 30px;
  color: #eb8205;
  -moz-animation: rotate 1.5s ease infinite;
  -webkit-animation: rotate 1.5s ease infinite;
  animation: rotate 1.5s ease infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
