.search-input-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
}

.search-input-container .search-control {
  position: absolute;
  right: 0;
}
