.search-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.search-input-container {
  position: relative;
  margin-bottom: 16px;
}

.search-input-container .search-input {
  width: 100%;
  height: 2.375rem;
}

.search-input-container .search-control {
  position: absolute;
  top: 13px;
  right: 8px;
}

.search-results-popover .popover {
  min-width: 400px;
  padding: 1rem;
}

.search-results-popover-body {
  width: 100%;
}

.search-results-popover-body .search-results-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
