<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}{% endblock %} - SeaHub</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="keywords" content="文件 共享" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/seahub.css" />
<link rel="icon" type="image/png" href="{{ MEDIA_URL }}img/favicon.png" />

{% block extra_style %}{% endblock %}
{% block extra_script %}{% endblock %}

</head>
<body>

<div id="wrapper">
    <div id="top-bar">
        <div class="top-bar">
            <div class="top-bar-in">
                {% if request.user.is_authenticated %}
                欢迎, {{ request.user }}.
                <a href="{{ SITE_ROOT }}home/my/">我的页面</a>
                <a href="{{ SITE_ROOT }}home/">主页</a>
                <a href="{{ SITE_ROOT }}profile/">设置</a>
                {% if request.user.is_staff %}
                <a href="{{ SITE_ROOT }}admin/">管理</a> 
                {% endif %}
                <a href="{{ SITE_ROOT }}accounts/logout/">退出</a>
                {% else %}
                <a href="{{ SITE_ROOT }}accounts/login/">登录</a> 
                <a href="{{ SITE_ROOT }}accounts/register/">注册</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="header">
        <div class="logo">
            <a href="/home/" id="logo"><img src="{{ MEDIA_URL }}img/logo.png" title="Seafile" alt="Seafile logo" /></a>
        </div>
        <div class="navs">
            {% block nav %}
            <ul class="nav">
                <li>
                    <a href="{{ SITE_ROOT }}home/">主页</a>
                </li>
                <!--
                <li>
                    <a href="{{ SITE_ROOT }}peers/">Peers</a>
                </li>
                -->
                <!--
                <li>
                    <a href="{{ SITE_ROOT }}groups/">Groups</a>
                </li>
                -->
            </ul>
            {% endblock %}
        </div>
        <div class="nav-separator"></div>
    </div>
    <div id="main">
        <div id="left-panel">
            {% block left_panel %}{% endblock %}
        </div>
        <div id="right-panel">
            {% block right_panel %}{% endblock %}
        </div>
        <div id="main-panel">
            {% block content %}{% endblock %}
        </div>

        <div class="clear"></div>
    </div>
    <div id="footer">
        <p class="fleft">Copyright © 2011 GongGeng. All rights reserved.</p>
        <p class="fright">Contact | About</p>
        <div class="clear"></div>
    </div>

</div><!-- wrapper -->
</body>
</html>
