{% extends "base.html" %}

{% block left_panel %}
{% endblock %}

{% block right_panel %}
<div class="download-page">

<h2>下载</h2>

<h3 id="windows">Windows</h3>
<p>
<a href="http://www.gonggeng.org/~gonggeng/ccnet-0.8.1.msi">Ccnet/Seafile 0.8.1 for Windows XP</a>
</p>

<h3 id="linux">Linux</h3>
<p>
<a href="http://www.gonggeng.org/~gonggeng/ccnet_0.8.2_i386.deb">Ccnet/Seafile 0.8.2 for Ubuntu 11.10 32bit</a>
</p>

<p>
<a href="http://www.gonggeng.org/~gonggeng/ccnet_0.8.2_amd64.deb">Ccnet/Seafile 0.8.2 for Ubuntu 11.10 64bit</a>
</p>

</div> <!-- help-page -->
{% endblock %}
