{% extends "base.html" %}

{% block title %}Groups{% endblock %}

{% block left_panel %}

{% endblock %}

{% block right_panel %}

<p>Use the following command to add a group:</p>
<div><code>ccnet-tool group-follow &lt;group-id&gt; &lt;rendevous-id&gt;</code></div>

<h3>Groups</h3>

<table class="group-list default">
    <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Rendezvous</th>
        <th>Maintainer</th>
    </tr>
    {% for group in groups %}
        <tr>
        <td>{{ group.props.name }}</td>
        <td>{{ group.props.id }}</td>
        <td>{{ group.props.rendezvous }}</td>
        <td>{{ group.props.maintainers }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
