{% extends "base.html" %}

{% block left_panel %}
{% include "help_nav.html" %}
{% endblock %}

{% block right_panel %}

<h2>基本概念</h2>
<p>
首先让我们来了解下 Seafile 的几个基本概念。
<ul>
    <li>文件盒 (repo)</li>
    <li>修改记录 (commit)</li>
    <li>存储仓库</li>
    <li>工作目录 (work directory)</li>
</ul>

<p>
Seafile 中基本的管理单位是文件盒 (repo)。 一个文件盒存储了它所包含的文件的当前状态以及这些文件的所有历史。 所有的文件盒都保存在本地的存储仓库里， 其中的文件会被分割成小块保存， 相同的小块只会被保存一次。 </p>

<p>
每个文件盒有一个工作目录 (work directory), 工作目录显示了文件的当前状态。 当你每次做了修改并点击提交之后， 文件的最新状态就会被记录到存储仓库， 同时会创建一个修改记录 (commit)。 通过界面， 你可以查看文件的任意一个历史状态。 
</p>


<h2>基本流程</h2>

流程 1, 创建文件盒
<p style="background: #f0f0f0;">
创建文件盒 --> 自动上传到服务器 --> 其他人可以通过文件盒 ID 来获取这个文件盒
</p>

流程 2, 获取他人文件盒:
<p style="background: #f0f0f0;">
通过文件盒 ID 来获取这个文件盒 --> 指定解密密码(可选) --> 导出到一个工作目录
</p>

<p>
之后你对文件盒的修改/添加/删除操作都会自动同步到服务器上。
</p>

<h3>文件盒创建</h3>
<p>
启动 Ccnet/Seafile 后通过右键菜单从任意一个目录创建文件盒，这个目录成为这个文件盒的工作目录。
</p>

<p>
创建的时候可以选择给文件盒加密，加密密码在本地保存，这个密码不会传到服务器上。
</p>

<h3>文件盒获取</h3>
通过本地 web 界面首页左侧的“获取文件盒菜单”菜单，按提示操作即可。


{% endblock %}
