{% extends "base.html" %}

{% block left_panel %}
Welcome.
{% endblock %}

{% block right_panel %}

<h2>基本概念</h2>
<p>
首先让我们来了解下 Seafile 的几个基本概念。
<ul>
    <li>文件盒 (repo)</li>
    <li>修改记录 (commit)</li>
    <li>存储仓库</li>
    <li>工作目录 (work directory)</li>
</ul>

<p>
Seafile 中基本的管理单位是文件盒 (repo)。 一个文件盒存储了它所包含的文件的当前状态以及这些文件的所有历史。 所有的文件盒都保存在本地的存储仓库里， 其中的文件会被分割成小块保存， 相同的小块只会被保存一次。 

每个文件盒有一个工作目录 (work directory), 工作目录显示了文件的当前状态。 当你每次做了修改并点击提交之后， 文件的最新状态就会被记录到存储仓库， 同时会创建一个修改记录 (commit)。 通过界面， 你可以查看文件的任意一个历史状态。 
</p>

<h2>同步原理</h2>
<p>
下面我们来了解下 Seafile 同步的工作原理。 Seafile 的同步过程包含三个步骤
<ul>
    <li>上传 (upload)</li>
    <li>下载 (fetch)</li>
    <li>合并 (merge)</li>
</ul>
默认情况下， 上述的三个步骤都是自动的。 当你对一个文件盒做了一次提交之后， 对应的修改就会被传到服务器。 当其他人对文件盒做了修改， 这些修改会被下载到你的计算机上， 并和你的文件的当前状态做一次合并。 大多数情况下， 合并会顺利解决， 你的工作目录也会被加以更新。 否则你需要到工作目录下查看和解决冲突。 完成后， 你点击提交来告诉 Seafile 你已经解决了冲突， Seafile 会生成新的修改记录。  
</p>


{% endblock %}
