{% extends "base.html" %}


{% block main_panel %}
<div class="home-page">

<div id="main-show">
    <img src="{{ MEDIA_URL }}img/seafile-small.png" id="home-snapshot" />

    <h2>
        Seafile: 专业的版本管理和同步共享工具
    </h2>

    <p>
        <ul id="feature-list">
            <li>本地完整的版本历史： 查看文件的任一版本</li>
            <li>安全可靠的同步功能： 不会弄丢文件或修改</li>
            <li>安全方便的协同工作： 安全的合并他人修改</li>
            <li>数据安全可随时迁移： 可以搭建个人服务器</li>
        </ul>
    </p>
    
    <div class="clear"></div>
</div>

<div id="seafile-what">
    <h2>什么是 Ccnet/Seafile <img src="{{ MEDIA_URL }}img/information.png" width="24px" /></h2>
    <p>
        Seafile 是一个文件<strong>版本管理和同步共享</strong>工具。 Ccnet 则是一个网络连接管理工具。 Seafile 的网络同步功能构建在 Ccnet 之上。 
    </p>

    <p>
        Seafile 非常适合于以下的应用场合：
        <ul>
            <li>对个人文件进行版本管理。</li>
            <li>对文件进行备份。</li>
            <li>个人在多台电脑间同步数据。</li>
            <li>一个小组共同维护一个文件仓库， 比如建立一个电子书的仓库。 </li>
        </ul>
    </p>
</div>

<div id="seafile-history">
    <h2>Ccnet/Seafile 历史 <img src="{{ MEDIA_URL }}img/history.png" width="24px" /></h2>

    <p>Ccnet/Seafile 项目的最初目标是让用户（包括我们自己）能够<strong>方便而安全的</strong>在多台机器之间同步数据。</p>
    
    <p>设想， 假如你有一台电脑， 我有一台电脑， 我们能够建立网络连接(比如在同一个局域网内)， 原理上说， 进行数据同步的基本条件都具备了。 但是为什么我们之间的数据同步就这么难呢？ </p>

    <p>Ccnet/Seafile 项目就是为了接近这样的一个目标： 只要我们能联网， 不一定要借助于服务器， 我们就能方便的进行信息的传递和数据同步。 Ccnet 解决按照用户所需进行互联的问题， Seafile 解决同步的问题。</p>

    <p>从 2009 年开始， 经过三年多的摸索和开发， 我们终于做出了一个可以工作的系统。 虽然离原来的目标还有一段不小的距离， 但是已经可以作为一个能对大众开放使用的产品了。</p>
</div>

<div id="seafile-feature">
<h2>Seafile 特色 <img src="{{ MEDIA_URL }}img/feature.png" width="24px" /></h2>

<p>
<ul>
    <li><lable>用户可以创建<strong>多个文件盒</strong>。 每个文件盒可以放置任意的文件和目录， 可以单独的设置权限、加密、共享和同步参数。</li>
    <li>完整的本地版本历史。 不用联网， 用户就可以浏览文件的<strong>任意一个版本</strong>, 可以找回任意一个删除的文件。</li>
    <li>安全可靠的同步功能。 每次同步会做一个新的版本记录， 原来的文件状态得到<strong>完整的保存</strong>， 不用担心同步过程丢失文件或丢失对文件的修改。</li>
    <li>安全的协同工作。 多人协作下， 可以看到他人所做的改动， 合并他人的修改(尚未完善)。 完整的版本历史保证绝不会丢失自己的修改。 </li>
    <li>最后， 也是最重要的， <strong>数据的安全性</strong>。 服务器的功能只限于数据的中转， 你可以自己搭建服务器， <strong>随时把数据同步到另一台服务器</strong>。 </li>
</ul>
</p>
</div>


<div id="seafile-design">

<h2>Seafile 设计理念 <img src="{{ MEDIA_URL }}img/design.png" width="24px" /></h2>

<ul>
    <li>专注于文件的个人管理和协同管理, 打造一件精巧好用的工具。</li>
    <li>让用户完全自主的控制数据， 每一步对数据的操作用户都可以控制。</li>
    <li>功能的丰富性和可扩展性， 满足用户在文件管理上的各种需求。</li>
</ul>

</div> <!-- home page -->

{% endblock %}
