{% extends "base.html" %}


{% block main_panel %}
<div class="home-page">

<div id="main-show">
    <img src="{{ MEDIA_URL }}img/seafile-small.png" id="home-snapshot" />

    <h2>
        Seafile: 我自己的云存储
    </h2>

    <p>
        <ul id="feature-list">
            <li>本地完整的版本历史： 查看文件的任一版本</li>
            <li>安全可靠的同步功能： 不会弄丢文件或修改</li>
            <li>安全方便的协同工作： 安全的合并他人修改</li>
            <li>数据安全可随时迁移： 可以搭建个人服务器</li>
        </ul>
    </p>
    
    <div class="clear"></div>
</div>

<div id="seafile-show">
    <div class="show-item">
        <h2>P2P 同步</h2>
        <img width="150px" src="{{ MEDIA_URL }}img/sync-cc.png" />
        <p>用户可以创建<strong>多个文件盒</strong>。每个文件盒可以放置任意的文件和目。每个文件盒可以在任意两台计算机间同步，无需借助服务器。</p>
    </div>

    <div class="show-item2">
        <h2>多服务器</h2>
        <img width="150px" height="115px" src="{{ MEDIA_URL }}img/sync-cs.png" />
        <p>每台计算机都可以配置成服务器。可为每个文件盒选择不同的服务器。每次同步会做一个新的版本记录，原来的文件状态得到<strong>完整的保存</strong>，不用担心同步过程丢失文件或丢失对文件的修改。</p>
    </div>
    
    <div class="clear"></div>

    <div class="show-item">
        <h2>版本历史</h2>
        <img width="150px" src="{{ MEDIA_URL }}img/history-back.png" />
        <p>完整的本地版本历史。不用联网，用户就可以浏览文件的任意一个版本,可以找回任意一个删除的文件。也可以把整个目录恢复到任意一个历史状态。</li></p>
    </div>

    <div class="show-item2">
        <h2>协同工作</h2>
        <img width="150px" src="{{ MEDIA_URL }}img/sync-csc.png" />
        <p>多人协作， 自动进行修改的合并, 完整的版本历史保证绝不会丢失自己的修改。</p>
    </div>

    <div class="clear"></div>
</div>

<div id="seafile-what">
    <h2>什么是 Ccnet/Seafile <img src="{{ MEDIA_URL }}img/information.png" width="24px" /></h2>
    <p>
        Seafile 是一个文件<strong>版本管理和同步共享</strong>工具。 Ccnet 则是一个网络连接管理工具, 用于支持 Seafile 的同步共享功能。 
    </p>

    <p>
        Seafile 适合于以下的应用场合：
        <ul>
            <li>对文件资料进行版本管理。</li>
            <li>个人在多台电脑间同步数据。</li>
            <li>一个小组共同维护一个文件仓库， 比如建立一个电子书的仓库。 </li>
        </ul>
    </p>

    <p>
        Seafile 采用了以用户<strong>个人计算机为中心的设计方法</strong>。 我们提供了一个本地的文件资料管理工具。 用户可以从任意一个文件夹创建一个 Seafile 文件盒。 文件盒记下了文件夹每一个历史状态， 可以加密、导出历史文件。 这些操作均无需联网。 
    </p>

    <p>联网后， 用户可以在<strong>任意两台计算机之间进行数据同步</strong>。 为了支持非同时在线的用户间的数据同步， 用户可以选择一台服务器为文件的中转站(我们也把服务器叫做<strong>中继</strong>)。 通过中继， 多个用户就可以更加方便的进行文件的同步。
    </p>
</div>

<div id="seafile-history">
    <h2>Ccnet/Seafile 历史 <img src="{{ MEDIA_URL }}img/history.png" width="24px" /></h2>

    <p>Ccnet/Seafile 项目的最初目标是让用户（包括我们自己）能够<strong>方便而安全的</strong>在多台机器之间同步数据。</p>
    
    <p>设想， 假如你有一台电脑， 我有一台电脑， 我们能够建立网络连接(比如在同一个局域网内)， 原理上说， 进行数据同步的基本条件都具备了。 但是为什么我们之间的数据同步就这么难呢？ </p>

    <p>Ccnet/Seafile 项目就是为了接近这样的一个目标： 只要我们能联网， 不一定要借助于服务器， 我们就能方便的进行信息的传递和数据同步。 Ccnet 解决按照用户所需进行互联的问题， Seafile 解决同步的问题。</p>

    <p>从 2009 年开始， 经过三年多的摸索和开发， 我们终于做出了一个可以工作的产品， 并提供给大众使用。</p>
</div>


</div> <!-- home page -->

{% endblock %}
