{% extends "myhome_base.html" %}
{% load seahub_tags avatar_tags group_avatar_tags i18n %}
{% load url from future %}

{% block nav_myhome_class %}class="cur"{% endblock %}

{% block left_panel %}
<div class="info-item">
    <h3 class="info-item-top">{% trans "Profile" %}</h3>
    <div class="info-item-bottom home-profile ovhd">
        <a href="{{ SITE_ROOT }}profile/" class="no-deco">{% avatar request.user 48 %}</a>
        {% if nickname %}
        <p class="fleft">{{ nickname }}</p>
        {% else %}
        <p class="fleft">{% trans "No Nickname" %} <a href="{{ SITE_ROOT }}profile/"><img src="{{ MEDIA_URL }}img/edit_12.png" alt="{% trans "Edit" %}" title="{% trans "Edit" %}" /></a></p>
        {% endif %}
    </div>
</div>

{% if grpmsg_list or grpmsg_reply_list or orgmsg_list %}
<div class="info-item">
    <h3 class="info-item-top">{% trans "Reminding..." %}</h3>
    <ul class="info-item-bottom">
        {% if grpmsg_list %}
        <li>
        {% trans "Group" %}
        {% for grp in grpmsg_list %}
        <a href="{% url 'group_info' grp.id %}" class="no-bold">{{ grp.group_name }}</a>
        {% endfor %}
        {% trans "have new message" %}
        </li>
        {% endif %}
        {% if grpmsg_reply_list %}
        <li><a href="{{ SITE_ROOT }}group/reply/new/" class="no-bold">{{ grpmsg_reply_list|length }}{% trans "group message has new reply" %}</a></li>
        {% endif %}
        {% if orgmsg_list %}
        <li><a href="{% url 'org_msg' %}" class="no-bold">{{ orgmsg_list|length }}{% trans "org messages" %}</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}

<div class="info-item">
    <h3 class="info-item-top">{% trans "Space used" %}</h3>
    <p class="info-item-bottom">{{ quota_usage|filesizeformat }} {% if quota > 0 %}/ {{ quota|filesizeformat }} {% endif %}</p>
</div>

<!-- 我的群组 -->
{% with groups=joined_groups %}
{% include "snippets/my_groups.html" %}
{% endwith %}
{% endblock %}

{% block right_panel %}
<!-- 我拥有的资料库 共享给我的资料库 星标文件 -->
{% include "snippets/my_owned_repos.html" %}

{% if events %}
{% include "snippets/events.html" %}
{% endif %}

{% url 'share_repo' as repo_share_url %}
{% with post_url=repo_share_url %}
{% include "snippets/repo_share_form.html" %}
{% endwith %}

{% include "snippets/repo_create_form.html" %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
{% with groups=autocomp_groups %}
{% include "snippets/myhome_extra_script.html" %}
{% endwith %}

{% url 'seahub.views.repo_create' as repo_create_url %}
{% with post_url=repo_create_url %}
{% include "snippets/repo_create_js.html" %}
{% endwith %}

{% if events %}
{% include "snippets/events_js.html" %}
{% endif %}
</script>
{% endblock %}
