{% extends "base.html" %}
{% block nav %}
<ul class="nav">
    <li>
        <a href="{{ SITE_ROOT }}home/my/">我的页面</a>
    </li>
    {% if request.user.is_staff %}
    <li>
        <a href="{{ SITE_ROOT }}seafadmin/">目录管理</a>
    </li>
    <li>
        <a href="{{ SITE_ROOT }}useradmin/">用户管理</a>
    </li>
    {% endif %}
    <li>
        <a href="http://www.gonggeng.org/seasite/help/">使用帮助</a>
    </li>
    <!--
    <li>
        <a href="{{ SITE_ROOT }}repos/my/">Files</a>
    </li>
    <li>
        <a href="{{ SITE_ROOT }}peers/">Peers</a>
    </li>
    <li>
        <a href="{{ SITE_ROOT }}groups/">Groups</a>
    </li>
    -->
</ul>
{% endblock %}

