{% extends "myhome_base.html" %}

{% block nav_home_class %}class="cur"{% endblock %}
{% block left_panel %}
<h3>已用空间</h3>
<p>{{ quota_usage|filesizeformat }} / 4 GB</p>
{% endblock %}


{% block right_panel %}

<h3>我拥有的同步目录</h3>
{% if owned_repos %}
<table class="repo-list">
    <tr>
        <th width="12%">名字</th>
        <th width="33%">ID</th>
        <th width="40%">描述</th>
        <th width="15%">操作</th>
    </tr>

    {% for repo in owned_repos %}
    <tr>
        <td><a href="{{ SITE_ROOT }}repo/{{ repo.props.id }}">{{ repo.props.name }}</a></td>
        <td>{{ repo.props.id }}</td>
        <td>{{ repo.props.desc }}</td>
        <td>
        {% if repo.is_public %}
        <a href="{{ SITE_ROOT }}repo/dir/{{ repo.props.id }}/">浏览</a>
        {% endif %}
        <a href="{{ SITE_ROOT }}repo/remove/{{ repo.props.id }}/">删除</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>暂无</p>
{% endif %}

<h3>我获取的同步目录</h3>
{% if fetched_repos %}
<table class="repo-list">
    <tr>
        <th width="12%">名字</th>
        <th width="33%">ID</th>
        <th width="40%">描述</th>
        <th width="15%">操作</th>
    </tr>

    {% for repo in fetched_repos %}
    <tr>
        <td><a href="{{ SITE_ROOT }}repo/{{ repo.props.id }}">{{ repo.props.name }}</a></td>
        <td>{{ repo.props.id }}</td>
        <td>{{ repo.props.desc }}</td>
        <td>
        {% if repo.is_public %}
        <a href="{{ SITE_ROOT }}repo/dir/{{ repo.props.id }}/">查看目录</a>
        {% else %}
        查看目录
        {% endif %}
        <button data="{{ SITE_ROOT }}repo/removefetched/{{ user.user_id }}/{{ repo.props.id }}/" class="repo-delete-btn">删除</button>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>暂无</p>
{% endif %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
addConfirmTo($('.repo-delete-btn'));
</script>
{% endblock %}
