{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% block top_bar_myaccount_class %} class="cur"{% endblock %}
{% block nav %}
<ul class="nav">
    <li>
        <a href="{{ SITE_ROOT }}home/my/" {% block nav_myhome_class %}{% endblock %}>{% trans "My Home" %}</a>
    </li>
    {% if not cloud_mode %}
    <li>
        <a href="{% url 'public_home' %}" {% block nav_publichome_class %}{% endblock %}>{% trans "Public Repo" %}</a>
    </li>
    {% endif %}
    <li>
        <a href="{{ SITE_ROOT }}groups/" {% block nav_group_class %}{% endblock %}>{% trans "Groups" %}</a>
    </li>
    <li>
        <a href="{{ SITE_ROOT }}shareadmin/" {% block nav_shareadmin_class %}{% endblock %}>{% trans "Share Admin" %}</a>
    </li>
    <li>
        <a href="{{ SITE_ROOT }}contacts/" {% block nav_contacts_class %}{% endblock %}>{% trans "Contacts" %}</a>
    </li>
    {% if not cloud_mode %}
    <li>
        <a href="{% url 'seahub.views.pubinfo' %}" {% block nav_pubinfo_class %}{% endblock %}>{% trans "Public Info" %}</a>
    </li>
    {% endif %}
</ul>
{% endblock %}
