{% extends "base.html" %}
{% block top_bar_org_manager_class %} class="cur"{% endblock %}
{% block nav %}
<ul class="nav">
    {% if request.user.org.is_staff %}
    <li>
        <a href="{% url org_useradmin request.user.org.url_prefix %}" {% block nav_useradmin_class %}{% endblock %}>用户管理</a>
    </li>
    <li>
        <a href="{% url org_seafadmin request.user.org.url_prefix %}" {% block nav_seafadmin_class %}{% endblock %}>目录管理</a>
    </li>
    <li>
        <a href="{% url org_groupadmin request.user.org.url_prefix %}" {% block nav_groupadmin_class %}{% endblock %}>小组管理</a>
    </li>
    {% endif %}

</ul>
{% endblock %}
