{% extends "base.html" %}
{% load i18n %}
{% block top_bar_org_manager_class %} class="cur"{% endblock %}
{% block nav %}
<ul class="nav">
    {% if request.user.org.is_staff %}
    <li>
        <a href="{% url org_admin request.user.org.url_prefix %}" {% block nav_useradmin_class %}{% endblock %}>{% trans "Basic Info" %}</a>
    </li>
    <li>
        <a href="{% url org_seafadmin request.user.org.url_prefix %}" {% block nav_seafadmin_class %}{% endblock %}>{% trans "Libraries" %}</a>
    </li>
    <li>
        <a href="{% url org_groupadmin request.user.org.url_prefix %}" {% block nav_groupadmin_class %}{% endblock %}>{% trans "Groups" %}</a>
    </li>
    {% endif %}

</ul>
{% endblock %}
