{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block top_bar_org_myaccount_class %} class="cur"{% endblock %}
{% block notice_panel %}
<p id="notice"><span id="notice-con">{% trans "Organization will be removed in next version, data will be merged into your current account." %}</span></p>
{% endblock %}
{% block nav %}
<ul class="nav">
    <li>
        <a href="{% url 'organizations.views.org_personal' org.url_prefix %}" {% block nav_org_personal_class %}{% endblock %}>{% trans "Personal" %}</a>
    </li>
    <li>
        <a href="{% url 'organizations.views.org_groups' org.url_prefix %}" {% block nav_group_class %}{% endblock %}>{% trans "Groups" %}</a>
    </li>
    <li>
        <a href="{% url 'organizations.views.org_shareadmin' org.url_prefix %}" {% block nav_share_class %}{% endblock %}>{% trans "Share" %}</a>
    </li>
    <li>
        <a href="{% url 'organizations.views.org_public' org.url_prefix %}" {% block nav_org_class %}{% endblock %}>{% trans "Public Library" %}</a>
    </li>
    <li>
        <a href="{% url 'organizations.views.org_pubinfo' org.url_prefix %}" {% block nav_pubinfo_class %}{% endblock %}>{% trans "Public Info" %}</a>
    </li>
</ul>
{% endblock %}
