{% extends "base.html" %}

{% block title %}Peers{% endblock %}

{% block left_panel %}
<ul>
    <li><a href="?type=mypeer">My Peers</a></li>
    <li><a href="?type=all">All Peers</a></li>
</ul>
{% endblock %}

{% block right_panel %}
<table class="peer-list default">
    <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Roles</th>
        <th>My Roles On Peer</th>
        <th>Action</th>
    </tr>
    {% for peer in peers %}
        <tr>
        <td>{{ peer.props.name }}</td>
        <td>{{ peer.props.id }}</td>
        <td>{{ peer.props.role_list }}</td>
        <td>{{ peer.props.my_role_list }}</td>
        <td></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
