{% extends "myhome_base.html" %}
{% load seahub_tags avatar_tags group_avatar_tags %}
{% load url from future %}

{% block nav_pubinfo_class %}class="cur"{% endblock %}

{% block left_panel %}
<h3>成员列表</h3>
{% if users %}
<ul>
    {% for member in users %}
	<li class="member">{% avatar member.email 16 %}<a class="name" href="{{ SITE_ROOT }}profile/{{ member.email }}/">{{ member.email|email2nickname }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>暂无</p>
{% endif %}
{% endblock %}

{% block right_panel %}
{% if groups %}
<h3>所有群组</h3>
<ul class="group-list w100 ovhd">
    {% for group in groups %}
    <li class="group fleft">
    <div class="pic fleft">
        <a href="{{ SITE_ROOT }}group/{{ group.props.id }}/" class="no-deco">
            <img src="{% grp_avatar_url group.props.id 48 %}" alt="{{ group.props.group_name }}的图标" title="{{ group.props.group_name }}" class="avatar" />
        </a>
    </div>
    <div class="txt fright">
        <h4><a href="{{ SITE_ROOT }}group/{{ group.props.id }}/">{{ group.props.group_name }}</a></h4>
        <p><span class="item-name">创建者：</span>{{ group.props.creator_name }}</p>
        <p><span class="item-name">创建时间：</span>{{ group.props.timestamp|tsstr_sec }}</p>
    </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>现在还没有人创建群组，可以通过“群组”标签下的“创建群组”按钮创建。</p>
{% endif %}
<!-- user profile -->
{% include "snippets/user_profile_html.html" %}
{% endblock %}

{% block extra_script %}
{% include "snippets/user_profile_js.html" %}
<script type="text/javascript">
{% url 'group_list' as group_add_url %}
{% with post_url=group_add_url %}
{% include "snippets/group_add_js.html" %}
{% endwith %}
</script>
{% endblock %}
