{% extends "myhome_base.html" %}
{% load seahub_tags avatar_tags %}
{% load url from future %}

{% block nav_publichome_class %}class="cur"{% endblock %}

{% block left_panel %}
<h3>成员</h3>
{% if users %}
<ul>
    {% for member in users %}
	<li class="member">{% avatar member.email 16 %}<a class="name" href="{% url 'user_profile' member.email %}">{{ member.email|email2nickname }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>暂无</p>
{% endif %}
{% endblock %}

{% block right_panel %}
<h3>公开的资料库</h3>
<button id="repo-create">新建资料库</button>
{% if public_repos %}
<table>
    <tr>
        <th width="4%"><!--icon--></th>
        <th width="20%">名字</th>
        <th width="36%">描述</th>
        <th width="15%">更新时间</th>
        <th width="15%">共享来源</th>
        <th width="10%">操作</th>
    </tr>
    {% for repo in public_repos %}
    <tr>
        <td>
            {% if repo.user_perm == 'rw' %}
            <img src="{{MEDIA_URL}}img/sync-folder-20.png" title="可读写" alt="目录icon" />
            {% else %}
            <img src="{{MEDIA_URL}}img/folder-no-write-20.png" title="只读" alt="目录icon" />
            {% endif %}
        </td>
        <td><a href="{% url 'repo' repo.props.repo_id %}">{{ repo.props.repo_name }}</a></td>
        <td>{{ repo.props.repo_desc }}</td>
        {% if repo.props.last_modified %}
        <td>{{ repo.props.last_modified|translate_commit_time }}</td>
        {% else %}
        <td>--</td>
        {% endif %}
        <td>{{ repo.props.user|email2nickname }}</td>
        <td>
	    {% if repo.user_perm == 'rw' %}
            <img src="{{ MEDIA_URL }}img/download-20.png" data="{{ repo.props.repo_id }}" class="download-btn op-icon vh" title="下载到本地" alt="下载" />
	    {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<!-- /.main -->
{% include "snippets/repo_share_form.html" %}
{% include "snippets/repo_create_form.html" %}
{% include "snippets/user_profile_html.html" %}

{% endblock %}

{% block extra_script %}
{% include "snippets/user_profile_js.html" %}
<script type="text/javascript">
{% include "snippets/myhome_extra_script.html" %}
{% url 'seahub.views.public_repo_create' as repo_create_url %}
{% with post_url=repo_create_url %}
    {% include "snippets/repo_create_js.html" %}
{% endwith %}
</script>
{% endblock %}
