{% extends "myhome_base.html" %}
{% load seahub_tags avatar_tags %}
{% load url from future %}

{% block nav_publichome_class %}class="cur"{% endblock %}

{% block main_panel %}
<div class="side fright">
<h3>成员</h3>
{% if users %}
<ul>
    {% for member in users %}
	<li class="member">{% avatar member.email 16 %}<a class="name" href="{% url 'user_profile' member.email %}">{{ member.email|email2nickname }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>暂无</p>
{% endif %}
</div>

<div class="main fleft">
<h3>公开的同步目录</h3>
<button id="repo-create">新建同步目录</button>
{% if public_repos %}
<table>
    <tr>
        <th width="20%">名字</th>
        <th width="40%">描述</th>
        <th width="15%">更新时间</th>
        <th width="15%">共享来源</th>
        <th width="10%">操作</th>
    </tr>
    {% for repo in public_repos %}
    <tr>
        <td><a href="{% url 'repo' repo.id %}">{{ repo.props.name }}</a></td>
        <td>{{ repo.props.desc }}</td>
        {% if repo.latest_modify %}
        <td>{{ repo.latest_modify|translate_commit_time }}</td>
        {% else %}
        <td>--</td>
        {% endif %}
        <td>{{ repo.owner|email2nickname }}</td>
        <td>
            <img src="{{ MEDIA_URL }}img/download-20.png" data="{{ repo.props.id }}" class="download-btn vh" title="下载到本地" alt="下载" />
            <img src="{{ MEDIA_URL }}img/delete-20.png" data="{% url 'views.unset_inner_pub_repo' repo.id %}" class="unshare-btn vh" title="取消共享" alt="取消共享" />
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
</div>
<!-- /.main -->
{% include "snippets/repo_share_form.html" %}
{% include "snippets/repo_create_form.html" %}
{% include "snippets/user_profile_html.html" %}

{% endblock %}

{% block extra_script %}
{% include "snippets/user_profile_js.html" %}
<script type="text/javascript">
{% include "snippets/myhome_extra_script.html" %}
{% url 'seahub.views.public_repo_create' as repo_create_url %}
{% with post_url=repo_create_url %}
    {% include "snippets/repo_create_js.html" %}
{% endwith %}
</script>
{% endblock %}
