{% extends base_template %}

{% load seahub_tags %}
{% load url from future %}

{% block main_panel %}
    <h2>{{repo.props.name}} 历史浏览<span class="latest-commit-time-author">({{ current_commit.props.ctime|tsstr_sec }})</span></h2>

    <div class="side fright">
      {% if can_access %}
      <div class="latest-commit">
        <h3>修改信息</h3>
        <p>{{ current_commit.props.desc|translate_commit_desc }}</p>
        <p class="al-rt">
          <span class="author">by
          {% if current_commit.props.creator_name %}
          {{ current_commit.props.creator_name|short_email }}
          {% else %}
          未知
          {% endif %}
          </span>
          <span class="time">{{ current_commit.props.ctime|translate_commit_time }}</span>
        </p>
      </div>
      {% endif %}

      <h3>操作</h3>
      <ul class="with-bg">
        <li><a href="{{ SITE_ROOT }}repo/history/{{ repo.id }}/">返回历史列表</a></li>
      </ul>
    </div>
  
    <div class="main fleft">
      {% if repo.props.encrypted and not password_set %}
      <p class="access-notice">该目录已加密。如需在线查看里面的内容，请输入解密密码。密码只会在服务器上暂存1小时。</p>
      <form action="{{ SITE_ROOT }}repo/{{ repo.id }}/" method="post">
        <label>密码：</label>
        <input id="id_password" type="password" name="password" maxlength="64" /><br />
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        <input type="submit" value="提交" />
      </form>

      {% else %}
          {% if not can_access %}
          <p class="access-notice">无法在线查看该同步目录。</p>
          {% else %}
              <p class="path">
              当前路径：
              {% for name, link in zipped %}
              {% if not forloop.last %}
                <a href="{{ SITE_ROOT }}repo/{{ repo.id }}/?commit_id={{ current_commit.id }}&p={{ link|urlencode }}">{{ name }}</a> /                 
              {% else %}
              {{ name }}
              {% endif %}
              {% endfor %}
              </p>
          <table>
            <tr>
              <th width="5%"></th>
              <th width="67%">名字</th>
              <th width="13%">大小</th>
              <th width="15%">操作</th>
            </tr>

            {% for dirent in dir_list %}
            <tr>
              <td class="icon-container"><img src="{{ MEDIA_URL }}img/folder-icon-24.png" alt="目录" /></td>
              <td><a href="{{ SITE_ROOT }}repo/{{ repo.id }}/?commit_id={{ current_commit.id }}&p={{ path|urlencode }}{{ dirent.obj_name|urlencode }}">{{ dirent.obj_name }}</a></td>              
              <td></td>
              <td></td>
            </tr>
            {% endfor %}

            {% for dirent in file_list %}
            <tr>
              <td class="icon-container"><img src="{{ MEDIA_URL }}img/file/{{ dirent.obj_name|file_icon_filter }}" alt="文件" /></td>
              <td><a class="op" href="{{ SITE_ROOT }}repo/{{ repo.props.id }}/files/?obj_id={{ dirent.props.obj_id }}&commit_id={{ current_commit.id }}&p={{ path|urlencode }}{{ dirent.obj_name|urlencode }}">{{ dirent.props.obj_name }}</a></td>              
              <td>{{ dirent.file_size|filesizeformat }}</td>
              <td>
                  <div>
                      <img src="{{ MEDIA_URL }}img/dropdown-arrow.png" alt="更多操作" class="more-op vh" data="no-popup" />
                      <ul class="op-list hide">
                          <li><a class="op" href="{{ SITE_ROOT }}repo/{{ repo.props.id }}/{{ dirent.props.obj_id }}/?file_name={{ dirent.props.obj_name }}&op=download">下载</a></li>
                          <li><a href="{{ SITE_ROOT }}repo/revert_file/{{ repo.id }}/?commit={{ current_commit.id }}&p={{path|urlencode}}{{ dirent.obj_name|urlencode }}&from=repo_history" class="op file-revert">还原</a></li>
                      </ul>
                  </div>
              </td>
            </tr>
            {% endfor %}
          </table>
          {% endif %}
      {% endif %}
    </div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$("table tr:gt(0)").hover(
    function() {
        $(this).find('.more-op').removeClass('vh');
    },
    function() {
        $(this).find('.more-op').addClass('vh');
    }
);

$('#main-panel').removeClass('ovhd');
var clicked_more_op;
$('.more-op').click(function(e) {
    var its_op_list = $(this).next();
    if ($(this).attr('data')) { // no popup
        clicked_more_op = $(this);
        $(this).parent().css('position','relative');
        if ($(this).offset().top + its_op_list.height() <= $('#main').offset().top + $('#main').height()) {
            its_op_list.css('top', 6);
        } else {
            its_op_list.css('bottom', 2);
        }
        $('.op-list').addClass('hide');
        its_op_list.removeClass('hide');
        $(this).attr('data','');
    } else {
        its_op_list.addClass('hide');
        $(this).attr('data','no-popup');
    }
});
$(document).click(function(e) {
    var target =  e.target || event.srcElement;
    if (clicked_more_op && target != clicked_more_op[0]) {
       clicked_more_op.next().addClass('hide');
       clicked_more_op.attr('data','no-popup');
    }
});
$('.op-list li').hover(
    function() {
        $(this).css('background', '#eee');
    },
    function() {
        $(this).css('background', '#fff');
    }
);

</script>
{% endblock %}
