{% extends "myhome_base.html" %}
{% load seahub_tags %}

{% block left_panel %}
<h3>操作</h3>
<ul class="with-bg">
    <li><a href="{{ SITE_ROOT }}repo/{{ repo.props.id }}/">返回同步目录</a></li>
</ul>
{% endblock %}

{% block right_panel %}
<h2 id="repo-history-hd">{{repo.props.name}} 修改历史</h2>
<table>
    <tr>
        <th width="20%">修改时间</th>
        <th width="10%">修改者</th>
        <th width="60%">描述</th>
        <th width="10%">操作</th>
    </tr>
    {% for commit in commits %}
    <tr>
        <td>{{ commit.props.ctime|translate_commit_time }}</td>
        {% if commit.props.creator_name %}
        <td>{{ commit.props.creator_name }}</td>
        {% else %}
        <td>未知</td>
        {% endif %}
        <td>{{ commit.props.desc|translate_commit_desc }}</td>
        {% if not forloop.last %}
        <td>
            <a href="{{ SITE_ROOT }}repo/history/dir/{{ repo.id }}/?commit_id={{ commit.id }}" class="op">浏览</a>
            {% if is_owner %}
            <a href="#" data="{{ SITE_ROOT }}repo/history/revert/{{ repo.id }}/?commit_id={{ commit.id }}" class="repo-revert op">还原</a>
            {% endif %}
	    </td>
        {% else %}
        <td></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<div id="paginator">
    {% if current_page != 1 %}
    <a href="?page={{ prev_page }}&per_page={{ per_page }}">上一页</a>
    {% endif %}
    {% if page_next %}
    <a href="?page={{ next_page }}&per_page={{ per_page }}">下一页</a>
    {% endif %}
    <span>每页：</span>
    {% if per_page == 25 %}
    <span> 25 </span>
    {% else %}
    <a href="?per_page=25" class="per-page">25</a>
    {% endif %}
    {% if per_page == 50 %}
    <span> 50 </span>
    {% else %}
    <a href="?per_page=50" class="per-page">50</a>
    {% endif %}
    {% if per_page == 100 %}
    <span> 100 </span> 
    {% else %}
    <a href="?per_page=100" class="per-page">100</a>
    {% endif %}
</div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
addConfirmTo($(".repo-revert"), '确定要还原该目录？');
</script>
{% endblock %}
