{% extends base_template %}
{% load seahub_tags %}

{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}codemirror/codemirror.css" />
<style type="text/css">
.CodeMirror-focused pre.CodeMirror-cursor {
  visibility: visible;
}
.CodeMirror-scroll {
    height:auto;
}
</style>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}codemirror/monokai.css" />
{% endblock %}

{% block main_panel %}
    <h2>编辑 {{ u_filename }}</h2>
    <p class="path">
         当前路径：
         {% for name, link in zipped %}
            {% if not forloop.last %}
                <a href="{{ SITE_ROOT }}repo/{{ repo.id }}/?p={{ link|urlencode }}">{{ name }}</a> /               
            {% else %}
                <a href="{{ SITE_ROOT }}repo/{{ repo.id }}/files/?p={{ path }}">{{ name }}</a>
            {% endif %}
         {% endfor %}
    </p>
    <div id="file">
        {% ifnotequal file_content None %}
        <textarea id="docu-view" class="hide">{{ file_content|escape }}</textarea>
        {% endifnotequal %}
        {% if filetype == 'Markdown' %}
        <div id="md-view" class="article hide"></div>
        {% endif %}
    </div>
    <div id="op-after-edit" class="w100 ovhd hide">
        {% if filetype == 'Markdown' %}
        <div class="fleft">
            <button id="file-edit-submit">提交</button>
            <button id="source-code-btn" class="hide">继续编辑</button>
            <button id="preview-btn">预览</button>
        </div>
        {% else %}
        <button id="file-edit-submit" class="fleft">提交</button>
        {% endif %}
        <button data="{{ SITE_ROOT }}repo/{{ repo.id }}/files/?p={{ path }}" id="file-edit-cancel" class="fright">取消修改</button>
    </div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{{MEDIA_URL}}codemirror/codemirror.js"></script>
{% if filetype == 'Markdown' %}
<script type="text/javascript" src="{{MEDIA_URL}}js/showdown.js"></script>
{% endif %}
<script type="text/javascript">
{% ifnotequal file_content None %}
var editor = CodeMirror.fromTextArea($('#docu-view')[0], {
    {% include "snippets/editor_set_mode.html" %}
    {% if filetype == 'Markdown' %}
    mode: 'markdown',
    {% endif %}
    theme: 'monokai',
    indentUnit: 4,
    lineNumbers: true,
    autofocus: true
});
$('#op-after-edit').removeClass('hide');

{% if filetype == 'Markdown' %}
$('#file-edit-submit').css('margin-right', '8px');
$('#source-code-btn').click(function() {
    $('#md-view, #source-code-btn').addClass('hide');
    $('.CodeMirror, #preview-btn').removeClass('hide');
    editor.focus();
});
$('#preview-btn').click(function() {
    var content = editor.getValue();
    var converter = new Showdown.converter();
    $('.CodeMirror, #preview-btn').addClass('hide');
    $('#md-view').html(converter.makeHtml(content)).removeClass('hide');
    $('#md-view').children(':first').css('margin-top', '0');
    $('#source-code-btn').removeClass('hide');
});
{% endif %}

$('#file-edit-submit').click(function () {
    $.ajax({
        type: "POST",
        url: '{{ SITE_ROOT }}repo/{{repo.id}}/file/edit/?p={{path|urlencode}}',
        dataType: 'json',
        cache: false,
        contentType: 'application/json; charset=utf-8',
        beforeSend: prepareCSRFToken,
        data: {content: editor.getValue(), encoding: '{{ encoding }}'},
        success: function(data) {
            location.href = $('#file-edit-cancel').attr('data');
        },
        error: function(xhr, ajaxOptions, thrownError) {
            var jsonVal = jQuery.parseJSON(xhr.responseText);
            $('#op-after-edit').prepend('<p class="error">' + jsonVal['error'] + '</p>');
        }
    });
});
$('#file-edit-cancel').click(function() {
    location.href = $(this).attr('data');
});
{% endifnotequal %}

{% if err %}
$('#file').html('<p class="error">{{ err }}</p>');
{% endif %}
</script>
{% endblock %}
