{% extends base_template %}
{% load seahub_tags %}

{% block main_panel %}
{% if not cloud_mode or not no_quota %}
<div class="narrow-panel">
    <h3>更新文件
            {% for name, link in zipped %}
              {% if not forloop.last %}
                <a href="{{ SITE_ROOT }}repo/{{ repo.id }}/?p={{ link|urlencode }}">{{ name }}</a> / 
              {% else %}
                {{ name }}
              {% endif %}
            {% endfor %}
    </h3>
    <form id="upload-file-form" enctype="multipart/form-data" method="post" action="{{ update_url }}">
        <input type="hidden" name="target_file" value="{{ target_file }}" />
        <input type="file" name="file" id="file" />
        <p>(文件应小于 {{ max_upload_file_size|filesizeformat }})</p>
        <p id="error-msg" class="error">{{ error_msg }}</p>
        <input id="upload-submit" type="submit" value="提交" class="submit" />
    </form>
    
    <div id="upload-progress" class="hide">
        <p>上传进度: <span id="upload-progress-text">获取中，请稍侯...</span></p>
        <div id="task-progress-bar" class="hide"></div>
        <button id="upload-cancel">取消</button>
    </div>
    <iframe id="request-progress" class="hide"><!--for chrome--></iframe>
</div>
{% else %}
<div class="text-panel">
    <p class="error">该同步目录所有者的空间已用完，无法更新</p>
</div>
{% endif %}
{% endblock %}

{% block extra_script %}
{% include 'snippets/file_upload_progress_js.html' %}
{% endblock %}
