    if (filetype == 'Document') {
        $.ajax({
            url: url,
            dataType: 'json',
            cache: false,
            contentType: 'application/json; charset=utf-8',
            success: function(data) {
                if (data.length > 0) {
                    $('#file-view').html('<pre id="docu-view">' + data[0]['content'] + '</pre>');
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                var jsonVal = jQuery.parseJSON(xhr.responseText);
                $('#file-view').html('<p class="error">' + jsonVal[0]['error'] + '</p>');
            }
        });
    } else if (filetype == 'Image') {
        $('#file-view').html('<img src="{{ raw_path }}" alt="{{ u_filename}}" id="image-view" />').css({'text-align':'center', 'padding':'30px 0'});
    } else if (filetype == 'SVG') {
        $('#file-view').html('<iframe src="{{ raw_path }}" frameborder="0" width="940" id="svg-view"></iframe>');
    } else if (filetype == 'PDF') {
        $.getScript('{{MEDIA_URL}}js/pdf.js', function() {
        PDFJS.workerSrc = '{{MEDIA_URL}}js/pdf.js';
        $('#file-view').html('<div id="pdf-op-bar" class="vh"><button id="prev">Prev</button> <button id="next">Next</button><label for="page-number">Page:</label><input type="number" id="page-number" value="1" min="1"></input> of <span id="page-nums"></span><button id="full-screen">Full Screen</button></div><canvas data="{{ raw_path }}" id="pdf-view" class="vh"></canvas>').css({'text-align':'center', 'padding':'30px 0'});
        var seahub_getPage = function (pdf, page_number) {
            pdf.getPage(page_number).then(function(page) {
                var scale = 1.5;
                var viewport = page.getViewport(scale);
                var canvas = $('#pdf-view')[0];
                var context = canvas.getContext('2d');
                canvas.height = viewport.height;
                canvas.width = viewport.width;
                var renderContext = { 
                    canvasContext: context,
                    viewport: viewport
                };  
                page.render(renderContext);
            }); 
        };
        PDFJS.getDocument($('#pdf-view').attr('data')).then(function(pdf) {
            $('#page-nums').html(pdf.numPages);
            $('#page-number').attr('max', pdf.numPages).css('width', String(pdf.numPages).length * 6 + 10);
            seahub_getPage(pdf, 1);
            $('#pdf-op-bar, #pdf-view').removeClass('vh');

            $('#page-number').change(function() {
                seahub_getPage(pdf, $(this).val());
            });

            $('#prev').click(function() {
                var current = $('#page-number').val();
                if (current > 1) {
                    current--;
                    seahub_getPage(pdf, current);
                    $('#page-number').val(current);
                }
            });

            $('#next').click(function() {
                var current = $('#page-number').val();
                if (current < pdf.numPages) {
                    current++;
                    seahub_getPage(pdf, current);
                    $('#page-number').val(current);
                }
            });
            
            $('#full-screen').click(function() {
                window.open('{{ SITE_ROOT }}pdf_full_view/?repo_id={{ repo.id }}&obj_id={{obj_id}}&file_name=' + e('{{ file_name }}'));
            });
      });
      });
    } else {
        $('#file-view').html('<p>该类型文件无法在线查看。<a href="{{ SITE_ROOT }}repo/{{ repo.id }}/{{ obj_id }}/?file_name={{ file_name }}&op=download">下载</a></p>');
    }
