{% extends "myhome_base.html" %}

{% block nav_home_class %}class="cur"{% endblock %}

{% block right_panel %}
<h3>文件及目录列表</h3>
{% if dirs %}
<table class="repo-list default">
    <tr>
        <th width="80%">名字</th>
        <th width="20%">操作</th>
    </tr>

    {% for dirent in dirs %}
    <tr>
      {% if dirent.is_dir %}
      <td><a href="{{ SITE_ROOT }}repo/dir/{{ repo_id }}/?root_id={{ dirent.props.obj_id }}">{{ dirent.props.obj_name }}</a></td>
      <td></td>
      {% else %}
      <td>{{ dirent.props.obj_name }}</td>
      <td>
      <button data="{{ SITE_ROOT }}repo/view/{{ repo_id }}/{{ dirent.props.obj_id }}/?file_name={{ dirent.props.obj_name }}" class="view-btn">查看</button>
      <button data="{{ SITE_ROOT }}repo/download/{{ repo_id }}/{{ dirent.props.obj_id }}/?file_name={{ dirent.props.obj_name }}" class="download-btn">下载</button>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
</table>
{% else %}
<p>暂无</p>
{% endif %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$('.view-btn').click(function() {
    location.href = $(this).attr('data');
});
</script> 
{% endblock %}
