{% extends "myhome_base.html" %}
{% load seahub_tags %}

{% block info_bar_message %}
{% if request.user.is_authenticated %}
  {{ block.super }}
{% else %}
  <div id="info-bar">
    <span class="info">当前链接会在短期内失效，欢迎您 <a href="http://seafile.com/" target="_blank">加入Seafile </a>体验更多功能。</span>
  </div>
{% endif %}
{% endblock %}

{% block main_panel %}
    <h2>
        {% if not view_history %}
        {{ u_filename }}
        {% else %}
        {{repo.props.name}} 历史浏览<span class="latest-commit-time-author">({{ current_commit.props.ctime|tsstr_sec }})</span>
        {% endif %}
    </h2>
    <div class="w100 ovhd">
    <p class="path fleft">
         当前路径：
         {% for name, link in zipped %}
            {% if not forloop.last %}
                {% if view_history %}
                <a href="{{ SITE_ROOT }}repo/{{ repo.id }}/?commit_id={{ current_commit.id }}&p={{ link|urlencode }}">{{ name }}</a> /                     {% else %}
                <a href="{{ SITE_ROOT }}repo/{{ repo.id }}/?p={{ link|urlencode }}">{{ name }}</a> /               
                {% endif %}
            {% else %}
                {{ name }}
            {% endif %}
         {% endfor %}
    </p>

    <div class="file-op fright">
        <a href="{{ SITE_ROOT }}repo/{{ repo.id }}/{{ obj_id }}/?file_name={{ file_name }}&op=view" target="_blank">查看原始文件</a>
        <a href="{{ SITE_ROOT }}repo/{{ repo.id }}/{{ obj_id }}/?file_name={{ file_name }}&op=download" target="_blank">下载文件</a>
        <br />

        {% if not view_history %}
        <span id="shared-link" class="hide">{{ file_shared_link }}</span>
        <button data="{{ SITE_ROOT }}sharedlink/get/?repo_id={{ repo.id }}&p={{ path|urlencode }}&file_name={{ file_name }}" id="get-shared-link">获取分享地址</button>
        <button id="send-shared-link" class="hide">发送</button>
        <button data="{{ SITE_ROOT }}sharedlink/remove/?t={{ fileshare.token }}" id="rm-shared-link" class="hide">删除</button>
        {% endif %}
    </div>
    </div>

    <div id="file-view">
        <p>文件内容读取中...</p>
    </div>

    <form id="link-send-form" action="" method="post" name="link-send-form" class="hide">
        <label>邮箱(多个邮箱以,分隔)：</label><br />
        <textarea id="email" name="email"></textarea><br />
        <input type="hidden" name="file_shared_link" value="{{ file_shared_link }}" />
        <p id="error" class="hide">输入不能为空。</p>
        <input type="submit" value="提交" class="submit" />
        <p id="sending" class="hide">发送中...</p>
        <p id="success" class="hide"></p> 
    </form>

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
function showLink() {
    $('#get-shared-link').addClass('hide');
    $('#shared-link, #send-shared-link, #rm-shared-link').removeClass('hide');
}
function hideLink() {
    $('#shared-link, #send-shared-link, #rm-shared-link').addClass('hide');
    $('#get-shared-link').removeClass('hide');
}

$(window).load(function() {
    var view_history = '{{ view_history }}',
        url = '',
        filetype = '{{ filetype }}',
        t = '{{ fileshare.token }}';

    if (view_history == 'True') {
        url = "{{ SITE_ROOT }}repo/{{ repo.id }}/file/get/?obj_id={{ obj_id }}&p={{ path|urlencode }}&t={{ token }}&u={{ request.user.username }}";
    } else {
        url = "{{ SITE_ROOT }}repo/{{ repo.id }}/file/get/?p={{ path|urlencode }}&t={{ token }}&u={{ request.user.username }}";
    }

    if (t) {
        showLink();
    } else {
        hideLink();
    }
    
    {% include "repo_file_get.html" %}
});

$('#get-shared-link').click(function() {
    var url = $(this).attr('data');
    $.ajax({
        url: url,
        dataType: 'json',
        cache: false,
        contentType: 'application/json; charset=utf-8',
        success: function(data) {
            if (data.length > 0) {
                var t = data[0]['token'],
                    shared_link = '{{ protocol }}://{{ domain }}{{ SITE_ROOT }}f/' + t + '/';
                $('#shared-link').html(shared_link);
                $('#rm-shared-link').attr('data', '{{ SITE_ROOT }}sharedlink/remove/?t='+t);
                $('input[name="file_shared_link"]').val(shared_link);
                showLink();
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            var jsonVal = jQuery.parseJSON(xhr.responseText);
            $('#get-shared-link').replaceWith('<span class="error">' + jsonVal[0]['error'] + '</span>');
        }
    });
});

$('#rm-shared-link').click(function() {
    var url = $(this).attr('data');
    $.ajax({
        url: url,
        dataType: 'json',
        cache: false,
        contentType: 'application/json; charset=utf-8',
        success: function(data) {
            hideLink();
            $('#shared-link').html('');
        }
    });
});

$('#send-shared-link').click(function() {
    $('#error, #sending, #success').attr('class', 'hide');
    $("#link-send-form").modal({appendTo: "#main"});
});

$("#link-send-form").submit(function(event) {
    $('#error, #sending, #success').attr('class', 'hide');
    var form = $(this), 
        file_shared_link = form.children('input[name="file_shared_link"]').val(),
        email = $.trim(form.children('textarea[name="email"]').val());

    if (!email) {
        $('#error').attr('class', 'error');
        $('#simplemodal-container').css('height', $('#link-send-form').height());
        return false;
    }
   
   $('#sending').removeClass('hide');
   $('#simplemodal-container').css('height', $('#link-send-form').height());

   if (email.length <= 512) {
       // prepare django csrf token
       $.ajaxSetup({ 
           beforeSend: function(xhr, settings) {
               function getCookie(name) {
               var cookieValue = null;
               if (document.cookie && document.cookie != '') {
                   var cookies = document.cookie.split(';');
                   for (var i = 0; i < cookies.length; i++) {
                       var cookie = jQuery.trim(cookies[i]);
                       // Does this cookie string begin with the name we want?
                       if (cookie.substring(0, name.length + 1) == (name + '='))        {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                       }
                   }
               }
               return cookieValue;
               }
               if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                  // Only send the token to relative URLs i.e. locally.
                  xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
               }
           } 
       });   
       $.ajax({
           type: "POST",
           url: "{{ SITE_ROOT }}sharedlink/send/",
           dataType: 'json',
           cache: false,
           contentType: 'application/json; charset=utf-8',
           data: {file_shared_link: file_shared_link, email: email},
           success: function(data) {
               $('#sending').attr('class', 'hide');
               $('#success').html(data[0]['msg']).removeClass('hide');
               $('#simplemodal-container').css('height', $('#link-send-form').height());
           },
           error: function(xhr, ajaxOptions, thrownError) {
               var jsonVal = jQuery.parseJSON(xhr.responseText);
               $('#sending').attr('class', 'hide');
               $('#error').html(jsonVal[0]['error']).attr('class','error');
               $('#simplemodal-container').css('height', $('#link-send-form').height());
           }
       });
   } 
   return false;
});
</script>
{% endblock %}
