{% extends "admin_base.html" %}
{% load i18n %}
{% load url from future %}
{% block nav_useradmin_class %}class="cur"{% endblock %}
{% block left_panel %}
<h3>{% trans "Operations" %}</h3>
<ul class="op-list">
    <li><a href="{{ SITE_ROOT }}useradmin/add/">{% trans "Add new user" %}</a></li>
</ul>
{% endblock %}

{% block right_panel %}
<h3>{% trans "All Members" %}</h3>
<table>
    <tr>
        <th width="55%">{% trans "Email" %}</th>
        <th width="20%">{% trans "Status" %}</th>
        <th width="25%">{% trans "Operations" %}</th>
    </tr>

    {% for user in users %}
    <tr>
        <td><a href="{{ SITE_ROOT }}useradmin/info/{{ user.props.email }}/">{{ user.props.email }}</a></td>
        {% if user.props.is_active %}
        <td>{% trans "Activated" %}</td>
        {% else %}
        <td><a href="#" data="{{ SITE_ROOT }}useradmin/activate/{{ user.props.id }}/" class="activate op">{% trans "Active" %}</a></td>
        {% endif %}
        <td>
          {% if not user.is_self %}
          <a href="#" class="remove-user-btn op" data-url="{{ SITE_ROOT }}useradmin/remove/{{ user.props.id }}/" data-target="{{ user.props.email }}">{% trans "Delete" %}</a>
          <a href="#" class="reset-user-btn op" data-url="{% url 'user_reset' user.id %}" data-target="{{ user.props.email }}">{% trans "ResetPwd" %}</a>
          {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<div id="paginator">
    {% if current_page != 1 %}
    <a href="{{ SITE_ROOT }}sys/useradmin/?page={{ prev_page }}&per_page={{ per_page }}">{% trans "Previous" %}</a>
    {% endif %}
    {% if page_next %}
    <a href="{{ SITE_ROOT }}sys/useradmin/?page={{ next_page }}&per_page={{ per_page }}">{% trans "Next" %}</a>
    {% endif %}
    {% if current_page != 1 or page_next %}
    |
    {% endif %}
    <span>{% trans "Per page: " %}</span> 
    {% if per_page == 25 %}
    <span> 25 </span> 
    {% else %}
    <a href="{{ SITE_ROOT}}sys/useradmin/?per_page=25" class="per-page">25</a>
    {% endif %}
    {% if per_page == 50 %}
    <span> 50 </span> 
    {% else %}
    <a href="{{ SITE_ROOT}}sys/useradmin/?per_page=50" class="per-page">50</a>
    {% endif %}
    {% if per_page == 100 %}
    <span> 100 </span> 
    {% else %}
    <a href="{{ SITE_ROOT}}sys/useradmin/?per_page=100" class="per-page">100</a>
    {% endif %}
</div>

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$('.activate').each(function(){
    $(this).click(function(){
        location.href = $(this).attr('data');
    });
});

addConfirmTo($('.remove-user-btn'), {
        'title':'{% trans "Delete User" %}',
        'con':'{% trans "Are you sure you want to delete %s ?" %}'
});
addConfirmTo($('.reset-user-btn'), {
        'title':'{% trans "Password Reset" %}',
        'con':'{% trans "Are you sure you want to reset the password of %s ?" %}'
});
</script>
{% endblock %}
