<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">	
    <head> 
        <title>FlexPaper</title>         
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
        <style type="text/css" media="screen"> 
          html, body	{ height:100%; }
          body { margin:0; padding:0; overflow:auto; }   
          #flashContent { display:none; }
        </style> 
		
		<script type="text/javascript" src="{{MEDIA_URL}}flexpaper/js/flexpaper_flash.js"></script>
		<script type="text/javascript" src="{{MEDIA_URL}}flexpaper/js/jquery.js"></script>
	    <script type="text/javascript"> 
          function load_flexpaper() {
              var fp = new FlexPaperViewer(	
                  '{{MEDIA_URL}}flexpaper/FlexPaperViewer',
                  'viewerPlaceHolder', { config : {
                      SwfFile : escape('{{MEDIA_URL}}flexpaper/Paper.swf'),
                      Scale : 0.6, 
                      ZoomTransition : 'easeOut',
                      ZoomTime : 0.5,
                      ZoomInterval : 0.2,
                      FitPageOnLoad : true,
                      FitWidthOnLoad : false,
                      FullScreenAsMaxWindow : false,
                      ProgressiveLoading : false,
                      MinZoomSize : 0.2,
                      MaxZoomSize : 5,
                      SearchMatchAll : false,
                      InitViewMode : 'Portrait',
                      PrintPaperAsBitmap : false,
                      
                      ViewModeToolsVisible : true,
                      ZoomToolsVisible : true,
                      NavToolsVisible : true,
                      CursorToolsVisible : true,
                      SearchToolsVisible : true,
                      
                      localeChain: 'en_US'
                  }});
          }

          $(load_flexpaper);
        </script>
    </head> 
    <body> 
    	<div style="position:absolute;left:10px;top:10px;">
	        <a id="viewerPlaceHolder" style="width:680px;height:480px;display:block"></a>
        </div>
    </body> 
</html> 
