{% extends "myhome_base.html" %}

{% block nav_useradmin_class %}class="cur"{% endblock %}
{% block left_panel %}
<ul>
    <li><a href="{{ SITE_ROOT }}useradmin/add/">添加用户</a></li>
</ul>
{% endblock %}


{% block right_panel %}

<h2>所有用户</h2>
<table class="user-list">
    <tr>
        <th width="30%">邮箱</th>
        <th width="10%">是否激活</th>
        <th width="40%">个人 ID</th>
        <th width="10%">角色</th>
        <th width="10%">操作</th>
    </tr>

    {% for user in users %}
    <tr>
        <td>{{ user.props.email }}</td>
        {% if user.props.is_active %}
        <td>已激活</td>
        {% else %}
        <td><button data="{{ SITE_ROOT }}useradmin/activate/{{ user.props.id }}/" class="activate">激活</button></td>
        {% endif %}
        {% if user.userid_list %}
        <td>{{ user.userid_list|first }}</td>
        {% else %}
        <td></td>
        {% endif %}
        <td>
            {% for role in user.role_list %}
            {{ role }} <!--<button data="{{ SITE_ROOT }}useradmin/{{ user.profile.ccnet_user_id }}/role/remove/?role={{ role }}" class="role-delete-btn">删除</button>--><br /> 
            {% endfor %}
        </td>
        <td>
          {% if user.profile %}
<!--          <button class="add-role-btn" userid="{{ user.profile.ccnet_user_id }}" email="{{ user.email }}">添加角色</button> -->
          {% endif %}
          <button class="remove-user-btn" data="{{ SITE_ROOT }}useradmin/{{ user.props.id }}/user/remove/">删除</button>
        </td>
    </tr>
    {% endfor %}
</table>

<form id="add-role-form" action="" method="post" class="hide">
    <p><span id="user_email"></span> 的新角色 (即 MyClient 等)：</p>
    <input id="id_role" type="text" name="role" /><br/>
    <input id="id_summit" type="submit" value="提交" />
</form>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
    $('.activate').each(function(){
        $(this).click(function(){
            location.href = $(this).attr('data');
        });
    });
$(".add-role-btn").each(function() {
        $(this).click(function() {
            var url = "{{ SITE_ROOT }}useradmin/" + $(this).attr("userid") + "/role/add/";
            $("#add-role-form").attr('action', url);
            $("#add-role-form #user_email").html($(this).attr("email"));
            $("#add-role-form").modal({appendTo: "#main"});
            });
        });
//delete confirm
addConfirmTo($('.remove-user-btn'));
addConfirmTo($('.role-delete-btn'));
</script>
{% endblock %}
