{% extends 'view_history_file.html' %}
{% load i18n %}
{% load url from future %}

{% block view_hd %}
  <h2 class="fleft">{{repo.props.name}} {% trans "'s trash" %}</h2>
  <button class="fright" data="{% url 'repo' repo.id %}" id="back">{% trans "Back to Library"%}</button>
{% endblock %}

{% block file_path %}
  {% trans "Current Path: "%}
  {% for name, link in zipped %}
    {% if not forloop.last %} <a href="{% url 'repo_recycle_view' repo.id %}?commit_id={{ current_commit.id }}&base={{ basedir|urlencode }}&p={{ link|urlencode }}&days={{days}}">{{ name }}</a> / {% else %} {{ name }} {% endif %}
  {% endfor %}
{% endblock %}


