{% extends "myhome_base.html" %}
{% load seahub_tags %}

{% block main_panel %}
    <h2>{{ file_name }}</h2>
    <div class="w100 ovhd">
        <p class="file-share-from fleft">共享者：{{ username }}</p>
        <div class="file-op fright">
            <a href="{{ SITE_ROOT }}repo/{{ repo.id }}/{{ obj_id }}/?file_name={{ file_name }}&op=view&t={{ shared_token }}" target="_blank">查看原始文件</a>
            <a href="{{ SITE_ROOT }}repo/{{ repo.id }}/{{ obj_id }}/?file_name={{ file_name }}&op=download&t={{ shared_token }}" target="_blank">下载文件</a>
        </div>
    </div>

    <div id="file-view">
      <p>文件内容读取中...</p>
    </div>

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
    var url = '{{ SITE_ROOT }}repo/{{ repo.id }}/file/get/?t={{ access_token }}&p={{ path|urlencode }}&u={{ username }}',
    
    {% include "repo_file_get.html" %}
</script>
{% endblock %}
