.metadata-gallery-container {
  height: calc(100vh - 100px);
  margin: 2px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: left;
  align-items: center;
  overflow-y: auto;
}

.metadata-gallery-date-group {
  position: relative;
}

.metadata-gallery-date-tag {
  width: 6rem;
  height: 1.5rem;
  top: 1rem;
  left: 1rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #fafaf7;
  font-size: 0.875rem;
  text-align: center;
  z-index: 1;
  opacity: 0.9;
  user-select: none;
}

.metadata-gallery-image-list {
  display: grid;
  gap: 2px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.metadata-gallery-image-item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.metadata-gallery-image-item:focus {
  border: 2px solid #ff8000;
}

.metadata-gallery-grid-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.metadata-gallery-grid-image:hover {
  transform: scale(1.05);
}
