.sf-metadata-tags-main .tag-list-title .sf-metadata-ui-tags-container {
  width: fit-content;
  max-width: 100%;
}

.tag-list-title .sf-metadata-ui-tags-container .sf-metadata-ui-tag {
  height: 16px !important;
  width: 16px !important;
  top: 0 !important;
}

.tag-list-title .sf-metadata-ui-tags-container .sf-metadata-ui-tag:last-child {
  margin-right: 0;
}

.sf-metadata-tag-files-wrapper .sf-metadata-tags-main .table-container thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--bs-body-bg);
}

.sf-metadata-tags-main .table-container td.name a {
  word-break: break-word;
}
