.sf-chart .sf-chart-tooltip {
  position: fixed;
  box-sizing: 'border-box';
  min-width: 178px;
  border-radius: 3px;
  border: 1px solid #e2e2e2;
  background: var(--bs-body-bg);
  padding: 8px 16px;
  margin-left: 10px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  transition: left 0.3s cubic-bezier(0.23, 1, 0.32, 1), top 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: .95;
}

.sf-chart .sf-chart-tooltip .sf-chart-tooltip-title {
  color: #333333;
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-bottom: 10px;
  max-width: 160px;
  line-height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sf-chart .sf-chart-tooltip .sf-chart-tooltip-item {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
}

.sf-chart .sf-chart-tooltip .sf-chart-tooltip-item-marker {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  margin-right: 8px;
}

.sf-chart .sf-chart-tooltip .sf-chart-tooltip-item-name {
  display: inline-block;
  font-size: 12px;
  min-width: 80px;
  line-height: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}

.sf-chart .sf-chart-tooltip .sf-chart-tooltip-item-value {
  font-size: 12px;
  line-height: 12px;
}
