.sf-metadata-text-property-detail-editor {
  padding: 6.5px 6px;
  min-height: 34px;
  width: 100%;
  border: none !important;
  outline: none !important;
}

.sf-metadata-text-property-detail-editor.formatter {
  background-color: inherit;
}

.sf-metadata-text-property-detail-editor:not(.formatter) {
  background: var(--bs-body-bg);
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
  border-radius: 3px;
}
