.sf-metadata-number-property-detail-editor {
  min-height: 34px;
  height: 34px;
  padding: 6.5px 6px;
  line-height: 1.5;
  border: none !important;
  background: inherit;
}

.sf-metadata-number-property-detail-editor::placeholder {
  color: #868e96;
  font-size: 14px;
}

.sf-metadata-number-property-detail-editor:hover {
  cursor: pointer;
}

.sf-metadata-number-property-detail-editor:focus {
  background: var(--bs-body-bg);
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
  border-radius: 3px;
  cursor: auto;
}