{% extends "base.html" %}
{% load i18n avatar_tags %}

{% block main_panel %}
<div class="narrow-panel avatar-op">
    <h2>{% trans "Upload Avatar" %}</h2>
    <h3>{% trans "Your current avatar: " %}</h3>
    {% avatar user %}
    <h3 class="upload-new-avatar-hd">{% trans "Upload New Avatar: " %}</h3>
    <form enctype="multipart/form-data" method="POST" action="{% url avatar_add %}">{% csrf_token %}
        {{ upload_avatar_form.avatar }}<br />
        {{ upload_avatar_form.avatar.errors }}
        <input type="submit" value="{% trans "Upload New Image" %}" class="submit" />
    </form>
</div>
{% endblock %}
