{% extends base_template %}
{% load group_avatar_tags i18n %}

{% block nav_group_class %}class="cur"{% endblock %}

{% block main_panel %}
<div class="narrow-panel avatar-op">
    <h2><a href="{{ SITE_ROOT }}group/{{ group.id }}/">{{ group.group_name }}</a> {% trans "Avatar Change" %}</h2>
    <h3>{% trans "Current avatar: " %}</h3>
    {% grp_avatar group.id %}

    <h3 class="upload-new-avatar-hd">{% trans "Upload New Avatar: " %}</h3>
    <form enctype="multipart/form-data" method="post" action="">{% csrf_token %}
        {{ form.avatar }}<br />
        {{ form.avatar.errors }}
        <input type="submit" value="{% trans "Submit" %}" class="submit" />
    </form>
</div>
{% endblock %}
