{% extends "base.html" %}
{% load i18n %}

{% block main_content %}
<div class="new-narrow-panel">
    <h2 class="hd">{% trans "Disable Two-Factor Authentication" %}</h2>
    <div class="con">
        <p>{% blocktrans %}You are about to disable two-factor authentication. This
    compromises your account security, are you sure?{% endblocktrans %}</p>
        <form method="post" action="">{% csrf_token %}
            <button type="submit" class="submit">{% trans "Disable" %}</button>
            <a href="{% url 'edit_profile'%}" class="sf-btn-link">{% trans "Cancel" %}</a>
        </form>
    </div>
</div>
{% endblock %}
