{% extends "base.html" %}
{% load i18n %}

{% block main_content %}
<div class="tfa-panel text-center">
  <h2 class="hd">{% trans "Disable Two-Factor Authentication" %}</h2>
  <div class="con">
    <p>{% blocktrans %}You are about to disable two-factor authentication. This compromises your account security, are you sure?{% endblocktrans %}</p>
    <form method="post" action="" class="mt-5">{% csrf_token %}
      <a href="{% url 'edit_profile'%}" class="btn btn-secondary">{% trans "Cancel" %}</a>
      <button type="submit" class="btn btn-primary ml-1">{% trans "Disable" %}</button>
    </form>
  </div>
</div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{{MEDIA_URL}}js/2fa-page.js"></script>
{% endblock %}
