.add-members .toggle-detail-btn {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  /* the height of its parent may vary */
  height: 100%;
  cursor: pointer;
}

.add-members .btn.toggle-detail-btn:hover {
  border: 1px solid transparent;
  border-left: 1px solid var(--bs-border-color);
}

/* for the input before .toggle-detail-btn */
.add-members .user-select-trigger:has(+ .toggle-detail-btn) {
  padding-right: 40px;
}

.add-members:has(.toggle-detail-btn) .select-dropdown-indicator {
  display: none!important;
}
