.sf-metadata-basic-filters-select.custom-select {
  width: fit-content;
  max-width: 100%;
  background-image: none;
  border: none;
  padding: 0 6px;
  margin-left: -6px;
}

.sf-metadata-basic-filters-select.custom-select:hover {
  background: #f5f5f5;
}

.sf-metadata-basic-filters-select.custom-select .selected-option {
  background-color: inherit;
}

.sf-metadata-basic-filters-select.custom-select.focus {
  border-color: unset;
  box-shadow: none;
}

.sf-metadata-basic-filters-select .selected-option-show {
  margin-right: 8px;
}

.select-basic-filter-option {
  width: 100%;
  display: flex;
  align-items: center;
}

.select-basic-filter-option .select-basic-filter-option-name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select-basic-filter-option .select-basic-filter-option-check-icon {
  display: inline-flex;
  align-items: center;
  height: 20px;
  width: 20px;
  text-align: center;
  flex-shrink: 0;
  margin-left: 10px;
}

.sf-metadata-option.sf-metadata-option-active .sf-metadata-icon-check-mark {
  fill: #fff;
}

.sf-metadata-basic-filters-select .sf-metadata-option-group {
  margin-left: 6px;
}
