.all-tags-tree-node-inner:hover {
  background-color: var(--bs-nav-hover-bg);
  border-radius: 0.25rem;
}

.all-tags-tree-node-inner .sf3-font-tag {
  font-size: 12px;
  color: #666666;
  line-height: 1.5;
  width: 1.5rem;
  display: flex;
  justify-content: center;
}
