.detail-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.detail-container .detail-content {
  display: flex;
  flex-direction: column;
}

.detail-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 16px;
}

.dirent-info .img {
  height: 10rem;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dirent-info .img .thumbnail {
  max-width: calc(100% - 4px);
  max-height: 100%;
  display: inline-block;
}
