.dtable-icon-settings-popover .popover {
  max-width: 314px;
  width: 314px;
}

.app-icon-settings-popover-nav .nav {
  border-bottom: 1px solid #efefef;
}

.app-icon-settings-popover-nav .nav .nav-item {
  padding: 0;
}

.app-icon-settings-popover-nav .nav .nav-item .nav-link {
  margin: 0;
  display: flex;
  justify-content: center;
  font-weight: 600;
  padding: 0.5rem 0;
  border-bottom: 0.125rem solid transparent;
}

.app-icon-settings-popover-nav .nav .nav-item .nav-link.active {
  color: #ff8000;
  text-decoration: none;
  border-bottom: 0.125rem solid #ff8000;
}

.app-icon-settings-popover-main {
  height: 300px;
  display: flex;
  justify-content: center;
  padding: 16px 5px;
  align-items: center;
}

.app-settings-dialog-icons {
  height: 260px;
}

.app-settings-dialog-icons .multicolor-icon-container {
  padding: 8px;
  margin: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: relative;
}

.app-settings-dialog-icons .multicolor-icon-container.top {
  margin: 0 10px 10px 10px;
}

.app-settings-dialog-icons .multicolor-icon-container img {
  width: 40px;
  max-width: fit-content;
  height: 40px;
}

.app-settings-dialog-icons .multicolor-icon-container img.active {
  width: 42px;
  height: 42px;
  border: 2px solid #b6e8e4;
  border-radius: 50%;
}
