.sf-metadata-rename-view-popover .popover,
.sf-metadata-addview-popover .popover {
  max-width: none;
  min-width: 280px;
  margin: 0;
  padding: 0.5rem 0;
  border: 0;
}

.sf-metadata-view-form {
  display: flex;
  padding-left: 0.5rem;
  gap: 0.5rem;
}

.sf-metadata-addview-popover .sf-metadata-addview-popover-header {
  width: 100%;
  height: 2rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: left;
  color: #666666;
  opacity: 1;
  font-size: 0.875rem;
}

.sf-metadata-rename-view-popover .sf-metadata-rename-view-popover-header {
  width: 100%;
  height: 1.5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: left;
  color: #666666;
  opacity: 1;
  font-size: 0.875rem;
}

.sf-metadata-addview-popover
.sf-metadata-addview-popover-body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dropdown-item.sf-metadata-addview-popover-item {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dropdown-item.sf-metadata-addview-popover-item .metadata-view-item {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.sf-metadata-rename-view-popover-body {
  padding: 0 0.5rem;
}

.sf-metadata-addview-popover .metadata-views-icon {
  color: #666;
}
