.extra-attributes-dialog .selected-single-select-container {
  height: 38px;
  width: 100%;
  padding: 0 10px;
  border-radius: 3px;
  user-select: none;
  border: 1px solid rgba(0, 40, 100, .12);
  appearance: none;
  background: #fff;
}

.extra-attributes-dialog .selected-single-select-container.disable {
  background-color: #f8f9fa;
}

.extra-attributes-dialog .selected-single-select-container.focus {
  border-color: #1991eb!important;
  box-shadow: 0 0 0 2px rgba(70, 127, 207, .25);
}

.extra-attributes-dialog .selected-single-select-container:not(.disable):hover {
  cursor: pointer;
}

.extra-attributes-dialog .selected-single-select-container .fa-caret-down {
  font-size: 16px;
  color: #949494;
}

.extra-attributes-dialog .selected-single-select-container .single-select-option {
  text-align: center;
  width: min-content;
  max-width: 250px;
  line-height: 20px;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* editor */
.single-select-editor-container {
  min-height: 160px;
  width: 320px;
  overflow: hidden;
  background-color: #fff;
}

.single-select-editor-container .search-single-selects {
  padding: 10px 10px 0;
}

.single-select-editor-container .search-single-selects input {
  max-height: 30px;
  font-size: 14px;
}

.single-select-editor-container .single-select-editor-content {
  max-height: 200px;
  min-height: 100px;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.single-select-editor-container .single-select-editor-content .single-select-option-container {
  width: 100%;
  height: 30px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  color: #212529;
  padding-left: 12px;
}

.single-select-editor-container .single-select-editor-content .single-select-option-container:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.single-select-editor-container .single-select-editor-content .single-select-option {
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 10px;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.single-select-editor-container .single-select-editor-content .single-select-option-selected {
  width: 20px;
  text-align: center;
}

