.sf-metadata-people-photos-container {
  padding: 0 !important;
  overflow-y: hidden !important;
}

.sf-metadata-people-photos-container .sf-metadata-people-photos-header {
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #eee;
}

.sf-metadata-people-photos-container .sf-metadata-icon-btn {
  margin-left: -4px;
  border-radius: 3px;
}

.sf-metadata-people-photos-container .sf-metadata-icon-btn:hover {
  background-color: #EFEFEF;
  cursor: pointer;
}

.sf-metadata-people-photos-container .sf-metadata-people-photos-header .sf-metadata-people-photos-header-back {
  font-size: 14px;
  height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -5px;
  border-radius: 3px;
}

.sf-metadata-people-photos-container .sf-metadata-people-photos-header .sf-metadata-people-photos-header-back:hover {
  background-color: #DBDBDB;
  background-color: #EFEFEF;
  cursor: pointer;
}

.sf-metadata-people-photos-container .sf-metadata-people-photos-header-back .sf3-font-arrow {
  color: #666;
  font-size: 14px !important;
}

.sf-metadata-people-photos-container .sf-metadata-people-photos-header .sf-metadata-people-name {
  margin-left: 4px;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sf-metadata-people-photos-container .sf-metadata-gallery-container {
  height: calc(100% - 48px);
}
