.wiki2-search {
  font-size: .875rem;
  margin: 10px 8px 0px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
}

.wiki2-search:hover {
  cursor: pointer;
  background-color: var(--bs-wiki-nav-hover-bg) !important;
  border-radius: 3px;
}

.wiki2-search .sf3-font-search {
  font-size: 1rem;
  margin: 0 8px;
  color: #666;
}

.wiki2-search-input .sf3-font-search {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  color: #9aa0ac;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.5rem;
  pointer-events: none;
  display: flex;
}

.wiki2-search-input .form-control {
  padding-left: 36px;
  padding-right: 36px;
  height: 38px;
  font-size: 0.875rem;
  width: 100%;
}

.wiki2-search-input .wiki2-search-input-clear {
  top: 50%;
  right: 9px;
  bottom: auto;
  left: auto;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  color: var(--bs-icon-color);
  background-color: transparent;
  border-radius: 4px;
  transform: translateY(-50%);
}

.wiki2-search-input .wiki2-search-input-clear .seafile-multicolor-icon {
  width: 12px;
  height: 12px;
}

.wiki2-search-input .wiki2-search-input-clear:hover {
  background-color: var(--bs-hover-secondary-bg);
}

.wiki2-search-modal .modal-body {
  padding: 16px 0;
}

.wiki2-search-modal .seafile-divider {
  margin: 16px 0;
}

@media (max-width: 767px) {
  .wiki2-search-input .search-input {
    height: 38px;
    width: 100% !important;
    box-shadow: none;
  }
}
