.detail-edit-metadata-btn {
  height: 34px;
  width: fit-content;
  max-width: 100%;
  padding: 0 6px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.detail-edit-metadata-btn .seafile-multicolor-icon {
  margin-right: 6px;
  flex-shrink: 0;
  font-size: 14px;
  fill: #999;
}

.detail-edit-metadata-btn:hover {
  background-color: #F5F5F5;
  border-radius: 3px;
  cursor: pointer;
}

.detail-edit-metadata-btn .detail-edit-metadata-btn-title {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
  font-size: 14px;
}
