.termsandconditions-modal {
  visibility: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align:center;
  z-index: 999;
  background: rgba(4, 10, 30, 0.8);
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.termsandconditions-modal div {
  poistion: absolute;
  z-index: 1000;
  top: 33%;
  left: 25%;
  width: 50%;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ffffff;
  background: -moz-linear-gradient(#ffffff, #cccccc);
  background: -webkit-linear-gradient(#ffffff, #cccccc);
  background: -o-linear-gradient(#ffffff, #cccccc);
  box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
}

.termsandconditions-close {
  display: block;
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: relative;
  left: -32px;
  top: -16px;
  width: 24px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
}

.termsandconditions-close:hover {
  background: #bd362f;
}

body {
  height:100%;
}
