.sf-metadata-property-detail-capture-information-item .dirent-detail-item-name {
  font-size: 12px;
  min-height: 24px;
  padding: 3px 0;
  word-break: break-all;
}

.sf-metadata-property-detail-capture-information-item .dirent-detail-item-value {
  font-size: 12px;
  min-height: 24px;
  padding: 3px 6px;
  display: block;
  word-break: break-all;
}

.sf-metadata-property-detail-capture-information-item .dirent-detail-item-value:empty::before {
  content: attr(placeholder);
  color: #666;
  font-size: 12px;
}

.sf-metadata-dirent-detail-description-container {
  width: calc(100% + 8px);
  height: fit-content;
  min-height: 34px;
  margin: 0 -4px;
  border-radius: 3px;
  font-size: 0.875rem;
}

.sf-metadata-dirent-detail-description-container .sf-metadata-property-detail-editor.sf-metadata-long-text-property-detail-editor {
  padding: 6px 4px;
  cursor: pointer;
}

.sf-metadata-dirent-detail-description-container:hover,
.sf-metadata-dirent-detail-description-container .sf-metadata-property-detail-editor.sf-metadata-long-text-property-detail-editor:not(:empty) {
  background-color: #f5f5f5;
}

.sf-metadata-dirent-detail-description-container .sf-metadata-property-detail-editor.sf-metadata-long-text-property-detail-editor .long-text-formatter.sf-metadata-property-detail-formatter {
  white-space: normal;
  word-break: normal;
}
