.sf-metadata-property-detail-capture-information-item .dirent-detail-item-name {
  font-size: 12px;
  min-height: 24px;
  padding: 3px 0;
  word-break: break-all;
}

.sf-metadata-property-detail-capture-information-item .dirent-detail-item-value {
  font-size: 12px;
  min-height: 24px;
  padding: 3px 6px;
  display: block;
  word-break: break-all;
}

.sf-metadata-property-detail-capture-information-item .dirent-detail-item-value:empty::before {
  content: attr(placeholder);
  color: #666;
  font-size: 12px;
}
