.exdraw-file-select-dialog {
  max-width: 520px;
}

.exdraw-file-select-dialog .file-select-modal {
  width: 520px;
}

.exdraw-file-select-dialog .modal-header-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 57px;
  padding: 16px;
  border-bottom: 1px solid #e9ecef;
}

.exdraw-file-select-dialog .file-select-container .file-select-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}

.exdraw-file-select-dialog .modal-header-container .modal-title-container {
  flex: 0 1 auto;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.exdraw-file-select-dialog .modal-header-container .search-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  margin-right: 8px;
}

.exdraw-file-select-dialog .search-container .search-disable-container .sdoc-find-replace {
  font-size: 16px;
  color: #666666;
}

.exdraw-file-select-dialog .search-container .search-disable-container .sdoc-find-replace:hover {
  background-color: #EFEFEF;
  border-radius: 3px;
  height: 28px;
  width: 28px;
}

.exdraw-file-select-dialog .search-container .search-disable-container .sdoc-files-search-popover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  cursor: pointer;
}

.exdraw-file-select-dialog .search-container .sdoc-files-search-popover-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.exdraw-file-select-dialog .search-container .search-enable-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.exdraw-file-select-dialog .search-container .search-enable-container .search-input {
  flex: 1;
  height: 28px;
  padding: 0 25px;
  line-height: 28px;
}

.exdraw-file-select-dialog .search-container .search-enable-container .search-input::placeholder {
  color: #868E96;
  font-size: 14px;
}

.exdraw-file-select-dialog .search-container .search-enable-container .sdoc-find-replace,
.exdraw-file-select-dialog .search-container .search-enable-container .sdoc-close1 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: #666666;
  font-size: 14px;
}

.exdraw-file-select-dialog .search-container .search-enable-container .sdoc-close1:hover {
  background-color: #EFEFEF;
  border-radius: 3px;
}

.exdraw-file-select-dialog .search-container .search-enable-container .sdoc-find-replace {
  left: 4px;
}

.exdraw-file-select-dialog .search-container .search-enable-container .sdoc-close1 {
  right: 4px;
}

.exdraw-file-select-dialog .modal-header-container .sdoc-close1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  cursor: pointer;
  font-size: 16px;
  color: #666666;
}

.exdraw-file-select-dialog .modal-header-container .sdoc-close1:hover {
  background-color: #EFEFEF;
  border-radius: 3px;
  height: 28px;
  width: 28px;
}

.exdraw-file-select-dialog .file-select-container .highlight-bg-color {
  background-color: #FF8000;
  border-color: #FF8000;
}
