{% extends "home_base.html" %}
{% load seahub_tags avatar_tags i18n %}

{% block sub_title %}{% trans "Activities" %} - {% endblock %}

{% block cur_activities %}tab-cur{% endblock %}

{% block right_panel %}
<div id="events">
    <div id="events-body">
        {% include 'snippets/events_body.html' %}
    </div>
<div id="events-loading" class="hide"><img src="{{MEDIA_URL}}img/loading-icon.gif" alt="{% trans 'Loading...' %}" /></div>
{% if events_more %}
<button id="events-more" data-start="{{new_start}}">{% trans 'More' %}</button>
{% endif %}
<p id="events-error" class="error hide"></p>
<form id="repo-decrypt-form" class="hide">{% csrf_token %}
    <h3>{% trans 'Library' %} <span class="op-target"></span> {% trans 'is encrypted' %}</h3>
    <input type="hidden" name="repo_id" value="" />
    <label>{% trans 'Password：' %}</label><br />
    <input type="password" name="password" class="input" />
    <p class="tip">{% trans 'The password will be kept in the server for only 1 hour.' %}</p>
    <p class="error"></p>
    <input type="submit" class="submit" value="{% trans 'Submit' %}" />
    <button class="simplemodal-close">{% trans 'Cancel' %}</button>
</form>
</div>
{% endblock %}

{% block extra_script %}{{block.super}}
<script type="text/javascript">
{% include "snippets/events_js.html" %}
</script>
{% endblock %}
