{% extends "registration/login.html" %}
{% load i18n %}
{% block sub_title %}{% trans "Signup" %} - {% endblock %}

{% block main_content %}
<div class="login-panel-outer-container vh">
    <div class="login-panel">
        <h1 class="login-panel-hd">{% trans "Signup" %}</h1>
        <button id="personal" class="submit">{% trans "Create a personal account" %}</button>
        <button id="org" class="submit">{% trans "Create an organization account" %}</button>
    </div>
</div>
{% endblock %}

{% block extra_script %}{{block.super}}
<script type="text/javascript">
$('#personal').on('click', function() {
    location.href = "{% url 'registration_register'%}";
});
$('#org').on('click', function() {
    location.href = "{% url 'org_register'%}";
});
</script>
{% endblock %}
