{% extends "myhome_base.html" %}

{% load seahub_tags avatar_tags i18n %}

{% block sub_title %}{% trans "Clients" %} - {% endblock %}
{% block nav_myhome_class %}class="cur"{% endblock %}

{% block title_panel %}

<div class="tabnav">
    <ul class="tabnav-tabs">
        <li class="tabnav-tab"><a href="{% url 'myhome' %}">{% trans "Libraries" %}</a></li>
        <li class="tabnav-tab tabnav-tab-cur">{% trans "Clients" %}</li>

        {% for mod in mods_enabled %}
        {% if mod == 'personal wiki' %}
        <li class="tabnav-tab"><a href="{% url 'personal_wiki' %}">{% trans "Personal Wiki" %}</a></li>
        {% endif %}
        {% endfor %}

        {% include "snippets/modules_toggle_tab.html" %}
    </ul>
</div>

{% endblock %}

{% block main_panel %}

{% if clients %}
<table>
    <tr>
        <th width="20%">{% trans "Library" %}</th>
        <th width="20%">{% trans "Client Name" %}</th>
        <th width="20%">{% trans "IP" %}</th>
        <th width="20%">{% trans "Last Sync" %}</th>
        <th width="20%">{% trans "Operations" %}</th>
    </tr>
    {% for client in clients %}
    <tr data-repoid="{{client.repo_id}}" data-token="{{client.token}}">
        <td>
            {% if not client.not_show_repo_name %}
            <a href="{% url 'repo' client.repo_id %}">{{ client.repo_name }}</a>
            {% endif %}
        </td>
        <td>
        {% if client.peer_name %}
        {{ client.peer_name }}
        {% else %}
        --
        {% endif %}
        </td>
        <td>
        {% if client.peer_ip %}
        {{ client.peer_ip }}
        {% else %}
        --
        {% endif %}
        </td>
        <td>
        {% if client.sync_time > 0 %}
        {{ client.sync_time|translate_seahub_time }}
        {% else %}
        {% trans "Not synced" %}
        {% endif %}
        </td>
        <td>
            <div><a href="#" class="unsync-client op">{% trans "Unsync" %}</a></div>
        </td>
    </tr>
    {% endfor %}
</table>
<div class="op-confirm unsync-confirm hide">
    <p>{% trans "Really want to unsync it?" %}</p>
    <button class="yes">{% trans "Yes" %}</button>
    <button class="no">{% trans "No" %}</button>
</div>
{% else %}
<div class="empty-tips">
    <h2 class="alc">{% trans "You do not have connected clients" %}</h2>
    <p>{% trans "The libraries synced to desktop clients are listed in this page. You can see the client's name and its IP address. You may unsync a client from a library if you no longer want to sync it." %}</p>
</div>
{% endif %}

{% include "snippets/modules_toggle_form.html" %}

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$('#main-panel').removeClass('ovhd');
$('.unsync-client').click(function() {
    var op = $(this);
    var cont = op.parent().css({'position': 'relative'}),
        cfm,
        table = $('table');
    
    // only show 1 popup each time.
    $('.unsync-confirm', table).addClass('hide');

    if (cont.find('.unsync-confirm').length == 1) {
        cfm = cont.find('.unsync-confirm');
    } else {
        cfm = table.next().clone(); 
        cont.append(cfm);
        cfm.css({'left': op.width() + 10, 'top': op.position().top, 'white-space':'nowrap'});
    }
    cfm.removeClass('hide');
    $('.no',cfm).click(function() {
        cfm.addClass('hide');
    });
    $('.yes',cfm).click(function() {
        var tr = op.parents('tr');
        $.ajax({
            url: '{% url 'client_unsync' %}?repo_id=' + e(tr.data('repoid')) + '&token=' + e(tr.data('token')),
            dataType: 'json',
            success: function() {
                var repo_name_td = $($('td', tr)[0]);
                var next_repo_name_td = $($('td', tr.next())[0]);
                if ($.trim(repo_name_td.html()) && !$.trim(next_repo_name_td.html())) {
                    next_repo_name_td.replaceWith(repo_name_td);
                }
                tr.remove();
                feedback("{% trans "Successfully unsynced." %}", 'success');
            },
            error: ajaxErrorHandler
        });
    });
    return false;
});
{% include "snippets/modules_toggle_js.html" %}
</script>
{% endblock %}
