{% extends "home_base.html" %}

{% load seahub_tags avatar_tags i18n %}

{% block sub_title %}{% trans "Devices" %} - {% endblock %}
{% block cur_devices %}tab-cur{% endblock %}

{% block right_panel %}
<h3 class="hd">{% trans "Devices" %}</h3>
{% if devices %}
<table class="client-list">
    <tr>
        <th width="10%">{% trans "Platform" %}</th>
        <th width="25%">{% trans "Device Name" %}</th>
        <th width="20%">{% trans "IP" %}</th>
        <th width="15%">{% trans "Last Access" %}</th>
        <th width="20%">{% trans "Libraries" %}</th>
        <th width="10%">{% trans "Operation" %}</th>
    </tr>
    {% for device in devices %}
    <tr data-platform="{{ device.platform }}" data-device-id="{{ device.device_id }}">
      <td>{{ device.platform }}</td>
      <td>{{ device.device_name }}</td>
      <!-- <td>{{ device.client_version }}</td> -->
      <td>{{ device.last_login_ip }}</td>
      <td>{{ device.last_accessed | translate_seahub_time }}</td>
      <td>
        <ul>
          {% for repo in device.synced_repos %}
          <li>
            <a name="{{ repo.sync_time }}" href="{% url 'repo' repo.repo_id %}">{{ repo.repo_name }}</a>
          </li>
          {% endfor %}
        </ul>
      </td>
      <td>
        <div><a href="#" class="unlink-device op vh">{% trans "Unlink" %}</a></div>
      </td>
    </tr>
    {% endfor %}
</table>
<div id="unlink-device-confirm" class="hide">
    <p>{% trans "Really want to unlink this device? It will immediately stop syncing." %}</p>
    <button class="yes">{% trans "Yes" %}</button>
    <button class="no simplemodal-close">{% trans "No" %}</button>
</div>
{% else %}
<div class="empty-tips">
    <h2 class="alc">{% trans "You do not have connected devices" %}</h2>
    <p>{% trans "Your clients (Desktop/Anroid/iOS) would be listed here." %}</p>
</div>
{% endif %}

{% endblock %}

{% block extra_script %}{{block.super}}
<script type="text/javascript">
function send_unlink_request(tr) {
    var post_data = {
        'platform': tr.data('platform'),
        'device_id': tr.data('device-id')
    };
    console.log('send_unlink_request called, ' + post_data);
    $.ajax({
        url: '{% url 'unlink_device' %}',
        type: 'POST',
        dataType: 'json',
        beforeSend: prepareCSRFToken,
        data: post_data,
        success: function(data) {
            $.modal.close();
            tr.remove();
            feedback("{% trans "Successfully unlinked." %}", 'success');
        },
        error: function(xhr, textStatus, errorThrown) {
            $.modal.close();
            var error = $.parseJSON(xhr.responseText).error;
            feedback("{% trans "Failed to unlink the device." %}", 'error');
        }
    });
}
  
$('.unlink-device').click(function() {
    var op = $(this);
    var tr = op.parents('tr');
    var form = $('#unlink-device-confirm');
    form.modal({appendTo: "#main", focus:false});
    $($('.yes', form)).click(function() {
        send_unlink_request(tr);
        return false;
    });
});
  
</script>
{% endblock %}
