{% load i18n %}
<div style="background:#f2f2f2;padding:40px 0;">
<div style="width:700px;background:#fff;border-style:solid;border-width:1px;border-color:#eaeaea #cccccc #a6a6a6;border-radius:4px;box-shadow:0 2px 2px #cdcdcd;margin:0 auto;">
    <img src="{{ url_base }}{{media_url}}{{logo_path}}" alt="" style="display:block;margin:20px 0 15px 50px;" />
    <div style="padding:30px 55px 40px;min-height:300px;border-top:1px solid #efefef;background:transparent url('{{ url_base }}{{media_url}}img/email_bg.jpg') scroll repeat-x center top;">
        {% block email_con %}{% endblock %}

        <p style="font-size:14px;color:#434144;margin:30px 0;">
        {% trans "Thanks for using our site!" %}
        </p>

        <p style="font-size:14px;color:#434144;">
        {% blocktrans %}The {{ site_name }} team{% endblocktrans %}
        </p>
    </div>
</div>
</div>
