{% extends 'base.html' %}
{% load i18n %}

{% block main_content %}
<div class="w-100 h-100 d-flex flex-column align-items-center justify-content-center text-center">
  {% if organization_inactive %}
  <img src="{{MEDIA_URL}}img/organization-inactive.png" alt="" width="100" />
  <p>{{ error_msg }}</p>
    {% if reactivate_link %}
    <p>
      {% blocktrans with link=reactivate_link %}
        Click <a href="{{ link }}">here</a> to reactivate your team and relogin.
      {% endblocktrans %}
    </p>
    {% endif %}
  {% else %}
  <img src="{{MEDIA_URL}}img/error-tip.png" alt="" width="100" />
  <p>{{ error_msg }}</p>
  {% endif %}
</div>
{% endblock %}
