{% extends "base.html" %}
{% load i18n %}

{% block header_right %}
<a href="{{ SITE_ROOT }}accounts/logout/" class="logout" style="float:right; padding-top:10px;">{% trans "Log out" %}</a>
{% endblock %}

{% block sub_title %}{% trans "Plan" %} - {% endblock %}

{% block main_panel %}


<div id="plans">
<h3>Please finish the payment to continue. Thanks!</h3>
<table>
    <tr>
        <th width="40%"></th>
        <th width="60%">Professional<br /><span class="price">$10/month</span></th>
    </tr>
    <tr>
        <td class="item">Storage</td>
        <td>100GB</td>
    </tr>
    <tr>
        <td class="item">Number of Members</td>
        <td>10</td>
    </tr>
    <tr>
        <td class="item">Number of Groups</td>
        <td>No limit</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <span id="sub-btn">{{ o_subscr.form|safe }}</span>
        </td>
    </tr>
</table>
</div>

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$('#plans tr').off();
</script>
{% endblock %}
