{% load i18n %}
<div id="footer" class="ovhd">
  <div class="items fleft">
    <div class="item">
      <h4>{% trans "Documents" %}</h4>
      <ul>
        <li><a href="http://seafile.com/{% if LANGUAGE_CODE != 'zh-cn' %}en/{% endif %}home/" target="_blank">{% trans "Introduction" %}</a></li>
	<li><a href="{{SITE_ROOT}}help/" target="_blank">{% trans "Help" %}</a></li>
      </ul>
    </div>
    <div class="item">
      <h4>{% trans "Client" %}</h4>
      <ul>
        <li><a href="{% url 'download_client' %}">{% trans "Seafile for Windows, Mac and Linux" %}</a></li>
      </ul>
    </div>
  </div>
  <div class="other-info fright">
    <p>{% trans "Server Version: " %}{{ seafile_version }}</p>
    <p>© 2015 {% trans "Seafile" %}</p>
    <p><a href="http://seafile.com/{% if LANGUAGE_CODE != 'zh-cn' %}en/{% endif %}about/" target="_blank">{% trans "About Us" %}</a></p>
  </div>
</div>

