{% load i18n %}
<div class="item">
    <h4>{% trans "Documents" %}</h4>
    <ul>
        <li><a href="http://seafile.com/{% if LANGUAGE_CODE != 'zh-cn' %}en/{% endif %}home/" target="_blank">{% trans "Introduction" %}</a></li>
		<li><a href="{{SITE_ROOT}}help/" target="_blank">{% trans "Help" %}</a></li>
    </ul>
</div>
<div class="item">
    <h4>{% trans "Client" %}</h4>
    <ul>
        <li><a href="{% url 'download' %}">{% trans "Seafile for Windows, Mac and Linux" %}</a></li>
    </ul>
</div>
