{% extends "home_base.html" %}
{% load seahub_tags i18n %}

{% block sub_title %}{% trans "Libraries" %} - {% endblock %}
{% block cur_my_lib %}tab-cur{% endblock %}

{% block right_panel %}
<!--mine shared stared -->
{% include "snippets/my_owned_repos.html" %}

{% url 'share_repo' as repo_share_url %}
{% with post_url=repo_share_url groups=joined_groups %}
{% include "snippets/repo_share_form.html" %}
{% endwith %}

{% include "snippets/repo_create_form.html" %}

<div id="guide2-for-new" class="hide">
    <p>{% trans 'Welcome to Seafile. Seafile manages files into libraries. Each library can be synced and shared separately. We have created a personal library for you. You can create more libraries later.' %}</p>
    <button class="simplemodal-close" style="margin-left:0;">{% trans "Close" %}</button>
</div>
{% endblock %}

{% block extra_script %}{{block.super}}
{% include 'snippets/repo_create_js_files.html' %}
<script type="text/javascript">
{% include "snippets/myhome_extra_script.html" with groups=autocomp_groups %}

{% include "snippets/repo_create_js.html" with post_url=repo_create_url %}

// for user login at first time
{% if need_guide %}
$('#guide2-for-new').css({'padding':'0 20px', 'width':450}).modal({appendTo: '#main'});
{% endif %}
</script>
{% endblock %}
