{% extends "myhome_base.html" %}
{% load seahub_tags avatar_tags group_avatar_tags i18n %}
{% load url from future %}

{% block sub_title %}{% trans "My Home" %} - {% endblock %}
{% block nav_myhome_class %}class="cur"{% endblock %}

{% block title_panel %}
<div class="tabnav">
    <ul class="tabnav-tabs">
        <li class="tabnav-tab tabnav-tab-cur">{% trans "Libraries" %}</li>
        <li class="tabnav-tab"><a href="{% url 'client_mgmt' %}">{% trans "Clients" %}</a></li>
        {% for mod in mods_enabled %}
        {% if mod == 'personal wiki' %}
        <li class="tabnav-tab"><a href="{% url 'personal_wiki' %}">{% trans "Personal Wiki" %}</a></li>
        {% endif %}
        {% endfor %}

        {% include "snippets/modules_toggle_tab.html" %}

    </ul>
</div>
{% endblock %}

{% block left_panel %}
<div class="info-item">
    <h3 class="info-item-top">{% trans "Account" %}</h3>
    <div class="info-item-bottom home-profile ovhd">
        <a href="{{ SITE_ROOT }}profile/" class="pic no-deco fleft" title="{% trans "Profile" %}">{% avatar request.user 48 %}</a>
        <div class="txt fright">
            <p>{% if nickname %}{{ nickname }}{% else %}{% trans "No Nickname" %}{% endif %}</p>
            <a href="{{ SITE_ROOT }}profile/" class="a">{% trans "Profile" %}</a>
            {% if ENABLE_PAYMENT %}
            <a href="{% url 'plan' %}" class="a">{% trans "Payment" %}</a>
            {% endif %}
        </div>
    </div>
</div>

{% if grpmsg_list or grpmsg_reply_list %}
<div class="info-item">
    <h3 class="info-item-top">{% trans "Reminding..." %}</h3>
    <ul class="info-item-bottom">
        {% if grpmsg_list %}
        <li>
        {% for grp in grpmsg_list %}<a href="{% url 'group_discuss' grp.id %}" class="no-bold">{{ grp.group_name }}</a> {% endfor %}
        {% blocktrans count counter=grpmsg_list|length %}
        has new discussion
        {% plural %}
        have new discussions
        {% endblocktrans %}
        </li>
        {% endif %}

        {% if grpmsg_reply_list %}
        <li><a href="{{ SITE_ROOT }}group/reply/new/" class="no-bold">{% blocktrans count counter=grpmsg_reply_list|length %}
        one group discussion has new reply
        {% plural %}
        {{ counter }} group discussions have new replies
        {% endblocktrans %}</a></li>
        {% endif %}

    </ul>
</div>
{% endif %}

<div class="info-item">
    <h3 class="info-item-top">{% trans "Space/Traffic Usage" %}</h3>
    <div class="info-item-bottom">
      {% if CALC_SHARE_USAGE %}
        <p>{% trans "Total" %}: {{ quota_usage|filesizeformat }} {% if quota > 0 %}/ {{ quota|filesizeformat }} {% endif %}</p>
        {% if quota > 0 %}
        <a href="http://www.seafile.com/{% if LANGUAGE_CODE != 'zh-cn' %}en/{% endif %}help/quota/" target="_blank" id="quota-bar"><span id="my-usage" title="{% trans "Self" %}" class="usage"></span><span id="share-usage" title="{% trans "Sharing" %}" class="usage"></span></a>
        {% endif %}
        <p id="usage-details">{% trans "Self" %} {{ my_usage|filesizeformat }}, {% trans "Sharing" %} {{ share_usage|filesizeformat }}</p>
      {% else %}
        <p>{{ quota_usage|filesizeformat }} {% if quota > 0 %}/ {{ quota|filesizeformat }} {% endif %}</p>
        {% if quota > 0 %}
          <div id="quota-bar"><span id="quota-usage" class="usage"></span></div>
        {% endif %}
      {% endif %}

      {% if TRAFFIC_STATS_ENABLED %}
        <a href="http://www.seafile.com/{% if LANGUAGE_CODE != 'zh-cn' %}en/{% endif %}help/traffic/" target="_blank" id="traffic-stat">{% trans "Traffic this month:" %} {{ traffic_stat|filesizeformat }}</a>
      {% endif %}
    </div>
</div>

{% with groups=joined_groups %}
{% include "snippets/my_groups.html" %}
{% endwith %}
{% endblock %}

{% block right_panel %}
<!--mine shared stared -->
{% include "snippets/my_owned_repos.html" %}

{% if ENABLE_EVENTS %}
{% include "snippets/events.html" %}
{% endif %}

{% url 'share_repo' as repo_share_url %}
{% with post_url=repo_share_url groups=joined_groups %}
{% include "snippets/repo_share_form.html" %}
{% endwith %}

{% include "snippets/repo_create_form.html" %}

{% include "snippets/modules_toggle_form.html" %}

{% endblock %}

{% block extra_script %}
{% include 'snippets/repo_create_js_files.html' %}
<script type="text/javascript">
{% if quota > 0 %}
    {% if CALC_SHARE_USAGE %}  
    $('#my-usage').css({'width':{{my_usage}}/{{quota}} * 100 + '%'});
    $('#share-usage').css({'width':{{share_usage}}/{{quota}} * 100 + '%'});
    {% else %}
    $('#quota-usage').css({'width':{{quota_usage}}/{{quota}} * 100 + '%'});
    {% endif %}
{% endif %}

{% with groups=autocomp_groups %}
{% include "snippets/myhome_extra_script.html" %}
{% endwith %}

{% url 'seahub.views.repo_create' as repo_create_url %}
{% with post_url=repo_create_url %}
{% include "snippets/repo_create_js.html" %}
{% endwith %}

{% if ENABLE_EVENTS %}
{% include "snippets/events_js.html" %}
{% endif %}

{% include "snippets/modules_toggle_js.html" %}
</script>
{% endblock %}
