{% extends "base.html" %}
{% load i18n %}
{% block nav %}
<ul class="nav">
    <li class="nav-item">
        <a href="{{ SITE_ROOT }}" class="a {% block cur_myhome %}{% endblock %}">{% trans "My Home" %}</a>
    </li>
    <li class="nav-item" {% if grps %}style="position:relative;"{% endif %}>
        <a href="{% url 'group_list' %}" class="a {% block cur_group %}{% endblock %}" {% if grps %}id="top-nav-grp"{% endif %}>{% trans "Groups" %}{% if grps %} <span class="icon-caret-down"></span>{% endif %}</a>
    </li>
    {% if user.permissions.can_view_org %}
    <li class="nav-item">
        <a href="{{ SITE_ROOT }}#org/" class="a {% block cur_pubinfo %}{% endblock %}">{% trans "Organization" %}</a>
    </li>
    {% endif %}
    <li class="nav-item">
        <a href="{{ SITE_ROOT }}help/" class="a {% block cur_help %}{% endblock %}">{% trans "Help" %}</a>
    </li>
</ul>
{% endblock %}
