{% load i18n %}
<a href="{{SITE_ROOT}}help/" target="_blank" class="item">{% trans "Help" %}</a>
<a href="#" class="js-about item">{% trans "About" %}</a>
{% if enable_terms_and_conditions %}
<a href="{{SITE_ROOT}}terms/" class="item">{% trans "Terms" %}</a>
{% endif %}
<a href="{% url 'download_client' %}" class="item last-item"><span aria-hidden="true" class="sf2-icon-monitor vam"></span> <span class="vam">{% trans "Clients" %}</span></a>

<div class="about-content hide">
    <p><img src="{{ MEDIA_URL }}{{ logo_path }}" title="{{ site_title }}" alt="logo" width="{{logo_width}}" height="{{logo_height}}" /></p>
    <p>{% trans "Server Version: " %}{{ seafile_version }}<br/> © 2018 {% trans "Seafile" %}</p>
    <p><a href="{% if LANGUAGE_CODE == 'zh-cn' %}http://seafile.com/about/{% else %}http://seafile.com/en/about/{% endif %}" target="_blank">{% trans "About Us" %}</a></p>
</div>
