{% extends 'file_view_react.html' %}
{% load render_bundle from webpack_loader %}
{% load seahub_tags %}

{% block extra_style %}
<link rel="resource" type="application/l10n" href="{{ MEDIA_URL }}js/pdf/locale/locale.properties" />
{% render_bundle 'viewFilePDF' 'css' %}
{% endblock %}

{% block extra_data %}
  rawPath: '{{ raw_path|escapejs }}'
{% endblock %}

{% block render_bundle %}
{% render_bundle 'viewFilePDF' 'js' %}
<script type="text/javascript">
var sf_file_url = '{{ raw_path|escapejs }}';
var sf_pdfworkerjs_url = '{{MEDIA_URL}}js/pdf/pdf.worker.min.js';
</script>
<script type="text/javascript" src="{{MEDIA_URL}}js/pdf/pdf.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/pdf/viewer.js"></script>
{% endblock %}
