{% extends "myhome_base.html" %}
{% load seahub_tags i18n %}
{% load url from future %}

{% block sub_title %}{% trans "Organization" %} - {% endblock %}
{% block cur_pubinfo %}cur{% endblock %}

{% block left_panel %}
<div class="side-tabnav">
    <h3 class="hd">{% trans "Organization" %}</h3>
    <ul class="side-tabnav-tabs">
        <li class="tab {% block cur_lib %}{% endblock %}"><a href="{{ SITE_ROOT }}#org/" class="lib">{% trans "Libraries" %}</a></li>
        <li class="tab {% block cur_grp %}{% endblock %}"><a href="{% url 'pubgrp' %}" class="group">{% trans "Groups" %}</a></li>
        <li class="tab {% block cur_user %}{% endblock %}"><a href="{% url 'pubuser' %}" class="members">{% trans "Members" %}</a></li>
    </ul>
</div>
{% endblock %}
