{% extends "pub_base.html" %}
{% load seahub_tags group_avatar_tags i18n %}
{% load url from future %}

{% block cur_grp %}tab-cur{% endblock %}

{% block left_panel %}{{block.super}}
{% if has_file_search %}
<form action="{% url "pubgrp_search" %}" method="get" class="side-search-form">
    <input type="text" name="search" value="{{search}}" placeholder="{% trans "Search groups..." %}" class="input" />
</form>
{% endif %}
{% endblock %}

{% block right_panel %}
<h3 class="hd">{% trans "Groups" %}</h3>
{% if groups %}
<ul class="group-list">
    {% for group in groups %}
    <li class="group ovhd">
    <a href="{% url 'view_group' group.props.id %}" class="no-deco pic fleft">{% grp_avatar group.props.id 48 %}</a>
    <div class="txt fright">
        <h4><a href="{% url 'view_group' group.props.id %}">{{ group.props.group_name }}</a></h4>
        <p><span class="item-name">{% trans "Creator: "%}</span>{{ group.props.creator_name }}</p>
        <p><span class="item-name">{% trans "Time: "%}</span>{{ group.props.timestamp|tsstr_sec }}</p>
    </div>
    </li>
    {% endfor %}
</ul>

{% elif is_search %}
<div class="empty-tips">
    <h2 class="alc">{% trans "No group found" %}</h2>
</div>

{% else %}
<div class="empty-tips">
    <h2 class="alc">{% trans "No one has created any groups yet" %}</h2>
    <p> {% blocktrans %}You can click "Add Group" button under "Group" label to create a group. {% endblocktrans %}</p>
</div>
{% endif %}
{% endblock %}
