{% extends "base_for_react.html" %}
{% load seahub_tags i18n %}
{% load render_bundle from webpack_loader %}

{% block extra_style %}
{% if filetype == 'Markdown' %}
    {% render_bundle 'sharedFileViewMarkdown' 'css' %}
{% elif filetype == 'Text' %}
    {% render_bundle 'sharedFileViewText' 'css' %}
{% elif filetype == 'Image' %}
    {% render_bundle 'sharedFileViewImage' 'css' %}
{% elif filetype == 'Video' %}
    {% render_bundle 'sharedFileViewVideo' 'css' %}
{% elif filetype == 'PDF' %}
    <link rel="resource" type="application/l10n" href="{{ MEDIA_URL }}js/pdf/locale/locale.properties" />
    {% render_bundle 'sharedFileViewPDF' 'css' %}
{% endif %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
    window.shared = {
        pageOptions: {
            repoID: '{{ repo.id }}',
            path: '{{ path|escapejs }}',
            sharedToken: '{{ shared_token }}',
            trafficOverLimit: '{{ traffic_over_limit }}',
            fileName: '{{ file_name|escapejs }}',
            fileSize: '{{ file_size }}',
            rawPath: '{{ raw_path|escapejs }}',
            sharedBy: '{{ shared_by|email2nickname }}',
            siteName: '{{ site_name }}',
            enableWatermark: '{{ enable_watermark }}' == 'True',
            download: '{{ permissions.can_download }}' == 'True',
            fileEncodingList: '{{ file_encoding_list|escapejs }}',
            encoding: '{{ encoding }}',
            fileContent: '{{ file_content|escapejs }}',
            err: '{{ err }}',
            fileExt: '{{ fileext }}',
        }
    };
</script>
{% if filetype == 'Markdown' %}
    {% render_bundle 'sharedFileViewMarkdown' 'js' %}
{% elif filetype == 'Text' %}
    {% render_bundle 'sharedFileViewText' 'js' %}
{% elif filetype == 'Image' %}
    {% render_bundle 'sharedFileViewImage' 'js' %}
{% elif filetype == 'Video' %}
    {% render_bundle 'sharedFileViewVideo' 'js' %}
{% elif filetype == 'PDF' %}
    {% render_bundle 'sharedFileViewPDF' 'js' %}
    <script type="text/javascript">
    var sf_file_url = '{{ raw_path|escapejs }}';
    var sf_pdfworkerjs_url = '{{MEDIA_URL}}js/pdf/pdf.worker.min.js';
    </script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/pdf/pdf.min.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/pdf/viewer.js"></script>
{% endif %}
{% endblock %}
