{% extends 'email_base.html' %}

{% load i18n seahub_tags %}

{% block email_con %}
{% autoescape off %}

<p style="color:#121214;font-size:14px;">{% trans "Hi," %}</p>

<p style="font-size:14px;color:#434144;">
{% if folder_name %}
{% blocktrans with escaped_nickname=email|email2nickname|escape escaped_folder_name=folder_name|escape %}{{ escaped_nickname }} shared an upload link for folder <span style="font-weight:bold;">{{ escaped_folder_name }}</span> to you on {{ site_name }}.{% endblocktrans%}
{% else %}
{% blocktrans with escaped_nickname=email|email2nickname|escape %}{{ escaped_nickname }} shared an upload link to you on {{ site_name }}.{% endblocktrans%}
{% endif %}
</p>

<p style="font-size:14px;color:#434144;">
{% trans "For security reasons, the link and the password are sent in two separate emails. This email contains the password. Please check the other email for the link." %}
</p>

<p style="font-size:14px;color:#434144;">{% trans "Password:" %} <strong>{{ password }}</strong></p>

{% if extra_msg %}
<p>" {{ extra_msg|escape }} "</p>
{% endif %}

{% endautoescape %}
{% endblock %}
