{% extends base_template %}
{% load seahub_tags avatar_tags i18n %}
{% load url from future %}

{% block main_panel %}
<h2 class="file-modification-hd"><span class="op-target">{{ u_filename }}</span> {% trans "modification details" %} <a href="{% url 'user_profile' current_commit.creator_name|id_or_email %}">{% avatar current_commit.creator_name 16 %}</a><span class="modifier">{{ current_commit.creator_name|email2nickname }}</span><span class="time">{{ current_commit.ctime|translate_seahub_time }}</span></h2>
    <button class="fright" data="{% url 'file_revisions' repo.id %}?p={{ path|urlencode }}" id="back">{% trans "Back to file versions"%}</button>

    <p class="path">
        {% trans "Current Path:" %}
        {% for name, link in zipped %}
        {% if not forloop.last %}
        <a href="{% url 'view_common_lib_dir' repo.id link|urlencode|strip_slash %}">{{ name }}</a> /
        {% else %}
        <a href="{% url 'view_lib_file' repo.id link|urlencode %}">{{ name }}</a>
        {% endif %}
        {% endfor %}
    </p>
    
{% if is_new_file %}
<div id="text-diff-output">
    <p class="blank-file">{% trans "It's a newly-created blank file." %}</p>
</div>
{% else %}
<div id="text-diff-output">
<table class="diff-con">
    <tr>
        <th width="3%"></th>
        <th width="47%">{% trans "before modification" %}</th>
        <th width="3%"></th>
        <th width="47%">{% trans "after modification" %}</th>
    </tr>
    {{ diff_result_table|safe }}
</table>
</div>
{% endif %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$('#back').click(function() {
        location.href = $(this).attr('data');
});
</script>
{% endblock %}
