{% extends base_template %}
{% load seahub_tags i18n %}

{% block main_panel %}
<div class="narrow-panel">
    <h3>{% trans "Update file " %}
            {% for name, link in zipped %}
                {% if not forloop.last %}
                <a href="{% url 'view_common_lib_dir' repo.id link|urlencode|strip_slash %}">{{ name }}</a> /
		{% else %}
		<a href="{% url 'view_common_lib_dir' repo.id link|urlencode|strip_slash %}">{{ name }}</a>
	        {% endif %}
            {% endfor %}
        {% trans "error: " %}
    </h3>
    <p>{{ err_msg }}</p>
</div>
{% endblock %}
