{% load render_bundle from webpack_loader %}
{% load static seahub_tags i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
         <meta charset="UTF-8" />
         <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
         <title>{{ filename }}</title>

         <link rel="shortcut icon" href="{{ MEDIA_URL }}{{ favicon_path }}" />
         <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/seafile-ui.css" />
         <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/seahub_react.css?t=1398068110" />
    </head>
    <body>
         <div id="root"></div>
         <div id="modal-wrapper"></div>
         <script type="text/javascript">
           window.app = {
              config: {
                  mediaUrl: '{{ MEDIA_URL }}',
                  siteRoot: '{{ SITE_ROOT }}',
                  serviceURL: '{{ service_url }}',
                  seafileCollabServer: '{{ seafile_collab_server}}',
              },
              pageOptions: {
                  isPro: '{{ is_pro }}',
                  repoID: '{{ repo.id }}',
                  fileID: '{{ file_id }}',
                  repoName: '{{ repo.name|escapejs }}',
                  filePath: '{{ path|escapejs }}',
                  fileName: '{{ filename|escapejs }}',
                  filePerm: '{{ file_perm }}',
                  enableFileComment: '{{ enable_file_comment }}' == 'True',
                  parentDir: '{{ parent_dir|escapejs }}',
                  lastCommitId: '{{ last_commit_id }}',
                  fileEnc: '{{ file_enc }}',
                  fileExt: '{{ fileext|escapejs }}',
                  siteName: '{{ site_name }}',
                  enableWatermark: '{{ enable_watermark }}' == 'True',
                  download: '{{ can_download_file }}' == 'True',
                  fileEncodingList: '{{ file_encoding_list|escapejs }}',
                  encoding: '{{ encoding }}',
                  fileContent: '{{ file_content|escapejs }}',
                  err: '{{ err }}',
                  latestContributor: '{{ latest_contributor }}',
                  lastModified: '{{ last_modified }}',
                  isLocked: '{{ file_locked }}' == 'True',
                  lockedByMe: '{{ locked_by_me }}' == 'True',
                  canLockUnlockFile: '{{ can_lock_unlock_file }}' == 'True',
                  isStarred: '{{ is_starred }}' == 'True',
              },
             userInfo: {
               username: '{{ user.username }}',
               name: '{{ user.username|email2nickname|escapejs }}',
               contact_email: '{{ user.username|email2contact_email }}',
             }
          }
         </script>
         <script src="{{ STATIC_URL }}scripts/i18n/{{ LANGUAGE_CODE }}/djangojs.js"></script>
         {% render_bundle 'viewFileText' %}
    </body>
</html>
