{% extends "base_for_react.html" %}
{% load render_bundle from webpack_loader %}
{% block extra_style %}
{% render_bundle 'repoview' 'css' %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
    window.wiki = {
        config: {
            repoId: "{{ repo_id }}",
            serviceUrl: "{{ service_url}}",
            initial_path: "{{ initial_path|escapejs }}",
            slug: "{{ repo_name }}",
            isDir: "{{ is_dir }}",
            permission: "{{ permission }}"
        }
    };
</script>

{% render_bundle 'repoview' 'js' %}
{% endblock %}
