{% extends 'view_file_base.html' %}
{% load i18n%}

{% block extra_script %}{{ block.super }}
{% if not err%}
<script type="text/javascript">
    $('#file-view').html('<div id="flash"></div>');
    function load_iframe() {
        iframe = document.createElement('iframe');
        iframe.src = "{{ DOCUMENT_CONVERTOR_ROOT }}html/{{ obj_id }}.html";
        iframe.style.height = '500px';
        document.getElementById('flash').appendChild(iframe);
    }
    {% if html_exists %}
    load_iframe();
    {% else %}
    function check_status () {
        $.ajax({
            url: '{{ DOCUMENT_CONVERTOR_ROOT }}status?file_id={{ obj_id }}',
            cache: false,
            dataType: 'jsonp',
            jsonpCallback: 'xx',
            crossDomain: true,
            success: function(data) {
                if (data['error']) {
                    var str = '{% trans "Document convertion failed." %}';
                    $('#file-view').html('<div id="file-view-tip"><p class="error">' + str + '</p></div>');
                } else {
                    var status = data['status'];
                    if (status == 'QUEUED' || status == 'PROCESSING') {
                        setTimeout(check_status, 2000);
                    } else {
                        load_iframe();
                    }
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                var str;
                if (xhr.responseText) {
                    str = '{% trans "Document convertion failed." %}';
                } else {
                    str = '{% trans "Failed. Please check the network." %}';
                }
                $('#file-view').html('<div id="file-view-tip"><p class="error">' + str + '</p></div>');
          }
      });
  }
  check_status();
  {% endif %}
</script>
{% endif %}
{% endblock %}
