{% extends 'view_file_base.html' %}
{% load i18n%}

{% block extra_style %}{{ block.super }}
{% if not err %}
    {% include 'snippets/office_convert_style.html' %}
{% endif %}
{% endblock %}

{% block file_view %}
{% if not err %}
    {% include 'snippets/office_convert_html.html' %}
{% endif %}
{% endblock %}

{% block extra_script %}{{ block.super }}
{% if not err %}
<script type="text/javascript" src="{{MEDIA_URL}}js/pdf2html.js"></script>
<script type="text/javascript">
    {% include 'snippets/office_convert_js.html' %}
</script>
{% endif %}
{% endblock %}
