{% extends 'view_file_base.html' %}
{% load i18n %}

{% if not err %}
{% if not use_pdfjs %}

{% block extra_style %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/doc_and_pdf.css" />
{% endblock %}

{% block file_view %}
    <div id="convert-loading">
        <img src="{{ MEDIA_URL }}img/loading-icon.gif" alt="" class="vam" />
        <span class="loading-text vam">{% trans "The file is being processed, please wait..." %}</span>
    </div>
    <div id="converted-html">
        <div id="sidebar" class="hide">
            <div id="outline"></div>
        </div>
        <div id="page-container"></div>
    </div>
{% endblock %}

{% block extra_script %}{{ block.super }}
<script type="text/javascript" src="{{MEDIA_URL}}js/pdf2html.js"></script>
<script type="text/javascript">
    function load_iframe() {
        $('#convert-loading').remove();
        var css_href = '{{MEDIA_URL}}test2/test.css',
            base_page_url = '{{MEDIA_URL}}test2/test',
            page_urls = []; 
        var page_num = 13;
        for (var i = 1; i < page_num + 1; i++) {
            page_urls.push(base_page_url + i + '.page');
        }

        var outline;
        $.ajax({
            url: '{{MEDIA_URL}}test2/test.outline',
            dataType: 'text'
            }).done(function(data) {
                outline = data;
                $('head').append('<link rel="stylesheet" type="text/css" href="' + css_href + '" />');
                $('#outline').html(outline);   
                if (outline) {
                    var sidebar = $('#sidebar'),
                        page_container = $('#page-container'),
                        hide_outline, show_outline;

                    $('#outline').prepend('<span class="icon-double-angle-left outline-op-icon" title="{% trans "hide outline" %}"></span>');
                    page_container.append('<span class="icon-double-angle-right outline-op-icon hide" title="{% trans "show outline" %}"></span>');
                    $('#outline .l').removeAttr('data-dest-detail'); // make the anchor links work
                    sidebar.removeClass('hide');

                    hide_outline = $('#outline .outline-op-icon');
                    show_outline = $('#page-container .outline-op-icon');

                    hide_outline.click(function() {
                        sidebar.addClass('hide').removeClass('opened');
                        show_outline.removeClass('hide');    
                    });
                    show_outline.click(function() {
                        $(this).addClass('hide');
                        sidebar.removeClass('hide').addClass('opened');
                    });    
                    $(window).scroll(function() {
                        if ($(window).scrollTop() > page_container.offset().top) {
                            show_outline.css({'position':'fixed'});    
                        } else {
                            show_outline.removeAttr('style');    
                        }
                    });
                }
                new pdf2htmlEX.Viewer({
                    container_id : 'page-container', 
                    sidebar_id : 'sidebar',
                    outline_id : 'outline',
                    page_urls : page_urls
                });
            });
    }

    $(window).scroll(function() {
        var outline = $('#outline');
        if (!$.trim(outline.html())) {
            return;
        }
        if ($(window).scrollTop() > $('#page-container').offset().top) {
            outline.addClass('fixed-outline');
        } else {
            outline.removeClass('fixed-outline');
        }
    });

    {% if html_exists %}
    load_iframe();
    {% else %}
    function check_status () {
        $.ajax({
            url: '{{ DOCUMENT_CONVERTOR_ROOT }}status?file_id={{ obj_id }}',
            cache: false,
            dataType: 'jsonp',
            jsonpCallback: 'xx',
            crossDomain: true,
            success: function(data) {
                var status = data['status'];
                if (status == 'QUEUED' || status == 'PROCESSING') {
                    setTimeout(check_status, 2000);
                } else {
                    load_iframe();
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                var str;
                if (xhr.responseText) {
                    str = "{% trans "Document convertion failed." %}";
                } else {
                    str = "{% trans "Failed. Please check the network." %}";
                }
                $('#file-view').html('<div id="file-view-tip"><p class="error">' + str + '</p></div>');
          }
      });
  }
  check_status();
  {% endif %}
</script>
{% endblock %}

{% else %}
<script type="text/javascript" src="{{MEDIA_URL}}js/pdf.js"></script>
<script type="text/javascript">
if (!($.browser.msie && parseInt($.browser.version) < 10)) {
    PDFJS.workerSrc = '{{MEDIA_URL}}js/pdf.js';
    $('#file-view').html('<div id="pdf"><div id="pdf-op-bar" class="vh"><span id="pdf-page-left"><button id="prev">{% trans "Previous" %}</button></span>{% blocktrans %}<span id="pdf-page"><label for="page-number">Page</label> <input type="number" id="page-number" value="1" min="1"></input> / <span id="page-nums"></span></span>{% endblocktrans %}<span id="pdf-page-right"><button id="next" style="margin-right:15px;">{% trans "Next" %}</button><button id="full-screen">{% trans "Full Screen" %}</button></span></div><img src="{{ MEDIA_URL }}pdf_full_view/images/loading-icon.gif" alt="{% trans "loading..." %}" id="pdf-loading" style="margin:20px 0;" /><canvas data="{{ raw_path }}" id="pdf-view" class="hide"></canvas></div>').css({'text-align':'center'});
    $('#pdf-page-left, #pdf-page-right').css('display', 'inline-block');
    $('#pdf-page-left').css({'text-align':'right', 'width': $('#pdf-page-right').width()});
    $('#pdf-op-bar').removeClass('vh');
    var seahub_getPage = function (pdf, page_number) {
        pdf.getPage(page_number).then(function(page) {
            var scale = 1.5;
            var viewport = page.getViewport(scale);
            var canvas = $('#pdf-view')[0];
            var context = canvas.getContext('2d');
            canvas.height = viewport.height;
            canvas.width = viewport.width;
            var renderContext = { 
                canvasContext: context,
                viewport: viewport
            };  
            page.render(renderContext);
        }); 
    };
    PDFJS.getDocument($('#pdf-view').attr('data')).then(function(pdf) {
        $('#page-nums').html(pdf.numPages);
        $('#page-number').attr('max', pdf.numPages).css('width', String(pdf.numPages).length * 6 + 10);
        seahub_getPage(pdf, 1);
        $('#pdf-loading').addClass('hide');
        $('#pdf-view').removeClass('hide');
        $('#page-number').change(function() {
            seahub_getPage(pdf, $(this).val());
        });
        $('#prev').click(function() {
            var current = $('#page-number').val();
            if (current > 1) {
                seahub_getPage(pdf, --current);
                $('#page-number').val(current);
            }
        });
        $('#next').click(function() {
            var current = $('#page-number').val();
            if (current < pdf.numPages) {
                seahub_getPage(pdf, ++current);
                $('#page-number').val(current);
            }
        });
        $('#full-screen').click(function() {
            window.open('{{ SITE_ROOT }}pdf_full_view/?repo_id={{ repo.id }}&obj_id={{obj_id}}&file_name=' + e('{{ file_name }}'));
        });
    });
} else {
    var tip = "{% trans "You can use IE 10 or other browsers, for example, firefox, to view it online." %}";
    $('#file-view').html('<div id="file-view-tip"><p>' + tip + '</p></div>');
}
</script>

{% endif %} {# not use_pdf ends#}
{% endif %} {# not err ends #}
