{% extends 'view_file_base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block extra_style %}{{ block.super }}
{% if not err and not use_pdfjs %}
    {% include 'snippets/office_convert_style.html' %}
{% endif %}
{% endblock %}

{% block file_view %}
{% if not err and not use_pdfjs %}
    {% include 'snippets/office_convert_html.html' %}
{% endif %}
{% endblock %}

{% block extra_script %}{{ block.super }}
{% if not err %}

{% if not use_pdfjs %}
<script type="text/javascript">
    {% include 'snippets/office_convert_js.html' %}
</script>

{% else %}
<script type="text/javascript" src="{{MEDIA_URL}}js/pdf.js"></script>
<script type="text/javascript">
if (!($.browser.msie && parseInt($.browser.version) < 10)) {
    PDFJS.workerSrc = '{{MEDIA_URL}}js/pdf.worker.js';
    $('#file-view').html('<div id="pdf"><img src="{{ MEDIA_URL }}img/loading-icon.gif" alt="{% trans "loading..." %}" id="pdf-loading" style="margin:20px 0;" /><canvas data="{{ raw_path }}" class="pdf-view hide"></canvas></div>').css({'text-align':'center'});
    var currentPage = 1;
    var pageNum = 0;
    var thePDF = null;
    var seahub_render_pdfpages = function(page) {
        var scale = 1.5;
        var viewport = page.getViewport(scale);
        var canvas = $('.pdf-view')[$('.pdf-view').length - 1];
        var context = canvas.getContext('2d');
        canvas.height = viewport.height;
        canvas.width = viewport.width;
        var renderContext = {
            canvasContext: context,
            viewport: viewport
        };
        page.render(renderContext);
        currentPage++;
        if (thePDF !== null && currentPage <= pageNum) {
            var canvas = '<canvas data="{{ raw_path }}" class="pdf-view"></canvas>';
            $('#pdf').append(canvas);
            thePDF.getPage(currentPage).then(seahub_render_pdfpages);
        }
    };
    PDFJS.getDocument($('.pdf-view').attr('data')).then(function(pdf) {
        thePDF = pdf;
        pageNum = pdf.numPages < 50 ? pdf.numPages : 50;
        pdf.getPage(1).then(seahub_render_pdfpages);
        $('.pdf-view').removeClass('hide');
    }).then(function() {
        $('#pdf-loading').addClass('hide');
        return false;
    });
} else {
    var tip = "{% trans "You can use IE 10 or other browsers, for example, firefox, to view it online." %}";
    $('#file-view').html('<div id="file-view-tip"><p>' + tip + '</p></div>');
}
</script>
{% endif %}
{% endif %}

{% endblock %}
