{% extends 'file_view_react.html' %}
{% load render_bundle from webpack_loader %}
{% load seahub_tags avatar_tags i18n static %}

{% block extra_style %}
{% render_bundle 'viewFileCollaboraOnline' 'css' %}
{% endblock %}

{% block extra_data %}
actionURL: '{{action_url|safe}}',
accessToken: '{{access_token}}',
accessTokenTtl: '{{access_token_ttl}}',
{% endblock %}

{% block render_bundle %}
{% render_bundle 'viewFileCollaboraOnline' 'js' %}
{% endblock %}
{% block wiki-v1-extra_content %}
{% include 'col_ex.html' %}
{% endblock %}

