.metadata-status-management-dialog .change-metadata-status-management {
  margin-bottom: 10px;
}

.metadata-status-management-dialog .change-metadata-status-management .custom-switch {
  padding-left: 0;
}

.metadata-status-management-dialog .change-metadata-status-management:not(.disabled) .custom-switch:hover,
.metadata-status-management-dialog .change-metadata-status-management:not(.disabled) .custom-switch:hover * {
  cursor: pointer;
}

.metadata-status-management-dialog .tip {
  font-size: 12px;
}

.metadata-status-management-dialog .metadata-status-hide-columns-container .tip {
  margin: 4px 0;
}

.metadata-status-management-dialog .hide-properties-button {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;
  margin-top: 4px;
  color: #666;
  background-color: #f5f5f5;
  border-radius: 3px;
  cursor: pointer;
}

.metadata-status-management-dialog .hide-properties-button.disabled {
  cursor: not-allowed;
}

.metadata-status-management-dialog .hide-properties-button:not(.disabled):hover {
  color: #212529;
  background-color: #e9e9e9;
}
