.sf-metadata-edit-option-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 100%;
  padding: 0 11px 0 1rem;
  position: relative;
}

.sf-metadata-edit-option-container:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.sf-metadata-edit-option-container .sf-metadata-edit-option-drag-container:hover {
  cursor: grab;
}

.sf-metadata-edit-option-container .sf-metadata-edit-option-drag-container .seafile-multicolor-icon-drag {
  fill: #c2c2c2;
}

.sf-metadata-edit-option-container .sf-metadata-edit-option-content {
  display: flex;
  align-items: center;
  border-radius: .25rem;
  flex: 1 1;
  margin-left: 10px;
  overflow: hidden;
}

.sf-metadata-edit-option-container .sf-metadata-edit-option-more-operations {
  display: flex;
  position: relative;
  width: 24px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sf-metadata-edit-option-container .sf-metadata-edit-option-operation-item .seafile-multicolor-icon-delete {
  fill: #666;
  font-size: 14px;;
}

.sf-metadata-edit-option-container .sf-metadata-edit-option-operation-item:hover .seafile-multicolor-icon-delete {
  fill: #212529;
}

.sf-metadata-edit-option-container.sf-metadata-edit-option-can-drop {
  border-bottom: 1px solid #666;
}

.sf-metadata-edit-option-container.sf-metadata-edit-option-can-drop-top::before {
  content: '';
  width: 100%;
  height: 1px;
  background: #666;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.sf-metadata-edit-option-container.sf-metadata-edit-deleting-option,
.sf-metadata-edit-option-container.sf-metadata-edit-option-viewing {
  background-color: #f5f5f5;
}

.sf-metadata-edit-option-container.sf-metadata-edit-option-disabled,
.sf-metadata-edit-option-container.sf-metadata-edit-option-disabled .sf-metadata-edit-option-color:hover {
  cursor: default;
}
