.interaction-mask .rdg-selected {
  border: 2px solid #66afe9;
}

.interaction-mask .rdg-selected-range {
  border: 1px solid #66afe9;
  background-color: rgba(102, 175, 233, 0.18823529411764706);
}

.rdg-selected .drag-handle,
.rdg-selected-range .drag-handle,
.checkbox-editor-container .drag-handle {
  pointer-events: auto;
  position: absolute;
  bottom: -5px;
  right: -4px;
  background: #66afe9;
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  border-right: 0px;
  border-bottom: 0px;
  cursor: crosshair;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

.rdg-selected .drag-handle:hover,
.rdg-selected-range .drag-handle:hover,
.checkbox-editor-container .drag-handle:hover {
  bottom: -8px;
  right: -7px;
  background: white;
  width: 16px;
  height: 16px;
  border: 1px solid #66afe9;
  z-index: 2;
}

.rdg-selected:hover .drag-handle .glyphicon-arrow-down {
  display: 'block';
}

.react-grid-cell-dragged-over-down {
  border-top-width: 0;
}

.react-grid-cell-dragged-over-up,
.react-grid-cell-dragged-over-down {
  border: 1px dashed black;
  background: rgba(0, 0, 255, 0.2) !important;
}

