.chat-header-title-content {
  flex: 0 1 auto;
  font-weight: 500;
  font-size: 14px;
  color: var(--bs-body-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sea-ai-ask-chats-header .chat-header-divider {
  height: 12px;
  width: 1px;
  background-color: var(--bs-border-quartus-color);
  margin: 0 12px;
}

.sea-ai-ask-chats-header .sea-ai-tooltip-icon-btn .sea-ai-icon-svg {
  color: var(--bs-icon-color);
}
