.sf-metadata-date-property-detail-editor {
  width: 100%;
  min-height: 34px;
  padding: 6.5px 6px;
}

.dirent-detail-item-value.editable .date-picker-container {
  position: absolute;
  width: 100%;
  height: 34px;
}

.dirent-detail-item-value.editable .ant-calendar-picker-input {
  width: 100%;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  margin: 0;
}
