{% extends "base.html" %}
{% load i18n %}

{% block inst_admin %}<a href="{{ SITE_ROOT }}" title="{% trans "Exit" %}"><img src="{{ MEDIA_URL }}img/admin_out.png" alt="" /></a>{% endblock %}

{% block left_panel %}
<div class="side-tabnav">
    <h3 class="hd">{{ request.user.institution.name }}</h3>
    <ul class="side-tabnav-tabs">
        <li class="tab {% block cur_users %}{% endblock %}">
            <a href="{% url "institutions:useradmin" %}"><span class="sf2-icon-user"></span>{% trans "Users" %}</a>
        </li>
    </ul>
</div>
{% endblock %}
