.app-settings-dialog .nav .nav-item {
  padding: 0;
}

.app-settings-dialog .nav .nav-item .nav-link {
  padding: 0.5rem 0;
  font-weight: normal;
  transition: none;
  width: 100%;
}

.app-settings-dialog .nav .nav-item .nav-link.active {
  color: #ff8000;
  text-decoration: none;
  border-bottom: 0.125rem solid #ff8000;
}

.app-settings-dialog .nav-pills .nav-item .nav-link {
  padding: 0.3125rem 1rem 0.3125rem 8px;
}

.app-settings-dialog .nav-pills .nav-item .nav-link:hover {
  background-color: #f5f5f5;
}

.app-settings-dialog .nav-pills .nav-item .nav-link.active {
  background-color: #ff8000;
  color: #fff;
  border: none;
}

.app-settings-dialog .ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-settings-dialog {
  max-width: 800px;
  height: calc(100% - 56px);
}

.app-settings-dialog .modal-content {
  height: 100%;
}

.app-settings-dialog .app-settings-dialog-content {
  padding: 0;
  min-height: 27rem;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.app-settings-dialog-content .app-settings-dialog-side {
  display: flex;
  flex: 0 0 25%;
  padding: 12px 8px;
  border-right: 1px solid #eee;
}

.app-settings-dialog-content .app-settings-dialog-main {
  display: flex;
  flex: 0 0 75%;
  padding: 12px 8px;
  overflow: auto;
}

.app-settings-dialog-content .app-settings-dialog-main .tab-content {
  flex: 1;
}

.app-settings-dialog-content .app-settings-dialog-main .tab-pane {
  height: 100%;
}

.app-settings-dialog-content .app-settings-dialog-main .no-search-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.app-settings-dialog-content .app-settings-dialog-main .no-search-result span {
  color: #aaa;
  margin-top: 10px;
}

.app-settings-dialog-content .app-settings-dialog-main .search-text-clear {
  line-height: 38px;
  height: 38px;
  margin-right: 5px;
}

.app-setting-dialog-icon {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-setting-dialog-icon img {
  max-height: 128px;
}

.app-setting-dialog-icon-description {
  color: #999;
  font-size: 13px;
}

.app-setting-dialog-name {
  padding: 10px;
}

.app-setting-dialog-name .rename-area-input {
  width: 85%;
}

.app-setting-dialog-name .rename-area-submit {
  width: 15%;
}

.tip {
  color: #808080;
  margin-bottom: 1rem;
}
