.option-editor-footer {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #dedede;
}

.option-editor-footer .option-editor-tips {
  color: #bdbdbd;
  cursor: pointer;
  margin-right: .5rem;
}

.option-editor-footer .item-text {
  color: #ed7109;
  cursor: pointer;
}

.option-editor-footer .mx-2 {
  color: #666;
}

.option-editor-footer a:hover {
  text-decoration: none;
}
