#sidebarToggle::before {
  -webkit-mask-image: url('./images/custom/thumbnail.svg');
          mask-image: url('./images/custom/thumbnail.svg');
}

#previous::before {
  -webkit-mask-image: url('./images/custom/previous-page.svg');
          mask-image: url('./images/custom/previous-page.svg');
}

#next::before {
  -webkit-mask-image: url('./images/custom/next-page.svg');
          mask-image: url('./images/custom/next-page.svg');
}

#firstPage::before {
  -webkit-mask-image: url('./images/custom/first-page.svg');
          mask-image: url('./images/custom/first-page.svg');
}

#lastPage::before {
  -webkit-mask-image: url('./images/custom/last-page.svg');
          mask-image: url('./images/custom/last-page.svg');
}
