{% extends "profile/profile_base.html" %}
{% load avatar_tags i18n %}
{% load url from future %}

{% block sub_title %}{% trans "Profile Setting" %} - {% endblock %}

{% block right_panel %}
<h2>{% trans "Settings" %}</h2>
<div id="user-basic-info">
    <h3>{% trans "Profile Setting" %}</h3>
    <div id="user-avatar-change">
        <label>{% trans "Avatar:" %}</label>{% avatar request.user.username 60 %}
        <form id="user-avatar-form" enctype="multipart/form-data" method="post" action="{% url 'avatar_add' %}">{% csrf_token %}
            <button type="button" id="user-avatar-chg-btn">{% trans "Change" %}</button>
            <input type="file" name="avatar" id="user-avatar-input" />
        </form>
    </div>

    <form action="" method="post">{% csrf_token %}
        <label>{% trans "Password:" %}</label><a href="{{ SITE_ROOT }}accounts/password/change/">{% trans "Update" %}</a><br/>
        <label>{% trans "Nickname:" %}</label><input type="text" name="nickname" value="{{ form.data.nickname }}" class="text-input" />
        {% for error in form.nickname.errors %}
        <span class="error">{{ error|escape }}</span>
        {% endfor %}
        <br/>
        <label>{% trans "About me:" %}</label><textarea name="intro">{{ form.data.intro }}</textarea>
        {% for error in form.intro.errors %}
        <span class="error">{{ error|escape }}</span>
        {% endfor %}
        <br/>
        <input type="submit" value="{% trans "Submit" %}" class="submit" />
    </form>
</div>

<h3>{% trans "Library Encryption" %}</h3>
  <form id="option-settings-form" method="post" action="{% url 'options_save' %}">{% csrf_token %}
    <input type="radio" name="repo-enc" value="server-crypto" {% if server_crypto %}checked="checked"{% endif %} class="vam" /><span class="vam">{% trans "Server Crypto: Send password to server. When you download a file, server decrypts the file before sending it to you." %}</span><br />
    <input type="radio" name="repo-enc" value="client-crypto" {% if not server_crypto %}checked="checked"{% endif %} class="vam" /><span class="vam">{% trans "Browser Crypto: Store password at your browser. When you download a file, your browser gets the encrypted file from server and decrypts it. More secure, but maybe not work well on some old browsers." %}</span><br />

    <input type="submit" value="{% trans "Set" %}" class="submit" />
  </form>

<h3>{% trans "Delete Account" %}</h3>
<p>{% trans "This operation will not be reverted. Please think twice!" %}</p>
<button id="account-delete-btn" data-url="{% url 'delete_user_account' request.user.username %}">{% trans "Delete" %}</button>
{% endblock %}

{% block extra_script %}
{% include 'snippets/avatar_upload_js.html' %}
<script type="text/javascript">
changeAvatar($('#user-avatar-chg-btn'), $('#user-avatar-input'), $('#user-avatar-form'));
addConfirmTo($('#account-delete-btn'), {
    'title' : '{% trans "Delete Account" %}',
    'con' : '{% trans "Really want to delete your account?" %}'
});
</script>
{% endblock %}
