{% extends "profile/profile_base.html" %}
{% load avatar_tags i18n seahub_tags %}

{% block right_panel %}
<div id="profile-items">
    <div style="border:none" class="profile-avatar-container">
        {% if user %}
        {% avatar user.username 200 %}
        {% else %}
        {% avatar "" 200 %}
        {% endif %}
    </div>
    <p class="big-font">{{ nickname }}</p>
    <p class="font-light">{{ intro }}</p>
    {% if d_profile %}
    <p class="with-border-top">
        <span class="icon-building fa-1x"></span>
        <span class="with-dist2">{{ d_profile.department }}</span>
    </p>
    <p class="with-border-top">
        <span class="icon-mobile fa-2x"></span>
        <span class="with-dist">{{ d_profile.telephone }}</span>
    </p>
</div>
    {% endif %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
</script>
{% endblock %}