.add-new-page-dialog .modal-footer .loading-icon {
  margin: 0;
  width: 20px;
  height: 20px;
}

.add-new-page-dialog .modal-footer .btn.disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
}

.add-new-page-dialog .modal-footer .btn {
  height: 38px;
}
