.nav-item-icon {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 22px;
  margin-right: 6px;
}

.nav-item-icon .sf3-font {
  color: #666666;
  line-height: 16px;
}

.nav-item-icon .seafile-multicolor-icon {
  color: #666666;
  height: 16px;
  width: 16px;
}

.nav-item-icon:hover:not(.nav-item-icon-disable) {
  background-color: #DFDFDD;
}

.wiki-nav-body .dropdown-item .seafile-multicolor-icon {
  fill: #666666 !important;
}

.wiki-nav-body .dropdown-item:hover .seafile-multicolor-icon {
  fill: #fff !important;
}
