.view-edit-popover .popover {
  max-width: 460px;
  width: 460px;
  left: 140px !important;
}

.view-edit-popover .page-edit-content {
  padding: 8px 12px;
}

.view-edit-popover .page-name-editor {
  margin-bottom: 7px;
}

.view-edit-popover .page-name-editor-input {
  height: 36px;
}

.view-edit-popover .view-icon-editor {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1px;
}

.view-edit-popover .view-icon-item-editor {
  overflow: hidden;
  height: 36px;
  width: 36px;
  border-radius: 6px;
}

.view-edit-popover .view-icon-item-editor .svg-item {
  width: 1em;
  height: 1em;
  font-size: 16px;
  color: #999;
}

.view-edit-popover .view-icon-item-editor .view-icon-color-white {
  color: #ffffff !important;
}

.view-edit-popover .view-icon-item-editor:hover {
  background-color: #f5f5f5;
}

.view-edit-popover .view-icon-item-editor .view-icon-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.page-edit-popover-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  border-bottom: 1px solid rgba(0, 40, 100, 0.12);
  height: 40px;
  font-size: 14px;
}

.page-edit-popover-header .header-text {
  color: #212529;
}

.page-edit-popover-header .remove-icon-button {
  color: #ff8000;
}

.page-edit-popover-header .remove-icon-button:hover {
  cursor: pointer;
}
