.wiki-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wiki-nav-header {
  height: 30px;
  min-height: 30px;
  padding: 0.25rem 10px;
  display: flex;
}

.wiki-nav-body {
  overflow: auto;
  user-select: none;
  max-height: 100%;
  margin-right: -8px;
  padding-right: 8px;
}

.wiki-nav .can-drop::after,
.wiki-nav .can-drop-top::after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 40px;
  background-color: #666;
}

.wiki-nav .can-drop::after {
  top: unset;
  bottom: 0;
}

.wiki-nav .can-drop-top::after {
  top: 0;
}

.wiki-nav .page-children {
  transition: height 0.25s ease-in-out 0s;
}

.wiki-nav .page-drop-target {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid #666;
}

.wiki-nav .wiki-page-item {
  position: relative;
  display: flex;
  width: 100%;
  height: 32px;
  padding: 0 8px 0 0;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-color: var(--bs-body-bg);
}

.wiki-nav .wiki-page-item.selected-page {
  background-color: var(--bs-wiki-nav-active-bg);
  font-weight: 500;
}

.wiki-nav .wiki-page-item:hover {
  background-color: var(--bs-wiki-nav-hover-bg);
}

.wiki-nav .wiki-page-item.selected-page:hover {
  background-color: var(--bs-wiki-nav-active-bg);
}

.wiki-nav .wiki-page-item-main {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.wiki-nav .wiki-page-item-main .wiki-nav-item-icon {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  font-size: 12px;
}

.wiki-nav .wiki-page-item-main:has(.wiki-nav-item-icon) .nav-item-icon {
  margin-left: 0px !important;
}

.wiki-nav .wiki-page-content {
  height: 100%;
  padding-right: 8px;
  line-height: 1;
  display: flex;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.wiki-nav .wiki-page-content:hover {
  cursor: pointer;
}

.wiki-nav .wiki-page-content .dtable-font {
  margin-right: 6px;
  font-size: 14px;
}

.wiki-nav .wiki-page-content .wiki-page-title {
  height: 32px;
  line-height: 32px;
  flex: 1;
}

.wiki-nav-footer {
  user-select: none;
}

.wiki-nav-footer:hover {
  background-color: #EFEFED;
}

.wiki-nav-footer.return-to-app {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.add-wiki-page-wrapper {
  position: relative;
}

.wiki-nav-footer .dropdown {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wiki-nav-footer .dropdown button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent !important;
}

.wiki-nav-footer .dropdown button::after {
  display: none !important;
}

.wiki-nav-footer .dropdown button:focus {
  box-shadow: none !important;
}

.wiki-nav-footer .add-wiki-page-btn {
  padding: 0 12px;
  height: 40px;
  border-top: none;
  background-color: transparent;
}

.wiki-sidebar .wiki-nav-footer .add-wiki-page-btn {
  border-top: none;
}

.wiki-nav .page-operation-dropdown .page-operation-dropdown-menu {
  margin-left: -15px;
  margin-top: 4px;
  overflow-y: visible !important;
}

.page-operation-dropdown-menu .divider {
  margin: 0.2rem 0;
}

.page-operation-dropdown-menu .dropdown-item .sf3-font {
  font-size: 14px;
  margin-right: 10px;
}

.page-operation-dropdown-menu .dropdown-item:hover .seafile-multicolor-icon {
  color: #fff;
}

.wiki-nav .wiki-page-item.page-can-drop-bottom::after,
.wiki-nav .wiki-page-item.page-can-drop-top::after {
  content: '';
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  background-color: rgb(200, 220, 240) !important;
}

.wiki-nav .wiki-page-item.page-can-drop-bottom::after {
  top: 32px;
}

.wiki-nav .wiki-page-item.page-can-drop-top::after {
  top: 0;
}

.wiki-nav .wiki-page-item.dragged-page-over {
  border-radius: 3px;
  background-color: rgb(200, 220, 240) !important;
}

.wiki-nav,
.wiki-nav .wiki-page-item .wiki-add-page-btn .sf3-font.sf3-font-enlarge:hover,
.wiki-nav .wiki-page-item .seafile-multicolor-icon-more-level:hover {
  color: var(--bs-body-color);
}

.wiki-nav .wiki2-trash .sf3-font,
.wiki-nav .wiki-page-item .wiki-add-page-btn .sf3-font.sf3-font-enlarge,
.wiki-nav .wiki-page-item .seafile-multicolor-icon-more-level {
  color: #666;
}

.svg-item {
  width: 1em;
  height: 1em;
  font-size: 16px;
}

.wiki-nav .other-op {
  height: 32px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
  font-size: 16px;
}

.wiki-nav .other-op:hover {
  background-color: var(--bs-wiki-nav-hover-bg);
  border-radius: 3px;
}

.wiki-nav .other-op .seafile-multicolor-icon {
  color: var(--bs-icon-color);
}

.wiki-nav .other-op .other-op-label {
  font-size: 14px;
}
