.searched-list-item {
  height: 40px;
  border-radius: 3px;
  cursor: pointer;
}

.searched-list-item:hover {
  background-color: var(--bs-nav-hover-bg);
}

.searched-list-item.searched-dir td {
  padding: 0;
  height: 40px;
  border-bottom: none;
}

.searched-list-item .searched-item-icon {
  border-radius: 3px 0 0 3px;
}

.searched-list-item .searched-item-link {
  border-radius: 0 3px 3px 0;
}
