{% extends "base_for_react.html" %}
{% load render_bundle from webpack_loader %}

{% block extra_style %}
{% render_bundle 'orgAdmin' 'css' %}
{% endblock %}

{% block extra_script %}
{% if enable_turnstile %}
<script>
  window.turnstileLoadPromise = new Promise(function(resolve) {
    window.onloadTurnstileCallback = function () {
      resolve();
    };
  });
</script>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit&onload=onloadTurnstileCallback" defer></script>
{% endif %}
   <script type="text/javascript">
     window.org = {
       pageOptions: {
         enableTurnstile: {% if enable_turnstile %} true {% else %} false {% endif %},
         turnstileSiteKey: "{{ turnstile_site_key|escapejs }}",
         orgID: '{{ org.org_id }}',
         orgName: '{{ org.org_name|escapejs }}',
         groupID: '{{ group_id }}',
         invitationLink: '{{ invitation_link|escapejs }}',
         orgMemberQuotaEnabled: '{{ org_member_quota_enabled }}',
         orgEnableAdminCustomLogo: '{{ org_enable_admin_custom_logo }}',
         orgEnableAdminCustomName: '{{ org_enable_admin_custom_name }}',
         orgEnableAdminInviteUser: '{{ org_enable_admin_invite_user }}',
         orgEnableAdminDeleteOrg: '{{ org_enable_admin_delete_org }}',
         enableMultiADFS: '{{ enable_multi_adfs }}',
         enableSSO: '{{ enable_sso }}',
         isOrgContext: true,
         enableSubscription: {% if enable_subscription %} true {% else %} false {% endif %},
         enableExternalBillingService: {% if enable_external_billing_service %} true {% else %} false {% endif %},
         sysEnableUserCleanTrash: {% if sys_enable_user_clean_trash %} true {% else %} false {% endif %},
         sysEnableEncryptedLibrary: {% if sys_enable_encrypted_library %} true {% else %} false {% endif %}
       }
      }
    </script>
    {% render_bundle 'orgAdmin' 'js' %}
{% endblock %}
