{% extends "base_for_react.html" %}
{% load render_bundle from webpack_loader %}

{% block extra_style %}
{% render_bundle 'orgAdmin' 'css' %}
{% endblock %}

{% block extra_script %}
   <script type="text/javascript">
     window.org = {
       pageOptions: {
         orgID: '{{ org.org_id }}',
         orgName: '{{ org.org_name|escapejs }}',
         groupID: '{{ group_id }}',
         invitationLink: '{{ invitation_link|escapejs }}',
         orgMemberQuotaEnabled: '{{ org_member_quota_enabled }}',
         orgEnableAdminCustomLogo: '{{ org_enable_admin_custom_logo }}',
         orgEnableAdminCustomName: '{{ org_enable_admin_custom_name }}',
         orgEnableAdminInviteUser: '{{ org_enable_admin_invite_user }}',
         enableMultiADFS: '{{ enable_multi_adfs }}',
         isOrgContext: true,
         enableSubscription: {% if enable_subscription %} true {% else %} false {% endif %},
         enableStripeSubscription: {% if enable_stripe_subscription %} true {% else %} false {% endif %},
         sysEnableUserCleanTrash: {% if sys_enable_user_clean_trash %} true {% else %} false {% endif %},
         sysEnableEncryptedLibrary: {% if sys_enable_encrypted_library %} true {% else %} false {% endif %}
       }
      }
    </script>
    {% render_bundle 'orgAdmin' 'js' %}
{% endblock %}
