{% extends "admin_base.html" %}
{% load i18n %}
{% block title %}{% trans "Add new notification" %}{% endblock %}
{% block nav_notificationadmin_class %}class="cur"{% endblock %}
{% block main_panel %}
<div class="narrow-panel">
<h3>{% trans "Add new notification" %}</h3>
<form action="" method="post">{% csrf_token %}
  <label for="id_message">{% trans "Notification" %}</label>
  {{ form.message }}
  <input type="submit" value="{% trans "Submit" %}" class="submit" />
</form>
</div>
{% endblock %}

