{% extends 'email_base.html' %}

{% load i18n seahub_tags %}

{% block email_con %}

<style type="text/css">
table{border-collapse:collapse;}
tr{border-bottom:1px solid #d2d2d2;}
th{margin: 0.5em 0; font-weight:normal; color:#9d9b9c;}
.brief, .detail{margin:0.5em 1.5em 0.5em 0;}
.detail {color:#9d9b9c;}
.avatar {border-radius: 1000px;}
</style>

<p style="color:#121214;font-size:14px;">{% blocktrans with name=to_user|email2nickname %}Hi, {{ name }}{% endblocktrans %}</p>
<p style="font-size:14px;color:#434144;">
{% blocktrans count num=notice_count %}
You've got 1 new notice on {{ site_name }}:
{% plural %}
You've got {{num}} new notices on {{ site_name }}:
{% endblocktrans %}
</p>

<div style="background-color:#fafafa;">
    <table style="width:100%">
        <tr>
            <th width="8%"></th>
            <th align="left" width="68%">{% trans "Message"%}</th>
            <th align="left" width="32%">{% trans "Time"%}</th>
        </tr>
        {% for notice in notices %}
        <tr>
            {% autoescape off %}
            <td style="text-align:center">{{notice.avatar_url}}</td>
            {% endautoescape %}
            <td>
                {% if notice.is_group_msg %}
                    <p class="brief">{% blocktrans with user=notice.notice_from grp_url=notice.group_url grp_name=notice.group_name%}{{user}} posted a new discussion in <a href="{{url_base}}{{grp_url}}">{{grp_name}}</a>{% endblocktrans %}</p>
                    {% if notice.grp_msg %}
                    <p class="detail">{{notice.grp_msg}}</p>
                    {% endif %}
                {% elif notice.is_grpmsg_reply %}
                    <p class="brief">{% blocktrans with user=notice.notice_from reply_url=notice.group_msg_reply_url%}{{user}} replied your <a href="{{url_base}}{{reply_url}}">group discussion</a>{% endblocktrans %}</p>
                    {% if notice.grpmsg_topic %}
                    <p class="detail">{{notice.grpmsg_topic}}</p>
                    {% endif %}
                    {% if notice.grp_reply_msg %}
                    <p class="detail">{{notice.grp_reply_msg}}</p>
                    {% endif %}
                {% elif notice.is_repo_share_msg %}
                    <p class="brief">{% blocktrans with user=notice.notice_from lib_url=notice.repo_url lib_name=notice.repo_name%}{{user}} has shared a library named <a href="{{url_base}}{{lib_url}}">{{lib_name}}</a> to you.{% endblocktrans %}</p>
                {% elif notice.is_priv_file_share_msg %}
                    <p class="brief">{% blocktrans with user=notice.notice_from file_url=notice.priv_shared_file_url file_name=notice.priv_shared_file_name %}{{user}} has shared a file named <a href="{{url_base}}{{file_url}}">{{file_name}}</a> to you.{% endblocktrans %}</p>
                {% elif notice.is_user_message %}
                    <p class="brief">{% blocktrans with msg_url=notice.user_msg_url user=notice.notice_from %}You have received a <a href="{{ url_base }}{{msg_url}}">new message</a> from {{user}}.{% endblocktrans %}</p>
                    {% if notice.user_msg %}
                    <p class="detail">{{notice.user_msg}}</p>
                    {% endif %}
                {% elif notice.is_file_uploaded_msg %}
                    <p class="brief">{% blocktrans with file_url=notice.file_link file_name=notice.file_name folder_url=notice.folder_link folder_name=notice.folder_name %}A file named <a href="{{url_base}}{{file_url}}">{{file_name}}</a> is uploaded to your folder <a href="{{url_base}}{{folder_link}}">{{folder_name}}</a>.{% endblocktrans %}</p>
                {% elif notice.is_group_join_request %}
                    <p class="brief">{% blocktrans with user_url=notice.grpjoin_user_profile_url user=notice.notice_from grp_url=notice.grpjoin_group_url grp_name=notice.grpjoin_group_name%}User <a href="{{url_base}}{{user_url}}">{{user}}</a> has asked to join group <a href="{{url_base}}{{grp_url}}">{{grp_name}}</a>, verification message:{% endblocktrans %}</p>
                    <p class="detail">{{notice.grpjoin_request_msg}}</p>
              {% endif %}
            </td>
            <td>{{ notice.timestamp|date:"Y-m-d G:i:s"}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<p style="font-size:14px;color:#434144;">
{% trans "Go check out at the following page:" %}<br />
{{ url_base }}{% url 'user_notification_list' %}
</p>
{% endblock %}
