{% extends "admin_base.html" %}
{% load i18n %}
{% block nav_notificationadmin_class %}class="cur"{% endblock %}

{% block left_panel %}
<div class="info-item">
    <h3 class="info-item-top">{% trans "Operations" %}</h3>
    <ul class="info-item-bottom op-list">
        <li><a href="{{ SITE_ROOT }}notification/add/">{% trans "Add new notification" %}</a></li>
    </ul>
</div>
{% endblock %}

{% block right_panel %}
<h3>{% trans "All Notifications" %}</h3>
{% if notes %}
<table>
    <tr>
        <th width="75%">{% trans "Notification Detail" %}</th>
        <th width="25%">{% trans "Operations" %}</th>
    </tr>
    {% for note in notes %}
    <tr>
        <td>{{ note.message }}
        {% if note.primary == 1 %}
        <span class="cur-note">{% trans "(current notification)" %}</span>
        {% endif %}
        <td>
          {% if note.primary != 1 %}
          <a href="#" data="{{ SITE_ROOT }}notification/set-primary/{{ note.id }}/" class="note-change-btn op">{% trans "Set to current" %}</a>
          {% endif %}
          <a href="#" data-url="{{ SITE_ROOT }}notification/delete/{{ note.id }}/" data-target="{{ note.message }}" class="note-delete-btn op">{% trans "Delete" %}</a>
        </td>
    </tr>
    {% endfor %}
</table>
<!--
<div id="paginator">
    {% if current_page != 1 %}
    <a href="{{ SITE_ROOT }}seafadmin/?page={{ prev_page }}&per_page={{ per_page }}">上一页</a>
    {% endif %}
    {% if page_next %}
    <a href="{{ SITE_ROOT }}seafadmin/?page={{ next_page }}&per_page={{ per_page }}">下一页</a>
    {% endif %}
    <span>每页：</span> 
    {% if per_page == 25 %}
    <span> 25 </span> 
    {% else %}
    <a href="{{ SITE_ROOT }}seafadmin/?per_page=25" class="per-page">25</a>
    {% endif %}
    {% if per_page == 50 %}
    <span> 50 </span> 
    {% else %}
    <a href="{{ SITE_ROOT }}seafadmin/?per_page=50" class="per-page">50</a>
    {% endif %}
    {% if per_page == 100 %}
    <span> 100 </span> 
    {% else %}
    <a href="{{ SITE_ROOT }}seafadmin/?per_page=100" class="per-page">100</a>
    {% endif %}
</div>
-->
{% else %}
<p>{% trans "Empty" %}</p>
{% endif %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
addConfirmTo($('.note-delete-btn'), {
        'title':'{% trans "Delete Notification" %}',
        'con':'{% trans "Are you sure you want to delete %s ?" %}'
});

$('.note-change-btn').click(function() {
    window.location = $(this).attr('data');
})
</script>
{% endblock %}
 
