.sf-metadata-result-container.windows-browser::-webkit-scrollbar,
.sf-table-canvas::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.horizontal-scrollbar-container {
  height: 20px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  background-color: transparent;
  overflow: auto;
}

.horizontal-scrollbar-inner {
  height: 1px;
}

.right-scrollbar-container {
  width: 20px;
  position: fixed;
  overflow: auto;
  transition: right 0.25s ease-in-out 0s;
}

.right-scrollbar-container .right-scrollbar-inner {
  width: 1px;
}
