@font-face {
  font-family: "dtable-font";
  /* Project id 1206632 */
  src: url('./dtable-fonts/dtable-font.eot?t=1691034193364');
  /* IE9 */
  src: url('./dtable-fonts/dtable-font.eot?t=1691034193364#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./dtable-fonts/dtable-font.woff2?t=1691034193364') format('woff2'),
    url('./dtable-fonts/dtable-font.woff?t=1691034193364') format('woff'),
    url('./dtable-fonts/dtable-font.ttf?t=1691034193364') format('truetype'),
    url('./dtable-fonts/dtable-font.svg?t=1691034193364#dtable-font') format('svg');
}

.dtable-font {
  font-family: "dtable-font" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dtable-icon-recycle-bin1:before {
  content: "\e7ff";
}

.dtable-icon-department-single-selection:before {
  content: "\e800";
}

.dtable-icon-decoration:before {
  content: "\e7fd";
}

.dtable-icon-dynamic-materials:before {
  content: "\e7fe";
}

.dtable-icon-first-page:before {
  content: "\e7f8";
}

.dtable-icon-thumbnail:before {
  content: "\e7f9";
}

.dtable-icon-next-page:before {
  content: "\e7fa";
}

.dtable-icon-previous-page:before {
  content: "\e7fb";
}

.dtable-icon-last-page:before {
  content: "\e7fc";
}

.dtable-icon-using-templates:before {
  content: "\e7f6";
}

.dtable-icon-ai-assistant:before {
  content: "\e7f7";
}

.dtable-icon-down1:before {
  content: "\e7f4";
}

.dtable-icon-up1:before {
  content: "\e7f5";
}

.dtable-icon-refresh:before {
  content: "\e7f3";
}

.dtable-icon-table-of-content:before {
  content: "\e7f2";
}

.dtable-icon-remove-from-toolbar1:before {
  content: "\e7f0";
}

.dtable-icon-add-to-toolbar1:before {
  content: "\e7f1";
}

.dtable-icon-add-to-toolbar:before {
  content: "\e7ee";
}

.dtable-icon-remove-from-toolbar:before {
  content: "\e7ef";
}

.dtable-icon-folders1:before {
  content: "\e7ed";
}

.dtable-icon-info-circle:before {
  content: "\e7ec";
}

.dtable-icon-handwritten-signature-sync:before {
  content: "\e7ea";
}

.dtable-icon-handwritten-signature:before {
  content: "\e7eb";
}

.dtable-icon-collapse-all:before {
  content: "\e7e8";
}

.dtable-icon-expand-all:before {
  content: "\e7e9";
}

.dtable-icon-comment1:before {
  content: "\e7e7";
}

.dtable-icon-border-style:before {
  content: "\e7e6";
}

.dtable-icon-automation-rules1:before {
  content: "\e7e4";
}

.dtable-icon-notification-rules:before {
  content: "\e7e5";
}

.dtable-icon-app-purchase:before {
  content: "\e7d7";
}

.dtable-icon-app-statistics:before {
  content: "\e7d8";
}

.dtable-icon-app-address-book:before {
  content: "\e7d9";
}

.dtable-icon-app-product-library:before {
  content: "\e7da";
}

.dtable-icon-app-individual-bill:before {
  content: "\e7db";
}

.dtable-icon-app-email:before {
  content: "\e7dc";
}

.dtable-icon-app-distribution:before {
  content: "\e7dd";
}

.dtable-icon-app-history1:before {
  content: "\e7de";
}

.dtable-icon-app-contract:before {
  content: "\e7df";
}

.dtable-icon-app-post-sale:before {
  content: "\e7e0";
}

.dtable-icon-app-logistics:before {
  content: "\e7e1";
}

.dtable-icon-app-invoice:before {
  content: "\e7e2";
}

.dtable-icon-app-achievement-distribution:before {
  content: "\e7e3";
}

.dtable-icon-underline:before {
  content: "\e7d6";
}

.dtable-icon-chart:before {
  content: "\e7d4";
}

.dtable-icon-text:before {
  content: "\e7d5";
}

.dtable-icon-calendar1:before {
  content: "\e7cc";
}

.dtable-icon-data-deduplication:before {
  content: "\e7cd";
}

.dtable-icon-advanced-statistics:before {
  content: "\e7ce";
}

.dtable-icon-gallery:before {
  content: "\e7cf";
}

.dtable-icon-kanban:before {
  content: "\e7d0";
}

.dtable-icon-page-design:before {
  content: "\e7d1";
}

.dtable-icon-timeline:before {
  content: "\e7d2";
}

.dtable-icon-map1:before {
  content: "\e7d3";
}

.dtable-icon-upload1:before {
  content: "\e7cb";
}

.dtable-icon-qr-code:before {
  content: "\e7ca";
}

.dtable-icon-monitor1:before {
  content: "\e7c8";
}

.dtable-icon-more:before {
  content: "\e7c9";
}

.dtable-icon-italic:before {
  content: "\e7c1";
}

.dtable-icon-font-color1:before {
  content: "\e7c2";
}

.dtable-icon-clear-format:before {
  content: "\e7c3";
}

.dtable-icon-bold:before {
  content: "\e7c4";
}

.dtable-icon-display1:before {
  content: "\e7c5";
}

.dtable-icon-list-ol1:before {
  content: "\e7c6";
}

.dtable-icon-list-ul1:before {
  content: "\e7c7";
}

.dtable-icon-activities:before {
  content: "\e7c0";
}

.dtable-icon-import-from-another-table1:before {
  content: "\e7bc";
}

.dtable-icon-monitor:before {
  content: "\e7bd";
}

.dtable-icon-custom-color1:before {
  content: "\e7be";
}

.dtable-icon-switch2:before {
  content: "\e7bf";
}

.dtable-icon-justify-align:before {
  content: "\e7ac";
}

.dtable-icon-font-color:before {
  content: "\e7ad";
}

.dtable-icon-increase-indent:before {
  content: "\e7ae";
}

.dtable-icon-decrease-indent:before {
  content: "\e7af";
}

.dtable-icon-list-ol-capital-english-letters:before {
  content: "\e7b0";
}

.dtable-icon-list-ol-capital-roman-numerals:before {
  content: "\e7b1";
}

.dtable-icon-list-ul:before {
  content: "\e7b2";
}

.dtable-icon-list-ul-black-square:before {
  content: "\e7b3";
}

.dtable-icon-list-ul-hollow-circle:before {
  content: "\e7b4";
}

.dtable-icon-list-ol-small-roman-numerals:before {
  content: "\e7b5";
}

.dtable-icon-switch1:before {
  content: "\e7b6";
}

.dtable-icon-list-ol-small-english-letters:before {
  content: "\e7b7";
}

.dtable-icon-custom-color:before {
  content: "\e7b8";
}

.dtable-icon-import-from-another-table:before {
  content: "\e7b9";
}

.dtable-icon-list-ol-small-greek:before {
  content: "\e7ba";
}

.dtable-icon-list-ol:before {
  content: "\e7bb";
}

.dtable-icon-align-right:before {
  content: "\e79f";
}

.dtable-icon-horizontal-center:before {
  content: "\e7a5";
}

.dtable-icon-align-left:before {
  content: "\e7a6";
}

.dtable-icon-bottom-alignment:before {
  content: "\e7a7";
}

.dtable-icon-horizontal-distribution:before {
  content: "\e7a8";
}

.dtable-icon-top-alignment:before {
  content: "\e7a9";
}

.dtable-icon-vertical-center:before {
  content: "\e7aa";
}

.dtable-icon-vertical-distribution:before {
  content: "\e7ab";
}

.dtable-icon-novice-guide:before {
  content: "\e79b";
}

.dtable-icon-wide:before {
  content: "\e79c";
}

.dtable-icon-narrow1:before {
  content: "\e79d";
}

.dtable-icon-choose-column:before {
  content: "\e79e";
}

.dtable-icon-app-share:before {
  content: "\e794";
}

.dtable-icon-app-user-management:before {
  content: "\e795";
}

.dtable-icon-paused:before {
  content: "\e793";
}

.dtable-icon-app-preview:before {
  content: "\e792";
}

.dtable-icon-app-authority-management:before {
  content: "\e78d";
}

.dtable-icon-app-settings:before {
  content: "\e78e";
}

.dtable-icon-rule:before {
  content: "\e78c";
}

.dtable-icon-workflow1:before {
  content: "\e78b";
}

.dtable-icon-app-page:before {
  content: "\e78a";
}

.dtable-icon-app-home:before {
  content: "\e788";
}

.dtable-icon-app-personnel:before {
  content: "\e787";
}

.dtable-icon-app-star-mark:before {
  content: "\e786";
}

.dtable-icon-app-history:before {
  content: "\e785";
}

.dtable-icon-app-edit:before {
  content: "\e784";
}

.dtable-icon-app-folder:before {
  content: "\e783";
}

.dtable-icon-app-calendar:before {
  content: "\e782";
}

.dtable-icon-app-map:before {
  content: "\e789";
}

.dtable-icon-app-position:before {
  content: "\e781";
}

.dtable-icon-app-gallery:before {
  content: "\e780";
}

.dtable-icon-automation-rules:before {
  content: "\e77f";
}

.dtable-icon-dingtalk:before {
  content: "\e77e";
}

.dtable-icon-delete:before {
  content: "\e77d";
}

.dtable-icon-checklist-sync:before {
  content: "\e767";
}

.dtable-icon-button-sync:before {
  content: "\e768";
}

.dtable-icon-email-sync:before {
  content: "\e769";
}

.dtable-icon-link-formulas-sync:before {
  content: "\e76a";
}

.dtable-icon-location-sync:before {
  content: "\e76b";
}

.dtable-icon-creation-time-sync:before {
  content: "\e76c";
}

.dtable-icon-calendar-alt-solid-sync:before {
  content: "\e76d";
}

.dtable-icon-multiple-selection-sync:before {
  content: "\e76e";
}

.dtable-icon-collaborator-sync:before {
  content: "\e76f";
}

.dtable-icon-picture-sync:before {
  content: "\e770";
}

.dtable-icon-renewal-person-sync:before {
  content: "\e771";
}

.dtable-icon-duration-sync:before {
  content: "\e772";
}

.dtable-icon-single-election-sync:before {
  content: "\e773";
}

.dtable-icon-autonumber-sync:before {
  content: "\e774";
}

.dtable-icon-link-other-record-sync:before {
  content: "\e775";
}

.dtable-icon-formula-sync:before {
  content: "\e776";
}

.dtable-icon-single-line-text-sync:before {
  content: "\e777";
}

.dtable-icon-rate-sync:before {
  content: "\e778";
}

.dtable-icon-file-alt-solid-sync:before {
  content: "\e779";
}

.dtable-icon-long-text-sync:before {
  content: "\e77a";
}

.dtable-icon-url-sync:before {
  content: "\e77b";
}

.dtable-icon-number-sync:before {
  content: "\e77c";
}

.dtable-icon-periodic-sync:before {
  content: "\e766";
}

.dtable-icon-table-encryption:before {
  content: "\e765";
}

.dtable-icon-funnel-chart:before {
  content: "\e764";
}

.dtable-icon-convert:before {
  content: "\e763";
}

.dtable-icon-include-archived-records:before {
  content: "\e761";
}

.dtable-icon-exclude-archived-records:before {
  content: "\e762";
}

.dtable-icon-use-values:before {
  content: "\e760";
}

.dtable-icon-restore:before {
  content: "\e75f";
}

.dtable-icon-partially-selected:before {
  content: "\e75e";
}

.dtable-icon-workflow:before {
  content: "\e75d";
}

.dtable-icon-rectangular-tree-diagram:before {
  content: "\e75c";
}

.dtable-icon-scan-code:before {
  content: "\e75b";
}

.dtable-icon-a-qr-code:before {
  content: "\e75a";
}

.dtable-icon-histogram:before {
  content: "\e759";
}

.dtable-icon-bar-chart:before {
  content: "\e758";
}

.dtable-icon-line-chart:before {
  content: "\e757";
}

.dtable-icon-area-chart:before {
  content: "\e756";
}

.dtable-icon-pie-chart:before {
  content: "\e755";
}

.dtable-icon-scatter-chart:before {
  content: "\e754";
}

.dtable-icon-combination-chart:before {
  content: "\e753";
}

.dtable-icon-map:before {
  content: "\e752";
}

.dtable-icon-heat-map:before {
  content: "\e751";
}

.dtable-icon-facet-chart:before {
  content: "\e750";
}

.dtable-icon-card:before {
  content: "\e74f";
}

.dtable-icon-gauge:before {
  content: "\e74e";
}

.dtable-icon-adjust-column:before {
  content: "\e74d";
}

.dtable-icon-private-archive-view:before {
  content: "\e74b";
}

.dtable-icon-private-database:before {
  content: "\e74c";
}

.dtable-icon-up-move:before {
  content: "\e749";
}

.dtable-icon-down-move:before {
  content: "\e74a";
}

.dtable-icon-flag:before {
  content: "\e748";
}

.dtable-icon-praise:before {
  content: "\e747";
}

.dtable-icon-like:before {
  content: "\e746";
}

.dtable-icon-mysql-database:before {
  content: "\e744";
}

.dtable-icon-more-menus:before {
  content: "\e745";
}

.dtable-icon-pdf:before {
  content: "\e743";
}

.dtable-icon-export-to-new-table:before {
  content: "\e742";
}

.dtable-icon-pin:before {
  content: "\e741";
}

.dtable-icon-night-mode:before {
  content: "\e73f";
}

.dtable-icon-day-mode:before {
  content: "\e740";
}

.dtable-icon-archiving-view:before {
  content: "\e73e";
}

.dtable-icon-recognition-image:before {
  content: "\e73d";
}

.dtable-icon-archive-view:before {
  content: "\e73c";
}

.dtable-icon-extend:before {
  content: "\e73b";
}

.dtable-icon-delete-row:before {
  content: "\e739";
}

.dtable-icon-delete-column:before {
  content: "\e73a";
}

.dtable-icon-insert-row-above:before {
  content: "\e737";
}

.dtable-icon-insert-row-below:before {
  content: "\e738";
}

.dtable-icon-insert-row-left:before {
  content: "\e735";
}

.dtable-icon-insert-row-right:before {
  content: "\e736";
}

.dtable-icon-add_members:before {
  content: "\e734";
}

.dtable-icon-linkage:before {
  content: "\e733";
}

.dtable-icon-history:before {
  content: "\e732";
}

.dtable-icon-find_fill:before {
  content: "\e731";
}

.dtable-icon-data-processing:before {
  content: "\e730";
}

.dtable-icon-page-designer:before {
  content: "\e72f";
}

.dtable-icon-rules:before {
  content: "\e72e";
}

.dtable-icon-database:before {
  content: "\e72d";
}

.dtable-icon-rate:before {
  content: "\e72c";
}

.dtable-icon-modify-row:before {
  content: "\e72b";
}

.dtable-icon-enlarge1:before {
  content: "\e729";
}

.dtable-icon-shrink:before {
  content: "\e72a";
}

.dtable-icon-default-scale:before {
  content: "\e728";
}

.dtable-icon-current-location:before {
  content: "\e727";
}

.dtable-icon-edit:before {
  content: "\e726";
}

.dtable-icon-link-formulas:before {
  content: "\e725";
}

.dtable-icon-folders:before {
  content: "\e724";
}

.dtable-icon-row-height-quadruple:before {
  content: "\e723";
}

.dtable-icon-row-height-triple:before {
  content: "\e722";
}

.dtable-icon-row-height-double:before {
  content: "\e720";
}

.dtable-icon-row-height-default:before {
  content: "\e721";
}

.dtable-icon-data-collection-table:before {
  content: "\e71f";
}

.dtable-icon-repeat-value-highlight:before {
  content: "\e71c";
}

.dtable-icon-enterprise-wechat1:before {
  content: "\e71d";
}

.dtable-icon-button:before {
  content: "\e71e";
}

.dtable-icon-send-backward:before {
  content: "\e718";
}

.dtable-icon-bring-forward:before {
  content: "\e719";
}

.dtable-icon-bring-to-front:before {
  content: "\e71a";
}

.dtable-icon-send-to-back:before {
  content: "\e71b";
}

.dtable-icon-transfer-deposit:before {
  content: "\e713";
}

.dtable-icon-revoke:before {
  content: "\e714";
}

.dtable-icon-redo:before {
  content: "\e715";
}

.dtable-icon-tip:before {
  content: "\e712";
}

.dtable-icon-currency:before {
  content: "\e711";
}

.dtable-icon-narrow:before {
  content: "\e70e";
}

.dtable-icon-enlarge:before {
  content: "\e70f";
}

.dtable-icon-page-size:before {
  content: "\e710";
}

.dtable-icon-duration:before {
  content: "\e70d";
}

.dtable-icon-system-message:before {
  content: "\e70c";
}

.dtable-icon-recycle-bin:before {
  content: "\e70b";
}

.dtable-icon-abuse-report:before {
  content: "\e70a";
}

.dtable-icon-email:before {
  content: "\e709";
}

.dtable-icon-share-with-me:before {
  content: "\e708";
}

.dtable-icon-department:before {
  content: "\e707";
}

.dtable-icon-api:before {
  content: "\e703";
}

.dtable-icon-help-center:before {
  content: "\e704";
}

.dtable-icon-ask-community:before {
  content: "\e705";
}

.dtable-icon-keyboard-shortcuts:before {
  content: "\e706";
}

.dtable-icon-member-free:before {
  content: "\e702";
}

.dtable-icon-down:before {
  content: "\e700";
}

.dtable-icon-up:before {
  content: "\e701";
}

.dtable-icon-list-view:before {
  content: "\e6ff";
}

.dtable-icon-script:before {
  content: "\e6fd";
}

.dtable-icon-implement:before {
  content: "\e6fe";
}

.dtable-icon-autonumber:before {
  content: "\e6fc";
}

.dtable-icon-color:before {
  content: "\e7a0";
}

.dtable-icon-wechat:before {
  content: "\e7a1";
}

.dtable-icon-condition-set:before {
  content: "\e7a2";
}

.dtable-icon-full-screen:before {
  content: "\e7a3";
}

.dtable-icon-video:before {
  content: "\e7a4";
}

.dtable-icon-retry:before {
  content: "\e6f2";
}

.dtable-icon-print:before {
  content: "\e6da";
}

.dtable-icon-batch-replacement:before {
  content: "\e6d9";
}

.dtable-icon-permissions:before {
  content: "\e6d8";
}

.dtable-icon-sync:before {
  content: "\e6d2";
}

.dtable-icon-member:before {
  content: "\e6d1";
}

.dtable-icon-organization-name:before {
  content: "\e6ce";
}

.dtable-icon-star:before {
  content: "\e6cb";
}

.dtable-icon-todo:before {
  content: "\e6c8";
}

.dtable-icon-rotate:before {
  content: "\e6c6";
}

.dtable-icon-comment:before {
  content: "\e6c5";
}

.dtable-icon-camera:before {
  content: "\e6c4";
}

.dtable-icon-check-circle:before {
  content: "\e6c2";
}

.dtable-icon-exclamation-circle:before {
  content: "\e6bf";
}

.dtable-icon-exclamation-triangle:before {
  content: "\e6c0";
}

.dtable-icon-eye:before {
  content: "\e6c1";
}

.dtable-icon-eye-slash:before {
  content: "\e6c3";
}

.dtable-icon-random-generation:before {
  content: "\e6be";
}

.dtable-icon-hi:before {
  content: "\e6bd";
}

.dtable-icon-leave:before {
  content: "\e6bc";
}

.dtable-icon-history-mirror-image:before {
  content: "\e6bb";
}

.dtable-icon-location:before {
  content: "\e6b9";
}

.dtable-icon-insert-left:before {
  content: "\e6b6";
}

.dtable-icon-insert-right:before {
  content: "\e6b7";
}

.dtable-icon-ascending-order:before {
  content: "\e6b8";
}

.dtable-icon-descending-order:before {
  content: "\e6ba";
}

.dtable-icon-creat-empty-table:before {
  content: "\e6b5";
}

.dtable-icon-import:before {
  content: "\e6b3";
}

.dtable-icon-picture-linear:before {
  content: "\e6b4";
}

.dtable-icon-creation-time:before {
  content: "\e6b2";
}

.dtable-icon-upload:before {
  content: "\e6b1";
}

.dtable-icon-update:before {
  content: "\e6af";
}

.dtable-icon-assembly:before {
  content: "\e6b0";
}

.dtable-icon-description:before {
  content: "\e6ae";
}

.dtable-icon-enterprise-wechat:before {
  content: "\e6ad";
}

.dtable-icon-statistic:before {
  content: "\e6ac";
}

.dtable-icon-common-dataset:before {
  content: "\e6aa";
}

.dtable-icon-link-common-dataset:before {
  content: "\e6ab";
}

.dtable-icon-notice:before {
  content: "\e6a8";
}

.dtable-icon-all-read:before {
  content: "\e6a9";
}

.dtable-icon-modification-record:before {
  content: "\e6a7";
}

.dtable-icon-copy-link:before {
  content: "\e6a6";
}

.dtable-icon-retract-com:before {
  content: "\e6a3";
}

.dtable-icon-mark:before {
  content: "\e6a4";
}

.dtable-icon-open-com:before {
  content: "\e6a5";
}

.dtable-icon-export:before {
  content: "\e6a2";
}

.dtable-icon-copy:before {
  content: "\e6a1";
}

.dtable-icon-display:before {
  content: "\e69f";
}

.dtable-icon-retract:before {
  content: "\e6a0";
}

.dtable-icon-label:before {
  content: "\e69e";
}

.dtable-icon-personal:before {
  content: "\e69c";
}

.dtable-icon-organization1:before {
  content: "\e69d";
}

.dtable-icon-left:before {
  content: "\e69a";
}

.dtable-icon-right:before {
  content: "\e69b";
}

.dtable-icon-link-other-record:before {
  content: "\e698";
}

.dtable-icon-url:before {
  content: "\e699";
}

.dtable-icon-calendar:before {
  content: "\e697";
}

.dtable-icon-use-help:before {
  content: "\e696";
}

.dtable-icon-relation:before {
  content: "\e695";
}

.dtable-icon-formula:before {
  content: "\e694";
}

.dtable-icon-token:before {
  content: "\e693";
}

.dtable-icon-x-:before {
  content: "\e691";
}

.dtable-icon-bell:before {
  content: "\e692";
}

.dtable-icon-confirm:before {
  content: "\e68f";
}

.dtable-icon-cancel:before {
  content: "\e690";
}

.dtable-icon-menu:before {
  content: "\e68e";
}

.dtable-icon-x:before {
  content: "\e68d";
}

.dtable-icon-settings:before {
  content: "\e685";
}

.dtable-icon-admin-op-log:before {
  content: "\e686";
}

.dtable-icon-groups:before {
  content: "\e687";
}

.dtable-icon-info:before {
  content: "\e688";
}

.dtable-icon-mine:before {
  content: "\e689";
}

.dtable-icon-libraries:before {
  content: "\e68a";
}

.dtable-icon-organization:before {
  content: "\e68b";
}

.dtable-icon-discussion:before {
  content: "\e68c";
}

.dtable-icon-add-line:before {
  content: "\e683";
}

.dtable-icon-table:before {
  content: "\e684";
}

.dtable-icon-invite:before {
  content: "\e682";
}

.dtable-icon-broken-line:before {
  content: "\e67f";
}

.dtable-icon-pie:before {
  content: "\e680";
}

.dtable-icon-modify-column-type:before {
  content: "\e67e";
}

.dtable-icon-journal:before {
  content: "\e67d";
}

.dtable-icon-freeze:before {
  content: "\e67b";
}

.dtable-icon-cancel-freeze:before {
  content: "\e67c";
}

.dtable-icon-permission-setting:before {
  content: "\e67a";
}

.dtable-icon-share:before {
  content: "\e679";
}

.dtable-icon-set-up:before {
  content: "\e678";
}

.dtable-icon-form:before {
  content: "\e676";
}

.dtable-icon-group:before {
  content: "\e677";
}

.dtable-icon-statistics:before {
  content: "\e675";
}

.dtable-icon-apps:before {
  content: "\e672";
}

.dtable-icon-templates:before {
  content: "\e673";
}

.dtable-icon-files:before {
  content: "\e674";
}

.dtable-icon-upward:before {
  content: "\e671";
}

.dtable-icon-unlock:before {
  content: "\e66f";
}

.dtable-icon-lock:before {
  content: "\e670";
}

.dtable-icon-creator:before {
  content: "\e66c";
}

.dtable-icon-collaborator:before {
  content: "\e66d";
}

.dtable-icon-hide:before {
  content: "\e66a";
}

.dtable-icon-switch:before {
  content: "\e66b";
}

.dtable-icon-add-table:before {
  content: "\e668";
}

.dtable-icon-add:before {
  content: "\e669";
}

.dtable-icon-add-square:before {
  content: "\e667";
}

.dtable-icon-more-vertical:before {
  content: "\e663";
}

.dtable-icon-more-level:before {
  content: "\e664";
}

.dtable-icon-card-view:before {
  content: "\e65d";
}

.dtable-icon-search:before {
  content: "\e65c";
}

.dtable-icon-delete-table:before {
  content: "\e65b";
}

.dtable-icon-folder:before {
  content: "\e658";
}

.dtable-icon-file:before {
  content: "\e659";
}

.dtable-icon-filter:before {
  content: "\e655";
}

.dtable-icon-dtable-logo:before {
  content: "\e652";
}

.dtable-icon-attachments:before {
  content: "\e64d";
}

.dtable-icon-long-text:before {
  content: "\e64c";
}

.dtable-icon-multiple-selection:before {
  content: "\e64b";
}

.dtable-icon-check-mark:before {
  content: "\e645";
}

.dtable-icon-return:before {
  content: "\e646";
}

.dtable-icon-main-view:before {
  content: "\e647";
}

.dtable-icon-sort:before {
  content: "\e648";
}

.dtable-icon-single-election:before {
  content: "\e649";
}

.dtable-icon-fork-number:before {
  content: "\e642";
}

.dtable-icon-add-files:before {
  content: "\e640";
}

.dtable-icon-drag:before {
  content: "\e63e";
}

.dtable-icon-open:before {
  content: "\e63b";
}

.dtable-icon-download:before {
  content: "\e63c";
}

.dtable-icon-right-slide:before {
  content: "\e639";
}

.dtable-icon-left-slide:before {
  content: "\e63a";
}

.dtable-icon-picture:before {
  content: "\e637";
}

.dtable-icon-single-line-text:before {
  content: "\e62a";
}

.dtable-icon-check-square-solid:before {
  content: "\e625";
}

.dtable-icon-rename:before {
  content: "\e626";
}

.dtable-icon-drop-down:before {
  content: "\e624";
}

.dtable-icon-rich-text:before {
  content: "\e61a";
}

.dtable-icon-number:before {
  content: "\e61d";
}

.dtable-icon-file-alt-solid:before {
  content: "\e620";
}

.dtable-icon-calendar-alt-solid:before {
  content: "\e622";
}
