@font-face {
  font-family: "sdocfont"; /* Project id 4097705 */
  src: url('./sdoc-editor-font/iconfont.eot?t=1688352029576'); /* IE9 */
  src: url('./sdoc-editor-font/iconfont.eot?t=1688352029576#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./sdoc-editor-font/iconfont.woff2?t=1688352029576') format('woff2'),
       url('./sdoc-editor-font/iconfont.woff?t=1688352029576') format('woff'),
       url('./sdoc-editor-font/iconfont.ttf?t=1688352029576') format('truetype'),
       url('./sdoc-editor-font/iconfont.svg?t=1688352029576#sdocfont') format('svg');
}

.sdocfont {
  font-family: "sdocfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sdoc-caret-up:before {
  content: "\e636";
}

.sdoc-starred:before {
  content: "\e63d";
}

.sdoc-unstarred:before {
  content: "\e63e";
}

.sdoc-more:before {
  content: "\e63a";
}

.sdoc-comment:before {
  content: "\e63b";
}

.sdoc-unlink:before {
  content: "\e63c";
}

.sdoc-align-center:before {
  content: "\e62e";
}

.sdoc-align-left:before {
  content: "\e62f";
}

.sdoc-superscripts:before {
  content: "\e638";
}

.sdoc-subscripts:before {
  content: "\e639";
}

.sdoc-delete-table:before {
  content: "\e637";
}

.sdoc-align-right:before {
  content: "\e630";
}

.sdoc-cancel:before {
  content: "\e631";
}

.sdoc-drop-down:before {
  content: "\e632";
}

.sdoc-row:before {
  content: "\e633";
}

.sdoc-column:before {
  content: "\e634";
}

.sdoc-fullscreen:before {
  content: "\e635";
}

.sdoc-check-circle:before {
  content: "\e62a";
}

.sdoc-description:before {
  content: "\e62b";
}

.sdoc-exclamation-triangle:before {
  content: "\e62c";
}

.sdoc-exclamation-circle:before {
  content: "\e62d";
}

.sdoc-check-square:before {
  content: "\e615";
}

.sdoc-image:before {
  content: "\e616";
}

.sdoc-italic:before {
  content: "\e617";
}

.sdoc-history:before {
  content: "\e618";
}

.sdoc-quote-left:before {
  content: "\e619";
}

.sdoc-list-ol:before {
  content: "\e61a";
}

.sdoc-delete:before {
  content: "\e61b";
}

.sdoc-menu:before {
  content: "\e61c";
}

.sdoc-code-block:before {
  content: "\e61d";
}

.sdoc-redo:before {
  content: "\e61e";
}

.sdoc-bold:before {
  content: "\e61f";
}

.sdoc-rename:before {
  content: "\e620";
}

.sdoc-list-ul:before {
  content: "\e621";
}

.sdoc-share:before {
  content: "\e622";
}

.sdoc-strikethrough:before {
  content: "\e623";
}

.sdoc-link:before {
  content: "\e624";
}

.sdoc-underline:before {
  content: "\e625";
}

.sdoc-revoke:before {
  content: "\e626";
}

.sdoc-table:before {
  content: "\e627";
}

.sdoc-table-of-content:before {
  content: "\e628";
}

.sdoc-user:before {
  content: "\e629";
}

