@font-face {
  font-family: "sdocfont"; /* Project id 4097705 */
  src: url('./sdoc-editor-font/iconfont.eot?t=1695017062235'); /* IE9 */
  src: url('./sdoc-editor-font/iconfont.eot?t=1695017062235#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./sdoc-editor-font/iconfont.woff2?t=1695017062235') format('woff2'),
       url('./sdoc-editor-font/iconfont.woff?t=1695017062235') format('woff'),
       url('./sdoc-editor-font/iconfont.ttf?t=1695017062235') format('truetype'),
       url('./sdoc-editor-font/iconfont.svg?t=1695017062235#sdocfont') format('svg');
}

.sdocfont {
  font-family: "sdocfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sdoc-link-file:before {
  content: "\e654";
}

.sdoc-sm-close:before {
  content: "\e655";
}

.sdoc-merge-cell:before {
  content: "\e653";
}

.sdoc-download:before {
  content: "\e652";
}

.sdoc-next-page:before {
  content: "\e626";
}

.sdoc-previous-page:before {
  content: "\e651";
}

.sdoc-save-tip:before {
  content: "\e650";
}

.sdoc-file:before {
  content: "\e60f";
}

.sdoc-header6:before {
  content: "\e60e";
}

.sdoc-more-vertical-right:before {
  content: "\e60b";
}

.sdoc-more-vertical:before {
  content: "\e60c";
}

.sdoc-append:before {
  content: "\e60d";
}

.sdoc-quote1:before {
  content: "\e60a";
}

.sdoc-cut:before {
  content: "\e609";
}

.sdoc-header5:before {
  content: "\e604";
}

.sdoc-header2:before {
  content: "\e605";
}

.sdoc-header3:before {
  content: "\e606";
}

.sdoc-header1:before {
  content: "\e607";
}

.sdoc-header4:before {
  content: "\e608";
}

.sdoc-text:before {
  content: "\e603";
}

.sdoc-close1:before {
  content: "\e647";
}

.sdoc-rename:before {
  content: "\e620";
}

.sdoc-align-center:before {
  content: "\e62e";
}

.sdoc-check-mark:before {
  content: "\e64f";
}

.sdoc-table:before {
  content: "\e643";
}

.sdoc-list-ol:before {
  content: "\e644";
}

.sdoc-strikethrough:before {
  content: "\e645";
}

.sdoc-link:before {
  content: "\e648";
}

.sdoc-list-ul:before {
  content: "\e649";
}

.sdoc-auto-linefeed:before {
  content: "\e64a";
}

.sdoc-delete-table:before {
  content: "\e64b";
}

.sdoc-image:before {
  content: "\e64c";
}

.sdoc-align-right:before {
  content: "\e64d";
}

.sdoc-text-link:before {
  content: "\e64e";
}

.sdoc-check-square:before {
  content: "\e624";
}

.sdoc-italic:before {
  content: "\e625";
}

.sdoc-copy:before {
  content: "\e627";
}

.sdoc-caret-up:before {
  content: "\e62f";
}

.sdoc-increase-font-size:before {
  content: "\e630";
}

.sdoc-subscripts:before {
  content: "\e632";
}

.sdoc-redo:before {
  content: "\e633";
}

.sdoc-more:before {
  content: "\e634";
}

.sdoc-column:before {
  content: "\e611";
}

.sdoc-insert:before {
  content: "\e636";
}

.sdoc-delete:before {
  content: "\e637";
}

.sdoc-bg-color:before {
  content: "\e638";
}

.sdoc-align-left:before {
  content: "\e639";
}

.sdoc-underline:before {
  content: "\e63a";
}

.sdoc-row:before {
  content: "\e63c";
}

.sdoc-highlight-color:before {
  content: "\e614";
}

.sdoc-format-clear:before {
  content: "\e612";
}

.sdoc-drop-down:before {
  content: "\e615";
}

.sdoc-font-color:before {
  content: "\e616";
}

.sdoc-inline-link:before {
  content: "\e617";
}

.sdoc-revoke:before {
  content: "\e61a";
}

.sdoc-quote:before {
  content: "\e61b";
}

.sdoc-bold:before {
  content: "\e61d";
}

.sdoc-unlink:before {
  content: "\e61e";
}

.sdoc-card-link:before {
  content: "\e61f";
}

.sdoc-code-block:before {
  content: "\e621";
}

.sdoc-reduce-font-size:before {
  content: "\e623";
}

.sdoc-close:before {
  content: "\e610";
}

.sdoc-superscripts:before {
  content: "\e613";
}

.sdoc-document:before {
  content: "\e646";
}

.sdoc-confirm:before {
  content: "\e640";
}

.sdoc-more-options:before {
  content: "\e641";
}

.sdoc-comments:before {
  content: "\e642";
}

.sdoc-right-slide:before {
  content: "\e602";
}

.sdoc-revise:before {
  content: "\e63f";
}

.sdoc-starred:before {
  content: "\e63d";
}

.sdoc-unstarred:before {
  content: "\e63e";
}

.sdoc-comment:before {
  content: "\e63b";
}

.sdoc-cancel:before {
  content: "\e631";
}

.sdoc-fullscreen:before {
  content: "\e635";
}

.sdoc-check-circle:before {
  content: "\e62a";
}

.sdoc-description:before {
  content: "\e62b";
}

.sdoc-exclamation-triangle:before {
  content: "\e62c";
}

.sdoc-exclamation-circle:before {
  content: "\e62d";
}

.sdoc-history:before {
  content: "\e618";
}

.sdoc-quote-left:before {
  content: "\e619";
}

.sdoc-menu:before {
  content: "\e61c";
}

.sdoc-share:before {
  content: "\e622";
}

.sdoc-table-of-content:before {
  content: "\e628";
}

.sdoc-user:before {
  content: "\e629";
}

