<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Seacloud</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="keywords" content="File Online Storage Share" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/seacloud.css" />
<link rel="icon" type="image/x-icon" href="{{ MEDIA_URL }}img/favicon.ico?t=1362454620" />
</head>

<body>
<div id="wrapper">
    <div id="header">
        <div class="header-inner">
            <div class="top-bar w100 ovhd">
                <a href="https://seacloud.cc/demo/" class="demo-account fleft" target="_blank">Try It Now</a>
                <a href="https://seacloud.cc/accounts/register/">Signup</a>
                <a href="https://seacloud.cc/accounts/login">Login</a>
            </div>
            <div id="seacloud-intro">
                <img src="{{ MEDIA_URL }}img/demo/group.png" width="600" alt="group screenshot" id="screenshot" />
                <p id="seacloud-slogan">Group Spaces with File Syncing, Discussion, Wiki and Tasks</p>
                <p id="seacloud-feature">A Better Place for Managing Documents Together</p>
                <p id="seacloud-base">Based on the open source file-syncing tool Seafile</p> 
            </div>
        </div>
    </div>

    <div id="main">
        <div class="home">
            <a href="https://seacloud.cc/accounts/register/" class="register">Signup<br /><span>1GB Free Storage</span></a>
            <p class="use"><a href="https://seacloud.cc/group/2/wiki/Terms/">Privacy & Terms</a></p>
        </div>

        <div id="pricing" class="block">
            <table>
            <caption>Pricing Plan</caption>
                <tr>
                    <th></th>
                        <th>Free</th>
                    <th>Small Team</th>
                    <th>Large Team</th>
                </tr>
                <tr>
                        <td>Storage</td>
                    <td>1GB</td>
                    <td>100GB</td>
                    <td>500GB</td>
                </tr>
                <tr>
                        <td>Share Link Traffic</td>
                    <td>5G/month</td>
                    <td>50G/month</td>
                    <td>250G/month</td>
                    </tr>
                <tr>
                        <td>Number of Groups</td>
                    <td>No limit</td>
                    <td>No limit</td>
                    <td>No limit</td>
                </tr>
                <tr>
                        <td>Group Members</td>
                    <td>No limit</td>
                    <td>No limit</td>
                    <td>No limit</td>
                </tr>
                <tr>
                        <td>Pricing</td>
                    <td>--</td>
                    <td>$10/month</td>
                    <td>$50/month</td>
                </tr>
            </table>

            <p style="text-align:center;">
                Hint: Using one account for your organization to create groups/libraries, other members no need to pay.
            </p>

            <p style="text-align:center;">
            Pay via PayPal, contact seafile2012@gmail.com for detail.
            </p>
        </div> <!--END pricing-->
    </div> <!--END main-->

    <div id="footer" class="ovhd">
        <div class="items fleft">
            <div class="item">
                <h4>Seacloud</h4>
                <ul>
                    <li><a href="https://seacloud.cc/group/2/wiki/" target="_blank">Introduction</a></li>
                    <li><a href="https://seacloud.cc/group/2/wiki/">Wiki</a></li>
                    <li><a href="https://seacloud.cc/group/2/wiki/terms/">Privacy & Terms</a></li>
                </ul>
            </div>
            <div class="item">
                <h4>Syncing Client</h4>
                <ul>
                    <li><a href="http://www.seafile.com/en/download/">Client for Windows, Mac and Linux</a></li>
                    <li><a href="http://www.seafile.com/en/download/">Mobile Client</a></li>
                </ul>
            </div>
            <div class="item">
                <h4>Documents</h4>
                <ul>
                    <li><a href="https://seacloud.cc/group/2/wiki/" target="_blank">Help</a></li>
                </ul>
            </div>
        </div>
        <div class="other-info fright">
            <p>© 2013 Seafile Ltd.</p>
            <p><a href="http://seafile.com/en/contact/" target="_blank">Contact Us</a></p>
        </div>

    </div>

</div><!-- wrapper -->
</body>
</html>
