.file-chooser-searcher.search-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 14px;
  right: 48px;
}

.file-chooser-searcher .search-input-container {
  position: relative;
}

.file-chooser-searcher .search-icon-left {
  min-width: 2rem;
}

.file-chooser-searcher .search-input-container .search-input {
  width: 100%;
  height: 1.75rem;
  padding-left: 2rem;
  padding-right: 1.5rem;
}

.file-chooser-searcher .search-input-container .search-control {
  position: absolute;
  top: 2px;
  right: 2px;
}

.file-chooser-search-results-popover .popover {
  min-width: 400px;
  padding: 1rem;
}

.file-chooser-search-results-popover .search-results-popover-body {
  width: 100%;
}

.file-chooser-search-results-popover .search-results-popover-body .search-results-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
