.sf-metadata-cell-operation-btn {
  transition: all 0.020s ease-in;
  background: #fff;
  border-radius: 3px;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
  position: absolute;
  right: 8px;
  top: 6px;
}

.sf-metadata-cell-operation-btn:hover {
  background: #efefef;
}

.sf-metadata-cell-operation-btn .sf-metadata-icon {
  fill: #666;
  font-size: 14px;
}
