{% load i18n %}
// In mobile app, we need to pass the auth token to javascript
//   - "token" is passed from Android app
//   - "setToken" is called by iOS app
var g_token = window.token ? window.token.toString() : null;
function setToken(token) {
    g_token = token;
}
function reqEvents(start) {
    var loading_icon = $('#loading-icon');
    loading_icon.show(); // also at the bottom
    $.ajax({
        url:'{{SITE_ROOT}}api2/html/events/?start=' + start,
        dataType: 'json',
        cache: false,
        headers:{Authorization:'Token '+g_token},
        success: function(data) {
            loading_icon.hide();
            $('#events-body').append(data['html']);

            setCmtWidth();
            $('.event-item').unbind().click(itemClick);

            if (data['events_more']) {
                $('#events').data('more', true).data('start', data['new_start']);
            } else {
                $('#events').data('more', false);
            }
        },
        error: function(jqXHR, textStatus, errorThrown) {
            loading_icon.hide();
            if (!jqXHR.responseText) {
                $('#events-error').html("{% trans "Failed. Please check the network." %}").removeClass('hide');  
            }   
        }
    });
}

function setCmtWidth() {
    $('.updated-repo').each(function() {
        $(this).next().css({'margin-right':$(this).width() + 10});
    });
}

function itemClick() {
    var item = $(this);
    var url = item.data('url');

    // 'delete repo'
    if (!url) {
        return;
    }

    // modified more than 1 file
    if ($('.cmt-desc', item).data('more')) {

        // if 'event-details' already exist
        if ($('.event-details', item).length > 0) {
            $('.event-details', item).toggleClass('hide');
            return;
        }

        $.ajax({
            url: url,
            dataType: 'json',
            cache: false,
            headers:{Authorization:'Token '+g_token},
            success: function(data) {
                $('.txt', item).append(data['html']); 
                $('.event-details li').click(function(e) {
                    if ($('a', $(this)).length > 0) {
                        location.href = $('a', $(this)).attr('href');
                    }
                    e.stopPropagation();
                });
            },
            error: function(jqXHR, textStatus, errorThrown) {
                if (jqXHR.responseText) {
                    $('.txt', item).append('<p class="error">' + $.parseJSON(jqXHR.responseText).err + '</p>'); 
                } else {
                    $('.txt', item).append('<p class="error">' + "{% trans "Please check the network." %}" + '</p>'); 
                }
            }
        });  
    } else {
        location.href = url;
    }
}

setCmtWidth();
$('.event-item').click(itemClick);

{% if events_more %}
    $('#events').data('more', true).data('start', {{events_more_offset}});
{% else %}
    $('#events').data('more', false);
{% endif %}
// get more events when scroll to the bottom
$(document).scroll(function() {
    if ($('#events').data('more') && $('#loading-icon').get(0).style.display == 'none' && $(window).height() + $(window).scrollTop() == $(document).height()) {
        reqEvents($('#events').data('start'));
    }
});
