{% load seahub_tags avatar_tags i18n %}

        <li class="msg w100 ovhd">
        {% avatar msg.from_email 48 %}
        <div class="txt">
            <div class="msg-main">
                <div class="msg-hd w100 ovhd">
                    <span class="author" >{{ msg.from_email|email2nickname }}</a>
                    <span class="time">{{ msg.timestamp|translate_seahub_time }}</span>
                </div>
                <p class="msg-con">{{ msg.message|seahub_urlize|find_at|linebreaksbr }}</p>
                <span class="say"></span>
            </div>  
        </div>  
        </li>
