
{% load seahub_tags avatar_tags i18n %}
{% load url from future %}

{% if person_msgs %}
{% for msg in person_msgs.object_list %}
        <li class="msg w100 ovhd">
        {% avatar msg.from_email 48 %}
        <div class="txt">
            <div class="msg-main">
                <div class="msg-hd w100 ovhd">                    
                    <span class="author" >{{ msg.from_email|email2nickname }}</a>
                    <span class="time">{{ msg.timestamp|translate_seahub_time }}</span>
                </div>
                <p class="msg-con">{{ msg.message|seahub_urlize|find_at|linebreaksbr }}</p>
                {% if msg.attachments %}
                <ul class="msg-attachment">
                    {% for att in msg.attachments %}
                    <li>
                        <img src="{{ MEDIA_URL }}img/file/{{ att.name|file_icon_filter }}" alt="{% trans "File"%}" height="18" class="vam" />
                        <span class="name vam">{{ att.name }}</span>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <span class="say"></span>
            </div>
        </div>
        </li>
{% endfor %}
{% endif %}



