.option-group {
  position: absolute;
  left: 0;
  min-height: 60px;
  max-height: 300px;
  min-width: 100%;
  max-width: 15rem;
  padding: 0.5rem 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: var(--bs-popover-bg);
  border: 1px solid var(--bs-border-color);
  border-radius: 3px;
  z-index: 10001;
}

[data-bs-theme=dark] .option-group {
  box-shadow: none;
}

.option-group .option-group-search {
  width: 100%;
  padding: 6px 10px;
  min-width: 170px;
  position: relative;
  padding: 0;
  height: 32px;
  border-bottom: 1px solid var(--bs-border-color);
}

.option-group .option-group-search .form-control {
  height: 31px;
  border: none;
  padding: .375rem 1rem;
  cursor: pointer;
}

.option-group .option-group-search .form-control:focus {
  outline: none;
  box-shadow: none;
}

.option-group .option-group-search .input-icon-addon {
  z-index: 1;
}

.option-group .option-group-search .input-icon-addon svg {
  color: #999;
  cursor: pointer;
}

.option-group .none-search-result {
  height: 100px;
  width: 100%;
  padding: 10px;
  color: var(--bs-body-secondary-color);
}

.option-group .option-group-content {
  max-height: 252px;
  overflow-y: auto;
  padding: 8px;
}

.option {
  display: block;
  width: 100%;
  line-height: 24px;
  padding: 4px 8px;
  border-radius: 4px;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option.option-active {
  background-color: var(--bs-bg-color);
  cursor: pointer;
}

.option .select-option-name .single-select-option {
  margin: 0 0 0 12px;
}

.option .select-option-name .multiple-select-option {
  margin: 0;
}

.option-group-selector-single-select .select-option-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option-group-selector-single-select .option:hover,
.option-group-selector-single-select .option.option-active,
.option-group-selector-multiple-select .option:hover,
.option-group-selector-multiple-select .option.option-active {
  background-color: #f5f5f5;
}
