.sdoc-thumbnail-container {
  flex: 1;
  display: flex;
}

.sdoc-thumbnail-container .sdoc-editor-container .sdoc-editor-content.no-outline .sdoc-article-container {
  margin-left: auto !important;
}
