.sf-metadata-collaborator-editor {
  width: 300px;
  padding: 0;
  min-height: 160px;
  overflow: hidden;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: 0px 2px 10px 0 #dedede;
  position: absolute;
  left: 0;
}

.sf-metadata-collaborator-editor .sf-metadata-collaborator-editor-container {
  max-height: 200px;
  min-height: 100px;
  padding: 10px 0;
  overflow: auto;
}

.sf-metadata-collaborator-editor .sf-metadata-search-collaborator-options {
  padding: 10px 10px 0 10px;
}

.sf-metadata-collaborator-editor .sf-metadata-search-collaborator-options input {
  max-height: 30px;
  font-size: 14px;
}

.sf-metadata-collaborator-editor .collaborator-item {
  display: flex;
  align-items: center;
  padding: 0;
}

.sf-metadata-collaborator-editor .collaborator-item:last-of-type {
  margin-bottom: 15px;
}

.sf-metadata-collaborator-editor .collaborator-item:hover {
  background: none;
}

.sf-metadata-collaborator-editor .collaborator-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  border-radius: 2px;
  font-size: 13px;
  color: #212529;
  padding-left: 12px;
}

.sf-metadata-collaborator-editor .collaborator-container-highlight {
  background: #f5f5f5;
  cursor: pointer;
}

.sf-metadata-collaborator-editor .sf-metadata-collaborator-editor-container .collaborator {
  height: 20px;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: inherit;
}

.sf-metadata-collaborator-editor .collaborator-avatar {
  width: 16px;
  height: 16px;
  line-height: 16px;
}

.sf-metadata-collaborator-editor .collaborator-name {
  display: inline-block;
  height: 20px;
  line-height: 20px;
}

.sf-metadata-collaborator-editor .collaborator-check-icon {
  width: 20px;
  text-align: center;
  margin-right: 10px;
}

.sf-metadata-collaborator-editor .collaborator-check-icon .seafile-multicolor-icon-check-icon {
  font-size: 12px;
  fill: #666;
}

.sf-metadata-collaborator-editor .none-search-result {
  font-size: 14px;
  opacity: 0.5;
  display: inline-block;
  padding: 0 10px;
}
